<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k_crm" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k_crm" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k_crm" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k_crm" class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>30k CRM</title>
  
  <meta name="description" content="30k CRM">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="css/foundation.css" />
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">-->
  <link rel="stylesheet" href="css/foundation-icons/foundation-icons.css" />
  <link rel="stylesheet" href="js/libs/angular-datepicker/angular-datepicker.css" />
  <link rel="stylesheet" href="css/app.css"/>
  
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  
</head>
<body ng-controller="MainController">

  <div class="page-wrap" id="window-top">

    <div class="sticky">
      <nav class="top-bar" data-topbar>
        
        <ul class="title-area">
          <li class="name">
            <h1><a href="index.html" title="30k | Back to main CRM page">30k</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        
        <section class="top-bar-section">
          <ul class="left">
            <li kk-nav route="customers">
              <a>Customers</a>
            </li>
          </ul>
          
          <ul class="right">
            <li><a title="Logout me" ng-href="{{config.session.logoutUrl}}">Logout <span class="logout-counter" tooltip-placement="left" tooltip="Time left to logout after idle work">{{timeLeftToLogout}}</span></a></li>
          </ul>
        </section>
        
      </nav>
    </div>
    
    <div kk-alerts></div>
  
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  
    <div id="main" ng-view></div>

  </div>

  <footer>
    <div class="footer-wrap">
      <div class="row">
        <div class="columns large-12">
          <p>CRM v.<span kk-version></span></p>
        </div>
      </div>
    </div>
  </footer>
  
  <div kk-loader></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  
  <script src="js/libs/mm-foundation-tpls-0.3.0.min.js"></script>
  <script src="js/libs/angular-datepicker/angular-datepicker.js"></script>
  <script src="js/libs/ng-google-chart.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
