<div class="row collapse">
  <div class="columns medium-3 small-6 stats-block-wrapper">
      <div class="stats-block searches">
          <h6 class="subheader">Searches</h6>
          <h3 class="subheader alert"><strong>92,123</strong></h3>
          <strong>-10.23%</strong>
      </div>
  </div>
  <div class="columns medium-3 small-6 stats-block-wrapper">
      <div class="stats-block revenue">
          <h6 class="subheader">Revenue</h6>
          <h3 class="subheader success"><strong>99,324</strong> $</h3>
          <strong>+14.1%</strong>
      </div>
  </div>
  <div class="columns medium-3 small-6 stats-block-wrapper">
      <div class="stats-block revenue">
          <h6 class="subheader">Revenue per Search</h6>
          <h3 class="subheader alert"><strong>2.63</strong> $</h3>
          <strong>-1.23%</strong>
      </div>
  </div>
  <div class="columns medium-3 small-6 stats-block-wrapper">
      <div class="stats-block conversion">
          <h6 class="subheader">Conversion rate</h6>
          <h3 class="subheader alert"><strong>1.63</strong> %</h3>
          <strong>-1.23%</strong>
      </div>
  </div>
</div>