								<div class="one-way">
									<!-- Top Bar -->
									<div class="panel">
										<div class="row">
											<div class="columns large-6">
												<div class="row collapse">
													<div class="columns small-5">
														<span class="prefix">
															<strong class="price">$4432</strong>
														</span>
													</div>
													<div class="columns small-7">
														<span class="postfix">
															<img src="img/airline_logo0.png" alt="Airline logo" /> China Eastern
														</span>
													</div>
												</div>
											</div>
											<div class="columns large-6">
												<div class="row collapse">
													<div class="columns small-5">
														<span class="prefix">
															<strong class="miles">5453</strong>
															<span class="desc">Miles</span>
														</span>
													</div>
													<div class="columns small-7">
														<form class="custom">
															<select class="change-program">
																<option value="34" data-miles="4344 miles">Delta Skymiles</option>
																<option value="22" data-miles="5435 miles">Miles &amp; More</option>
															</select>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="columns large-6">
												<div class="progress success">
													<span class="meter" style="width:30%" data-increment="50">
														<div class="before"></div>
													</span>
												</div>
												<div class="desc">Flight to Las Vegas&mdash;<strong>23045 miles left</strong></div>
											</div>
											<div class="columns large-6">												
												<div class="progress secondary">
													<span class="meter" style="width:30%" data-increment="50">
														<div class="before"></div>
													</span>
												</div>
												<div class="desc">Silver Status&mdash;<strong>23045 miles left</strong></div>
											</div>
										</div>
										
										<a class="close" href="#">&times;</a>
									</div>
									<!-- END of Top Bar -->
									
									<div class="row">
										<div class="large-6 columns">
											<div class="schedule">
												<time>12:35 <span>pm</span></time>
												<span class="foundicon-right-arrow"></span>
												<time>6:40 <span>pm</span><span class="day">+1</span></time>
											</div>
											<div class="duration desc"><div class="has-tip" data-tooltip title="Shanghai Pudong Airport">PVG</div> <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> <div class="has-tip" data-tooltip title="London Imaginary Airport">LHR</div></div>
											<div class="desc cabin">Economy (L)</div>
										</div>
										<div class="large-6 columns">
											
											<!-- Flight Details -->
											<div class="details-wrapper">
												<div class="desc"><span class="foundicon-idea"></span> Check more details on mouse-over</div>
												<div class="departure details">
													<div class="graph-wrapper">
														<div class="graph-top">
															<span class="graph-fragment" style="width:100%" data-fragment-id="1">
																<div class="graph graph-flight"></div>
															</span>
														</div>
														<div class="graph-bottom"></div>
													</div>
													<div class="graph-info">
														<div class="info-default">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	Shanghai PVG
																</div>
																<div class="columns small-4 small-offset-4">
																	<time>6:40pm</time>
																	London LHR
																</div>
															</div>
														</div>
														<div class="info-fragment" data-fragment-id="1">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	Shanghai PVG
																</div>
																<div class="columns small-4 middle">
																	<div class="inner">
																		<strong>7h46min</strong><br />
																		Flight No: EB45355
																		<div class="wide">
																			Operated by: China Eastern<br />
																			Boeing 747-400
																		</div>
																	</div>
																</div>
																<div class="columns small-4">
																	<time>6:40pm</time>
																	London LHR
																</div>
															</div>
														</div>
													</div>
												</div>												
											</div>
											<!-- END of Flight Details -->
											
										</div>
									</div>
									
									<!-- Cabin Classes -->
									<div class="classes-wrapper">
										<h6 class="subheader">Check other fares &mdash; earn more miles</h6>
									
										<form class="panel custom">										
											<table class="classes">
												<thead>
													<tr><th></th><th>Cabin</th><th>Miles</th><th>Progress</th><th>Features</th></tr>
												</thead>
												<tbody>
													<tr class="separator"><th></th><th colspan="4"><span class="desc">Cheapest class</span></th></tr>
													<tr>
														<td class="radio-col"><input type="radio" name="cabin-class" value="34" checked /> <span class="custom radio price">$3440</span></td>
														<td class="name-col">
															<strong>Coach</strong>
															<div class="desc">Fare code B</div>
														</td>
														<td class="miles-col">
															<strong class="miles">4343</strong>
														</td>
														<td class="progress-col">
															<div class="progress primary caption">
																<span class="goal">Las Vegas</span>
																<span class="meter" style="width:30%">
																	<span class="goal">Las Vegas</span>
																</span>
															</div>
															<div class="progress secondary caption">
																<span class="goal">Silver Status</span>
																<span class="meter" style="width:54%">
																	<span class="goal">Silver Status</span>
																</span>
															</div>
														</td>
														<td class="features-col"></td>
													</tr>
													<tr class="separator"><th></th><th colspan="4"><span class="desc">More expensive classes</span></th></tr>
													<tr>
														<td class="radio-col"><input type="radio" name="cabin-class" value="15" /> <span class="custom price radio">$5445</span></td>
														<td class="name-col">
															<strong>Coach</strong>
															<div class="desc">Fare code B</div>
														</td>
														<td class="miles-col">
															<strong class="miles">6343</strong>
														</td>
														<td class="progress-col">
															<div class="progress primary caption">
																<span class="goal">Las Vegas</span>
																<span class="meter" style="width:40%">
																	<span class="goal">Las Vegas</span>
																</span>
															</div>
															<div class="progress secondary caption">
																<span class="goal">Silver Status</span>
																<span class="meter" style="width:74%">
																	<span class="goal">Silver Status</span>
																</span>
															</div>
														</td>
														<td class="features-col">
															<ul>
																<li><span class="foundicon-refresh"></span> Refundable</li>
																<li><span class="foundicon-smiley"></span> Lounge access</li>
															</ul>
														</td>
													</tr>
													<tr>
														<td class="radio-col"><input type="radio" name="cabin-class" value="26" /> <span class="custom radio price">$6020</span></td>
														<td class="name-col">
															<strong>Business</strong>
															<div class="desc">Fare code Z</div>
														</td>
														<td class="miles-col">
															<strong class="miles">8343</strong>
														</td>
														<td class="progress-col">
															<div class="progress primary caption">
																<span class="goal">Las Vegas</span>
																<span class="meter" style="width:60%">
																	<span class="goal">Las Vegas</span>
																</span>
															</div>
															<div class="progress secondary caption">
																<span class="goal">Silver Status</span>
																<span class="meter" style="width:94%">
																	<span class="goal">Silver Status</span>
																</span>
															</div>
														</td>
														<td class="features-col">
															<ul>
																<li><span class="foundicon-refresh"></span> Refundable</li>
																<li><span class="foundicon-smiley"></span> Lounge access</li>
															</ul>
														</td>
													</tr>
												</tbody>
											</table>
											
											<span class="foundicon-star star-1"></span>
											<span class="foundicon-star star-2"></span>
											<span class="foundicon-star star-3"></span>
											<span class="foundicon-star star-4"></span>
										</form>
									</div>
									<!-- END of Cabin Classes -->
									
									<!-- Buttons -->
									<div class="actions">
										<button href="#" class="button  tiny show-classes">Confirm</button>
										<button href="booking.html" class="button tiny book-ticket primary">Go to booking</button>
									</div>
									<!-- END Buttons -->
								</div>