<h3>Select fallback role</h3>
<p>Select role, that will be used for existing users instead of <strong>{{role.name}}</strong>.</p>
<form name="replaceRoleForm" ng-submit="confirm(replaceRoleForm)">
    <label for="new-role">New role</label>
    <select ng-model="newRole" name="role" ng-options=" r.id as r.name for r in roles " id="new-role" required></select>
    <kk-error field="replaceRoleForm.role">You need to select one existing role</kk-error>
    <button type="submit" class="small alert">Confirm</button> <button type="button" class="small secondary" ng-click="cancel()">Cancel</button>
</form>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>