<div class="twitter-modal" ng-controller="LastStepController">
    
    <div class="row">
        <div class="columns large-10">
            <p class="lead">You can help us taking these benefits to more and more people. Click below to send a tweet to your favorite website telling them about 30K. And share with your friends!</p>
        </div>
    </div>
    
    <div class="icon-bar five-up">
      <a class="item" ng-click="select(airline)" ng-repeat="airline in tip.airlines" ng-mouseover="onMouseOver(airline)" ng-mouseleave="onMouseLeave(airline)" ng-class="{ selected: selected &amp;&amp; airline.id == selected.id }">
        <div class="airline-logo" ng-style="{ backgroundPosition: getAirlineBgPos(airline) }"></div>
      </a>
    </div>
    
    <div ng-if="selected" class="tweet">
        <div class="row">
            <div class="columns large-3 text-center">
                <div id="twPlaceholder" style="display:inline"></div>
            </div>
            <div class="columns large-9">
                <p><strong>@{{selected.id}}</strong> Add frequent flyer miles to your flight results. There’s <strong>{{tip.counter | number : 0}}</strong> frequent flyers like me around the world who can benefit. Check <strong>@30kdotcom</strong> and www.30k.com</p>
            </div>
        </div>
    </div>
    
</div>