<div class="login-modal">
    <div class="row">
        <div class="columns small-8">
            <h5 class="subheader"><strong>{{config.ffpName}}</strong> Login</h5>
        </div>
        <div class="columns small-4 text-right">
            <img class="right" ng-src="{{config.ffpLogo}}" />
        </div>
    </div> 
    <form name="loginForm" novalidate>
        
        <div class="row">
            <div class="columns small-12">
                <label for="login-username">Username</label>
                <input type="text" required ng-model="config.username" id="login-username" name="username" />
                <kk-error field="loginForm.username">Required</kk-error>
                
                <label for="login-pass">Password</label>
                <input type="password" required ng-model="config.password" id="login-pass" name="pass" />  
                <kk-error field="loginForm.pass">Required</kk-error>
            </div>
        </div>
        <div class="row">
            <div class="columns small-5 small-centered">
                <button id="modal-login" class="small expand noevent">Login</button>
            </div>
        </div>
        
    </form>
    
</div>