<div class="award-tooltip">
    <div ng-if="data.awards.flight.success || data.awards.status.success">
        <h6 class="subheader">This flight gets <strong ng-if="data.awards.flight.success &amp;&amp; data.awards.status.success">you to both</strong><strong ng-if="(!data.awards.flight.success &amp;&amp; data.awards.status.success) || (data.awards.flight.success &amp;&amp; !data.awards.status.success)">you only to</strong>:</h6>
        <ul class="no-bullet">
            <li ng-if="data.awards.status.success"><span><i class="fi-crown"></i></span> {{data.awards.status.name}} &mdash; {{data.awards.status.threshold | number : 0}} status miles threshold,</li>
            <li ng-if="!data.awards.status.success"><span class="empty"></span> Not enough for {{data.awards.status.threshold | number : 0}} {{data.awards.status.name}} threshold,</li>
            <li ng-if="data.awards.flight.success"><span><i class="fi-trophy"></i></span> {{data.awards.flight.name}} &mdash; {{data.awards.flight.threshold | number : 0}} award miles threshold.</li>
            <li ng-if="!data.awards.flight.success"><span class="empty"></span> Not enough for {{data.awards.flight.threshold | number : 0}} award miles threshold for {{data.awards.flight.name}}.</li>
        </ul>
    </div>
    <div ng-if="!data.awards.flight.success &amp;&amp; !data.awards.status.success">
        <h6 class="subheader">This flight does not give you any awards</h6>
    </div>
</div>