<div class="tour-overlay animate" ng-show="overlay"></div>

<div class="tour-step" ng-class="getClass(tip)" ng-style="tip.style" ng-repeat="tip in steps" ng-attr-id="tour-step-{{tip.id}}">
    
    <div ng-show="tip.attachTo">
        
        <div class="row collapse">
            <div class="columns small-9">
                <h5 ng-if="tip.title">{{tip.title}}</h5>
            </div>
            <div class="columns small-3">
                <div class="progress">
                    <span class="meter" ng-style="{ width: ($index / steps.length) * 100 + '%' }"></span>
                    <span class="pct">{{getPct($index)}}</span>
                </div>
            </div>
        </div>
    
        <img ng-if="tip.img" ng-src="{{tip.img}}" />
        
        <p ng-if="tip.body">{{tip.body}}</p>
        
        <div ng-if="tip.templateUrl" ng-include="tip.templateUrl"></div>
        
        <button ng-click="prev()" class="tiny radius secondary" ng-if="!$first &amp;&amp; tip.prevButton !== false">
            <span ng-if="tip.prevButton">{{tip.prevButton}}</span>
            <span ng-if="!tip.prevButton">Previous</span>
        </button>
        
        <button ng-click="next()" class="tiny radius success" ng-if=" tip.action == 'button' &amp;&amp; tip.nextButton !== false ">
            <span ng-if="tip.nextButton">{{tip.nextButton}}</span> 
            <span ng-if="!tip.nextButton &amp;&amp; $last">Finish</span> 
            <span ng-if="!tip.nextButton &amp;&amp; !$last">Next</span> 
            &rsaquo;
        </button>
        
        <span class="tip" ng-class="{ 'tip-top' : tip.position == 'top', 'tip-bottom' : tip.position == 'bottom', 'tip-left' : tip.position == 'left', 'tip-right' : tip.position == 'right' }"></span>
    </div>
    <div ng-show="!tip.attachTo" class="row">
        <div class="columns large-10">
            
            <h3 ng-if="tip.title">{{tip.title}}</h3>
            
            <img ng-if="tip.img" ng-src="{{tip.img}}" />
            
            <p ng-if="tip.body">{{tip.body}}</p>
            
            <div ng-if="tip.templateUrl" ng-include="tip.templateUrl"></div>
            
            <button ng-click="prev()" class="small radius secondary" ng-if="!$first &amp;&amp; tip.prevButton !== false">
                <span ng-if="tip.prevButton">{{tip.prevButton}}</span>
                <span ng-if="!tip.prevButton">Previous</span>
            </button>
            
            <button ng-click="next()" class="small radius success" ng-if=" tip.action == 'button' &amp;&amp; tip.nextButton !== false ">
                <span ng-if="tip.nextButton">{{tip.nextButton}}</span> 
                <span ng-if="!tip.nextButton &amp;&amp; $last">Finish</span> 
                <span ng-if="!tip.nextButton &amp;&amp; !$last">Next</span> 
                &rsaquo;
            </button>
            
        </div>
        <div class="columns large-1 text-right">
            <div class="progress">
                <span class="meter" ng-style="{ width: ($index / steps.length) * 100 + '%' }"></span>
                <span class="pct">{{getPct($index)}}</span>
            </div>
        </div>
    </div>
</div>

<a class="tour-optional animate" ng-class="{ selected: opt.selected }" ng-show="opt.show &amp;&amp; opt.bubble" ng-repeat="opt in steps" ng-attr-id="tour-optional-{{$index}}" ng-style="opt.style" ng-click="next()">
    &nbsp;
</a>