<div class="tour-step" ng-show="show" ng-class="{ modal: !attachTo }">
    <div ng-show="attachTo">
        
    </div>
    <div ng-show="!attachTo" class="row">
        <div class="columns large-12">
            <h3 ng-if="title">{{title}}</h3>
            <p ng-if="body">{{body}}</p>
        </div>
    </div>
</div>