<div class="row">
    <div class="columns large-12">
        <h3 class="subheader">Show them you want to know your miles</h3>
        <p>Select your favourite travel website and tweet.</p>
        
        <div class="icon-bar five-up">
          <a class="item" ng-click="select(airline)" ng-repeat="airline in airlines" ng-mouseover="onMouseOver(airline)" ng-mouseleave="onMouseLeave(airline)" ng-class="{ selected: selected &amp;&amp; airline.id == selected.id }">
            <div class="airline-logo" ng-style="{ backgroundPosition: getAirlineBgPos(airline) }"></div>
          </a>
        </div>
    </div>
</div>

<div ng-show="selected" class="row twitter-block">
    <div class="columns large-3">
        <button class="radius small success expand" ng-click="tweet(selected)">Tweet to @{{selected.id}}</button>
    </div>
    <div class="columns large-9">
        <p><strong>@{{selected.id}}</strong> You should add this feature: <strong>@30kdotcom</strong> add-on let's you see how many miles each flight earns! Check www.30k.com</p>
    </div>
</div>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>