<div class="panel primary">
    <h5>Become a super frequent flyer for $20 a year. <br />Cancel anytime.</h5>
</div>
<div class="panel">
    <h5>We like to put things in perspective</h5>
    <p>You need to earn 1,000 more miles a year with the help of our tool to make it worth $20. Easy peasy.</p>
    <button ng-click="install()" class="round expand">Buy now</button>
    <p>Special pricing for companies (more than 10 people). Please <a href="https://b2c.30k.com/contact-us/" title="Contact us">get in touch</a>.</p>
</div>
<a class="close-reveal-modal" aria-label="Close" ng-click="close()" style="color:#fff;">&#215;</a>