<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.ma" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.ma" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.ma" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.ma" class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>30k Management Area</title>
  
  <meta name="description" content="30k Management Area">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="libs/foundation/css/foundation.css" />
  <link rel="stylesheet" href="libs/foundation-icons/foundation-icons.css" />
  <link rel="stylesheet" href="libs/angular-datepicker/angular-datepicker.css" />
  
  <link rel="stylesheet" href="components/loader/loader.css"/>
  <link rel="stylesheet" href="components/error/error.css"/>
  
  <link rel="stylesheet" href="account/account.css"/>
  
  <link rel="stylesheet" href="app/app.css"/>
  
  <script src="libs/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  
</head>
<body ng-controller="MainController">

  <div class="page-wrap" id="window-top">

    <top-bar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="index.html" title="30k | Back to main Management Area page">30k</a></h1>
        </li>
        <li toggle-top-bar class="menu-icon"><a><span>Menu</span></a></li>
      </ul>
      
      <top-bar-section>
        <ul class="left">
          <li kk-nav route="roles">
            <a>Roles</a>
          </li>
          <li kk-nav route="users">
            <a>Users</a>
          </li>
          <li kk-nav route="account">
            <a>My Account</a>
          </li>
        </ul>
        
        <ul class="right">
          <li><a>Logout</a></li>
        </ul>
      </top-bar-section>
    </top-bar>
    
    <div kk-alerts></div>
  
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  
    <div id="main" ng-view></div>

  </div>

  <footer>
    <div class="footer-wrap">
      <div class="row">
        <div class="columns large-12">
          <p>&copy; 2013&ndash;{{getCurrentYear()}} 30k Inc.</p>
        </div>
      </div>
    </div>
  </footer>
  
  <div kk-loader></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="libs/jquery-2.1.1.min.js"></script>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular-route/angular-route.js"></script>
  <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
  
  <script src="libs/mm-foundation-tpls-0.4.0.min.js"></script>
  <script src="libs/angular-datepicker/angular-datepicker.js"></script>
  <script src="libs/checklist-model.js"></script>
  
  <script src="components/routes/routes.js"></script>
  <script src="components/loader/loader.js"></script>
  <script src="components/alerts/alerts.js"></script>
  <script src="components/error/error.js"></script>
  <script src="components/filters/filters.js"></script>
  <script src="components/service/service.js"></script>
  <script src="components/user-service/user-service.js"></script>
  <script src="components/role-service/role-service.js"></script>
  
  <script src="account/main/main.js"></script>
  <script src="user/collection/collection.js"></script>
  <script src="user/edit/edit.js"></script>
  <script src="access/roles/roles.js"></script>
  
  <script src="app/app.js"></script>
  <script src="app/main.js"></script>
  
</body>
</html>
