<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.ma.user" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.ma.user" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.ma.user" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.ma.user" class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>Users | 30k Management Area</title>
  
  <meta name="description" content="Users | 30k Management Area">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="libs/foundation/css/foundation.css" />
  <link rel="stylesheet" href="libs/foundation-icons/foundation-icons.css" />
  <link rel="stylesheet" href="libs/angular-perfect-scroll/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
  
  <link rel="stylesheet" href="components/admin-review/admin-review.css" />
  <link rel="stylesheet" href="components/tooltip/tooltip.css" />
  <link rel="stylesheet" href="components/loader/loader.css"/>
  <link rel="stylesheet" href="components/error/error.css"/>
  
  <link rel="stylesheet" href="common/common.css"/>
  
  <script src="libs/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  
  <!-- Cached partials -->

    <script type="text/ng-template" id="user/delete-user-modal.html">
        
        <h3>Delete user account?</h3>
        <p>Are you sure you want to delete <strong>{{user.name}}'s</strong> user account? This action can not be reversed.</p>
        <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
        
        <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
        
    </script>
    
    <!-- /END/ Cached partials -->
  
</head>
<body ng-controller="MainController">

  <div class="page-wrap" id="window-top">

    <top-bar id="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="index.html" title="30k | Back to main Management Area page">30k</a></h1>
        </li>
        <li toggle-top-bar class="menu-icon"><a><span>Menu</span></a></li>
      </ul>
      
      <top-bar-section>
        <ul class="left">
          <li has-dropdown>
            <a href="ffp-cms.html" title="Manage Frequent Flyer Programs">CMS</a>
            <ul top-bar-dropdown>
              <li><a href="ffp-cms.html#/ffps" title="Manage Frequent Flyer Programs">Show FFPs</a></li>
              <li><a href="ffp-cms.html#/ffps/new" title="Add new Frequent Flyer Program"><i class="fi-plus"></i> New</a></li>
            </ul>
          </li>
          <li has-dropdown>
            <a href="test.html" title="Manage tests">Testing</a>
            <ul top-bar-dropdown>
              <li><a href="test.html#/tests" title="Show all earning rule tests">Earning</a></li>
              <li><a href="test.html#/redemption-tests" title="Show all redemption rule tests">Redemption</a></li>
              <li><a href="test.html#/benefit-tests" title="Show all benefit rule tests">Benefit</a></li>
              <li><a href="test.html#/fare-attribute-tests" title="Show all fare attribute rule tests">Fare attribute</a></li>
            </ul>
          </li>
          <li>
            <a href="wallet.html" title="Manage FFP Wallet">Wallet</a>
          </li>
          <li has-dropdown>
            <a href="crm.html" title="Manage customers">CRM</a>
            <ul top-bar-dropdown>
                <li><a href="crm.html#/customers" title="Manage customers">Show customers</a></li>
                <li><a href="crm.html#/customers/new" title="Add new customer"><i class="fi-plus"></i> New</a></li>
            </ul>
          </li>
          <li has-dropdown>
            <a href="static-data.html" title="Manage static data eg. airlines">Static Data</a>
            <ul top-bar-dropdown>
                <li><a href="static-data.html#/airlines">Airlines</a></li>
                <li><a href="static-data.html#/alliances">Alliances</a></li>
                <li><a href="static-data.html#/airports">Airports</a></li>
                <li><a href="static-data.html#/countries">Countries</a></li>
                <li><a href="static-data.html#/zones">Zones</a></li>
                <li><a href="static-data.html#/continents">Continents</a></li>
                <li><a href="static-data.html#/flight-numbers">Flights</a></li>
                <li><a href="static-data.html#/benefits">Passenger benefits</a></li>
            </ul>
          </li>
          <li>
            <a title="Access online tools" href="online-tool.html#/online-tools">Online Tools</a>
          </li>
          <li has-dropdown>
            <a href="tool.html" title="Manage tools">Tools</a>
            <ul top-bar-dropdown>
              <li><a href="tool.html" title="Manage tools">Show All</a></li>
              <li><a href="tool.html#/tools/new"><i class="fi-plus"></i> New</a></li>
            </ul>
          </li>
          <li has-dropdown>
            <a href="accuracy.html" title="API Accuracy Tool">Accuracy</a>
            <ul top-bar-dropdown>
              <li><a href="accuracy.html" title="List of scrapers">Scrapers</a></li>
              <li><a href="accuracy.html#/validators" title="Show rules validators">Rules validation</a></li>
            </ul>
          </li>
          <li has-dropdown>
            <a href="access.html" title="Change access permissions">Roles</a>
            <ul top-bar-dropdown>
              <li><a href="access.html" title="Change access permissions">Show All</a></li>
              <li><a href="access.html#/roles/new" title="Create new role"><i class="fi-plus"></i> New</a></a></li>
            </ul>
          </li>
          <li kk-nav route="users" has-dropdown>
            <a title="Manage users">Users</a>
            <ul top-bar-dropdown>
                <li kk-nav route="users"><a>Show All</a></li>
                <li kk-nav route="newUser"><a><i class="fi-plus"></i> New</a></li>
            </ul>
          </li>
          <li>
            <a href="account.html" title="Change creditentials and other settings">My Account</a>
          </li>
        </ul>
        
        <ul class="right">
          <li has-dropdown class="env">
            <a ng-href="{{currentEnv.url}}">
              <small>Environment</small>
              <span>{{currentEnv.name}}</span>
            </a>
            <ul top-bar-dropdown>
              <li ng-repeat="env in config.envs">
                <a ng-href="{{env.url}}">{{env.name}}</a>
              </li>
            </ul>
          </li>
          <li><a title="Logout me" ng-href="{{config.session.logoutUrl}}">Logout <span class="logout-counter" tooltip-placement="left" tooltip="Time left to logout after idle work">{{timeLeftToLogout}}</span></a></li>
        </ul>
      </top-bar-section>
    </top-bar>
    
    <div id="welcome-bar">
      <div class="row">
        <div class="columns large-12 text-right">
          Welcome, {{config.user.name}}!
          <!-- Remove condition ng-if="isAdminLoggedIn()" in production env. -->
          <div kk-admin-review-notif items-per-page="6" ng-if="isAdminLoggedIn()"></div> 
        </div>
      </div>
    </div>
    
    <div kk-alerts></div>
  
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  
    <div id="main" ng-view></div>

  </div>

  <footer>
    <div class="footer-wrap">
      <div class="row">
        <div class="columns large-12">
          <p>&copy; 2013&ndash;{{getCurrentYear()}} 30k Inc.</p>
        </div>
      </div>
    </div>
  </footer>
  
  <div kk-loader></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="libs/jquery-2.1.1.min.js"></script>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular-route/angular-route.js"></script>
  <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="libs/checklist-model.js"></script>
  <script src="libs/mm-foundation-tpls-0.4.0.min.js"></script>
  <script src="libs/angular-perfect-scroll/perfect-scrollbar/dist/js/min/perfect-scrollbar.jquery.min.js"></script>
  <script src="libs/angular-perfect-scroll/angular-perfect-scrollbar.js"></script>
  
  <script src="components/admin-review/admin-review.js"></script>
  <script src="components/routes/routes.js"></script>
  <script src="components/loader/loader.js"></script>
  <script src="components/alerts/alerts.js"></script>
  <script src="components/tooltip/tooltip.js"></script>
  <script src="components/error/error.js"></script>
  <script src="components/filters/filters.js"></script>
  <script src="components/service/service.js"></script>
  <script src="components/user-service/user-service.js"></script>
  <script src="components/role-service/role-service.js"></script>
  
  <script src="common/common.js"></script>
  
  <script src="user/user.js"></script>
  <script src="user/collection/collection.js"></script>
  <script src="user/edit/edit.js"></script>
  
</body>
</html>
