
<section id="role-collection">
    
    <div class="row">
        <div class="columns large-12">
            <h1>Roles</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li class="current" kk-nav route="roles">
                    <a>Roles</a>
                </li>
            </ul>
            <div ng-if="roles &amp;&amp; tools">
                <div ng-if="roles.length > 0">
                    
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" kk-nav route="newRole"><i class="fi-plus"></i> Add new</a></li>
                        </ul>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">No</th>
                                <th class="text-left">Name</th>
                                <th class="text-left">Description</th>
                                <th class="text-left">Granted access</th>
                                <th>Active</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" role in roles | orderBy : 'name' ">
                                <td class="text-left">{{ $index + 1 }}</td>
                                <th class="text-left">{{ role.name }}</th>
                                <td class="text-left">{{ role.description }}</td>
                                <td class="text-left">
                                    <span ng-if="getSingleToolsDescription(role)">{{ getSingleToolsDescription(role) }}</span>
                                    <span ng-if="!getSingleToolsDescription(role)">
                                        <span class="label secondary radius" ng-repeat="tool in role.tools">{{ getToolName(tool) }} <i ng-if="canView(tool) || canEdit(tool) || canDelete(tool)" ng-class=" { 'fi-eye': canView(tool) && !canEdit(tool) && !canDelete(tool), 'fi-pencil': canEdit(tool) && !canDelete(tool), 'fi-trash': canDelete(tool) } "></i> <i ng-if="canOther(tool)" class="fi-star"></i></span>
                                    </span>
                                </td>
                                <td><i ng-class="{ 'fi-check': role.active, 'fi-x': !role.active }"></i></td>
                                <td class="action"><a title="Edit" kk-nav route="editRole" ng-attr-param-id="{{role.id}}"><i class="fi-pencil"></i></a></td>
                                <td class="action alert"><a title="Delete" ng-click="promptDeleteRole(role)"><i class="fi-x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div ng-if="roles.length <= 0">
                    <p>There are no defined roles. Create a <a kk-nav route="newRole">first one</a></p>
                </div>
            </div>
        </div>
    </div>
    
</section>