<section id="fare-attribute-edit">
    
    <div class="row">
        <div class="columns large-2">
            <ul class="side-nav">
                <li kk-nav="airlines"><a>Airlines</a></li>
                <li kk-nav="alliances"><a>Alliances</a></li>
                <li kk-nav="airports"><a>Airports</a></li>
                <li kk-nav="countries"><a>Countries</a></li>
                <li kk-nav="zones"><a>Zones</a></li>
                <li kk-nav="continents"><a>Continents</a></li>
                <li kk-nav="flights"><a>Flight numbers</a></li>
                <li kk-nav="benefits"><a>Passenger benefits</a></li>
                <li kk-nav="fareAttributes"><a>Fare attributes</a></li>
                <li kk-nav="atpco"><a>ATPCO codes</a></li>
                <li kk-nav="atpcoGroups"><a>ATPCO groups</a></li>
                <li kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></li>
                <li kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></li>
                <li kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></li>
            </ul>
        </div>
        <div class="columns large-10">
            <hgroup ng-if="!isNew">
                <h1>Fare attribute</h1>
                <h4 class="subheader">{{ item.name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New fare attribute</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li kk-nav route="fareAttributes">
                    <a>Fare attributes</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editFareAttribute" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newFareAttribute">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate ng-if="item">
            
                <div class="row">
                    <div class="columns large-3">
                        <ul class="button-group round even-2">
                            <li><button type="button" class="button tiny" ng-class="{ secondary: !item.active, success: item.active } " ng-model="item.active" btn-radio="true">Active</button></li>
                            <li><button type="button" class="button tiny" ng-class="{ secondary: item.active, alert: !item.active } " ng-model="item.active" btn-radio="false">Inactive</button></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-6">
                        
                        <fieldset>
                            <legend>Basic</legend>
                            
                            <label for="item-code">Code <small>Required</small></label>
                            <input type="text" ng-model="item.code" id="item-code" name="code" required maxlength="6" class="uppercase" />
                            <kk-error field="itemForm.code">This field is required</kk-error>
                            
                            <label for="item-name">Name <small>Required</small></label>
                            <input type="text" ng-model="item.name" id="item-name" name="itemname" required />
                            <kk-error field="itemForm.itemname">This field is required</kk-error>
                            
                            <label for="item-description">Description</label>
                            <textarea type="text" ng-model="item.description" id="item-description" name="desc"></textarea>
                            
                        </fieldset>
                        
                        <fieldset>
                            <legend>ATPCO</legend>
                            
                            <label for="fa-group">Group</label>
                            <select id="fa-group" name="fgroup" ng-model="item.atpcoGroup" ng-options="group.code as group.name for group in config.atpcoGroups" required ng-change="item.atpcoSubgroups.splice(0, item.atpcoSubgroups.length)"></select>
                            <kk-error field="itemForm.fgroup">This field is required</kk-error>
                            
                            <div>
                                <label for="fa-subgroup">Subgroups</label>
                                
                                <ul class="no-bullet">
                                    <li>
                                        <input type="checkbox" checklist-model="item.atpcoSubgroups" checklist-value="config.atpcoBlankSubgroup.code" id="ag-blank" name="subgroups" />
                                        <label for="ag-blank">{{config.atpcoBlankSubgroup.name}}</label>
                                    </li>
                                    <li ng-repeat="sg in (config.atpcoSubgroups | filter : { group: item.atpcoGroup })">
                                        <input type="checkbox" checklist-model="item.atpcoSubgroups" checklist-value="sg.code" ng-attr-id="ag-{{$index}}" name="subgroups" /> 
                                        <label ng-attr-for="ag-{{$index}}">{{sg.name}}</label>
                                    </li>
                                </ul>
                            
                            </div>
                            
                        </fieldset>
                        
                    </div>
                    <div class="columns large-6">
                        
                        <fieldset>
                            <legend>Alliances</legend>
                            
                            <dl class="sub-nav">
                                <dt>Select: </dt>
                                <dd ng-class=" { active: config.alliances.length == item.alliances.length } "><a ng-click="selectAllAlliances()">All</a></dd>
                                <dd ng-class=" { active: item.alliances.length <= 0 } "><a ng-click="deselectAlliances()">None</a></dd>
                            </dl>
                            
                            <ul class="no-bullet">
                                <li ng-repeat=" al in config.alliances | orderBy : 'name' ">
                                    <input ng-attr-id="al-{{al.id}}" type="checkbox" checklist-model="item.alliances" checklist-value="al.id" /> <label ng-attr-for="al-{{al.id}}">{{al.name}}</label>
                                </li>
                            </ul>
                            
                        </fieldset>
                        
                        <fieldset>
                            <legend>Airlines</legend>
                            
                            <kk-tag-input pattern="airlineCodePattern" maxlength="2" collection="item.airlines" uppercase="true" validation-url="fare-attribute/validate-airline-code.json"></kk-tag-input>
                            
                        </fieldset>
                        
                        <div class="alert-box radius info" ng-show="!isValid()">
                            At least one alliance or airline is required.
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        <button ng-if="isNew" ng-click="submitAndStay(itemForm)" type="button" ng-class=" { success: itemForm.$valid && isValid(), secondary: !itemForm.$valid || !isValid() } "><i class="fi-plus"></i> Save and add another</button>
                        <button type="submit" ng-class=" { success: itemForm.$valid && isValid(), secondary: !itemForm.$valid || !isValid() } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="fareAttributes" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteItem(item)">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section> 