<section id="airport-collection">
    
    <div class="row">
        <div class="columns large-2">
            <ul class="side-nav">
                <li kk-nav="airlines"><a>Airlines</a></li>
                <li kk-nav="alliances"><a>Alliances</a></li>
                <li kk-nav="airports"><a>Airports</a></li>
                <li kk-nav="countries"><a>Countries</a></li>
                <li kk-nav="zones"><a>Zones</a></li>
                <li kk-nav="continents"><a>Continents</a></li>
                <li kk-nav="flights"><a>Flight numbers</a></li>
                <li kk-nav="benefits"><a>Passenger benefits</a></li>
                <li kk-nav="fareAttributes"><a>Fare attributes</a></li>
                <li kk-nav="atpco"><a>ATPCO codes</a></li>
                <li kk-nav="atpcoGroups"><a>ATPCO groups</a></li>
                <li kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></li>
                <li kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></li>
                <li kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></li>
            </ul>
        </div>
        <div class="columns large-10">
            <h1>Airports</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li class="current" kk-nav route="airports">
                    <a>Airports</a>
                </li>
            </ul>
        
            <form class="filters" name="filterForm" novalidate ng-submit="submitFilters(filterForm)" ng-if="countries &amp;&amp; continents">
                
                <fieldset ng-class="{ collapsed: !filtersExpanded }">
                    
                    <legend>
                        <a ng-click="toggleFilters()"><i ng-class="{ 'fi-minus': filtersExpanded, 'fi-plus': !filtersExpanded }"></i> Filters</a> 
                        <span ng-if="!areFiltersEmpty()" class="label radius secondary"><i class="fi-check"></i></span>
                    </legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns small-3">
                                <label for="filter-search">Airport</label>
                                <input type="text" id="filter-search" placeholder="Name or code" name="search" ng-model="filters.search" />
                            </div>
                            <div class="columns small-3">
                                <label for="filter-city">City</label>
                                <input type="text" id="filter-city" placeholder="Name or code" name="city" ng-model="filters.city" />
                            </div>
                            <div class="columns small-3">
                                <label>Country</label>
                                <button type="button" class="tiny expand radius" dropdown-toggle="#dropdown-countries" ng-class="{ secondary: filters.countries.length <= 0 }">
                                    <span ng-if="filters.countries.length <= 0">Select</span>
                                    <span ng-if="filters.countries.length == 1">{{ (countries | find : filters.countries[0]).name }}</span>
                                    <span ng-if="filters.countries.length > 1">{{ filters.countries.length }} selected</span>
                                </button>
                            </div>
                            <div class="columns small-3">
                                <label>Continent</label>
                                <button type="button" class="tiny expand radius" dropdown-toggle="#dropdown-continents" ng-class="{ secondary: filters.continents.length <= 0 }">
                                    <span ng-if="filters.continents.length <= 0">Select</span>
                                    <span ng-if="filters.continents.length == 1">{{ (continents | find : filters.continents[0]).name }}</span>
                                    <span ng-if="filters.continents.length > 1">{{ filters.continents.length }} selected</span>
                                </button>
                            </div>
                        </div>
                        
                        <button type="submit" class="tiny" ng-class="{ success: filterForm.$valid, secondary: filterForm.$valid }"><i class="fi-check"></i> Apply</button>
                        <button type="button" class="tiny secondary" ng-if="!areFiltersEmpty()" ng-click="resetFilter()">Reset</button>
                        
                    </div>
                    
                </fieldset>
                
            </form>
        
            <div ng-if="items &amp;&amp; continents">
                <div ng-if="items.length > 0">
                    
                    <div class="row">
                        <div class="columns large-12">
                            <div class="button-bar">
                                <ul class="button-group">
                                    <li><a class="tiny button" kk-nav route="newAirport"><i class="fi-plus"></i> Add new</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">No</th>
                                <th class="text-left">Code</th>
                                <th class="text-left">Name</th>
                                <th class="text-left">City</th>
                                <th class="text-left">City Code</th>
                                <th>Country</th>
                                <th class="text-left">Continent</th>
                                <th class="text-left">Latitude</th>
                                <th class="text-left">Longitude</th>
                                <th class="text-left">Parent</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" item in items ">
                                <td class="text-left">{{ $index + 1 }}</td>
                                <td class="text-left">{{ item.code }}</td>
                                <th class="text-left">{{ item.name }}</th>
                                <td class="text-left">{{ item.city.name }}</td>
                                <td class="text-left">{{ item.city.code }}</td>
                                <td>{{ item.country.code }}</td>
                                <td class="text-left">{{ (continents | find : item.continent).name }}</td>
                                <td class="text-left">{{ item.pos.lat }}</td>
                                <td class="text-left">{{ item.pos.long }}</td>
                                <td class="text-left"><a kk-nav="editAirportByCode" ng-attr-param-code="{{item.parent}}">{{ item.parent }}</a></td>
                                <td class="action"><a title="Edit" kk-nav route="editAirport" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                <td class="action alert"><a title="Delete" ng-click="deleteAirport(item)"><i class="fi-x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="pagination-centered">
                        <pagination total-items="totalItems" page="params.page" items-per-page="params.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)" class="pagination-sm"></pagination>
                    </div>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no airports. Create <a kk-nav route="newAirline">first one</a>.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="dropdown-countries" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="countries" selected="filters.countries" cols="3" id="filters-countries" property="id" label="name"></div>
    </div>
    
    <div id="dropdown-continents" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="continents" selected="filters.continents" cols="1" id="filters-continents" property="id" label="name"></div>
    </div>
    
</section>