<section id="wallet">
    
    <div class="row">
        <div class="columns large-12">
            <h1>FFP Wallet</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li class="current" kk-nav route="wallet">
                    <a>FFP Wallet</a>
                </li>
            </ul>
            
            <form name="ffpForm" novalidate ng-submit="submit(ffpForm)">
                
                <div class="row">
                    <div class="columns large-4">
                        <label for="wallet-ffp">Program</label>
                    </div>
                    <div class="columns large-2">
                        <label for="wallet-login">Username</label>
                    </div>
                    <div class="columns large-2 end">
                        <label for="wallet-pass">Password</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-4">
                        <select id="wallet-ffp" name="ffpId" ng-model="item.ffpId" ng-options="ffp.id as ffp.name for ffp in selectable" required>
                            <option value="">Select program</option>
                        </select>
                        <kk-error field="ffpForm.ffpId">Required</kk-error>
                    </div>
                    <div class="columns large-2">
                        <input id="wallet-login" type="text" name="ffpUser" ng-model="item.username" required />
                        <kk-error field="ffpForm.ffpUser">Required</kk-error>
                    </div>
                    <div class="columns large-2">
                        <input id="wallet-pass" type="password" name="ffpPass" ng-model="item.password" required />
                        <kk-error field="ffpForm.ffpPass">Required</kk-error>
                    </div>
                    <div class="columns large-2 end">
                        <button type="submit" class="tiny expand" ng-class="{ secondary: !ffpForm.$valid, success: ffpForm.$valid }"><i class="fi-plus"></i> Add program</button>
                    </div>
                </div>
                
            </form>
            
            <div ng-repeat="item in items">
                
                <hr />
                
                <div class="row">
                    <div class="columns large-6">
                        <h4><a class="title" ng-click="toggle(item)" title="Expand"><i ng-class="{ 'fi-plus': !item.expanded, 'fi-minus': item.expanded }"></i> {{item.name}}</a> <span class="right"><a class="action" ng-click="refresh(item)" title="Refresh program"><i class="fi-refresh"></i></a> <a class="action" ng-click="remove(item)" title="Remove program"><i class="fi-x alert"></i></a></span></h4>
                    </div>
                </div>
                
                <div class="row" ng-show="item.expanded">
                    <div class="columns large-6">
                        
                        <table ng-if="item.vars.length > 0">
                            <thead>
                                <tr>
                                    <th class="text-left">Variable</th>
                                    <th class="text-left">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vr in item.vars">
                                    <th class="text-left">{{vr.name}}</th>
                                    <td class="text-left">{{vr.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <p class="etc" ng-if="item.vars.length <= 0">There are no variables</p>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
</section>