<section id="ffp-fare-attribute-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Fare attribute rule</h1>
                <h4 class="subheader">#{{ item.code }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New fare attribute rule</h1>
        
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li kk-nav route="fareAttributeRules" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Fare attribute rules</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editBenefitRule" ng-attr-param-ffpid="{{ ffp.id }}" ng-attr-param-id="{{ item.id }}">
                    <a>{{ item.code }}</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newBenefitRule" ng-attr-param-ffpid="{{ ffp.id }}">
                    <a>New</a>
                </li>
            </ul>
            
            <div class="alert-box warning radius" ng-if="applyToAll()">
                <i class="fi-checkbox"></i> You are in apply-to-all mode. Any change will affect <strong>all selected rules</strong>.
            </div>
            
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate ng-if="item &amp;&amp; config">
                
                <pager ng-if="paged" total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page, itemForm)"></pager>
                
                <div class="button-bar">
                    <ul class="button-group" ng-if="!applyToAll()">
                        <li><button type="submit" class="tiny" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button></li>
                        <li><a ng-click="backToCollection()" class="secondary tiny button">Cancel</a></li>
                    </ul>
                    <ul class="button-group" ng-if="applyToAll()">
                        <button type="submit" class="tiny" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Apply</button>
                    </ul>
                </div>
                
                <fieldset class="ffp-summary">
                    <legend>Program summary</legend>
                    
                    <dl class="inline">
                        <dt>Name</dt>
                        <dd><a kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">{{ ffp.name }}</a></dd>
                        <dt>Code</dt>
                        <dd>{{ ffp.code }}</dd>
                    </dl>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Basic</legend>
                    
                    <div class="row">
                        <div class="columns large-1 large-offset-3">
                            <label for="rule-code">ID <small>Required</small></label>
                        </div>
                        <div class="columns large-2">
                            <label for="airline-code" class="nowrap">Airline <small>Req.</small></label>
                        </div>
                        <div class="columns large-3">
                            <label for="rule-fare-attr">
                                <i class="fi-alert" ng-if="!(config.fareAttributes | find : item.fareAttribute : 'code').active" kk-tooltip="Selected fare attribute type is inactive"></i>
                                Fare attribute <small>Required</small>
                            </label>
                        </div>
                        <div class="columns large-3">
                            <label for="rule-name">Name <small>Required</small></label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="columns large-3">
                            <ul class="button-group round even-2">
                                <li><button type="button" class="button tiny" ng-class="{ secondary: !item.active, success: item.active } " ng-model="item.active" btn-radio="true" ng-change="applyToAllSync('active')">Active</button></li>
                                <li><button type="button" class="button tiny" ng-class="{ secondary: item.active, alert: !item.active } " ng-model="item.active" btn-radio="false" ng-change="applyToAllSync('active')">Inactive</button></li>
                            </ul>
                        </div>
                        <div class="columns large-1">
                            <input type="text" ng-disabled="isNew || applyToAll()" name="ruleCode" id="rule-code" ng-model="item.code" class="uppercase" ng-pattern="ruleCodePattern" />
                            <kk-error field="itemForm.ruleCode">Only digits</kk-error>
                        </div>
                        <div class="columns large-2">
                            <input type="text" name="ruleAirlineCode" id="airline-code" ng-model="item.airline.code" required ng-pattern="airlineCodePattern" placeholder="XX" class="uppercase" ng-change="applyToAllSyncAirline('code')" />
                            <kk-error field="itemForm.ruleAirlineCode" type="required">Required</kk-error>
                            <kk-error field="itemForm.ruleAirlineCode" type="pattern">2 char. only</kk-error>
                        </div>
                        <div class="columns large-3">
                            <select id="rule-fare-attr" name="ruleFareAttribute" ng-model="item.fareAttribute" ng-options="fa.code as fa.name for fa in getFareAttributes()" ng-change="onFareAttributeChange(item.fareAttribute);applyToAllSync('fareAttribute')" required></select>
                            <kk-error field="itemForm.ruleFareAttribute">Required</kk-error>
                        </div>
                        <div class="columns large-3">
                            <input type="text" id="rule-name" name="ruleName" ng-model="item.name" required ng-change="applyToAllSync('name')"/>
                            <kk-error field="itemForm.ruleName">Required</kk-error>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="columns large-3 large-offset-3">
                            <label for="rule-fare-family">Fare family</label>
                        </div>
                        <div class="columns large-3">
                            <input type="checkbox" id="rule-bfa" name="ruleBfa" ng-model="item.brandedFaresActive" ng-change="applyToAllSync('brandedFaresActive')" ng-disabled="!item.airline.code" /> <label for="rule-bfa">Branded fare</label>
                        </div> 
                        <div class="columns large-3">
                            <label for="rule-fare-codes">Fare codes</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="columns large-3 large-offset-3">
                            <select id="rule-fare-family" name="ruleFareFamily" ng-options="ff.id as ff.name for ff in config.fareFamilies" ng-model="item.fareFamily" ng-change="applyToAllSync('fareFamily')">
                                <option value="">None</option>
                            </select>
                        </div>
                        <div class="columns large-3">
                            <button type="button" class="tiny secondary expand" title="Branded fares" dropdown-toggle="#dropdown-branded-fares" ng-disabled="!item.brandedFaresActive || loadingBrandedFares">
                                <span ng-if="item.brandedFares.length <= 0 || !item.brandedFaresActive">No branded fares</span>
                                <span ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length <= 1 &amp;&amp; item.brandedFares.length > 0 &amp;&amp; brandedFares.length > item.brandedFares.length">{{ (brandedFares | find : item.brandedFares[0] : 'code').name }}</span>
                                <span ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length > 1 &amp;&amp; brandedFares.length > item.brandedFares.length">{{ item.brandedFares.length }} fares</span>
                                <span ng-if="item.brandedFaresActive &amp;&amp; brandedFares.length <= item.brandedFares.length &amp;&amp; item.brandedFares.length >= 0">All fares</span>
                            </button>
                        </div>
                        <div class="columns large-3">
                            <input type="text" id="rule-fare-codes" name="ruleFareCode" ng-model="item.fareCodes" ng-pattern="/^[a-zA-Z]+$/" class="uppercase" ng-change="applyToAllSync('fareCodes')" />
                            <kk-error field="itemForm.ruleFareCode">Only letters allowed</kk-error>
                        </div>
                    </div>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Guests</legend>
                    
                    <div class="row">
                        <div class="columns small-2">
                            <label for="attr-maxguests">Number of guests</label>
                            <input type="number" ng-model="item.guestsMaxNumber" id="attr-maxguests" name="maxGuests" />
                            <kk-error field="itemForm.maxGuests">Needs to be >= 0</kk-error>
                        </div>
                    </div>
                </fieldset>
                
                <div id="fare-attribute-type-directive-placeholder"></div>
                
                <fieldset class="member">
                    <legend>Fees</legend>
                    
                    <div class="row">
                        <div class="columns large-3">
                            <label>Cost type: <small>Required</small></label>
                            <div>
                                <span ng-repeat="costType in config.fareAttributeCostTypes">
                                    <input type="radio" name="ruleMemCostType" ng-attr-id="rule-mct-{{$index}}" ng-model="item.memberCostType" ng-value="costType.id" ng-change="applyToAllSync('memberCostType')" required /> <label class="inline" ng-attr-for="rule-mct-{{$index}}">{{ costType.name }}</label>
                                </span>
                            </div>
                            <kk-error field="itemForm.ruleMemCostType">Required</kk-error>
                        </div>
                        <div class="columns large-2">
                            <div ng-if="item.memberCostType == 'fee'">
                                <label for="rule-mc">Fee</label>
                                <div class="row collapse">
                                    <div class="columns small-7">
                                        <input type="number" name="ruleMemCost" id="rule-mc" ng-model="item.memberCost" ng-change="applyToAllSync('memberCost')" />
                                    </div>
                                    <div class="columns small-5">
                                        <input type="text" id="rule-mcc" name="ruleMemCurrency" ng-model="item.currencyCode" ng-required="item.memberCost > 0" ng-pattern="/^[a-zA-Z]{3}$/" class="uppercase" placeholder="USD" maxlength="3" ng-change="applyToAllSync('currencyCode')" />
                                    </div>
                                </div>
                                <kk-error field="itemForm.ruleMemCurrency" class="stick-top">Currency code is required</kk-error>
                            </div>
                        </div>
                        <div class="columns large-2 end">
                            <label>&nbsp;</label>
                            <input type="checkbox" id="rule-fare-diff" name="ruleFareDiff" ng-model="item.memberCostFareDifference" ng-change="applyToAllSync('memberCostFareDifference')" /> 
                            <label for="rule-fare-diff" class="inline">Fare difference</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns small-2">
                            <label for="rule-hrs">Hours before departure</label>
                            <input type="number" id="rule-hrs" name="ruleHrs" ng-model="item.hoursBeforeDeparture" ng-change="applyToAllSync('hoursBeforeDeparture')" />
                        </div>
                    </div>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Disclaimers</legend>
                    
                    <input type="checkbox" name="itemForm.ruleDistDisc" id="rule-dist-disc" ng-model="item.distributeDisclaimer" ng-change="applyToAllSync('distributeDisclaimer')" /> <label for="rule-dist-disc">Distribute disclaimer</label>
                    <textarea name="itemForm.ruleDisc" id="rule-disc" ng-model="item.disclaimer" ng-change="applyToAllSync('disclaimer')"></textarea>
                    
                </fieldset>
                
                <fieldset class="codeshare" ng-class="{ collapsed: !section.codeshare }">
                            
                    <legend><a ng-click="toggleSection('codeshare')"><i ng-class="{ 'fi-minus': section.codeshare, 'fi-plus': !section.codeshare }"></i> Codeshare rules</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <label><strong>Marketing:</strong></label>
                        <span ng-repeat="type in config.upgradeOperationalTypes">
                            <input type="checkbox" ng-attr-id="mk-rule-{{type.code}}" checklist-model="item.marketingRules" checklist-value="type.code" /> 
                            <label ng-attr-for="mk-rule-{{type.code}}">{{ type.name }}</label> 
                        </span>
                        <kk-tag-input ng-if="item.marketingRules.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.marketingSpecificAirlines" uppercase="true" on-change="applyToAllSync('marketingSpecificAirlines')" ></kk-tag-input>
                        
                        <hr />
                        
                        <label><strong>Operating:</strong></label>
                        <span ng-repeat="type in config.upgradeOperationalTypes">
                            <input type="checkbox" ng-attr-id="op-rule-{{type.code}}" checklist-model="item.operatingRules" checklist-value="type.code" ng-disabled="item.excludeCodeshare" /> 
                            <label ng-attr-for="op-rule-{{type.code}}">{{ type.name }}</label> 
                        </span>
                        <kk-tag-input ng-if="item.operatingRules.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.operatingSpecificAirlines" uppercase="true" on-change="applyToAllSync('operatingSpecificAirlines')"></kk-tag-input>
                        
                        <hr />
                        
                        <div class="codeshare-flight">
                            <div class="row">
                                <div class="columns large-2">
                                    <label class="right">Flight numbers limitations:</label>
                                </div>
                                <div class="columns large-10">
                                    <kk-tag-input collection="item.flightNoLimit" uppercase="true" on-change="applyToAllSync('flightNoLimit')"></kk-tag-input>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="columns large-2">
                                    <label class="right">Excluded flight <br />numbers:</label>
                                </div>
                                <div class="columns large-10">
                                    <kk-tag-input collection="item.flightNoExcl" uppercase="true" on-change="applyToAllSync('flightNoExcl')"></kk-tag-input>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="geo-rules" ng-class="{ collapsed: !section.geo }">
                            
                    <legend><a ng-click="toggleSection('geo')"><i ng-class="{ 'fi-minus': section.geo, 'fi-plus': !section.geo }"></i> Geographical rules</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns large-2 text-right">
                                <label>Logical operand:</label>
                            </div>
                            <div class="columns large-10">
                                <input type="radio" ng-model="item.geoLogicalOperand" name="getLO" id="geo-lo-or" value="or" on-change="applyToAllSync('geoLogicalOperand')" /> <label for="geo-lo-or">OR</label>
                                <input type="radio" ng-model="item.geoLogicalOperand" name="getLO" id="geo-lo-and" value="and" on-change="applyToAllSync('geoLogicalOperand')" /> <label for="geo-lo-and">AND</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right">Geographical <br />filters:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.geographicalRules" uppercase="true" validation-url="ffp/validate-gril.json" on-change="applyToAllSync('geographicalRules')"></kk-tag-input>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right">Coded <br />conditions:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.codedConditions" uppercase="true" validation-url="ffp/validate-gril.json" on-change="applyToAllSync('codedConditions')"></kk-tag-input>
                            </div>
                        </div>

                    </div>
                    
                </fieldset>
                
                <fieldset class="validity" ng-class="{ collapsed: !section.validity }">
                            
                    <legend><a ng-click="toggleSection('validity')"><i ng-class="{ 'fi-minus': section.validity, 'fi-plus': !section.validity }"></i> Validity</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns large-4">
                                <div class="period-block">
                                    <label>Purchase period</label>
                                    <div class="row">
                                        <div class="columns large-6">
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">From</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.purchase, 'from', $event)" date-time min-view="date" ng-model="item.purchase.from" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">Until</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.purchase, 'until', $event)" date-time min-view="date" ng-model="item.purchase.until" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="columns large-4 large-offset-1 end">
                                <div class="period-block">
                                    <label>Flight period</label>
                                    <div class="row">
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">From</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.flight, 'from', $event)" date-time min-view="date" ng-model="item.flight.from" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">Until</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.flight, 'until', $event)" date-time min-view="date" ng-model="item.flight.until" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="comment" ng-class="{ collapsed: !section.comment }">
                    <legend><a ng-click="toggleSection('comment')"><i ng-class="{ 'fi-minus': section.comment, 'fi-plus': !section.comment }"></i> Comment</a></legend>
                    
                    <div class="inner-fieldset">
                        <textarea placeholder="Your comment" ng-model="item.comment" ng-change="applyToAllSync('comment')"></textarea>
                    </div>
                    
                </fieldset>
                
                <fieldset class="atpco" ng-class="{ collapsed: !section.atpco }">
                    
                    <legend><a ng-click="toggleSection('atpco')"><i ng-class="{ 'fi-minus': section.atpco, 'fi-plus': !section.atpco }"></i> Atpco</a></legend>
                    
                    <div class="inner-fieldset">
                        <div class="row">
                            <div class="columns small-3">
                                <label for="rule-atpco-code">ATPCO code</label>
                                <select id="rule-atpco-code" ng-model="item.atpco" ng-options="atp.subcode as atp.name for atp in (config.fareAttributes | find : item.fareAttribute : 'code').atpco" required ng-change="applyToAllSync('atpco')">
                                    <option value="">None</option>
                                </select>
                                <span class="label secondary">{{item.atpco}}</span>
                            </div>
                        </div>
                    </div>
                    
                </fieldset>
                    
                <div class="row">
                    <div class="columns large-12">
                        <button ng-if="!applyToAll()" type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a ng-if="!applyToAll()" ng-click="backToCollection()" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteItem(item)">Delete</button>
                        <button ng-if="applyToAll()" type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Apply</button>
                    </div>
                </div>
                
                <div ng-if="!item.isNew" class="history">
                    <hr />    
                    <p>Created by <strong>{{ item.createdBy }}</strong> at <strong>{{ item.createdAt | date : 'medium' }}</strong></p>
                    <p>Modified by <strong>{{ item.modifiedBy }}</strong> at <strong>{{ item.modifiedAt | date : 'medium' }}</strong></p>
                </div>
                
                <div class="row" ng-if="paged">
                    <div class="columns large-12">
                        <div class="pagination-center">
                            <pager total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page, itemForm)"></pager>
                        </div>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
    
    <div id="dropdown-branded-fares" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="brandedFares" selected="item.brandedFares" cols="2" id="benefit-rules-branded-fares" label="name" property="code"></div>
    </div>
   
</section>