<form id="form_choosedate" method="get" action="search.html">
<div id="new_search_box">
	<div id="form_choosedate_error" class="error_box"></div>
    <div id="new_search_tab_container">
        <ul id="routtype" class='etabs'>
            <li class='tab'><a href="#round_trip">Round Trip</a></li>
            <li class='tab'><a href="#oneway_trip">One way</a></li>
            <li class='tab'><a href="#multi_city">Multi City</a></li>
        </ul>
        <div id="round_trip">
            <div id="person_num">
                <select class="person">
                    <option>1 Person</option>
                    <option>1 Person</option>
                    <option>1 Person</option>
                    <option>1 Person</option>
                </select>
            </div>
            <div class="clear"></div>
            
            <div class="choosecity">
                <div class="from_input"><input type="text" name="from_input" placeholder="From" /></div>
                <div class="to_input"><input type="text" name="to_input" placeholder="To" /></div>
            </div>
            <div class="choosedate">
                <div class="choosedate_tab">
                    <div class="l_depart_date"><span>Depart <input id="l_depart_date_val" name="l_depart_date_val" value="" type="text" size="15" class="text focus" /></span></div>
                    <div class="l_return_date"><span>Return <input id="l_return_date_val" name="l_return_date_val" value="" type="text" size="15" class="text focus" /></span></div>

                </div>
                <div class="datepicker_wrap">
                    <div class="select_date"></div>
                </div>
            </div>
        </div>                    
        <div id="oneway_trip">
            <div id="person_num">
                <select class="person">
                    <option>1 Person</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="choosecity">
                <div class="from_input"><input type="text" name="from_input2" placeholder="From" /></div>
                <div class="to_input"><input type="text" name="to_input2" placeholder="To" /></div>
            </div>
            <div class="choosedate">
                <div class="choosedate_tab">
                    <div class="l_depart_date"><span>Depart <input id="l_depart_date_val" value="" type="text" size="15" class="text focus" /></span></div>
                    <div class="l_return_date"><span>Return <input id="l_return_date_val" value="" type="text" size="15" class="text" /></span></div>
                </div>
                <div class="datepicker_wrap">
                    <div class="select_date"></div>
                </div>
            </div>
        </div>                    
        <div id="multi_city">
            <div id="person_num">
                <select class="person">
                    <option>1 Person</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="choosecity">
                <div class="from_input"><input type="text" name="from_input2" placeholder="From" /></div>
                <div class="to_input"><input type="text" name="to_input2" placeholder="To" /></div>
            </div>
            <div class="choosedate">
                <div class="choosedate_tab">
                    <div class="l_depart_date"><span>Depart <input id="l_depart_date_val" value="" type="text" size="15" class="text focus" /></span></div>
                    <div class="l_return_date"><span>Return <input id="l_return_date_val" value="" type="text" size="15" class="text" /></span></div>
                </div>
                <div class="datepicker_wrap">
                    <div class="select_date"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clear"></div>
    <div id="search_btn"><input type="submit" value="Find a flight" /></div>
</div>
</form>
<script>
	$("#facebox #routtype").buttonset();
	$('#facebox #new_search_tab_container').easytabs();
	$("select").select2();
	// Datepicker
	var now3 = new Date();
	$('.select_date').DatePicker({
		flat: true,
		format: 'd b, Y',
		date: [new Date(now3)],
		calendars: 2,
		mode: 'range',
		starts: 7,
		onChange: function(formated) {
			$('#facebox #l_depart_date_val').val(formated[0]);
			$('#facebox #l_return_date_val').val(formated[1]);
		}
	});
    
	
	$("#facebox #form_choosedate").validate({
		errorPlacement: function(error, element) {
			$('#facebox #form_choosedate_error').fadeIn().html('');
			errorElement: "div",
			error.appendTo($('#facebox #form_choosedate_error'));
		},
		submitHandler: function (form) {
			$('#facebox #form_choosedate_error').fadeOut();
			//validation
			window.location.href = "search2.html";
		   	return false;
	   	},
		rules: {
			from_input: "required",
			to_input: "required",
			l_depart_date_val: "required",
			l_return_date_val: "required"
		},
		messages: {
			from_input: "Please enter your departure city",
			to_input: "Please enter your arrive city",
			l_depart_date_val: "Please enter your departure date",
			l_return_date_val: "Please enter your return date"
		}
	});
</script>