<!-- Cached partials -->

<script type="text/ng-template" id="partials/multiselect.html">
    <aside class="multiselect">

        <dl class="sub-nav"> 
            <dt>Select:</dt> 
            <dd ng-class=" { active : list.length == selected.length }">
                <a ng-click="selectAll()">All</a>
            </dd>
            <dd ng-class=" { active : selected.length == 0 &amp;&amp; list.length > 0 }">
                <a ng-click="deselect()">None</a>
            </dd>
        </dl>
        
        <ul ng-attr-class="small-block-grid-{{cols}}">
            <li ng-repeat="item in list">
                <input type="checkbox" checklist-model="selected" checklist-value="item" ng-attr-id="ms-{{id}}-{{$index}}">
                
                <label ng-attr-for="ms-{{id}}-{{$index}}">
                    <span ng-if="label">{{item[label]}}</span>
                    <span ng-if="!label">{{item}}</span>
                </label>
            </li>
        </ul>
    
    </aside>
</script>

<script type="text/ng-template" id="partials/typeahead.html">
    <a>
        <span class="label secondary radius">{{match.model.code}}</span>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>

<!-- /end/ Cached partials -->

<section id="lookup">
    <div class="row">
        <div class="columns large-12">
            <h1>Miles Lookup</h1>
        </div>
    </div>
    <form name="sform" ng-submit="search()">
        <div class="row">
            <div class="columns large-12">
                <h4 class="subheader">Search parameters</h4>
            </div>
        </div>
        <div class="row">
            <div class="columns large-4">
                
                <label for="airline" ng-class="{ error: searchType == 'airline' &amp;&amp; !sform._airline.$valid }">Airline <small ng-show=" searchType == 'airline' ">Required</small></label>
                
                <div ng-class="{ error: (searchType == 'airline' &amp;&amp; !sform._airline.$valid) }">
                    <input type="text" placeholder="Type name or code" name="_airline" typeahead="al as al.name for al in config.airlines | filter: { '$' : $viewValue } | limitTo: 8 " id="airline" ng-required=" searchType == 'airline' " ng-model="airline" typeahead-template-url="partials/typeahead.html" typeahead-editable="false" autocomplete="off" />
                    <small class="error">Airline name or code is required</small>
                </div>
                
            </div>
            <div class="columns large-3">
                <label for="ffp">Frequent Flyer Program</label>
                <button type="button" class="tiny radius expand" ng-class="getMultiselectClass(selectedFfps, ffps)" id="ffp" dropdown-toggle="#ffps-dropdown">{{ getMultiselectLabel(selectedFfps, ffps, 'name') }}</button>
            </div>
            <div class="columns large-5">
                <label>Display by</label>
                <ul class="button-group radius">
                    <li><button type="button" class="tiny" ng-click="setLayout('fareCode')" ng-class=" { secondary: layout != 'fareCode' } ">Booking Class</a></li>
                    <li><button type="button" class="tiny" ng-click="setLayout('percentage')" ng-class=" { secondary: layout != 'percentage' } ">Earnings</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <section class="more-options" ng-class="{ expanded : expanded }">
                    <a ng-click="toggleExpanded()">
                        <i ng-class=" { 'fi-plus': !expanded, 'fi-minus': expanded } "></i> 
                        <span ng-show="!expanded">More options</span>
                        <span ng-hide="!expanded">Less options</span>
                    </a>
                    <div class="options">
                        <div class="row">
                            <div class="columns large-2">
                                <label for="pdate">Purchase Date</label>
                                <div class="row collapse">
                                    <div class="columns small-3">
                                        <span class="prefix"><i class="fi-calendar"></i></span>
                                    </div>
                                    <div class="columns small-9">
                                        <input type="text" date-time min-view="date" ng-init="initPurchaseDate(this)" format="dd/MM/yyyy" placeholder="dd/mm/yyyy"  name="pdate" id="pdate" ng-model="pdate" />
                                    </div>
                                </div>
                            </div>
                            <div class="columns large-2">
                                <label for="ddate">Departure Date</label>
                                <div class="row collapse">
                                    <div class="columns small-3">
                                        <span class="prefix"><i class="fi-calendar"></i></span>
                                    </div>
                                    <div class="columns small-9">
                                        <input type="text" date-time min-view="date" ng-init="initDepartureDate(this)" format="dd/MM/yyyy" placeholder="dd/mm/yyyy"  name="ddate" id="ddate" ng-model="ddate" />
                                    </div>
                                </div>
                            </div>
                            <div class="columns large-2">
                                <label for="fare-code">Booking Class</label>
                                <button type="button" class="tiny radius expand" ng-class="getMultiselectClass(selectedFareCodes, fareCodes)" id="fare-code" dropdown-toggle="#fare-codes-dropdown">{{ getMultiselectLabel(selectedFareCodes, fareCodes) }}</button>
                            </div>
                            <div class="columns large-3">
                                <label for="dep-airport">Departure Airport</label>
                                <input type="text" placeholder="Type name or code" name="depAirport" id="dep-airport" ng-model="depAirport" typeahead="ap as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="partials/typeahead.html" ng-class="{ loading: depAirportLoading }" typeahead-loading="depAirportLoading" autocomplete="off" />
                            </div>
                            <div class="columns large-3">
                                <label for="arr-airport">Arrival Airport</label>
                                <input type="text" placeholder="Type name or code" name="arrAirport" id="arr-airport" ng-model="arrAirport" typeahead="ap as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="partials/typeahead.html" ng-class="{ loading: arrAirportLoading }" typeahead-loading="arrAirportLoading" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns large-4">
                                <label for="op-airline">Operating Airline</label>
                                <input type="text" placeholder="Type name or code" name="opAirline" id="op-airline" ng-model="opAirline" typeahead="al as al.name for al in opAirlines | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="partials/typeahead.html" typeahead-editable="false" autocomplete="off" />
                            </div>
                            <div class="columns large-2 end" ng-class="{ error: !sform._flight.$valid }">
                                <label for="flight" ng-class="{ error: !sform._flight.$valid }">Flight No.</label>
                                <input type="text" name="_flight" id="flight" ng-required=" searchType == 'flight' " ng-pattern="/^([a-zA-Z][0-9]|[0-9][a-zA-Z]|[a-zA-Z]{2})\s*([0-9]{1,4})$/" ng-model="flight" ng-blur="onFlightBlur($event)" />
                                <small class="error">Please input correct flight no.</small>
                            </div>
                        </div>
                    </div>
                </section>
                <button type="submit" ng-disabled="{{!sform.$valid}}" ng-class="{ success: sform.$valid, secondary: !sform.$valid } "><i class="fi-magnifying-glass"></i> Search</button>
            </div>
        </div>
    </form>
    
    <section id="result">
    
        <div class="row" ng-if="result">
            <div class="columns large-12">
                <h4 class="subheader">Results</h4>
                
                <nav class="top-bar toolbar">
                    <dl class="sub-nav">
                        <dt>Show:</dt>
                        <dd ng-class="{ active : mileType == 'rdm' }"><a title="Redeemable Miles" ng-click="setMileType('rdm')">RDM</a></dd>
                        <dd ng-class="{ active : mileType == 'eqm' }"><a title="Elite Qualifying Miles" ng-click="setMileType('eqm')">EQM</a></dd>
                        <dd ng-class="{ active : mileType == 'eqs' }"><a title="Elite Qualifying Segments" ng-click="setMileType('eqs')">EQS</a></dd>
                        <dd ng-class="{ active : mileType == 'eqp' }"><a title="Elite Qualifying Points" ng-click="setMileType('eqp')">EQP</a></dd>
                    </dl>
                </nav>
                <div ng-if="resultLayout == 'fareCode' ">
                    
                    <div class="row collapse">
                        <div class="columns large-1">
                            <table>
                                <thead><tr><td>&nbsp;</td></tr></thead>
                                <tbody>
                                    <tr ng-repeat=" (code,fcData) in result.fareCodes" ng-mouseleave="onRowMouseLeave()" ng-mouseenter="onRowMouseEnter($event, $index)" ng-class="{ hover: hoverRow == $index }">
                                        <th>{{code}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="columns large-11">
                            <div class="scrollable">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="nowrap" ng-style=" { backgroundColor: ffp.color } " ng-repeat=" ffp in result.ffps " ng-mouseleave="onColMouseLeave()" ng-mouseenter="onColMouseEnter($event, $index)">{{ffp.name}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat=" (code,fc) in result.fareCodes " ng-class="{ hover: hoverRow == $index }">
                                            <td class="nowrap hover-cell" ng-repeat=" ffp in result.ffps " ng-class="{ hover: hoverColumn == $index }" kk-tooltip="{{fc[result.ffpPrefix + ffp.id].notes | join : '<br />'}}">
                                                
                                                <span ng-if="fc[result.ffpPrefix + ffp.id].earnings[mileType]">
                                                    {{ fc[result.ffpPrefix + ffp.id].earnings[mileType] }}
                                                </span>
                                                
                                                <span ng-if="!fc[result.ffpPrefix + ffp.id].earnings[mileType]">
                                                    <i class="fi-x"></i>
                                                </span>
                                                
                                                <span ng-if="fc[result.ffpPrefix + ffp.id].notes" class="has-notes"><i class="fi-lightbulb"></i></span>
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div ng-if="resultLayout == 'percentage' ">
                    
                    <div class="row collapse">
                        <div class="columns large-2">
                            <table>
                                <thead><tr><td>&nbsp;</td></tr></thead>
                                <tbody>
                                    <tr ng-repeat="ffp in result.ffps" ng-mouseleave="onRowMouseLeave()" ng-mouseenter="onRowMouseEnter($event, $index)">
                                        <th class="nowrap" ng-style=" { backgroundColor: ffp.color } ">{{ffp.name}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="columns large-10">
                            <div class="scrollable">
                                <table>
                                    <thead>
                                        <tr>
                                            <th ng-repeat="treshold in result.ffps[0].thresholds" ng-mouseleave="onColMouseLeave()" ng-mouseenter="onColMouseEnter($event, $index)" >{{ treshold.value }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ffp in result.ffps" ng-class="{ hover: hoverRow == $index }">
                                            <td class="nowrap hover-cell" ng-repeat=" threshold in ffp.thresholds " ng-class="{ hover: hoverColumn == $index }">
                                                <span ng-if="threshold.fareCodes[mileType].length > 0">
                                                    <span class="label secondary radius fare-code" ng-repeat=" code in threshold.fareCodes[mileType] ">{{code}}</span>
                                                </span>
                                                <span ng-if="!threshold.fareCodes[mileType]"><i class="fi-x"></i></span>
                                                <span ng-if="threshold.notes">
                                                    <span ng-if=" $index >= ffp.thresholds.length - 1 ">
                                                        <span class="has-notes" tooltip="{{threshold.notes}}" tooltip-placement="left"><i class="fi-lightbulb"></i></span>    
                                                    </span>
                                                    <span ng-if=" $index < ffp.thresholds.length - 1 ">
                                                        <span class="has-notes" tooltip="{{threshold.notes}}" tooltip-placement="bottom"><i class="fi-lightbulb"></i></span>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</section>

<div id="ffps-dropdown" class="f-dropdown ms" ng-click="preventDefault($event)">
    <div kk-multiselect list="ffps" selected="selectedFfps" cols="2" id="ffps-ms" label="name"></div>
</div>

<div id="fare-codes-dropdown" class="f-dropdown ms" ng-click="preventDefault($event)">
    <div kk-multiselect list="fareCodes" selected="selectedFareCodes" cols="4" id="fc-ms"></div>
</div>