#wallet h4 .action{
    margin-left: 1rem;
}

#wallet h4 .action + .action{
    padding-left: 1rem;
    border-left: 1px solid #ddd;
}

#wallet h4 .title{
    color: #333;
}

#wallet h4 .title i{
    color: #666;
}