					<!-- Single Program -->
					<article class="program" id="program-3">
						<div class="panel">
							<div class="row">
								<div class="columns small-2">
									<img src="img/program_logo0.png" alt="Program" class="logo" />
								</div>
								<div class="columns small-3">
									<h5>Adam Smith</h5><div class="desc">EB54354t</div>
								</div>
								<div class="columns small-2 status-icon">
									<div class="foundicon-star"></div>
									<div class="desc">Silver</div>
								</div>
								
								<div class="columns small-3 dates">
									<p class="desc">Miles will expire: 12/02/2010<br />
									Status will expire: 12/02/2010</p>
								</div>
								<div class="columns small-2 actions">
									<div class="switch small round">
										<input id="program-3-off" name="program-3" type="radio">
										<label for="program-3-off" onclick="">Off</label>
			
										<input id="program-3-on" name="program-3" type="radio" checked>
										<label for="program-3-on" onclick="">On</label>
				
										<span></span>
									</div>
									<div class="desc"><a class="edit-program" href="#">Edit</a></div>
								</div>
							</div>
						</div>
						<div class="stats">
							<div class="row">
								<div class="columns small-2">
									<div class="miles status">4354</div>
									<div class="desc">Status miles</div>
								</div>
								<div class="columns small-10">
									<div class="progress secondary caption">
										<span class="goal">Gold&mdash;5432 miles left</span>
										<div class="meter" style="width: 34%">
											<span class="goal">Gold&mdash;5432 miles left</span>
										</div>
										<div class="threshold" style="left:20%"><span class="name">Silver</span><span class="val">25k</span></div>
										<div class="threshold" style="left:40%"><span class="name">Gold</span><span class="val">50k</span></div>
										<div class="threshold" style="left:60%"><span class="name">Platinum</span><span class="val">75k</span></div>
										<div class="threshold" style="left:80%"><span class="name">Mega</span><span class="val">100k</span></div>
										<div class="threshold" style="left:100%"><span class="name">Giga</span><span class="val">125k</span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="stats">
							<div class="row">
								<div class="columns small-2">
									<div class="miles status">28</div>
									<div class="desc">Segments</div>
								</div>
								<div class="columns small-10">
									<div class="progress secondary caption">
										<span class="goal">Gold&mdash;5 segments left</span>
										<div class="meter" style="width: 34%">
											<span class="goal">Gold&mdash;5 segments left</span>
										</div>
										<div class="threshold" style="left:20%"><span>Silver</span></div>
										<div class="threshold" style="left:40%"><span>Gold</span></div>
										<div class="threshold" style="left:60%"><span>Platinum</span></div>
										<div class="threshold" style="left:80%"><span>Mega</span></div>
										<div class="threshold" style="left:100%"><span>Giga</span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="stats">
							<div class="row">
								<div class="columns small-2">
									<div class="miles">28003</div>
									<div class="desc">Award miles</div>
								</div>
								<div class="columns small-10">
									<div class="progress success caption">
										<div class="goal">Hong Kong—17004 miles left</div>
										<div class="meter" style="width: 54%">
											<div class="goal">Hong Kong—17004 miles left</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="stats">
							<div class="row">
								<div class="columns small-2">
									<div class="miles">2703</div>
									<div class="desc">Award points</div>
								</div>
								<div class="columns small-10">
									<div class="progress success caption">
										<div class="goal">Hong Kong—17004 miles left</div>
										<div class="meter" style="width: 54%">
											<div class="goal">Hong Kong—17004 miles left</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<!-- END of Single Program -->