
/**** Condensed Layout ****/

fieldset{
    margin: 1rem 0;
    padding: 1rem;
}

fieldset legend{
    font-size: 0.85rem;
}

label{
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
    font-size: 0.75rem;
    height: 2rem;
    margin: 0 0 0.75rem;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select{
    margin: 0 0 0.75rem;
    font-size: 0.75rem;
    padding: 0.4rem;
}

hr{
    margin: 0.5rem 0 1rem;
}

button, .button{
    margin-bottom: 0.5rem;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td{
    font-size: 0.75rem;
    padding: 0.3rem 0.5rem 0.5rem;
}

table tr th, table tr td{
    font-size: 0.75em;
    padding: 0.3rem 0.5rem;
}

.inline-list{
    margin: 0 0 0.25rem -1.375rem;
}

span.prefix, span.postfix{
  font-size: 0.75rem;
  height: 2rem;
  line-height: 2rem;
}

button.tiny, .button.tiny{
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}

.tabs dd > a, .tabs .tab-title > a{
  padding: 0.65rem 2rem;  
}

.tabs-content{
  margin-bottom: 0;
}


/* app css default stylesheet */

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 60px; 
}

footer{
  background: #f1f1f1;
  border-top: 1px solid #eee;
  color: #888;
  text-align: center;
}

footer p{
  font-size: 0.875rem;
}

.footer-wrap{
  padding-top: 1rem;
}

.top-bar{
  margin-bottom: 1.5rem;
}

table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eee;
}

table tbody td,
table tbody th,
table thead td,
table thead th,
table tfoot td,
table tfoot th{
  text-align: center;
}

.toolbar{
  margin-bottom: 0;
}

[kk-alerts]{
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 90;
}

[kk-alerts] .alert-box{
  border: none;
  margin-bottom: 0;
  box-shadow: 0 1px 2px #333;
}

table a{
  text-transform: uppercase;
}

table td.action,
table th.action{
  padding: 0.1rem !important;
  background: #f1f1f1;
}

table td.action.separator,
table th.action.separator{
  border-right: 6px solid #fff;
}

table td.action a,
table th.action a,
table th.action button,
table td.action button{
  background: #f1f1f1;
  color: #888;
  display: block;
  font-weight: normal;
  padding: 0.3rem;
  width: 100%;
  font-size: 0.75rem;
  transition: none;
}

table td.action.text a,
table th.action.text a,
table th.action.text button,
table td.action.text button{
  font-weight: bold;
  text-transform: none;
}

table td.action:hover,
table th.action:hover,
table td.action.fill,
table th.action.fill{
  background-color: #2ba6cb;
}

table td.action:hover a,
table th.action:hover a,
table th.action:hover button,
table td.action:hover button,
table td.action.fill a,
table th.action.fill a,
table th.action.fill button,
table td.action.fill button{
  background-color: #2ba6cb;
  color: #fff;
}

table td.action.success:hover,
table th.action.success:hover,
table td.action.success.fill,
table th.action.success.fill{
  background-color: #5da423;
}

table td.action.success:hover a,
table th.action.success:hover a,
table td.action.success:hover button,
table th.action.success:hover button,
table td.action.success.fill a,
table th.action.success.fill a,
table td.action.success.fill button,
table th.action.success.fill button{
  background-color: #5da423;
}

table td.action.alert:hover,
table th.action.alert:hover,
table td.action.alert.fill,
table th.action.alert.fill{
  background-color: #c60f13;
}

table td.action.alert:hover a,
table th.action.alert:hover a,
table td.action.alert:hover button,
table th.action.alert:hover button,
table td.action.alert.fill a,
table th.action.alert.fill a,
table td.action.alert.fill button,
table th.action.alert.fill button{
  background-color: #c60f13;
}

table td.action.fill:hover{
  opacity: 0.9;
}

table td.action.fill .disabled{
  cursor: default;
}

table td.action.disabled{
  background-color: #f1f1f1 !important;
  color: #bbb !important;
  pointer-events: none;
}

table td.action.disabled a,
table td.action.disabled button{
  background-color: #f1f1f1 !important;
  color: #bbb !important;
}

table input[type="text"],
table input[type="date"],
table input[type="number"],
table input[type="checkbox"],
table input[type="password"],
table input[type="file"],
table input[type="radio"],
table button,
table select{
  margin-bottom: 0;
}

table input[type="checkbox"]{
  vertical-align: text-top;
}

.gray{
  background: #bbb;
}

.top-bar input, .top-bar .button, .top-bar button {
    font-size: 0.77778rem;
    position: relative;
    top: 7px;
}
.top-bar input {
    font-size: 0.75rem;
    height: auto;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
}
.top-bar form, .top-bar input {
    margin-bottom: 0;
}

.toolbar .prefix{
  background: none repeat scroll 0 0 #222;
  border: medium none;
  border-radius: 5px 0 0 5px;
  color: #555;
  font-size: 1rem;
  height: 1.75rem;
  line-height: 1.75rem;
  position: relative;
  top: 7px;
}

[date-picker-wrapper]{
  width: 150%;
}

[date-picker-wrapper] .dropdown-menu {
  position: absolute;
  z-index: 30;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px -2px #333333;
  padding: 3px;
}

[date-picker] {
  padding: 0;
}
[date-picker] table {
  border: none;
  border-collapse: collapse;
}
[date-picker] table tr, [date-picker] table td {
  font-size: 0.75rem;
}
[date-picker] td, [date-picker] th {
  border-radius: 0;
  height: auto;
  width: auto;
}
[date-picker] div[ng-switch-when="year"] span, [date-picker] div[ng-switch-when="month"] span, [date-picker] div[ng-switch-when="minutes"] span {
  height: 2.5rem;
  line-height: 2.5rem;
}
[date-picker] div[ng-switch-when="date"] td span.now, [date-picker] div[ng-switch-when="date"] td span.now:hover {
  background-color: #2ba6cb;
}
[date-picker] div[ng-switch-when="date"] td span.active, [date-picker] div[ng-switch-when="date"] td span.active:hover {
  background-color: #5da423;
}
[date-picker] span {
  border-radius: 2px;
}
[date-picker] .active:hover, [date-picker] .now:hover, [date-picker] .active:active, [date-picker] .now:active, [date-picker] .active.active, [date-picker] .now.active, [date-picker] .active.disabled, [date-picker] .now.disabled, [date-picker] .active[disabled], [date-picker] .now[disabled] {
  background-color: #5da423;
  color: #fff;
}

[date-picker] .active, [date-picker] .now {
  background-image: none;
  border: none;
}

[date-picker] .now{
  background-color: #2ba6cb;
}

[date-picker] .active{
  background-color: #5da423;
}

textarea{
  min-height: 5rem;
}

.nowrap{
    white-space: nowrap;
}

table.selectable tbody tr{
  cursor: pointer;
}

table.selectable tbody tr:hover,
table.highlight tbody tr:hover{
  background: #E6F9CA !important;
}

hgroup h1{
  margin-bottom: 0;
}

hgroup h4.subheader{
  margin-top: 0;
}

hgroup h1,
hgroup h4.subheader{
  line-height: 1.15;
}

hgroup{
  margin-bottom: 1.25rem
}

table span.label + span.label{
  margin-left: 0.25rem;
}

.uppercase{
  text-transform: uppercase;
}

.logout-counter{
  background-color: #444;
  border-radius: 3px;
  color: #bbb;
  display: inline-block;
  font-size: 0.6rem;
  line-height: 1.5rem;
  margin-left: 0.25rem;
  min-width: 2rem;
  padding: 0 0.25rem;
  text-align: center;
}

#top-bar{
  margin-bottom: 0;
}

#welcome-bar{
  background: #444;
  color: #bbb;
  font-size: 0.75rem;
  padding: 0.25rem;
  margin-bottom: 1.5rem;
  line-height: 2;
}

#welcome-bar .row{
  max-width: 100%;
}

#welcome-bar a{
  color: #bbb;
}

#welcome-bar .admin-notif-wrapper{
  margin-left: 0.5rem;
}

.breadcrumbs{
  border: none;
  border-radius: 0;
}

.side-nav li.active > a:first-child:not(.button){
  font-weight: bold;
  text-transform: uppercase;
}

form.mini{
  margin: 0;
}

form.mini input[type="text"], 
form.mini input[type="password"], 
form.mini input[type="date"], 
form.mini input[type="datetime"], 
form.mini input[type="datetime-local"], 
form.mini input[type="month"], 
form.mini input[type="week"], 
form.mini input[type="email"], 
form.mini input[type="number"], 
form.mini input[type="search"], 
form.mini input[type="tel"], 
form.mini input[type="time"], 
form.mini input[type="url"]{
  margin-bottom: 0.5rem;
}

.label.secondary.darker{
  background-color: #d9d9d9;
}

.label.secondary i{
  color: #888;
}

.label.secondary.darker i{
  color: #666;
}

.sub-nav dt, .sub-nav dd, .sub-nav li{
  margin-left: 0.5rem;
  margin-bottom: 0.33rem;
}

.sub-nav{
  background: #f1f1f1;
  margin:0 0 0.75rem 0;
}

a.delete-row{
  line-height: 1.75;
  color: #888;
}

a.delete-row:hover{
  color: #c60f13;
}

fieldset legend small{
  font-weight: normal;
}

table tr.lighter td,
table tr.lighter th{
  color: #666;
}

table tr.lighter td .label.secondary,
table tr.lighter th .label.secondary{
  color: #888;
}

body{
  width:100%;
  overflow-x: hidden;
}

table tr.has-form td,
table tr.has-form th{
  padding: 0.3rem 0.1rem;
}

fieldset legend a{
    color: #222;
}

fieldset legend i{
    color: #999;
}

fieldset.collapsed{
    padding-top: 0;
    padding-bottom: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

fieldset.collapsed legend a{
    color: #999;
}

fieldset legend .label{
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

fieldset.collapsed .inner-fieldset{
    display: none;
}

input[type="checkbox"].middle{
  margin-top: 0.55rem;
}

i.success{
  color: #5da423;
}

i.alert{
  color: #c60f13;
}

i.secondary{
  color: #e9e9e9;
}

i.gray{
  color: #aaa;
}


.button:focus,
button:focus{
  background-color: #2ba6cb;
}

.button.secondary:focus,
button.secondary:focus{
  background-color: #e9e9e9;
}

.button.success:focus,
button.success:focus{
  background-color: #5da423;
}

.button.alert:focus,
button.alert:focus{
  background-color: #c60f13;
}

.label.pink{
  background-color: #D3798E;
}

.label.yellow{
  background-color: #DDAD00;
}

input[type="number"].loading,
input[type="text"].loading,
input[type="password"].loading,
input[type="date"].loading,
input[type="datetime"].loading,
input[type="email"].loading,
input[type="url"].loading{
  background-image: url(../img/ajax-loader-plain.gif);
  background-position: calc(100% - 12px) center;
  background-repeat: no-repeat;
  padding-right: 36px;
}

.prefix i,
.postfix i{
  color: #666;
  font-size: 1.2rem;
}

tab-heading i{ 
  color: #888; 
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.disabled-input{
  background: #eee; 
  color: #888; 
  border: 1px solid #ccc;
  height:2rem;
  line-height:1.5rem;
  padding:0.25rem 0.65rem;
  font-size:0.75rem;
  margin-bottom:0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#top-bar .env > a{
  padding-top: 0.35rem;
  padding-bottom: 0.75rem;
  background-color: #444;
}

#top-bar .env > a > small{
  display: block;
  line-height: 1;
  color: #aaa;
}

#top-bar .env > a > span{
  display: block;
  line-height: 1.5;
}

.scroller{
    height: 500px;
    overflow-y: hidden;
    position: relative;
}

.button.warning,
button.warning{
  background-color: #f08a24;
  color: #fff;
}

dl.inline{
  font-size: 0.875rem;
}

dl.inline dt,
dl.inline dd{
  display: inline;
}

dl.inline dt{
  margin: 0 0.33rem 0 0;
}

dl.inline dt::after{
  content: ":";
}

dl.inline dd{
  margin: 0 1rem 0 0;
}

dl.inline dd:last-child{
  margin-right: 0;
}