<!-- Cached particles -->

<script type="text/ng-template" id="components/service/delete-items-modal.html">
    <h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
    <h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
    <p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
    <p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
    <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<script type="text/ng-template" id="components/tag-input/tag-input.html">

    <div ng-form="tagInput" ng-submit="submit(tagInput)" novalidate class="tag-input-form">
        
        <span class="tag-input-items" ng-class="{ uppercase: uppercase }"><span class="label secondary radius" ng-repeat=" item in collection ">{{ item }} <a ng-click="remove(item)" title="Delete"><i class="fi-x"></i></a></span></span>
        
        <input class="tag-input" ng-class="{ uppercase: uppercase }" ng-attr-type="{{inputType}}" ng-model="value" name="tag" ng-attr-placeholder="{{placeholder}}" ng-pattern="pattern" ng-attr-maxlength="{{maxlength}}" ng-keypress="onKeyPress($event)" />
        <div class="tag-input-errors">
            <kk-error field="tagInput.tag" type="required">You need to add at least one item</kk-error>
            <kk-error field="tagInput.tag" type="pattern">Input is not valid</kk-error>
            <kk-error field="tagInput.tag" type="unique">Value has been already added</kk-error>
        </div>
        
    </div>
    
</script>

<script type="text/ng-template" id="test/edit-test/run-modal.html">
    <h3>Unsaved changes</h3>
    <p ng-if="!form.$valid">Test is not valid. You need to fill all required fields before running the test.</p>
    <p ng-if="form.$valid">You need to save test before running it. Do you want to save it now?</p>
    
    <button ng-if="!form.$valid" ng-click="cancel()" class="small secondary">OK</button>
    <button ng-if="form.$valid" ng-click="saveAndRun()" class="small success"><i class="fi-play"></i> Save and run</button> <button ng-if="form.$valid" ng-click="save()" class="small secondary"><i class="fi-save"></i> Save</button> <button ng-if="form.$valid" ng-click="cancel()" class="small secondary right">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<script type="text/ng-template" id="test/edit-test/typeahead.html">
    <a>
        <span class="label secondary radius">{{match.model.code}}</span>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="components/period-picker/button.html">
    <div class="button-bar">
        <ul class="button-group radius">
            <li>
                <button ng-click="onClick($event)" dropdown-toggle="#period-picker-{{counter}}" type="button" class="tiny secondary" title="Set date">
                    <span ng-if="from">{{ from | date }}</span>
                    <span ng-if="!from"><i class="fi-calendar"></i> {{ fText }}</span>
                </button>
            </li>
            <li ng-if="from">
                <button type="button" class="tiny secondary remove-date" ng-click="clearFrom()" title="Clear date"><i class="fi-x"></i></button>
            </li>
        </ul>
        <ul class="button-group radius">
            <li>
                <button ng-click="onClick($event)" dropdown-toggle="#period-picker-{{counter}}" type="button" class="tiny secondary" title="Set date">
                    <span ng-if="until">{{ until | date }}</span>
                    <span ng-if="!until"><i class="fi-calendar"></i> {{ uText }}</span>
                </button>
            </li>
            <li ng-if="until">
                <button type="button" class="tiny secondary remove-date" ng-click="clearUntil()" title="Clear date"><i class="fi-x"></i></button>
            </li>
        </ul>
    </div>
</script>

<!-- END of cached particles -->

<section id="test-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Earning test</h1>
                <h4 class="subheader uppercase">
                    <span ng-repeat="segment in item.segments">
                        <i ng-if="!$first &amp;&amp; item.segments[$index - 1].arrival == segment.departure" class="fi-arrow-right"></i> <span ng-if="$first || item.segments[$index - 1].arrival != segment.departure">{{ segment.departure }}</span> <i class="fi-arrow-right" ng-if="$first"></i> <span>{{ segment.arrival }}</span>
                    </span>
                </h4>
            </hgroup>
            <h1 ng-if="isNew">New earning test</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Testing framework</a>
                </li>
                <li kk-nav route="tests">
                    <a>Earning tests</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editTest" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newTest">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                
                <div class="row">
                    <div class="columns large-12">
                        <fieldset>
                            <legend>Configuration</legend>
                            
                            <div ng-if="item.segments.length > 0">
                                <div class="row">
                                    <div class="columns large-1 text-center">
                                        <label for="seg-leg-0">Leg start</label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-dep-0">Departure <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-arr-0">Arrival <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1 large-offset-1">
                                        <label for="seg-mc-0">Mk. carrier <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-oc-0">Op. carrier <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-fc-0">Fare code <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-fbc-0">Fare basis code</label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-fn-0">Flight no.</label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-dd-0">Departure date</label>
                                    </div>
                                    <div class="columns large-1 end">
                                        <label for="seg-bc-0">Booking channel</label>
                                    </div>
                                </div>
                                <div class="row segment" ng-repeat="segment in item.segments" ng-form="segmentForm">
                                    <div class="columns large-1 text-center" ng-init="initSegment(this)" ng-class="[ getLegClass($index, item.segments)] ">
                                        <input type="checkbox" name="leg" ng-attr-id="seg-leg-{{$index}}" ng-model="segment.legStart" ng-disabled="$index == 0" />
                                    </div>
                                    <div class="columns large-1 airport">
                                        <input type="text" placeholder="XXX" name="dep" ng-attr-id="seg-dep-{{$index}}" ng-model="segment.departure" typeahead="ap.code as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="test/edit-test/typeahead.html" ng-class="{ loading: depAirportLoading }" typeahead-loading="depAirportLoading" autocomplete="off" required class="uppercase" ng-pattern="airportCodePattern" />
                                        <kk-error field="segmentForm.dep" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.dep" type="pattern">Invalid code</kk-error>
                                    </div>
                                    <div class="columns large-1 airport">
                                        <input type="text" placeholder="XXX" name="arr" ng-attr-id="seg-dep-{{$index}}" ng-model="segment.arrival" typeahead="ap.code as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="test/edit-test/typeahead.html" ng-class="{ loading: arrAirportLoading }" typeahead-loading="arrAirportLoading" autocomplete="off" required class="uppercase" ng-pattern="airportCodePattern" />
                                        <kk-error field="segmentForm.arr" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.arr" type="pattern">Invalid code</kk-error>
                                    </div>
                                    <div class="columns large-1 large-offset-1">
                                        <input type="text" ng-model="segment.mkCarrier" name="mkCar" ng-attr-id="seg-mc-{{$index}}" required ng-pattern="airlineCodePattern" placeholder="XX" maxlength="2" class="uppercase" />
                                        <kk-error field="segmentForm.mkCar" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.mkCar" type="pattern">Two char. only</kk-error>
                                    </div>
                                    <div class="columns large-1">
                                        <input type="text" ng-model="segment.opCarrier" name="opCar" ng-attr-id="seg-oc-{{$index}}" required ng-pattern="airlineCodePattern" placeholder="XX" maxlength="2" class="uppercase" />
                                        <kk-error field="segmentForm.opCar" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.opCar" type="pattern">Two char. only</kk-error>
                                    </div>
                                    <div class="columns large-1">
                                        <input type="text" ng-model="segment.fareCode" name="fCode" ng-attr-id="seg-fc-{{$index}}" required ng-pattern="/^[a-zA-Z]$/" placeholder="X" class="uppercase" />
                                        <kk-error field="segmentForm.fCode" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.fCode" type="pattern">Single letter</kk-error>
                                    </div>
                                    <div class="columns large-1">
                                        <input type="text" ng-model="segment.fareBasisCode" name="fbCode" ng-attr-id="seg-fbc-{{$index}}" ng-pattern="/^[a-zA-Z][a-zA-Z0-9]{0,9}$/" placeholder="XXXXXX" class="uppercase" />
                                        <kk-error field="segmentForm.fbCode" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.fbCode" type="pattern">Letters and numbers</kk-error>
                                    </div> 
                                    <div class="columns large-1">
                                        <input type="text" ng-model="segment.flightNo" name="flight" ng-attr-id="seg-fn-{{$index}}" class="uppercase" />
                                    </div> 
                                    <div class="columns large-1">
                                        <input ng-attr-id="seg-dd-{{$index}}" type="datetime" ng-keydown="onDateChange(segment, 'departureDate', $event)" date-time min-view="date" ng-model="segment.departureDate" format="yyyy-MM-dd" name="depDate" />
                                    </div>
                                    <div class="columns large-1">
                                        <select ng-options="option.id as option.name for option in config.bookingChannelOptions" ng-attr-id="seg-bc-{{$index}}" ng-model="segment.bookingChannel"></select>
                                    </div>
                                    <div class="columns large-1 end">
                                        <button ng-if="item.segments.length > 1" type="button" ng-click="deleteSegment($index)" class="tiny secondary" title="Delete segment"><i class="fi-x"></i></button>
                                    </div>
                                </div>
                                <button type="button" ng-click="addSegment()" class="tiny"><i class="fi-plus"></i> Add segment</button>
                            </div>
                            <p ng-if="item.segments.length <= 0">There are no segments yet. Add first one.</p>
                            
                            <hr />
                            
                            <div class="row">
                                <div class="columns large-2">
                                    <label for="item-currency">Currency <small>Required</small></label>
                                    <input type="text" id="item-currency" ng-model="item.currency" name="currency" required ng-pattern="/^[a-zA-Z]{3}$/" maxlength="3" class="uppercase" />
                                    <kk-error field="itemForm.currency" type="required">Required</kk-error>
                                    <kk-error field="itemForm.currency" type="pattern">Code is invalid</kk-error>
                                </div>
                                <div class="columns large-2">
                                    <label for="item-bfare">Base fare <small>Required</small></label>
                                    <input type="number" id="item-bfare" ng-model="item.baseFare" name="bFare" required />
                                    <kk-error field="itemForm.bFare" type="required">Required</kk-error>
                                    <kk-error field="itemForm.bFare" type="number">Invalid number</kk-error>
                                </div>
                                <div class="columns large-2">
                                    <label for="item-sur"><abbr title="Carrier surcharges">Carrier sur.</abbr> <small>Required</small></label>
                                    <input type="number" id="item-sur" ng-model="item.surcharges" name="sur" required />
                                    <kk-error field="itemForm.sur" type="required">Required</kk-error>
                                    <kk-error field="itemForm.sur" type="number">Invalid number</kk-error>
                                </div>
                                <div class="columns large-2 end">
                                    <label for="item-tax">Taxes <small>Required</small></label>
                                    <input type="number" id="item-tax" ng-model="item.taxes" name="tax" required />
                                    <kk-error field="itemForm.tax" type="required">Required</kk-error>
                                    <kk-error field="itemForm.tax" type="number">Invalid number</kk-error>
                                </div>
                            </div>
                            
                            <hr />
                            
                            <div class="row">
                                <div class="columns large-4">
                                    <label for="item-ffp">Program <small>Required</small></label>
                                    <select id="item-ffp" name="ffp" required ng-model="item.ffp" ng-options="program.id as program.name for program in config.ffps"></select>
                                    <kk-error field="itemForm.ffp">Program is required</kk-error>
                                </div>
                                <div class="columns large-3">
                                    <label for="item-status">Status</label>
                                    <select id="item-status" name="stat" ng-model="item.status" ng-options="s.id as s.name for s in (config.ffps | find : item.ffp).tiers">
                                        <option value="">All</option>
                                    </select>
                                </div>
                                <div class="columns large-2 end">
                                    <label for="date-purchase">Purchase date</label>
                                    <input id="date-purchase" type="datetime" ng-keydown="onDateChange(item, 'purchaseDate', $event)" date-time min-view="date" ng-model="item.purchaseDate" format="yyyy-MM-dd" name="purDate" />
                                </div>
                            </div>
                            
                            <hr />
                            
                            <div class="row">
                                <div class="columns large-12">
                                    <label for="item-obj">Test objective</label>
                                    <textarea id="item-obj" name="obj" ng-model="item.objective"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        
                        <div class="panel radius" id="test-result" ng-class="{ highlight: highlightResult }">
                            
                            <div class="row">
                                <div class="columns large-8">
                                    <h4>Calculations</h4>
                                </div>
                                <div class="columns large-2 text-right">
                                    <label class="inline">Minimum miles test</label>
                                </div>
                                <div class="columns large-2">
                                    <ul class="button-group even-2 round">
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: !item.minimumTest, success: item.minimumTest } " ng-model="item.minimumTest" btn-radio="true">Enabled</button></li>
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: item.minimumTest, alert: !item.minimumTest } " ng-model="item.minimumTest" btn-radio="false">Disabled</button></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <hr />
                            
                            <div class="row">
                                <div class="columns large-6">
                                    
                                    <div class="row distance">
                                        <div class="columns large-4">
                                            <strong>Distance:</strong> <abbr ng-if="!item.tests.normal.realDistance" ng-attr-title="Assumes {{ config.normalTest | number : 0 }} miles per segment">{{ config.normalTest | number : 0 }}</abbr><span class="label secondary radius" ng-if="item.tests.normal.realDistance">Auto</span>
                                        </div>
                                        <div class="columns large-8 text-right">
                                            <input type="checkbox" id="normal-dist" ng-model="item.tests.normal.realDistance" name="normRealDist" /> <label for="normal-dist">Apply real distances</label>
                                        </div>
                                    </div>
                                    
                                    <table>
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <th ng-repeat="id in item.tests.config.accrualIds" class="text-right">
                                                    {{ (ffp.accruals | find : id).name }}
                                                </th>
												<th ng-repeat="id in item.tests.config.accrualIds" class="text-right accrual">
                                                    <span ng-class="{ 'revenue-based': (ffp.accruals | find : id).earningbase == 'revenue' }">{{ (ffp.accruals | find : id).alias }}</span>
                                                </th>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="has-form">
                                                <th class="nowrap text-left">Expected</th>
                                                <td ng-repeat="value in item.tests.normal.expected" ng-form="accrualForm">
                                                    <div class="expected" ng-class="{ result: item.tests.normal.success[$index] !== undefined &amp;&amp; showCalculated() }">
                                                        <i ng-class="{ 'fi-check success': item.tests.normal.success[$index], 'fi-x alert' : !item.tests.normal.success[$index] }"></i>
                                                        <input type="number" ng-model="value.v" name="acc" required />
                                                        <kk-error field="accrualForm.acc" type="required">Required</kk-error>
                                                        <kk-error field="accrualForm.acc" type="number">Number is invalid</kk-error>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="segment in item.tests.config.segments" ng-if="showCalculated()">
                                                <th class="nowrap text-left segment">
                                                    {{segment.departure}} <i class="fi-arrow-right"></i> {{ segment.arrival }}
                                                    <div class="etc">
                                                        <span ng-if="item.tests.normal.realDistance">{{ segment.distance | number : 0 }}</span><span ng-if="!item.tests.normal.realDistance">{{ config.normalTest | number : 0 }}</span> miles
                                                    </div>
                                                    <div class="etc" ng-repeat="rule in segment.rules">
                                                        {{rule}}
                                                    </div>
                                                </th>
                                                <td ng-repeat="value in item.tests.normal.perSegment[$index]" class="text-right">
                                                    {{ value | number : 0 }}   
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr ng-if="showCalculated()">
                                                <th class="nowrap text-left">Calculated <div class="etc"><span ng-if="!item.tests.config.status">{{ (ffp.tiers | find : item.tests.config.tierIds[0]).name }}</span><span ng-if="item.tests.config.status">{{ (ffp.tiers | find : item.tests.config.status).name }}</span></div></th>
                                                <td ng-repeat="value in item.tests.normal.calculated" class="text-right">
                                                    {{ value | number : 0 }}
                                                </td>
                                                <td class="action">
                                                    <a ng-click="toggleNormalTiers()" title="Expand tiers"><i ng-class="{ 'fi-plus' : !showNormalTiers, 'fi-minus' : showNormalTiers }"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="showCalculated() &amp;&amp; showNormalTiers">
                                            <tr>
                                                <td class="nowrap text-left">{{ (ffp.tiers | find : item.tests.config.tierIds[0]).name }}</td>
                                                <td ng-repeat="value in item.tests.normal.calculated" class="text-right">
                                                    {{ value | number : 0 }}
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="id in item.tests.config.tierIds | limitTo :  1 - item.tests.config.tierIds.length">
                                                <td class="nowrap text-left">{{ (ffp.tiers | find : id).name }}</td>
                                                <td ng-repeat="value in item.tests.normal.perTier[$index]" class="text-right">
                                                    {{ value | number : 0 }}
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    
                                </div>
                                <div class="columns large-6" ng-if="item.minimumTest">
                                    
                                    <div class="row distance">
                                        <div class="columns large-4">
                                            <strong>Distance:</strong> <abbr ng-if="!item.tests.minimum.realDistance" ng-attr-title="Assumes {{ config.minimumTest | number : 0 }} miles per segment">{{ config.minimumTest | number : 0 }}</abbr><span class="label secondary radius" ng-if="item.tests.minimum.realDistance">Auto</span>
                                        </div>
                                        <div class="columns large-8 text-right">
                                            <input type="checkbox" id="min-dist" ng-model="item.tests.minimum.realDistance" name="minRealDist" /> <label for="min-dist">Apply real distances</label>
                                        </div>
                                    </div>
                                    
                                    <table>
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <th ng-repeat="id in item.tests.config.accrualIds" class="text-right">
                                                    {{ (ffp.accruals | find : id).name }}
                                                </th>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="has-form">
                                                <th class="nowrap text-left">Expected</th>
                                                <td ng-repeat="value in item.tests.minimum.expected" ng-form="accrualForm">
                                                    <div class="expected" ng-class="{ result: item.tests.minimum.success[$index] !== undefined &amp;&amp; showCalculated() }">
                                                        <i ng-class="{ 'fi-check success': item.tests.minimum.success[$index], 'fi-x alert' : !item.tests.minimum.success[$index] }"></i>
                                                        <input type="number" ng-model="value.v" name="acc" required />
                                                        <kk-error field="accrualForm.acc" type="required">Required</kk-error>
                                                        <kk-error field="accrualForm.acc" type="number">Number is invalid</kk-error>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="segment in item.tests.config.segments" ng-if="showCalculated()">
                                                <th class="nowrap text-left segment">
                                                    {{segment.departure}} <i class="fi-arrow-right"></i> {{ segment.arrival }}
                                                    <div class="etc">
                                                        <span ng-if="item.tests.minimum.realDistance">{{ segment.distance | number : 0 }}</span><span ng-if="!item.tests.minimum.realDistance">{{ config.minimumTest | number : 0 }}</span> miles
                                                    </div>
                                                    <div class="etc" ng-repeat="rule in segment.rules">
                                                        {{rule}}
                                                    </div>
                                                </th>
                                                <td ng-repeat="value in item.tests.minimum.perSegment[$index]" class="text-right">
                                                    {{ value | number : 0 }}    
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr ng-if="showCalculated()">
                                                <th class="nowrap text-left">Calculated <div class="etc"><span ng-if="!item.tests.config.status">{{ (ffp.tiers | find : item.tests.config.tierIds[0]).name }}</span><span ng-if="item.tests.config.status">{{ (ffp.tiers | find : item.tests.config.status).name }}</span></div></th>
                                                <td ng-repeat="value in item.tests.minimum.calculated" class="text-right">
                                                    {{ value | number : 0 }}
                                                </td>
                                                <td class="action">
                                                    <a ng-click="toggleMinimumTiers()" title="Expand tiers"><i ng-class="{ 'fi-plus' : !showMinimumTiers, 'fi-minus' : showMinimumTiers }"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="showCalculated() &amp;&amp; showMinimumTiers">
                                            <tr>
                                                <td class="nowrap text-left">{{ (ffp.tiers | find : item.tests.config.tierIds[0]).name }}</td>
                                                <td ng-repeat="value in item.tests.minimum.calculated" class="text-right">
                                                    {{ value | number : 0 }}
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="id in item.tests.config.tierIds | limitTo :  1 - item.tests.config.tierIds.length">
                                                <td class="nowrap text-left">{{ (ffp.tiers | find : id).name }}</td>
                                                <td ng-repeat="value in item.tests.minimum.perTier[$index]" class="text-right">
                                                    {{ value | number : 0 }}
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <button type="button" ng-class="{ success: !itemForm.$dirty, secondary: itemForm.$dirty }" ng-click="run(itemForm)"><i class="fi-play"></i> Run</button>
                        <button type="button" ng-if="!isNew" class="secondary" ng-click="clone(itemForm)"><i class="fi-page-copy"></i> Clone</button>
                        <a kk-nav route="tests" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteTest(item)">Delete</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</section> 