<h3>Unsaved changes</h3>
<p ng-if="!form.$valid">Test is not valid. You need to fill all required fields before running the test.</p>
<p ng-if="form.$valid">You need to save test before running it. Do you want to save it now?</p>

<button ng-if="!form.$valid" ng-click="cancel()" class="small secondary">OK</button>
<button ng-if="form.$valid" ng-click="saveAndRun()" class="small success"><i class="fi-play"></i> Save and run</button> <button ng-if="form.$valid" ng-click="save()" class="small secondary"><i class="fi-save"></i> Save</button> <button ng-if="form.$valid" ng-click="cancel()" class="small secondary right">Cancel</button>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>