.fixed-block > div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 2px 5px -3px #333333;
}

.fixed-block > div > *{
    margin: 0 auto;
}

.fixed-block .button-bar{
    padding-top: 0.5rem;
}