<div class="row">
    <div class="columns large-12">
        <h4><span ng-if="isNew">Add</span><span ng-if="!isNew">Edit</span> redemption</h4>
        
        <form name="redForm" ng-submit="submit(redForm)" novalidate>
            
            <div class="row">
                <div class="columns large-5">
                    <label for="red-name">Name <small>Required</small></label>
                    <input type="text" name="redName" id="red-name" ng-model="item.name" required />
                    <kk-error field="redForm.redName">Name is required</kk-error>
                </div>
                <div class="columns large-2">
                    <label for="red-cur">Currency</label>
                    <input type="text" name="redCur" id="red-cur" ng-model="item.currency" class="uppercase" maxlength="3" ng-pattern="/[a-zA-Z]{3}/" />
                    <kk-error field="redForm.redCur">Input 3-letter code</kk-error>
                </div>
                <div class="columns large-5">
                    <label>&nbsp;</label>
                    <ul class="button-group round even-2">
                        <li><button type="button" class="button tiny" ng-class="{ secondary: item.type != 'award', warning: item.type == 'award' } " ng-model="item.type" btn-radio="'award'">{{ (config.redemptionTypes | find : 'award' : 'code').name }}</button></li>
                        <li><button type="button" class="button tiny" ng-class="{ secondary: item.type != 'upgrade', success: item.type == 'upgrade' } " ng-model="item.type" btn-radio="'upgrade'">{{ (config.redemptionTypes | find : 'upgrade' : 'code').name }}</button></li>
                    </ul>
                </div>
            </div>
            
            <fieldset>
                <legend>Seasonality</legend>
                
                <div class="row">
                    <div class="columns small-5">
                        <label for="season-name-0">Name <small>Required</small></label>
                    </div>
                    <div class="columns small-5 end">
                        <label for="season-hier-0">Hierarchy</label>
                    </div>
                </div>
                
                <div class="row" ng-repeat="season in item.seasons" ng-form="seasonForm">
                    <div class="columns small-5">
                        <input type="text" ng-model="season.name" name="seasonName" ng-attr-id="season-name-{{$index}}" required />
                        <kk-error field="seasonForm.seasonName">Name is required</kk-error>
                    </div>
                    <div class="columns small-5">
                        <select ng-options="hier.id as hier.name for hier in config.seasonHierarchy" ng-model="season.hierarchy" name="seasonHierarchy" required></select>
                    </div>
                    <div class="columns small-2">
                        <a ng-if="item.seasons.length > 1" class="remove" title="Delete" ng-click="removeSeason($index)"><label class="inline"><i class="fi-x"></i></label></a>
                    </div>
                </div>
                
                <p ng-if="item.seasons.length <= 0">There are no seasons specified. At least one is required.</p>
                
                <button type="button" ng-click="addSeason()" class="secondary tiny" title="Add season"><i class="fi-plus"></i> Season</button>
                
            </fieldset>
            
            <button type="submit" ng-class="{ secondary: !redForm.$valid, success: redForm.$valid }" class="button small"><i class="fi-check"></i> Save</button>
            <button type="button" class="button secondary small" ng-click="cancel()">Cancel</button>
            
        </form>
        
    </div>
</div>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>