<!-- Cached particles -->

<script type="text/ng-template" id="components/service/delete-items-modal.html">
    <h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
    <h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
    <p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
    <p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
    <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<script type="text/ng-template" id="ffp-cms/rules/tooltip-accrual.html">
    <strong>{{data.name}}</strong> <span ng-if="data.alias">({{ data.alias }})</span> <br />
    Earning base: {{data.earningBase}}
</script>

<script type="text/ng-template" id="components/tag-input/tag-input.html">

    <div ng-form="tagInput" ng-submit="submit(tagInput)" novalidate class="tag-input-form">
        
        <span class="tag-input-items" ng-class="{ uppercase: uppercase }"><span class="label secondary radius" ng-repeat=" item in collection ">{{ item }} <a ng-click="remove(item)" title="Delete"><i class="fi-x"></i></a></span></span>
        
        <input class="tag-input" ng-class="{ uppercase: uppercase, loading: loading }" ng-disabled="loading" ng-attr-type="{{inputType}}" ng-model="value" name="tag" ng-attr-placeholder="{{placeholder}}" ng-pattern="pattern" ng-attr-maxlength="{{maxlength}}" ng-keypress="onKeyPress($event)" />
        <div class="tag-input-errors">
            <kk-error field="tagInput.tag" type="required">You need to add at least one item</kk-error>
            <kk-error field="tagInput.tag" type="pattern">Input is not valid</kk-error>
            <kk-error field="tagInput.tag" type="unique">Value has been already added</kk-error>
        </div>
        
    </div>
    
</script>

<script type="text/ng-template" id="ffp-cms/edit-ffp/edit-tier.html">

    <div class="edit-tier-modal">
        <div class="row">
            <div class="columns large-12">
                <h3 ng-if="!isNew">Edit tier</h3>
                <h3 ng-if="isNew">Add tier</h3>
            </div>
        </div>
        
        <form name="tierForm" novalidate ng-submit="submit(tierForm)">
            
            <div class="row">
                <div class="columns large-6">
                    <label for="tier-name">Name <small>Required</small></label>
                    <input type="text" name="tierName" id="tier-name" ng-model="tier.name" required />
                    <kk-error field="tierForm.tierName">Name is required</kk-error>
                </div>
                <div class="columns large-6">
                    <label>Apply minimum miles</label>
                    <ul class="button-group round even-2">
                        <li><button type="button" class="tiny" ng-class="{ secondary: !tier.applyMinMiles, success: tier.applyMinMiles }" ng-model="tier.applyMinMiles" btn-radio="true">Yes</button></li>
                        <li><button type="button" class="tiny" ng-class="{ secondary: tier.applyMinMiles, alert: !tier.applyMinMiles }" ng-model="tier.applyMinMiles" btn-radio="false">No</button></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="columns large-6">
                    <label for="tier-status">Tier <small>Required</small></label>
                    <select id="tier-status" name="tierStatus" ng-model="tier.status" ng-options=" status.id as status.name for status in config.statuses " required></select>
                    <kk-error field="tierForm.tierStatus">Status is required</kk-error>
                </div>
                <div class="columns large-3">
                    <label for="tier-db">Distance bonus</label>
                    <input type="number" name="tierDb" id="tier-db" ng-model="tier.distanceBonus" />
                    <kk-error field="tierForm.tierDb" type="number">Invalid number</kk-error>
                </div>
                <div class="columns large-3 end">
                    <label for="tier-rb">Revenue bonus</label>
                    <input type="number" name="tierRb" id="tier-rb" ng-model="tier.revenueBonus" />
                    <kk-error field="tierForm.tierRb" type="number">Invalid number</kk-error>
                </div>
            </div>
            <div class="row">
                <div class="columns large-12">
                    <hr />
                    <ul class="small-block-grid-4 accruals">
                        <li ng-repeat="accrual in tier.accruals" ng-form="accuralForm" ng-if="ffp.accruals | find : accrual.id">
                            <label class="one-line" ng-attr-for="acc-{{$index}}"><abbr ng-attr-title="{{ (ffp.accruals | find : accrual.id).name }}">{{ (ffp.accruals | find : accrual.id).name }}</abbr></label>
                            <input type="number" name="acc" ng-attr-id="acc-{{$index}}" ng-model="accrual.value" />
                            <kk-error field="accuralForm.acc">Invalid number</kk-error>
                        </li>
                    </ul>
                    
                    <label>Geographical rules</label>
                    <kk-tag-input collection="tier.gril" uppercase="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
                    
                    <hr />
                </div>
            </div>
            
            <div class="row">
                <div class="columns large-12">
                    <button type="submit" class="button small" ng-class="{ success: tierForm.$valid &amp;&amp; tierForm.$dirty, secondary: !tierForm.$valid || !tierForm.$dirty}"><i class="fi-check"></i> Save</button>
                    <button type="button" class="button small secondary" ng-click="cancel()">Cancel</button>
                    <button ng-if="!isNew" type="button" class=" small button alert right" ng-click="remove()">Delete</button>
                </div>
            </div>
            
        </form>
        
        <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
    </div>
    
</script>

<!-- END of cached particles -->

<section id="ffp-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Frequent flyer program</h1>
                <h4 class="subheader">{{ item.name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New frequent flyer program</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editFfp" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newFfp">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                
                <div class="row">
                    <div class="columns large-1">
                        <label class="inline right">Program:</label>
                    </div>
                    <div class="columns large-2">
                        <ul class="button-group round even-2">
                            <li><button type="button" class="button tiny" ng-class="{ secondary: !item.active, success: item.active } " ng-model="item.active" btn-radio="true">Enabled</button></li>
                            <li><button type="button" class="button tiny" ng-class="{ secondary: item.active, alert: !item.active } " ng-model="item.active" btn-radio="false">Disabled</button></li>
                        </ul>
                    </div>
                    <div class="columns large-1">
                        <label class="inline right">Earning:</label>
                    </div>
                    <div class="columns large-2">
                        <ul class="button-group round even-2">
                            <li><button type="button" class="button tiny" ng-class="{ secondary: !item.earningActive, success: item.earningActive } " ng-model="item.earningActive" btn-radio="true">Active</button></li>
                            <li><button type="button" class="button tiny" ng-class="{ secondary: item.earningActive, alert: !item.earningActive } " ng-model="item.earningActive" btn-radio="false">Inactive</button></li>
                        </ul>
                    </div>
                    <div class="columns large-1">
                        <label class="inline right">Redemption:</label>
                    </div>
                    <div class="columns large-2">
                        <ul class="button-group round even-2">
                            <li><button type="button" class="button tiny" ng-class="{ secondary: !item.redemptionActive, success: item.redemptionActive } " ng-model="item.redemptionActive" btn-radio="true">Active</button></li>
                            <li><button type="button" class="button tiny" ng-class="{ secondary: item.redemptionActive, alert: !item.redemptionActive } " ng-model="item.redemptionActive" btn-radio="false">Inactive</button></li>
                        </ul>
                    </div>
                    <div class="columns large-1">
                        <label class="inline right">Benefits:</label>
                    </div>
                    <div class="columns large-2">
                        <ul class="button-group round even-2">
                            <li><button type="button" class="button tiny" ng-class="{ secondary: !item.benefitsActive, success: item.benefitsActive } " ng-model="item.benefitsActive" btn-radio="true">Active</button></li>
                            <li><button type="button" class="button tiny" ng-class="{ secondary: item.benefitsActive, alert: !item.benefitsActive } " ng-model="item.benefitsActive" btn-radio="false">Inactive</button></li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-1">
                        <label class="inline right">Attributes:</label>
                    </div>
                    <div class="columns large-2 end">
                        <ul class="button-group round even-2">
                            <li><button type="button" class="button tiny" ng-class="{ secondary: !item.attributesActive, success: item.attributesActive } " ng-model="item.attributesActive" btn-radio="true">Active</button></li>
                            <li><button type="button" class="button tiny" ng-class="{ secondary: item.attributesActive, alert: !item.attributesActive } " ng-model="item.attributesActive" btn-radio="false">Inactive</button></li>
                        </ul>
                    </div>
                    <div class="columns large-8 large-offset-1">
                        <div class="button-bar">
                            <ul class="button-group radius">
                                <li><a class="button tiny" ng-class="{ secondary: !item.earningActive }" kk-nav route="rules" ng-attr-param-ffpid="{{item.id}}" nav-disabled="!item.earningActive"><i class="fi-wrench"></i> Earning rules</a></li>
                                <li><a class="button tiny" ng-class="{ secondary: !item.redemptionActive }" kk-nav route="awards" ng-attr-param-ffpid="{{item.id}}" nav-disabled="!item.redemptionActive"><i class="fi-trophy"></i> Award rules</a></li>
                                <li><a class="button tiny" ng-class="{ secondary: !item.redemptionActive }" kk-nav route="upgrades" ng-attr-param-ffpid="{{item.id}}" nav-disabled="!item.redemptionActive"><i class="fi-arrow-up"></i> Upgrade rules</a></li>
                                <li><a class="button tiny" ng-class="{ secondary: !item.benefitsActive }" kk-nav route="benefitRules" ng-attr-param-ffpid="{{item.id}}" nav-disabled="!item.benefitsActive"><i class="fi-dollar"></i> Benefit rules</a></li>
                                <li><a class="button tiny" ng-class="{ secondary: !item.attributesActive }" kk-nav route="fareAttributeRules" ng-attr-param-ffpid="{{item.id}}" nav-disabled="!item.attributesActive"><i class="fi-eye"></i> Attribute rules</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
                <fieldset>
                    <legend>Basic</legend>
                    
                    <div class="row">
                        <div class="columns large-5">
                            <label for="ffp-name">Name <small>Required</small></label>
                            <input type="text" name="ffpName" id="ffp-name" required ng-model="item.name" />
                            <kk-error field="itemForm.ffpName">Name is required</kk-error>
                        </div>
                        <div class="columns large-2">
                            <label for="ffp-code">Code <small>Required</small></label>
                            <div class="row">
                                <div class="columns small-6">
                                    <input type="text" name="ffpCode" id="ffp-code" required ng-model="item.code" placeholder="XXX" class="uppercase" ng-pattern="/^[A-Za-z0-9]{3}$/" />
                                    <kk-error field="itemForm.ffpCode" type="required">Required</kk-error>
                                    <kk-error field="itemForm.ffpCode" type="pattern">3 letters or digits</kk-error>
                                </div>
                            </div>
                        </div>
                        <div class="columns large-5">
                            <label>Owning airlines <small>Required</small></label>
                            <kk-tag-input required="true" pattern="airlineCodePattern" maxlength="2" collection="item.owningAirlines" uppercase="true"></kk-tag-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns large-3">
                            <label for="ffp-alliance">Alliance</label>
                            <select id="ffp-alliance" name="ffpAlliance" ng-model="item.alliance" ng-options=" alliance.id as alliance.name for alliance in config.alliances ">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="columns large-3">
                            <label>Codeshare earning based on:</label>
                            
                            <input ng-repeat-start="type in config.codeshareEarningTypes" type="radio" ng-model="item.codeshareBase" ng-attr-id="cds-{{$index}}" ng-value="type.code" name="ffpCodeshare" /> 
                            <label class="inline" ng-repeat-end for="cds-{{$index}}">{{type.name}}</label>
                            
                        </div>
                        <div class="columns large-5 large-offset-1">
                            <label>Affiliated airlines</label>
                            <kk-tag-input pattern="airlineCodePattern" maxlength="2" collection="item.affiliatedAirlines" uppercase="true"></kk-tag-input>
                        </div>
                    </div>
                </fieldset>
                
                <fieldset>
                    <legend>URLs</legend>
                    
                    <label for="ffp-website">Website</label>
                    <input type="url" placeholder="http://" id="ffp-website" name="ffpWebsite" ng-model="item.websiteUrl" />
                    <kk-error field="itemForm.ffpWebsite">URL has invalid format. Begin with: "http://".</kk-error>
                    
                    <label for="ffp-pass-url">Password recovery</label>
                    <input type="url" placeholder="http://" id="ffp-pass-url" name="ffpHelpUrl" ng-model="item.helpUrl" />
                    <kk-error field="itemForm.ffpHelpUrl">URL has invalid format. Begin with: "http://".</kk-error>
                    
                    <label for="ffp-signup">Sign up</label>
                    <input type="url" placeholder="http://" id="ffp-signup" name="ffpSignup" ng-model="item.signupUrl" />
                    <kk-error field="itemForm.ffpSignup">URL has invalid format. Begin with: "http://".</kk-error>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Mile types</legend>
                    
                    <div class="row">
                        <div class="columns small-3">
                            
                            <label>Distance measured in:</label>
                    
                            <input ng-repeat-start="type in config.distanceUnits" type="radio" ng-model="item.distanceUnit" ng-attr-id="dist-un-{{$index}}" ng-value="type.unit" name="ffpDistUnit" /> 
                            <label class="inline" ng-repeat-end for="dist-un-{{$index}}">{{type.name}}</label>
                            
                        </div>
                        <div class="columns small-9">
                            
                            <label>Miles expiration:</label>
                            
                            <input type="checkbox" ng-model="item.awardMilesExpire" id="award-miles-expire" name="awardMilesExp" /> <label for="award-miles-expire">Award miles expire</label>
                            
                        </div>
                    </div>
                    
                    
                    <hr />
                    
                    <div class="row">
                        <div class="columns large-3">
                            <label for="accrual-name-0">Name</label>
                        </div>
                        <div class="columns large-3">
                            <label for="accrual-eb-0">Earning base</label>
                        </div>
                        <div class="columns large-3">
                            <label for="accrual-mt-0">Type</label>
                        </div>
                        <div class="columns large-2 end">
                            <label for="accrual-ed-0">Effective date</label>
                        </div>
                    </div>
                    
                    <div class="row" ng-repeat="accrual in item.accruals" ng-form="accrualForm">
                        <div class="columns large-3">
                            <input type="text" name="accrualName" ng-attr-id="accrual-name-{{$index}}" ng-model="accrual.name" required />
                            <kk-error field="accrualForm.accrualName">Name is required</kk-error>
                        </div>
                        <div class="columns large-3">
                            <select ng-attr-id="accrual-eb-{{$index}}" name="accrualEb" ng-model="accrual.earningBase" ng-options=" eb.code as eb.name for eb in config.earningBases " required></select>
                            <kk-error field="accrualForm.accrualEb">Status is required</kk-error>
                        </div>
                        <div class="columns large-3">
                            <select ng-attr-id="accrual-mt-{{$index}}" name="accrualMt" ng-model="accrual.type" ng-options=" type.id as type.name for type in config.accrualTypes " required></select>
                            <kk-error field="accrualForm.accrualMt">Type is required</kk-error>
                        </div>
                        <div class="columns large-2">
                            <input type="datetime" ng-keydown="onAccrualDateChange(accrual, $event)" date-time min-view="date" ng-model="accrual.effectiveDate" format="yyyy-MM-dd" name="accrualEd" id="accrual-ed-{{$index}}" />
                        </div>
                        <div class="columns large-1 end">
                            <button type="button" ng-click="removeAccrual($index)" ng-if="item.accruals.length > 1" class="button tiny secondary" title="Remove accrual"><i class="fi-x"></i></button>
                        </div>
                    </div>
                    
                    <button type="button" ng-click="addAccrual()" class="button tiny" title="Add accrual"><i class="fi-plus"></i> Add accrual type</button>
                    
                </fieldset>
            
                
                <fieldset>
                    <legend>Status tiers</legend>
                    
                    <div class="tier-config">
                        
                        <label>Elite bonus based on:</label>
                        <input ng-repeat-start="type in config.eliteBonusTypes" type="radio" ng-model="item.eliteBonusBase" ng-attr-id="el-bon-{{$index}}" ng-value="type.id" name="ffpEliteBonus" /> 
                        <label class="inline" ng-repeat-end for="el-bon-{{$index}}">{{type.name}}</label>
                        
                        <hr />
                        
                        <label>Minimum miles calculation method</label>
                        <input ng-repeat-start="method in config.minMilesCalcMethods" type="radio" ng-model="item.minMilesCalcMethod" ng-attr-id="mm-met-{{$index}}" ng-value="method.id" name="ffpMMMethod" /> 
                        <label class="inline" ng-repeat-end for="mm-met-{{$index}}">{{method.name}}</label>
                        
                    </div>
                    
                    <div class="alert-box secondary radius" ng-if="newAccrualsExist()">
                        <i class="fi-alert"></i> Save program to edit tier values for new accruals you have added.
                    </div>
                    
                    <div ng-if="item.tiers.length > 0 &amp;&amp; config">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th class="text-left">Name</th>
                                    <th class="text-left">Tier</th>
                                    <th class="text-right"><abbr title="Distance bonus">Dist. bonus</abbr></th>
                                    <th class="text-right"><abbr title="Reveune bonus">Rev. bonus</abbr></th>
                                    <th><abbr title="Apply minimum miles">AMM</abbr></th>
                                    <th>Qualification</th>
                                    <th>Renewal</th>
                                    <th colspan="2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tier in item.tiers">
                                    <th class="text-left">{{ tier.name }}</th>
                                    <td class="text-left">{{ (config.statuses | find : tier.status).name }}</td>
                                    <td class="text-right">{{ tier.distanceBonus | number : 2 }}</td> 
                                    <td class="text-right">{{ tier.revenueBonus | number : 2 }}</td>
                                    <td><i ng-class="{ 'fi-check success' : tier.applyMinMiles, 'fi-x alert' : !tier.applyMinMiles }"></i></td>
                                    <td><i ng-class="{ 'fi-check success' : tier.qualification.length > 0, 'fi-x alert' : tier.qualification.length <= 0 }"></i></td>
                                    <td><i ng-class="{ 'fi-check success' : !tier.applyForRenewal, 'fi-x alert' : tier.applyForRenewal }"></i></td>
                                    <td class="action"><a title="Edit" ng-click="editTier(tier)"><i class="fi-pencil"></i></a></td>
                                    <td class="action alert"><a title="Delete" ng-click="removeTier($index)"><i class="fi-x"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="item.tiers.length <= 0">
                        <p>There are no tiers yet. Add first one.</p>
                    </div>
                    <input type="hidden" name="tiers" ng-model="validTiers" required />
                    <kk-error field="itemForm.tiers">At least one tier is required</kk-error>
                    
                    <button type="button" ng-click="addTier()" class="tiny"><i class="fi-plus"></i> Add tier</button>
                </fieldset>
                
                <fieldset>
                    <legend>Redemption</legend>
                    
                    <div ng-if="item.redemptions.length <= 0">
                        <p>There are no redemptions yet. Add <a ng-click="addRedemption()" title="Add redemption in pop-up window">first one</a>.</p>
                    </div>
                    <div class="row" ng-if="item.redemptions.length > 0 &amp;&amp; config">
                        
                        <div class="columns large-10">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="text-left">Name</th>
                                        <th>Type</th>
                                        <th class="text-left">Seasons</th>
                                        <th class="text-left">Currency</th>
                                        <th colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="red in item.redemptions | orderBy : ['type', 'name'] ">
                                        <th class="text-left">{{red.name}}</th>
                                        <td><span class="label radius" ng-class="{ 'warning': red.type == 'award', 'success': red.type == 'upgrade' }">{{ (config.redemptionTypes | find : red.type : 'code').name }}</span></td>
                                        <td class="text-left">
                                            <span class="label secondary radius" ng-repeat="season in red.seasons">{{season.name}}</span>
                                            <span ng-if="red.seasons.length <= 0">None</span>
                                        </td>
                                        <td class="text-left">{{red.currency}}</td>
                                        <td class="action"><a title="Edit" ng-click="editRedemption(red)"><i class="fi-pencil"></i></a></td>
                                        <td class="action alert"><a title="Delete" ng-click="removeRedemption(red.id)"><i class="fi-x"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <button type="button" ng-click="addRedemption()" class="tiny"><i class="fi-plus"></i> Add redemption</button>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Comment</legend>
                    <textarea placeholder="Your comment" ng-model="item.comment"></textarea>
                </fieldset>

		        <fieldset>
                    <legend>ForLeg settings</legend>
                    
                    <div class="tier-config">
                        
                        <label>Calculation basis:</label>
                        <input type="radio" name="forlegBasis" value="1" id="flb-1" selected/> 
                        <label class="inline" for="flb-1">Segments group</label>
                        <input type="radio" name="forlegBasis" value="0" id="flb-0" /> 
                        <label class="inline" for="flb-0">Single segment</label>
                        
                        <hr />
                        
                        <label>Use Factor/Fixed from segment with:</label>
                        <input type="radio" name="forlegFactor" value="0" id="flf-0" /> 
                        <label class="inline" for="flf-0">Highest earning</label>
                        <input type="radio" name="forlegFactor" value="1" id="flf-1" selected/> 
                        <label class="inline" for="flf-1">Longest distance</label>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Earning calculation target settings</legend>
                    
                    <input type="radio" name="ffpEarningCalculationTargetType" ng-value="type.id" ng-attr-id="earn-calc-tg-{{$index}}" ng-model="item.earningTargetType" ng-repeat-start="type in config.calculationTargetTypes" /> 
                    <label ng-attr-for="earn-calc-tg-{{$index}}" ng-repeat-end>{{type.name}}</label>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Upgrade calculation target settings</legend>
                    
                    <input type="radio" name="ffpUpgradeCalculationTargetType" ng-value="type.id" ng-attr-id="up-calc-tg-{{$index}}" ng-model="item.upgradeTargetType" ng-repeat-start="type in config.calculationTargetTypes" /> 
                    <label ng-attr-for="up-calc-tg-{{$index}}" ng-repeat-end>{{type.name}}</label>
                    
                </fieldset>
                
                <fieldset class="afi-section" ng-if="item.authFormInputs.length > 0">
                    <legend>Member authentication fields</legend>
                    
                    <div ng-if="item.authFormInputs.length > 0">
                        <article ng-repeat="input in item.authFormInputs" ng-form="afiForm">
                            <h6>{{input.originalLabel}} <small>{{input.name}}</small></h6>
                            <div class="row">
                                <div class="columns small-2">
                                    <label ng-attr-for="afi-label-{{$index}}">Label</label>
                                    <input type="text" ng-model="input.label" name="afiLabel" ng-attr-id="afi-label-{{$index}}" ng-attr-placeholder="{{input.originalLabel}}" />
                                </div>
                                <div class="columns small-2">
                                    <label ng-attr-for="afi-type-{{$index}}">Data type <small>Required</small></label>
                                    <select ng-model="input.type" name="afiType" required ng-attr-id="afi-type-{{$index}}" ng-options="t.id as t.name for t in config.authFormInputType | filter : { id: '!select'}" ng-if="!input.options || options.length <= 0"></select>
                                    <select ng-model="input.type" name="afiType" required ng-attr-id="afi-type-{{$index}}" ng-options="t.id as t.name for t in config.authFormInputType" disabled="disabled" ng-if="input.options.length >= 0"></select>
                                    <kk-error type="required" field="afiForm.afiType">Required</kk-error>
                                </div>
                                <div class="columns small-3" ng-if="input.options.length > 0">
                                    <label ng-attr-for="afi-options-{{$index}}">Options preview</label>
                                    <select ng-model="inputOptions" ng-init="inputOptions = input.options[0].value" name="afiOptions" ng-attr-id="afi-options-{{$index}}" ng-options="o.value as o.label for o in input.options"></select>
                                </div>
                                <div class="columns small-3" ng-if="!input.options || input.options.length <= 0">
                                    <label ng-attr-for="afi-pattern-{{$index}}">Pattern</label>
                                    <div class="row collapse">
                                        <div class="columns small-2"><span class="prefix">^</span></div>
                                        <div class="columns small-8">
                                            <input type="text" ng-model="input.pattern" name="afiPattern" ng-attr-id="afi-pattern-{{$index}}" placeholder="[a-zA-Z]+" />
                                        </div>
                                        <div class="columns small-2"><span class="postfix">$</span></div>
                                    </div>
                                </div>
                                <div class="columns small-4">
                                    <label ng-attr-for="afi-hint-{{$index}}">Hint</label>
                                    <input type="text" ng-model="input.hint" name="afiHint" ng-attr-id="afi-hint-{{$index}}" />
                                </div>
                                <div class="columns small-1">
                                    <label ng-attr-for="afi-order-{{$index}}">Order <small>Req.</small></label>
                                    <input type="number" ng-model="input.order" required name="afiOrder" ng-attr-id="afi-order-{{$index}}" />
                                    <kk-error type="required" field="afiForm.afiOrder">Required</kk-error>
                                </div>
                            </div>
                        </article>
                    </div>
                     
                    <button type="button" class="secondary small" ng-click="updateAuthFormInputs()">Reload settings</button>
                    
                </fieldset>
                
                <div class="row">
                    <div class="columns large-12">
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="ffps" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteFfp(item)">Delete</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</section> 