<div class="edit-tier-modal">
    <div class="row">
        <div class="columns large-12">
            <h3 ng-if="!isNew">Edit tier</h3>
            <h3 ng-if="isNew">Add tier</h3>
        </div>
    </div>
    
    <form name="tierForm" novalidate ng-submit="submit(tierForm)">
        
        <div class="row">
            <div class="columns large-3">
                <label for="tier-name">Name <small>Required</small></label>
                <input type="text" name="tierName" id="tier-name" ng-model="tier.name" required />
                <kk-error field="tierForm.tierName">Name is required</kk-error>
            </div>
            <div class="columns large-3">
                <label for="tier-status">Tier <small>Required</small></label>
                <select id="tier-status" name="tierStatus" ng-model="tier.status" ng-options=" status.id as status.name for status in config.statuses " required></select>
                <kk-error field="tierForm.tierStatus">Status is required</kk-error>
            </div>
            <div class="columns large-2">
                <label for="tier-db">Distance bonus</label>
                <input type="number" name="tierDb" id="tier-db" ng-model="tier.distanceBonus" />
                <kk-error field="tierForm.tierDb" type="number">Invalid number</kk-error>
            </div>
            <div class="columns large-2 end">
                <label for="tier-rb">Revenue bonus</label>
                <input type="number" name="tierRb" id="tier-rb" ng-model="tier.revenueBonus" />
                <kk-error field="tierForm.tierRb" type="number">Invalid number</kk-error>
            </div>
            <div class="columns large-2">
                <label>Apply minimum miles</label>
                <ul class="button-group round even-2">
                    <li><button type="button" class="tiny" ng-class="{ secondary: !tier.applyMinMiles, success: tier.applyMinMiles }" ng-model="tier.applyMinMiles" btn-radio="true">Yes</button></li>
                    <li><button type="button" class="tiny" ng-class="{ secondary: tier.applyMinMiles, alert: !tier.applyMinMiles }" ng-model="tier.applyMinMiles" btn-radio="false">No</button></li>
                </ul>
            </div>
        </div> 
        
        <div class="row">
            <div class="columns large-12">
                
                <fieldset>
                    <legend>Qualification</legend>
                    
                    <div class="row">
                        <div class="columns large-12">
                            <input type="checkbox" name="hasRenewal" ng-model="tier.applyForRenewal" id="has-renew" /> <label for="has-renew" >Apply for renewal</label>
                        </div>
                    </div>
                
                    <div class="option-row" ng-class="{ last: $last }" ng-repeat="opt in tier.qualification" ng-form="optForm">
                        
                        <div class="row">
                            <div class="columns small-6">
                                <ul class="small-block-grid-4 accruals">
                                    <li ng-repeat="accrual in opt.accruals" ng-form="accuralForm" ng-if="ffp.accruals | find : accrual.id">
                                        <label class="one-line" ng-attr-for="acc-{{$index}}"><abbr ng-attr-title="{{ (ffp.accruals | find : accrual.id).name }}">{{ (ffp.accruals | find : accrual.id).name }}</abbr></label>
                                        <input type="number" name="acc" ng-attr-id="acc-{{$index}}" ng-model="accrual.value" />
                                        <kk-error field="accuralForm.acc">Invalid number</kk-error>
                                    </li>
                                </ul>
                            </div>
                            <div class="columns small-6">
                                <div class="row">
                                    <div class="columns small-11">
                                        <label>Geographical rules</label>
                                        <kk-tag-input collection="opt.gril" uppercase="true" validation-url="ffp/validate-gril.json"></kk-tag-input>  
                                    </div>
                                    <div class="columns small-1 text-center">
                                        <a ng-click="removeOption(tier.qualification, $index)" ng-show="tier.qualification.length > 1" title="Delete option" class="remove-tier-opt"><i class="fi-x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2 text-right">
                                <div class="legend-wrapper">
                                    <input type="checkbox" ng-model="opt.hasLegend" ng-attr-id="q-has-legend-{{$index}}" /> <label ng-attr-for="q-has-legend-{{$index}}" class="inline">Distribute legend</label>
                                    <span class="legend-tip" ng-if="opt.legend">{{ opt.legend.split("\n").length | number : 0 }} condition(s)</span>
                                </div>
                            </div>
                            <div class="columns large-10">
                                <textarea ng-model="opt.legend" name="legend" ng-required="opt.hasLegend" placeholder="Legend"></textarea>
                                <kk-error field="optForm.legend">This field is required</kk-error>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="columns large-2">
                            <button type="button" class="expand tiny secondary" ng-click="addOption(tier.qualification)" title="Add option below"><i class="fi-plus"></i> Add option</button>
                        </div>
                    </div>
                
                </fieldset>
                
                <fieldset ng-if="!tier.applyForRenewal">
                    
                    <legend>Renewal</legend>
                    
                    <div class="option-row" ng-class="{ last: $last }" ng-repeat="opt in tier.renewal" ng-form="optForm">
                
                        <div class="row" >
                            <div class="columns small-6">
                                <ul class="small-block-grid-4 accruals">
                                    <li ng-repeat="accrual in opt.accruals" ng-form="accuralForm" ng-if="ffp.accruals | find : accrual.id">
                                        <label class="one-line" ng-attr-for="acc-{{$index}}"><abbr ng-attr-title="{{ (ffp.accruals | find : accrual.id).name }}">{{ (ffp.accruals | find : accrual.id).name }}</abbr></label>
                                        <input type="number" name="acc" ng-attr-id="acc-{{$index}}" ng-model="accrual.value" />
                                        <kk-error field="accuralForm.acc">Invalid number</kk-error>
                                    </li>
                                </ul>
                            </div>
                            <div class="columns small-6">
                                <div class="row">
                                    <div class="columns small-11">
                                        <label>Geographical rules</label>
                                        <kk-tag-input collection="opt.gril" uppercase="true" validation-url="ffp/validate-gril.json"></kk-tag-input>  
                                    </div>
                                    <div class="columns small-1 text-center">
                                        <a ng-click="removeOption(tier.renewal, $index)" ng-show="tier.renewal.length > 1" title="Delete option" class="remove-tier-opt"><i class="fi-x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2 text-right">
                                <input type="checkbox" ng-model="opt.hasLegend" ng-attr-id="r-has-legend-{{$index}}" /> <label ng-attr-for="r-has-legend-{{$index}}" class="inline">Distribute legend</label>
                            </div>
                            <div class="columns large-10" ng-if="opt.hasLegend">
                                <textarea ng-model="opt.legend" name="legend" ng-required="opt.hasLegend" placeholder="Legend"></textarea>
                                <kk-error field="optForm.legend">This field is required</kk-error>
                            </div>
                        </div>
                    
                    </div>
                    
                    <div class="row">
                        <div class="columns large-2">
                            <button type="button" class="tiny expand secondary" ng-click="addOption(tier.renewal)" title="Add option below"><i class="fi-plus"></i> Add option</button>
                        </div>
                    </div>
                
                </fieldset>
                
            </div>
        </div>
        
        <div class="row">
            <div class="columns large-12">
                <button type="submit" class="button small" ng-class="{ success: tierForm.$valid &amp;&amp; tierForm.$dirty, secondary: !tierForm.$valid || !tierForm.$dirty}"><i class="fi-check"></i> Save</button>
                <button type="button" class="button small secondary" ng-click="cancel()">Cancel</button>
                <button ng-if="!isNew" type="button" class=" small button alert right" ng-click="remove()">Delete</button>
            </div>
        </div>
        
    </form>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>