<aside class="multiselect">

        <dl class="sub-nav"> 
            <dt>Select:</dt> 
            <dd ng-class=" { active : list.length == selected.length }">
                <a ng-click="selectAll()">All</a>
            </dd>
            <dd ng-class=" { active : selected.length == 0 &amp;&amp; list.length > 0 }">
                <a ng-click="deselect()">None</a>
            </dd>
        </dl>
        
        <ul ng-attr-class="small-block-grid-{{cols}}">
            <li ng-repeat="item in list">
            
                <input type="checkbox" checklist-model="selected" checklist-value="getValue(item)" ng-attr-id="ms-{{id}}-{{$index}}">
                
                <label ng-attr-for="ms-{{id}}-{{$index}}">
                    <span ng-if="label">{{item[label]}}</span>
                    <span ng-if="!label">{{item}}</span>
                </label>
            </li>
        </ul>
    
    </aside>