aside.multiselect .sub-nav{
  background-color: #f1f1f1;
} 

aside.multiselect .sub-nav{
  margin-left:-1.25rem; 
  margin-right:-1.25rem; 
  padding: 0.35rem 1.25rem 0 0.25rem;
}

aside.multiselect ul > li{
  padding-bottom: 0.5rem;
}

aside.multiselect ul > li:hover{
  background-color: transparent;
}

aside.multiselect input[type="checkbox"]{
  margin-bottom: 0;
}

.f-dropdown.multiselect{
  padding: 0 1.25rem;
  min-width: 250px;
  border-radius: 3px;
}