<!doctype html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k_ca" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k_ca" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k_ca" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="30k_ca" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>30K | Customer Area - Earning Calculator</title>

  <link rel="stylesheet" href="../lib/angular-datepicker/angular-datepicker.css" />
  <link rel="stylesheet" href="../css/app.css" />
  <script src="../bower_components/modernizr/modernizr.js"></script>
</head>

<!-- Cached partials -->

<script type="text/ng-template" id="partials/typeahead.html">
  <a>
      <span class="label secondary radius">{{match.model.code}}</span>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

<!-- END OF Cached partials -->

<body class="calc">

  <header class="static">

    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation">

        <ul class="title-area">
          <li class="name">
            <h1><a href="../index.html"><img class="light" src="../img/logo-white.png" alt="30K" /><img class="dark" src="../img/logo.png" alt="30K" /></a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <!-- temporary removed -->
            <!--<li><a href="pricing.html" title="How much does it cost?">Pricing</a></li>-->
            <li><a href="about.html" title="Meet our crew">About us</a>
            </li>
            <li class="space has-dropdown">
              <a href="#" class="round border secondary button">Your Account</a>
              <ul class="dropdown">
                <li><a href="#">Option 1</a>
                </li>
                <li><a href="#">Option 2</a>
                </li>
              </ul>
            </li>
            <li><a href="login.html" title="Welcome on a board">Log in</a>
            </li>
          </ul>
        </section>

      </nav>
    </div>

    <div kk-alerts></div>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <section id="ca-top-nav">
          
          <div class="row">
            <div class="columns large-12">
                
              <div class="icon-bar two-up">
                <a class="item" href="index.html">
                  <img src="../img/icon-dashboard.png" alt="" />
                  <img class="black" src="../img/icon-dashboard-black.png" alt="" />
                  <label>Dashboard</label>
                </a>
                <a class="item active" href="calc.html"> 
                  <img src="../img/icon-money.png" alt="" />
                  <img class="black" src="../img/icon-money-black.png" alt="" />
                  <label>Earning <br />Calculator</label>
                </a>
                <a class="item" href="stats.html">
                  <img src="../img/icon-bar-graph.png" alt="" />
                  <img class="black" src="../img/icon-bar-graph-black.png" alt="" />
                  <label>Statistics</label>
                </a>
                <a class="item" href="api.html">
                  <img src="../img/icon-docs.png" alt="" />
                  <img class="black" src="../img/icon-docs-black.png" alt="" />
                  <label>API Docs</label>
                </a>
                <a class="item" href="invoices.html">
                  <img src="../img/icon-dollar.png" alt="" />
                  <img class="black" src="../img/icon-dollar-black.png" alt="" />
                  <label>Invoices</label>
                </a>
                <a class="item" href="contact.html">
                  <img src="../img/icon-bubble.png" alt="" />
                  <img class="black" src="../img/icon-bubble-black.png" alt="" />
                  <label>Contact</label>
                </a>
              </div>
              
            </div>
          </div>
          
      </section>

  </header>

  <div ng-controller="EarningCalculatorController">
  
    <section id="calc">
  
      <form name="mainForm" novalidate ng-submit="submit(mainForm)">
        <div class="row">
          <div class="columns large-10 large-centered">
            <div class="row">
              <div class="columns medium-7">
                
                <div class="segment" ng-repeat="segment in params.segments">
                  <div ng-form name="segmentForm" novalidate>
                
                    <p ng-if="$index > 0" class="text-center remove-flight"><a ng-click="removeSegment($index)"><span>&ndash;</span> Remove additional flight</a></p>
                    
                    <input type="text" class="tiny" ng-class="{ error: segmentForm.depAirportError, loading: depAirportLoading }" required placeholder="From" name="depAirport" ng-model="segment.depAirport" typeahead="ap as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="partials/typeahead.html" typeahead-loading="depAirportLoading" autocomplete="off" />
                    <kk-error field="segmentForm.depAirport" visible="segmentForm.depAirportError">This field is required</kk-error>
                    
                    <input class="tiny" type="text" ng-class="{ error: segmentForm.arrAirportError, loading: arrAirportLoading }" required placeholder="Destination" name="arrAirport" ng-model="segment.arrAirport" typeahead="ap as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="partials/typeahead.html" typeahead-loading="arrAirportLoading" autocomplete="off" />
                    <kk-error field="segmentForm.arrAirport" visible="segmentForm.arrAirportError">This field is required</kk-error>
                    
                    <div ng-init="initSegmentForm(this)">
                    
                      <div class="hint-wrapper">
                        <input class="tiny" type="text" ng-class="{ error: segmentForm.mkAirlineError }" class="small" required placeholder="Marketing Carrier" name="mkAirline" ng-model="segment.mkAirline" typeahead="al as al.name for al in config.airlines | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="partials/typeahead.html" typeahead-editable="false" autocomplete="off" />
                        <a class="hint-icon" tooltip="Pellentesque dynamic, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris">
                          <img src="../img/qm.png" alt="?" />
                        </a>
                      </div>
                      <kk-error field="segmentForm.mkAirline" visible="segmentForm.mkAirlineError">This field is required</kk-error>
                      
                      <button type="button" ng-class="{ error: segmentForm.bookingClassError }" class="required tiny expand secondary border round dropdown" dropdown-toggle="#fare-codes-dropdown-{{$index}}">
                        <span class="value">
                          <span ng-if="!segment.bookingClass">Booking Class</span>
                          <span ng-if="segment.bookingClass">{{ segment.bookingClass }}</span>
                        </span>
                      </button>
                      <input type="hidden" name="bookingClass" ng-model="segment.bookingClass" required />
                      <kk-error field="segmentForm.bookingClass" visible="segmentForm.bookingClassError">This field is required</kk-error>
                      
                    </div>
                    
                    <div class="gradient-shadow" ng-show="params.showOptional">
                      
                      <div class="row collapse prefixed-input">
                        <div class="columns small-3">
                          <span class="prefix" ng-class="{ alert: segment.flightNoError }">{{ getFlightNoPrefix(segment) }}</span>
                        </div>
                        <div class="columns small-9">
                          <div class="hint-wrapper">
                            <input type="text" ng-class="{ error: segment.flightNoError }" class="tiny" placeholder="Flight No." name="flightNo" ng-pattern="/^[0-9]{1,4}$/" ng-model="segment.flightNo" />
                            <div class="hint-icon" tooltip="Pellentesque dynamic, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris">
                              <img src="../img/qm.png" alt="?" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <kk-error field="segmentForm.flightNo" visible="segment.flightNoError">Code can have 1-4 digits only</kk-error>
                      
                      <div class="hint-wrapper">
                        <input type="text" class="tiny" placeholder="Operating Carrier" name="opAirline" ng-model="segment.opAirline" typeahead="al as al.name for al in config.airlines | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="partials/typeahead.html" typeahead-editable="false" autocomplete="off" />
                        <div class="hint-icon" tooltip="Pellentesque dynamic, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris">
                          <img src="../img/qm.png" alt="?" />
                        </div>
                      </div>
                       
                      <input type="text" class="tiny" date-time min-view="date" ng-init="initDepartureDate(this)" format="dd/MM/yyyy" placeholder="Departure Date"  name="ddate" ng-model="segment.ddate" />
                      
                    </div>
                    
                    <hr class="hr" />
                    
                  </div>
                </div>
                  
              </div>
              <div class="columns medium-4 medium-offset-1">
                
                <button type="button" ng-class="{ error: mainForm.programError }" class="required tiny expand secondary border round dropdown" dropdown-toggle="#program-dropdown">
                  <span class="value">
                    <span ng-if="!params.program">Program</span>
                    <span ng-if="params.program">{{ params.program.name }}</span>
                  </span>
                </button>
                <input type="hidden" name="program" ng-model="params.program" required />
                <kk-error field="mainForm.program" visible="mainForm.programError">This field is required</kk-error>
                
                <div ng-if="params.program.showFare">
                  <input type="text" ng-class="{ error: mainForm.fareError }" class="tiny" placeholder="Fare" name="fare" ng-model="params.fare" required />
                  <kk-error field="mainForm.fare" visible="mainForm.fareError">This field is required</kk-error>
                
                  <button type="button" ng-class="{ error: mainForm.currencyError }" class="tiny required expand secondary border round dropdown" dropdown-toggle="#currency-dropdown">
                    <span class="value">
                      <span ng-if="!params.currency">Currency</span>
                      <span ng-if="params.currency">{{ params.currency }}</span>
                    </span>
                  </button>
                  <input type="hidden" name="currency" ng-model="params.currency" required />
                  <kk-error field="mainForm.currency" visible="mainForm.currencyError">This field is required</kk-error>
                </div>
                
                <div ng-show="params.showOptional">
                  
                  <input type="text" class="tiny" date-time min-view="date" ng-init="initPurchaseDate(this)" format="dd/MM/yyyy" placeholder="Purchase Date"  name="pdate" ng-model="params.pdate" />
                  
                </div>
                
              </div>
            </div>
            
            <div class="row">
              <div class="columns large-12">
                <p class="detail text-center" ng-class="{ active : params.showOptional }">
                  <a ng-click="toggleOptional()"><span class="plus">+</span><span class="minus">&ndash;</span> Detail Search</a>
                </p>
              </div>
            </div>
              
            <div class="row">
              <div class="columns medium-5 medium-centered">
                <button type="submit" class="button large expand round" ng-class="{ secondary: loading }" ng-disabled="loading">
                  <span ng-show="!loading">Calculate Miles</span>
                  <span ng-show="loading" class="loading">Loading&hellip;</span>
                </button>
              </div>
            </div>
  
            <p class="add-flight text-center"><a ng-click="addSegment()"><span>+</span> Add Flight</a></p>
  
          </div>
        </div>
      </form>
      
      <div ng-attr-id="fare-codes-dropdown-{{$index}}" class="f-dropdown fare-codes-dropdown" ng-repeat="segment in params.segments">
        <ul class="medium-block-grid-8 small-block-grid-5">
            <li ng-repeat="code in config.fareCodes" class="text-center">
                <a ng-click="selectBookingClass(segment, code)">{{code}}</a>
            </li>
        </ul>
      </div>
    
      <div id="program-dropdown" class="f-dropdown">
        <ul class="medium-block-grid-2 small-block-grid-1">
            <li ng-repeat="ffp in config.ffps">
                <a ng-click="selectProgram(ffp)">{{ffp.name}}</a>
            </li>
        </ul>
      </div>
    
      <div id="currency-dropdown" class="f-dropdown">
        <ul class="medium-block-grid-5 small-block-grid-4">
            <li ng-repeat="code in config.currencies" class="text-center">
                <a ng-click="selectCurrency(code)">{{code}}</a>
            </li>
        </ul>
      </div>
  
    </section>
  
    <section id="calc-result" ng-show="result">
      <div class="row">
        <div class="columns large-10 large-centered">
          <h4 class="text-center">Earnings to frequent flyer program</h4>
  
          <table>
            <thead>
              <tr>
                <td class="no-wrap text-left">
                  <a class="nav prev" ng-click="selectAccrual(selectedAccrualIndex - 1)" ng-show="selectedAccrualIndex > 0" title="Show values for next accrual type">&nbsp;</a>
                  <a class="nav next" ng-click="selectAccrual(selectedAccrualIndex + 1)" ng-show="selectedAccrualIndex < result.accruals.length - 1" title="Show values for previous accrual type">&nbsp;</a>
                </td>
                <th class="status">Status</th>
                <th ng-repeat="accrual in result.accruals" ng-class="{ selected: selectedAccrualIndex == $index, shadow: selectedAccrualIndex + 1 < result.accruals.length }" class="accrual">{{ accrual.name }}</th>
              </tr>
            </thead>
            <tbody>
              
              <tr ng-repeat="segment in result.segments">
                <th ng-init="initResultSegment(segment)">
                  
                  <div class="row collapse">
                    <div class="columns medium-8 push-4">
                      <strong class="no-wrap">{{ segment.departure }} – {{ segment.arrival }}</strong>
                      <div class="no-wrap">{{ segment.distance | number : 0 }} Miles</div>
                    </div>
                    <div class="columns medium-4 pull-8">
                      <a class="nav" ng-show="result.statuses.length > 1" ng-click="toggleSegment(segment)">
                        <span ng-show="!segment.expanded">+</span>
                        <span ng-show="segment.expanded">&ndash;</span>
                      </a>
                    </div>
                  </div>
                  
                </th>
                <td class="status">
                  <div>{{ result.basicStatus.name }}</div>
                  <div ng-repeat=" status in result.statuses | filter: { id: '!' + result.basicStatus.id }" ng-show="segment.expanded">
                    {{ status.name }}
                  </div>
                </td>
                <td ng-repeat=" accrual in result.accruals " ng-class="{ selected: selectedAccrualIndex == $index, shadow: selectedAccrualIndex + 1 < result.accruals.length }" class="accrual">
                  <div>{{ segment.basicEarnings[accrual.code] | number : 0 }}</div>
                  <div ng-repeat=" status in result.statuses | filter: { id: '!' + result.basicStatus.id }" ng-show="segment.expanded">
                    <span ng-repeat=" statusEarning in segment.earnings | filter: { statusId: status.id } ">
                      {{ statusEarning[accrual.code] | number : 0 }}
                    </span>
                  </div>
                </td>
              </tr>
              
            </tbody>
            <tfoot>
              <tr>
                <th>
                  <div class="row collapse">
                    <div class="medium-8 medium-offset-4 columns">
                      <strong>Total</strong>
                      <div class="no-wrap">{{ result.totalDistance | number : 0 }} Miles</div>
                    </div>
                  </div>
                </th>
                <td class="status">
                  <div>{{ result.basicStatus.name }}</div>
                  <div ng-repeat="status in result.statuses | filter : { isElite: true }">
                    {{ status.name }}
                  </div>
                </td>
                <td ng-repeat=" accrual in result.accruals " ng-class="{ selected: selectedAccrualIndex == $index, shadow: selectedAccrualIndex + 1 < result.accruals.length }" class="accrual">
                  <div>{{ result.basicStatus.totals[accrual.code] | number : 0 }}</div>
                  <div ng-repeat="status in result.statuses | filter : { isElite: true }">
                    {{ status.totals[accrual.code] | number : 0 }}
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </section>

  </div>

  <footer class="light">

    <div class="row">
      <div class="columns medium-8">
        <div class="row">
          <div class="columns large-3 medium-4 small-5">

            <ul class="side-nav">
              <li><a href="press.html">Press</a>
              </li>
              <li><a href="blog.html">Blog</a>
              </li>
            </ul>

          </div>
          <div class="columns small-1 text-center">
            <img class="vr" src="../img/vr.png" alt="" />&nbsp;
          </div>
          <div class="columns large-3 medium-4 small-5">

            <ul class="side-nav">
              <li><a href="faq.html">FAQ</a>
              </li>
              <li class="secondary"><a href="terms.html">Terms</a>
              </li>
              <li class="secondary"><a href="terms.html">Privacy</a>
              </li>
            </ul>

          </div>
          <div class="columns medium-1 text-center end hide-for-small">
            <img class="vr" src="../img/vr.png" alt="" />&nbsp;
          </div>
        </div>

      </div>
      <div class="columns medium-4">

        <ul class="socials">
          <li>
            <a href="#" title="30K on Google+"><img src="../img/icon-google-plus.png" alt="Google+" />
            </a>
          </li>
          <li>
            <a href="#" title="30K on Pinterest"><img src="../img/icon-pinterest.png" alt="Pinterest" />
            </a>
          </li>
          <li>
            <a href="#" title="30K on Facebook"><img src="../img/icon-fb.png" alt="Facebook" />
            </a>
          </li>
          <li>
            <a href="#" title="30K on Twitter"><img src="../img/icon-twitter.png" alt="Twitter" />
            </a>
          </li>
        </ul>

      </div>
    </div>

    <section id="bottom">
      <div class="row">
        <div class="columns large-5">
          <p>Made with <img class="icon" src="../img/icon-black-heart.png" alt="love" /> while <img class="icon" src="../img/icon-black-plane.png" alt="flying" /> around the <img class="icon" src="../img/icon-black-globe.png" alt="globe" />
          </p>
          <p class="copyright">Copyright &copy; 2012-2014 30K. All rights reserved. Patent Pending.</p>
          <p class="copyright">Entypo pictograms by Daniel Bruce &mdash; www.entypo.com</p>
        </div>
      </div>
    </section>

  </footer>

  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/foundation/js/foundation.min.js"></script>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../lib/mm-foundation-tpls-0.5.1.min.js"></script>
  <script src="../lib/angular-datepicker/angular-datepicker.js"></script>
  <script src="../lib/ng-google-chart.js"></script>

  <script src="../js/ng-app.js"></script>
  <script src="../js/ng-app-calc.js"></script>

  <script>
    $(document).foundation();
  </script>

</body>

</html>
