<div class="panel primary">
    <h5><i class="fa fa-chrome"></i> How about switching to Chrome?</h5>
</div>
<div class="panel">
    <p>Our plugin currently works only with <strong>Google Chrome</strong>. Open this page again using Chrome or <a title="Download Google Chrome browser" target="_blank" ng-href="{{chromeUrl}}">download it here</a> first.</p>
    <button ng-click="install()" class="round small">Go to Chrome Store</button>
    <button ng-click="close()" class="transparent round warning small">Ok, got it</button>
</div>
<a class="close-reveal-modal" aria-label="Close" ng-click="close()">&#215;</a>