<div class="panel">
    
    <div class="row">
        <div class="columns large-12">
            <h4>Your itinerary</h4>
        </div>
    </div>
    
    <div class="leg-header">
        <div class="row">
            <div class="columns small-6 medium-3">
                Route
            </div>
            <div class="columns small-6 medium-3 medium-push-6">
                Flight #, Fare
            </div>
            <div class="columns medium-6 medium-pull-3 hide-for-small-only">
                Airline
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <hr />
            </div>
        </div>
    </div>
    
    <div>
        <div class="leg" ng-repeat="leg in itinerary.legs">
            <div class="row flight" ng-repeat="flight in leg.flights">
                <div class="columns small-6 medium-3">
                    <span ng-class="{ bold : $first }" kk-tooltip="{{ getAirportName(flight.departure) }}">{{ flight.departure }}</span> <i class="fa fa-chevron-right chev"></i> <span kk-tooltip="{{ getAirportName(flight.arrival) }}" ng-class="{ bold : $last }">{{ flight.arrival }}</span>
                </div>
                <div class="columns small-6 medium-3 medium-push-6">
                    <span class="etc">{{ flight.flight }}, {{ flight.bookingCode }}</span>
                </div>
                <div class="columns small-12 medium-6 medium-pull-3">
                    <span class="airline-logo-mock">{{ flight.airline }}</span> <span class="etc">{{ (airlines | find : flight.airline : 'code').name }}</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="columns large-4 medium-5">
            <button class="small info expand radius" ng-click="cancel()">Close</button>
        </div>
    </div>
    
</div>    

<a class="close-reveal-modal" aria-label="Close" ng-click="cancel()">&#215;</a>
