<div class="panel">
    <h4>Unlock multi-city</h4>
    <p>Sign up for free to use full version with <strong>Multi-city calculations</strong> included</p>
</div>
<div class="panel callout">
    <a href="sign-up.html" class="button small round"><i class="fa fa-user"></i> Sign up</a> <a class="alt" ng-click="cancel()">Maybe later</a>
</div>