<div class="panel">
    <h4>Unlock Frequent Flyer Wallet</h4>
    <p>Sign up for free to save all your programs in your <strong>Frequent Flyer Wallet</strong>.</p>
</div>
<div class="panel callout">
    <a href="sign-up.html" class="button small round"><i class="fa fa-user"></i> Sign up</a> <a class="alt" ng-click="cancel()">Maybe later</a>
</div>