<div class="panel primary">
    <h5><i class="fa fa-rocket"></i> Seems like today is your lucky day!</h5>
</div>
<div class="panel">
    
    <div kk-alerts key="survey" class="radius"></div>
    <div ng-if="!submitted">
        <p class="lead" style="font-size:1.21875rem;">
            Get our plugin <strong>for free</strong>, including all paid features! Offer only available today!
        </p>
        
        <form novalidate ng-submit="submit(surveyForm)" name="surveyForm" ng-class="{loading : loading}" ng-hide="submitted">
            
            <h6>Who usually books your flights?</h6>
            <input type="radio" name="travel" value="leisure" ng-model="data.travel" id="trav-l" required /> <label for="trav-l">I do it myself</label> 
            <input type="radio" name="travel" value="business" ng-model="data.travel" id="trav-b" required /> <label for="trav-b">My company does it for me</label>
            
            <h6>Which flight search websites do you normally use?</h6>
            <span ng-repeat="site in sites" class="check-site">
                <input type="checkbox" ng-attr-name="site{{site.id}}" id="tsite-{{$index}}" ng-value="site.id" ng-model="data[site.id]" /> <label ng-attr-for="tsite-{{$index}}">{{site.name}}</label>
            </span>
            
            <h6>Your email</h6>
            <input type="email" name="email" required ng-model="data.email" />
            <kk-error field="surveyForm.email">Your email is invalid</kk-error>
            
            <input type="checkbox" name="subscribe" id="subscribe" ng-model="data.subscribe" required /> <label for="subscribe">Subscribe to our mailing list *</label>
            <p class="note">* Required. No worries, we also hate spam. We send no more than one email per month about new features and products. </p>
            
            <hr />
            
            <button type="submit" class="round small" ng-disabled="!surveyForm.$valid">Submit and install extension</button>
            <button ng-click="close()" class="transparent round warning small">Maybe later</button>
            
        </form>
    </div>
    <div ng-if="submitted">
        <h3>Thank you!</h3>
        <p class="lead" style="font-size:1.21875rem;">Now you can add the extension to Chrome.</p>
        <button class="button round" ng-click="install()" title="Add 30K extension to your Google Chrome browser">Add to Chrome</button>
    </div>
</div>
<a class="close-reveal-modal" aria-label="Close" ng-click="close()">&#215;</a>