<div class="panel">
    <div class="flex-video">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/VFfY4uGz-I4?autoplay=1" frameborder="0" allowfullscreen style="max-width: 100%; max-height: 100%; border:1px solid #CCC;"></iframe>
    </div>
</div>

<a class="close-reveal-modal" aria-label="Close" ng-click="close()">&#215;</a>