#customer-collection table thead td,
#customer-collection table thead th{
    vertical-align: bottom;
}

#customer-edit td.progress-bar{
    min-width: 6rem;
}

#customer-edit td.progress-bar .progress{
    background-color: #e1e1e1;
    margin: 0;
    padding: 0;
    border: none;
}

#customer-edit .stats-table{
    margin-top: 3rem;
}

#customer-edit #period-picker{
    min-width: 450px;
}

#customer-edit .url small.error{
    margin-top: -0.75rem;
}

.highlight{
    background-color: #D1FFB5 !important;
}