<div class="panel">
    
    <h5>{{accrual.name}}</h5>
    <p class="etc">{{accrual.description}}</p>
    
    <div ng-if="canShowProgress">
        <article class="section">
            
            <h6 class="section-title"><span>Your progress</span></h6>
            
            <div class="miles-block">
                <div class="row">
                    <div class="columns small-7">
                        Your miles now
                    </div>
                    <div class="columns small-5 text-right">
                        <span class="miles" ng-class="{ award: !accrual.status, status: accrual.status }">{{ getCurrentMiles() | number : 0 }}</span>
                    </div>
                </div>
                <div class="row" ng-if="fare">
                    <div class="columns small-7">
                        After flight
                    </div>
                    <div class="columns small-5 text-right">
                        <span class="miles" ng-class="{ award: !accrual.status, status: accrual.status }">{{ getTotalMiles() | number : 0 }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-7">
                        Required for award
                    </div>
                    <div class="columns small-5 text-right">
                        <span class="miles" ng-class="{ award: !accrual.status, status: accrual.status }">{{ getThreshold() | number : 0 }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-7">
                        Miles left
                    </div>
                    <div class="columns small-5 text-right">
                        <span class="miles" ng-class="{ award: !accrual.status, status: accrual.status }">{{ getRemainingMiles() | number : 0 }}</span>
                    </div>
                </div>
            </div>
            
        </article>
        
        <article class="section">
            
            <h6 class="section-title"><span>Your award <a ng-if="!accrual.status" href="settings.html" target="_blank"><i class="fa fa-pencil"></i></a></span></h6>
             
            <div class="miles-block text-center">
                
                <div class="row">
                    <div ng-if="!accrual.status" class="columns small-12">
                        
                        <p>
                            <span ng-if="awardGoal.awardType == 'flight' ">Flight</span><span ng-if="awardGoal.awardType == 'upgrade' ">Upgrade on flight</span> 
                            from <strong class="nowrap">{{awardGoal.departure.city}} <span kk-tooltip="{{awardGoal.departure.airport}}">{{awardGoal.departure.code}}</span></strong> to <strong class="nowrap">{{awardGoal.arrival.city}} <span kk-tooltip="{{awardGoal.arrival.airport}}">{{awardGoal.arrival.code}}</span></strong>.
                        </p>
                        
                        <p class="etc"><span ng-if="awardGoal.flightType == 'one-way' ">One way</span><span ng-if="awardGoal.flightType == 'round-trip' ">Round trip</span>, {{awardGoal.cabin}} class, {{awardGoal.passengers | number : 0}} <span ng-if="awardGoal.passengers == 1">person</span><span ng-if="awardGoal.passengers > 1">people</span></p>
                        
                    </div>
                    
                    <div class="columns small-12" ng-if="accrual.status">
                        
                        <p>Currently you have <strong>{{ffp.status}}</strong> with {{ getCurrentMiles() | number : 0 }} miles. To reach {{ getThreshold() | number : 0 }} treshold for next, <strong>{{ getNextStatus() }}</strong> you need {{getRemainingMiles()}} more miles.</p>
                        
                    </div>
                </div>
                
            </div>
            
        </article>
        
        <div class="conditions" ng-if="hasConditions()">
            <h6>Applicable conditions</h6>    
            <ul>
                <li ng-repeat="condition in getConditions()">{{condition}}</li>
            </ul>
        </div>
        
    </div>
    
    <button class="info round expand" ng-click="cancel()">Close</button>
    
</div>

<a class="close-reveal-modal" ng-click="cancel()" aria-label="Close">&#215;</a>