<div class="panel">
    
    <h5>Your redemption goal <a href="settings.html" target="_blank"><i class="fa fa-pencil"></i></a></h5>
    
    <p class="award-p">
        <span ng-if="awardGoal.awardType == 'flight' ">Flight</span><span ng-if="awardGoal.awardType == 'upgrade' ">Upgrade on flight</span> 
        from <strong class="nowrap">{{awardGoal.departure.city}} <span kk-tooltip="{{awardGoal.departure.airport}}">{{awardGoal.departure.code}}</span></strong> to <strong class="nowrap">{{awardGoal.arrival.city}} <span kk-tooltip="{{awardGoal.arrival.airport}}">{{awardGoal.arrival.code}}</span></strong>.
    </p>
    
    <p class="etc"><span ng-if="awardGoal.flightType == 'one-way' ">One way</span><span ng-if="awardGoal.flightType == 'round-trip' ">Round trip</span>, {{awardGoal.cabin}} class, {{awardGoal.passengers | number : 0}} <span ng-if="awardGoal.passengers == 1">person</span><span ng-if="awardGoal.passengers > 1">people</span></p>
    
    <article class="section">
        
        <h6 class="section-title"><span>Your progress</span></h6>
        <p class="etc text-center">{{ getAccrualName() }}</p>
        
        <div class="miles-block">
            <div class="row">
                <div class="columns small-7">
                    Your miles
                </div>
                <div class="columns small-5 text-right">
                    <span class="miles" ng-class="{ award: awardGoal, status: !awardGoal }">{{ getCurrentMiles() | number : 0 }}</span>
                </div>
            </div>
            <div class="row">
                <div class="columns small-7">
                    Required for award
                </div>
                <div class="columns small-5 text-right">
                    <span class="miles" ng-class="{ award: awardGoal, status: !awardGoal }">{{ getThreshold() | number : 0 }}</span>
                </div>
            </div>
            <div class="row">
                <div class="columns small-7">
                    Miles left
                </div>
                <div class="columns small-5 text-right">
                    <span class="miles" ng-class="{ award: awardGoal, status: !awardGoal }">{{ getRemainingMiles() | number : 0 }}</span>
                </div>
            </div>
        </div>
        
    </article>
    
    <button class="info round expand" ng-click="cancel()">Close</button>
    
</div>

<a class="close-reveal-modal" ng-click="cancel()" aria-label="Close">&#215;</a>