<div class="row collapse">
    <div class="columns large-7 push-5">
        <div class="inner">
            <h5>Your booking code</h5>
            <p>Your booking code is located ***** you can use the following list to see how you obtain your booking code. We need this to give you the most acurate miles earnings possible.</p>
            <ul class="side-nav" ng-if="samples.length > 0">
                <li ng-repeat="sam in samples" ng-class="{ active: sample == sam }"><a ng-click="selectSample(sam)" title="Show screenshot">{{ sam.name }}</a></li>
            </ul>
        </div>
    </div>
    <div class="columns large-5 pull-7">
        <div class="inner white">
            <img ng-src="{{sample.screenshotUrl}}" alt="Booking code location" ng-if="sample" />
        </div>
    </div>
</div>

<a class="close-reveal-modal" ng-click="cancel()" aria-label="Close">&#215;</a>