<a class="ffp-dropdown-item">
    <div class="row">
        <div class="columns medium-10">
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>  
        </div>
        <div class="columns medium-2 hide-for-small-only">
            <span class="label radius secondary round right" ng-if="match.model.type == 'airline'">Airline</span>
            <span class="label radius secondary round right" ng-if="match.model.type == 'ffp'">Program</span>
        </div>
    </div>
</a>