<div class="panel">
    
    <h5>Next status</h5>
    <p>Currently you have <strong>{{ffp.status}}</strong> with {{ getCurrentMiles() | number : 0 }} miles. To reach {{ getThreshold() | number : 0 }} treshold for next, <strong>{{ getNextStatus() }}</strong> you need {{getRemainingMiles()}} more miles.</p>
    
    <article class="section">
        
        <h6 class="section-title"><span>Your progress</span></h6>
        <p class="etc text-center">{{ getAccrualName() }}</p>
        
        <div class="miles-block">
            <div class="row">
                <div class="columns small-7">
                    Your miles
                </div>
                <div class="columns small-5 text-right">
                    <span class="miles" ng-class="{ award: awardGoal, status: !awardGoal }">{{ getCurrentMiles() | number : 0 }}</span>
                </div>
            </div>
            <div class="row">
                <div class="columns small-7">
                    Next status threshold
                </div>
                <div class="columns small-5 text-right">
                    <span class="miles" ng-class="{ award: awardGoal, status: !awardGoal }">{{ getThreshold() | number : 0 }}</span>
                </div>
            </div>
            <div class="row">
                <div class="columns small-7">
                    Miles left
                </div>
                <div class="columns small-5 text-right">
                    <span class="miles" ng-class="{ award: awardGoal, status: !awardGoal }">{{ getRemainingMiles() | number : 0 }}</span>
                </div>
            </div>
        </div>
        
    </article>
    
    <div class="conditions" ng-if="hasConditions()">
        <h6>Applicable conditions</h6>
        <ul>
            <li ng-repeat="condition in getConditions()">{{condition}}</li>
        </ul>
    </div>
    
    <button class="info round expand" ng-click="cancel()">Close</button>
    
</div>

<a class="close-reveal-modal" ng-click="cancel()" aria-label="Close">&#215;</a>