<section id="airport-edit">
    
    <div class="row">
        <div class="columns large-2">
            <ul class="side-nav">
                <li kk-nav="airlines"><a>Airlines</a></li>
                <li kk-nav="alliances"><a>Alliances</a></li>
                <li kk-nav="airports"><a>Airports</a></li>
                <li kk-nav="countries"><a>Countries</a></li>
                <li kk-nav="zones"><a>Zones</a></li>
                <li kk-nav="continents"><a>Continents</a></li>
                <li kk-nav="flights"><a>Flight numbers</a></li>
                <li kk-nav="benefits"><a>Passenger benefits</a></li>
                <li kk-nav="fareAttributes"><a>Fare attributes</a></li>
                <li kk-nav="atpco"><a>ATPCO codes</a></li>
                <li kk-nav="atpcoGroups"><a>ATPCO groups</a></li>
                <li kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></li>
                <li kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></li>
                <li kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></li>
            </ul>
        </div>
        <div class="columns large-10">
            <hgroup ng-if="!isNew">
                <h1>Airport</h1>
                <h4 class="subheader">{{ item.name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New airport</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li kk-nav route="airports">
                    <a>Airports</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editAirport" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newAirport">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                <div class="row">
                    <div class="columns large-6">
                            
                        <fieldset>
                            <legend>Airport</legend>
                            
                            <label for="item-code">Code <small>Required</small></label>
                            <input type="text" ng-model="item.code" id="item-code" name="code" maxlength="3" ng-pattern="/^[a-zA-Z]{3}$/" required placeholder="XXX" class="uppercase" />
                            <kk-error field="itemForm.code" type="required">This field is required</kk-error>
                            <kk-error field="itemForm.code" type="pattern">Invalid &mdash; IATA code consists three letters</kk-error>
                            
                            <label for="item-name">Name <small>Required</small></label>
                            <input type="text" ng-model="item.name" id="item-name" name="itemname" required />
                            <kk-error field="itemForm.itemname">This field is required</kk-error>
                        
                            <label for="item-parent-code">Parent Airport Code</label>
                            <input type="text" ng-model="item.parent" id="item-parent-code" name="parent" maxlength="3" ng-pattern="/^[a-zA-Z]{3}$/" placeholder="XXX" class="uppercase" />
                            <kk-error field="itemForm.parent" type="required">This field is required</kk-error>
                            <kk-error field="itemForm.parent" type="pattern">Invalid &mdash; IATA code consists three letters</kk-error>
                        </fieldset>
                    </div>
                    <div class="columns large-6">
                            
                        <fieldset>
                            <legend>Location</legend>
                            
                            <label for="item-city-code">City Code <small>Required</small></label>
                            <input type="text" ng-model="item.city.code" id="item-city-code" name="citycode" maxlength="3" ng-pattern="/^[a-zA-Z]{3}$/" required placeholder="XXX" class="uppercase" />
                            <kk-error field="itemForm.citycode" type="required">This field is required</kk-error>
                            <kk-error field="itemForm.citycode" type="pattern">Invalid &mdash; IATA code consists three letters</kk-error>
                            
                            <label for="item-city-name">City Name <small>Required</small></label>
                            <input type="text" ng-model="item.city.name" id="item-city-name" name="cityname" required />
                            <kk-error field="itemForm.cityname">This field is required</kk-error>
                            
                            <div class="row">
                                <div class="columns small-7">
                                    <label for="item-country">Country <small>Required</small></label>
                                    <select ng-model="item.country.code" name="country" ng-options=" country.code as country.name for country in countries | filter : { active: true } " required>
                                        <option value="">Select</option>
                                    </select>
                                    <kk-error field="itemForm.country">This field is required</kk-error>  
                                </div>
                                <div class="columns small-5">
                                    <label>Continent</label>
                                    <div class="disabled-input">{{ getContinent() }}</div>
                                </div>
                            </div>
                            
                        </fieldset>
                            
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-12">
                        <fieldset>
                            <legend>Position</legend>
                            
                            <div class="row">
                                <div class="columns large-6">
                                    <label for="item-lat">Latitude <small>Required</small></label>
                                    <input type="text" ng-model="item.pos.lat" id="item-lat" name="lat" ng-pattern="/^[+-]?\d+(\.\d+)?$/" required />
                                    <kk-error field="itemForm.lat" type="required">This field is required</kk-error>
                                    <kk-error field="itemForm.lat" type="pattern">Number is not valid. Use dot as a decimal separator.</kk-error>
                                </div>
                                <div class="columns large-6">
                                    <label for="item-long">Longitude <small>Required</small></label>
                                    <input type="text" ng-model="item.pos.long" id="item-long" name="long" ng-pattern="/^[+-]?\d+(\.\d+)?$/" required />
                                    <kk-error field="itemForm.long" type="required">This field is required</kk-error>
                                    <kk-error field="itemForm.long" type="pattern">Number is not valid. Use dot as a decimal separator.</kk-error>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        <button ng-if="isNew" ng-click="submitAndStay(itemForm)" type="button" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-plus"></i> Save and add another</button>
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="airports" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteAirport(item)">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section> 