i.error{
    color: #F04124;
}

i.success{
    color: #43AC6A;
}

table{
    width: 100%;
}

#program-enable, 
label[for="program-enable"],
#program-ext-login, 
label[for="program-ext-login"]{
    margin-bottom: 0;
}

#add-program-status,
#add-rule-status,
#add-miles-accrual{
    margin-top: 1.4em;
}

.centered{
    text-align: center;
}

input.tag-input{
    display: inline;
    width: 6em;
}

input#rule-geo,
input#rule-geo-cc{
    width: 18em;
}

.tag-wrapper span.label{
    line-height: 2;
}

.tag-wrapper span.label a,
#rules-grid span.label a{
    color: #fff;
}

.tag-wrapper span.label a:hover,
#rules-grid span.label a:hover{
    color: #ddd;
}

#rules-grid span.label.gray{
    background: #eee;
    color: #333;
}

#program-codeshare{
    margin-bottom: 0;
}

#program-airlines-wrapper + hr{
    margin-top: 0.25em;
}

#loader-overlay{
    background-image: url(../img/ajax.gif);
    background-position: center 45%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body.alert-mode{
    background-image: url(../img/alert.png);
    background-repeat: repeat-y;
    background-position: left top;
    /*background-color: #e7fcc9;*/
    background-color: #f3fedc;
}

input[type="submit"],
.button-li{
    margin-right: 2em;
}

#rule-creator-grid thead th{
    text-align: center;
}

#rule-creator-grid tbody td{
    padding-left: 0;
    padding-right: 0;
}

.panel fieldset{
    background-color: #fff;
}

.panel legend{
    border: 1px solid #d9d9d9;
}

label[for="rule-enable"]{
    margin-top: 2.25em;
}

#rule-airline-fieldset hr{
    margin-top: 0;
}

.icon-chevron-right:after{
    content: '>';
}

.icon-chevron-left:before{
    content: '<';
}

.fare-codes{
    white-space: nowrap;
}

.fare-codes .label{
    margin: 0 0.1em;
}

#rules-grid td,
#rules-grid th{
    text-align: center;
}

.nowrap{
    white-space: nowrap;
}


fieldset{
    margin: 1rem 0;
    padding: 1rem;
}

fieldset legend{
    font-size: 0.85rem;
}

label{
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
    font-size: 0.75rem;
    height: 2rem;
    margin: 0 0 0.75rem;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select{
    margin: 0 0 0.75rem;
    font-size: 0.75rem;
    padding: 0.4rem;
}

hr{
    margin: 0.5rem 0 1rem;
}

button, .button{
    margin-bottom: 0.5rem;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td{
    font-size: 0.75rem;
    padding: 0.3rem 0.5rem 0.5rem;
}

table tr th, table tr td{
    font-size: 0.75em;
    padding: 0.3rem 0.5rem;
}

.inline-list{
    margin: 0 0 0.25rem -1.375rem;
}

.quick-edit input, .quick-edit select{
    margin-bottom: 0;
}

.quick-edit input[type="text"]{
    padding: 0.25em;
}

table tr.quick-edit td{
    padding: 0.15rem 0.1rem;
}

.quick-edit select{
    min-width: 9rem;
}

table tr.quick-edit input[type="text"].error,
table tr.quick-edit select.error{
    border-color: #F04124;
}

#alerts-wrapper{
    position: relative;
}

#alerts{
    position: absolute;
    top: 55px;
    width: 100%;
    z-index: 999;
}

.validated-field small.error{
    display: none;
    margin-top: -1em;
}

.show-errors .validated-field.error small.error{
    display: block;
}

.validated-field.no-margin small.error{
    margin-top: 0;
}

.validated-field.tag-wrapper .invalid small.error{
    display: block;
}

td.error{
    border: 1px solid #F04124;
    font-weight: bold;
}

td.success{
    border: 1px solid #5DA423;
    font-weight: bold;
}

.rule-all.row{
    max-width: 72.5em;
}

i.large{
    font-size: 1.5em;
}

.test-all table input[type="checkbox"]{
    margin-bottom: 0;
}

.test-edit .segment{
    position: relative;
}

.test-edit .segment hr{
    position: absolute; 
    width: 100%; 
    z-index: -1; 
    border-width: 1em; 
    top: -1.8em; 
    border-color: #f6f6f6;
}

.test-edit .segment .config{
    position: absolute;
    top: -1.25em;
    width: 100%;
}

.test-edit .segment:first-child .config{
    top: -2.25em;
}

.test-edit .segment i.fi-x{
    position: relative;
    top: -0.75em;
}

.test-edit .segment .validated-field .config + small.error{
    margin: 1em -0.875rem 2rem 0;
}

.test-edit hgroup{
    margin-bottom: 1.25em;
}

.test-edit hgroup h5{
    margin-bottom: 0;
    line-height: 1;
}

.test-edit hgroup small{
    color: #666;
}

.test-edit table thead{
    text-transform: uppercase;
}

.test-edit table + small.error{
    margin-top: -1.3rem
}

.test-edit .by-segment td{
    font-weight: normal;
}

.test-edit .by-status td{
    font-weight: normal;
}

.test-edit .by-status th{
    text-align: right;
}

.test-edit .by-status td,
.test-edit .by-status th{
    color: #666;
}

.test-edit table input[type="text"]{
    margin-bottom: 0;
}

.test-edit input[type="submit"]{
    margin-right: 0;
}

.pages{
    padding: 0.5em;
    margin-bottom: 1.25em;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #fff;
}

.uppercase{
    text-transform:uppercase;
}

.top-test-edit .button,
.top-rule-edit .button{
    margin-top: 1.25em;
}

.top-rule-all a{
    display: inline-block;
    margin-top: 2.25em;
}

#rules-grid tr.even{
    background: #f9f9f9;
}

#rules-grid tr.odd{
    background: #f3f3f3;
}

#rules-grid tr.first td{
    border-top: 2.5em solid #fff;
}

fieldset{
    background-color: #fff;
}

#ffp table tbody tr:hover,
#tests table tbody tr:hover,
#rules-grid tbody tr:hover{
    background-color: #FFF1A8;
}

span.airline-code.secondary{
    background-color: #4db767;
    color: #fff;
}

.breadcrumbs{
    background-color: #f1f1f1;
    border-color: #eee;
}

.show-rules-btn{
    margin-top: 1rem;
}

.tooltip{
    font-size: 0.65rem;
}

td.has-ranges,
td.has-comment{
    position: relative !important;
}

td.has-ranges:after,
td.has-comment:after{
    border-color: transparent transparent #4db767;
    border-style: solid;
    border-width: 0 0 16px 16px;
    bottom: 0;
    color: #fff;
    font-size: 0.5rem;
    height: 0;
    line-height: 2.75em;
    position: absolute;
    right: 0;
    text-indent: -1em;
    width: 0;
}

td.has-ranges:after{
    content: "R";
}

td.has-comment:after{
    content: "C";
}

td.has-comment i.fi-clock{
    color:#999;
    margin-right: 0.25rem;
    font-size:0.875rem;
}

tr.limited-validity td{
    color: #777;
}

tr.limited-validity td .has-tip{
    color: #777;
}

.earning-base abbr{
    color: #5da423;
}

.earning-base.distance abbr{
    color: #129cbc;
}

.remove-mile-type{
    line-height: 1.75;
}