<section id="atpco-collection">
    
    <div class="row">
        <div class="columns large-2">
            <ul class="side-nav">
                <li kk-nav="airlines"><a>Airlines</a></li>
                <li kk-nav="alliances"><a>Alliances</a></li>
                <li kk-nav="airports"><a>Airports</a></li>
                <li kk-nav="countries"><a>Countries</a></li>
                <li kk-nav="zones"><a>Zones</a></li>
                <li kk-nav="continents"><a>Continents</a></li>
                <li kk-nav="flights"><a>Flight numbers</a></li>
                <li kk-nav="benefits"><a>Passenger benefits</a></li>
                <li kk-nav="fareAttributes"><a>Fare attributes</a></li>
                <li kk-nav="atpco"><a>ATPCO codes</a></li>
                <li kk-nav="atpcoGroups"><a>ATPCO groups</a></li>
                <li kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></li>
                <li kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></li>
                <li kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></li>
            </ul>
        </div>
        <div class="columns large-10">
            <h1>ATPCO codes</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li class="current" kk-nav route="atpco">
                    <a>ATPCO codes</a>
                </li>
            </ul>
        
            <div ng-if="items &amp;&amp; config">
                <div ng-if="items.length > 0">
                    
                    <form class="filters" name="filterForm" novalidate ng-submit="submitFilters(filterForm)">
                        <div class="row collapse">
                            <div class="columns small-1">
                                <label for="filter-subcode">Subcode</label>
                                <input type="text" id="filter-subcode" maxlength="3" name="fsubcode" ng-model="filters.subcode" />
                            </div>
                            <div class="columns small-2">
                                <label for="filter-group">Group</label>
                                <select id="filter-group" name="fgroup" ng-model="filters.group" ng-options="group.code as group.name for group in config.groups" ng-change="onChange('group')">
                                    <option value="">None</option>
                                </select>
                            </div>
                            <div class="columns small-2">
                                <label for="filter-subgroup">Subgroup</label>
                                <select id="filter-subgroup" name="fsubgroup" ng-model="filters.subgroup" ng-options="subgroup.code as subgroup.name for subgroup in subgroups" ng-change="onChange('subgroup')" ng-disabled="subgroups.length <= 0">
                                    <option value="">None</option>
                                </select>
                            </div>
                            <div class="columns small-2">
                                <label for="filter-desc1">Description 1</label>
                                <select id="filter-desc1" name="fdesc1" ng-model="filters.desc1" ng-options="d1.code as d1.name for d1 in desc1" ng-change="onChange('desc1')" ng-disabled="desc1.length <= 0">
                                    <option value="">None</option>
                                </select>
                            </div>
                            <div class="columns small-2">
                                <label for="filter-desc2">Description 2</label>
                                <select id="filter-desc2" name="fdesc2" ng-model="filters.desc2" ng-options="d2.code as d2.name for d2 in desc2" ng-change="onChange('desc2')" ng-disabled="desc2.length <= 0">
                                    <option value="">None</option>
                                </select>
                            </div>
                            <div class="columns small-2">
                                <label for="filter-name">Name</label>
                                <input type="text" id="filter-name" name="fname" ng-model="filters.name" />
                            </div>
                            <div class="columns small-1">
                                <label>&nbsp;</label>
                                <ul class="button-group atpco-filter-btn even-2">
                                    <li><button class="tiny button success" type="submit"><i class="fi-check"></i></button></li>
                                    <li><button class="tiny button alert" type="button" ng-click="resetFilters(filterForm)"><i class="fi-x"></i></button></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" kk-nav route="newAtpco"><i class="fi-plus"></i> Add new</a></li>
                        </ul>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">No</th>
                                <th class="text-left">Subcode</th>
                                <th class="text-left">Group</th>
                                <th class="text-left">Subgroup</th>
                                <th class="text-left">Description 1</th>
                                <th class="text-left">Description 2</th>
                                <th class="text-left">Name</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" item in items ">
                                <td class="text-left">{{ $index + 1 }}</td>
                                <td class="text-left">{{ item.subcode }}</td>
                                <td class="text-left">{{ (config.groups | find : item.group : 'code').name }}</td>
                                <td class="text-left">
                                    <span ng-if="item.subgroup &amp;&amp; (config.subgroups | find : item.subgroup : 'code')">
                                        {{ (config.subgroups | find : item.subgroup : 'code').name }}
                                    </span>
                                    <i class="fi-x" ng-if="!item.subgroup || !(config.subgroups | find : item.subgroup : 'code')"></i>
                                </td>
                                <td class="text-left">
                                    <span ng-if="item.desc1 &amp;&amp; (config.desc1 | find : item.desc1 : 'code')">
                                        {{ (config.desc1 | find : item.desc1 : 'code').name }}
                                    </span>
                                    <i class="fi-x" ng-if="!item.desc1 || !(config.desc1 | find : item.desc1 : 'code')"></i>
                                </td>
                                <td class="text-left">
                                    <span ng-if="item.desc2 &amp;&amp; (config.desc2 | find : item.desc2 : 'code')">
                                        {{ (config.desc2 | find : item.desc2 : 'code').name }}
                                    </span>
                                    <i class="fi-x" ng-if="!item.desc2 || !(config.desc2 | find : item.desc2 : 'code')"></i>
                                </td>
                                <th class="text-left">{{ item.name }}</th>
                                <td class="action"><a title="Edit" kk-nav route="editAtpco" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                <td class="action alert"><a title="Delete" ng-click="deleteItem(item)"><i class="fi-x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="pagination-centered">
                        <pagination total-items="totalItems" page="params.page" items-per-page="params.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)" class="pagination-sm"></pagination>
                    </div>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no ATPCO codes. Change your filters or create <a kk-nav route="newAtpco">first ATPCO code</a>.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>