<h3>Delete ininerary?</h3>
<p>Are you sure you want to delete <strong>{{it.name}}</strong> itinerary?</p>
<button ng-click="confirm()" class="alert"><i class="fi-x"></i> Delete</button>
<button ng-click="cancel()" class="secondary">Cancel</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>