<section id="it-edit">
    <form name="itForm" ng-submit="save()">
        <div class="row">
            <div class="columns large-12" ng-if="isLoaded()">
                <h1>Miles Optimizer <small>Edit itinerary</small></h1>
                
                <accordion close-others="false">
                    <accordion-group heading="Basic" is-open="true">
                        <div class="row">
                            <div class="columns large-6 last" ng-class="{ 'error': !itForm.itName.$valid }">
                                <label for="it-name" ng-class="{ 'error': !itForm.itName.$valid }">Name <small>Required</small></label>
                                <input type="text" name="itName" id="it-name" ng-model="it.name" required />
                                <small class="error">This field is required</small>
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Trips" is-open="true" ng-show="it.id">
                        <div ng-show="it.trips.length > 0">
                            <nav class="top-bar toolbar" data-topbar>
                                <section class="top-bar-section">
                                    <ul class="left">
                                        <li class="has-form"><button type="button" ng-click="addTrip()"><i class="fi-plus"></i> Add</button></li>
                                        <li class="has-form"><button type="button" ng-click="editTrip(selectedTrip)" ng-disabled="!selectedTrip">Edit</button></li>
                                    </ul>
                                    <ul class="right">
                                        <li class="has-form"><button type="button" class="button alert" ng-click="removeTrip(selectedTrip)" ng-disabled="!selectedTrip">Delete</button></li>
                                    </ul>
                                </section>
                            </nav>
                            
                            <table class="its-trips">
                                <thead>
                                    <tr>
                                        <td></td>
					<td>Trip</td>
                                        <th class="text-left">Route</th>
                                        <td class="text-left">Top Program</td>
                                        <td><abbr title="Redeemable Miles">RDM</abbr></td>
                                        <td><abbr title="Elite Qualifying Miles">EQM</abbr></td>
                                        <td><abbr title="Elite Qualifying Segments">EQS</abbr></td>
                                        <td><abbr title="Elite Qualifying Points">EQP</abbr></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="trip in it.trips" ng-class="{ selected: trip.id == selectedTrip.id }" ng-dblclick="editTrip(trip)" ng-click="selectTrip(trip)">
                                        <td><i class="fi-check"></i></td>
					<td>{{$index + 1}}</td>
                                        <td class="nowrap text-left"><span class="label" ng-repeat="airport in trip.route">{{airport.code | uppercase }}</span></td>
                                        <td class="text-left">{{trip.program}}</td>
                                        <td>{{ getTotalTripEarnings(trip, 'rdm') | number : 0}}</td>
                                        <td>{{ getTotalTripEarnings(trip, 'eqm') | number : 0}}</td>
                                        <td>{{ getTotalTripEarnings(trip, 'eqs') | number : 0}}</td>
                                        <td>{{ getTotalTripEarnings(trip, 'eqp') | number : 0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-hide="it.trips.length > 0">
                            <p>There are no trips yet. Add <a ng-click="addTrip()">first one</a>.</p>
                        </div>
                    </accordion-group>
                    <accordion-group ng-show="it.trips.length > 0" heading="Earnings" is-open="true">
                        <div class="earnings">
                            <nav class="top-bar toolbar">
                                <dl class="sub-nav">
                                    <dt>Show:</dt>
                                    <dd ng-class="{ active : showMileType == 'rdm' }"><a title="Redeemable Miles" ng-click="setMileType('rdm')">RDM</a></dd>
                                    <dd ng-class="{ active : showMileType == 'eqm' }"><a title="Elite Qualifying Miles" ng-click="setMileType('eqm')">EQM</a></dd>
                                    <dd ng-class="{ active : showMileType == 'eqs' }"><a title="Elite Qualifying Segments" ng-click="setMileType('eqs')">EQS</a></dd>
                                    <dd ng-class="{ active : showMileType == 'eqp' }"><a title="Elite Qualifying Points" ng-click="setMileType('eqp')">EQP</a></dd>
                                </dl>
                            </nav>
                            <div class="row collapse">
                                <div class="columns small-3">
                                    <table class="alliances">
                                        <thead>
                                            <tr><th>Program</th></tr>
                                            <tr><th class="text-right">Distance</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="program in config.programs | filter : getApplicablePrograms | orderBy : 'order' : sortDir">
                                                <td ng-style="{ backgroundColor: program.color }"><span class="nowrap">{{program.name}}</span></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="text-right">Total</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="columns small-7">
                                    <div class="scroll-container">
                                        <table>
                                            <thead>
                                                <tr class="its-trips">
                                                    <td ng-repeat="trip in it.trips" ng-class="{ selected: sortBy &amp;&amp; sortBy.id == trip.id }">
                                                        <span class="nowrap">
                                                            <span class="has-tip" tooltip="{{ getTripTooltip(trip) }}" tooltip-placement="bottom">Trip {{$index + 1}}</span>
                                                            
                                                            <a title="Lowest on top" ng-click="setOrder(trip, false)" ng-class="{ active: sortBy &amp;&amp; sortBy.id == trip.id &amp;&amp; !sortDir }"><i class="fi-arrow-down"></i></a>
                                                            <a title="Highest on top" ng-click="setOrder(trip, true)" ng-class="{ active: sortBy &amp;&amp; sortBy.id == trip.id &amp;&amp; sortDir }"><i class="fi-arrow-up"></i></a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td ng-repeat="trip in it.trips">
                                                        {{ trip.distance | number : 0 }} miles
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="program in config.programs | filter : getApplicablePrograms | orderBy : 'order' : sortDir">
                                                    <td ng-repeat="trip in it.trips">
                                                        {{ getEarnings(program, trip, showMileType) | number : 0 }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td ng-repeat="trip in it.trips">
                                                        {{ getTotalTripEarnings(trip, showMileType) | number : 0}}
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="columns small-2">
                                    <table class="totals">
                                        <thead>
                                            <tr>
                                                <th class="text-left" ng-class="{ selected: !sortBy }">
                                                    Total
                                                    <span class="nowrap right">
                                                        <a title="Lowest on top" ng-click="setOrder(false, false)" ng-class="{ active: !sortBy &amp;&amp; !sortDir }"><i class="fi-arrow-down"></i></a>
                                                        <a title="Highest on top" ng-click="setOrder(false, true)" ng-class="{ active: !sortBy &amp;&amp; sortDir }"><i class="fi-arrow-up"></i></a>
                                                    </span>
                                                </th>
                                            </tr>
                                            <tr><td>&nbsp;</td></tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="program in config.programs | filter : getApplicablePrograms | orderBy : 'order' : sortDir">
                                                <th class="text-left">{{getTotalProgramEarnings(program, showMileType) | number : 0}}</th>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr><td>&nbsp;</td></tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                
                <button type="submit" ng-class="{ success : itForm.$valid, secondary : !itForm.$valid }"><i class="fi-save"></i> Save</button>
                <a class="button secondary" kk-nav route="its">Cancel</a>
                <a ng-hide="create" class="alert right button" ng-click="remove()"><i class="fi-x"></i> Delete</a>
            </div>
        </div>
    </form>
</section>