<section id="its">
    <div class="row">
        <div class="columns large-12">
            <h1>Miles Optimizer <small>Itineraries</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="columns large-8">
        
            <nav class="top-bar toolbar" data-topbar>
                <section class="top-bar-section">
                    <ul class="left">
                        <li class="has-form">
                            <a kk-nav route="itNew" class="button"><i class="fi-plus"></i> Add</a>
                        </li>
                    </ul>
                </section>
            </nav>
        
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <th class="text-left">Name</th>
                        <td class="text-left">Top Program</td>
                        <td><abbr title="Total Flown Distance">Distance</abbr></td>
                        <td><abbr title="Redeemable Miles">RDM</abbr></td>
                        <td><abbr title="Elite Qualifying Miles">EQM</abbr></td>
                        <td><abbr title="Elite Qualifying Segments">EQS</abbr></td>
                        <td><abbr title="Elite Qualifying Points">EQP</abbr></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="it in its" ng-mouseenter="onItMouseEnter(it)" ng-mouseleave="onItMouseLeave(it)" ng-dblclick="editIt(it)" ng-click="onItClick(it)" ng-class="{ selected: it.id == currentIt.id || it.id == selectedIt.id }">
                        <td>{{$index + 1}}</td>
                        <th class="text-left">{{it.name}}</th>
                        <td class="text-left">{{it.program}}</td>
                        <td>{{it.distance | number : 0}} miles</td>
                        <td>{{it.rdm | number : 0}}</td>
                        <td>{{it.eqm | number : 0}}</td>
                        <td>{{it.eqs | number : 0}}</td>
                        <td>{{it.eqp | number : 0}}</td>
                        <td><a kk-nav route="itEdit" ng-attr-param-id="{{it.id}}" title="Edit itinerary">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="columns large-4">
            <div class="panel its-trips" ng-show="currentIt">
                <h6>{{currentIt.name}}'s Trips</h6>
                <ul class="side-nav">
                    <li ng-repeat="trip in currentIt.trips">
                        <span class="label" ng-repeat="airport in trip.route">{{airport.code | uppercase}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>