<!-- Cached partials -->

<script type="text/ng-template" id="partials/typeahead.html">
    <a>
        <span class="label secondary radius">{{match.model.code}}</span>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>

<!-- /end/ Cached partials -->

<section id="trip-edit">
    <form name="tripForm" ng-submit="save()">
        <div class="row">
            <div class="columns large-12">
                <h1>Miles Optimizer <small>Edit trip</small></h1>
                
                <accordion close-others="false" ng-if="trip &amp;&amp; config">
                    <accordion-group heading="Configuration" is-open="true">
                        <div class="trip-it-config">
                        
                            <div class="row">
                                <div class="columns small-2 small-offset-1">
                                    
                                    <label for="route-0" class="text-center">Itinerary <small>Required</small></label>
                                    <div ng-form="airlinesForm">
                                        <div ng-repeat="airport in trip.route" ng-form="airlineForm">
                                            <div ng-class="{ 'error': !airlineForm.inputAirport.$valid }">
                                                <input class="airport-input" ng-attr-tabindex="{{10 + $index * 5 + 1}}" type="text" placeholder="Type name or code" name="inputAirport" ng-attr-placeholder="{{getAirlinePlaceholder($index)}}" required ng-attr-id="route{{$index}}" ng-model="airport.code" typeahead="ap.code as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="partials/typeahead.html" ng-class="{ loading: airlineForm.ajaxLoading }" typeahead-loading="airlineForm.ajaxLoading" autocomplete="off" />
                                                <small class="error">Enter correct airport code (3 characters)</small>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <button ng-attr-tabindex="{{20 + trip.route.length * 5}}" class="tiny expand" ng-disabled="!airlinesForm.$valid" ng-click="addSegment()"><i class="fi-plus"></i> Add segment</button>
                                </div>
                                <div class="columns small-8 end segments">
                                    <div class="row collapse">
                                        <div class="columns small-2">
                                            <label for="mk-0" class="text-center"><abbr title="Marketing Carrier (airline code)">MK Carrier</abbr> <small>Req.</small></label>
                                        </div>
                                        <div class="columns small-2">
                                            <label for="op-0" class="text-center"><abbr title="Operating Carrier (airline code)">OP Carrier</abbr> <small>Req.</small></label>
                                        </div>
                                        <div class="columns small-2">
                                            <label for="fc-0" class="text-center">Fare Code <small>Req.</small></label>
                                        </div>
                                        <div class="columns small-2 end">
                                            <label for="fn-0" class="text-center">Flight No.</label>
                                        </div>
                                    </div>
                                    <div ng-form="segmentForm" ng-repeat="segment in trip.segments">
                                        <div class="row collapse">
                                            <div class="columns small-2" ng-class="{ 'error': !segmentForm.mk.$valid }">
                                                <input type="text" ng-attr-tabindex="{{10 + $index * 5 + 2}}" name="mk" ng-attr-id="mk-{{$index}}" ng-model="segment.mkCarrier" placeholder="XX" required ng-minlength="2" ng-maxlength="2" ng-trim="true" ng-change="onMkCarrierChange(segment)" />
                                                <small class="error">Enter correct airline code (2 characters)</small>
                                            </div>
                                            <div class="columns small-2" ng-class="{ 'error': !segmentForm.op.$valid }">
                                                <input type="text" ng-attr-tabindex="{{10 + $index * 5 + 3}}" name="op" ng-attr-id="op-{{$index}}" ng-model="segment.opCarrier" placeholder="XX" required ng-minlength="2" ng-maxlength="2" ng-trim="true" />
                                                <small class="error">Enter correct airline code (2 characters)</small>
                                            </div>
                                            <div class="columns small-2" ng-class="{ 'error': !segmentForm.fc.$valid }">
                                                <input type="text" ng-attr-tabindex="{{10 + $index * 5 + 4}}" name="fc" ng-attr-id="fc-{{$index}}" ng-model="segment.fareCode" placeholder="X" required ng-minlength="1" ng-maxlength="1" ng-trim="true" />
                                                <small class="error">Enter one letter code</small>
                                            </div>
                                            <div class="columns small-2">
                                                <input type="text" ng-attr-tabindex="{{10 + $index * 5 + 5}}" name="fn" ng-attr-id="fn-{{$index}}" ng-model="segment.flightNo" placeholder="LU4324" />
                                            </div>
                                            <div class="columns small-2 end">
                                                <span class="postfix" ng-hide="$index == 0">
                                                    <button class="secondary expand tiny" ng-click="removeSegment($index)"><i class="fi-x"></i> Remove</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="columns large-2 large-offset-1">
                                <label for="purchase-date">Purchase date</label>
                                <input type="text" date-time min-view="date" ng-init="initPurchaseDatepicker(this)" format="dd/MM/yyyy" placeholder="dd/mm/yyyy"  ng-attr-tabindex="{{30 + trip.route.length * 5}}" name="purchaseDate" id="purchase-date" ng-model="purchaseDate" />
                            </div>
                            <div class="columns large-2 end">
                                <label for="departure-date">Departure date</label>
                                <input type="text" date-time min-view="date" ng-init="initDepartureDatepicker(this)" format="dd/MM/yyyy" placeholder="dd/mm/yyyy"  ng-attr-tabindex="{{40 + trip.route.length * 5}}" name="departureDate" id="departure-date" ng-model="departureDate" />
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Earnings" is-open="true" ng-if="!create">
                        <div class="row">
                        <div class="columns large-10 large-centered">
                        <h6 class="subheader">Total distance: {{trip.distance}} miles</h6>
                        <table id="trip-earnings">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td ng-class="{ selected: sortBy == 'rdm' }">
                                        <span class="nowrap">
                                            <abbr title="Redeemable Miles">RDM</abbr> 
                                            <a title="Lowest on top" ng-click="setOrder('rdm', false)" ng-class="{ active: sortBy == 'rdm' &amp;&amp; !sortDir }"><i class="fi-arrow-down"></i></a>
                                            <a title="Highest on top" ng-click="setOrder('rdm', true)" ng-class="{ active: sortBy == 'rdm' &amp;&amp;  sortDir }"><i class="fi-arrow-up"></i></a>        
                                        </span>
                                    </td>
                                    <td ng-class="{ selected: sortBy == 'eqm' }">
                                        <span class="nowrap">
                                            <abbr title="Elite Qualifying Miles">EQM</abbr> 
                                            <a title="Lowest on top" ng-click="setOrder('eqm', false)" ng-class="{ active: sortBy == 'eqm' &amp;&amp; !sortDir }"><i class="fi-arrow-down"></i></a>
                                            <a title="Highest on top" ng-click="setOrder('eqm', true)" ng-class="{ active: sortBy == 'eqm' &amp;&amp;  sortDir }"><i class="fi-arrow-up"></i></a>  
                                        </span>
                                    </td>
                                    <td ng-class="{ selected: sortBy == 'eqs' }">
                                        <span class="nowrap">
                                            <abbr title="Elite Qualifying Segments">EQS</abbr> 
                                            <a title="Lowest on top" ng-click="setOrder('eqs', false)" ng-class="{ active: sortBy == 'eqs' &amp;&amp; !sortDir }"><i class="fi-arrow-down"></i></a>
                                            <a title="Highest on top" ng-click="setOrder('eqs', true)" ng-class="{ active: sortBy == 'eqs' &amp;&amp;  sortDir }"><i class="fi-arrow-up"></i></a>  
                                        </span>
                                    </td>
                                    <td ng-class="{ selected: sortBy == 'eqp' }">
                                        <span class="nowrap">
                                            <abbr title="Elite Qualifying Points">EQP</abbr> 
                                            <a title="Lowest on top" ng-click="setOrder('eqp', false)" ng-class="{ active: sortBy == 'eqp' &amp;&amp; !sortDir }"><i class="fi-arrow-down"></i></a>
                                            <a title="Highest on top" ng-click="setOrder('eqp', true)" ng-class="{ active: sortBy == 'eqp' &amp;&amp;  sortDir }"><i class="fi-arrow-up"></i></a>  
                                        </span>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="program in config.programs | filter : getApplicablePrograms | orderBy : 'order' : sortDir ">
                                    <th class="text-right" ng-style="{ backgroundColor: program.color }"><span class="nowrap">{{program.name}}</span></th>
                                    <td>{{ getEarnings(program, 'rdm') | number : 0 }}</td>
                                    <td>{{ getEarnings(program, 'eqm') | number : 0 }}</td>
                                    <td>{{ getEarnings(program, 'eqs') | number : 0 }}</td>
                                    <td>{{ getEarnings(program, 'eqp') | number : 0 }}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        </div>
                    </accordion-group>
                </accordion>
                
                <button type="submit" ng-attr-tabindex="{{50 + trip.route.length * 5}}" ng-class="{ success : tripForm.$valid, secondary : !tripForm.$valid }"><i class="fi-save"></i> Save</button>
                <a class="button secondary" ng-attr-tabindex="{{60 + trip.route.length * 5}}" ng-click="cancel()">Cancel</a>
                <a ng-hide="create" ng-attr-tabindex="{{70 + trip.route.length * 5}}" class="alert right button" ng-click="remove()"><i class="fi-x"></i> Delete</a>
            </div>
        </div>
    </form>
</section>