<!-- Cached particles -->

<script type="text/ng-template" id="components/service/delete-items-modal.html">
    <h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
    <h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
    <p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
    <p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
    <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<!-- END of cached particles -->

<section id="test-collection">
    
    <div class="row">
        <div class="columns large-12">
            <h1>Earning tests</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Testing framework</a>
                </li>
                <li class="current" kk-nav route="tests">
                    <a>Earning tests</a>
                </li>
            </ul>
            
            <form class="filters" name="filterForm" novalidate ng-submit="submitFilters(filterForm)" ng-if="config.filters &amp;&amp; filters">
                
                <fieldset ng-class="{ collapsed: !filtersExpanded }">
                    
                    <legend>
                        <a ng-click="toggleFilters()"><i ng-class="{ 'fi-minus': filtersExpanded, 'fi-plus': !filtersExpanded }"></i> Filters</a> 
                        <span ng-if="!areFiltersEmpty()" class="label radius secondary"><i class="fi-check"></i></span>
                    </legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns large-3">
                                <label for="filter-ffp">Program</label>
                                <select name="filterFfp" id="filter-ffp" ng-model="filters.ffp" ng-options="ffp.id as ffp.name for ffp in filterFfps" ng-change="submitFilters(filterForm)"></select>
                            </div>
                            <div class="columns large-9">
                                <label for="filter-status">Result</label>
                                <ul class="button-group radius">
                                    <li ng-repeat="res in config.filters.results"><button type="button" class="tiny" ng-class="{ secondary: filters.result != res.code }" ng-model="filters.result" btn-radio="res.code" ng-change="submitFilters(filterForm)">{{res.name}}</button></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    
                </fieldset>
                 
            </form>
            
            <div ng-if="items">
                <div ng-if="items.length > 0">
                    
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" kk-nav route="newTest"><i class="fi-plus"></i> Add new</a></li>
                        </ul>
                        <ul class="button-group">
                            <li><a class="tiny button secondary" ng-click="cloneTests()" ng-disabled="selected.items.length <= 0"><i class="fi-page-copy"></i> Clone</a></li>
                            <li><a class="tiny button secondary" ng-click="runTests()" ng-disabled="selected.items.length <= 0"><i class="fi-play"></i> Run</a></li>
                        </ul>
                        <ul class="button-group">
                            <li><a class="tiny button secondary" ng-click="deleteTests()" ng-disabled="selected.items.length <= 0"><i class="fi-x"></i> Delete</a></li>
                        </ul>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th rowspan="2"><input ng-disabled="applyToAll" type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
                                <th rowspan="2">ID</th>
                                <th rowspan="2">Program</th>
                                <th rowspan="2" class="text-left">Itinerary</th>
                                <th colspan="2">Carriers</th>
                                <th rowspan="2" class="text-left">Objective</th>
                                <th rowspan="2">Result</th>
                                <th rowspan="2" colspan="4"></th>
                            </tr>
                            <tr>
                                <th class="text-left">Marketing</th>
                                <th class="text-left">Operating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td><input ng-disabled="applyToAll" type="checkbox" checklist-model="selected.items" checklist-value="item" /></td>
                                <td>{{ $index + 1 | number : 0 }}</td>
                                <th><abbr ng-attr-title="{{ (config.ffps | find : item.ffp).name }}">{{ (config.ffps | find : item.ffp).code }}</abbr></th>
                                <td class="text-left nowrap">
                                    <span ng-repeat="segment in item.segments">
                                        <span class="label secondary radius" ng-if="$first || item.segments[$index - 1].arrival != segment.departure">{{ segment.departure }}</span><span class="label secondary radius">{{ segment.arrival }}</span>
                                    </span>
                                </td>
                                <td class="text-left nowrap">
                                    <span class="label secondary radius" ng-repeat="segment in item.segments" ng-if="segment.mkCarrier">{{ segment.mkCarrier }}</span>
                                </td>
                                <td class="text-left nowrap">
                                    <span class="label secondary radius" ng-repeat="segment in item.segments" ng-if="segment.opCarrier">{{ segment.opCarrier }}</span>
                                </td>
                                <td class="text-left objective">
                                    <a title="Click to expand" ng-click="toggleObjective(this)" ng-class="{ full: fullObjective }">{{ item.objective }}</a>
                                </td>
                                <td>
                                    <i ng-if="item.tests.normal.success.length > 0" kk-tooltip="{{item.comment}}" tooltip-if="!isTestSuccessful(item) &amp;&amp; item.comment" ng-class="{ 'fi-check success': isTestSuccessful(item), 'fi-x alert': !isTestSuccessful(item) }"></i>
                                </td>
                                <td class="action success"><a title="Run test" ng-click="runTest(item)"><i class="fi-play"></i></a></td>
                                <td class="action"><a title="Edit" kk-nav route="editTest" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                <td class="action"><a ng-click="cloneTest($index)" title="Clone test"><i class="fi-page-copy"></i></a></td>
                                <td class="action alert"><a title="Delete" ng-click="deleteTest(item)"><i class="fi-x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <form novalidate name="paginForm">
                        <div class="row">
                            <div class="columns large-8">
                                <pagination total-items="paged.totalItems" page="paged.page" items-per-page="paged.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)"></pagination>
                            </div>
                            <div class="columns large-3">
                                <div class="row">
                                    <div class="columns small-8">
                                        <label for="items-per-page" class="inline right">Items per page:</label>
                                    </div>
                                    <div class="columns small-4">
                                        <select required name="itemsPerPage" id="items-per-page" ng-model="paged.itemsPerPage" ng-change="onItemsPerPageChange()" ng-options=" ipp for ipp in config.pagination.allowed "></select>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no tests yet. Create <a kk-nav route="newTest">first one</a>.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>