								<!-- Search Results Section -->
								<section class="search-results row">	
									<div class="columns large-2 flight-label">
										<span data-tooltip title="Best deal means it's a best deal. Just take it." class="has-tip">Best deal <span class="foundicon-idea"></span></span>
									</div>
									<div class="columns large-10">
										<!-- Single Result -->
										<a class="result" data-flight-id="XXX" href="#">
											<article>
												<div class="row flight">
													<div class="small-3 columns">
														<strong class="price">$1617</strong>
														<div class="small">Get</div>
														<strong class="miles">9416</strong>
														<div class="small">Miles</div>
													</div>
													<div class="small-6 columns middle">
														<div class="airline"><img src="img/airline_logo0.png" alt="China Eastern Logo" /><img src="img/airline_logo1.png" alt="China Eastern Logo" /> Multiple airlines</div>
														<div class="schedule">
															<time>12:35 <span>pm</span></time>
															<span class="foundicon-right-arrow"></span>
															<time>6:40 <span>pm</span><span class="day">+1</span></time>
														</div>
														<div class="duration desc">PVG <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> LHR</div>
													</div>
													<div class="small-3 columns stops desc">
														<div class="stop-num"><strong>1</strong> Stop</div>
														<ul class="no-bullet">
															<li>Tokyo TKY (2h34min)</li>
														</ul>
														<div class="cabin">Economy (L)</div>
													</div>
												</div>
												<div class="row hover">
													<div class="small-3 columns">
														<img class="program-logo" src="img/program_logo0.png" alt="Miles and More" />
														<div class="small">Get</div>
														<strong class="miles">9416</strong>
														<div class="small">Miles</div>
													</div>
													<div class="small-6 columns middle">
														<p><strong>5.445</strong> more miles for <strong>$34</strong> then cheapest</p>
													</div>
													<div class="small-3 columns plus-icon">
														<div class="foundicon-plus"></div> 
														<p>Click to see details</p>
													</div>
												</div>
												<div class="row stats">
													<div class="columns large-6">
														<div class="progress caption primary">
															<span class="goal">Flight to Las Vegas&mdash;<strong>23004 miles left</strong></span>
															<span class="meter" style="width:30%" data-increment="50">
																<div class="before"></div>
																<span class="goal">Flight to Las Vegas&mdash;<strong>23004 miles left</strong></span>
															</span>
														</div>
													</div>
													<div class="columns large-6">
														<div class="progress caption secondary">
															<span class="goal">Silver Status&mdash;<strong>30244 miles left</strong></span>
															<span class="meter" style="width:30%" data-increment="50">
																<div class="before"></div>
																<span class="goal">Silver Status&mdash;<strong>30244 miles left</strong></span>
															</span>
														</div>
													</div>
												</div>
											</article>
										</a>
										<!-- END of Single Result -->
									</div>
								</section>
								<!-- END of Search Results Section -->
								
								<!-- Search Results Section -->
								<section class="search-results row">	
									<div class="columns large-2 flight-label">
										<span data-tooltip title="Best deal means it's a best deal. Just take it." class="has-tip">Cheapest <span class="foundicon-idea"></span></span>
									</div>
									<div class="columns large-10">
										<!-- Single Result -->
										<a class="result awarded" data-flight-id="CA1445-CA5541|MU0042" href="#">
											<img src="img/badge.png" alt="" class="pin" />
											<article>
												<div class="row flight">
													<div class="small-3 columns">
														<strong class="price">$1617</strong>
														<div class="small">Get</div>
														<strong class="miles">9416</strong>
														<div class="small">Miles</div>
													</div>
													<div class="small-6 columns middle">
														<div class="airline"><img src="img/airline_logo0.png" alt="China Eastern Logo" /> China Eastern</div>
														<div class="schedule">
															<time>12:35 <span>pm</span></time>
															<span class="foundicon-right-arrow"></span>
															<time>6:40 <span>pm</span><span class="day">+1</span></time>
														</div>
														<div class="duration desc">PVG <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> LHR</div>
													</div>
													<div class="small-3 columns stops desc">
														<div class="stop-num"><strong>1</strong> Stop</div>
														<ul class="no-bullet">
															<li>Tokyo TKY (2h34min)</li>
														</ul>
														<div class="cabin">Economy (L)</div>
													</div>
												</div>
												<div class="row hover">
													<div class="small-3 columns">
														<img class="program-logo" src="img/program_logo0.png" alt="Miles and More" />
														<div class="small">Get</div>
														<strong class="miles">9416</strong>
														<div class="small">Miles</div>
														
													</div>
													<div class="small-6 columns middle">
														<p><strong>5.445</strong> more miles for <strong>$34</strong> then cheapest</p>
													</div>
													<div class="small-3 columns plus-icon">
														<div class="foundicon-plus"></div> 
														<p>Click to see details</p>
													</div>
												</div>
												<div class="row stats">
													<div class="columns large-6">
														<div class="progress caption primary completed">
															<span class="meter" style="width:100%">
																<span class="goal"><strong>1 ×</strong> <img src="img/plane-icon.png" alt="One domestic flight" /> one domestic flight + 23004 miles</span>
															</span>
														</div>
													</div>
													<div class="columns large-6">
														<div class="progress caption secondary">
															<span class="goal">Silver Status&mdash;<strong>30244 miles left</strong></span>
															<span class="meter" style="width:30%" data-increment="50">
																<div class="before"></div>
																<span class="goal">Silver Status&mdash;<strong>30244 miles left</strong></span>
															</span>
														</div>
													</div>
												</div>
											</article>
										</a>
										<!-- END of Single Result -->
									</div>
								</section>
								<!-- END of Search Results Section -->
								
								<!-- Search Results Section -->
								<section class="search-results row">	
									<div class="columns large-2 flight-label">
										<span data-tooltip title="Best deal means it's a best deal. Just take it." class="has-tip">Fastest <span class="foundicon-idea"></span></span>
									</div>
									<div class="columns large-10">
										<!-- Single Result -->
										<a class="result" data-flight-id="CA1445-CA5541|MU0245" href="#">
											<article>
												<div class="row flight">
													<div class="small-3 columns">
														<strong class="price">$1617</strong>
														<div class="small">Get</div>
														<strong class="miles">9416</strong>
														<div class="small">Miles</div>
													</div>
													<div class="small-6 columns middle">
														<div class="airline"><img src="img/airline_logo0.png" alt="China Eastern Logo" /> China Eastern</div>
														<div class="schedule">
															<time>12:35 <span>pm</span></time>
															<span class="foundicon-right-arrow"></span>
															<time>6:40 <span>pm</span><span class="day">+1</span></time>
														</div>
														<div class="duration desc">PVG <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> LHR</div>
													</div>
													<div class="small-3 columns stops desc">
														<div class="stop-num"><strong>1</strong> Stop</div>
														<ul class="no-bullet">
															<li>Tokyo TKY (2h34min)</li>
														</ul>
														<div class="cabin">Economy (L)</div>
													</div>
												</div>
												<div class="row hover">
													<div class="small-3 columns">
														<img class="program-logo" src="img/program_logo0.png" alt="Miles and More" />
														<div class="small">Get</div>
														<strong class="miles">9416</strong>
														<div class="small">Miles</div>
														
													</div>
													<div class="small-6 columns middle">
														<p><strong>5.445</strong> more miles for <strong>$34</strong> then cheapest</p>
													</div>
													<div class="small-3 columns plus-icon">
														<div class="foundicon-plus"></div> 
														<p>Click to see details</p>
													</div>
												</div>
												<div class="row stats">
													<div class="columns large-6">
														<div class="progress caption primary">
															<span class="goal">Flight to Las Vegas&mdash;<strong>23004 miles left</strong></span>
															<span class="meter" style="width:30%" data-increment="50">
																<div class="before"></div>
																<span class="goal">Flight to Las Vegas&mdash;<strong>23004 miles left</strong></span>
															</span>
														</div>
													</div>
													<div class="columns large-6">
														<div class="progress caption secondary">
															<span class="goal">Silver Status&mdash;<strong>30244 miles left</strong></span>
															<span class="meter" style="width:30%" data-increment="50">
																<div class="before"></div>
																<span class="goal">Silver Status&mdash;<strong>30244 miles left</strong></span>
															</span>
														</div>
													</div>
												</div>
											</article>
										</a>
										<!-- END of Single Result -->
									</div>
								</section>
								<!-- END of Search Results Section -->