				<!-- Search Results Tab -->
				<section class="section results-section" id="results-section-1">
					<p class="title results-tab"><a href="#">19 Apr <span class="foundicon-remove close-tab"></span></a></p>
					<div class="content results-tab-content">
						<div class="row">
							
							<!-- Search Results Column -->
							<div class="large-6 columns results-column">
								
								<!-- Search Form -->
								<form action="" class="refine-search">
									<div class="row">
										<div class="small-6 columns departure">
											<input type="text" class="airport" name="departureAirport" value="Shanghai PVG" />
											<input type="hidden" class="airport_id" name="departureAirportId" value="" />
											<div class="row collapse">
												<div class="small-2 small-offset-4 columns">
													<span class="prefix"><span class="foundicon-calendar"></span></span>
												</div>
												<div class="small-6 columns">
													<input type="date" name="departureDate" value="04/09/2013" />
												</div>
											</div>											
										</div>
										
										<div class="small-6 columns return">
											<input type="text" class="airport" name="destinationAirport" value="London LHR" />
											<input type="hidden" class="airport_id" name="destinationAirportId" value="" />
											<div class="row collapse">
												<div class="small-2 columns">
													<span class="prefix"><span class="foundicon-calendar"></span></span>
												</div>
												<div class="small-6 columns pull-4">
													<input type="date" name="returnDate" value="04/16/2013" />
												</div>
											</div>		
										</div>
									</div>
									<p class="desc">1 adult, 2 children | <a class="edit-passengers" href="#">Change</a></p>
									<div class="row passengers">
										<div class="columns large-8 large-centered">
											<div class="row">
												<div class="columns large-4">
													<label>Adults</label>
													<div class="row collapse">
														<div class="small-9 columns">
															<input type="text" data-min="1" value="1" name="adults" />	
														</div>
														<div class="small-3 columns">
															<span class="postfix spinner">
																<a href="#" class="plus">+</a>
																<a href="#" class="minus">-</a>
															</span>
														</div>
													</div>
												</div>
												<div class="columns large-4">
													<label>2-18 year old</label>
													<div class="row collapse">
														<div class="small-9 columns">
															<input type="text" data-min="0" value="0" name="children" />	
														</div>
														<div class="small-3 columns">
															<span class="postfix spinner">
																<a href="#" class="plus">+</a>
																<a href="#" class="minus">-</a>
															</span>
														</div>
													</div>
												</div>
												<div class="columns large-4">
													<label>&lt; 2 year old</label>
													<div class="row collapse">
														<div class="small-9 columns">
															<input type="text" data-min="0" value="0" name="infants" />	
														</div>
														<div class="small-3 columns">
															<span class="postfix spinner">
																<a href="#" class="plus">+</a>
																<a href="#" class="minus">-</a>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								<!-- END of Search Form -->
								
								<!-- Search in progress section -->
								<section class="row search-progress">
									<div class="columns large-12">
										<hgroup>
											<h3 class="flights-number loader">0</h3> <h3 class="subheader">flights</h3>
										</hgroup>
										<div class="progress"><span class="meter" style="width: 0"></span></div>
										<div class="alert-box alert">
											<span class="foundicon-error"></span> <span class="alert-text"></span>
										</div>
									</div>
								</section>
								<!-- END of Search in progress section -->
								
								<div class="featured-search-results"></div>
								
								<!-- More results bar -->
								<section class="more-results row">
									<div class="columns large-6 push-3 more-results-center">
										<h5>Want more?</h5>
										<a href="start.php?goto=index.html" class="button show-more-results">
											<span class="foundicon-down-arrow"></span> Show All <span class="flights-number">0</span> Flights <div class="desc">From <span class="cheapest-price"></span></div></a>
									</div>
									<div class="columns small-3 pull-6 previous">
										<div class="nav"><span class="foundicon-left-arrow"></span> <a href="start.php?goto=index.html">Previous Day</a></div>
										<div class="desc">Tuesday, 8 Apr</div>
									</div>
									<div class="columns small-3 next">
										<div class="nav"><a href="start.php?goto=index.html">Next Day</a> <span class="foundicon-right-arrow"></span></div>
										<div class="desc">Thursday, 10 Apr</div>
									</div>
								</section>
								<!-- END of more results bar -->
								
								<!-- More results with filters -->
								<div class="row more-results-wrapper">
									<div class="columns large-12">
										
										<!-- Results filters -->
										<div class="filters-wrapper">
											<!-- Filled with AJAX request (searchResultsFilters0.html) -->
										</div>
										<!-- Results filters -->
										
										<!-- Regular search results -->
										<div class="regular-search-results"></div>
										<!-- END of regular search results -->
										
										<section class="regular-results-footer row">
											<div class="columns large-6 push-3 regular-results-footer-center">
												<h5>Not found yet?</h5>
												<p>Refine yoiur search <a href="#filters-0">using filters <span class="foundicon-up-arrow"></span></a></p>
											</div>
											<div class="columns small-3 pull-6 previous">
												<div class="nav"><span class="foundicon-left-arrow"></span> <a href="start.php?goto=index.html">Previous Day</a></div>
												<div class="desc">Tuesday, 8 Apr</div>
											</div>
											<div class="columns small-3 next">
												<div class="nav"><a href="start.php?goto=index.html">Next Day</a> <span class="foundicon-right-arrow"></span></div>
												<div class="desc">Thursday, 10 Apr</div>
											</div>
										</section>
									</div>
								</div>
								<!-- END of more results with filters -->
								
							</div>
							<!-- END of Search Results Column -->
							
							<!-- Comparison Column -->
							<div class="large-6 columns comparison-column"></div>
							<!-- END of Comparison Column -->
							
						</div>
					</div>
				</section>
				<!-- END of Search Results Tab -->