											<form class="filters row custom" id="filters-0">
												<div class="columns large-12">
													<h5 class="filters-header">Filter results</h5>
													<div class="row basic-filters">
														<div class="columns large-6">
															<div class="filter" data-filter="stops">
																<label>Stops</label>
																<ul class="button-group radio">
																	<li><a data-tooltip title="From $513 | 2324 miles" class="button secondary tiny" data-value="0" href="#">Nonstop</a></li>
																	<li><a data-tooltip title="From $263 | 2324 miles" class="button secondary tiny" data-value="0,1" href="#">&le; 1</a></li>
																	<li><a data-tooltip title="From $219 | 3324 miles" class="button secondary tiny" data-value="0,1,2" href="#">&le; 2</a></li>
																	<li><a data-tooltip title="From $113 | 8324 miles" class="button secondary tiny disabled" data-value="all" href="#">No limit</a></li>
																</ul>
															</div>
														</div>
														<div class="columns large-6">
															<div class="filter filter-scroller" data-filter="price">
																<label>Price</label>
														        <div id="Price" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
														        <div id="showvalues_Price" class="range">$425.00 - $13,840.00</div>
																<input startvalue="0, 178" value="0,178" id="values_Price" type="hidden" name="sliderValue" filtername="Price" />
																<!--<label>Price</label>
																<div class="slider price-slider" data-min="0" data-max="513">
																	<div class="desc min">$<span class="value">0</span></div>
																	<div class="desc max">$<span class="value">513</span></div>
																</div>-->
															</div>
														</div>
													</div>
													<div class="row advanced-filters">
														<div class="columns large-6">
															<div class="filter filter-scroller" data-filter="duration">
																<label>Flight duration</label>
																<div id="Price" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
														        <div id="showvalues_Price" class="range">3h20min - 22h32min</div>
																<input startvalue="0, 178" value="0,178" id="values_Price" type="hidden" name="sliderValue" filtername="Price" />
															</div>
															
															<div class="filter filter-scroller" data-filter="departure">
																<label>Departure time</label>
																<div class="slider departure-slider" data-time-format="12" data-min="0" data-max="1000" data-time-min="6:32am" data-time-max="11:20pm">
																	<div class="desc min"><span class="value"></span></div>
																	<div class="desc max"><span class="value"></span></div>
																</div>
															</div>
															
															<div class="filter filter-scroller" data-filter="return">
																<label>Return time</label>
																<div class="slider return-slider" data-time-format="12" data-min="0" data-max="1000" data-time-min="5:42am" data-time-max="9:28pm">
																	<div class="desc min"><span class="value"></span></div>
																	<div class="desc max"><span class="value"></span></div>
																</div>
															</div>
															
															<div class="filter" data-filter="programs">
																<label>Frequent Flyer programs</label>
																<div class="row">
																	<div class="columns small-6">
																		<label for="program-all"><input type="checkbox" id="program-all" name="program-all" checked /> <span class="custom checkbox"></span> <strong class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">All/none</strong></label>
																		<label for="program-2"><input type="checkbox" id="program-2" name="program-2" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Miles &amp; More</span></label>
																	</div>
																	<div class="columns small-6">
																		<label for="program-6"><input type="checkbox" id="program-6" name="program-6" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Delta Skymiles</span></label>
																	</div>
																</div>
															</div>
														</div>
														<div class="columns large-6">
															<div class="filter" data-filter="airlines">
																<label>Airlines</label>
																<div class="row">
																	<div class="columns small-6">
																		<label for="airline-all"><input type="checkbox" id="airline-all" name="airline-all" checked /> <span class="custom checkbox"></span> <strong class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">All/none</strong></label>
																		<label for="airline-11"><input type="checkbox" id="airline-11" name="airline-11" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Air China</span></label>
																		<label for="airline-6"><input type="checkbox" id="airline-6" name="airline-6" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Emirates</span></label>
																	</div>
																	<div class="columns small-6">
																		<label for="airline-9"><input type="checkbox" id="airline-9" name="airline-9" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Finnair</span></label>
																		<label for="airline-2"><input type="checkbox" id="airline-2" name="airline-2" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Lufthansa</span></label>
																		<label for="airline-3"><input type="checkbox" id="airline-3" name="airline-3" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Malesia Airlines</span></label>
																	</div>
																</div>
															</div>
															
															<div class="filter" data-filter="alliances">
																<label>Alliances</label>
																<div class="row">
																	<div class="columns small-6">
																		<label for="alliance-all"><input type="checkbox" id="alliance-all" name="alliance-all" checked /> <span class="custom checkbox"></span> <strong class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">All/none</strong></label>
																		<label for="alliance-11"><input type="checkbox" id="alliance-11" name="alliance-11" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Flying Blue</span></label>
																	</div>
																	<div class="columns small-6">
																		<label for="alliance-6"><input type="checkbox" id="alliance-6" name="alliance-6" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">United Airlines</span></label>
																	</div>
																</div>
															</div>
															
															<div class="filter" data-filter="classes">
																<label>Cabin Classes</label>
																<div class="row">
																	<div class="columns small-6">
																		<label for="class-all"><input type="checkbox" id="class-all" name="class-all" checked /> <span class="custom checkbox"></span> <strong class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">All/none</strong></label>
																		<label for="class-1"><input type="checkbox" id="class-1" name="class-1" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Economy Class</span></label>
																		<label for="class-11"><input type="checkbox" id="class-11" name="class-11" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">Business Class</span></label>
																	</div>
																	<div class="columns small-6">
																		<label for="class-6"><input type="checkbox" id="class-6" name="class-6" checked /> <span class="custom checkbox"></span> <span class="tip-top has-tip" data-tooltip title="From $513 | 2324 miles">First Class</span></label>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row more-filters">
														<div class="more"><a href="#" class="button tiny primary" title="Show more flight filters"><span class="foundicon-down-arrow"></span> More filters</a></div>
														<div class="less"><a href="#" class="button tiny primary" title="Hide additional filters"><span class="foundicon-up-arrow"></span> Less filters</a></div>
													</div>
												</div>
											</div>