
/**** Condensed Layout ****/

fieldset{
    margin: 1rem 0;
    padding: 1rem;
}

fieldset legend{
    font-size: 0.85rem;
}

label{
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
    font-size: 0.75rem;
    height: 2rem;
    margin: 0 0 0.75rem;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select{
    margin: 0 0 0.75rem;
    font-size: 0.75rem;
    padding: 0.4rem;
}

hr{
    margin: 0.5rem 0 1rem;
}

button, .button{
    margin-bottom: 0.5rem;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td{
    font-size: 0.75rem;
    padding: 0.3rem 0.5rem 0.5rem;
}

table tr th, table tr td{
    font-size: 0.75em;
    padding: 0.3rem 0.5rem;
}

.inline-list{
    margin: 0 0 0.25rem -1.375rem;
}

span.prefix, span.postfix{
  font-size: 0.75rem;
  height: 2rem;
  line-height: 2rem;
}

button.tiny, .button.tiny{
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}

.tabs dd > a, .tabs .tab-title > a{
  padding: 0.65rem 2rem;  
}

.tabs-content{
  margin-bottom: 0;
}


/* app css default stylesheet */

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 60px; 
}

footer{
  background: #f1f1f1;
  border-top: 1px solid #eee;
  color: #888;
  text-align: right;
}

footer p{
  font-size: 0.875rem;
}

.footer-wrap{
  padding-top: 1rem;
}

.top-bar{
  margin-bottom: 1.5rem;
}

table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eee;
}

table tbody td,
table tbody th,
table thead td,
table thead th,
table tfoot td,
table tfoot th{
  text-align: center;
}

.toolbar{
  margin-bottom: 0;
}

[kk-loader]{
  background-image: url(../img/ajax.gif);
  background-position: center 45%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 100;
}

[kk-alerts]{
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 90;
}

[kk-alerts] .alert-box{
  border: none;
  margin-bottom: 0;
  box-shadow: 0 1px 2px #333;
}

table a{
  text-transform: uppercase;
}

table input[type="text"],
table input[type="date"],
table input[type="number"],
table input[type="checkbox"]{
  margin-bottom: 0;
}

.gray{
  background: #bbb;
}

.top-bar input, .top-bar .button, .top-bar button {
    font-size: 0.77778rem;
    position: relative;
    top: 7px;
}
.top-bar input {
    font-size: 0.75rem;
    height: auto;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
}
.top-bar form, .top-bar input {
    margin-bottom: 0;
}

.toolbar .prefix{
  background: none repeat scroll 0 0 #222;
  border: medium none;
  border-radius: 5px 0 0 5px;
  color: #555;
  font-size: 1rem;
  height: 1.75rem;
  line-height: 1.75rem;
  position: relative;
  top: 7px;
}

[date-picker-wrapper]{
  width: 150%;
}

[date-picker-wrapper] .dropdown-menu {
  position: absolute;
  z-index: 30;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px -2px #333333;
  padding: 3px;
}

[date-picker] {
  padding: 0;
}
[date-picker] table {
  border: none;
  border-collapse: collapse;
}
[date-picker] table tr, [date-picker] table td {
  font-size: 0.75rem;
}
[date-picker] td, [date-picker] th {
  border-radius: 0;
  height: auto;
  width: auto;
}
[date-picker] div[ng-switch-when="year"] span, [date-picker] div[ng-switch-when="month"] span, [date-picker] div[ng-switch-when="minutes"] span {
  height: 2.5rem;
  line-height: 2.5rem;
}
[date-picker] div[ng-switch-when="date"] td span.now, [date-picker] div[ng-switch-when="date"] td span.now:hover {
  background-color: #2ba6cb;
}
[date-picker] div[ng-switch-when="date"] td span.active, [date-picker] div[ng-switch-when="date"] td span.active:hover {
  background-color: #5da423;
}
[date-picker] span {
  border-radius: 2px;
}
[date-picker] .active:hover, [date-picker] .now:hover, [date-picker] .active:active, [date-picker] .now:active, [date-picker] .active.active, [date-picker] .now.active, [date-picker] .active.disabled, [date-picker] .now.disabled, [date-picker] .active[disabled], [date-picker] .now[disabled] {
  background-color: #5da423;
  color: #fff;
}

[date-picker] .active, [date-picker] .now {
  background-image: none;
  border: none;
}

[date-picker] .now{
  background-color: #2ba6cb;
}

[date-picker] .active{
  background-color: #5da423;
}

textarea{
  min-height: 5rem;
}

.nowrap{
    white-space: nowrap;
}

.error input, .error textarea, .error select {
    margin-bottom: 0 !important;
}

small.error{
  display: none;
}

.error small.error{
  display: block;
}

/* app special rules */

.more-options{
  border-top: 1px solid #ccc;
  position: relative;
  margin: 1rem 0 1.25rem 0;
}

.more-options .options{
  display: none;
}

.more-options > a{
  display:inline-block;
  background-color:#f8f8f8;
  position: absolute; 
  top:-0.75rem;
  right:2rem;
  z-index:10; 
  padding: 0 0.5rem;
}

.more-options.expanded{
  padding-top: 1.5rem;
}

.more-options.expanded .options{
  display: block;
}

.more-options .prefix{
  color: #888;
  font-size: 1rem;
}

.f-dropdown.ms{
  padding: 1rem 1.25rem;
}

#ffps-dropdown{
  max-width: 475px;
}

#fare-codes-dropdown{
  max-width: 340px;
}

.multiselect .sub-nav{
  background-color: #f1f1f1;
} 

.ms .multiselect .sub-nav{
  margin-left:-1.25rem; 
  margin-right:-1.25rem; 
  padding:0.5rem 1.25rem 0 0.25rem;
}

.multiselect ul > li{
  padding-bottom: 0.5rem;
}

.multiselect ul > li:hover{
  background-color: transparent;
}

.multiselect input[type="checkbox"]{
  margin-bottom: 0;
}

dl.accordion{
  margin-bottom :1.25rem;
}

.f-dropdown a span.label{
  vertical-align: middle;
}

form[name="sform"]{
  background-color: #f8f8f8;
  padding: 1.25rem 0;
}

#dep-airport + ul.f-dropdown,
#arr-airport + ul.f-dropdown{
  max-width: 450px;
  width: 450px;
}

input[type="text"].loading,
input[type="date"].loading,
input[type="password"].loading,
input[type="number"].loading{
  background-image: url(../img/ajax-loader-plain.gif);
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

.scrollable{
  overflow: auto;
}

nav.top-bar dl.sub-nav{
  margin: 0.4rem 0 1.125rem 0;
}

nav.top-bar dl.sub-nav dd > a{
  font-size: 0.875rem;
  background: none;
  color: #999;
  display: inline;
}

nav.top-bar dl.sub-nav dd.active > a{
  background-color: #2ba6cb;
  color: #fff;
}

table .fi-x{
  color: #999;
}

.fare-code{
  margin-right: 0.25rem;
  min-width: 1rem;
  padding: 0.2rem 0.25rem;
}

.hover, 
.hover-cell:hover{
  background-color: #ffa !important;
}

.has-notes{
  border-color: transparent transparent #4db767;
  border-style: solid;
  border-width: 0 0 24px 24px;
  bottom: 0;
  color: #fff;
  font-size: 0.7rem;
  height: 0;
  line-height: 2.85em;
  position: absolute;
  right: 0;
  text-indent: -0.55em;
  width: 0;
}

tbody td{
  position: relative;
}

.kk-tooltip{
  position: absolute;
  max-width: 350px;
  display: inline-block;
  padding: 0.75rem;
  background: #f1f1f1;
  box-shadow: 1px 1px 4px -3px #333;
  color: #666;
  min-width: 200px;
  font-size: 0.75rem;
}

.kk-tooltip .tip{
  border-color: transparent transparent #eee;
  border-style: solid;
  border-width: 7px;
  position: absolute;
  width: 0;
  height: 0;
  display: block;
}

.kk-tooltip.down .tip{
  border-color: #eee transparent transparent;
}
