.review-box{
    border: none;
    color: #111;
}

.review-box span.label{
    margin: 0 1rem 0 0;
}

.review-box p{
    color: #333;
    font-size: 0.875rem;
    margin: 0.5rem 0 0 0;
}

.review-box hr{
    border-color: rgba(0,0,0, 0.15);
    margin: 0.75rem 0;
}

.review-box a {
    color: #111;
}

.review-box a:hover{
    color: #333;
}

.review-box a.edit{
    margin-left: 1rem;
}

.review-hint{
    position: relative;
}

.review-hint.inline{
    display: inline-block;
}

.review-hint .hint{
    position: absolute;
    top: -0.5rem;
    left: calc(50% - 0.5rem);
    /*background-color: yellow;*/
    /*box-shadow: 0 0 4px 6px yellow;*/
    width: 1rem;
    height: 1rem;
    border-radius: 1000px;
    line-height: 1rem;
    text-align: center;
    /*font-size: 0.75rem;*/
    font-size: 1rem;
    /*color: rgba(0, 0, 0, 0.4);*/
    color: #c60f13;
    z-index: 10;
    border: none !important;
    /*opacity: 0.5;*/
    opacity: 0.75;
    text-shadow: 2px 2px 1px #fff;
}

.review-hint .hint.new{
    color: #5da423;
    /*background-color: #9AF758;*/
    /*box-shadow: 0 0 4px 6px #9AF758;*/
}

.review-hint .hint.removed{
    color: #c60f13;
    /*background-color: #c60f13;*/
    /*box-shadow: 0 0 4px 6px #c60f13;*/
    /*color: rgba(255, 255, 255, 0.7);*/
}

.review-hint .hint.preview{
    cursor: pointer;
}

.review-hint .hint.preview:hover{
    opacity: 0.75;
}

.review-hint .hint.vcenter{
    top: calc(50% - 0.75rem);
}

.review-hint .hint.vtop{
    top: -0.5rem;
}

.review-hint .hint.vbottom{
    top: auto;
    bottom: -0.5rem;
}

.review-hint .hint.hleft{
    left: -0.5rem;
}

.review-hint .hint.hright{
    right: -0.5rem;
    left: auto;
}

.admin-review-removed-preview .loading{
    min-height: 100px;
    background: url(../../img/ajax-loader.gif) center center no-repeat;
}

.admin-notif-wrapper{
    display: inline-block;
    position: relative;
    line-height: 1;
}

.admin-notif-wrapper .trigger{
    display: inline-block;
    padding: 0.2rem 0.35rem;
    border-radius: 3px;
    background-color: #333;
    color: #ddd;
    font-size: 0.7rem;
}

.admin-notif-wrapper .trigger.unread{
    background-color: #B20F13;
    color: #fff;
}

.admin-notif-wrapper .caption{
    margin-left: 0.25rem;
}

.admin-notif-wrapper .trigger-link:hover{
    color: #ddd;
}

.admin-notif-wrapper .trigger-link:hover .trigger.unread{
    background-color: #c60f13;
}

.admin-notif-wrapper .notifs{
    position: absolute;
    background: #333;
    padding: 0.25rem 0;
    right: -15px;
    text-align: left;
    top: calc(100% + 7px);
    width: 320px;
    z-index: 90;
    box-shadow: 1px 1px 5px -2px #000;
}

.admin-notif-wrapper .notifs:before{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: " ";
    border-bottom: 7px solid #333;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: -6px;
    right: 39px;
}

.admin-notif-wrapper .notifs ul{
    margin: 0;
}

.admin-notif-wrapper .notifs li{
    padding: 0.5rem 1rem 0.25rem;
    border-bottom: 1px solid #555;
    font-size: 0.65rem;
}

.admin-notif-wrapper .notifs li:hover{
    background: #3a3a3a;
}

.admin-notif-wrapper .notifs li:last-child{
    border-bottom: none;
}

.admin-notif-wrapper.loading .notifs li:last-child{
    border-bottom: 1px solid #555;
}

.admin-notif-wrapper .notifs .elapsed{
    color: #777;
}

.admin-notif-wrapper .notifs p{
    color: #aaa;
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.2;
}

.admin-notif-wrapper .notifs .new p{
    color: #fff;
}

.admin-notif-wrapper .notifs .new .elapsed{
    color: #aaa;
}

.admin-notif-wrapper .notifs .etc{
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin: 0 1rem;
    background: url("../../img/ajax-loader-plain.gif") no-repeat scroll left center;
}

.admin-notif-wrapper .scroller{
    height: 220px;
}