<h3 ng-if="isNew">Add reason</h3>
<h3 ng-if="!isNew">Change reason</h3>

<form name="reviewForm" novalidate ng-submit="submit(reviewForm)">
    <textarea name="reason" ng-model="review.description" id="review-desc" required></textarea>
    <kk-error field="reviewForm.reason">You need to state a reason</kk-error>
    
    <button type="submit" class="small alert" ng-if="isNew">Decline</button><button type="submit" class="small" ng-if="!isNew">Save</button> <button type="button" class="small secondary" ng-click="cancel()">Cancel</button>
</form>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>