<div class="alert-box review-box" ng-style="{ backgroundColor: ((config.statuses | find : item.review.status : 'code').color | lighten : 0.6) }" ng-if="config">
    
    <span class="label radius" ng-style="{ backgroundColor: (config.statuses | find : item.review.status : 'code').color }">{{(config.statuses | find : item.review.status : 'code').name}}</span> 
    <span ng-if="!item.isNew" class="etc">
        <span ng-if="item.review.status == 'new' ">Created by</span><span ng-if="item.review.status != 'new' ">Modified by</span> <strong>{{item.review.modifiedBy}}</strong> at <strong>{{item.review.modifiedAt | date : 'medium' }}</strong>
    </span>
    
    <hr />
    
    <p ng-if="item.review.description">{{item.review.description}} <a class="edit" ng-click="editDescription()" title="Edit description"><i class="fi-pencil"></i> Edit</a></p>
    
    <button type="button" ng-if=" item.review.status != 'declined' &amp;&amp; item.review.status != 'approved' " class="tiny success radius" ng-click="approve()"><i class="fi-check"></i> Approve</button>
    <button type="button" ng-if=" item.review.status != 'declined' &amp;&amp; item.review.status != 'approved' " class="tiny alert radius" ng-click="decline()">Decline</button>
    
</div>