<td><span ng-if="config" kk-tooltip="components/admin-review/column-tooltip.html" tooltip-data="review" class="label radius" ng-style="{ backgroundColor: (config.statuses | find : review.status: 'code' ).color }">{{ (config.statuses | find : review.status : 'code' ).name }}</span></td>