<div class="etc">Previous value:</div>
<div ng-if="data.type == 'boolean' ">
    <strong ng-show="data.value">True</strong>
    <strong ng-hide="data.value">False</strong>
</div>
<div ng-if="data.type == 'string' ">
    <strong ng-if="data.value.length > 0">{{data.value}}</strong>
    <em ng-if="data.value.length <= 0">Empty text</em>
</div>
<div ng-if="data.type == 'number' ">
    <strong>{{data.value | number : 2 }}</strong>
</div>
<div ng-if="data.type == 'date' ">
    <strong>{{data.value | date : 'medium' }}</strong>
</div>
<div ng-if="data.type == 'array' ">
    <div ng-if="data.value.length > 0">
        <span class="label radius" ng-repeat="v in data.value">{{v}}</span>
    </div>
    <div ng-if="data.value.length <= 0">
        <em>Empty set</em>
    </div>
</div>