<div class="review-hint" ng-class="{ inline: inline }">
    <div class="hint" ng-class="cls" ng-style="stl" kk-tooltip="components/admin-review/hint-tooltip.html" tooltip-data="{ value: prev, type: type }" tooltip-toggle="true" ng-if="show()"><i class="fi-pencil"></i></div>
    <div class="hint new" ng-class="cls" ng-style="stl" kk-tooltip="Entire new object" tooltip-toggle="true" ng-if="showAsNew()"><i class="fi-plus"></i></div>
    <div class="hint removed" ng-class="cls" ng-style="stl" kk-tooltip="components/admin-review/removed-hint-tooltip.html" tooltip-data="{ removed: removed, template: removedTemplateUrl }" ng-if="showAsRemoved()" ng-click="showRemovedPreview()"><i class="fi-x"></i></div>
    <span ng-transclude></span>
</div>