<div class="admin-notif-wrapper" ng-class="{ loading: loading }" ng-show="config">
    
    <a class="trigger-link" ng-click="toggle()" title="Check notifications">
        <span class="trigger" ng-class="{ unread: config.unreadNotifs > 0 }">
            <span class="counter" ng-if="config.unreadNotifs > 0">{{ config.unreadNotifs | number : 0 }}</span>
            <!--<i ng-if="config.unreadNotifs <= 0" class="fi-download"></i>-->
            <span ng-if="config.unreadNotifs <= 0">0</span>
        </span>
        <span class="caption">{{caption}}</span>
    </a>
    
    <div class="notifs" ng-show="opened">
        
        <perfect-scrollbar class="scroller" ng-if="items.length > 0" wheel-propagation="false" wheel-speed="10" min-scrollbar-length="20" refreshOnChange="items" on-scroll="onScroll(scrollTop, scrollHeight)">
            <ul class="no-bullet">
                <li ng-repeat="item in items" ng-class="{ new: !item.read }">
                    <a ng-click="read(item)" title="Go to modified object">
                        <p>{{item.message}}</p>
                        <div class="elapsed">{{ item.elapsed }}</div>
                    </a>
                </li>
            </ul>
        </perfect-scrollbar>
        
        <p ng-if="items.length <= 0">There aren't any notifications.</p>
        
        <p class="etc" ng-show="loading">Loading&hellip;</p>
        
    </div>
    
</div>