<div class="admin-review-removed-preview">
    <h3>Removed objects</h3>
    
    <p ng-if="items.length <= 0">There were no objects removed.</p>
    <div ng-class="{ loading: loading }" ng-if="items.length > 0" ng-include="template" onload="onLoad()"></div>
    
    <button class="tiny secondary" ng-click="cancel()">Close</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>