<section id="ffp-award-collection">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup>
                <h1>Award rules</h1>
                <h4 class="subheader">{{ffp.name}}</h4>
            </hgroup>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li kk-nav route="awards" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Redemption rules</a>
                </li>
                <li class="current" kk-nav route="awards" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Award rules</a>
                </li>
            </ul>
            
            <div ng-if="items &amp;&amp; ffp">
                <div ng-if="items.length > 0">
                    
                    <form name="rulesForm" novalidate ng-submit="saveItems(rulesForm)" id="item-form">
                        <div kk-fixed-block attach-to="#item-form">
                            <div class="button-bar" id="item-toolbar">
                                <ul class="button-group">
                                    <li><a class="tiny button" kk-nav route="newAward" ng-attr-param-ffpid="{{ ffp.id }}"><i class="fi-plus"></i> Add new</a></li>
                                </ul>
                                <ul class="button-group">
                                    <li><button type="button" ng-click="cloneItems()" ng-disabled="selected.items.length <= 0" class="tiny button secondary"><i class="fi-page-copy"></i> Clone</button></li>
                                </ul>
                                <ul class="button-group">
                                    <li><button type="button" ng-click="deleteItems()" ng-disabled="selected.items.length <= 0" class="tiny button secondary"><i class="fi-x"></i> Delete</button></li>
                                </ul>
                                <ul class="button-group right">
                                    <li><a class="tiny button secondary radius" kk-nav route="upgrades" ng-attr-param-ffpid="{{ ffp.id }}"><i class="fi-arrow-up"></i> Show upgrade rules</a></li>
                                </ul>
                            </div>
                        </div>
                        <table class="highlight">
                            <thead kk-fixed-table-header template="ffp-cms/awards/table-header.html" table-data="{ items: items, config: config, ffp: ffp }" attach-to="#ffp-award-collection" after="#item-toolbar"></thead>
                            <tbody>
                                <tr ng-repeat-start=" item in items ">
                                    <td>
                                        <input type="checkbox" checklist-model="selected.items" checklist-value="item" />
                                    </td>
                                    <td>
                                        {{ ($index + 1) | number : 0 }}
                                    </td>
                                    <th class="text-left">
                                        <span kk-tooltip="ffp-cms/rules/tooltip-comment.html" tooltip-data="item" tooltip-if="item.comment.length > 0">{{ item.code }}</span>
                                    </th>
                                    <td>
                                        {{ item.rules.length | number : 0 }}
                                    </td>
                                    <td class="text-left">
                                        {{ (ffp.redemptions | find : item.name).name }}
                                    </td>
                                    <td colspan="2">
                                        {{ (config.fareFamilies | find : item.fareFamily).name }} ({{ (config.awardClasses | find : item.awardClass).name }})
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in item.rules | orderBy : 'oneWay' | limitTo: 1 ">{{ rule.oneWay | number : 0 }}</span>
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in item.rules | orderBy : 'oneWay': true | limitTo: 1 ">{{ rule.oneWay | number : 0 }}</span>
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in item.rules | orderBy : 'tfc' | limitTo: 1 ">{{ rule.tfc | number : 0 }}</span>
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in item.rules | orderBy : 'tfc': true | limitTo: 1 ">{{ rule.tfc | number : 0 }}</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <i ng-class="{ 'fi-check success': areCodeshareRulesDirty(item), 'fi-x alert': !areCodeshareRulesDirty(item) }"></i>
                                    </td>
                                    <td>
                                        <i ng-class="{ 'fi-check success': item.excludedDates.length > 0, 'fi-x alert': item.excludedDates.length <= 0 }"></i>
                                    </td>
                                    <td>
                                        <i ng-class="{ 'fi-check success': item.legend, 'fi-x alert' : !item.legend }" kk-tooltip="ffp-cms/redemptions/tooltip-legend.html" tooltip-if="item.legend.length > 0" tooltip-data="item"></i>
                                    </td>
                                    <td>
                                        <span ng-if="item.geographicalRules.length > 0" class="label" kk-tooltip="ffp-cms/rules/tooltip-geo.html" tooltip-data="item" tooltip-if="item.geographicalRules.length > 0">{{ item.geographicalRules.length }}</span>
                                        <span ng-if="item.geographicalRules.length <= 0" class="label secondary">0</span>
                                    </td>
                                    <td class="action">
                                        <a ng-if="!item.expanded" title="Expand" ng-click="expand(item)"><i class="fi-arrow-down"></i></a>
                                        <a ng-if="item.expanded" title="Collapse" ng-click="collapse(item)"><i class="fi-arrow-up"></i></a>
                                    </td>
                                    <td class="action"><a title="Edit" kk-nav route="editAward" ng-attr-param-ffpid="{{ffp.id}}" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                    <td class="action"><a ng-click="cloneItem($index)" title="Clone award rule"><i class="fi-page-copy"></i></a></td>
                                    <td class="action alert"><a title="Delete" ng-click="deleteItem(item)"><i class="fi-x"></i></a></td>
                                </tr>
                                <tr ng-repeat-end ng-if="item.expanded" ng-repeat="rule in item.rules" ng-class="{ last: $last }">
                                    <td colspan="3"></td>
                                    <td>{{ ($index + 1) | number : 0 }}</td>
                                    <td class="text-left">{{ rule.name }}</td>
                                    
                                    <td ng-if="!rule.gril || rule.gril.length <= 0" class="text-right">
                                        {{ rule.rangeFrom | number : 0 }}
                                    </td>
                                    <td ng-if="!rule.gril || rule.gril.length <= 0" class="text-right">
                                        {{ rule.rangeTo | number : 0 }}
                                    </td>
                                    <td colspan="2" ng-if="rule.gril &amp;&amp; rule.gril.length > 0 ">
                                        <span class="label" kk-tooltip="ffp-cms/awards/tooltip-gril.html" tooltip-data="rule">{{ rule.gril.length }}</span>
                                    </td>
                                    <td colspan="2" class="text-right">
                                        {{ rule.oneWay | number : 0 }}
                                    </td>
                                    <td colspan="2" class="text-right">
                                        {{ rule.tfc | number : 0 }}
                                    </td>
                                    <td>
                                        <i ng-class="{ 'fi-check success': rule.roundTrip, 'fi-x alert': !rule.roundTrip } "></i>
                                    </td>
                                    <td>
                                        <i ng-class="{ 'fi-check success': rule.elite, 'fi-x alert': !rule.elite } "></i>
                                    </td>
                                    <td>
                                        <i ng-class="{ 'fi-check success': rule.seasonalDates.length > 0, 'fi-x alert': rule.seasonalDates.length <= 0 } "></i>
                                    </td>
                                    <td colspan="8"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    
                    <form novalidate name="paginForm">
                        <div class="row">
                            <div class="columns large-8">
                                <pagination total-items="paged.totalItems" page="paged.page" items-per-page="paged.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)"></pagination>
                            </div>
                            <div class="columns large-3">
                                <div class="row">
                                    <div class="columns small-8">
                                        <label for="items-per-page" class="inline right">Items per page:</label>
                                    </div>
                                    <div class="columns small-4">
                                        <select required name="itemsPerPage" id="items-per-page" ng-model="paged.itemsPerPage" ng-change="onItemsPerPageChange()" ng-options=" ipp for ipp in config.pagination.allowed "></select>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no defined award rules. Create a <a kk-nav route="newAward" ng-attr-param-ffpid="{{ffp.id}}">first one</a></p>
                </div>
            </div>
        </div>
    </div>
    
</section>