<tr>
    <th rowspan="2"><input type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
    <th rowspan="2"></th>
    <th rowspan="2" class="text-left">Id</th>
    <th rowspan="2">Rules</th>
    <th rowspan="2" class="text-left">Name</th>
    <th colspan="2">Fare family</th>
    <th colspan="2">One way</th>
    <th colspan="2">Taxes, fees, charges</th>
    <th rowspan="2">Round trip</th>
    <th rowspan="2">Elite</th>
    <th rowspan="2">Seasonal</th>
    <th rowspan="2"><abbr title="Codeshare Rule Modification">CRM</abbr></th>
    <th rowspan="2">Excluded dates</th>
    <th rowspan="2">Legend</th>
    <th rowspan="2"><abbr title="Geographical rules">Geo.</abbr></th>
    <th rowspan="2" colspan="4"></th>
</tr>
<tr>
    <th class="text-right">From</th>
    <th class="text-right">To</th>
    <th class="text-right">From</th>
    <th class="text-right">To</th>
    <th class="text-right">From</th>
    <th class="text-right">To</th>
</tr>