.kk-tooltip{
  position: absolute;
  max-width: 350px;
  display: none;
  padding: 0.75rem;
  background: #ddd;
  box-shadow: 1px 1px 4px -2px #333;
  color: #333;
  min-width: 200px;
  font-size: 0.75rem;
  border-radius: 4px;
  visibility: hidden;
  line-height: 1.25;
  z-index: 100;
}

.kk-tooltip .tip{
  border-color: transparent transparent #ddd;
  border-style: solid;
  border-width: 7px;
  position: absolute;
  width: 0;
  height: 0;
  display: block;
}

.kk-tooltip.top .tip{
  border-color: #ddd transparent transparent;
} 

.kk-tooltip.left .tip{
  border-color: transparent transparent transparent #ddd;
}

.kk-tooltip.right .tip{
  border-color: transparent #ddd transparent transparent;
  
}

.kk-tooltip table{
  margin-bottom: 0;
}

.kk-tooltip table{
  background: #fff;
  border: none;
}

.kk-tooltip table thead tr{
  background: #f1f1f1;
}

.kk-tooltip table tr td,
.kk-tooltip table tr th{
  font-size: 0.65rem;
  padding: 0.1rem 0.25rem;
}

.kk-tooltip span.label{
  margin-right: 0.15rem;
}

.has-tooltip:not(.label):not(th):not(td){
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

a.has-tooltip{
  border-bottom: 1px dotted #dddddd;;
}

td.has-tooltip,
th.has-tooltip{
  position: relative;
}

td.has-tooltip:after,
th.has-tooltip:after{
  content: " ";
  border-color: transparent transparent #5da423;
  border-style: solid;
  border-width: 0 0 12px 12px;
  bottom: 0;
  color: #fff;
  font-size: 0.5rem;
  height: 0;
  line-height: 2.75em;
  position: absolute;
  right: 0;
  text-indent: -1em;
  width: 0;
}

.kk-tooltip p{
  font-size: 0.75rem;
  margin: 0.5rem 0;
  line-height: 1.4;
}

.kk-tooltip .etc{
  color: #666;
}