						<form class="edit-program custom" data-program-id="2">
							<div id="edit-program-details" class="loaded">
								<h5><span class="foundicon-edit"></span> Delta Skymiles</h5>
								
								<div class="row">
									<div class="columns large-2">
										<label for="program-status">Member status</label>
									</div>
									<div class="columns large-10">
										<ul class="button-group radio" id="program-status">
											<li><a href="#" data-status-id="0" class="button small secondary disabled">Basic</a></li>
											<li><a href="#" data-status-id="1" class="button small secondary">Silver</a></li>
											<li><a href="#" data-status-id="2" class="button small secondary">Gold</a></li>
											<li><a href="#" data-status-id="3" class="button small secondary">Platinum</a></li>
										</ul>
									</div>
									<hr />
								</div>
								<div class="row">
									<div class="columns large-2">
										<label for="program-miles-auto">Miles balance</label>
									</div>
									<div class="columns large-10">
										<ul class="inline-list">
											<li>
												<label for="miles-auto">
													<input type="radio" name="program_miles_input" id="miles-auto" checked />
													<span class="custom radio"></span> Check automatically
												</label>
											</li>
											<li>
												<label for="miles-manual">
													<input type="radio" name="program_miles_input" id="miles-manual" />
													<span class="custom radio"></span> Fill manually
												</label>
											</li>
										</ul>
										<div id="miles-auto-wrapper">
											<div id="miles-result"></div>
											<fieldset>
												<legend><span class="foundicon-lock"></span>It is safe</legend>
												<p>We use the same encription as banks. More? See <a href="#">terms &amp; conditions</a>.</p>
												<div class="row">
													<div class="columns large-4">
														<input type="text" name="program_login" id="program-login" placeholder="Mileage Plus login" />
													</div>
													<div class="columns large-4">
														<input type="password" name="program_pass" id="program-pass" placeholder="Mileage Plus password" />
														<p class="desc"><a href="#" title="Go to Mileage Plus page to retrive password" target="_blank">I don't remember my password</a></p>
													</div>
													<div class="columns large-4">
														<a href="#" class="button secondary small check-miles expand"><span class="foundicon-refresh"></span> <span class="reconnect">Re-connect</span><span class="get-miles">Get my miles</span></a>
													</div>
												</div>
											</fieldset>
										</div>
										<div id="miles-manual-wrapper">
											<fieldset>
											<p>It's 3-step process and may take up to 5 minutes. Open <a href="#" target="_blank">Mileage Plus website</a> in new browser tab.</p>
											<div class="row">
												<div class="columns large-2">
													<label for="program-award-miles">Award miles</label>
													<input type="text" name="award_miles" id="program-award-miles" />
												</div>
												<div class="columns large-9 large-offset-1">
													<p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>
											</div>
											<div class="row">
												<div class="columns large-2">
													<label for="program-status-miles">Status miles</label>
													<input type="text" name="status_miles" id="program-status-miles" />
												</div>
												<div class="columns large-9 large-offset-1">
													<p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>
											</div>
											<div class="row">
												<div class="columns large-2">
													<label for="program-segments">Segements</label>
													<input type="text" name="segments" id="program-segments" />
												</div>
												<div class="columns large-9 large-offset-1">
													<p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>
											</div>
											<div class="row">
												<div class="columns large-2">
													<label for="program-points">Award Points</label>
													<input type="text" name="points" id="program-points" />
												</div>
												<div class="columns large-9 large-offset-1">
													<p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>
											</div>
											</fieldset>
										</div>
									</div>
									<hr />
								</div>
								<div class="row">
									<div class="columns large-2">
										<label for="program-no-cards">Airline credit cards</label>
									</div>
									<div class="columns large-10">
										<ul class="inline-list">
											<li>
												<label for="program-no-cards">
													<input type="radio" name="program_cards" id="program-no-cards" checked />
													<span class="custom radio"></span> Don't have any
												</label>
											</li>
											<li>
												<label for="program-has-cards">
													<input type="radio" name="program_cards" id="program-has-cards" />
													<span class="custom radio"></span> Select airline credit cards
												</label>
											</li>
										</ul>
										<div id="program-cards-wrapper">
										<div id="program-cards">
											<div class="row switches-wrapper">
														<div class="columns large-4">
															<div class="row">
																<div class="columns small-6 small-centered">
																	<div class="switch small round">
																		<input id="card-off-0" name="card-0" type="radio" checked>
																		<label for="card-off-0" onclick="">Off</label>
																
																		<input id="card-on-0" name="card-0" type="radio">
																		<label for="card-on-0" onclick="">On</label>
																	
																		<span></span>
																	</div>
																</div>
															</div>
														</div>
														<div class="columns large-4">
															<div class="row">
																<div class="columns small-6 small-centered">
																	<div class="switch small round">
																		<input id="card-off-1" name="card-1" type="radio" checked>
																		<label for="card-off-1" onclick="">Off</label>
																
																		<input id="card-on-1" name="card-1" type="radio">
																		<label for="card-on-1" onclick="">On</label>
																	
																		<span></span>
																	</div>
																</div>
															</div>
														</div>
														<div class="columns large-4">
															<div class="row">
																<div class="columns small-6 small-centered">
																	<div class="switch small round">
																		<input id="card-off-2" name="card-2" type="radio" checked>
																		<label for="card-off-2" onclick="">Off</label>
																
																		<input id="card-on-2" name="card-2" type="radio">
																		<label for="card-on-2" onclick="">On</label>
																	
																		<span></span>
																	</div>
																</div>
															</div>
														</div>
											</div>							
																			
											<ul data-orbit data-options="timer_speed: 99999999">
												<li>
													<div class="row">
																<div class="columns large-4">
																	<figure class="program-card" data-card-id="23" data-card-enabled="0">
																		<img src="img/card.png" alt="Credit Card United" />
																		<figcaption>Delta Skymiles Visa Pro</figcaption>
																	</figure>
																</div>
																<div class="columns large-4">
																	<figure class="program-card" data-card-id="2" data-card-enabled="1">
																		<img src="img/card.png" alt="Credit Card United" />
																		<figcaption>Delta Skymiles Visa Pro</figcaption>
																	</figure>
																</div>
																<div class="columns large-4">
																	<figure class="program-card" data-card-id="234" data-card-enabled="0">
																		<img src="img/card.png" alt="Credit Card United" />
																		<figcaption>Delta Skymiles Visa Pro</figcaption>
																	</figure>
																</div>
													</div>
												</li>
												<li>
													<div class="row">
																<div class="columns large-4">
																	<figure class="program-card" data-card-id="43" data-card-enabled="0">
																		<img src="img/card.png" alt="Credit Card United" />
																		<figcaption>Delta Skymiles Visa Pro</figcaption>
																	</figure>
																</div>
																<div class="columns large-4">
																	<figure class="program-card" data-card-id="56" data-card-enabled="0">
																		<img src="img/card.png" alt="Credit Card United" />
																		<figcaption>Delta Skymiles Visa Pro</figcaption>
																	</figure>
																</div>
																<div class="columns large-4">
																	<figure class="program-card" data-card-id="76" data-card-enabled="1">
																		<img src="img/card.png" alt="Credit Card United" />
																		<figcaption>Delta Skymiles Visa Pro</figcaption>
																	</figure>
																</div>
													</div>
												</li>
											</ul>
										</div>
										</div>
									</div>
									<hr />
								</div>
								<div class="row">
									<div class="columns large-10 large-offset-2">
										<button class="button small" id="save-program">
											<span class="foundicon-checkmark"></span> Save
										</button>
										<button class="button small secondary" id="delete-program">
											<span class="foundicon-remove"></span> Delete
										</button>
										<a href="#" class="change-new-program">Cancel</a>
									</div>
								</div>
							</div>
						</form>

