<div class="button-bar">
    <ul class="button-group radius">
        <li>
            <button ng-click="onClick($event)" dropdown-toggle="#period-picker-{{counter}}" type="button" class="tiny secondary" title="Set date">
                <span ng-if="from">{{ from | date }}</span>
                <span ng-if="!from"><i class="fi-calendar"></i> {{ fText }}</span>
            </button>
        </li>
        <li ng-if="from">
            <button type="button" class="tiny secondary remove-date" ng-click="clearFrom()" title="Clear date"><i class="fi-x"></i></button>
        </li>
    </ul>
    <ul class="button-group radius">
        <li>
            <button ng-click="onClick($event)" dropdown-toggle="#period-picker-{{counter}}" type="button" class="tiny secondary" title="Set date">
                <span ng-if="until">{{ until | date }}</span>
                <span ng-if="!until"><i class="fi-calendar"></i> {{ uText }}</span>
            </button>
        </li>
        <li ng-if="until">
            <button type="button" class="tiny secondary remove-date" ng-click="clearUntil()" title="Clear date"><i class="fi-x"></i></button>
        </li>
    </ul>
</div>