kk-period-picker .remove-date{
    background-color: #ddd;
}

.period-picker{
    width: 450px;
    max-width: 450px;
    border: none;
    box-shadow:1px 1px 5px -2px #222;
    border-radius: 10px;
    padding: 1rem;
}

.period-picker table{
    margin-bottom: 0;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.period-picker table tbody td,
.period-picker table thead td,
.period-picker table tfoot td,
.period-picker table tbody th,
.period-picker table thead th,
.period-picker table tfoot th{
    text-align: center;
}

[date-range] [date-picker] .after.before{
    background-color: #eee !important;
    background-image: none; 
    border-color: transparent;
}

[date-picker]{
    padding: 0;
}
    
[date-picker] table{
    border: none;
    border-collapse: collapse;
}

[date-picker] table tr,
[date-picker] table td{
    font-size: 0.75rem;
}

[date-picker] table th,
[date-picker] table td{
    border-radius: 0;
    height: auto;
    width: auto;
}
    
[date-picker] div[ng-switch-when="year"] span,
[date-picker] div[ng-switch-when="month"] span,
[date-picker] div[ng-switch-when="minutes"] span{
    height: 2.5rem;
    line-height: 2.5rem;
}

[date-picker] div[ng-switch-when="date"] td span.now {
  background-color: #2ba6cb;
}
[date-picker] div[ng-switch-when="date"] td span.now:hover {
  background-color: #2ba6cb;
}
[date-picker] div[ng-switch-when="date"] td span.active {
  background-color: #5da423;
}
[date-picker] div[ng-switch-when="date"] td span.active:hover {
  background-color: #5da423;
}
[date-picker] span {
  border-radius: 2px;
}
[date-picker] .active,
[date-picker] .now {
  background-image: none;
  border: none;
}
[date-picker] .active:hover, [date-picker] .active[disabled], [date-picker] .active:active, [date-picker] .active.active, [date-picker] .active.disabled, [date-picker] .active[disabled],
[date-picker] .now:hover,
[date-picker] .now[disabled],
[date-picker] .now:active,
[date-picker] .now.active,
[date-picker] .now.disabled,
[date-picker] .now[disabled] {
  background-color: #5da423;
  color: #fff;
}
[date-picker] .now {
  background-color: #2ba6cb;
}
[date-picker] .active {
  background-color: #5da423;
}
