<!-- Cached particles -->

<script type="text/ng-template" id="components/service/delete-items-modal.html">
    <h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
    <h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
    <p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
    <p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
    <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<script type="text/ng-template" id="ffp-cms/ffps/table-header.html">
    <tr>
        <th rowspan="2" class="text-left">No</th>
        <th rowspan="2"><input type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
        <th rowspan="2" class="text-left">Name</th>
        <th rowspan="2" class="text-left">Code</th>
        <th colspan="2">Airlines</th>
        <th rowspan="2" class="text-left">Alliance</th>
        <th rowspan="2"><abbr title="Orientation">Orient.</abbr></th>
        <th rowspan="2" colspan="6"></th>
    </tr>
    <tr>
        <th class="text-left">Owning</th>
        <th class="text-left">Affiliated</th>
    </tr>
</script>

<!-- END of cached particles -->

<section id="ffp-collection">
    
    <div class="row">
        <div class="columns large-12">
            <h1>Frequent flyer programs</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li class="current" kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
            </ul>
            <div ng-if="items">
                <div ng-if="items.length > 0" id="ffps-table">
                    
                    <div kk-fixed-block attach-to="#ffps-table">
                        <div class="button-bar" id="ffp-toolbar">
                            <ul class="button-group">
                                <li><a class="tiny button" kk-nav route="newFfp"><i class="fi-plus"></i> Add new</a></li>
                            </ul>
                            <ul class="button-group">
                                <li><button class="tiny secondary button" ng-disabled="selected.items <= 0" ng-click="runRulesValidation()"><i class="fi-play"></i> Run rules validation</button></li>
                            </ul>
                        </div>
                    </div>
                    <table class="highlight">
                        <thead kk-fixed-table-header template="ffp-cms/ffps/table-header.html" table-data="{ items: items, config: config }" attach-to="#ffp-collection" after="#ffp-toolbar"></thead>
                        <tbody>
                            <tr ng-repeat=" item in items | orderBy : 'name' ">
                                <td class="text-left">{{ $index + 1 }}</td>
                                <td><input type="checkbox" checklist-model="selected.items" checklist-value="item" /></td>
                                <th class="text-left">{{ item.name }}</th>
                                <td class="text-left" kk-tooltip="{{ item.comment }}">{{ item.code }}</td>
                                <td class="text-left nowrap">
                                    <span ng-if="item.owningAirlines.length < 1">None</span>
                                    <span ng-if="item.owningAirlines.length > 0">
                                        <span class="label radius" ng-repeat="airline in item.owningAirlines" kk-tooltip="{{item.airlineNames[airline]}}">{{ airline }}</span>
                                    </span>
                                </td>
                                <td class="text-left nowrap">
                                    <span ng-if="item.affiliatedAirlines.length < 1">None</span>
                                    <span ng-if="item.affiliatedAirlines.length > 0">
                                        <span class="label success radius" ng-repeat="airline in item.affiliatedAirlines" kk-tooltip="{{item.airlineNames[airline]}}">{{ airline }}</span>
                                    </span>
                                </td>
                                <td class="text-left">{{ (config.alliances | find : item.alliance).name }}</td>
                                <td><span ng-class="{ pink: item.codeshareBase == 'mk', yellow: item.codeshareBase == 'op' }" class="label radius uppercase" kk-tooltip="{{ (config.codeshareEarningTypes | find : item.codeshareBase : 'code').name }}">{{ item.codeshareBase }}</span></td>
                                <td class="action text fill" ng-class="{ success: item.earningActive, alert: !item.earningActive }"><a title="Show earning rules" kk-nav route="rules" nav-disabled="!item.earningActive" ng-attr-param-ffpid="{{item.id}}">Earning</a></td>
                                <td class="action text fill" ng-class="{ success: item.redemptionActive, alert: !item.redemptionActive }"><a title="Show redemption rules" kk-nav route="awards" nav-disabled="!item.redemptionActive" ng-attr-param-ffpid="{{item.id}}">Redemption</a></td>
                                <td class="action text fill" ng-class="{ success: item.benefitsActive, alert: !item.benefitsActive }"><a title="Show benefits rules" kk-nav route="benefitRules" nav-disabled="!item.benefitsActive" ng-attr-param-ffpid="{{item.id}}">Benefits</a></td>
                                <td class="action text fill" ng-class="{ success: item.attributesActive, alert: !item.attributesActive }"><a title="Show fare attribute rules" kk-nav route="fareAttributeRules" nav-disabled="!item.attributesActive" ng-attr-param-ffpid="{{item.id}}">Attributes</a></td>
                                <td class="action text"><a title="Edit" kk-nav route="editFfp" ng-attr-param-id="{{item.id}}">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no defined FFPs. Create a <a kk-nav route="newFfp">first one</a></p>
                </div>
            </div>
        </div>
    </div>
    
</section>