<tr>
    <th rowspan="2" class="text-left">No</th>
    <th rowspan="2"><input type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
    <th rowspan="2" class="text-left">Name</th>
    <th rowspan="2" class="text-left">Code</th>
    <th colspan="2">Airlines</th>
    <th rowspan="2" class="text-left">Alliance</th>
    <th rowspan="2"><abbr title="Orientation">Orient.</abbr></th>
    <th rowspan="2" colspan="8"></th>
</tr>
<tr>
    <th class="text-left">Owning</th>
    <th class="text-left">Affiliated</th>
</tr>