<section id="atpco-edit">
    
    <div class="row">
        <div class="columns large-2">
            <ul class="side-nav">
                <li kk-nav="airlines"><a>Airlines</a></li>
                <li kk-nav="alliances"><a>Alliances</a></li>
                <li kk-nav="airports"><a>Airports</a></li>
                <li kk-nav="countries"><a>Countries</a></li>
                <li kk-nav="zones"><a>Zones</a></li>
                <li kk-nav="continents"><a>Continents</a></li>
                <li kk-nav="flights"><a>Flight numbers</a></li>
                <li kk-nav="benefits"><a>Passenger benefits</a></li>
                <li kk-nav="fareAttributes"><a>Fare attributes</a></li>
                <li kk-nav="atpco"><a>ATPCO codes</a></li>
                <li kk-nav="atpcoGroups"><a>ATPCO groups</a></li>
                <li kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></li>
                <li kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></li>
                <li kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></li>
            </ul>
        </div>
        <div class="columns large-10">
            <hgroup ng-if="!isNew">
                <h1>ATPCO code</h1>
                <h4 class="subheader">{{ item.name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New ATPCO code</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li kk-nav route="atpco">
                    <a>ATPCO codes</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editAtpco" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newAtpco">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate ng-if="config">
                
                <fieldset>
                    <legend>Basic</legend>
                    <div class="row">
                        <div class="columns large-6">
                            
                            <label for="item-code">Subcode <small>Required</small></label>
                            <input type="text" ng-model="item.subcode" id="item-subcode" name="subcode" required ng-pattern="/^[A-Z0-6]{3}$/" />
                            <kk-error field="itemForm.subcode" type="required">This field is required</kk-error>
                            <kk-error field="itemForm.subcode" type="pattern">Three uppercase characters</kk-error>
                            
                            <label for="item-group">Group <small>Required</small></label>
                            <select ng-model="item.group" id="item-group" name="itemgroup" required ng-options="group.code as group.name for group in config.groups" ng-change="onChange('group')"></select>
                            <kk-error field="itemForm.itemgroup">This field is required</kk-error>
                            
                            <label for="item-subgroup">Subgroup</label>
                            <select ng-model="item.subgroup" id="item-subgroup" name="itemsubgroup" ng-options="subgroup.code as subgroup.name for subgroup in subgroups" ng-disabled="subgroups.length <= 0" ng-change="onChange('subgroup')">
                                <option value="">None</option>
                            </select>
                            
                            <label for="item-desc1">Description 1</label>
                            <select ng-model="item.desc1" id="item-desc1" name="itemdesc1" ng-options="d1.code as d1.name for d1 in desc1" ng-disabled="desc1.length <= 0" ng-change="onChange('desc1')">
                                <option value="">None</option>
                            </select>
                            
                            <label for="item-desc2">Description 2</label>
                            <select ng-model="item.desc2" id="item-desc2" name="itemdesc2" ng-options="d2.code as d2.name for d2 in desc2" ng-disabled="desc2.length <= 0" ng-change="onChange('desc2')">
                                <option value="">None</option>
                            </select>

                            <label for="item-name">Name <small>Required</small></label>
                            <input type="text" ng-model="item.name" id="item-name" name="itemname" required />
                            <kk-error field="itemForm.itemname">This field is required</kk-error>
                            
                        </div>
                        <div class="columns large-6">
                            
                        </div>
                    </div>
                </fieldset>
                
                <div class="row">
                    <div class="columns large-12">
                        <button ng-if="isNew" ng-click="submitAndStay(itemForm)" type="button" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-plus"></i> Save and add another</button>
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="atpco" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteItem(item)">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section> 