<section id="ffp-fare-attribute-collection">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup>
                <h1>Fare attribute rules</h1>
                <h4 class="subheader">{{ffp.name}}</h4>
            </hgroup>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li class="current" kk-nav route="fareAttributeRules" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Fare attribute rules</a>
                </li>
            </ul>
            
            <div ng-if="items &amp;&amp; ffp">     
            
                <form novalidate name="filterForm" id="item-toolbar" ng-submit="onFilterChange()">
                    <fieldset ng-class="{ collapsed: !filtersExpanded }">
                        
                        <legend>
                            <a ng-click="toggleFilters()"><i ng-class="{ 'fi-minus': filtersExpanded, 'fi-plus': !filtersExpanded }"></i> Filters</a> 
                            <span ng-if="!areFiltersEmpty()" class="label radius secondary"><i class="fi-check"></i></span>
                        </legend>
                        
                        <div class="inner-fieldset">
                                
        				    <div class="row">
        				        <div class="columns large-3">
        				            <div class="row collapse">
        								<div class="columns small-4">
        									<span class="prefix">Rule ID</span>
        								</div>
        								<div class="columns small-8">
        									<input type="text" id="filter-code" name="faCode" ng-model="paged.code" />
        								</div>
        							</div>
        				        </div>
        						<div class="columns large-3"> 
        						    <button type="button" class="tiny expand" title="Marketing airlines" dropdown-toggle="#dropdown-marketing-airlines" ng-class="{ secondary: paged.marketingAirlines.length <= 0 }">
                                        <span ng-if="paged.marketingAirlines.length <= 0">Mkt. airlines</span>
                                        <span ng-if="paged.marketingAirlines.length > 0 &amp;&amp; paged.marketingAirlines.length <= 2 &amp;&amp; (paged.marketingAirlines.length == 2 || paged.marketingAirlines.indexOf('spe') < 0)">
                                            <span ng-repeat="airline in paged.marketingAirlines">{{(config.filterOperationalTypes | find : airline : 'code').name }}<span ng-if="!$last">, </span></span>
                                        </span>
                                        <span ng-if="paged.marketingAirlines.length > 2">Mkt. airlines: {{paged.marketingAirlines.length}} types</span>
                                        <span ng-if="paged.marketingAirlines.length == 1 &amp;&amp; paged.marketingAirlines.indexOf('spe') >= 0 &amp;&amp; paged.marketingSpecificAirlines.length > 0">
                                            <span ng-repeat="airline in paged.marketingSpecificAirlines">{{ airline }}<span ng-if="!$last">, </span></span>
                                        </span>
                                    </button>
        						</div>
        						<div class="columns large-3">
        						    <div class="row collapse">
        								<div class="columns small-4">
        									<span class="prefix">Name</span>
        								</div>
        								<div class="columns small-8">
        									<input type="text" id="filter-name" name="faName" ng-model="paged.name" />
        								</div>
        							</div>
        						</div>
        						<div class="columns large-3">
        						    <div class="row collapse">
        								<div class="columns small-4">
        									<span class="prefix">Order by</span>
        								</div>
        								<div class="columns small-8">
        									<select id="filter-orderby" name="faOrderby" ng-model="paged.orderBy" ng-options="sort.id as sort.name for sort in config.fareAttributesOrderBy"></select>
        								</div>
        							</div>
        						</div>
        					</div>
        					<div class="row">
        						<div class="columns large-3">
        						    <div class="row collapse">
        								<div class="columns small-4">
        									<span class="prefix">Airlines</span>
        								</div>
        								<div class="columns small-8">
        									<kk-tag-input pattern="airlineCodePattern" maxlength="2" collection="paged.airlines" uppercase="true"></kk-tag-input>
        								</div>
        							</div>
        						</div>
        						<div class="columns large-3">
        						    <button type="button" class="tiny expand" title="Operating Airlines" dropdown-toggle="#dropdown-operating-airlines" ng-class="{ secondary: paged.operatingAirlines.length <= 0 }">
                                        <span ng-if="paged.operatingAirlines.length <= 0">Op. airlines</span>
                                        <span ng-if="paged.operatingAirlines.length > 0 &amp;&amp; paged.operatingAirlines.length <= 2 &amp;&amp; (paged.operatingAirlines.length == 2 || paged.operatingAirlines.indexOf('spe') < 0)">
                                            <span ng-repeat="airline in paged.operatingAirlines">{{(config.filterOperationalTypes | find : airline : 'code').name }}<span ng-if="!$last">, </span></span>
                                        </span>
                                        <span ng-if="paged.operatingAirlines.length > 2">Op. airlines: {{paged.operatingAirlines.length}} types</span>
                                        <span ng-if="paged.operatingAirlines.length == 1 &amp;&amp; paged.operatingAirlines.indexOf('spe') >= 0 &amp;&amp; paged.operatingSpecificAirlines.length > 0">
                                            <span ng-repeat="airline in paged.operatingSpecificAirlines">{{ airline }}<span ng-if="!$last">, </span></span>
                                        </span>
                                    </button>
        						</div>
        						<div class="columns large-3">
        							<div class="row collapse">
        								<div class="columns small-4">
        									<span class="prefix">Attribute</span>
        								</div>
        								<div class="columns small-8">
        									<select id="filter-attribute" name="faAttribute" ng-model="paged.fareAttribute" ng-options="attr.id as attr.name for attr in config.fareAttributes">
        										<option value="">Any</option>
        									</select>
        								</div>
        							</div>
        						</div>
        						<div class="columns large-3">
        							<div class="row collapse">
        								<div class="columns small-4">
        									<span class="prefix">ATPCO</span>
        								</div>
        								<div class="columns small-8">
        								    <input type="text" maxlength="3" id="filter-atpco" name="faAtpco" ng-model="paged.atpco" />
        								</div>
        							</div>
        						</div>
        					</div>
        					<div class="row">
        					    <div class="columns small-3">
        					        <ul class="button-group even-2">
        					            <li><button type="submit" class="button tiny primary">Apply filter</button></li>
        					            <li><button type="button" class="button tiny secondary" ng-click="resetFilters()">Reset filter</button></li>
        					        </ul>
        					    </div>
        					</div>
        					
        				</div>
					</fieldset>
				</form>
				
				<div class="alert-box warning radius" ng-if="applyToAll()">
                    <i class="fi-checkbox"></i> You are in apply-to-all mode. Any change will affect <strong>all selected rules</strong>.
                </div>
                
                <div ng-if="items &amp;&amp; ffp">
                
                    <div ng-if="items.length > 0">
                
                        <form name="itemsForm" novalidate ng-submit="saveItems(itemsForm)" id="item-form">
                    
            				<div kk-fixed-block attach-to="#item-form">
            					
    							<div class="button-bar" id="items-toolbar">
    								<ul class="button-group">
    									<li><a class="tiny button" kk-nav route="newFareAttributeRule" ng-attr-param-ffpid="{{ ffp.id }}"><i class="fi-plus"></i> Add new</a></li>
    								</ul>
    								<ul class="button-group" ng-if="!applyToAll()">
    								    <li><button type="button" ng-click="cloneItems()" ng-disabled="selected.items.length <= 0" class="tiny button secondary"><i class="fi-page-copy"></i> Clone</button></li>
    								    <li><button type="button" ng-click="enableApplyToAll()" ng-disabled="selected.items.length <= 1" class="tiny button secondary"><i class="fi-checkbox"></i> Apply to all</button></li>
    								</ul>
    								<ul class="button-group" ng-if="!applyToAll()">
    								    <li><button type="button" ng-click="deleteItems()" ng-disabled="selected.items.length <= 0" class="tiny button secondary"><i class="fi-x"></i> Delete</button></li>
    								</ul>
    								<ul class="button-group" ng-if="applyToAll()">
                                        <li><button type="submit" ng-class="{ secondary: !itemsForm.$valid || !itemsForm.$dirty, success: itemsForm.$valid &amp;&amp; itemsForm.$dirty}" class="tiny button"><i class="fi-save"></i> Save</button></li>
                                        <li><button type="button" ng-click="disableApplyToAll()" class="tiny secondary button">Cancel</button></li>
                                    </ul>
    							</div>
            					
            				</div>
            				
                            <table class="highlight">
                                <thead kk-fixed-table-header template="ffp-cms/fare-attributes/table-header.html?v=2" table-data="{ items: items, config: config, ffp: ffp }" attach-to="#ffp-fare-attribute-collection" after="#items-toolbar"></thead>
                                <tbody> 
                                    <tr ng-repeat=" item in items " ng-class="{ 'inactive': !item.active, 'has-form' : item.unlocked }" ng-form="itemForm">
                                        <td>
                                            <input type="checkbox" ng-disabled="applyToAll()" checklist-model="selected.items" checklist-value="item" />
                                        </td>
                                        <td>
                                            {{ ($index + 1) | number : 0 }}
                                        </td>
                                        <th class="text-left" ng-class="getRuleIdClass(item.unlocked ? item._copy : item)">
                                            <div ng-if="!item.unlocked">
                                                <i class="fi-clock" ng-if="item.purchase.from || item.purchase.until || item.flight.from || item.flight.until" kk-tooltip="ffp-cms/rules/tooltip-validity.html" tooltip-data="item"></i> 
                                                <span kk-tooltip="ffp-cms/rules/tooltip-comment.html" tooltip-data="item" tooltip-if="item.comment.length > 0">{{ item.code }}</span>
                                            </div>
                                            <div ng-if="item.unlocked">
                                                <i class="fi-clock" ng-if="item._copy.purchase.from || item._copy.purchase.until || item._copy.flight.from || item._copy.flight.until" kk-tooltip="ffp-cms/rules/tooltip-validity.html" tooltip-data="item._copy"></i> 
                                                <span kk-tooltip="ffp-cms/rules/tooltip-comment.html" tooltip-data="item._copy" tooltip-if="item._copy.comment.length > 0">{{ item._copy.code }}</span>
                                            </div>
                                        </th>
                                        <td class="text-left">
                                            {{item.airline.code}}
                                        </td>
                                        <td class="text-left">
                                            <span ng-if="!item.unlocked" kk-tooltip="{{item.summary}}" tooltip-if="item.summary.length > 0">{{ item.name }}</span>
                                            <span ng-if="item.unlocked">
                                                <input type="text" name="itemName" ng-model="item._copy.name" required ng-change="applyToAllSync(item, 'name')" />
                                                <kk-error field="itemForm.itemName" type="required">Required</kk-error>
                                            </span>
                                        </td>
                                        <td class="text-left">
                                            <div ng-if="!item.unlocked" kk-tooltip="{{item.fareCodes}}" tooltip-if="item.fareCodes.length > 0">
                                                {{ (config.fareFamilies | find : item.fareFamily).name }}
                                            </div>
                                            <div ng-if="item.unlocked" class="kk-error-wrapper">
                                                <select ng-change="applyToAllSync(item, 'fareFamily')" name="itemFf" ng-model="item._copy.fareFamily" ng-options=" fare.id as fare.name for fare in config.fareFamilies " required></select>
                                                <kk-error field="itemForm.itemFf">Required</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            <div class="branded-fare" ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length > 0 &amp;&amp; brandedFares.length > 0">
                                                <span ng-if="item.brandedFares.length == 1">{{ ((brandedFares | find : item.airline.code : 'code').brandedFares | find : item.brandedFares[0] : 'code').name }}</span>
                                                <span ng-if="item.brandedFares.length > 1">{{ item.brandedFares.length }} branded fares</span>
                                            </div>
                                            <div ng-if="!item.brandedFaresActive || item.brandedFares.length <= 0 || brandedFares.length <= 0">
                                                <i class="fi-x alert"></i>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            {{ (config.fareAttributes | find : item.fareAttribute : 'code').name }}
                                        </td>
                                        <td>
                                            <span ng-if="item.memberCostType == 'free'"><i class="fi-check success"></i></span>
                                            <span ng-if="item.memberCostType != 'free'"><i class="fi-x alert"></i></span>
                                        </td>
                                        <td>
                                            <span ng-if="item.memberCostType == 'free'"><i class="fi-x alert"></i></span>
                                            <span ng-if="item.memberCostType != 'free'">
                                                <span ng-if="item.memberCost > 0">
                                                    {{item.memberCost | number : 2}} {{item.currencyCode}} 
                                                    <span ng-if="item.memberCostFareDifference">+ fare diff.</span>
                                                </span>
                                                <span ng-if="!item.memberCost || item.memberCost <= 0">
                                                    <span ng-if="item.memberCostFareDifference">Fare diff.</span>
                                                    <span ng-if="!item.memberCostFareDifference">Unknown</span>
                                                </span>
                                            </span>
                                        </td>
                                        <td>
                                            <i ng-if="!item.unlocked" ng-class="{ 'fi-check success': item.disclaimer, 'fi-x alert': !item.disclaimer }" kk-tooltip="{{item.disclaimer}}"></i>
                                            <i ng-if="item.unlocked" ng-class="{ 'fi-check success': item._copy.disclaimer, 'fi-x alert': !item._copy.disclaimer }" kk-tooltip="{{item._copy.disclaimer}}"></i>
                                        </td>
                                        <td>
                                            <span ng-if="!item.unlocked" kk-tooltip="ffp-cms/benefits/tooltip-codeshare.html" tooltip-data="{ rule: item, config: config }">
                                                <i ng-class="{ 'fi-check success': areCodeshareRulesDirty(item), 'fi-x alert': !areCodeshareRulesDirty(item) }"></i>
                                            </span>
                                            <span ng-if="item.unlocked" kk-tooltip="ffp-cms/benefits/tooltip-codeshare.html" tooltip-data="{ rule: item._copy, config: config }">
                                                <i ng-class="{ 'fi-check success': areCodeshareRulesDirty(item._copy), 'fi-x alert': !areCodeshareRulesDirty(item._copy) }"></i>
                                            </span>
                                        </td>
                                        <td>
                                            <div ng-if="!item.unlocked">
                                                <span ng-if="item.geographicalRules.length > 0" class="label" kk-tooltip="ffp-cms/rules/tooltip-geo.html" tooltip-data="item" tooltip-if="item.geographicalRules.length > 0">{{ item.geographicalRules.length }}</span>
                                                <span ng-if="item.geographicalRules.length <= 0" class="label secondary">0</span>
                                            </div>
                                            <div ng-if="item.unlocked">
                                                <span ng-if="item._copy.geographicalRules.length > 0 &amp;&amp; item._copy.leaveGeoRules" kk-tooltip="ffp-cms/rules/tooltip-geo.html" tooltip-data="item" tooltip-if="item.geographicalRules.length > 0">{{ item.geographicalRules.length }}</span> 
                                                <span ng-if="item._copy.geographicalRules.length <= 0 || !item._copy.leaveGeoRules">0</span> 
                                                <input type="checkbox" ng-change="applyToAllSync(item, 'leaveGeoRules')" ng-model="item._copy.leaveGeoRules" name="leaveGeo" />
                                            </div>
                                        </td>
                                        <td>
                                            <span kk-tooltip="{{((config.fareAttributes | find: item.fareAttribute : 'code').atpco | find: item.atpco : 'subcode').name}}" tooltip-if=" (config.fareAttributes | find : item.fareAttribute : 'code').atpco | find : item.atpco : 'subcode' ">{{ item.atpco }}</span>
                                        </td>
                                        <td class="action" ng-if="!item.unlocked || applyToAll()" ng-attr-colspan="{{ item.unlocked ? 2 : 1}}"><a title="Edit" kk-nav route="editFareAttributeRule" ng-attr-param-ffpid="{{ffp.id}}" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                        <td class="action" ng-if="!item.unlocked"><a ng-click="cloneItem($index)" title="Clone fare attribute rule"><i class="fi-page-copy"></i></a></td>
                                        <td class="action alert"><a title="Delete" ng-click="deleteItem(item)"><i class="fi-x"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                                
                        </form>
                        
                        <form novalidate name="paginForm">
                            <div class="row">
                                <div class="columns large-8">
                                    <pagination total-items="paged.totalItems" page="paged.page" items-per-page="paged.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)"></pagination>
                                </div>
                                <div class="columns large-3">
                                    <div class="row">
                                        <div class="columns small-8">
                                            <label for="items-per-page" class="inline right">Items per page:</label>
                                        </div>
                                        <div class="columns small-4">
                                            <select required name="itemsPerPage" id="items-per-page" ng-model="paged.itemsPerPage" ng-change="onItemsPerPageChange()" ng-options=" ipp for ipp in config.pagination.allowed "></select>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    
                    <div ng-if="items.length <= 0">
                        <p>There are no defined fare attributes. Create a <a kk-nav route="newFareAttributeRule" ng-attr-param-ffpid="{{ffp.id}}">first one</a></p>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>
    
    <div id="dropdown-marketing-airlines" class="f-dropdown codeshare-dropdown" ng-click="preventDefault($event)">
        <form name="mktFilterForm" ng-submit="onFilterChange()" novalidate>
            <div kk-multiselect list="config.filterOperationalTypes" property="code" label="name" selected="paged.marketingAirlines" cols="2" id="rules-mkt-airlines"></div>
            <kk-tag-input ng-if="paged.marketingAirlines.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="paged.marketingSpecificAirlines" uppercase="true"></kk-tag-input>
        </form>
    </div>
    
    <div id="dropdown-operating-airlines" class="f-dropdown codeshare-dropdown" ng-click="preventDefault($event)">
        <form name="opFilterForm" ng-submit="onFilterChange()" novalidate>
            <div kk-multiselect list="config.filterOperationalTypes" property="code" label="name" selected="paged.operatingAirlines" cols="2" id="rules-op-airlines"></div>
            <kk-tag-input ng-if="paged.operatingAirlines.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="paged.operatingSpecificAirlines" uppercase="true"></kk-tag-input>
        </form>
    </div>
    
</section>