<tr>
    <th><input type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
    <th></th>
    <th class="text-left">Rule Id</th>
    <th class="text-left">Airline</th>
    <th class="text-left">Attribute name</th>
    <th class="text-left">Fare family</th>
    <th class="text-left">Branded fares</th>
    <th class="text-left">Attribute type</th>
    <th class="text-left">Free</th>
    <th class="text-left">Fee</th>
    <th>Disclaimer</th>
    <th><abbr title="Codeshare Rule Modification">CRM</abbr></th>
    <th><abbr title="Geographical rules">Geo.</abbr></th>
    <th>ATPCO</th>
    <th colspan="3"></th>
</tr>