<div ng-controller="HomeHeaderController">
      
      <header id="window-top">
        <div class="transparent sticky">
          
          <div class="top-bar-bg"></div>
          
          <top-bar>
            
            <ul class="title-area">
              <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
              <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
            </ul>
            
            <top-bar-section>
              <ul class="right">
                <!--<li class="has-form"><a class="button round">Add to Chrome</a></li>-->
                <li class="has-form"><button class="button round" ng-disabled="isInstalled()" ng-click="install('menu')" title="Add 30K extension to your Google Chrome browser"><span ng-show="isInstalled()"><i class="fa fa-check"></i> installed</span><span ng-hide="isInstalled()">Try for free</span></button></li>
                <li><a title="Check what powers our browser extension" href="http://30k.com" target="_blank">Our API</a></li>
              </ul>
            </top-bar-section>
            
          </top-bar>
          
          <div kk-alerts key="global"></div>
          
        </div>
      </header>
    
      <section class="home-be-banner text-center artur">
        
        <div class="row">
          <div class="columns medium-10 medium-centered">
            <hgroup>
              <h3>Probably</h3>
              <h2>the best frequent flyer tool</h2>
              <h3>money can buy</h3>
            </hgroup>
          </div>
        </div>
        
        <div class="row cta">
          <div class="columns large-offset-3 large-3 medium-offset-2 medium-4">
            <button class="button round white border" ng-disabled="isInstalled()" ng-click="install('banner')" title="Add 30K extension to your Google Chrome browser"><span ng-show="isInstalled()"><i class="fa fa-check"></i> Already installed</span><span ng-hide="isInstalled()">Try for free</span></button>
            <h6 class="subheader">Unlimited version &mdash; $20/yr</h6>
          </div>
          <div class="columns large-3 medium-4 end">
            <a class="button round transparent white" ng-click="showVideoModal()" title="See our Chrome extension live"><i class="fa fa-play"></i> Watch video</a>
          </div>
        </div>
        
        <div class="row">
          <div class="columns medium-centered medium-10">
            <ul class="website-logos">
              <li><img src="img/websites/expedia.png" alt="Expedia" /></li>
              <li><img src="img/websites/travelocity.png" alt="Travelocity" /></li>
              <li><img src="img/websites/orbitz.png" alt="Orbitz" /></li>
              <li><img src="img/websites/hotwire.png" alt="Hotwire" /></li>
              <li><img src="img/websites/cheaptickets.png" alt="Cheap Tickets" /></li>
              <li><img src="img/websites/wotif.png" alt="Wotif" /></li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="columns medium-centered medium-10">
            <p>A Chrome plugin, that shows your mileage earnings on all these websites. And much more!</p>
          </div>
        </div>
        
        <div class="row">
          <div class="columns large-11 text-center medium-centered">
            <figure>
              <img src="img/header-be-wnd.png" alt="Flight search results with frequent flyer miles" />
            </figure>
          </div>
        </div>
        
      </section>
    
    </div>
    
    <section class="home-be-media">
      
      <div class="row">
        <div class="columns medium-12 text-center small-10 small-centered medium-uncentered">
          <h4>As seen on:</h4>
          <ul class="media-logos">
            <li><img src="img/media/bloomberg.png" alt="Bloomberg" /></li>
            <li><img src="img/media/boarding-area.png" alt="Boarding Area" /></li>
            <li><img src="img/media/skift.png" alt="Skift" /></li>
            <li><img src="img/media/tnooz.png" alt="Tnooz" /></li>
          </ul>
        </div>
      </div>
      
    </section>
    
    <section class="home-be-airlines">
      <div class="row">
        <div class="columns medium-12 text-center small-10 small-centered medium-uncentered">
          
          <h3>Top 67 loyalty programs in the World</h3>
          
          <ul class="medium-block-grid-7 small-block-grid-2">
            <li><h6 class="subheader">American Airlines</h6></li>
            <li><h6 class="subheader">British Airways</h6></li>
            <li><h6 class="subheader">Delta Airlines</h6></li>
            <li><h6 class="subheader">Etihad Airways</h6></li>
            <li><h6 class="subheader">Germanwings</h6></li>
            <li><h6 class="subheader">KLM</h6></li>
            <li><h6 class="subheader">Lufthansa</h6></li>
          </ul>
          
          <p class="etc"><a title="Check all airlines that we support" href="">See all supported programs and airlines</a></p>
          
        </div>
      </div>
    </section>
    
    <section class="home-be-features" id="home-features">
      
      <div class="row">
        <div class="columns medium-6 medium-centered text-center">
          <h3>Get your miles and next status tier faster than ever</h3>
        </div>
      </div>
      
      <article class="row screen-1">
        <div class="columns medium-6">
          <div class="screen-wrapper">
            <img src="img/be-screen-1.png" alt="Screenshot: flight search results with miles" />
          </div>
        </div>
        <div class="columns medium-5 medium-offset-1">
          <div class="screen-text text-center medium-text-left">
            <h4>Miles and more miles</h4>
            <p>Know how many award miles, status miles and segments you can earn on any flight. Track progress towards your next status level.</p>
          </div>
        </div>
      </article>
      
      <article class="row screen-2">
        <div class="columns medium-6 medium-push-6">
          <div class="screen-wrapper">
            <img src="img/be-screen-3.png" alt="Screenshot: flight with upgrade cabin icon and tooltip" />
          </div>
        </div>
        <div class="columns medium-5 medium-pull-6">
          <div class="screen-text text-center medium-text-right">
            <h4>Upgrade with miles</h4>
            <p>See which fares are upgradable with miles and how many miles you need to spend to get it upgraded.</p>
          </div>
        </div>
      </article>
      
      <article class="row screen-3">
        <div class="columns medium-6">
          <div class="screen-wrapper">
            <img src="img/be-screen-2.png" alt="Screenshot: list of your frequent flyer memberships" />
          </div>
        </div>
        <div class="columns medium-5 medium-offset-1">
          <div class="screen-text text-center medium-text-left">
            <h4>Track your memberships</h4>
            <p>Connect your memberships to start tracking  your status levels, miles, balances and expiration dates.</p>
          </div>
        </div>
      </article>
      
    </section>
    
    <div ng-init="initCounter(12432454, 2000)" ng-controller="HomeInfoController">
      
      <section class="home-be-ff-info text-center">
        
        <div class="row">
          <div class="columns large-10 large-centered">
              <hgroup>
                <h3>There are <span>{{ counter | number : 0 }}</span> frequent flyers in the World</h3>
                <p class="lead">Most of them don't get any rewards. We're going to change that.</p>
              </hgroup>
          </div>
        </div>
        
        <div class="row">
          <div class="columns medium-4">
            <figure>
                <img src="img/ravindra.jpg" alt="Ravindra Bhagwanani" />
                <figcaption>
                    <h6>Ravindra Bhagwanani</h6>
                    <div class="user-title">Managing Director, Global Flight</div>
                    <div class="icon top"><i class="fa fa-quote-left"></i></div>
                    <blockquote>No more wasting time with airline calculators. For both beginners and experts.</blockquote>
                    <div class="icon bottom"><i class="fa fa-quote-right"></i></div>
                </figcaption>
            </figure>
          </div>
          <div class="columns medium-4">
            <figure>
                <img src="img/nicolas.jpg" alt="Nicolas Bivero" />
                <figcaption>
                    <h6>Nicolas Bivero</h6>
                    <div class="user-title">CEO, Penbrothers</div>
                    <div class="icon top"><i class="fa fa-quote-left"></i></div>
                    <blockquote>Amazing. Revolutionary. Unbelievable mileage deals now unveiled.</blockquote>
                    <div class="icon bottom"><i class="fa fa-quote-right"></i></div>
                </figcaption>
            </figure>
          </div>
          <div class="columns medium-4">
            <figure>
                <img src="img/bruno.jpg" alt="Bruno Botelho" />
                <figcaption>
                    <h6>Bruno Botelho</h6>
                    <div class="user-title">Managing Director, Sales Engine Online</div>
                    <div class="icon top"><i class="fa fa-quote-left"></i></div>
                    <blockquote>If you fly a lot but never achieve status, this is the tool you have been waiting for.</blockquote>
                    <div class="icon bottom"><i class="fa fa-quote-right"></i></div> 
                </figcaption>
            </figure>
          </div>
        </div>
        
        <div id="tweet-section">&nbsp;</div>
        
      </section>
      
      <section class="home-be-tweet">
        
        <form novalidate>
          <div class="row">
            <div class="columns large-10">
              <h3>Help us taking these benefits to more websites</h3>
              
              <div class="textarea">
                <p class="lead"><span class="website-name">{{ getWebsiteName() }}</span> {{message}} <span class="cursor" ng-show="showCursor">|</span></p>
              </div>
              
              <div class="websites">
                <span class="nowrap" ng-repeat="site in websites"><input type="radio" name="website" ng-value="site.id" ng-attr-id="twitter-website-{{$index}}" ng-model="selected.website" ng-change="onWebsiteChange()" /> <label ng-attr-for="twitter-website-{{$index}}">{{ site.name }}</label></span> 
              </div>
              
              <a class="button blue round" analytics-on="click" analytics-event="click" analytics-category="tweet" analytics-label="{{selected.website}}" analytics-value="1" ng-href="{{twitterUrl}}" target="_blank" title="Tweet to see miles on your favourite website"><i class="fa fa-twitter"></i> Tweet to {{getWebsiteName()}}</a>
              
            </div>
          </div>
        </form>
        
      </section>
      
    </div>
    
    <footer>
      
      <div class="row">
        <div class="columns medium-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns medium-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>