[kk-loader]{
  background-image: url(img/ajax.gif);
  background-position: center 45%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 100;
}