<!-- Cached particles -->

<script type="text/ng-template" id="components/service/delete-items-modal.html">
    <h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
    <h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
    <p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
    <p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
    <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<script type="text/ng-template" id="components/period-picker/button.html">

    <div class="button-bar">
        <ul class="button-group radius">
            <li>
                <button ng-click="onClick($event)" dropdown-toggle="#period-picker-{{counter}}" type="button" class="tiny secondary" title="Set date">
                    <span ng-if="from">{{ from | date }}</span>
                    <span ng-if="!from"><i class="fi-calendar"></i> {{ fText }}</span>
                </button>
            </li>
            <li ng-if="from">
                <button type="button" class="tiny secondary remove-date" ng-click="clearFrom()" title="Clear date"><i class="fi-x"></i></button>
            </li>
        </ul>
        <ul class="button-group radius">
            <li>
                <button ng-click="onClick($event)" dropdown-toggle="#period-picker-{{counter}}" type="button" class="tiny secondary" title="Set date">
                    <span ng-if="until">{{ until | date }}</span>
                    <span ng-if="!until"><i class="fi-calendar"></i> {{ uText }}</span>
                </button>
            </li>
            <li ng-if="until">
                <button type="button" class="tiny secondary remove-date" ng-click="clearUntil()" title="Clear date"><i class="fi-x"></i></button>
            </li>
        </ul>
    </div>
    
</script>

<script type="text/ng-template" id="components/tag-input/tag-input.html">

    <div ng-form="tagInput" ng-submit="submit(tagInput)" novalidate class="tag-input-form">
        
        <span class="tag-input-items" ng-class="{ uppercase: uppercase }"><span class="label secondary radius" ng-repeat=" item in collection ">{{ item }} <a ng-click="remove(item)" title="Delete"><i class="fi-x"></i></a></span></span>
        
        <input class="tag-input" ng-class="{ uppercase: uppercase, loading: loading }" ng-disabled="loading" ng-attr-type="{{inputType}}" ng-model="value" name="tag" ng-attr-placeholder="{{placeholder}}" ng-pattern="pattern" ng-attr-maxlength="{{maxlength}}" ng-keypress="onKeyPress($event)" />
        <div class="tag-input-errors">
            <kk-error field="tagInput.tag" type="required">You need to add at least one item</kk-error>
            <kk-error field="tagInput.tag" type="pattern">Input is not valid</kk-error>
            <kk-error field="tagInput.tag" type="unique">Value has been already added</kk-error>
            <kk-error field="tagInput.tag" type="server">{{serverError}}</kk-error>
        </div>
        
    </div>
    
</script>

<script type="text/ng-template" id="ffp-cms/edit-ffp/edit-tier.html">

    <div class="edit-tier-modal">
        <div class="row">
            <div class="columns large-12">
                <h3 ng-if="!isNew">Edit tier</h3>
                <h3 ng-if="isNew">Add tier</h3>
            </div>
        </div>
        
        <form name="tierForm" novalidate ng-submit="submit(tierForm)">
            
            <div class="row">
                <div class="columns large-6">
                    <label for="tier-name">Name <small>Required</small></label>
                    <input type="text" name="tierName" id="tier-name" ng-model="tier.name" required />
                    <kk-error field="tierForm.tierName">Name is required</kk-error>
                </div>
                <div class="columns large-6">
                    <label>Apply minimum miles</label>
                    <ul class="button-group round even-2">
                        <li><button type="button" class="tiny" ng-class="{ secondary: !tier.applyMinMiles, success: tier.applyMinMiles }" ng-model="tier.applyMinMiles" btn-radio="true">Yes</button></li>
                        <li><button type="button" class="tiny" ng-class="{ secondary: tier.applyMinMiles, alert: !tier.applyMinMiles }" ng-model="tier.applyMinMiles" btn-radio="false">No</button></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="columns large-6">
                    <label for="tier-status">Status <small>Required</small></label>
                    <select id="tier-status" name="tierStatus" ng-model="tier.status" ng-options=" status.id as status.name for status in config.statuses " required></select>
                    <kk-error field="tierForm.tierStatus">Status is required</kk-error>
                </div>
                <div class="columns large-3">
                    <label for="tier-db">Distance bonus</label>
                    <input type="number" name="tierDb" id="tier-db" ng-model="tier.distanceBonus" />
                    <kk-error field="tierForm.tierDb" type="number">Invalid number</kk-error>
                </div>
                <div class="columns large-3 end">
                    <label for="tier-rb">Revenue bonus</label>
                    <input type="number" name="tierRb" id="tier-rb" ng-model="tier.revenueBonus" />
                    <kk-error field="tierForm.tierRb" type="number">Invalid number</kk-error>
                </div>
            </div>
            
            <div class="row">
                <div class="columns large-12">
                    <button type="submit" class="button small" ng-class="{ success: tierForm.$valid &amp;&amp; tierForm.$dirty, secondary: !tierForm.$valid || !tierForm.$dirty}"><i class="fi-check"></i> Save</button>
                    <button type="button" class="button small secondary" ng-click="cancel()">Cancel</button>
                    <button ng-if="!isNew" type="button" class=" small button alert right" ng-click="remove()">Delete</button>
                </div>
            </div>
            
        </form>
        
        <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
    </div>
    
</script>

<script type="text/ng-template" id="ffp-cms/rules/tooltip-accrual.html">
    <strong>{{data.name}}</strong> <span ng-if="data.alias">({{ data.alias }})</span> <br />
    Earning base: {{data.earningBase}}
</script>

<script type="text/ng-template" id="ffp-cms/range-modal.html">

    <form name="rangeForm" novalidate ng-submit="submit(rangeForm)" class="range-modal">
        
        <div class="row">
            <div class="columns large-12">
                <h3>Edit rule</h3>
                <div class="alert-box radius alert" ng-if="!isValid()"><i class="fi-alert"></i> You can fill either range <strong>or</strong> GRIL.</div>
            </div>
        </div>
        <div class="row">
            <div class="columns large-1"><label class="range-label">Range:</label></div>
            <div class="columns large-2">
                <label for="range-from">From</label>
                <input type="number" ng-model="rule.rangeFrom" name="ruleRangeFrom" id="range-form" />
                <kk-error field="rangeForm.ruleRangeFrom">Invalid number</kk-error>
            </div>
            <div class="columns large-2 end">
                <label for="range-to">To</label>
                <input type="number" ng-model="rule.rangeTo" name="ruleRangeTo" id="range-to" />
                <kk-error field="rangeForm.ruleRangeTo">Invalid number</kk-error>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <label>or</label>
            </div>
        </div>
        <div class="row">
            <div class="columns large-1"><label class="gril-label">GRIL:</label></div>
            <div class="columns large-11">
                <kk-tag-input collection="rule.gril" uppercase="true" wrap="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <hr />
                <button type="submit" class="small" ng-class="{ secondary: !isValid(), success: isValid() }"><i class="fi-check"></i> Save</button>
                <button type="button" class="small secondary" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        
    </form>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
    
</script>

<!-- END of cached particles -->

<section id="ffp-rule-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Earning rule</h1>
                <h4 class="subheader">#{{ item.code.toUpperCase() }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New earning rule</h1>
        
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li kk-nav route="rules" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Earning rules</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editRule" ng-attr-param-ffpid="{{ ffp.id }}" ng-attr-param-id="{{ item.id }}">
                    <a>{{ item.code.toUpperCase() }}</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newRule" ng-attr-param-ffpid="{{ ffp.id }}">
                    <a>New</a>
                </li>
            </ul>
            
            <div class="alert-box warning radius" ng-if="applyToAll()">
                <i class="fi-checkbox"></i> You are in apply-to-all mode. Any change will affect <strong>all selected rules</strong>.
            </div>
            
            <pager ng-if="paged" total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
            
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                
                <div class="toolbar" ng-if="!applyToAll()">
                    <button type="submit" class="tiny" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                    <a kk-nav route="rules" ng-attr-param-ffpid="{{ffp.id}}" class="secondary tiny button">Cancel</a>
                </div>
                <div class="toolbar" ng-if="applyToAll()">
                    <button type="submit" class="tiny" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Apply</button>
                </div> 
                
                <div class="row">
                    <div class="columns large-6">
                        
                        <fieldset class="basic">
                            <legend>Basic</legend>
                            <div class="row">
                                <div class="columns large-5">
                                    <ul class="button-group round even-2">
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: !item.active, success: item.active } " ng-model="item.active" btn-radio="true" ng-change="applyToAllSync('active')">Active</button></li>
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: item.active, alert: !item.active } " ng-model="item.active" btn-radio="false" ng-change="applyToAllSync('active')">Inactive</button></li>
                                    </ul>
                                </div>
                                <div class="columns large-2">
                                    <label class="inline right" for="rule-code">Rule ID</label>
                                </div>
                                <div class="columns large-5">
                                    <input type="text" ng-disabled="isNew || applyToAll()" name="ruleCode" id="rule-code" ng-model="item.code" class="uppercase" ng-pattern="ruleCodePattern" />
                                    <kk-error field="itemForm.ruleCode">Only letters and digits</kk-error>
                                </div>
                            </div>
                        </fieldset>
                        
                    </div>
                    <div class="columns large-6">
                        
                        <table class="summary">
                            <thead>
                                <tr><th class="text-left" colspan="3">FFP Summary</th></tr>
                            </thead>
                            <tr>
                                <th class="text-left">Name</th>
                                <td class="text-left">
                                    <a kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">{{ ffp.name }}</a>
                                </td>
                                <td class="text-left">{{ ffp.code }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Owning Airlines</th>
                                <td class="text-left" colspan="2">
                                    <span class="label secondary radius" ng-repeat="airline in ffp.owningAirlines">{{ airline }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left">Codeshare Earning Based on</th>
                                <td class="text-left" colspan="2">
                                    {{ (config.codeshareEarningTypes | find : ffp.codeshareBase : 'code').name }}
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        
                        <fieldset>
                            <legend>Airline</legend>
                            
                            <div class="row">
                                <div class="columns large-1">
                                    <label for="airline-code">Code <small>Req.</small></label>
                                    <input type="text" name="airlineCode" id="airline-code" ng-model="item.airline.code" required ng-pattern="airlineCodePattern" placeholder="XX" class="uppercase" ng-change="applyToAllSyncAirline('code')" />
                                    <kk-error field="itemForm.airlineCode" type="required">Required</kk-error>
                                    <kk-error field="itemForm.airlineCode" type="pattern">2 char. only</kk-error>
                                </div>
                                <div class="columns large-3">
                                    <label for="rule-rel">Relationship</label>
                                    <select id="rule-rel" ng-model="item.airline.relationship" ng-options="rel.code as rel.name for rel in config.airlineRelationships" ng-change="applyToAllSyncAirline('relationship')"></select>
                                </div>
                                <div class="columns large-3">
                                    <label>Subsidiaries</label>
                                    <kk-tag-input pattern="airlineCodePattern" maxlength="2" collection="item.subsidiaries" uppercase="true" on-change="applyToAllSync('subsidiaries')"></kk-tag-input>
                                </div>
                                <div class="columns large-5">
                                    <label>Booking channel</label>
                                    <div>
                                        <span ng-repeat="option in config.bookingChannelOptions">
                                            <input type="radio" ng-model="item.bookingChannel" ng-value="option.id" name="bookingChannel" ng-attr-id="rule-bc-{{option.id}}" ng-change="applyToAllSync('bookingChannel')" /> 
                                            <label class="inline" for="rule-bc-{{option.id}}">{{option.name}}</label>
                                        </span> 
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <legend>Rule creator</legend>
                            
                            <div class="row">
                                <div class="columns large-3">
                                    <label for="rule-rdbs">Fare Codes <small ng-if="!item.brandedFaresActive">Required</small></label>
                                    <input type="text" name="ruleRdbs" id="rule-rdbs" ng-model="item.editableRdbs" class="uppercase" ng-pattern="/^[a-zA-Z]+$/" ng-required="!item.brandedFaresActive" ng-change="applyToAllSync('editableRdbs')" />
                                    <kk-error field="itemForm.ruleRdbs" type="pattern">Only letters allowed</kk-error>
                                    <kk-error field="itemForm.ruleRdbs" type="required">This field is required</kk-error>
                                </div> 
                                <div class="columns large-3">
                                    <input type="checkbox" id="rule-bfa" name="ruleBfa" ng-model="item.brandedFaresActive" ng-change="applyToAllSync('brandedFaresActive')" ng-disabled="!item.airline.code" /> <label for="rule-bfa">Branded fares</label>
                                    
                                    <button type="button" class="tiny secondary expand" title="Branded fares" dropdown-toggle="#dropdown-branded-fares" ng-disabled="!item.brandedFaresActive || loadingBrandedFares">
                                        <span ng-if="item.brandedFares.length <= 0 || !item.brandedFaresActive">No branded fares</span>
                                        <span ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length <= 1 &amp;&amp; item.brandedFares.length > 0 &amp;&amp; brandedFares.length > item.brandedFares.length">{{ (brandedFares | find : item.brandedFares[0] : 'code').name }}</span>
                                        <span ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length > 1 &amp;&amp; brandedFares.length > item.brandedFares.length">{{ item.brandedFares.length }} fares</span>
                                        <span ng-if="item.brandedFaresActive &amp;&amp; brandedFares.length <= item.brandedFares.length &amp;&amp; item.brandedFares.length >= 0">All fares</span>
                                    </button>
                                    
                                </div>
                                <div class="columns large-3 end">
                                    <label for="rule-ff">Fare family</label>
                                    <select name="ruleFf" id="rule-ff" ng-model="item.fareFamily" required ng-change="applyToAllSync('fareFamily')" ng-options="family.id as family.name for family in config.fareFamilies"></select>
                                </div>
                            </div>
                            
                            <table class="creator highlight">
                                <thead>
                                    <tr>
                                        <td rowspan="2"></td>
                                        <th rowspan="2" class="text-left">Factor</th>
                                        <th rowspan="2" class="text-left">Fixed</th>
                                        <th rowspan="2" class="text-left">Fixed bonus</th>
                                        <th rowspan="2" class="text-left">Min Earned</th>
                                        <th rowspan="2">For leg</th>
                                        <th colspan="2">Apply to Elite</th>
                                        <th rowspan="2" class="text-left">Range/Geo rules</th>
                                        <td rowspan="2" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th>Bonus</th>
                                        <th>Min Earned</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="has-form" ng-if="group.items.length > 0" ng-repeat-start="group in item.rules" ng-form="groupForm">
                                        <th class="text-right accrual">
                                            <span ng-class="{ 'distance-based': (ffp.accruals | find : group.accrual).earningBase == 'distance' }">{{ (ffp.accruals | find : group.accrual).name }}</span>
                                        </th> 
                                        <td colspan="8">{{group.items.length}} rules</td>
                                        <td class="action" colspan="2">
                                            <a ng-click="toggleRulesSection(group)" title="Toggle section"><i ng-class="{ 'fi-arrow-up': !group.expandSection, 'fi-arrow-down': group.expandSection }"></i></a>
                                        </td>
                                    </tr>
                                    </tr>
                                    <tr class="has-form" ng-class="{ even: $parent.$parent.$odd, odd: $parent.$parent.$even }" ng-repeat="rule in group.items" ng-form="ruleForm" ng-if="group.expandSection" ng-repeat-end>
                                        <th></th>
                                        <td class="text-left"> 
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="rule.factor" name="ruleFactor" ng-required=" !rule.fixed &amp;&amp; rule.fixed != '0' " ng-disabled="applyToAll()" />
                                                <kk-error field="ruleForm.ruleFactor" type="number">Invalid number</kk-error>
                                                <kk-error field="ruleForm.ruleFactor" type="required">Required</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="rule.fixed" name="ruleFixed" ng-required=" !rule.factor &amp;&amp; rule.factor != '0' " ng-disabled="applyToAll()" />
                                                <kk-error field="ruleForm.ruleFixed" type="number">Invalid number</kk-error>
                                                <kk-error field="ruleForm.ruleFixed" type="required">Required</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="rule.fixedBonus" name="ruleFixedBonus" ng-disabled="applyToAll()" />
                                                <kk-error field="ruleForm.ruleFixedBonus">Invalid number</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="rule.minimum" name="ruleMinimum" ng-disabled="applyToAll()" />
                                                <kk-error field="ruleForm.ruleMinimum">Invalid number</kk-error>
                                            </div>
                                        </td>
                                        <td><input type="checkbox" ng-model="rule.forLeg" name="ruleForLeg" ng-disabled="applyToAll()" /></td>
                                        <td><input type="checkbox" ng-model="rule.eliteBonus" name="ruleEliteBonus" ng-disabled="applyToAll()" /></td>
                                        <td><input type="checkbox" ng-model="rule.eliteMinimum" name="ruleEliteMinimum" ng-disabled="applyToAll()" /></td>
                                        <td class="text-left no-wrap">
                                            <a ng-click="editRuleRange(rule)" title="View full details and edit" ng-if="!applyToAll()">
                                                <span ng-if="rule.rangeFrom &amp;&amp; rule.rangeTo">{{rule.rangeFrom | number : 0}} &ndash; {{rule.rangeTo | number : 0}}</span>
                                                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; (!rule.gril || rule.gril.length < 1)">Edit</span>
                                                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; rule.gril.length > 0">{{ rule.gril[0] | trim : 10 : '&hellip;' }}</span>
                                            </a>
                                            <span ng-if="applyToAll()">
                                                <span ng-if="rule.rangeFrom &amp;&amp; rule.rangeTo">{{rule.rangeFrom | number : 0}} &ndash; {{rule.rangeTo | number : 0}}</span>
                                                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; (!rule.gril || rule.gril.length < 1)">Edit</span>
                                                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; rule.gril.length > 0">{{ rule.gril[0] | trim : 10 : '&hellip;' }}</span>
                                            </span>
                                        </td>
                                        <td class="action"><a ng-hide="applyToAll()" title="Add rule" ng-click="addAccrualRule(group, $index)"><i class="fi-plus"></i></a></td>
                                        <td class="action alert" ng-hide="applyToAll() || group.items.length < 2"><a ng-click="deleteAccrualRule(group, $index)" title="Delete rule"><i class="fi-minus"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        
                        <fieldset class="codeshare" ng-class="{ collapsed: !section.codeshare }">
                            
                            <legend><a ng-click="toggleSection('codeshare')"><i ng-class="{ 'fi-minus': section.codeshare, 'fi-plus': !section.codeshare }"></i> Codeshare rules</a></legend>
                            
                            <div class="inner-fieldset">
                                <div class="row">
                                    <div class="columns large-1">
                                        <label class="inline right nowrap" for="ticketed-by">Ticketed by:</label>
                                    </div>
                                    <div class="columns large-11">
                                        <kk-tag-input required="true" pattern="airlineCodePattern" maxlength="2" collection="item.ticketedBy" uppercase="true" on-change="applyToAllSync('ticketedBy')"></kk-tag-input>
                                    </div>
                                </div>
                                <label><strong>Marketing:</strong></label>
                                <span ng-repeat="type in config.codeshareRuleTypes">
                                    <input type="checkbox" ng-attr-id="mk-rule-{{type.code}}" checklist-model="item.marketingRules" checklist-value="type.code" ng-change="applyToAllSync('marketingRules')" /> 
                                    <label ng-attr-for="mk-rule-{{type.code}}">{{ type.name }}</label> 
                                </span>

                                <div class="" ng-if="item.marketingRules.indexOf('spe') >= 0">
									<div class="row">
                                        <div class="columns large-2">
                                            <label class="right">Specific airlines:</label>
                                        </div>
                                        <div class="columns large-10">
                                            <kk-tag-input required="true" pattern="airlineCodePattern" maxlength="2" collection="item.marketingSpecificAirlines" uppercase="true" on-change="applyToAllSync('marketingSpecificAirlines')"></kk-tag-input>
                                        </div>
                                    </div>                                    
                                </div>    

								<div class="" ng-if="item.marketingRules.indexOf('exc') >= 0">
									<div class="row">
                                        <div class="columns large-2">
                                            <label class="right">Excluded airlines:</label>
                                        </div>
                                        <div class="columns large-10">
                                            <kk-tag-input required="true" pattern="airlineCodePattern" maxlength="2" collection="item.marketingExcludedAirlines" uppercase="true" on-change="applyToAllSync('marketingExcludedAirlines')"></kk-tag-input>
                                        </div>
                                    </div>                                    
                                </div>
                                
                                <hr />
                                
                                <label><strong>Operating:</strong></label>
                                <span ng-repeat="type in config.codeshareRuleTypes">
                                    <input type="checkbox" ng-attr-id="op-rule-{{type.code}}" checklist-model="item.operatingRules" checklist-value="type.code" ng-change="applyToAllSync('operatingRules')" /> 
                                    <label ng-attr-for="op-rule-{{type.code}}">{{ type.name }}</label> 
                                </span>

								<div class="" ng-if="item.operatingRules.indexOf('spe') >= 0">
									<div class="row">
                                        <div class="columns large-2">
                                            <label class="right">Specific airlines:</label>
                                        </div>
                                        <div class="columns large-10">
                                            <kk-tag-input required="true" pattern="airlineCodePattern" maxlength="2" collection="item.operatingSpecificAirlines" uppercase="true" on-change="applyToAllSync('operatingSpecificAirlines')"></kk-tag-input>
                                        </div>
                                    </div>                                    
                                </div>                                
                                
								<div class="" ng-if="item.operatingRules.indexOf('exc') >= 0">
									<div class="row">
                                        <div class="columns large-2">
                                            <label class="right">Excluded airlines:</label>
                                        </div>
                                        <div class="columns large-10">
                                            <kk-tag-input required="true" pattern="airlineCodePattern" maxlength="2" collection="item.operatingExcludedAirlines" uppercase="true" on-change="applyToAllSync('operatingExcludedAirlines')"></kk-tag-input>
                                        </div>
                                    </div>                                    
                                </div>                                
                                
                                <hr />
                                
                                <div class="codeshare-flight">
                                    <div class="row">
                                        <div class="columns large-2">
                                            <label class="right">Flight numbers limitations:</label>
                                        </div>
                                        <div class="columns large-10">
                                            <kk-tag-input collection="item.flightNoLimit" uppercase="true" on-change="applyToAllSync('flightNoLimit')"></kk-tag-input>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="columns large-2">
                                            <label class="right">Excluded flight <br />numbers:</label>
                                        </div>
                                        <div class="columns large-10">
                                            <kk-tag-input collection="item.flightNoExcl" uppercase="true" on-change="applyToAllSync('flightNoExcl')"></kk-tag-input>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </fieldset>
                        
                        <fieldset class="geo-rules" ng-class="{ collapsed: !section.geo }">
                            
                            <legend><a ng-click="toggleSection('geo')"><i ng-class="{ 'fi-minus': section.geo, 'fi-plus': !section.geo }"></i> Geographical rules</a></legend>
                            
                            <div class="inner-fieldset">
                                <div class="row">
                                    <div class="columns large-2">
                                        <label class="right">Geographical <br />filters:</label>
                                    </div>
                                    <div class="columns large-10">
                                        <kk-tag-input collection="item.geographicalRules" uppercase="true" on-change="applyToAllSync('geographicalRules')" validation-url="ffp/validate-gril.json"></kk-tag-input>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="columns large-2">
                                        <label class="right">Coded <br />conditions:</label>
                                    </div>
                                    <div class="columns large-10">
                                        <kk-tag-input collection="item.codedConditions" uppercase="true" on-change="applyToAllSync('codedConditions')" validation-url="ffp/validate-gril.json"></kk-tag-input>
                                    </div>
                                </div>
                            </div>
                            
                        </fieldset>
                        
                        <fieldset class="tiers" ng-class="{ collapsed: !section.tiers }">
                    
                            <legend><a ng-click="toggleSection('tiers')"><i ng-class="{ 'fi-minus': section.tiers, 'fi-plus': !section.tiers }"></i> Status tiers</a></legend>
                            
                            <div class="inner-fieldset">
                                
                                <div class="tier-config">
                                    <div class="row">
                                        <div class="columns large-4">
                                            <label>Elite bonus based on</label>
                                            <input ng-repeat-start="type in config.eliteBonusTypes" type="radio" ng-model="item.eliteBonusBase" ng-attr-id="el-bon-{{$index}}" ng-value="type.id" name="ffpEliteBonus" ng-change="applyToAllSync('eliteBonusBase')" /> 
                                            <label class="inline" ng-repeat-end ng-attr-for="el-bon-{{$index}}">{{type.name}}</label>
                                        </div>
                                        <div class="columns large-8">
                                            <label>Apply to tier</label>
                                            <span ng-repeat="tier in ffp.tiers">
                                                <input type="checkbox" checklist-model="item.applyToTiers" checklist-value="tier.id" ng-attr-id="el-apt-{{$index}}" ng-change="applyToAllSync('applyToTiers')" />
                                                <label class="inline" ng-attr-for="el-apt-{{$index}}">{{tier.name}}</label>
                                            </span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="columns large-12">
                                            <label>Minimum miles calculation method</label>
                                            <input ng-repeat-start="method in config.minMilesCalcMethods" type="radio" ng-model="item.minMilesCalcMethod" ng-attr-id="mm-met-{{$index}}" ng-value="method.id" name="ffpMMMethod" ng-change="applyToAllSync('minMilesCalcMethod')" /> 
                                            <label class="inline" ng-repeat-end for="mm-met-{{$index}}">{{method.name}}</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div ng-if="item.tiers.length > 0 &amp;&amp; config">
                                    <table class="highlight">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Name</th>
                                                <th class="text-left">Status</th>
                                                <th class="text-right"><abbr title="Distance bonus">Dist. bonus</abbr></th>
                                                <th class="text-right"><abbr title="Reveune bonus">Rev. bonus</abbr></th>
                                                <th><abbr title="Apply minimum miles">AMM</abbr></th>
                                                <th colspan="2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tier in item.tiers">
                                                <th class="text-left">{{ tier.name }}</th>
                                                <td class="text-left">{{ (config.statuses | find : tier.status).name }}</td>
                                                <td class="text-right">{{ tier.distanceBonus | number : 2 }}</td> 
                                                <td class="text-right">{{ tier.revenueBonus | number : 2 }}</td>
                                                <td><i ng-class="{ 'fi-check' : tier.applyMinMiles, 'fi-x' : !tier.applyMinMiles }"></i></td>
                                                <td class="action"><a title="Edit" ng-click="editTier(tier)"><i class="fi-pencil"></i></a></td>
                                                <td class="action alert"><a title="Delete" ng-click="removeTier($index)"><i class="fi-x"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="item.tiers.length <= 0">
                                    <p>There are no tiers yet. Add first one.</p>
                                </div>
                                
                                <button type="button" ng-click="addTier()" class="tiny"><i class="fi-plus"></i> Add tier</button>
                                
                            </div>
                            
                        </fieldset>
                                
                        <fieldset class="validity" ng-class="{ collapsed: !section.validity }">
                            
                            <legend><a ng-click="toggleSection('validity')"><i ng-class="{ 'fi-minus': section.validity, 'fi-plus': !section.validity }"></i> Validity</a></legend>
                            
                            <div class="inner-fieldset">
                                
                                <div class="row">
                                    <div class="columns large-4">
                                        <div class="period-block">
                                            <label>Purchase period</label>
                                            <div class="row">
                                                <div class="columns large-6">
                                                    <div class="row collapse">
                                                        <div class="columns small-4">
                                                            <span class="prefix">From</span>
                                                        </div>
                                                        <div class="columns small-8">
                                                            <input type="datetime" ng-keydown="onDateChange(item.purchase, 'from', $event)" date-time min-view="date" ng-model="item.purchase.from" format="yyyy-MM-dd" />
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="columns large-6">
                                                    
                                                    <div class="row collapse">
                                                        <div class="columns small-4">
                                                            <span class="prefix">Until</span>
                                                        </div>
                                                        <div class="columns small-8">
                                                            <input type="datetime" ng-keydown="onDateChange(item.purchase, 'until', $event)" date-time min-view="date" ng-model="item.purchase.until" format="yyyy-MM-dd" />
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="columns large-4 large-offset-1 end">
                                        <div class="period-block">
                                            <label>Flight period</label>
                                            <div class="row">
                                                <div class="columns large-6">
                                                    
                                                    <div class="row collapse">
                                                        <div class="columns small-4">
                                                            <span class="prefix">From</span>
                                                        </div>
                                                        <div class="columns small-8">
                                                            <input type="datetime" ng-keydown="onDateChange(item.flight, 'from', $event)" date-time min-view="date" ng-model="item.flight.from" format="yyyy-MM-dd" />
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="columns large-6">
                                                    
                                                    <div class="row collapse">
                                                        <div class="columns small-4">
                                                            <span class="prefix">Until</span>
                                                        </div>
                                                        <div class="columns small-8">
                                                            <input type="datetime" ng-keydown="onDateChange(item.flight, 'until', $event)" date-time min-view="date" ng-model="item.flight.until" format="yyyy-MM-dd" />
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </fieldset>
                        
                        <fieldset class="comment" ng-class="{ collapsed: !section.comment }">
                            <legend><a ng-click="toggleSection('comment')"><i ng-class="{ 'fi-minus': section.comment, 'fi-plus': !section.comment }"></i> Comment</a></legend>
                                    
                            <div class="inner-fieldset">
                                <textarea placeholder="Your comment" ng-model="item.comment" ng-change="applyToAllSync('comment')"></textarea>
                            </div>
                            
                        </fieldset>
                        
                        <fieldset>
                            <legend>Calculation target settings</legend>
                            
                            <input type="radio" name="calculationTargetType" ng-value="type.id" ng-attr-id="calc-tg-{{$index}}" ng-model="item.calculationTargetType" ng-repeat-start="type in config.calculationTargetTypes" ng-change="applyToAllSync('calculationTargetType')"/> 
                            <label ng-attr-for="calc-tg-{{$index}}" ng-repeat-end>{{type.name}}</label>
                            <button class="tiny secondary" ng-click="resetCalculationTargetType()" type="button">Reset</button>
                            
                        </fieldset>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        <div ng-if="!applyToAll()">
                            <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                            <a kk-nav route="rules" ng-attr-param-ffpid="{{ffp.id}}" class="secondary button">Cancel</a>
                        </div>
                        <div ng-if="applyToAll()">
                            <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Apply</button>
                        </div>
                    </div>
                </div>
                
                <div ng-if="!item.isNew" class="history">
                    <hr />    
                    <p>Created by <strong>{{ item.createdBy }}</strong> at <strong>{{ item.createdAt | date : 'medium' }}</strong></p>
                    <p>Modified by <strong>{{ item.modifiedBy }}</strong> at <strong>{{ item.modifiedAt | date : 'medium' }}</strong></p>
                </div>
                
                
            </form>
            
            <div class="row" ng-if="paged">
                <div class="columns large-12">
                    <div class="pagination-center">
                        <pager total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div id="dropdown-branded-fares" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="brandedFares" selected="item.brandedFares" cols="2" id="earning-rules-branded-fares" label="name" property="code"></div>
    </div>
   
</section>