<!-- Cached particles -->

<script type="text/ng-template" id="components/service/delete-items-modal.html">
    <h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
    <h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
    <p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
    <p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
    <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<script type="text/ng-template" id="components/period-picker/button.html">

    <div class="button-bar">
        <ul class="button-group radius">
            <li>
                <button ng-click="onClick($event)" dropdown-toggle="#period-picker-{{counter}}" type="button" class="tiny secondary" title="Set date">
                    <span ng-if="from">{{ from | date }}</span>
                    <span ng-if="!from"><i class="fi-calendar"></i> {{ fText }}</span>
                </button>
            </li>
            <li ng-if="from">
                <button type="button" class="tiny secondary remove-date" ng-click="clearFrom()" title="Clear date"><i class="fi-x"></i></button>
            </li>
        </ul>
        <ul class="button-group radius">
            <li>
                <button ng-click="onClick($event)" dropdown-toggle="#period-picker-{{counter}}" type="button" class="tiny secondary" title="Set date">
                    <span ng-if="until">{{ until | date }}</span>
                    <span ng-if="!until"><i class="fi-calendar"></i> {{ uText }}</span>
                </button>
            </li>
            <li ng-if="until">
                <button type="button" class="tiny secondary remove-date" ng-click="clearUntil()" title="Clear date"><i class="fi-x"></i></button>
            </li>
        </ul>
    </div>
    
</script>

<script type="text/ng-template" id="components/tag-input/tag-input.html">

    <div ng-form="tagInput" ng-submit="submit(tagInput)" novalidate class="tag-input-form">
        
        <span class="tag-input-items" ng-class="{ uppercase: uppercase }"><span class="label secondary radius" ng-repeat=" item in collection ">{{ item }} <a ng-click="remove(item)" title="Delete"><i class="fi-x"></i></a></span></span>
        
        <input class="tag-input" ng-class="{ uppercase: uppercase, loading: loading }" ng-disabled="loading" ng-attr-type="{{inputType}}" ng-model="value" name="tag" ng-attr-placeholder="{{placeholder}}" ng-pattern="pattern" ng-attr-maxlength="{{maxlength}}" ng-keypress="onKeyPress($event)" />
        <div class="tag-input-errors">
            <kk-error field="tagInput.tag" type="required">You need to add at least one item</kk-error>
            <kk-error field="tagInput.tag" type="pattern">Input is not valid</kk-error>
            <kk-error field="tagInput.tag" type="unique">Value has been already added</kk-error>
            <kk-error field="tagInput.tag" type="server">{{serverError}}</kk-error>
        </div>
        
    </div>
    
</script>

<script type="text/ng-template" id="ffp-cms/edit-ffp/edit-tier.html">

    <div class="edit-tier-modal">
        <div class="row">
            <div class="columns large-12">
                <h3 ng-if="!isNew">Edit tier</h3>
                <h3 ng-if="isNew">Add tier</h3>
            </div>
        </div>
        
        <form name="tierForm" novalidate ng-submit="submit(tierForm)">
            
            <div class="row">
                <div class="columns large-6">
                    <label for="tier-name">Name <small>Required</small></label>
                    <input type="text" name="tierName" id="tier-name" ng-model="tier.name" required />
                    <kk-error field="tierForm.tierName">Name is required</kk-error>
                </div>
                <div class="columns large-6">
                    <label>Apply minimum miles</label>
                    <ul class="button-group round even-2">
                        <li><button type="button" class="tiny" ng-class="{ secondary: !tier.applyMinMiles, success: tier.applyMinMiles }" ng-model="tier.applyMinMiles" btn-radio="true">Yes</button></li>
                        <li><button type="button" class="tiny" ng-class="{ secondary: tier.applyMinMiles, alert: !tier.applyMinMiles }" ng-model="tier.applyMinMiles" btn-radio="false">No</button></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="columns large-6">
                    <label for="tier-status">Tier <small>Required</small></label>
                    <select id="tier-status" name="tierStatus" ng-model="tier.status" ng-options=" status.id as status.name for status in config.statuses " required></select>
                    <kk-error field="tierForm.tierStatus">Status is required</kk-error>
                </div>
                <div class="columns large-3">
                    <label for="tier-db">Distance bonus</label>
                    <input type="number" name="tierDb" id="tier-db" ng-model="tier.distanceBonus" />
                    <kk-error field="tierForm.tierDb" type="number">Invalid number</kk-error>
                </div>
                <div class="columns large-3 end">
                    <label for="tier-rb">Revenue bonus</label>
                    <input type="number" name="tierRb" id="tier-rb" ng-model="tier.revenueBonus" />
                    <kk-error field="tierForm.tierRb" type="number">Invalid number</kk-error>
                </div>
            </div>
            <div class="row">
                <div class="columns large-12">
                    <hr />
                    <ul class="small-block-grid-4 accruals">
                        <li ng-repeat="accrual in tier.accruals" ng-form="accuralForm" ng-if="ffp.accruals | find : accrual.id">
                            <label class="one-line" ng-attr-for="acc-{{$index}}"><abbr ng-attr-title="{{ (ffp.accruals | find : accrual.id).name }}">{{ (ffp.accruals | find : accrual.id).name }}</abbr></label>
                            <input type="number" name="acc" ng-attr-id="acc-{{$index}}" ng-model="accrual.value" />
                            <kk-error field="accuralForm.acc">Invalid number</kk-error>
                        </li>
                    </ul>
                    
                    <label>Geographical rules</label>
                    <kk-tag-input collection="tier.gril" uppercase="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
                    
                    <hr />
                </div>
            </div>
            
            <div class="row">
                <div class="columns large-12">
                    <button type="submit" class="button small" ng-class="{ success: tierForm.$valid &amp;&amp; tierForm.$dirty, secondary: !tierForm.$valid || !tierForm.$dirty}"><i class="fi-check"></i> Save</button>
                    <button type="button" class="button small secondary" ng-click="cancel()">Cancel</button>
                    <button ng-if="!isNew" type="button" class=" small button alert right" ng-click="remove()">Delete</button>
                </div>
            </div>
            
        </form>
        
        <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
    </div>
    
</script>

<script type="text/ng-template" id="ffp-cms/rules/tooltip-accrual.html">
    <strong>{{data.name}}</strong> <span ng-if="data.alias">({{ data.alias }})</span> <br />
    Earning base: {{data.earningBase}}
</script>

<script type="text/ng-template" id="ffp-cms/range-modal.html">

    <form name="rangeForm" novalidate ng-submit="submit(rangeForm)" class="range-modal">
        
        <div class="row">
            <div class="columns large-12">
                <h3>Edit rule</h3>
                <div class="alert-box radius alert" ng-if="!isValid()"><i class="fi-alert"></i> You can fill either range <strong>or</strong> GRIL.</div>
            </div>
        </div>
        <div class="row">
            <div class="columns large-1"><label class="range-label">Range:</label></div>
            <div class="columns large-2">
                <label for="range-from">From</label>
                <input type="number" ng-model="rule.rangeFrom" name="ruleRangeFrom" id="range-form" />
                <kk-error field="rangeForm.ruleRangeFrom">Invalid number</kk-error>
            </div>
            <div class="columns large-2 end">
                <label for="range-to">To</label>
                <input type="number" ng-model="rule.rangeTo" name="ruleRangeTo" id="range-to" />
                <kk-error field="rangeForm.ruleRangeTo">Invalid number</kk-error>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <label>or</label>
            </div>
        </div>
        <div class="row">
            <div class="columns large-1"><label class="gril-label">GRIL:</label></div>
            <div class="columns large-11">
                <kk-tag-input collection="rule.gril" uppercase="true" wrap="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <hr />
                <button type="submit" class="small" ng-class="{ secondary: !isValid(), success: isValid() }"><i class="fi-check"></i> Save</button>
                <button type="button" class="small secondary" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        
    </form>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
    
</script>

<!-- END of cached particles -->

<section id="ffp-rule-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Earning rule</h1>
                <h4 class="subheader">#{{ item.code }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New earning rule</h1>
        
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li kk-nav route="rules" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Earning rules</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editRule" ng-attr-param-ffpid="{{ ffp.id }}" ng-attr-param-id="{{ item.id }}">
                    <a>{{ item.code }}</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newRule" ng-attr-param-ffpid="{{ ffp.id }}">
                    <a>New</a>
                </li>
            </ul>
            
            <div class="alert-box warning radius" ng-if="applyToAll()">
                <i class="fi-checkbox"></i> You are in apply-to-all mode. Any change will affect <strong>all selected rules</strong>.
            </div>
            
            <pager ng-if="paged" total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
            
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                
                <div class="toolbar" ng-if="!applyToAll()">
                    <button type="submit" class="tiny" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                    <a kk-nav route="rules" ng-attr-param-ffpid="{{ffp.id}}" class="secondary tiny button">Cancel</a>
                </div>
                <div class="toolbar" ng-if="applyToAll()">
                    <button type="submit" class="tiny" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Apply</button>
                </div>
                
                <div kk-admin-review-box="item" save="submit(itemForm)" ng-if="item &amp;&amp; !applyToAll()"></div>
                
                <div class="row">
                    <div class="columns large-6">
                        
                        <fieldset class="basic">
                            <legend>Basic</legend>
                            <div class="row">
                                <div class="columns large-5" kk-admin-review-hint="item" property="active">
                                    <ul class="button-group round even-2">
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: !item.active, success: item.active } " ng-model="item.active" btn-radio="true" ng-change="applyToAllSync('active')">Active</button></li>
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: item.active, alert: !item.active } " ng-model="item.active" btn-radio="false" ng-change="applyToAllSync('active')">Inactive</button></li>
                                    </ul>
                                </div>
                                <div class="columns large-2">
                                    <label class="inline right" for="rule-code">Rule ID</label>
                                </div>
                                <div class="columns large-5" kk-admin-review-hint="item" property="code">
                                    <input type="text" ng-disabled="isNew || applyToAll()" name="ruleCode" id="rule-code" ng-model="item.code" class="uppercase" ng-pattern="ruleCodePattern" />
                                    <kk-error field="itemForm.ruleCode">Only letters and digits</kk-error>
                                </div>
                            </div>
                        </fieldset>
                        
                    </div>
                    <div class="columns large-6">
                        
                        <table class="summary">
                            <thead>
                                <tr><th class="text-left" colspan="3">FFP Summary</th></tr>
                            </thead>
                            <tr>
                                <th class="text-left">Name</th>
                                <td class="text-left">
                                    <a kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">{{ ffp.name }}</a>
                                </td>
                                <td class="text-left">{{ ffp.code }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Airlines</th>
                                <td class="text-left" colspan="2">
                                    <span class="label secondary radius" ng-repeat="airline in ffp.owningAirlines">{{ airline }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left">Earning base</th>
                                <td class="text-left" colspan="2">
                                    {{ (config.earningBases | find : ffp.earningBase : 'code').name }}
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        
                        <fieldset>
                            <legend>Airline</legend>
                            
                            <div class="row">
                                <div class="columns large-1">
                                    <label for="airline-code">Code <small>Req.</small></label>
                                    <div kk-admin-review-hint="item" property="airline.code">
                                        <input type="text" name="airlineCode" id="airline-code" ng-model="item.airline.code" required ng-pattern="airlineCodePattern" placeholder="XX" class="uppercase" ng-change="applyToAllSyncAirline('code')" />
                                        <kk-error field="itemForm.airlineCode" type="required">Required</kk-error>
                                        <kk-error field="itemForm.airlineCode" type="pattern">2 char. only</kk-error>
                                    </div>
                                </div>
                                <div class="columns large-3">
                                    <label for="rule-rel">Relationship</label>
                                    <div kk-admin-review-hint="item" property="airline.relationship" map="config.airlineRelationships" map-key="code">
                                        <select id="rule-rel" ng-model="item.airline.relationship" ng-options="rel.code as rel.name for rel in config.airlineRelationships" ng-change="applyToAllSyncAirline('relationship')"></select>
                                    </div>
                                </div>
                                <div class="columns large-8">
                                    <label>Subsidiaries</label>
                                    <div kk-admin-review-hint="item" property="subsidiaries" h-pos="left">
                                        <kk-tag-input pattern="airlineCodePattern" maxlength="2" collection="item.subsidiaries" uppercase="true" on-change="applyToAllSync('subsidiaries')"></kk-tag-input>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <legend>Rule creator</legend>
                            
                            <div class="row">
                                <div class="columns large-3">
                                    <label for="rule-rdbs">RDBs <small>Required</small></label>
                                    <div kk-admin-review-hint="item" property="rdbs">
                                        <input type="text" name="ruleRdbs" id="rule-rdbs" ng-model="item.editableRdbs" class="uppercase" ng-pattern="/^[a-zA-Z]+$/" required ng-change="applyToAllSync('editableRdbs')" />
                                        <kk-error field="itemForm.ruleRdbs" type="pattern">Only letters allowed</kk-error>
                                        <kk-error field="itemForm.ruleRdbs" type="required">This field is required</kk-error>
                                    </div>
                                </div>
                                <div class="columns large-3 end">
                                    <label for="rule-ff">Fare family</label>
                                    <div kk-admin-review-hint="item" property="fareFamily" map="config.fareFamilies">
                                        <select name="ruleFf" id="rule-ff" ng-model="item.fareFamily" required ng-change="applyToAllSync('fareFamily')" ng-options="family.id as family.name for family in config.fareFamilies"></select>
                                    </div>
                                </div>
                            </div>
                            <table class="creator highlight">
                                <thead>
                                    <tr>
                                        <td rowspan="2"></td>
                                        <th rowspan="2" class="text-left">Factor</th>
                                        <th rowspan="2" class="text-left">Fixed</th>
                                        <th rowspan="2" class="text-left">Fixed bonus</th>
                                        <th rowspan="2" class="text-left">Minimum</th>
                                        <th rowspan="2">For leg</th>
                                        <th colspan="2">Elite</th>
                                        <th rowspan="2" class="text-left">Range/GRIL</th>
                                        <td rowspan="2" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th>Bonus</th>
                                        <th>Minimum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="has-form" ng-if="group.items.length > 0" ng-class="{ even: $odd, odd: $even }" ng-repeat-start="group in item.rules" ng-form="groupForm">
                                        <th class="text-right accrual" kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items']" as-removed="true" removed-template-url="ffp-cms/rules/review/removed-rules.html" removed-template-data="{ config: config, ffp: ffp }" h-pos="left">
                                            <span ng-class="{ 'distance-based': (ffp.accruals | find : group.accrual).earningBase == 'distance' }">{{ (ffp.accruals | find : group.accrual).name }}</span>
                                        </th> 
                                        <td class="text-left" kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'factor']" as-new="true" h-pos="left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="group.items[0].factor" name="groupFactor" ng-required=" !group.items[0].fixed &amp;&amp; group.items[0].fixed != '0' " ng-disabled="applyToAll()" />
                                                <kk-error field="groupForm.groupFactor" type="number">Invalid number</kk-error>
                                                <kk-error field="groupForm.groupFactor" type="required">Required</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left" kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'fixed']" h-pos="left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="group.items[0].fixed" name="groupFixed" ng-required=" !group.items[0].factor &amp;&amp; group.items[0].factor != '0' " ng-disabled="applyToAll()" />
                                                <kk-error field="groupForm.groupFixed" type="number">Invalid number</kk-error>
                                                <kk-error field="groupForm.groupFixed" type="required">Required</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left" kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'fixedBonus']" h-pos="left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="group.items[0].fixedBonus" name="groupFixedBonus" ng-disabled="applyToAll()" />
                                                <kk-error field="groupForm.groupFixedBonus">Invalid number</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left" kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'minimum']" h-pos="left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="group.items[0].minimum" name="groupMinimum" ng-disabled="applyToAll()" />
                                                <kk-error field="groupForm.groupMinimum">Invalid number</kk-error>
                                            </div>
                                        </td>
                                        <td kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'forLeg']">
                                            <input type="checkbox" ng-model="group.items[0].forLeg" name="groupForLeg" ng-disabled="applyToAll()" />
                                        </td>
                                        <td kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'eliteBonus']">
                                            <input type="checkbox" ng-model="group.items[0].eliteBonus" name="groupEliteBonus" ng-disabled="applyToAll()" />
                                        </td>
                                        <td kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'eliteMinimum']">
                                            <input type="checkbox" ng-model="group.items[0].eliteMinimum" name="groupEliteMinimum" ng-disabled="applyToAll()" />
                                        </td>
                                        <td class="text-left">
                                            <a ng-click="editRuleRange(group.items[0])" title="View full details and edit" ng-if="!applyToAll()">
                                                <span ng-if="group.items[0].rangeFrom &amp;&amp; group.items[0].rangeTo">
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'rangeFrom']" inline="true">{{group.items[0].rangeFrom | number : 0}}</span> 
                                                    &ndash; 
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'rangeTo']" inline="true">{{group.items[0].rangeTo | number : 0}}</span>
                                                </span>
                                                <span ng-if="(!group.items[0].rangeFrom || !group.items[0].rangeTo) &amp;&amp; (!group.items[0].gril || group.items[0].gril.length < 1)">Edit</span>
                                                <span ng-if="(!group.items[0].rangeFrom || !group.items[0].rangeTo) &amp;&amp; group.items[0].gril.length > 0">
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'gril']">
                                                        {{ group.items[0].gril[0] | trim : 10 : '&hellip;' }}
                                                    </span>
                                                </span>
                                            </a>
                                            <span ng-if="applyToAll()">
                                                <span ng-if="group.items[0].rangeFrom &amp;&amp; group.items[0].rangeTo">
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'rangeFrom']" inline="true">{{group.items[0].rangeFrom | number : 0}}</span> 
                                                    &ndash; 
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'rangeTo']" inline="true">{{group.items[0].rangeTo | number : 0}}</span>
                                                </span>
                                                <span ng-if="(!group.items[0].rangeFrom || !group.items[0].rangeTo) &amp;&amp; (!group.items[0].gril || group.items[0].gril.length < 1)">Edit</span>
                                                <span ng-if="(!group.items[0].rangeFrom || !group.items[0].rangeTo) &amp;&amp; group.items[0].gril.length > 0">
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: group.items[0].id }, 'gril']">{{ group.items[0].gril[0] | trim : 10 : '&hellip;' }}</span>
                                                </span>
                                            </span>
                                        </td>
                                        <td class="action"><a ng-hide="applyToAll()" title="Add rule" ng-click="addAccrualRule(group, 0)"><i class="fi-plus"></i></a></td>
                                        <td class="action alert"><a ng-hide="applyToAll() || group.items.length < 2" ng-click="deleteAccrualRule(group, 0)" title="Delete rule"><i class="fi-minus"></i></a></td>
                                    </tr>
                                    <tr class="has-form" ng-class="{ even: $parent.$parent.$odd, odd: $parent.$parent.$even }" ng-if="!$first" ng-repeat="rule in group.items" ng-form="ruleForm" ng-repeat-end>
                                        <th></th>
                                        <td class="text-left" kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'factor']" as-new="true" h-pos="left"> 
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="rule.factor" name="ruleFactor" ng-required=" !rule.fixed &amp;&amp; rule.fixed != '0' " ng-disabled="applyToAll()" />
                                                <kk-error field="ruleForm.ruleFactor" type="number">Invalid number</kk-error>
                                                <kk-error field="ruleForm.ruleFactor" type="required">Required</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left" kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'fixed']" h-pos="left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="rule.fixed" name="ruleFixed" ng-required=" !rule.factor &amp;&amp; rule.factor != '0' " ng-disabled="applyToAll()" />
                                                <kk-error field="ruleForm.ruleFixed" type="number">Invalid number</kk-error>
                                                <kk-error field="ruleForm.ruleFixed" type="required">Required</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left" kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'fixedBonus']" h-pos="left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="rule.fixedBonus" name="ruleFixedBonus" ng-disabled="applyToAll()" />
                                                <kk-error field="ruleForm.ruleFixedBonus">Invalid number</kk-error>
                                            </div>
                                        </td>
                                        <td class="text-left" kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'minimum']" h-pos="left">
                                            <div class="kk-error-wrapper">
                                                <input type="number" ng-model="rule.minimum" name="ruleMinimum" ng-disabled="applyToAll()" />
                                                <kk-error field="ruleForm.ruleMinimum">Invalid number</kk-error>
                                            </div>
                                        </td>
                                        <td kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'forLeg']">
                                            <input type="checkbox" ng-model="rule.forLeg" name="ruleForLeg" ng-disabled="applyToAll()" />
                                        </td>
                                        <td kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'eliteBonus']">
                                            <input type="checkbox" ng-model="rule.eliteBonus" name="ruleEliteBonus" ng-disabled="applyToAll()" />
                                        </td>
                                        <td kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'eliteMinimum']">
                                            <input type="checkbox" ng-model="rule.eliteMinimum" name="ruleEliteMinimum" ng-disabled="applyToAll()" />
                                        </td>
                                        <td class="text-left no-wrap">
                                            <a ng-click="editRuleRange(rule)" title="View full details and edit" ng-if="!applyToAll()">
                                                <span ng-if="rule.rangeFrom &amp;&amp; rule.rangeTo">
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'rangeFrom']" inline="true">{{rule.rangeFrom | number : 0}}</span> 
                                                    &ndash; 
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'rangeTo']" inline="true">{{rule.rangeTo | number : 0}}</span>
                                                </span>
                                                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; (!rule.gril || rule.gril.length < 1)">Edit</span>
                                                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; rule.gril.length > 0">
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'gril']">{{ rule.gril[0] | trim : 10 : '&hellip;' }}</span>
                                                </span>
                                            </a>
                                            <span ng-if="applyToAll()">
                                                <span ng-if="rule.rangeFrom &amp;&amp; rule.rangeTo">
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'rangeFrom']" inline="true">{{rule.rangeFrom | number : 0}}<span> 
                                                    &ndash; 
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'rangeTo']" inline="true">{{rule.rangeTo | number : 0}}</span>
                                                </span>
                                                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; (!rule.gril || rule.gril.length < 1)">Edit</span>
                                                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; rule.gril.length > 0">
                                                    <span kk-admin-review-hint="item" property="rules" filter="[{ accrual: group.accrual }, 'items', { id: rule.id }, 'gril']">{{ rule.gril[0] | trim : 10 : '&hellip;' }}</span>
                                                </span>
                                            </span>
                                        </td>
                                        <td class="action"><a ng-hide="applyToAll()" title="Add rule" ng-click="addAccrualRule(group, $index)"><i class="fi-plus"></i></a></td>
                                        <td class="action alert"><a ng-hide="applyToAll() || group.items.length < 2" ng-click="deleteAccrualRule(group, $index)" title="Delete rule"><i class="fi-minus"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </fieldset>
                        
                        <fieldset class="codeshare" ng-class="{ collapsed: !section.codeshare }">
                            
                            <legend><a ng-click="toggleSection('codeshare')"><i ng-class="{ 'fi-minus': section.codeshare, 'fi-plus': !section.codeshare }"></i> Codeshare rules</a></legend>
                            
                            <div class="inner-fieldset">
                                <div class="row">
                                    <div class="columns large-2">
                                        <div class="row">
                                            <div class="columns large-6">
                                                <label class="inline right nowrap" for="ticketed-by">Ticketed by:</label>
                                            </div>
                                            <div class="columns large-6" kk-admin-review-hint="item" property="ticketedBy">
                                                <input type="text" class="uppercase" ng-model="item.ticketedBy" name="ruleTicketedBy" id="ticketed-by" maxlength="2" ng-pattern="/^[a-zA-Z][a-zA-Z0-9]$/" />
                                                <kk-error field="itemForm.ruleTicketedBy">Two-letter code</kk-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label><strong>Marketing:</strong></label>
                                <div kk-admin-review-hint="item" property="marketingRules" map="config.codeshareRuleTypes" map-key="code" h-pos="-1.5rem">
                                    <span ng-repeat="type in config.codeshareRuleTypes">
                                        <span ng-if="type.code != 'spec' ">
                                            <input type="checkbox" ng-attr-id="mk-rule-{{type.code}}" checklist-model="item.marketingRules" checklist-value="type.code" ng-change="applyToAllSync('marketingRules')" /> 
                                            <label ng-attr-for="mk-rule-{{type.code}}">{{ type.name }}</label> 
                                        </span>
                                        <span ng-if="type.code == 'spec' " kk-admin-review-hint="item" property="marketingSpecificAirlines" inline="true" h-pos="right" v-pos="center">
                                            <input type="checkbox" ng-attr-id="mk-rule-{{type.code}}" checklist-model="item.marketingRules" checklist-value="type.code" ng-change="applyToAllSync('marketingRules')" /> 
                                            <label ng-attr-for="mk-rule-{{type.code}}">{{ type.name }}</label> 
                                        </span>
                                    </span>
                                </div>
                                
                                <kk-tag-input ng-if="item.marketingRules.indexOf('spec') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.marketingSpecificAirlines" uppercase="true" on-change="applyToAllSync('marketingSpecificAirlines')"></kk-tag-input>
                                
                                <hr />
                                
                                <label><strong>Operating:</strong></label>
                                <div kk-admin-review-hint="item" property="operatingRules" map="config.codeshareRuleTypes" map-key="code" h-pos="-1.5rem">
                                    <span ng-repeat="type in config.codeshareRuleTypes">
                                        <span ng-if="type.code != 'spec' ">
                                            <input type="checkbox" ng-attr-id="op-rule-{{type.code}}" checklist-model="item.operatingRules" checklist-value="type.code" ng-change="applyToAllSync('operatingRules')" /> 
                                            <label ng-attr-for="op-rule-{{type.code}}">{{ type.name }}</label> 
                                        </span>
                                        <span ng-if="type.code == 'spec' " kk-admin-review-hint="item" property="operatingSpecificAirlines" inline="true" h-pos="right" v-pos="center">
                                            <input type="checkbox" ng-attr-id="op-rule-{{type.code}}" checklist-model="item.operatingRules" checklist-value="type.code" ng-change="applyToAllSync('operatingRules')" /> 
                                            <label ng-attr-for="op-rule-{{type.code}}">{{ type.name }}</label> 
                                        </span>
                                    </span>
                                </div>
                                <kk-tag-input ng-if="item.operatingRules.indexOf('spec') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.operatingSpecificAirlines" uppercase="true" on-change="applyToAllSync('operatingSpecificAirlines')"></kk-tag-input>
                                
                                <hr />
                                
                                <div class="codeshare-flight">
                                    <div class="row">
                                        <div class="columns large-2">
                                            <label class="right">Flight numbers limitations:</label>
                                        </div>
                                        <div class="columns large-10" kk-admin-review-hint="item" property="flightNoLimit" h-pos="left">
                                            <kk-tag-input collection="item.flightNoLimit" uppercase="true" on-change="applyToAllSync('flightNoLimit')"></kk-tag-input>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="columns large-2">
                                            <label class="right">Excluded flight <br />numbers:</label>
                                        </div>
                                        <div class="columns large-10" kk-admin-review-hint="item" property="flightNoExcl" h-pos="left">
                                            <kk-tag-input collection="item.flightNoExcl" uppercase="true" on-change="applyToAllSync('flightNoExcl')"></kk-tag-input>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </fieldset>
                        
                        <fieldset class="geo-rules" ng-class="{ collapsed: !section.geo }">
                            
                            <legend><a ng-click="toggleSection('geo')"><i ng-class="{ 'fi-minus': section.geo, 'fi-plus': !section.geo }"></i> Geographical rules</a></legend>
                            
                            <div class="inner-fieldset">
                                <div class="row">
                                    <div class="columns large-2">
                                        <label class="right">Geographical <br />filters:</label>
                                    </div>
                                    <div class="columns large-10" kk-admin-review-hint="item" property="geographicalRules" h-pos="left">
                                        <kk-tag-input collection="item.geographicalRules" uppercase="true" on-change="applyToAllSync('geographicalRules')" validation-url="ffp/validate-gril.json"></kk-tag-input>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="columns large-2">
                                        <label class="right">Coded <br />conditions:</label>
                                    </div>
                                    <div class="columns large-10" kk-admin-review-hint="item" property="codedConditions" h-pos="left">
                                        <kk-tag-input collection="item.codedConditions" uppercase="true" on-change="applyToAllSync('codedConditions')" validation-url="ffp/validate-gril.json"></kk-tag-input>
                                    </div>
                                </div>
                            </div>
                            
                        </fieldset>
                        
                        <fieldset class="tiers" ng-class="{ collapsed: !section.tiers }">
                    
                            <legend><a ng-click="toggleSection('tiers')"><i ng-class="{ 'fi-minus': section.tiers, 'fi-plus': !section.tiers }"></i> Status tiers</a></legend>
                            
                            <div class="inner-fieldset">
                                
                                <div class="tier-config">
                                    <label>Elite bonus based on:</label>
                                    <div kk-admin-review-hint="item" property="eliteBonusBase" map="config.eliteBonusTypes" h-pos="left">
                                        <input ng-repeat-start="type in config.eliteBonusTypes" type="radio" ng-model="item.eliteBonusBase" ng-attr-id="el-bon-{{$index}}" ng-value="type.id" name="ffpEliteBonus" ng-change="applyToAllSync('eliteBonusBase')" /> 
                                        <label class="inline" ng-repeat-end for="el-bon-{{$index}}">{{type.name}}</label>
                                    </div>
                                    
                                    <hr />
                                    
                                    <label>Minimum miles calculation method</label>
                                    <div kk-admin-review-hint="item" property="minMilesCalcMethod" map="config.minMilesCalcMethods" h-pos="left">
                                        <input ng-repeat-start="method in config.minMilesCalcMethods" type="radio" ng-model="item.minMilesCalcMethod" ng-attr-id="mm-met-{{$index}}" ng-value="method.id" name="ffpMMMethod" ng-change="applyToAllSync('minMilesCalcMethod')" /> 
                                        <label class="inline" ng-repeat-end for="mm-met-{{$index}}">{{method.name}}</label>
                                    </div>
                                </div>
                                
                                <div ng-if="item.tiers.length > 0 &amp;&amp; config" kk-admin-review-hint="item" property="tiers" as-removed="true" removed-template-url="ffp-cms/rules/review/removed-tiers.html?v=1" removed-template-data="{ config: config, ffp: ffp }" h-pos="left">
                                    <table class="highlight">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Name</th>
                                                <th class="text-left">Status</th>
                                                <th class="text-right"><abbr title="Distance bonus">Dist. bonus</abbr></th>
                                                <th class="text-right"><abbr title="Reveune bonus">Rev. bonus</abbr></th>
                                                <th ng-repeat="accrual in ffp.accruals" ng-if="accrual.id" class="accrual text-right">
                                                    <span ng-init="initAccrualTooltipData(this)">
                                                        <span kk-tooltip="ffp-cms/rules/tooltip-accrual.html" tooltip-data="accrualTooltip" ng-class="{ 'distance-based' : accrual.earningBase == 'distance' }">{{ getAccrualAbbr(accrual) }}</span>
                                                    </span>
                                                </th>
                                                <th><abbr title="Apply minimum miles">AMM</abbr></th>
                                                <th class="text-left">Geographical rules</th>
                                                <th colspan="2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tier in item.tiers">
                                                <th class="text-left" kk-admin-review-hint="item" property="tiers" filter="[{ id: tier.id }]" as-new="true" h-pos="-1.5rem">
                                                    <div kk-admin-review-hint="item" property="tiers" filter="[{ id: tier.id }, 'name']" h-pos="left">{{ tier.name }}</div>
                                                </th>
                                                <td class="text-left" kk-admin-review-hint="item" property="tiers" filter="[{ id: tier.id }, 'status']" map="config.statuses" h-pos="left">{{ (config.statuses | find : tier.status).name }}</td>
                                                <td class="text-right" kk-admin-review-hint="item" property="tiers" filter="[{ id: tier.id }, 'distanceBonus']" h-pos="right">{{ tier.distanceBonus | number : 2 }}</td> 
                                                <td class="text-right" kk-admin-review-hint="item" property="tiers" filter="[{ id: tier.id }, 'revenueBonus']" h-pos="right">{{ tier.revenueBonus | number : 2 }}</td>
                                                <td ng-repeat="accrual in ffp.accruals" ng-if="accrual.id" class="text-right" kk-admin-review-hint="item" property="tiers" filter="[{ id: tier.id }, 'accruals', { id: accrual.id }, 'value']" h-pos="right">
                                                    {{ (tier.accruals | find : accrual.id).value | number : 0 }} 
                                                </td>
                                                <td kk-admin-review-hint="item" property="tiers" filter="[{ id: tier.id }, 'applyMinMiles']"><i ng-class="{ 'fi-check' : tier.applyMinMiles, 'fi-x' : !tier.applyMinMiles }"></i></td>
                                                <td class="text-left nowrap" kk-admin-review-hint="item" property="tiers" filter="[{ id: tier.id }, 'gril']" h-pos="left">
                                                    <span class="label" ng-repeat="code in tier.gril">{{code}}</span>
                                                </td>
                                                <td class="action"><a title="Edit" ng-click="editTier(tier)"><i class="fi-pencil"></i></a></td>
                                                <td class="action alert"><a title="Delete" ng-click="removeTier($index)"><i class="fi-x"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="item.tiers.length <= 0">
                                    <p>There are no tiers yet. Add first one.</p>
                                </div>
                                
                                <button type="button" ng-click="addTier()" class="tiny"><i class="fi-plus"></i> Add tier</button>
                                
                            </div>
                            
                        </fieldset>
                                
                        <fieldset class="validity" ng-class="{ collapsed: !section.validity }">
                            
                            <legend><a ng-click="toggleSection('validity')"><i ng-class="{ 'fi-minus': section.validity, 'fi-plus': !section.validity }"></i> Validity</a></legend>
                            
                            <div class="inner-fieldset">
                                
                                <div class="row">
                                    <div class="columns large-4">
                                        <div class="period-block">
                                            <label>Purchase period</label>
                                            <div class="row">
                                                <div class="columns large-6" kk-admin-review-hint="item" property="purchase.from">
                                                    
                                                    <div class="row collapse">
                                                        <div class="columns small-4">
                                                            <span class="prefix">From</span>
                                                        </div>
                                                        <div class="columns small-8">
                                                            <input type="datetime" date-time min-view="date" ng-model="item.purchase.from" format="yyyy-MM-dd" />
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="columns large-6" kk-admin-review-hint="item" property="purchase.until">
                                                    
                                                    <div class="row collapse">
                                                        <div class="columns small-4">
                                                            <span class="prefix">Until</span>
                                                        </div>
                                                        <div class="columns small-8">
                                                            <input type="datetime" date-time min-view="date" ng-model="item.purchase.until" format="yyyy-MM-dd" />
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="columns large-4 large-offset-1 end">
                                        <div class="period-block">
                                            <label>Flight period</label>
                                            <div class="row">
                                                <div class="columns large-6" kk-admin-review-hint="item" property="flight.from">
                                                    
                                                    <div class="row collapse">
                                                        <div class="columns small-4">
                                                            <span class="prefix">From</span>
                                                        </div>
                                                        <div class="columns small-8">
                                                            <input type="datetime" date-time min-view="date" ng-model="item.flight.from" format="yyyy-MM-dd" />
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="columns large-6" kk-admin-review-hint="item" property="flight.until">
                                                    
                                                    <div class="row collapse">
                                                        <div class="columns small-4">
                                                            <span class="prefix">Until</span>
                                                        </div>
                                                        <div class="columns small-8">
                                                            <input type="datetime" date-time min-view="date" ng-model="item.flight.until" format="yyyy-MM-dd" />
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </fieldset>
                        
                        <fieldset class="comment" ng-class="{ collapsed: !section.comment }">
                            <legend><a ng-click="toggleSection('comment')"><i ng-class="{ 'fi-minus': section.comment, 'fi-plus': !section.comment }"></i> Comment</a></legend>
                                    
                            <div class="inner-fieldset">
                                <div kk-admin-review-hint="item" property="comment">
                                    <textarea placeholder="Your comment" ng-model="item.comment" ng-change="applyToAllSync('comment')"></textarea>
                                </div>
                            </div>
                            
                        </fieldset>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        <div ng-if="!applyToAll()">
                            <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                            <a kk-nav route="rules" ng-attr-param-ffpid="{{ffp.id}}" class="secondary button">Cancel</a>
                        </div>
                        <div ng-if="applyToAll()">
                            <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Apply</button>
                        </div>
                    </div>
                </div>
                
                <div ng-if="!item.isNew" class="history">
                    <hr />    
                    <p>Created by <strong>{{ item.createdBy }}</strong> at <strong>{{ item.createdAt | date : 'medium' }}</strong></p>
                    <p>Modified by <strong>{{ item.modifiedBy }}</strong> at <strong>{{ item.modifiedAt | date : 'medium' }}</strong></p>
                </div>
                
                
            </form>
            
            <div class="row" ng-if="paged">
                <div class="columns large-12">
                    <div class="pagination-center">
                        <pager total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
</section>