<section id="test-edit" data-bind="visible: selectedMainNav() == 'test-edit' ">
                
    <!-- ko if: editedTest() -->
    <!-- ko with: editedTest -->
                
    <div class="row top-test-edit">
        <div class="columns large-8">
            <h1>Earning Calculator</h1>
        </div>
    </div>
                
    <form data-bind="submit: run" novalidate="">
        <fieldset>
            <legend>Configuration</legend>
                        
            <div class="row">
                <div class="columns large-2">
                    <h6 class="text-center">Itinerary</h6>
                    <div class="validated-field error" data-bind="css: { 'error': !isDepartureAirportValid() }">
                        <input type="text" class="text-center uppercase airport ui-autocomplete-input" data-bind="value: DepartureAirport, valueUpdate:'blur'" placeholder="e.g. LHR" autocomplete="off">
                        <small class="error">This field is required.</small>
                    </div>
                </div>
            </div>
                        
            <div>
                <!-- ko foreach: Segments -->
                        
                <div class="row segment">
                        
                    <hr>
                            
                    <div class="columns large-2">
                        <div class="validated-field error" data-bind="css: { 'error': !isAirportValid() }">
                            <input type="text" class="text-center uppercase airport ui-autocomplete-input" data-bind="value: Airport, valueUpdate:'blur'" placeholder="e.g. JFK" autocomplete="off">
                            <small class="error">This field is required.</small>
                        </div>
                    </div>
                            
                    <div class="columns large-9">
                        <div class="validated-field error" data-bind="css: { 'error': !areOptionsValid() }">
                            <div class="row config">
                                <div class="columns large-3">
                                    <label data-bind="visible: $index() == 0">MK Carrierr</label>
                                    <input type="text" data-bind="value: MkAirline" maxlength="2" required="" class="uppercase" placeholder="e.g. BA">
                                </div>
                                <div class="columns large-3">
                                    <label data-bind="visible: $index() == 0">OP Carrierr</label>
                                    <input type="text" data-bind="value: OpAirline" maxlength="2" required="" class="uppercase" placeholder="e.g. AA">
                                </div>
                                <div class="columns large-3">
                                    <label data-bind="visible: $index() == 0">Fare Code</label>
                                    <input type="text" data-bind="value: FareCode" maxlength="1" required="" class="uppercase" placeholder="e.g. Y">
                                </div>
                                <div class="columns large-3">
                                    <label data-bind="visible: $index() == 0">Flight No.</label>
                                    <input type="text" data-bind="value: FlightNum" class="uppercase" placeholder="e.g. 680">
                                </div>
                            </div>
                            <small class="error">Fields: MK Carrierr, OP Carrierr and Fare Code are obligatory.</small>
                        </div>
                    </div>
                    <div class="columns large-1 text-center">
                        <a href="#" title="Remove segment from itinerary" data-bind="visible: $index() > 0, click: $parent.removeSegment.bind($parent)" style="display: none;"><i class="fi-x error"></i></a>
                    </div>
                </div>
                        
                <!-- /ko -->
            </div>
                        
            <div class="row">
                <div class="columns large-2">
                    <p class="text-center"><a href="#" data-bind="click: addSegment"><i class="fi-plus"></i> Add Segment</a></p>
                </div>
            </div>
                        
            <hr>
                        
            <div class="row">
                <div class="columns small-2">
                    <label>Currency</label>
                    <input type="text" class="uppercase" maxlength="3" data-bind="value: CurrencyCode" placeholder="e.g. USD">
                </div>
                <div class="columns small-2">
                    <label>Base Fare</label>
                    <input type="text" class="uppercase" data-bind="value: BasePrice" placeholder="e.g. 1000">
                </div>
                <div class="columns small-2">
                    <label>Carrier surcharges</label>
                    <input type="text" class="uppercase" data-bind="value: CxSurcharges" placeholder="e.g. 100">
                </div>
                <div class="columns small-2" style="float:left;">
                    <label>Taxes &amp; govt fees</label>
                    <input type="text" class="uppercase" data-bind="value: Taxes" placeholder="e.g. 250">
                </div>
            </div>
                        
            <hr>
                        
            <div class="row">
                <div class="columns large-3">
                    <label>FFP</label>
                    <select data-bind="options: $root.testFfps, optionsText: 'Name', value: FfpCode, optionsValue: 'Code' "></select>
                </div>
                <div class="columns large-3 large-offset-3">
                    <label>Flight purchase date</label>
                    <input type="text" class="date-input" data-bind="value: PurchDate" placeholder="click to choose">
                </div>
                <div class="columns large-3">
                    <label>Flight deparure date</label>
                    <input type="text" class="date-input" data-bind="value: FlightDate" placeholder="click to choose">
                </div>
            </div>
            
        </fieldset>
                    
        <fieldset data-bind="visible: testRun()" style="display: none;">
            <legend>Earnings</legend>
                        
            <div data-bind="visible: hasBasicSegmentsCalculated" class="row" style="display: none;">
                <div class="columns large-12">
                  
                    <div class="validated-field">
                        <table>
                            <thead>
                                <tr class="caption">
                                    <th></th>
                                    <th></th>
                                    <!-- ko foreach: FfpAccruals -->
                                    <th data-bind="text: Alias">Miles</th>
                                    
                                    <th data-bind="text: Alias">Status miles</th>
                                    
                                    <th data-bind="text: Alias">Status segments</th>
                                    <!-- /ko -->
                                    <th>Distance</th>
                                </tr>
                            </thead>
                            <tfoot data-bind="if: !isNew() &amp;&amp; isBasicCalculated()"></tfoot>
                        </table>
                    </div>
                </div>
            </div>
                        
            <div data-bind="visible: !hasBasicSegmentsCalculated()" class="row">
                <div class="columns large-12">
                    <label>No earnings calculated</label>
                </div>
            </div>

        </fieldset>
        
        <a href="#" class="small button success" data-bind="click: run" title="Save and run test"><i class="fi-play"></i> Run</a>
        <a href="#" class="small button alert" data-bind="click: clear" title="Clear all fields"><i class="fi-x"></i> Clear</a>

    </form>
                
    <!-- /ko -->
    <!-- /ko -->
    
</section>