<section id="home" data-bind="visible: selectedMainNav() == 'home' ">
    <div class="row">
        <div class="columns large-8">
           <h1>Greetings our dear customer!</h1>
        </div>
    </div>
</section>