<div class="alert-box success">
	<p>Your Mileage Plus account is succesfully connected. See <a href="#">terms &amp; conditions</a>.</p>
	<p><span class="miles">4545</span> award miles, <span class="miles">5435</span> award points, <span class="miles status">5435</span> status miles and <span class="miles status">43</span> segments</p>
</div>
