<section id="role-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Tool</h1>
                <h4 class="subheader">{{ tool.name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New tool</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="tools">
                    <a>Tools</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editTool" ng-attr-param-id="{{ tool.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newTool">
                    <a>New</a>
                </li>
            </ul>
            
        </div>
    </div>
    
    <form name="toolForm" ng-submit="submit(toolForm)" novalidate>
        
        <div class="row">
            <div class="columns large-6">
                <fieldset>
                    <legend>Basic</legend>
                    
                    <ul class="button-group round">
                        <li><button type="button" class="button tiny" ng-class="{ secondary: !tool.active, success: tool.active } " ng-model="tool.active" btn-radio="true">Active</button></li>
                        <li><button type="button" class="button tiny" ng-class="{ secondary: tool.active, alert: !tool.active } " ng-model="tool.active" btn-radio="false">Inactive</button></li>
                    </ul>
                    
                    <label for="tool-name">Name <small>Required</small></label>
                    <input type="text" ng-model="tool.name" id="tool-name" name="toolname" required />
                    <kk-error field="toolForm.toolname">This field is required</kk-error>
                    
                    <label for="tool-desc">Description <small>Required</small></label>
                    <textarea ng-model="tool.description" id="tool-desc" name="desc" required></textarea>
                    <kk-error field="toolForm.desc">This field is required</kk-error>
                    
                    <label for="tool-url">External URL</label>
                    <input type="url" ng-model="tool.externalUrl" id="tool-url" name="url" placeholder="http://" />
                    <kk-error field="toolForm.url" type="url">URL is not valid. It should begin with protocole: <strong>http</strong> or <strong>https</strong>.</kk-error>
                    
                </fieldset>
            </div>
            <div class="columns large-6">
                <fieldset>
                    <legend>Permissions</legend>
                    
                    <div ng-if="tool.permissions.length > 0">
                        <div class="row">
                            <div class="columns small-3">
                                <label for="perm-type-0">Type <small>Required</small></label>
                            </div>
                            <div class="columns small-3">
                                <label for="perm-name-0">Name <small>Required</small></label>
                            </div>
                            <div class="columns small-6">
                                <label for="perm-desc-0">Description</label>
                            </div>
                        </div>
                        <div ng-repeat=" perm in tool.permissions ">
                            <div class="row" ng-form name="permForm">
                                <div class="columns small-3">
                                    <select ng-attr-id="perm-type-{{$index}}" name="type" ng-change="onPermissionTypeChange(perm, permForm.type)" ng-model="perm.type" ng-options=" type.type as type.name for type in config.permissionTypes " required></select>
                                    <kk-error field="permForm.type" type="required">This field is required</kk-error>
                                    <kk-error field="permForm.type" type="duplicate">You can not use this type more than once</kk-error>
                                </div> 
                                <div class="columns small-3">
                                    <input type="text" ng-attr-id="perm-name-{{$index}}"  name="permname" ng-model="perm.name" required />
                                    <kk-error field="permForm.permname">This field is required</kk-error>
                                </div>
                                <div class="columns small-6">
                                    <div class="row collapse">
                                        <div class="columns small-10">
                                            <input type="text" ng-attr-id="perm-desc-{{$index}}"  name="desc" ng-model="perm.description" />
                                        </div>
                                        <div class="columns small-2 text-center">
                                            <a class="delete-row" ng-click="deletePermission($index)" title="Delete"><i class="fi-x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="tiny secondary" type="button" ng-click="addPermission()"><i class="fi-plus"></i> Add permission</button>
                    </div>
                    <p ng-if="tool.permissions.length <= 0">No permissions yet. Add <a ng-click="addPermission()">first one</a>.</p>
                </fieldset>
            </div>
        </div>
        
        <div class="row">
            <div class="columns large-12">
                <button type="submit" ng-class=" { success: toolForm.$valid, secondary: !toolForm.$valid } "><i class="fi-check"></i> Save</button>
                <a kk-nav route="tools" class="secondary button">Cancel</a>
                <button ng-show="!isNew" type="button" class="alert right" ng-click="promptDeleteTool(tool)">Delete</button>
            </div>
        </div>
    </form>
    
</section> 