<div class="panel">
    <div class="row">
        <div class="columns large-12">
            
            <div ng-show="!loading">
                
                <h4>{{ffp.name}}</h4>
                
                <p>Select your status. Not sure? <a ng-href="{{ffp.logInUrl}}" title="Log in to your program in separate window" target="_blank">Log in</a> to your program and check now.</p>
                
                <div kk-alerts class="radius" key="ffpedit"></div>
                
                <div class="hide-for-small">
                    <ul class="button-group radius" ng-class="getButtonGroupClass()" ng-if="ffp.statuses.length <= 5">
                        <li ng-repeat="status in ffp.statuses">
                            <button type="button" class="button small" ng-class="{ secondary: status.id != selected.id, success: status.id == selected.id }" ng-click="select(status)" analytics-on="click" analytics-event="click" analytics-category="ffp" analytics-label="first-status" analytics-if="$first">{{status.name}}</a>
                        </li>
                    </ul>
                    <div ng-if="ffp.statuses.length > 5" class="row">
                        <div class="columns medium-5">
                            
                            <select ng-options="status.id as status.name for status in ffp.statuses" ng-model="selected.id"></select>
                            <button type="button" class="button small round" ng-click="select(selected.id)" analytics-on="click" analytics-event="click" analytics-category="ffp" analytics-label="first-status" analytics-if="selected.id == ffp.statuses[0].id">Select status</button>
                            
                        </div> 
                    </div>
                </div>
                
                <div class="hide-for-medium-up">
                    <button ng-repeat="status in ffp.statuses" type="button" class="button small expand round" ng-class="{ secondary: status.id != selected.id, success: status.id == selected.id }" ng-click="select(status)" analytics-on="click" analytics-event="click" analytics-category="ffp" analytics-label="first-status" analytics-if="$first">{{status.name}}</a>
                </div>
                
            </div>
            <div ng-show="loading">
                
                <h4>Saving program status&hellip;</h4>
                
                <div class="loader">&nbsp;</div>
                
            </div>
            
        </div>
    </div>
    
</div>

<a class="close-reveal-modal" aria-label="Close" ng-click="cancel()">&#215;</a>