<section id="account">
    
    <div class="row">
        <div class="columns large-6 large-centered">
            <h1>My Account</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li class="current" kk-nav route="account">
                    <a>My Account</a>
                </li>
            </ul>
            
        </div>
    </div>
    
    <form name="accountForm" ng-submit="submit(accountForm)" novalidate>
            
        <div class="row">
            <div class="columns large-6 large-centered">
                <div class="panel">
                    
                    <label for="account-email">Email</label>
                    <input type="email" ng-model="user.email" id="account-email" name="email" disabled />
                    
                    <label for="account-name">Full name <small>Required</small></label>
                    <input type="text" ng-model="user.name" id="account-name" name="fullname" required />
                    <kk-error field="accountForm.fullname">This field is required</kk-error>
                    
                    <label for="account-login">Login <small>Required</small></label>
                    <input type="text" ng-model="user.login" id="account-login" name="login" ng-pattern="/(^[a-zA-Z0-9_\-\.\u0040]{4,}$)/" required />
                    <kk-error field="accountForm.login" type="required">This field is required</kk-error>
                    <kk-error field="accountForm.login" type="pattern">Login must consit at least 4 characters: letters, digits, underscore, dot and hypen.</kk-error>
                    
                    <label for="account-password">Password <small>Required</small></label>
                    <div class="row collapse">
                        <div class="columns small-10">
                            <input ng-attr-type="{{passwordInputType}}" ng-model="user.password" id="account-password" name="password" required ng-minlength="7" />
                            <kk-error field="accountForm.password" type="required">This field is required</kk-error>
                            <kk-error field="accountForm.password" type="minlength">Password should contain at least 7 characters</kk-error>
                        </div>
                        <div class="columns small-2">
                            <button type="button" ng-click="togglePasswordInputType()" class="tiny secondary expand">
                                <span ng-if=" passwordInputType == 'password' ">Show</span>
                                <span ng-if=" passwordInputType == 'text' ">Hide</span>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="columns large-6 large-centered">
                <button type="submit" ng-class=" { success: accountForm.$valid, secondary: !accountForm.$valid } "><i class="fi-check"></i> Save</button>
            </div>
        </div>
    </form>
    
</section>