<div class="panel callout">
    <div class="row">
        <div class="columns large-12">
            <h3>Reset password</h3>
            <p ng-if="!sent">Type below your email address to receive a message with reset password link.</p>
        </div>
    </div>
</div>
<div class="panel">
    <form novalidate name="passForm" ng-submit="submit(passForm)" ng-class="{ loading: loading }" ng-if="!sent">
        <div class="row">
            <div class="columns large-12">
                <div kk-alerts class="radius" key="pass"></div>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <label for="email-pass">Your email</label>
                <input type="email" ng-model="data.email" name="email" required id="email-pass" />
                <kk-error field="passForm.email" type="required">This field is required</kk-error>
                <kk-error field="passForm.email" type="email">Your email address is invalid</kk-error>
            </div>
        </div>
        <div class="row">
            <div class="columns large-5">
                <button class="small round expand" type="submit">Submit</button>
            </div>
            <div class="columns large-5">
                <button class="small round info expand" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
    
    <div ng-if="sent">
        <div class="row">
            <div class="columns small-12">
                <div class="alert-box success icon radius">
                    <i class="fa-paper-plane fa"></i> Great! We have sent you an email. Please click on a link in the message to confirm your identity and reset the password.
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="columns large-5">
                <button class="small round info expand" type="button" ng-click="cancel()">OK</button>
            </div>
        </div>
    </div>
    
</div>

<a class="close-reveal-modal" aria-label="Close" ng-click="cancel(true)">&#215;</a>