<div class="panel callout">
    <div class="row">
        <div class="columns small-5">
            <h3>Login</h3>
        </div>
        <div class="columns text-right small-7">
            <div class="actions" ng-hide="hideSignUp">
                <div class="hide-for-small">
                    <a class="button round small" type="button" href="sign-up.html"><i class="fa fa-user"></i> Sign up</a>
                    <button class="round small round-round transparent" type="button" ng-click="cancel()">&times;</button>
                </div>
                <div class="hide-for-medium-up">
                    <a class="round button tiny success" type="button" href="sign-up.html">Sign up</a>
                    <button class="round tiny round-round transparent" type="button" ng-click="cancel()">&times;</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    
    <div class="row">
        <div class="small-12 columns">
            
            <ul class="inline-list vendors">
                <li><a href="sign-up-ffp.html"><img src="img/facebook.png" alt="Facebook" /></a></li>
                <li><a id="google-auth2-btn"><img src="img/google.png" alt="Google" /></a></li>
                <li><a href="sign-up-ffp.html"><img src="img/linkedin.png" alt="LinkedIn" /></a></li>
                <li><a href="sign-up-ffp.html"><img src="img/twitter.png" alt="Twitter" /></a></li>
            </ul>
              
        </div>
    </div>
    
    <form novalidate name="loginForm" ng-submit="submit(loginForm)" ng-class="{ loading: loading }">
        <div class="row">
            <div class="columns large-12">
                <div kk-alerts key="login" class="radius"></div>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <label for="login-user">Username</label>
                <input type="text" ng-model="login.username" name="username" required autocomplete="off" />
                <kk-error field="loginForm.username">This field is required</kk-error>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <label for="login-user">Password</label>
                <input type="password" ng-model="login.password" name="password" required autocomplete="off" />
                <kk-error field="loginForm.password">This field is required</kk-error>
                <p class="etc"><a ng-click="showForgotPasswordModal()" title="Reset password">Forgot password?</a></p>
            </div>
        </div>
        <div class="row">
            <div class="columns large-4">
                <button class="small round expand" type="submit">Log in</button>
            </div>
        </div>
    </form>
</div>

<a ng-show="hideSignUp" class="close-reveal-modal" aria-label="Close" ng-click="cancel()">&#215;</a>