@import "fonts";
@import "settings";
@import "foundation";
  
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$dark-red: #980202;
$green: #00e587;
$yellow: #f6e800;

$smaller-font-size: rem_calc(13);

.white{
    color: $white;
}

.gradient-shadow{
    background: -moz-radial-gradient(center top, ellipse cover,  rgba(241,241,241,0.65) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(radial, center, 0px, center top, 100%, color-stop(0%,rgba(241,241,241,0.65)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center top, ellipse cover,  rgba(241,241,241,0.65) 0%,rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center top, ellipse cover,  rgba(241,241,241,0.65) 0%,rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center top, ellipse cover,  rgba(241,241,241,0.65) 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center top,  rgba(241,241,241,0.65) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f1f1f1', endColorstr='#00ffffff',GradientType=1 );
}

.clearfix{
    clear: both;
    content: " ";
    display: table;
}

.hr{
    margin-left: 0;
    margin-right: 0;
    background-image: url(../img/hr.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2px;
    border: none;
}

.invert{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix type=\'matrix\' values=\'-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0\'/></filter></svg>#invert");
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.no-invert{
    -webkit-filter: none;
    filter: none;
}

@mixin cover-background($url){
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url(#{$url});
}

figure{
    margin: 0;
}

@media #{$medium-up}{
    label{
        font-size: rem-calc(18);
    }
}

code, pre{
    display: block;
    border-radius: 0 !important;
    font-size: $smaller-font-size;
}

pre{
    margin-bottom: 2.5rem !important;
}

figcaption{
    margin-top: rem_calc(50);
}

@mixin input-with-icon($offset, $width){
    background-clip: border-box;
    background-origin: border-box;
    background-position: calc(100% - #{$offset}) center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    padding-right: $offset + $width !important;
}

.no-wrap{
    white-space: nowrap;
}

table{
    width: 100%;
    border-spacing: 0.5rem;
    
    &.bottom-shadow{
        position: relative;
        padding-bottom: 3rem;
        
        &:after{
            display: block;
            content: " ";
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3rem;
            background: url(../img/vr.png) center bottom repeat-x;
        }
    }
    
    thead{
        td,th{
            vertical-align: top;
            text-align: center;
        }
    }
    
    tbody{
        tr{
            &:first-child{
                td,th{
                    border-top: 1px solid $jet;
                }
            }
        }
        
        td,th{
            font-weight: $font-weight-lighter;
        }
    }
}

.counter{
    white-space: nowrap;
    
    span{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.25);
        margin-right: 0.1rem;
        text-align: center;
        min-width: 0.75em;
        
        &:nth-last-child(3n){
            position: relative;
            
            &:before{
                content: ".";
                position: absolute;
                left: -0.1em;
                bottom: 0;
            }
        }
        
        &:first-child{
            &:before{
                display: none;
            }
        }
    }
}

.vr{
    height: rem_calc(150);
    width: auto;
    position: absolute;
}

dl{
    dt{
        font-size: $h5-font-size;
    }
    
    dd{
        font-size: $paragraph-font-size;
        font-weight: $paragraph-font-weight;
    }
}

.error{
    input[type="text"],
    input[type="date"],
    input[type="number"],
    input[type="datetime"],
    input[type="url"],
    input[type="email"],
    input[type="password"],
    textarea{
        color: $alert-color;
        border-color: $alert-color;
        
        &:focus{
            border-color: $alert-color;
            color: $jet;
        }
        
        &:hover{
            border-color: $alert-color;
        }
    }
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="datetime"],
input[type="url"],
input[type="email"],
input[type="password"],
textarea{
    font-weight: bold;
    font-size: $h5-font-size;
    border-radius: 2rem;
    
    &:focus{
        color: $jet;
        box-shadow: none;
    }
    
    &:hover{
        border-color: $jet;
    }
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="datetime"],
input[type="url"],
input[type="email"],
input[type="password"]{
    height: 4rem;
    padding: 0.5rem 1.5rem;
    border-radius: $global-rounded;
}

input{
    &.small{
        height: 3.25rem;
        font-size: $paragraph-font-size;
    }
    
    &.tiny{
        height: 2.65rem;
        font-size: $paragraph-font-size;
    }
}

textarea{
    padding: 1.5rem;
}

form{
    .row{
        
        &.prefixed-input,
        &.postfixed-input{
            & + small{
                &.error{
                    clear: both;
                }
            }
            
            .columns{
                input{
                    &.error{
                        margin-bottom: 0 !important;
                    }
                }
                
                .prefix, 
                .postfix{
                    height: 2.65rem;
                    font-weight: $font-weight-bold;
                    
                    &.alert{
                        border-color: $alert-color;
                        background-color: $input-prefix-bg;
                    }
                }
            }
        }
        
        &.prefixed-input{
            .columns{
                input{
                    border-radius: 0 $global-rounded $global-rounded 0;
                }
                
                .prefix{
                    border-radius: $global-rounded 0 0 $global-rounded;
                }
            }   
        }
        
        &.postfixed-input{
            .columns{
                input{
                    border-radius: $global-rounded 0 0 $global-rounded;
                }   
                
                .postfix{
                    border-radius: 0 $global-rounded $global-rounded 0;
                }
            }   
        }
    }
}

.icon-bar{
    background: url(../img/banner-separator.png) no-repeat scroll center top / contain  rgba(0, 0, 0, 0);
    
    & > * i + label,
    & > * img + label{
        margin-top: 0.5rem;
        font-size: rem_calc(12);
    }
}

button,
.button{
    text-transform: uppercase;
    letter-spacing: 0.25em;
    
    &:hover{
        color: $dark-red;
    }
    
    &.dark{
        background-color: rgba(0, 0, 0, 0.5);
        
        &:hover{
            background-color: $primary-color;
            color: $white;
        }
    }
    
    &.white{
        color: $button-font-color-alt;
        background-color: $white;
    }
    
    &.black{
        color: $white;
        background-color: $body-font-color;
    }
    
    &.back{
        position: relative;
        
        &:before{
            content: "‹";
            display: block;
            font-size: 1.5rem;
            font-weight: lighter;
            height: 100%;
            left: 1rem;
            line-height: 1.7;
            position: absolute;
            top: 0;
        }
    }
    
    &.border{
        border-width: 2px;
        border-style: solid;
        border-color: $primary-color;
        color: $primary-color;
        background-color: transparent;
          
        &.white{
            border-color: $white;
            color: $white;
            
            &:hover{
                background-color: $primary-color;
                border-color: transparent;
            }
        }
        
        &.black{
            border-color: $body-font-color;
            color: $body-font-color;
            
            &:hover{
                background-color: $body-font-color;
                color: $white;
                border-color: transparent;
            }
        }
        
        &.secondary{
            border-color: $secondary-color;
            color: $iron;
            
            &:hover{
                color: $jet;
                border-color: $jet;
            }
        }
         
        &.dropdown{
            border-width: 1px;
            border-color: $smoke;
            color: lighten($input-font-color, 10%);
            
            &:hover{
                border-color: $jet;
            }
            
            &:focus{
                border-color: $jet;
                color: $jet;
            }
        }
        
        &:hover{
            background-color: transparent;
        }
        
        &:focus{
            background-color: transparent;
        }
    }
    
    &.dropdown{
        text-transform: none;
        letter-spacing: 0;
        font-weight: lighter;
        
        &:before {
            border-color: $white transparent transparent;
            border-style: solid;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            top: 35%;
            width: 0;
            z-index: 1;
        }
        
        &.small{
            &::before{
                border-width: $dropdown-button-pip-size-sml;
                right: rem_calc(18);
            }
            
            .value{
                margin: -0.25rem 0;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }
        }
        
        .value{
            border-right: 1px solid $smoke;
            display: block;
            white-space: nowrap;
            max-width: 100%;
            padding-left: 1.25rem; 
            padding-right:1.25rem; 
            overflow:hidden;
        } 
    }
    
    &.lowercase{
        text-transform: none;
        letter-spacing: normal;
    }
}

header{
    .contain-to-grid{
        position: absolute;
        z-index: 10;
    }
    
    &.static{
        .contain-to-grid{
            position: static;
        }
    }
    
    &.transparent{
         
        .contain-to-grid{
            background-color: transparent;
        }
        
        .top-bar{
            background-color: transparent;
            
            .title-area{
                h1{
                    img{
                        &.light{
                            display: inline-block;
                        }
                        
                        &.dark{
                            display: none;
                        }
                    }
                }
            }
            
            &:not(.expanded){
                
                .toggle-topbar{
                    &.menu-icon{
                        a{
                            color: $white;
                            
                            span{
                                &:after{
                                    box-shadow: 0 0 0 1px $white, 0 7px 0 1px $white, 0 14px 0 1px $white;
                                }
                            }
                        }
                    }
                }
                
                .top-bar-section{
                    ul{
                        li{
                            background-color: transparent;
                            
                            & > a{
                                &.button{
                                    &.border{
                                        color: $white;
                                        border-color: transparent;
                                        background-color: $primary-color;
                                        
                                        &.white{
                                            border-color: $white;
                                            background-color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                        
                        &.dropdown{
                            background: rgba(0, 0, 0, 0.25);
                            border-radius: 5px;
                            left: -0.65rem;
                            width: 130%;
                            
                            a{
                                color: $gainsboro;
                                
                                &:hover{
                                    color: $white;
                                }
                            }
                        }
                    }
                    
                    li{
                        &:not(.has-form){
                            a{
                                &:not(.button){
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &.blue{
            .top-bar{
                &:not(.expanded){
                    .top-bar-section{
                        ul{
                            li{
                                & > a{
                                    &.button{
                                        &.border{
                                            background-color: $white;
                                            color: $success-color;
                                            border-color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &.red{
            .top-bar{
                &:not(.expanded){
                    .top-bar-section{
                        li{
                            &.active{
                                &:not(.has-form){
                                    a{
                                        &:not(.button){
                                            color: $dark-red;
                                        }
                                    }
                                }
                            }
                        }
                        
                        ul{
                            li{
                                & > a{
                                    &.button{
                                        &.border{
                                            background-color: $white;
                                            color: $primary-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .top-bar{
        
        .title-area{
            h1{
                img{ 
                    max-width: rem_calc(50);
                     
                    &.light{
                        display: none;
                    }
                }
            }
        }
        
        .top-bar-section{
            
            .dropdown{
                li{
                    &.parent-link{
                        a{
                            color: $jumbo;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            
            ul{
                li{
                    & > a{
                        &.button{
                            
                            letter-spacing: 0; 
                            
                            &.border{
                                background-color: transparent;
                                border-color: $primary-color;
                                color: $primary-color;
                            }
                            
                            &.secondary{
                                color: $topbar-link-color;
                                border-color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
        
        &:not(.expanded){
            .top-bar-section{
                
                .has-dropdown{
                    & > a{
                        &.button{
                            &:after{
                                top: 1rem;
                                border-color: $secondary-color transparent transparent;
                            }
                            
                            & + ul{
                                &.dropdown{
                                    top: rem_calc(48);
                                    padding: 0 0.75rem;
                                    
                                    li{
                                        a{
                                            line-height: 2.75rem;   
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &.expanded{
            .title-area{
                h1{
                    img{
                        &.light{
                            display: none;
                        }
                        
                        &.dark{
                            display: inline-block;
                        }
                    }
                }
            }
            
            .top-bar-section{
                ul{
                    li{
                        display: block;
                        
                        &.space{
                            padding: 0.5rem 1rem;
                        }
                        
                        &.active{
                            & > a{
                                background-color: $topbar-dropdown-link-bg-hover;  
                            }
                            
                            &:not(.has-form){
                                a{
                                    &:not(.button){
                                        color: $jumbo;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}

@media #{$medium-up}{
    header{
        .top-bar{
            
            input,
            .button,
            button{
                height: 2.25rem;
                top: 0.75rem;
            }
            
            .button,
            button{
                padding-bottom: 0.5125rem;
                padding-top: 0.5125rem;
            }
            
            .top-bar-section{
                ul{ 
                    &.right{
                        li{
                            &.space{
                                margin-left: 4rem; 
                            }
                        }
                    }
                }
            }
            
            .title-area{
                h1{
                    img{
                        max-width: 50%;
                    }
                }
            }
        }
        
        &.transparent{
            .top-bar{
                .top-bar-section{
                    ul{
                        li{
                            & > a{
                                &:not(.button){
                                    color: $white;     
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#banner{
    background-color: $success-color;
    position: relative;
    overflow: hidden;
    padding: rem_calc(60) 0 0 0;
    
    video{
        height: auto;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 0;
        width: auto;
    }
    
    .callout{
        margin: rem_calc(25) 0;
        
        .or{
            margin: 0 1rem;
            color: #fff;
            font-size: $small-font-size;
            display: none;
        }
        
        .button{
            display: block;
        }
        
    }
    
    .icon-bar{
        .item{
            &:hover{
                @extend .invert;
                background: none;
                opacity: 0.5;
            }
        }
    }
}

@media #{$medium-up}{
    
    #banner{
        padding: rem_calc(160) 0 0 0;
        
        .callout{
            margin: rem_calc(36) 0;
            
            .button{
                min-width: 11rem;
                display: inline-block;
            }
            
            .or{
                display: inline;
            }
        }
        
        .icon-bar .item{
            width: 20%;
        }
    }
    
}

$dl-pointer-size: rem_calc(14);

#features{
    padding: 2.5rem 0;
    
    header{
        margin-bottom: 2rem;
        
        &.second{
            margin-top: 2rem;
        }
    }
    
    .icon{
        width:24px;
        margin: 0 0 20px 10px;
    }
    
    dl{
        padding: $column-gutter 0 $column-gutter $column-gutter;
        border-left: 1px solid $success-color;
        height: 100%;
        margin-bottom: 0;
        
        dd{
            display: none;
            
            .slide{
                border: 18px solid #272727;
                border-radius: 9px;
                margin-bottom: 1rem;
                margin-left: -10%;
                max-width: 128%;
                width: 128%;
            }
        }
        
        dt{
            position: relative;
            margin-top: rem-calc(40);
            
            &:first-child{
                margin-top: 0;
            }
            
            a {
                color: $iron;
            }
            
            &:before{
                display: block;
                position: absolute;
                border-radius: 1000px;
                background-color: $success-color;
                width: $dl-pointer-size;
                height: $dl-pointer-size;
                border: 3px solid #fff;
                left: - $column-gutter - $dl-pointer-size / 2;
                top: $h5-font-size / 3;
                content: " ";
            }
            
            &.active{
                
                a {
                    color: $jet;
                }
                
                & + dd{
                    display: block;
                }
            }
        }
    }
}

@media #{$medium-up}{
    
    #features{
        dl{
            padding-bottom: 0;
        }
    }
}

@media #{$large-up}{
    
    #features{
        header{
            &.second{
                margin-top: 0;
            }
        }
    }
    
}

.ipad{
    background-color: $white;
    z-index: 1;
    overflow: hidden;
}

.tablet{
    margin-left: -35%;
    position: relative;
    
    .screen{
        position: absolute; 
        width: 75%; 
        top: 6.5%; left:19.5%; 
        border-radius:3px; 
        overflow: hidden;
        height: 74%;
        
        .zoom{
            border: 0.4rem solid rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 1rem -0.4rem $jet;
            border-radius: 1000rem;
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-color: $white;
            background-size: 450% auto;
            z-index: 10;
        }
    }
    
    .screenshots-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 9999rem;
        height: 100%;
        background-color: $white;
        
        img{
            max-height: 100%;
            width: auto;
            max-width: none;
            margin: 0;
        }
    }
}

$app-border-radius: 5px;
$app-inner-padding: 0.5rem;

.app{
    border: 1px solid $gainsboro;
    border-radius: $app-border-radius;
    background-color: $white;
    
    .app-inner{
        padding: 0 $app-inner-padding;
    }
    
    .app-top-bar{
        background-color: $silver;
        border-radius: $app-border-radius $app-border-radius 0 0;
        border-bottom: 1px solid $gainsboro;
        padding: 0.5rem 1rem;
        margin-bottom: rem_calc(50);
        
        &:after{
            @extend .clearfix;
        }
    }
    
    .app-top-btn{
        display: inline-block;
        width: 0.65rem;
        height: 0.65rem;
        margin-right: 0.5rem;
        border-radius: 1000px;
        background-color: $iron;
        float: left;
        
        &.right{
            width: 2rem;
            border-radius: 5px;
            margin-right: 0;
        }
    }
    
    .app-bottom-bar{
        background-color: $silver;
        border-radius: 0 0 $app-border-radius $app-border-radius;
        border-top: 1px solid $gainsboro;
        height: 1.5rem;
        margin-top: rem_calc(60);
    }
}

@media #{$medium-up}{
    .app{
        .app-inner{
            padding: 0 2rem;
        }
    }
}

@media #{$large-up}{
    .app{
        .app-inner{
            padding: 0;
        }
    }
}

.flight-search{
    
    h4, p.lead{
        margin-bottom: rem_calc(40);
    }
    
    .error{
        input[type="text"],
        input[type="date"]{
            margin-bottom: 1rem;
        }
    }
    
    input[type="text"],
    input[type="date"]{
        
        & + small{
            margin: -0.6rem 1.5rem 0;
            display: block;
            color: $iron;
        }
    }
    
}

$benefits-margin-top: - rem_calc(90);

#benefits{
    @include cover-background("../img/graph.jpg");
    
    margin-top: $benefits-margin-top;
    padding-top: rem_calc(150);
    padding-bottom: rem_calc(80);
    
    h1,h2{
        line-height: 1.2;
    }
    
    h1,h2,h3,h4,h5,h6{
        color: $white;
    }
}

@media #{$medium-up}{
    #benefits{
        
        padding-bottom: rem_calc(150);
        
        .counter{
            margin-left: -0.5em;
        }
        
        h4{
            font-size: ($h4-font-size + $h3-font-size) / 2;
        }
    }
}

#tech{
    padding: rem_calc(80) 0;
    
    header{
        margin-bottom: rem_calc(30);
    }
}

#cases{
    @include cover-background("../img/case-0.jpg");
    
    padding: rem_calc(25) 0;
    min-height: rem_calc(300);
    
    h1,h2,h3,h4,h5,h6,p{
        color: $white;
    }
    
    h3{
        font-size: $h4-font-size - $h4-font-reduction;
    }
    
    blockquote{
        border: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    .logo{
        width: auto;
        max-height: rem_calc(20);
    }
}

@media #{$medium-up}{
    
    #cases{
        padding: rem_calc(120) 0;
        height: rem_calc(570);
        
        h3{
            font-size: $h3-font-size;
        }
    }
}

@media #{$large-up}{
    
    #cases{
        blockquote{
            &:before{
                color: rgba(0, 0, 0, 0.5);
                content: "„";
                font-size: 11rem;
                font-weight: 100;
                left: -0.35em;
                position: absolute;
                top: -0.85em;
            }
        }
    }
}

ul.socials{
    margin-left: 0;
    list-style: none;
    
    li{
        display: inline;
        
        a{
            display: inline-block;
            max-width: rem_calc(32);
        }
    }
}

footer{
    border-top: 5px solid $silver;
    padding: rem_calc(30) 0 rem_calc(180) 0;
    
    a{
        color: $body-font-color;
    }
    
    ul.socials{
        li{
            a{
                margin-right: 1rem;
            }
        }
    }
    
    .side-nav{
        margin-bottom: rem_calc(30px);
        
        li{
            a:not(.button){
                color: $body-font-color;
                
                &:hover{
                    color: $body-font-color;
                }
            }
            
            &.secondary{
                a:not(.button){
                    color: $iron;
                }
            }
            
            a{
                &.highlight{
                    color: $primary-color;
                }
            }
        }
    }
    
    &.light{
        .socials{
            opacity: 0.5;
        }
        
        a, p{
            color: lighten($body-font-color, 30%);
        }
        
        p{
            img{
                opacity: 0.7;
            }
        }
        
        .side-nav{
            li{
                a:not(.button){
                    color: lighten($body-font-color, 30%);
                    
                    &:hover{
                        color: lighten($body-font-color, 30%);
                    }
                }
                
                &.secondary{
                    a:not(.button){
                        color: lighten($iron, 5%);
                    }
                }
            }
        }
    }
}

@media #{$medium-up}{
    footer{
        .side-nav{
            margin-bottom: 0;
        }
        
        ul.socials{
            text-align: right;
            
            li{
                a{
                    margin-right: 0;
                    margin-left: 1rem;
                }
            }
        }   
    }
}

#bottom{
    margin-top: rem_calc(40);
    
    .copyright{
        font-size: $small-font-size;
        color: $iron;
    }
    
    .icon{
        max-height: 0.8 * $paragraph-font-size;
        padding: 0 rem_calc(2);
        width: auto;
    }
    
    p{
        margin-bottom: .5rem;
    }
}

.home{
    footer{
        margin-bottom: 2 * $benefits-margin-top;
    }
}

#pricing-top{
    background-color: $primary-color;
    padding: rem_calc(100) 0 rem_calc(80) 0;
}

#pricing-plans{
    @include cover-background("../img/pricing-image.jpg");
    padding-bottom: rem_calc(100);
    
    .price-plan{
        background-image: url(../img/pricing-bg.png);
        background-position: top left;
        background-repeat: repeat-x;
        background-size: contain;
        text-align: center;
        
        .price-plan-head,
        .price-plan-tail{
            padding: rem_calc(30) rem_calc(30);
        }
        
        .price-plan-head{
            border-bottom: 5px dotted $primary-color;
            position: relative;
            
            img{
                max-width: 40%;
            }
            
            p{
                margin-bottom: 0;
            }
            
            figure{
                background-image: url("../img/popular.png");
                background-position: right top;
                background-repeat: no-repeat;
                background-size: contain;
                height: 100%;
                position: absolute;
                right: -5px;
                text-indent: -5000rem;
                top: -5px;
                width: 30%;
            }
        }
        
        h2,h3{
            margin-bottom: 0;
            line-height: 1;
        }
        
        small{
            font-weight: $font-weight-lighter;
            color: $jumbo;
            display: block;
        }
        
        h2{
            color: $jet;
        }
        
        ul{
            text-align: left;
            list-style: none;
            margin: 3rem 1rem;
            
            li{
                padding: 0.75rem 0;
                color: $jumbo;
                
                &.active{
                    color: $jet;
                }
            }
            
            i.check,
            i.xx{
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                float: right;
                height: 0.6rem;
                padding-top: 0.9rem;
                vertical-align: bottom;
                width: 0.6rem;
            }
            
            i.check{
                background-image: url(../img/check.png);
            }
            
            i.xx{
                background-image: url(../img/xx.png);
            }
        }
    }
    
    hgroup{
        margin-top: rem_calc(40);
        margin-bottom: 3rem;
        
        h2{
            color: $primary-color;
            margin-bottom: 1.5rem;
        }
        
        h4{
            color: $jet;
        }
    }
}

$price-plan-head-height: rem_calc(250);

@media #{$medium-up}{
    
    #pricing-top{
        padding: rem_calc(130) 0 $price-plan-head-height + rem_calc(80) 0;
    }
    
    #pricing-plans{
        .price-plan{
            margin-top: - $price-plan-head-height; 
            
            .price-plan-head{
                height: $price-plan-head-height;
            }
        }
    }
    
    .pricing{
        footer{
            margin-bottom: -3 * $price-plan-head-height;
        }
    }
}

#about-banner{
    @include cover-background("../img/about-bg.jpg");
    
    padding: rem_calc(100) 0 rem_calc(90) 0;
    
    .banner-content-wrapper{
        height: 100%;
        position: relative;
    }
    
    article{
        &.bio{
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
    
    h3, p, a{
        color: $white;
    }

    a{
        text-decoration: underline;
    }
    
}

@media #{$large-up}{
    
    #about-banner{
        padding: rem_calc(175) 0 rem_calc(190) 0;
    }
    
}

$founder-default-top-margin: rem_calc(60);

#about-founders{
    
    padding-bottom: rem_calc(40);
    margin-top: -$founder-default-top-margin;
    
    .person{
        text-align: center;
        
        figure{
            background-color: $white;
            border-radius: 1000rem;
            
            .ffp{
                display: none;
                border-radius: 1000rem;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 1rem;
                border: rem_calc(5) solid $white;
                background-color: $success-color;
                color: $white;
                font-weight: $font-weight-bold;
                font-size: $paragraph-font-size;
            }
        }
        
        h6{
            margin: 0.5rem 0 0;
            
            img{
                vertical-align: baseline;
                max-width: 1rem;
            }
        }
        
        small{
            display:block;
            margin-bottom:0.5rem;
        }
    }
    
}

$founder-max-width: rem_calc(152);

@media #{$medium-up}{
    
    #about-founders{
        margin-top: -$founder-max-width / 2;
        padding-bottom: rem_calc(80);
        
        .person{
            max-width: $founder-max-width;
            margin: 0 auto;
            
            figure{
                .ffp{
                    padding: 1.5rem;
                }
            }
        }
    }
    
}

#about-map{
    @include cover-background("../img/map-bg.jpg");
    
    padding: rem_calc(200) 0 rem_calc(40) 0;
    
    h3{
        color: $white;
    }
} 

@media #{$small-only}{
    #about-map{
        
        background-size: 250% auto;
        
        h3{
            font-size: $h4-font-size - $h4-font-reduction;
        }   
    }
}

@media #{$medium-up}{
    
    #about-map{
        padding: rem_calc(490) 0 rem_calc(130) 0;
    }
    
}

#about-team{
    padding: rem_calc(45) 0 0 0;
    
    h6{
        color: $iron;
    }
    
    .scroller-wrapper{
        margin: rem_calc(50) 0;
        
        article{
            
            h6{
                color: $jet;
            }
            
            img{
                max-width: rem_calc(152);
            }
            
            figure{
                text-align: center;
                padding-bottom: rem_calc(30);
            }
        }
    }
}

@media #{$medium-up}{
    #about-team{
        figure{
            padding: 0 rem_calc(42) rem_calc(16) rem_calc(16);
        }
        
        article{
            p{
                font-size: $small-font-size;
            }
        }
    }
}

$scroller-nav-size: 1rem;
$scroller-nav-offset: 1.25rem;

.scroller-wrapper{
    position: relative;
    overflow: hidden;
    
    .scroller{
        position: absolute;
        top: 0;
        left: 0;
        width: 9999rem;
        z-index: 20;
        
        &:after{
            display: table;
            clear: both;
        }
         
        article{
            float: left;
            display: inline-block;
            padding: 0 rem_calc(30);
        }
    }
    
    .vr{
        background-position: center -70px;
        background-image: url(../img/vr.png);
        background-repeat: no-repeat;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        transform: none;
        z-index: 10;
    }
    
    .blending{
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 30;
        
        &.blend-left{
            left: 0;
            
            background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
            background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );

        }
        
        &.blend-right{
            right: 0;
            
            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

        }
    }
    
    .prev.nav,
    .next.nav{
        content: " ";
        position: absolute;
        top: 35%;
        display: block;
        width: 0;
        height: 0;
        z-index: 40;
        
        &:before{
            content: " ";
            position: absolute;
            top: -$scroller-nav-size;
            display: block;
            width: 0;
            height: 0;
        }
    }
    
    .prev.nav{
        left: $scroller-nav-offset;
        border-top: $scroller-nav-size solid transparent;
        border-bottom: $scroller-nav-size solid transparent; 
        border-right: $scroller-nav-size solid $iron;
        
        &:before{
            left: rem_calc(2);
            border-top: $scroller-nav-size solid transparent;
            border-bottom: $scroller-nav-size solid transparent; 
            border-right: $scroller-nav-size solid $white;
        }
    }
     
    .next.nav{
        right: $scroller-nav-offset;
        border-top: $scroller-nav-size solid transparent;
        border-bottom: $scroller-nav-size solid transparent; 
        border-left: $scroller-nav-size solid $iron;
        
        &:before{
            left: -($scroller-nav-size + rem_calc(2));
            border-top: $scroller-nav-size solid transparent;
            border-bottom: $scroller-nav-size solid transparent; 
            border-left: $scroller-nav-size solid $white;
        }
    }
}

#about-advisors{
    
    padding: 0 0 rem_calc(25) 0;
    
    & > h6{
        color: $iron;
        margin-bottom: rem_calc(40);
    }
    
    .person{
        margin-bottom: rem_calc(25);
        
        figure{
            text-align: center;
            margin-bottom: rem_calc(30);
        }
        
        img{
            max-width: rem_calc(152);
        }
    }
    
}

@media #{$medium-up}{
    
    #about-advisors{
        padding: 0 0 rem_calc(120) 0;
    }
    
}

#about-apply{
    @include cover-background("../img/work-bg.jpg");
    
    padding: rem_calc(55) 0 rem_calc(70) 0;
    
    h3, p, .button{
        color: $white;
    }
    
    .button{
        margin-bottom: 0;
    }
    
    p{
        margin-bottom: 2.5rem;
    }
}

@media #{$medium-up}{
    
    #about-apply{
        padding: rem_calc(110) 0 rem_calc(140) 0;
    }
    
    .about{
        footer{
            margin-bottom: -3 * $founder-max-width;
        }   
    }
}

section.default{
    border-top: 5px solid $silver;
    padding: rem_calc(25) 0 rem_calc(60) 0;
    background: url("../img/default-bg.png") repeat-x scroll 0 0 / auto 100% rgba(0, 0, 0, 0);
    
    .side-nav{
        margin-top: 0;  
        padding-top: 0;
        
        li{
            margin-bottom: 1rem;
            
            &.divider{
                background: url(../img/hr-dark.png) top right no-repeat;
                border: none;
                height: 2px;
            }
            
            &.active{
                a{
                    color: $jet !important;
                    font-weight: $font-weight-bold !important;
                }
            }
            
            a{
                color: $jet;
                
                &:hover{
                    color: $jet;
                    background: none;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

@media #{$medium-up}{
    section.default{
        padding: rem_calc(50) 0 rem_calc(120) 0;
    }
}

@media #{$small-only}{
    section.default{
        .side-nav{
            border-bottom: 1px solid $gainsboro;
            margin-bottom: 1rem;
            
            li{
                display: inline;
                white-space: nowrap;
                
                a{
                    display: inline;
                    padding: 0 1rem 0 0;
                }
            }
        }
    }
}

.accordion{
    margin-left: 1.5rem;
    
    li.accordion-navigation{
        
        .content{
            
            &.active{
                background: rgb(235,235,235);
                background: -moz-radial-gradient(center top, ellipse cover,  rgba(235,235,235,1) 0%, rgba(253,253,253,1) 100%);
                background: -webkit-gradient(radial, center top, 0px, center top, 100%, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(253,253,253,1)));
                background: -webkit-radial-gradient(center top, ellipse cover,  rgba(235,235,235,1) 0%,rgba(253,253,253,1) 100%);
                background: -o-radial-gradient(center top, ellipse cover,  rgba(235,235,235,1) 0%,rgba(253,253,253,1) 100%);
                background: -ms-radial-gradient(center top, ellipse cover,  rgba(235,235,235,1) 0%,rgba(253,253,253,1) 100%);
                background: radial-gradient(ellipse at center top,  rgba(235,235,235,1) 0%,rgba(253,253,253,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#fdfdfd',GradientType=1 );   
            }
        }
        
        & > a{
            position: relative;
            background: url(../img/hr-dark.png) bottom center no-repeat;
            
            &:hover{
                background: url(../img/hr-dark.png) bottom center no-repeat;
            }
            
            &:before{
                content: "+";
                font-size: 2rem;
                left: -1.5rem;
                position: absolute;
                top: 1rem;
                color: $primary-color;
            }
        }
        
        &.active{
            & > a{
                background: url(../img/hr-dark.png) bottom center no-repeat;
                
                &:before{
                    content: '-';
                }
            }
        }
    }
    
    &.code{
        li{
            &.accordion-navigation{
                & > a{
                    background: none;
                    padding: 1rem 0;
                    
                    &:before{
                        top: 0.25rem;  
                    }
                }
                
                .content{
                    &.active{
                        background: none;
                    }
                }
                
                & > .content{
                    padding: 0;
                }
            }
        }
        
        dd > .content{
            padding: 0;
        }
    }
}

#faq{
    .accordion{
        margin-bottom: rem_calc(95);
    }
    
    h3{
        font-weight: $font-weight-normal;
        margin-bottom: rem_calc(35);
    }
}

#login{
    padding: rem_calc(60) 0 rem_calc(150) 0;
    
    header{
        margin-bottom: 2.5rem;
        
        .logo{
            display: block;
            margin-bottom: 1.5rem;
            
            img{
                max-width: rem_calc(45);
                opacity: 0.33;
            }
            
            &:hover{
                img{
                    opacity: 0.5;
                }
            }
        }
    }
    
    .linkedin{
        position: relative;
        padding-left: 3.25rem;
        
        span{
            font-weight: $font-weight-lighter;
        }
        
        figure{
            background-color: rgba(0, 0, 0, 0.25);
            display: inline-block;
            height: 100%;
            left: 0;
            line-height: inherit;
            padding: 0 0.75rem 0 1.2rem;
            position: absolute;
            top: 0;
            width: 3.5rem;
            border-radius: $global-rounded 0 0 $global-rounded;
            line-height: 4.5;
            
            img{
                vertical-align: middle;
            }
        }
    }
    
    .or{
        background: url("../img/hr.png") no-repeat scroll center center / contain  rgba(0, 0, 0, 0);
        padding: 1rem 0;
        
        span{
            padding: 0.5rem;
            background-color: $white;
        }
    }
    
    .error{
        input{
            margin-bottom: 1rem;
        }
    }
    
    .submit{
        margin-top: 2.5rem;
    }
    
    small{
        
        &:not(.error){
            display: block;
            font-weight: $font-weight-lighter;    
        }
        
        &.hint{
            margin-top: 0.75rem;
        }
    }
    
    div.error + div{
        small.error{
            display: block;
            font-style: normal;
            color: $aluminum;
            background-color: transparent;
            padding: 0;
            margin-top: 0.75rem;
        }
    }
}

article.text{
    
    p{
        margin-bottom: 1.75rem;
        
        &.lead{
            margin-bottom: 3rem;
        }
    }
    
    h1,h2,h3,h4,h5,h6{
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
} 
 
#press-top{
    background-color: $success-color;
    padding: rem_calc(80) 0 rem_calc(35) 0;
    
    h3{
        margin-bottom: 1rem;
    }
    
    h6{
        margin-bottom: 1rem;
    }
}

#press-media{
    padding: rem_calc(28) 0;
}

#press-media,
#press-founders,
#press-download{
    
    h5{
        &.top{
            margin-bottom: 1.5rem;    
        }
    }
    
    figure{
        margin-bottom: 1.5rem;
    }
    
    hr{
        @extend .hr;
        margin: 0 auto;
    }
    
    .clearing-assembled{
        
        &:not(.clearing-blackout){
            
            ul{
                &.clearing-thumbs{
                    & > li{
                        float: none;
                        margin: 0 0 1.5rem 0;
                    }
                }
            }
            
            a{
                &:hover{
                    img{
                        opacity: 0.8;
                    }
                }
                
                &.zoom{
                    position: relative;
                    display: block;
                    
                    &:after{
                        position: absolute;
                        display: block;
                        bottom: rem_calc(21);
                        right: rem_calc(19);
                        width: 25px;
                        height: 25px;
                        background: url(../img/zoom.png) 0 0 no-repeat;
                        content: " ";
                    }
                }
            }
        }
    }
}

#press-media{
    h6{
        color: $header-font-color;
        margin-bottom: 1rem;
    }
    
    p{
        &.excerpt{
            margin-bottom: 0.5rem;
        }
    }
}

p{
    &.excerpt{
        overflow: hidden;
        height: 8em;
        position: relative;
        
        &:after{
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

        }   
    }
}

#press-founders{
    padding: rem_calc(18) 0 rem_calc(36) 0;
    
    hr{
        margin-top: rem_calc(50);
    }
    
    h5{
        & + h5{
            margin-top: -0.75rem;
        }
    }
}

#press-download{
    padding: rem_calc(30) 0 rem_calc(80) 0;
}

#press-contact{
    background-color: $success-color;
    padding: rem_calc(64) 0 rem_calc(65) 0;
    
    h4{
        margin-bottom: rem_calc(30);
    }
    
    .button{
        &:hover{
            background-color: $white;
            border-color: $white;
            color: $success-color;
        }
    }
}

@media #{$medium-up}{
    
    #press-top{
        padding: rem_calc(130) 0 rem_calc(80) 0;
        
        h3{
            margin-bottom: rem_calc(36);
            line-height: 1.3;
        }
        
        h6{
            margin-bottom: 1rem;
        }
    }
    
    #press-media,
    #press-founders,
    #press-download{
        hr{
            width: 75%;
        }
    }
    
    #press-download{
        p{
            overflow: hidden;
            height: 4rem;
        }
    }
}

@media #{$small-only}{
    
    #press-top{
        h3{
            font-size: $h4-font-size;
        }    
    }
    
}

.blog{
    section{
        &.default{
            padding-top: rem_calc(32);
        }
    }
}

#blog-top{
    padding-bottom: rem_calc(32);
    
    button,
    .button{
        border-color: $iron;
        background-color: $snow;
        
        &.back{
            
        }
        
        &.dropdown{
            &:before{
                border-color: $snow transparent transparent;
            }
            
            &:after{
                border-color: $iron transparent transparent;
            }
            
            .value{
                border-color: $iron;
            }
        }
        
        &:hover,
        &:active,
        &:focus{
            border-color: $jet;
        }
    }
    
    input{
        border-color: $iron;
        margin-bottom: 0;
        height: 2.9rem;
        font-size: $input-font-size;
        background-color: $snow;
        
        &:hover,
        &:focus{
            background-color: $white;
            border-color: $jet;
        }
        
        &[data-invalid]{
            border-color: $alert-color;
        }
        
        &[name="search"]{
            @include input-with-icon(15px, 25px);
            background-image: url(../img/zoom-icon.png);
            background-size: auto 35%;
        }
    }
}

@media #{$medium-up}{
    #blog-top{
        button,
        .button{
            margin-bottom: 0;
        }
    }
}

#blog{
    
    hr{
        @extend .hr;
        margin: rem_calc(50) auto;
    }
    
    article{
        
        &.text{
            margin: rem_calc(40) 0;
        }
        
        p{
            
            &.date{
                margin-top: 1.25rem;
            }
        }
        
        &.full{
            figure{
                figcaption{
                    margin: 0;
                    padding: 0.5rem 0;
                    font-style: $paragraph-aside-font-style;
                }
            }
        }
        
        &.excerpt{
            
            h3{
                margin-bottom: rem_calc(50);
            }
            
            figure{
                position: relative;
                
                figcaption{
                    margin: 1.25rem 0 0 0;
                    
                    p{
                        height: 7rem;
                        overflow: hidden;
                    }
                }
            }   
        }
        
        figure{
            &.hiring{
                figcaption{
                    p{
                        height: auto;
                    }   
                }
            }
        }
    }
}

@media #{$small-only}{
    #blog{
        article{
            .button{
                &.white{
                    background-color: $primary-color;
                    color: $white;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media #{$medium-up}{
    
    #blog{
        
        hr{
            width: 75%;
        }
        
        article{
            
            p{
                &.lead{
                    font-size: $h4-font-size;
                    line-height: 2;
                    margin-bottom: 2.5rem;
                }
            }
            
            &.excerpt{
                figure{
                    figcaption{
                        margin: 0; 
                        display: block;
                        position: absolute;
                        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.56);
                        height: 100%;
                        padding: 40px;
                        right: 0;
                        top: 0;
                        width: 50%;
                        
                        h4{
                            color: $silver;
                        }
                        
                        p{
                            color: $silver;
                        }
                    }
                }
            }
        }
    }
}

@media #{$large-up}{
    
    #blog{
        article{
            &.excerpt{
                figure{
                    figcaption{
                        height: calc(100% - 100px);
                        padding: 40px;
                        right: 50px;
                        top: 50px;
                        width: calc(50% - 50px);
                    }
                }
            }
        }
    }
    
}

p{
    &.date{
        color: $jumbo;
        margin-bottom: 0;
    }
}

#ca-top-nav{
    background-color: $success-color;
    border-top: 4px solid darken($success-color, 4%);
    padding: 0.75rem 0;
    margin-bottom: 2rem;
    
    .icon-bar{
        background-image: none;
        
        label{
            font-weight: $font-weight-lighter;
            line-height: 1.3;
            height: 2rem;
            color: $black;
        }
        
        .item{
            padding: 0.5rem;
            
            img:not(.black){
                display: none;
            }
            
            img,label{
                opacity: 0.2;
            }
            
            &.active,
            &:hover{
                background: none;
                
                img,
                label{
                    opacity: 1;
                }
                
                label{
                    color: $white;
                }
                
                img{
                    display: inline-block;
                    
                    &.black{
                        display: none;
                    }
                }
            }
        }
    }
}

@media #{$medium-up}{
    
    #ca-top-nav{
        .icon-bar{
            .item{
                width: 16.66%;
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                padding: 1rem 2rem;
               
                &:first-child{
                    border-left: none;
                }
            }
        } 
    }
    
}

.stats-block{
    font-size: $paragraph-font-size;
    
    h6{
        font-size: $paragraph-font-size;
    }
    
    h3{
        margin: 0;
        line-height: 1;
        color: $header-font-color;
        
        &.success{
            color: $green;
        }
        
        &.alert{
            color: $alert-color;
        }
    }
}

#dashboard{
    margin-top: rem_calc(50);
    padding: rem_calc(30) 0 rem_calc(50) 0;
    background: url(../img/default-bg.png) top left repeat-x;
    
    .loader{
        background: url(../img/dashboard-ajax-loader.gif) center center no-repeat;
        height: 1.75rem;
        display: inline-block;
        min-width: 36px;
        visibility: hidden;
        
        &.active{
            visibility: visible;
        }
    }
    
    .button{
        &.secondary{
            border-color: $iron;
            color: $jet;
            background-color: $snow;
        }
        
        &.dropdown{
            .value{
                border-color: $iron;
                padding-right: 0.75rem;
            }
            
            &:before{
                border-color: $snow transparent transparent;
            }
            
            &:after{
                border-color: $iron transparent transparent;
            }
        }
    }
    
    .stats-block-wrapper{
        background: url(../img/vr.png) 0 -100px no-repeat;
        
        &:first-child{
            background: none;
        }
    }
    
    .stats-block{
        padding: rem-calc(18) rem_calc(12);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    
    .stats{
        margin-bottom: rem_calc(25);   
    }
}

@media #{$medium-up}{
    
    #dashboard{
        
        form{
            margin-bottom: rem_calc(35);
            
            .dropdown{
                min-width: 11rem;
            }
        }
        
        .stats{
            margin-bottom: rem_calc(90);   
        }
        
        .stats-block{
            padding: rem-calc(25) 0 rem_calc(25) rem_calc(42);
            
            &.searches{
                background-image: url(../img/icon-large-zoom.png);
            }
            
            &.revenue{
                background-image: url(../img/icon-large-money.png);
            }
            
            &.conversion{
                background-image: url(../img/icon-large-row-graph.png);
            }
            
        }
    }
    
}

ul.ui-autocomplete{
    box-shadow: 1px 1px 6px -4px $oil;
    background-color: $white-smoke;
    
    li.ui-menu-item{
        border-bottom: 1px solid $gainsboro;
        font-size: $paragraph-font-size;
        font-weight: $font-weight-lighter;
        padding: 0.2rem 0.5rem;
        
        &.ui-state-focus, 
        &:hover{
            background-color: $smoke;
            padding: 0.2rem 0.5rem;
            margin: 0;
            font-size: $paragraph-font-size;
            text-indent: 0;
            border-left: 0;
            border-right: 0;
            position: static;
        }
    }
}

#api,
#invoices{
    padding-top: 0;
    background: none;
    border-top: none;
    
    .highlight{
        color: $primary-color;
    }
    
    .callout{
        padding: 2rem;
    }
    
    .downloads{
        margin-bottom: 2rem;
        
        h5{
            &.subheader{
                color: $primary-color;
                margin-bottom: 0;
            }
        }
        
        hr{
            @extend .hr;
            margin: 2rem 0;
        }
    }
}

#api{
    .downloads{
        small{
            display: block;
            margin-bottom: 1.25rem;
        }   
    }
}

#invoices{
    form{
        margin-bottom: rem_calc(50);
        
        button[dropdown-toggle]{
            @include input-with-icon(16px, 24px);
            background-image: url(../img/icon-calendar.png);
            background-size: auto 40%;
        }
    }
    
    .pagination-centered{
        margin-top: rem_calc(70);
    }
    
    .downloads{
        &.loading{
            opacity: 0.5;
        }
        
        .iv-no{
            font-weight: $font-weight-lighter;
            font-size: $smaller-font-size;
            margin-bottom: 1rem;
        }
    }
}

#contact{
    padding: rem_calc(25) 0 rem_calc(50) 0;
    
    h3{
        margin-bottom: rem_calc(60);
    }
    
    .icons{
        margin-bottom: rem_calc(80);
        
        figure{
            margin-bottom: 1.5rem;
            text-align: center;
        }
        
        small{
            display: block;
            color: $iron;
            margin-bottom: 1.25rem;
        }
        
        h4{
            color: $jet;
        }
    }
    
    form{
        textarea{
            height: rem_calc(200);
        }
        
        button{
            margin-top: 1.25rem;
        }
    }
}

form{
    small{
        &.error{
            margin-left: 1.65rem;
            margin-right: 1.65rem;
            border-radius: 0 0 1rem 1rem;
        }
    }
}

.contact{
    
    #about-founders{
        margin-top: 0;
        
        h4{
            margin-bottom: rem_calc(50);
            color: $jet;
        }
    }
    
}

@media #{$medium-up}{
    
    #contact{
        
        .icons{
            background: url(../img/vr.png) 50% 0 no-repeat;
            
            figure{
                img{
                    max-width: rem_calc(115);
                }
            }
        }
        
        &.public{ 
            .icons{
                background-image: none;
            }
        }
    }
    
}

#stats{
    
    &.loading{
        .stats-block{
            h6{
                padding-left: rem_calc(22);
                background: url(../img/ajax-loader.gif) left center no-repeat;
            }
            
            h3{
                opacity: 0.5;
            }
        }
        
        .stats-graph{
            opacity: 0.5;
        }
    }
    
    .hr{
        margin-bottom: 2.5rem;
    }
    
    .stats-graph{
        margin-bottom: 2.5rem;
    }
    
    .stats-chart{
        height: 340px;
    }
    
    .stats-block{
        padding: 0.5rem 0 0.75rem 1rem;
        border-left: 4px solid $white;
        
        &.revenue{
            border-color: $yellow;
        }
        
        &.searches{
            border-color: $green;
        }
    }
    
    nav{
        margin-bottom: 3rem;
        
        li{
            font-size: $h5-font-size;
            font-weight: $font-weight-bold;
            
            a{
                color: $iron;
            }
            
            &.active{
                a{
                    color: $body-font-color;
                }
            }
        }
    }
}

#period-picker{
    width: 550px;
    max-width: 550px;
    border: none;
    box-shadow:1px 1px 5px -2px $jet;
    border-radius: rem_calc(10);
    padding: 1rem;
    
    table{
        margin-bottom: 0;
        width: 100%;
        border-collapse: collapse;
        border: none;
        
        tbody,
        thead,
        tfoot{
            td,
            th{
                text-align: center;
            }
        }
    }
}

[date-picker-wrapper]{

    width: 150%;
  
    .dropdown-menu{
        position: absolute;
        z-index: 30;
        background: $white;
        border-radius: rem_calc(5);
        box-shadow: 1px 1px 3px -2px $jet;
        padding: 3px;
    }
}

[date-range]{
    [date-picker]{
        .after.before{
            background-color: $aluminum !important;
            background-image: none; 
            border-color: transparent;
        }
    }
}


[date-picker]{
    padding: 0;
    
    table{
        border: none;
        border-collapse: collapse;
        
        tr, td{
            font-size: 0.75rem;
        }
        
        td, th{
            border-radius: 0;
            height: auto;
            width: auto;
        }
    }
    
    div[ng-switch-when="year"],
    div[ng-switch-when="month"],
    div[ng-switch-when="minutes"]{
        span{
            height: 2.5rem;
            line-height: 2.5rem;
        }
    }
    
    div[ng-switch-when="date"]{
        td{
            span{
                &.now{
                    background-color: $success-color;
                    
                    &:hover{
                        background-color: $success-color;
                    }
                }
                
                &.active{
                    
                    background-color: $green;
                    
                    &:hover{
                        background-color: $green;
                    }
                }
            }
        }
    }
    
    span{
        border-radius: 2px;
    }
    
    .active,
    .now{
        
        background-image: none;
        border: none;
        
        &:hover,
        &[disabled],
        &:active,
        &.active,
        &.disabled,
        &[disabled]{
           background-color: $green;
           color: $white;
        }
    }
    
    .now{
        background-color: $success-color;
    }
    
    .active{
        background-color: $green;
    }
}

@media #{$small-only}{
    #stats{
        #period-picker{
            width: 250px;
            max-width: 250px;
            
            table{
                td[valign="top"]{
                    display: block;
                }
            }
        }
    }
}

[kk-alerts]{
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 90;
}

[kk-alerts] .alert-box{
  border: none;
  margin-bottom: 0;
  box-shadow: 0 1px 2px $jet;
}

#calc{
    
    .fare-codes-dropdown,
    #program-dropdown,
    #currency-dropdown{
        padding: 0.5rem 1rem;
        
        a{
            padding: 0;
        }
        
        li{ 
            padding: 0.25rem 0.5rem;
            font-size: $small-font-size;
        }
    }
    
    ul.f-dropdown{
        max-width: 90%;
    }
    
    .dropdown-menu{
        padding: 1rem;
        border-radius: rem_calc(15);
    }
    
    hr.hr{
        background-size: auto;
        margin-bottom: 2.5rem;
    }
    
    .gradient-shadow{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .hint-wrapper{
        position: relative;
        
        .hint-icon{
            border-radius: 1000px;
            display: block;
            height: 1.2rem;
            line-height: 1;
            position: absolute;
            right: 1.25rem;
            top: 0.65rem;
            width: 1.2rem;
            
            &:hover{
                background-color: $base;
                border: 1px solid $gainsboro;
            }
        }
        
        input{
            padding-right: 2.25rem;
        }
    }
    
    form{
        
        .prefix{
            font-size: $smaller-font-size;
        }
        
        input,
        button.dropdown{
            border-width: 2px;
            border-color: $secondary-color;
            font-size: $smaller-font-size;
            
            &:required,
            &.required{
                font-size: 1rem;
            }
            
            &.tiny{
                font-weight: $font-weight-bold;
            }
            
            &:hover,
            &:focus,
            &:active{
                border-color: $jet !important;
                color: $jet !important;
                
                .value{
                    border-color: $charcoal;
                }
                
                &:after{
                    border-color: $charcoal transparent transparent;
                }
            }
            
            &.error{
                border-color: $alert-color;
                color: $alert-color;
                margin-bottom: 1rem;
            }
        }
        
        button.dropdown{
            color: $iron;
            margin-bottom: 1rem;
            
            &.required{
                color: $jumbo;
            }
        }
        
        input{
            text-align: center;
            
            &:focus,
            &.ng-dirty{
                text-align: left;
            }
            
            &:required{
                
                color: $black;
                
                &:focus{
                    color: $input-font-color;
                }
            }
        }
        
        small{
            &.error{
                margin-top: -1rem;
            }
        }
        
        p{
            &.add-flight{
                @extend .hr;
                height: auto;
                background-position: center center;
                margin-bottom: rem_calc(50);
            }
            
            &.add-flight,
            &.remove-flight{
                font-size: 1rem;
                font-weight: $font-weight-bold;
                line-height: 1.75;
                
                a{
                    display:inline-block;
                    background-color: $white;
                    padding: 0 0.5rem;
                    color: $jet;
                    
                    span{
                        color: $aluminum;
                        font-size: 1.5rem;
                        vertical-align: middle;
                        margin-right: 0.25rem;
                    }
                }
            }
            
            &.detail{
                line-height: 1.75;
                font-size: $smaller-font-size;
                margin: 0 0 0.75rem 0;
                
                a{
                    color: $aluminum;
                    
                    span{
                        color: $primary-color;
                        font-weight: $font-weight-bold;
                        margin-right: 0.25rem;
                        font-size: 1.5rem;
                        vertical-align: middle;
                        
                        &.minus{
                            display: none;
                        }
                    }
                }
                
                &.active{
                    a{
                        span{
                            color: $aluminum;
                            &.minus{
                                display: inline;
                            }
                            
                            &.plus{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
 
@media #{$small-only}{
    .fare-codes-dropdown,
    #program-dropdown,
    #currency-dropdown{
        width: 70% !important;    
    }
}
 
@media #{$medium-up}{
    #calc{
        .fare-codes-dropdown,
        #program-dropdown,
        #currency-dropdown{
            width: 350px;
            max-width: 100%;
        }
        
        ul.f-dropdown{
            width: 400px;
            max-width: 400px;
        }
        
        form{
            input[name="depAirport"]{
                @include input-with-icon(25px, 35px);
                background-image: url(../img/icon-place.png);
                    
                &:focus{
                    @include input-with-icon(25px, 35px);
                    background-image: url(../img/icon-place.png);
                }
                
                &.loading{
                    background-image: url(../img/dashboard-ajax-loader.gif);
                    background-size: auto 33%;
                }
            }
            
            input[name="arrAirport"]{
                @include input-with-icon(25px, 35px);
                background-image: url(../img/icon-place.png);
                    
                &:focus{
                    @include input-with-icon(25px, 35px);
                    background-image: url(../img/icon-place.png);
                }
                
                &.loading{
                    @include input-with-icon(25px, 35px);
                    background-image: url(../img/dashboard-ajax-loader.gif);
                    background-size: auto 33%;
                }
            }
            
            input[name="ddate"],
            input[name="pdate"]{
                
                @include input-with-icon(20px, 40px);
                background-image: url(../img/icon-calendar.png);
                background-size: auto 33%;
                
                &:focus{
                    @include input-with-icon(20px, 40px);
                    background-image: url(../img/icon-calendar.png);
                    background-size: auto 33%;
                }
            }
        }
    }
}

#calc-result{
    margin-bottom: rem_calc(50);
    
    h4{
        margin-bottom: rem_calc(40);
    }
    
    table{
        position: relative;
        
        thead{
            
            .nav{
                display: none;
            }
            
            .prev.nav,
            .next.nav{
                content: " ";
                position: absolute;
                top: 2rem;
                width: 0;
                height: 0;
                z-index: 40;
                
                &:before{
                    content: " ";
                    position: absolute;
                    top: -$scroller-nav-size;
                    display: block;
                    width: 0;
                    height: 0;
                }
            }
            
            .prev.nav{
                left: 4rem;
                left: 24%;
                border-top: $scroller-nav-size solid transparent;
                border-bottom: $scroller-nav-size solid transparent; 
                border-right: $scroller-nav-size solid $iron;
                
                &:before{
                    left: rem_calc(2);
                    border-top: $scroller-nav-size solid transparent;
                    border-bottom: $scroller-nav-size solid transparent; 
                    border-right: $scroller-nav-size solid $white;
                }
            }
             
            .next.nav{
                right: -2rem;
                right: -12%;
                border-top: $scroller-nav-size solid transparent;
                border-bottom: $scroller-nav-size solid transparent; 
                border-left: $scroller-nav-size solid $iron;
                
                &:before{
                    left: -($scroller-nav-size + rem_calc(2));
                    border-top: $scroller-nav-size solid transparent;
                    border-bottom: $scroller-nav-size solid transparent; 
                    border-left: $scroller-nav-size solid $white;
                }
            }
            
            th,td{
                padding: rem_calc(25) rem_calc(15);
                font-weight: $font-weight-lighter;
            }
            
            th{
                width: 19.5%;
            }
            
            td{
                width: 22%;
            }
        }
        
        tfoot,
        tbody{
            td, th{
                text-align: center;
                font-size: $smaller-font-size;
                padding-top: 1rem;
                padding-bottom: 1rem;
                
                div{
                    white-space: nowrap;
                }
            }
            
            td{
                line-height: 2;
            }
        }
        
        tbody{
            
            a{
                &.nav{
                    display: inline-block;
                    text-align: center;
                    width: rem_calc(30);
                    height: rem_calc(30);
                    line-height: rem_calc(27);
                    font-size: 1.25rem;
                    font-weight: $font-weight-bold;
                    color: $jet;
                    border: 2px solid $jet;
                    border-radius: 1000px;   
                    
                    &.disabled{
                        color: $iron;
                        border-color: $iron;
                    }
                }
            }
            
            tr{
                &:first-child{
                    td,th{
                        border-top: 1px solid $gainsboro;
                    }
                }
                
                &:last-child{
                    td,th{
                        border-bottom: 4px solid $gainsboro; 
                    } 
                }
            }
            
            th{
                text-align: left;
                
                strong{
                    font-size: 1rem;
                }
            }
            
            td, th{
                font-weight: $font-weight-lighter;
                vertical-align: top;
            }
        }
        
        tfoot{
            background-color: transparent;
            
            td, th{
                font-weight: $font-weight-bold;
                vertical-align: top;
            }
            
            th{
                text-align: left;
                
                div{
                    font-weight: $font-weight-lighter;
                }
                
                strong{
                    font-size: 1rem;
                }
            }
        }
    }
}

@media #{$small-only}{
    
    #calc-result{
        table{
            border-collapse: collapse;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            
            .status{
                border-right: 1px solid $gainsboro; 
            }
            
            .accrual{
                display: none;
                
                &.selected{
                    display: table-cell;
                    
                    &.shadow{
                        box-shadow: inset -10px 0 18px -16px $jet;
                    }
                }
            }
            
            thead{
                td{
                    width: 30%;
                }
                
                th{
                    font-size: $smaller-font-size;
                    
                    &.status,
                    &.accrual{
                        width: 35%;
                    }
                }
                
                a{
                    &.nav{
                        display: block;
                    }   
                }
            }
            
            tbody{
                th{
                    strong{
                        font-size: $smaller-font-size;
                    }
                    
                    a{
                        margin-top: 0.5rem;
                    }
                }
                 
            }
            
            tfoot{
                th{
                    strong{
                        font-size: $smaller-font-size;
                    }
                }
            }
        }
    }
    
}

#profile{
    margin-bottom: rem_calc(80);
    
    .error{
        button{
            border-color: $alert-color !important;
        }
    }
    
    #country-btn{
        & + small{
            &.error{
                margin-top: -1.25rem;
            }
        }
    }
    
    .separator{
        margin-bottom: rem_calc(40);
    }
    
    h6{
        font-size: $smaller-font-size;
        padding-left: 1.5rem;
    }
    
    input{
        text-align: center;
        
        &.small{
            font-size: $smaller-font-size;
        }
    }
    
    button{
        &.dropdown{
            font-size: $smaller-font-size;
            font-weight: $font-weight-bold;
            border-color: $gainsboro;
            padding-left: 2.8125rem;
        }
    }
}

@media #{$medium-up}{
    
    #profile{
        .separator{
            background: url(../img/vr.png) 66.667% rem_calc(33) no-repeat;
        }
    }
    
}


#ffp{
    .dropdown.secondary{
        background-color: $white;
        margin-bottom: 2.5rem;
    }
}