@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-Regular/ProximaNova-Regular.otf')  format('opentype'),
	     url('fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), url('fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-Bold/ProximaNova-Bold.otf')  format('opentype'),
	     url('fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), url('fonts/ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype'), url('fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-Light/ProximaNova-Light.otf')  format('opentype'),
	     url('fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), url('fonts/ProximaNova-Light/ProximaNova-Light.ttf')  format('truetype'), url('fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Entypo';
  src: url('fonts/Entypo/Entypo.eot?#iefix') format('embedded-opentype'),  url('fonts/Entypo/Entypo.woff') format('woff'), url('fonts/Entypo/Entypo.ttf')  format('truetype'), url('fonts/Entypo/Entypo.svg#Entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
