<section id="tool-collection">
    
    <div class="row">
        <div class="columns large-12">
            <h1>Tools</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li class="current" kk-nav route="tools">
                    <a>Tools</a>
                </li>
            </ul>
            <div ng-if="tools">
                <div ng-if="tools.length > 0">
                    
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" kk-nav route="newTool"><i class="fi-plus"></i> Add new</a></li>
                        </ul>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">No</th>
                                <th class="text-left">Name</th>
                                <th class="text-left">Description</th>
                                <th>Active</th>
                                <th class="text-left">External URL</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" tool in tools | orderBy : 'name' ">
                                <td class="text-left">{{ $index + 1 }}</td>
                                <th class="text-left">{{ tool.name }}</th>
                                <td class="text-left">{{ tool.description }}</td>
                                <td><i ng-class="{ 'fi-check': tool.active, 'fi-x': !tool.active }"></i></td>
                                <td class="text-left"><a ng-if="tool.externalUrl" title="Open tool in new tab" ng-href="tool.externalUrl" target="_blank">{{ tool.externalUrl | domain }}</a></td>
                                <td class="action"><a title="Edit" kk-nav route="editTool" ng-attr-param-id="{{tool.id}}"><i class="fi-pencil"></i></a></td>
                                <td class="action alert"><a title="Delete" ng-click="promptDeleteTool(tool)"><i class="fi-x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div ng-if="tools.length <= 0">
                    <p>There are no defined tools. Create <a kk-nav route="newTool">first one</a>.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>