
/**** Condensed Layout ****/

fieldset{
    margin: 1rem 0;
    padding: 1rem;
}

fieldset legend{
    font-size: 0.85rem;
}

label{
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
    font-size: 0.75rem;
    height: 2rem;
    margin: 0 0 0.75rem;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select{
    margin: 0 0 0.75rem;
    font-size: 0.75rem;
    padding: 0.4rem;
}

hr{
    margin: 0.5rem 0 1rem;
}

button, .button{
    margin-bottom: 0.5rem;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td{
    font-size: 0.75rem;
    padding: 0.3rem 0.5rem 0.5rem;
}

table tr th, table tr td{
    font-size: 0.75em;
    padding: 0.3rem 0.5rem;
}

.inline-list{
    margin: 0 0 0.25rem -1.375rem;
}

span.prefix, span.postfix{
  font-size: 0.75rem;
  height: 2rem;
  line-height: 2rem;
}

button.tiny, .button.tiny{
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}

.tabs dd > a, .tabs .tab-title > a{
  padding: 0.65rem 2rem;  
}

.tabs-content{
  margin-bottom: 0;
}


/* app css default stylesheet */

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 60px; 
}

footer{
  background: #f1f1f1;
  border-top: 1px solid #eee;
  color: #888;
  text-align: right;
}

footer p{
  font-size: 0.875rem;
}

.footer-wrap{
  padding-top: 1rem;
}

.top-bar{
  margin-bottom: 1.5rem;
}

table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eee;
}

table tbody td,
table tbody th,
table thead td,
table thead th,
table tfoot td,
table tfoot th{
  text-align: center;
}

.toolbar{
  margin-bottom: 0;
}

[kk-alerts]{
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 90;
}

[kk-alerts] .alert-box{
  border: none;
  margin-bottom: 0;
  box-shadow: 0 1px 2px #333;
}

table a{
  text-transform: uppercase;
}

table td.action,
table th.action{
  padding: 0;
  background: #f1f1f1;
}

table td.action a,
table th.action a{
  background: #f1f1f1;
  color: #888;
  display: block;
  font-weight: normal;
  padding: 0.3rem;
  width: 100%;
}

table td.action:hover,
table th.action:hover{
  background-color: #2ba6cb;
}

table td.action:hover a,
table th.action:hover a{
  background-color: #2ba6cb;
  color: #fff;
}

table td.action.success:hover,
table th.action.success:hover{
  background-color: #5da423;
}

table td.action.success:hover a,
table th.action.success:hover a{
  background-color: #5da423;
}

table td.action.alert:hover,
table th.action.alert:hover{
  background-color: #c60f13;
}

table td.action.alert:hover a,
table th.action.alert:hover a{
  background-color: #c60f13;
}

table input[type="text"],
table input[type="date"],
table input[type="number"],
table input[type="checkbox"]{
  margin-bottom: 0;
}

.gray{
  background: #bbb;
}

.top-bar input, .top-bar .button, .top-bar button {
    font-size: 0.77778rem;
    position: relative;
    top: 7px;
}
.top-bar input {
    font-size: 0.75rem;
    height: auto;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
}
.top-bar form, .top-bar input {
    margin-bottom: 0;
}

.toolbar .prefix{
  background: none repeat scroll 0 0 #222;
  border: medium none;
  border-radius: 5px 0 0 5px;
  color: #555;
  font-size: 1rem;
  height: 1.75rem;
  line-height: 1.75rem;
  position: relative;
  top: 7px;
}

[date-picker-wrapper]{
  width: 150%;
}

[date-picker-wrapper] .dropdown-menu {
  position: absolute;
  z-index: 30;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px -2px #333333;
  padding: 3px;
}

[date-picker] {
  padding: 0;
}
[date-picker] table {
  border: none;
  border-collapse: collapse;
}
[date-picker] table tr, [date-picker] table td {
  font-size: 0.75rem;
}
[date-picker] td, [date-picker] th {
  border-radius: 0;
  height: auto;
  width: auto;
}
[date-picker] div[ng-switch-when="year"] span, [date-picker] div[ng-switch-when="month"] span, [date-picker] div[ng-switch-when="minutes"] span {
  height: 2.5rem;
  line-height: 2.5rem;
}
[date-picker] div[ng-switch-when="date"] td span.now, [date-picker] div[ng-switch-when="date"] td span.now:hover {
  background-color: #2ba6cb;
}
[date-picker] div[ng-switch-when="date"] td span.active, [date-picker] div[ng-switch-when="date"] td span.active:hover {
  background-color: #5da423;
}
[date-picker] span {
  border-radius: 2px;
}
[date-picker] .active:hover, [date-picker] .now:hover, [date-picker] .active:active, [date-picker] .now:active, [date-picker] .active.active, [date-picker] .now.active, [date-picker] .active.disabled, [date-picker] .now.disabled, [date-picker] .active[disabled], [date-picker] .now[disabled] {
  background-color: #5da423;
  color: #fff;
}

[date-picker] .active, [date-picker] .now {
  background-image: none;
  border: none;
}

[date-picker] .now{
  background-color: #2ba6cb;
}

[date-picker] .active{
  background-color: #5da423;
}

textarea{
  min-height: 5rem;
}

.nowrap{
    white-space: nowrap;
}

table.selectable tr{
  cursor: pointer;
}

table.selectable tr:hover{
  background: #E6F9CA;
}

hgroup h1{
  margin-bottom: 0;
}

hgroup h4.subheader{
  margin-top: 0;
}

hgroup h1,
hgroup h4.subheader{
  line-height: 1.15;
}

hgroup{
  margin-bottom: 1.25rem
}

table span.label + span.label{
  margin-left: 0.25rem;
}