<fieldset ng-form="baggageForm">
    
    <legend>{{ fareAttribute.name }}</legend>
	
	<div class="row">
        <div class="columns small-4">

            <label for="item-concept-type-0">Baggage concept type:</label>

            <span ng-repeat="ct in fareAttribute.conceptTypes">
                <input type="radio" name="itemConceptType" ng-attr-id="item-concept-type-{{$index}}" ng-model="item.conceptType" ng-value="ct.id" required />
                <label ng-attr-for="item-concept-type-{{$index}}" class="inline">{{ct.name}}</label>
            </span>

        </div>
        <div class="columns small-8">
            
            <label>Personal item:</label>
            <span>
                <input type="checkbox" ng-model="item.excludePersonalItem" id="item-excl-pi" /> 
                <label for="item-excl-pi" class="inline">Exclude</label>
            </span>
            
        </div>
    </div>

    <hr />
    
    <div class="row">
        <div class="columns small-5">
            <div class="row">
                <div class="columns small-5">
                    <input type="checkbox" ng-model="hasQuantity" name="hasQuantity" id="has-quantity" ng-change="onHasQuantityChange(hasQuantity)" /> <label for="has-quantity">Number of pieces</label>
                    <input type="number" name="itemQuantity" id="item-quantity" ng-model="item.quantity" ng-required="hasQuantity" min="1" ng-disabled="!hasQuantity" />
                    <kk-error field="baggageForm.itemQuantity">Requires at least one piece</kk-error>
                </div>
                <div class="columns small-5 end">
                    <input type="checkbox" ng-model="hasWeight" name="hasWeight" id="has-weight" ng-change="onHasWeight(hasWeight)" ng-disabled="!hasQuantity &amp;&amp; !hasTotalWeight" /> <label for="has-weight">Weight per piece</label>
                    <input type="number" name="itemWeight" id="item-weight" ng-model="item.weight" ng-required="hasWeight &amp;&amp; (hasQuantity || hasTotalWeight)" ng-disabled="!hasWeight || (!hasQuantity &amp;&amp; !hasTotalWeight)" min="1" />
                    <kk-error field="baggageForm.itemWeight">Required</kk-error>
                </div>  
            </div>
        </div>
        <div class="columns small-2">
            <input type="checkbox" ng-model="hasTotalWeight" name="hasTotalWeight" id="has-total-weight" ng-change="onHasTotalWeight(hasTotalWeight)" /> <label for="has-total-weight">Total weight</label>
            <input type="number" name="itemTotalWeight" id="item-total-weight" ng-model="item.totalWeight" ng-required="hasTotalWeight" ng-disabled="!hasTotalWeight" min="1" />
            <kk-error field="baggageForm.itemTotalWeight">Required</kk-error>
        </div>
        <div class="columns small-4 small-offset-1">
            <label>Weight unit</label>
            
            <span ng-repeat="wmt in fareAttribute.weightMetricTypes">
                <input type="radio" name="itemWeightMetricType" ng-attr-id="item-wmt-{{$index}}" ng-model="item.weightMetricType" ng-value="wmt.id" ng-required="hasWeight || hasTotalWeight" ng-disabled="!hasWeight &amp;&amp; !hasTotalWeight" /> 
                <label class="inline" ng-attr-for="item-wmt-{{$index}}">{{wmt.name}}</label>
            </span>
        </div>
    </div>
    
    <div class="row">
        <div class="columns small-4">
            
            <input type="checkbox" ng-model="hasDimensions" name="hasDimensions" id="has-dimensions" ng-change="onHasDimensions(hasDimensions)" /> <label for="has-dimensions">Dimensions</label>
            
            <div class="row collapse">
                
                <div class="columns small-3">
                    <input type="number" name="itemSizeLength" id="item-size-length" ng-model="item.sizeLength" min="1" ng-required="hasDimensions" ng-disabled="!hasDimensions" min="1" />
                    <kk-error field="baggageForm.itemSizeLength">Required</kk-error>
                </div>
                <div class="columns small-1 text-center">
                    <label class="inline">&times;</label>
                </div>
                <div class="columns small-3">
                    <input type="number" name="itemSizeHeight" id="item-size-height" ng-model="item.sizeHeight" min="1" ng-required="hasDimensions" ng-disabled="!hasDimensions" min="1" />
                    <kk-error field="baggageForm.itemSizeHeight">Required</kk-error>
                </div>
                <div class="columns small-1 text-center">
                    <label class="inline">&times;</label>
                </div>
                <div class="columns small-3 end">
                    <input type="number" name="itemSizeWidth" id="item-size-width" ng-model="item.sizeWidth" min="1" ng-required="hasDimensions" ng-disabled="!hasDimensions" min="1" />
                    <kk-error field="baggageForm.itemSizeWidth">Required</kk-error>
                </div>
                
            </div>
            
        </div>
        <div class="columns small-2 small-offset-1">
            <span style="white-space:nowrap">
                <input type="checkbox" ng-model="hasTotalLength" name="hasTotalLength" id="has-total-length" ng-change="onHasTotalLengthChange(hasTotalLength)" /> <label for="has-total-length">Sum of dimensions</label>
            </span>
            <input type="number" name="itemTotalLength" id="item-total-length" ng-model="item.totalLength" ng-required="hasTotalLength" ng-disabled="!hasTotalLength" min="1" />
            <kk-error field="baggageForm.itemTotalLength">Required</kk-error>
        </div>
        <div class="columns small-4 small-offset-1">
            <label>Length unit</label>
            
            <span ng-repeat="smt in fareAttribute.sizeMetricTypes">
                <input type="radio" name="itemSizeMetricType" ng-attr-id="item-smt-{{$index}}" ng-model="item.sizeMetricType" ng-value="smt.id" ng-required="hasTotalLength || hasDimensions" ng-disabled="!hasTotalLength &amp;&amp; !hasDimensions" /> 
                <label class="inline" ng-attr-for="item-smt-{{$index}}">{{smt.name}}</label>
            </span>
        </div>
    </div>
    
</fieldset>