<fieldset ng-form="mealForm">
    
    <legend>{{ fareAttribute.name }}</legend>
	
	<div class="row">
        <div class="columns small-12">
            <span ng-repeat="mt in fareAttribute.mealTypes">
                <input type="checkbox" checklist-model="item.mealType" checklist-value="mt.id" ng-attr-id="meal-type-{{$index}}" name="itemMealType" /> 
                <label ng-attr-for="meal-type-{{$index}}">{{mt.name}}</label>
            </span>
        </div>
    </div>
    
</fieldset>