<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C | Calculator</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="calculator">
    
    <header id="window-top">
      <div class="sticky">
        
        <div class="top-bar-bg"></div>
        
        <top-bar>
          
          <ul class="title-area">
            <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
          </ul>
          
          <top-bar-section>
            <ul class="right">
              <li><a href="dashboard.html">My programs</a></li>
              <li><a href="calculator.html">Calculate miles</a></li>
              <li><a href="settings.html">Settings</a></li>
              <li><a href="support.html">Support</a></li>
              <li class="has-form"><a class="button round" href="index.html">Log out</a></li>
            </ul>
          </top-bar-section>
          
        </top-bar>
        
        <div kk-alerts key="global"></div>
        
      </div>
      
    </header>
    
    <div ng-controller="CalculatorController" ng-init="initCalc(false)">
        
        <section class="dashboard-header light">
            
            <div class="row">
                <div class="columns large-8 text-center large-centered">
                    <h2>Calculate miles</h2>
                    <p>Input flight numbers and fare codes for every flight and check your miles.</p>
                </div>
            </div>
            
            <div class="row">
                <div class="columns medium-4 medium-centered">
                    <a class="small round expand button" ng-click="reset()" ng-show="calc.result">New calculation</a>
                </div>
            </div>
            
        </section>
        
        <section class="dashboard-calc">
          
          <div class="row">
            <div class="columns large-6 small-full-width calc-wrapper-col" ng-class="{ 'full-width': calc.ffp || config.userFfps.length > 0 || results }">
              
              <div class="calc-wrapper">
                <form novalidate ng-submit="submitCalcForm(calcForm)" name="calcForm" ng-hide="results">
                  
                  <div class="inputs-wrapper">
                    
                    <div class="row">
                      <div class="columns" ng-if="config.userFfps.length <= 0" ng-class="{ 'large-6': calc.ffp, 'large-12': !calc.ffp }">
                        
                        <div class="input-wrapper" ng-class="{ loading: ffpLoading }" ng-init="onFfpSelectInit()">
                          <input type="text" placeholder="Type Frequent Flyer Program" kk-focus="ffp-select" class="ffp" name="ffp" ng-model="calc.ffp" typeahead="ffp as ffp.name for ffp in getFfps($viewValue) | limitTo: $scope.config.ffpAutocompleteLimit" typeahead-editable="false" required autocomplete="off" typeahead-loading="ffpLoading" typeahead-input-formatter="formatFfpInput($model)" typeahead-template-url="views/calculator/ffp-input.html" typeahead-on-select="onFfpSelect()" typeahead-min-length="2" />
                          <kk-error field="calcForm.ffp">This field is required</kk-error>
                          <a ng-show=" calc.ffp &amp;&amp; (config.userFfps | indexOf : calc.ffp.id) < 0 &amp;&amp; !ffpLoading" class="save-ffp hint" ng-click="saveFfp(calc.ffp)"><i class="fa fa-save"></i></a>
                          <div class="input-loader">&nbsp;</div>
                        </div>
                        
                      </div>
                      <div class="columns medium-6" ng-if="calc.ffp || config.userFfps.length > 0">
                        
                        <ul class="button-group even-3 radius">
                          <li><button type="button" class="button tiny" ng-class="{ info: calc.mode != 'one-way', secondary: calc.mode == 'one-way' }" ng-model="calc.mode" btn-radio=" 'one-way' ">One-way</button></li>
                          <li><button type="button" class="button tiny" ng-class="{ info: calc.mode != 'round-trip', secondary: calc.mode == 'round-trip' }" ng-model="calc.mode" btn-radio=" 'round-trip' ">Round trip</button></li>
                          <li><button type="button" class="button tiny" ng-class="{ info: calc.mode != 'multi-city', secondary: calc.mode == 'multi-city' }" ng-model="calc.mode" btn-radio=" 'multi-city' ">Multi-city</button></li>
                        </ul>
                        
                      </div>
                    </div>
                    
                    <div kk-alerts key="calc" class="radius"></div>
                    
                    <div ng-if="calc.ffp || config.userFfps.length > 0" ng-init="onFaresInit()">
                      
                      <tabset>
                        <tab ng-repeat="fare in calc.fares" active="fare.active" class="slideInRight slideOutLeft">
                          
                          <tab-heading>
                            <i class="fa fa-circle" ng-attr-id="fare-icon-{{fare.color}}"></i>
                            <a class="menu" ng-show="calc.fares.length < config.maxFaresToCompare || calc.fares.length > 1" dropdown-toggle="#fare-dropdown-{{fare.color}}"><span class="hide-for-small-only">Menu</span> <i class="fa fa-caret-down"></i></a>
                          </tab-heading>
                          
                          <ul class="small-block-grid-1 medium-block-grid-2">
                            <li ng-repeat="leg in getLegs(fare)" class="leg-li hingeInFromTop hingeOutFromTop">
                          
                              <div class="leg">
                                
                                <div class="leg-head">
                                  <div class="row collapse">
                                    <div class="columns small-10">
                                      <h6>
                                        <span ng-show=" calc.mode == 'one-way' "><span class="icon outbound"></span> <strong>One-way</strong> flight</span>
                                        <span ng-show=" calc.mode == 'round-trip' &amp;&amp; $index == 0 "><span class="icon outbound"></span> <strong>Outbound</strong> flight</span>
                                        <span ng-show=" calc.mode == 'round-trip' &amp;&amp; $index == 1 "><span class="icon inbound"></span> <strong>Inbound</strong> flight</span>
                                        <span ng-show=" calc.mode == 'multi-city' "><span class="icon outbound"></span> <strong>{{ ($index + 1) | ordinal}}</strong> flight</span>
                                      </h6>
                                    </div>
                                    <div class="columns small-2 text-right">
                                      <a class="remove-leg small-only-text-center" title="Remove whole leg of the journey" ng-show=" calc.mode == 'multi-city' &amp;&amp; fare.legs.length > 2 " ng-click="removeLeg(fare, $index)"><i class="fa fa-times"></i></a>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="leg-body">
                                  
                                  <div class="leg-legend">
                                    <div class="row collapse">
                                      <div class="columns small-6">
                                        <label ng-attr-for="fl-airline-{{$parent.$index}}-{{$index}}-0">Airline <small>Optional</small></label>
                                      </div>
                                      <div class="columns small-3">
                                        <label ng-attr-for="fl-no-{{$parent.$index}}-{{$index}}-0">Flight <a class="hint" ng-click="openFlightNoHint()" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="flight-no-hint"><i class="fa fa-question-circle"></i></a></label>
                                      </div>
                                      <div class="columns small-3">
                                        <label ng-attr-for="fl-fc-{{$parent.$index}}-{{$index}}-0">Fare <a class="hint" ng-click="openBookingCodeHint()" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="fare-code-hint"><i class="fa fa-question-circle"></i></a></label>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  <div class="leg-flight slideInDown slideOutUp" ng-repeat="fl in leg.flights" ng-form="flightForm">
                                    <div class="row collapse">
                                      <div class="columns small-6">
                                        <div class="input-wrapper">
                                          <input type="text" ng-model="tempAirline" kk-focus="airline-{{$parent.$parent.$index}}-{{$parent.$index}}-{{$index}}" typeahead="al as al.name for al in getAirlines($viewValue) | limitTo: $scope.config.airlineAutocompleteLimit" typeahead-editable="true" autocomplete="off" typeahead-loading="airlineLoading" typeahead-input-formatter="formatAirlineInput($model)" ng-attr-id="fl-airline-{{$parent.$parent.$index}}-{{$parent.$index}}-{{$index}}" ng-class="{ loading: airlineLoading }" typeahead-on-select="onAirlineSelected(fl, tempAirline, $parent.$parent.$index, $parent.$index, $index)" />
                                        </div>
                                      </div>
                                      <div class="columns small-3">
                                        <div class="input-wrapper" ng-class="{ 'with-prefix': fl.airline }">
                                          <input type="text" kk-focus="flight-{{$parent.$parent.$parent.$index}}-{{$parent.$parent.$index}}-{{$index}}" placeholder="AA123" class="flight uppercase" name="flightFull" ng-model="fl.flight" required ng-pattern="flightNoPattern" ng-attr-id="fl-no-{{$parent.$parent.$parent.$index}}-{{$parent.$parent.$index}}-{{$index}}" ng-if="!fl.airline" />
                                          <div class="row collapse" ng-if="fl.airline">
                                            <div class="columns small-5">
                                              <span class="flight-prefix">{{fl.airline.code}}</span>
                                            </div>
                                            <div class="columns small-7">
                                              <input type="text" kk-focus="flight-{{$parent.$parent.$parent.$index}}-{{$parent.$parent.$index}}-{{$index}}" placeholder="123" class="flight uppercase" name="flightShort" ng-model="fl.flight" required ng-pattern="/^\d{1,4}$/" ng-attr-id="fl-no-{{$parent.$parent.$parent.$index}}-{{$parent.$parent.$index}}-{{$index}}" />
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="columns small-2">
                                        <div class="input-wrapper">
                                          <input type="text" placeholder="A" class="booking-code uppercase" name="booking" ng-model="fl.bookingCode" required maxlength="1" ng-pattern="bookingCodePattern" ng-attr-id="fl-fc-{{$parent.$parent.$index}}-{{$parent.$index}}-{{$index}}" />
                                        </div>
                                      </div>
                                      <div class="columns small-1">
                                        <a ng-show=" leg.flights.length > 1 " title="Remove this single flight" ng-click="removeFlight(leg, $index)" class="remove-flight" analytics-on="click" analytics-category="calculator" analytics-event="click" analytics-label="remove-connection"><i class="fa fa-times"></i></a>
                                      </div>
                                    </div>
                                    
                                    <kk-error ng-if="!fl.airline" field="flightForm.flightFull">Full flight number is required, usually 4-6 letters and digits</kk-error>
                                    <kk-error ng-if="fl.airline" field="flightForm.flightShort">Flight number usually consists up to 4 digits</kk-error>
                                    <kk-error field="flightForm.booking">One letter code is required</kk-error>
                                    
                                  </div>
                                  
                                  <a class="add-connection solid" ng-click="addFlight(leg, $parent.$index, $index)" title="Add connecting flight (after stopover)" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="add-connection"><i class="fa fa-plus"></i> Connection</a>
                                  
                                </div>
                                
                              </div>
                          
                            </li>
                          </ul>
                          
                          <button type="button" ng-show=" calc.mode == 'multi-city' " class="small info radius" ng-click="addLeg(fare, $index)">
                            <i class="fa fa-plus"></i> Flight
                          </button>
                          
                        </tab>
                        
                        <tab select="addFare()" ng-if="calc.fares.length < config.maxFaresToCompare">
                          <tab-heading>
                            <i class="fa fa-plus"></i> <span ng-show="calc.fares.length <= 1">Comparison</span>
                          </tab-heading>
                        </tab>
                      </tabset>
                      
                      <div class="row">
                        <div class="columns medium-3">
                      
                          <button class="button expand round" ng-disabled="loadingResult" ng-class="{ info: !calcForm.$valid }" type="submit" title="Calculate miles and show results" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="submit"><i class="fa fa-check"></i> Show miles</button>
                          
                        </div>
                      </div>
                      
                    </div>
                    
                    <div class="loader" ng-show="loadingResult">&nbsp;</div>
                    
                  </div>
                  
                </form>
                
                <div class="results-wrapper" ng-if="results">
                  
                  <div class="text-center results-head">
                    
                    <div class="row">
                      <div class="columns medium-4 medium-centered">
                        <button class="button info expand radius" ng-click="hideResults()" type="button"><i class="fa fa-chevron-left"></i> Change flights</button>
                      </div>
                    </div>
                    
                    <h3>Results</h3> 
                    
                  </div>
                  
                  <div class="row">
                    <div class="columns medium-6 large-4" ng-class="{ 'medium-centered': calc.result.fares <= 1, end: $last }" ng-repeat="fare in calc.result.fares">
                      
                      <div class="result section" ng-init="onFareResultInit()">
                        <div class="section-title"><span><span ng-attr-class="fare-{{fare.color}}">{{$index + 1}}</span></span></div>
                        
                        <h6 class="subheader text-center"> 
                          <span class="airline-logo-mock" kk-tooltip="{{getFareFirstFlightAirline(fare).name}}">{{getFareFirstFlightAirline(fare).code}}</span>
                          <span ng-repeat="airport in fare.shortItinerary">
                            <span kk-tooltip="{{airport.name}}">{{ airport.code }}</span> 
                            <i ng-if="!$last &amp;&amp; airport.direct" class="fa fa-chevron-right chev"></i>
                            <i ng-if="!$last &amp;&amp; !airport.direct" class="fa fa-ellipsis-h chev"></i>
                          </span> 
                          <a ng-click="showFullItinerary(fare)" title="Show full itinerary"><i class="fa fa-question-circle hide-for-medium-up"></i><span class="full-itinerary-label show-for-medium-up">More</span></a>
                        </h6>
                        
                        <div class="input-wrapper ffp-select">
                            <select ng-options="ffp.id as ffp.name for ffp in calc.result.userFfps" ng-model="fare.ffp"></select>
                            <span class="label round info" ng-show="getFfpResult(fare).best">Best</span>
                        </div>
                        
                        <accordion class="compact">
                            <accordion-group is-open="accrual.open" ng-repeat="accrual in getFfpResult(fare).accruals" ng-if="getFareAccrual(accrual.accrualId, fare).visible || fare.details">
                              <accordion-heading>
                                <div class="row">
                                  <div class="columns small-8">
                                    <span class="accordion-indicator">
                                      <i class="fa" ng-class="{ 'fa-plus': !accrual.open, 'fa-minus': accrual.open }"></i>
                                    </span> 
                                    {{ getFareAccrual(accrual.accrualId, fare).name }}
                                  </div>
                                  <div class="columns small-4 text-right">
                                    <span class="miles" ng-class="{ award: isAwardAccrual(accrual.accrualId, fare), status: !isAwardAccrual(accrual.accrualId, fare) }">{{ accrual.value | number : 0 }}</span> 
                                    <span ng-if="!hasLastStatus(fare.ffp) || isAwardAccrual(accrual.accrualId, fare)">
                                      <a ng-if="!hasConditions(fare.ffp, accrual.accrualId)" class="accrual-details" ng-click="showAccrualDetails($event, fare, accrual.accrualId)" title="Show my progress towards awards"><i class="fa fa-question-circle"></i></a>
                                      <a ng-if="hasConditions(fare.ffp, accrual.accrualId)" class="accrual-details warning" ng-click="showAccrualDetails($event, fare, accrual.accrualId)" title="Conditions may apply"><i class="fa fa-exclamation-triangle"></i></a>
                                    </span>
                                    <span ng-if="hasLastStatus(fare.ffp) &amp;&amp; !isAwardAccrual(accrual.accrualId, fare)" class="accrual-details">&nbsp;</span>
                                  </div>
                                </div>
                              </accordion-heading>
                              
                              <div class="result-leg" ng-repeat="leg in accrual.legs">
                                <div class="result-leg-head">
                                  <div class="row">
                                    <div class="columns small-8">
                                      <div class="route">
                                        <span kk-tooltip="{{ getAirport(leg.departure).name }}">{{ leg.departure }}</span> <i class="fa fa-chevron-right chev"></i> <span kk-tooltip="{{ getAirport(leg.arrival).name }}">{{ leg.arrival }}</span>
                                      </div>
                                    </div>
                                    <div class="columns small-4 text-right">
                                      <span class="miles award">{{ leg.value | number : 0 }}</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="result-leg-body" ng-if="leg.flights.length > 0">
                                  <div class="result-flight" ng-repeat="flight in leg.flights">
                                    <div class="row">
                                      <div class="columns small-8">
                                        <div class="route connection">
                                          <span kk-tooltip="{{ getAirport(flight.departure).name }}">{{ flight.departure }}</span> <i class="fa fa-chevron-right chev"></i> <span kk-tooltip="{{ getAirport(flight.arrival).name }}">{{ flight.arrival }}</span>
                                        </div>
                                      </div>
                                      <div class="columns small-4 text-right">
                                        <span class="miles award">{{ flight.value | number : 0 }}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                            </accordion-group>
                        </accordion>
                            
                        <div ng-if="fare.details &amp;&amp; (getFareFfp(fare).connected || getFareFfp(fare).manualInput)" class="hingeInFromTop hingeOutFromTop">
                          
                          <div kk-award-progress ffp="getFareFfp(fare)" award-goal="config.awardGoal" fare="getFfpResult(fare)" ng-if="config.awardGoal &amp;&amp; getFareFfp(fare).awardGoal"></div>
                          <div kk-award-progress ffp="getFareFfp(fare)" fare="getFfpResult(fare)" ng-if="getFareFfp(fare).statusGoal"></div>
                          
                        </div>
                          
                        <div class="connect-ffp" ng-if="fare.details &amp;&amp; (!getFareFfp(fare).connected &amp;&amp; !getFareFfp(fare).manualInput)" class="hingeInFromTop hingeOutFromTop">
                          
                          <progressbar value="sampleProgress" animate="true" type="success round">
                            <div class="quest-icon"><i class="fa fa-question-circle"></i></div>
                          </progressbar>
                          
                          <p class="text-center etc">Connect your {{getFareFfp(fare).name}} program to see how many miles you need for a <strong>free flight</strong> or <strong>next status</strong>.</p>
                          
                          <button class="expand warning round" ng-click="editFfp(getFareFfp(fare))"><i class="fa fa-bolt"></i> Connect program</button>
                          
                        </div>
                        
                        <div ng-if="fare.details" class="fadeIn fadeOut">
                          <button class="info small round expand" ng-click="showFullItinerary(fare)"><i class="fa fa-plane"></i> Show booking details</button>
                        </div>
                        
                        <div class="text-center etc" class="fadeIn fadeOut">
                            <a class="show-details" ng-click="toggleDetails(fare)" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="expand-result" analytics-if="fare.details"><span ng-show="!fare.details"><i class="fa fa-chevron-down"></i> Show details</span><span ng-show="fare.details"><i class="fa fa-chevron-up"></i> Hide details</span></a>
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>
                  
                </div>
                
              </div>
              
            </div>
          </div>
          
        </section>
        
        <ul id="fare-dropdown-{{fare.color}}" class="f-dropdown" ng-repeat="fare in calc.fares">
            <li><a ng-click="cloneFare(fare)" ng-show="calc.fares.length < config.maxFaresToCompare"><i class="fa fa-files-o"></i> Clone</a></li>
            <li><a ng-click="removeFare($index)" ng-show="calc.fares.length > 1" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="remove-fare"><i class="fa fa-times"></i> Remove</a></li>
        </ul>
    
    </div>
    
    <section class="dashboard-last-calc" ng-controller="CalculatorCollectionController">
        <div class="row">
            <div class="columns medium-4 medium-centered">
                
                <h3 class="text-center">Last calculations</h3>
                
                <div ng-if="items">
                  
                    <div class="row calc-row" ng-repeat="item in items">
                        <div class="columns small-8">
                            <h6 class="subheader">
                              <span ng-repeat="airport in item.shortItinerary">
                                <span kk-tooltip="{{airport.name}}">{{airport.code}}</span> 
                                <i ng-if="!$last &amp;&amp; airport.direct" class="fa fa-chevron-right chev"></i>
                                <i ng-if="!$last &amp;&amp; !airport.direct" class="fa fa-ellipsis-h chev"></i>
                              </span>
                              <a ng-click="showFullItinerary(item)"><i class="fa fa-question-circle"></i></a>
                            </h6>
                            <div class="etc">{{ item.calcTimestamp | timeForHumans}}</div>
                        </div>
                        <div class="columns small-4 text-right">
                            <ul class="button-group round even-2">
                                <li><a class="tiny button success" ng-href="calculator.html#/{{item.id}}"><i class="fa fa-pencil"></i></a></li>
                                <li><a class="tiny button" ng-href="calculator.html#/{{item.id}}/results"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
                <p class="etc" ng-if="items.length == 0">You haven't done any searches yet. <a href="calculator.html">Try it now</a>.</p>
                
                <div class="loader" ng-show="loading">&nbsp;</div>
                
            </div>
        </div>
    </section>
    
    <footer>
      
      <div class="row">
        <div class="columns large-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns large-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    <script src="views/dashboard/dashboard.js"></script>
    <script src="views/calculator/calculator.js"></script>
    <script src="views/signup-ffp/signup-ffp.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>

    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
