<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C | Contact</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="contact">
    
    <header id="window-top">
      <div class="sticky">
        
        <div class="top-bar-bg"></div>
        
        <top-bar>
          
          <ul class="title-area">
            <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
          </ul>
          
          <top-bar-section>
            <ul class="right">
              <li><a>Our features</a></li>
              <li><a>About us</a></li>
              <li><a>30K for business</a></li>
              <li class="has-form"><a href="sign-up.html" class="button round">Sign up</a></li>
              <li class="has-form"><a ng-click="logIn()" class="button round">Log in</a></li>
              <!-- To use when user is logged in -->
              <!--<li class="has-form"><a class="button round">Log out</a></li>-->
            </ul>
          </top-bar-section>
          
        </top-bar>
        
        <div kk-alerts key="global"></div>
        
      </div>
    </header>
    
    <section id="contact-form" ng-controller="ContactController">
        <div class="row contact-header">
            <div class="columns large-6 medium-8 medium-centered text-center">
                <h3>Get in touch, we would love to hear from you.</h3>
            </div>
        </div>
        <div class="row contact-icon">
            <div class="columns medium-3 large-2 small-6 small-centered text-center">
                <img src="img/icon-large-email.png" alt="Email" />
            </div>
        </div>
        <div class="row">
            <div class="columns small-8 medium-4 small-centered text-center">
                <a title="Write to us" href="mailto:support@30k.com"><h6 class="subheader no-wrap">support@30k.com</h6></a>
                <p class="etc">Send us your message to this email address or the form below and we'll get back to you shortly.</p>
            </div>
        </div>
        <div class="row">
            <div class="columns large-8 medium-10 medium-centered">
                
                <div ng-show="sent">
                    <div class="alert-box success radius">
                        <i class="fa fa-check"></i> Message sent!
                    </div>
                    <div class="row">
                        <div class="columns medium-4 medium-centered">
                            <button ng-click="reset()" class="round expand button small">Send another one</button>
                        </div>
                    </div>
                </div>
                
                <form novalidate name="contactForm" ng-submit="submit(contactForm)" ng-class="{ loading: loading }" ng-show="!sent">
                    
                    <div kk-alerts class="radius" key="contact"></div>
                    
                    <div class="row">
                        <div class="columns medium-6">
                            <input type="text" placeholder="Name" name="contactName" ng-model="form.name" required />
                            <kk-error field="contactForm.contactName">This field is required</kk-error>
                        </div>
                        <div class="columns medium-6">
                            <input type="email" placeholder="Email" name="email" ng-model="form.email" required />
                            <kk-error field="contactForm.email" type="required">This field is required</kk-error>
                            <kk-error field="contactForm.email" type="email">Email is invalid</kk-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns small-12">
                            <textarea placeholder="Your Message" name="message" ng-model="form.message" required></textarea>
                            <kk-error field="contactForm.message">This field is required</kk-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns medium-3 medium-centered">
                            <button type="submit" class="button round expand">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <footer>
      
      <div class="row">
        <div class="columns large-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns large-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    <script src="views/contact/contact.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>

    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
