<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C | Dashboard</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="dashboard">
    
    <header id="window-top">
      <div class="sticky">
        
        <div class="top-bar-bg"></div>
        
        <top-bar>
          
          <ul class="title-area">
            <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
          </ul>
          
          <top-bar-section>
            <ul class="right">
              <li><a href="dashboard.html">My programs</a></li>
              <li><a href="calculator.html">Calculate miles</a></li>
              <li><a href="settings.html">Settings</a></li>
              <li><a href="support.html">Support</a></li>
              <li class="has-form"><a class="button round" href="index.html">Log out</a></li>
            </ul>
          </top-bar-section>
          
        </top-bar>
        
        <div kk-alerts key="global"></div>
        
      </div>
      
    </header>
    
    <section class="dashboard-header">
        
        <div class="row">
            <div class="columns large-8 text-center large-centered">
                <h2>My programs</h2>
                <p>Custom message depending on user experience and progress in his profile.</p>
            </div>
        </div>
        
        <div class="row show-for-small-only">
            <div class="columns small-12">
                <a class="small round expand button success" href="dashboard-ffp.html"><i class="fa fa-plane"></i> Calculate miles</a>
            </div>
        </div>
        
        <div class="row"> 
            <div class="columns medium-3 medium-centered">
                <a class="small round expand button info" href="dashboard-ffp.html"><i class="fa fa-plus"></i> Add program</a>
            </div>
        </div>
        
    </section>
    
    <section class="dashboard-ffps" ng-controller="FfpCollectionController">
        
        <div class="row">
            <div class="columns large-12">
                <div kk-alerts key="ffps" class="radius"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="small-12 columns small-full-width">
                
                <div ng-if="ffps">
                    
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                        <li ng-repeat="ffp in getFfps()" class="hingeInFromTop hingeOutFromTop">
                            <article class="ffp section" ng-class="{ disconnected: !ffp.connected &amp;&amp; !ffp.manualInput }">
                              
                              <h4 class="section-title"><span>{{ffp.name}} <a class="drop-menu-link" ng-show="!ffp.loading" dropdown-toggle="#dropdown-ffp-{{$index}}"><i class="fa fa-caret-down"></i></a></span></h4>
                              
                              <div ng-show="!ffp.loading">
                                  
                                <h6 class="text-center subheader ffp-status" ng-style="{ color: (ffp.statuses | find : ffp.status).color }">{{ (ffp.statuses | find : ffp.status).name }} Status</h6>
                                
                                <div ng-if="!ffp.connected &amp;&amp; !ffp.manualInput">
                                    
                                    <p class="etc">Go level up, connect your program to see how many miles you have. Afterwards you can check your progress for a free flight or next status too.</p>
                                    <button class="expand round warning small" ng-click="editFfp(ffp)"><i class="fa fa-flash"></i> Connect now</button>
                                    
                                </div> 
                                
                                <div class="mock-accordion" ng-if="ffp.connected || ffp.manualInput">
                                    <div class="mock-accordion-head" ng-repeat="accrual in ffp.accruals">
                                        <div class="row">
                                            <div class="columns small-8">
                                                {{ accrual.name }} 
                                            </div>
                                            <div class="columns small-4 text-right">
                                                <span class="miles" ng-class="{ award: !accrual.status, status: accrual.status }">{{ accrual.value | number : 0 }}</span> 
                                                <span ng-if="!accrual.status || !ffp.statusGoal.isMax">
                                                    <a ng-if="!hasConditions(ffp, accrual.id)" class="accrual-details" ng-click="showAccrualDetails($event, ffp, accrual.id)" title="Show my progress towards awards"><i class="fa fa-question-circle"></i></a>
                                                    <a ng-if="hasConditions(ffp, accrual.id)" class="accrual-details warning" ng-click="showAccrualDetails($event, ffp, accrual.id)" title="Conditions may apply"><i class="fa fa-exclamation-triangle"></i></a>
                                                </span>
                                                <span ng-if="accrual.status &amp;&amp; ffp.statusGoal.isMax" class="accrual-details">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div ng-if="ffp.details" class="hingeInFromTop hingeOutFromTop">
                                    
                                    <div class="bars" ng-if="ffp.connected || ffp.manualInput">
                                        <div kk-award-progress ffp="ffp" award-goal="awardGoal" ng-if="awardGoal &amp;&amp; ffp.awardGoal"></div>
                                        <div kk-award-progress ffp="ffp" ng-if="ffp.statusGoal"></div>
                                    </div>
                                    
                                    <table class="plain" ng-if="ffp.connected">
                                        <tbody>
                                            <tr>
                                                <th>Program number or username</th>
                                                <td>{{ffp.username}}</td>
                                            </tr>
                                            <tr>
                                                <th>Expiration date</th>
                                                <td>{{ ffp.expirationDate | date : 'mediumDate' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <p class="etc text-center last-update" ng-if="ffp.lastUpdated">Last update: {{ ffp.lastUpdated | date : 'mediumDate' }} <a ng-if="ffp.connected" ng-click="updateFfp(ffp)" title="Update now"><i class="fa fa-refresh"></i></a></p>
                                    
                                </div>
                                
                                <div class="etc text-center" ng-if="ffp.connected || ffp.manualInput">
                                    <a class="show-details" ng-click="toggleDetails(ffp)"><span ng-show="!ffp.details"><i class="fa fa-chevron-down"></i> Show details</span><span ng-show="ffp.details"><i class="fa fa-chevron-up"></i> Hide details</span></a>
                                </div>
                              </div>
                              <div class="loader" ng-show="ffp.loading">&nbsp;</div>
                          </article>
                        </li>
                    </ul>
                    
                    <div class="row">
                        <div class="columns medium-4 medium-centered">
                            <div class="more" ng-show="ffps.length > ffpLimit">
                                <button ng-click="showMore(!more)" class="expand info round"><span ng-show="!more">Show more ({{ ffps.length - ffpLimit }})</span><span ng-show="more">Show less</span></button>
                            </div>  
                        </div>
                    </div>
                  
                </div>
                
                <p class="text-center lead" ng-show="ffps.length == 0">You don't have any Frequent Flyer Programs added yet. Add <a href="dashboard-ffp.html">first one</a>.</p>
                
                <div class="loader" ng-show="loadingFfps">&nbsp;</div>
                
            </div>
        </div>
        
        <ul class="dropdown-ffp f-dropdown" id="dropdown-ffp-{{$index}}" ng-repeat="ffp in getFfps()">
            <li ng-if="ffp.connected"><a ng-click="updateFfp(ffp)"><i class="fa fa-refresh"></i> Update</a></li>
            <li ng-if="!ffp.connected &amp;&amp; !ffp.manualInput"><a ng-click="editFfpStatus(ffp)"><i class="fa fa-pencil"></i> Edit</a></li>
            <li ng-if="ffp.connected || ffp.manualInput"><a ng-click="editFfp(ffp)"><i class="fa fa-pencil"></i> Edit</a></li>
            <li><a ng-click="deleteFfp(ffp)"><i class="fa fa-trash-o"></i> Delete</a></li>
        </ul>
        
    </section>
    
    <section class="dashboard-last-calc" ng-controller="CalculatorCollectionController">
        <div class="row">
            <div class="columns medium-4 medium-centered">
                
                <h3 class="text-center">Last calculations</h3>
                
                <div ng-if="items">
                  
                    <div class="row calc-row" ng-repeat="item in items">
                        <div class="columns small-8">
                            <h6 class="subheader">
                              <span ng-repeat="airport in item.shortItinerary">
                                <span kk-tooltip="{{airport.name}}">{{airport.code}}</span> 
                                <i ng-if="!$last &amp;&amp; airport.direct" class="fa fa-chevron-right chev"></i>
                                <i ng-if="!$last &amp;&amp; !airport.direct" class="fa fa-ellipsis-h chev"></i>
                              </span>
                              <a ng-click="showFullItinerary(item)"><i class="fa fa-question-circle"></i></a>
                            </h6>
                            <div class="etc">{{ item.calcTimestamp | timeForHumans}}</div>
                        </div>
                        <div class="columns small-4 text-right">
                            <ul class="button-group round even-2">
                                <li><a class="tiny button success" ng-href="calculator.html#/{{item.id}}"><i class="fa fa-pencil"></i></a></li>
                                <li><a class="tiny button" ng-href="calculator.html#/{{item.id}}/results"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
                <p class="etc" ng-if="items.length == 0">You haven't done any searches yet. <a href="calculator.html">Try it now</a>.</p>
                
                <div class="loader" ng-show="loading">&nbsp;</div>
                
            </div>
        </div>
    </section>
    
    <footer>
      
      <div class="row">
        <div class="columns large-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns large-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <div class="confirm-reminder">
        <div class="alert-box warning"><i class="fa fa-bell"></i> Check email to confirm your account (3 days left). <span class="right"><a ng-show="!sendingConfirmation && !sentConfirmation" ng-click="resendConfirmation()" title="Resend email with confirmation link" class="solid fadeIn"><i class="fa fa-repeat"></i> Resend email</a><span ng-show="sendingConfirmation" class="fadeIn">Sending&hellip;</span><span ng-show="sentConfirmation" class="fadeIn">Email sent!</span></span></div>
    </div>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    <script src="views/signup-ffp/signup-ffp.js"></script>
    <script src="views/dashboard/dashboard.js"></script>
    <script src="views/calculator/calculator.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>
    
    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
