<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C | FAQ</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="silver">
    
    <div ng-controller="HomeHeaderController">
    
        <header id="window-top">
          <div class="sticky">
            
            <div class="top-bar-bg"></div>
            
            <top-bar>
              
              <ul class="title-area">
                <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
                <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
              </ul>
              
              <top-bar-section>
                <ul class="right">
                    <li class="has-form"><button class="button round" ng-disabled="isInstalled()" ng-click="install('menu')" title="Add 30K extension to your Google Chrome browser"><span ng-show="isInstalled()"><i class="fa fa-check"></i> installed</span><span ng-hide="isInstalled()">Add to Chrome</span></button></li>
                    <li><a title="Check what powers our browser extension" href="http://30k.com" target="_blank">Our API</a></li>
                    <li><a>Log out</a></li>
                </ul>
              </top-bar-section>
              
            </top-bar>
            
            <div kk-alerts key="global"></div>
            
          </div>
        </header>
    
    </div>
    
    <section class="left-col">
        <div class="row">
            <div class="columns medium-3">
                <ul class="side-nav">
                    <li class="active">
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="terms.html">Terms of Use</a>
                    </li>
                    <li>
                        <a href="privacy.html">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="columns medium-7 end">
                
                <section id="faq" ng-controller="FaqController">
                    
                    <h5>Frequently Asked Questions</h5>
                    <p>Here are some instant answers to common questions:</p>
                    
                    <accordion>
                        <accordion-group is-open="isOpen.faq1" id="faq1" ng-init="initSection('faq1')">
                            <accordion-heading>
                                What's 30K and how are you different?
                            </accordion-heading>
                            
                            <figure>
                                <img src="http://placehold.it/650x400" />
                                <figcaption>Our technology, when added to travel products has the ability.</figcaption>
                            </figure>
                            
                            <p>At 30K we have created a new technology that allows any travel product (flight comparison websites, online travel agencies, GDS, travel management companies, travel apps, airlines, amongst others) to show their travelers how many miles they will earn for flights prior to making their purchase decision. There are hundreds of millions of frequent flyers that would appreciate and benefit from this feature on your website.</p>
                            
                            <p>Lorem <a>ipsum sidor</a> lamet</p>
                            
                        </accordion-group>
                        <accordion-group is-open="isOpen.faq2" id="faq2" ng-init="initSection('faq2')">
                            <accordion-heading>
                                Why is this useful?
                            </accordion-heading>
                            
                            <p>Sometimes airline loyalty programs are difficult to understand. Over time they have become quite complex and on occasion less transparent to their members. 30K's goal is to help reduce the misunderstanding, frustration and disappointment for the traveler and by doing so increase awareness and knowledge to improve the travel experience. By improving the travel experience travel companies increase engagement, develop greater loyalty and produce happier more profitable customers.</p>
                            
                            <p>Our technology, when added to travel products has the ability to solve this problem: on one hand it adds transparency to the flight search and booking process, while providing the relevant piece of information (miles) without the need for the traveler to understand and interpret complicated and uninteresting program details. For the website, it creates a powerful differentiator, higher engagement levels and the opportunity for additional revenue.</p>
                            
                        </accordion-group>
                        <accordion-group is-open="isOpen.faq3" id="faq3" ng-init="initSection('faq2')">
                            <accordion-heading>
                                I don't understand the difference between the different types of miles.
                            </accordion-heading>
                            
                            <p>Sometimes airline loyalty programs are difficult to understand. Over time they have become quite complex and on occasion less transparent to their members. 30K's goal is to help reduce the misunderstanding, frustration and disappointment for the traveler and by doing so increase awareness and knowledge to improve the travel experience. By improving the travel experience travel companies increase engagement, develop greater loyalty and produce happier more profitable customers.</p>
                            
                            <p>Our technology, when added to travel products has the ability to solve this problem: on one hand it adds transparency to the flight search and booking process, while providing the relevant piece of information (miles) without the need for the traveler to understand and interpret complicated and uninteresting program details. For the website, it creates a powerful differentiator, higher engagement levels and the opportunity for additional revenue.</p>
                            
                        </accordion-group>
                    </accordion>
                    
                    <h3>Didn't find an answer?</h3>
                    <a class="button medium round" href="mailto:support@30k.com">Get In Touch</a>
                
                </section>
                
            </div>
        </div>
    </section>
    
    <footer>
      
      <div class="row">
        <div class="columns large-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns large-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    <script src="views/faq/faq.js"></script>
    <script src="views/home/home.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>
    
    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
