<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="home">
    
    <header id="window-top">
      <div class="transparent sticky">
        
        <div class="top-bar-bg"></div>
        
        <top-bar>
          
          <ul class="title-area">
            <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
          </ul>
          
          <top-bar-section>
            <ul class="right">
              <li><a href="#home-benefits" du-smooth-scroll>Our features</a></li>
              <li><a>About us</a></li>
              <li><a>30K for business</a></li>
              <li class="has-form"><a href="sign-up.html" class="button round">Sign up</a></li>
              <li class="has-form"><a ng-click="logIn()" class="button round">Log in</a></li>
              <!-- To use when user is logged in -->
              <!--<li class="has-form"><a class="button round">Log out</a></li>-->
            </ul>
          </top-bar-section>
          
        </top-bar>
        
        <div kk-alerts key="global"></div>
        
      </div>
    </header>
    
    
    <section class="home-banner text-center">
      
      <div class="row">
        <div class="columns large-10 medium-8 medium-centered">
          <h2>Know how many miles you can earn on any flight</h2>
        </div>
      </div>
      
      <div class="row">
        <div class="columns large-8 medium-centered medium-6">
          <p>Find out how many miles a flight earns before booking it! Just tell us the flight and we’ll tell you how many miles you’ll get and soon you’ll be reaping the rewards.</p>
        </div>
      </div>
      
    </section>
    
    <section class="calc-form" ng-controller="CalculatorController" ng-init="initCalc(true)">
      
      <div class="row">
        <div class="columns large-6 medium-8 medium-centered calc-wrapper-col" ng-class="{ 'full-width': calc.ffp &amp;&amp; !results }">
          
          <div class="calc-wrapper">
            <form novalidate ng-submit="submitCalcForm(calcForm)" name="calcForm" ng-hide="results">
              
              <div ng-show="!calc.ffp" class="text-center">
                <h3>Try now for <span class="hl">free</span></h3>
                <p class="etc">Type one of your <strong>frequent flyer programs</strong> or <strong>airline</strong> to start.</p>
              </div>
              
              <div ng-show="calc.ffp" class="text-center">
                <h3>Your itinerary</h3>
                <p class="etc">If your flight has layovers, add segments using <strong><i class="fa fa-plus"></i> Connection</strong> link.</p>
              </div>
              
              <div kk-alerts key="calc" class="radius"></div>
              
              <div class="inputs-wrapper">
                
                <div class="row">
                  <div class="columns" ng-class="{ 'large-6': calc.ffp, 'large-9 large-centered': !calc.ffp }">
                    
                    <div class="input-wrapper" ng-if="config" ng-class="{ loading: ffpLoading }" ng-init="onFfpSelectInit()">
                      <input type="text" placeholder="Type Frequent Flyer Program" kk-focus="ffp-select" class="ffp" name="ffp" ng-model="calc.ffp" typeahead="ffp as ffp.name for ffp in getFfps($viewValue) | limitTo: $scope.config.ffpAutocompleteLimit" typeahead-editable="false" required autocomplete="off" typeahead-loading="ffpLoading" typeahead-input-formatter="formatFfpInput($model)" typeahead-template-url="views/calculator/ffp-input.html" typeahead-on-select="onFfpSelect()" />
                      <kk-error field="calcForm.ffp">This field is required</kk-error>
                      <p class="etc ffp-etc text-center" ng-if="config.sampleFfps.length > 0 &amp;&amp; !calc.ffp">
                        e.g. 
                        <span ng-repeat="sffp in config.sampleFfps"><a ng-click="selectSampleFfp(sffp)" title="Select this program" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="ffp">{{ sffp.name }}</a><span ng-if="!$last">, </span></span>
                      </p>
                      <a ng-show=" calc.ffp &amp;&amp; (config.userFfps | indexOf : calc.ffp.id) < 0 &amp;&amp; !ffpLoading" class="save-ffp hint" ng-click="trySaveFfp()"><i class="fa fa-save"></i></a>
                      <div class="input-loader">&nbsp;</div>
                    </div>
                    
                  </div>
                  <div class="columns large-6" ng-if="calc.ffp">
                    
                    <ul class="button-group even-3 radius">
                      <li><button type="button" class="button tiny" ng-class="{ info: calc.mode != 'one-way', secondary: calc.mode == 'one-way' }" ng-model="calc.mode" btn-radio=" 'one-way' ">One-way</button></li>
                      <li><button type="button" class="button tiny" ng-class="{ info: calc.mode != 'round-trip', secondary: calc.mode == 'round-trip' }" ng-model="calc.mode" btn-radio=" 'round-trip' ">Round trip</button></li>
                      <li><button type="button" class="button tiny info disabled" ng-click="tryMulticity()">Multi-city</button></li>
                    </ul>
                    
                    <div class="switch radius left tiny" style="margin-right: 0.75rem">
                      <input id="by-flight-no" type="checkbox" name="byFlight" ng-model="calc.byFlight" />
                      <label for="by-flight-no"></label>
                    </div>
                    
                    <a style="font-size: 0.875rem;color: #666;line-height:1.7" ng-click="calc.byFlight = !calc.byFlight">
                        <span ng-show="calc.byFlight">I know my flight number(s)</span>
                        <span ng-show="!calc.byFlight">I don't know my flight number(s)</span>
                    </a>
                    
                  </div>
                </div>
                
                <div ng-if="calc.ffp" ng-init="onFaresInit()">
                  
                  <tabset>
                    <tab ng-repeat="fare in calc.fares" active="fare.active" class="tab-x">
                      
                      <tab-heading>
                        <i class="fa fa-circle" ng-attr-id="fare-icon-{{fare.color}}"></i>
                      </tab-heading>
                      
                      <ul class="small-block-grid-1 medium-block-grid-2">
                        <li ng-repeat="leg in getLegs(fare)" class="leg-li hingeInFromTop hingeOutFromTop">
                          
                          <div class="leg">
                          
                            <div class="leg-head">
                              <div class="row collapse">
                                <div class="columns small-10">
                                  <h6>
                                    <span ng-show=" calc.mode == 'one-way' "><span class="icon outbound"></span> <strong>One-way</strong> flight</span>
                                    <span ng-show=" calc.mode == 'round-trip' &amp;&amp; $index == 0 "><span class="icon outbound"></span> <strong>Outbound</strong> flight</span>
                                    <span ng-show=" calc.mode == 'round-trip' &amp;&amp; $index == 1 "><span class="icon inbound"></span> <strong>Inbound</strong> flight</span>
                                    <span ng-show=" calc.mode == 'multi-city' "><span class="icon outbound"></span> <strong>{{ ($index + 1) | ordinal}}</strong> flight</span>
                                  </h6>
                                </div>
                                <div class="columns small-2 text-right">
                                  <a class="remove-leg small-only-text-center" title="Remove whole leg of the journey" ng-show=" calc.mode == 'multi-city' &amp;&amp; fare.legs.length > 2 " ng-click="removeLeg(fare, $index)"><i class="fa fa-times"></i></a>
                                </div>
                              </div>
                            </div>
                            
                            <div class="leg-body" ng-if="calc.byFlight">
                              
                              <div class="leg-legend">
                                <div class="row collapse">
                                  <div class="columns small-6">
                                    <label ng-attr-for="fl-airline-{{$index}}-0">Airline <small>Optional</small></label>
                                  </div>
                                  <div class="columns small-3">
                                    <label ng-attr-for="fl-no-{{$index}}-0">Flight <a class="hint" ng-click="openFlightNoHint()" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="flight-no-hint"><i class="fa fa-question-circle"></i></a></label>
                                  </div>
                                  <div class="columns small-3">
                                    <label ng-attr-for="fl-fc-{{$index}}-0">Fare <a class="hint" ng-click="openBookingCodeHint()" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="fare-code-hint"><i class="fa fa-question-circle"></i></a></label>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="leg-flight slideInDown slideOutUp" ng-repeat="fl in leg.flights" ng-form="flightForm">
                                <div class="row collapse">
                                  <div class="columns small-6">
                                    <div class="input-wrapper">
                                      <input type="text" ng-model="tempAirline" kk-focus="airline-0-{{$parent.$parent.$index}}-{{$index}}" typeahead="al as al.name for al in getAirlines($viewValue) | limitTo: $scope.config.airlineAutocompleteLimit" typeahead-editable="true" autocomplete="off" typeahead-loading="airlineLoading" typeahead-input-formatter="formatAirlineInput($model)" ng-attr-id="fl-airline-{{$parent.$index}}-{{$index}}" ng-class="{ loading: airlineLoading }" typeahead-on-select="onAirlineSelected(fl, tempAirline, 0, $parent.$index, $index)" />
                                    </div>
                                  </div>
                                  <div class="columns small-3">
                                    <div class="input-wrapper" ng-class="{ 'with-prefix': fl.airline }">
                                      <input type="text" placeholder="AA123" kk-focus="flight-0-{{$parent.$parent.$index}}-{{$index}}" class="flight uppercase" name="flightFull" ng-model="fl.flight" required ng-pattern="flightNoPattern" ng-attr-id="fl-no-{{$parent.$parent.$index}}-{{$index}}" ng-if="!fl.airline" />
                                      <div class="row collapse" ng-if="fl.airline">
                                        <div class="columns small-5">
                                          <span class="flight-prefix">{{fl.airline.code}}</span>
                                        </div>
                                        <div class="columns small-7">
                                          <input type="text" placeholder="123" kk-focus="flight-0-{{$parent.$parent.$index}}-{{$index}}" class="flight uppercase" name="flightShort" ng-model="fl.flight" required ng-pattern="/^\d{1,4}$/" ng-attr-id="fl-no-{{$parent.$parent.$index}}-{{$index}}" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="columns small-2">
                                    <div class="input-wrapper">
                                      <input type="text" placeholder="A" class="booking-code uppercase" name="booking" ng-model="fl.bookingCode" required maxlength="1" ng-pattern="bookingCodePattern" ng-attr-id="fl-fc-{{$parent.$parent.$index}}-{{$index}}" />
                                    </div>
                                  </div>
                                  <div class="columns small-1">
                                    <a ng-show=" leg.flights.length > 1 " title="Remove this single flight" ng-click="removeFlight(leg, $index)" class="remove-flight" analytics-on="click" analytics-category="calculator" analytics-event="click" analytics-label="remove-connection"><i class="fa fa-times"></i></a>
                                  </div>
                                </div>
                                
                                <kk-error ng-if="!fl.airline" field="flightForm.flightFull">Full flight number is required, usually 4-6 letters and digits</kk-error>
                                <kk-error ng-if="fl.airline" field="flightForm.flightShort">Flight number usually consists up to 4 digits</kk-error>
                                <kk-error field="flightForm.booking">One letter code is required</kk-error>
                                
                              </div>
                              
                              <a class="add-connection solid" ng-click="addFlight(leg, 0, $index)" title="Add connecting flight (after stopover)" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="add-connection"><i class="fa fa-plus"></i> Connection</a>
                            </div>
                            
                            <div class="leg-body" ng-if="!calc.byFlight" style="padding: 0 1rem;">
                              
                              <div class="flight-leg" ng-repeat="fl in leg.flights" ng-form="flightForm" style="border-bottom: 1px solid #ddd;padding-bottom:0.5rem;margin-bottom: 0.5rem;padding-right:2rem;position:relative;">
                                  <a style="position:absolute;top: 0.25rem;right:0.25rem;margin:0;width:1rem;" ng-show=" leg.flights.length > 1 " title="Remove this single flight" ng-click="removeFlight(leg, $index)" class="remove-flight" analytics-on="click" analytics-category="calculator" analytics-event="click" analytics-label="remove-connection"><i class="fa fa-times"></i></a>
                                  <div style="margin-bottom:0.5rem">
                                      <label>Departure airport</label>
                                      <input type="text" name="departure" ng-model="fl.departure" typeahead="airport as airport.name for airport in getAirports($viewValue) | limitTo:8" typeahead-loading="depLoading" typeahead-input-formatter="formatAirport($model)" typeahead-editable="false" required autocomplete="off" ng-class="{ loading: depLoading }" />
                                      <!--<kk-error field="flightForm.departure">This field is required</kk-error>-->
                                  </div>
                                  
                                  <div style="margin-bottom:0.5rem">
                                      <label>Arrival airport</label>
                                      <input type="text" name="arrival" ng-model="fl.arrival" typeahead="airport as airport.name for airport in getAirports($viewValue) | limitTo:8" typeahead-loading="arrLoading" typeahead-input-formatter="formatAirport($model)" typeahead-editable="false" required autocomplete="off" ng-class="{ loading: arrLoading }" />
                                      <!--<kk-error field="flightForm.arrival">This field is required</kk-error>-->
                                  </div>
                                  
                                  <div style="margin-bottom:0.5rem">
                                      <label>Airline</label>
                                      <input type="text" name="airline" ng-model="fl.airline" typeahead="al as al.name for al in getAirlines($viewValue) | limitTo: $scope.config.airlineAutocompleteLimit" typeahead-editable="true" autocomplete="off" typeahead-loading="airlineLoading" typeahead-input-formatter="formatAirlineInput($model)" ng-class="{ loading: airlineLoading }" typeahead-on-select="onAirlineSelect(fl, fl.airline)" required />
                                      <!--<kk-error field="flightForm.airline">This field is required</kk-error>-->
                                  </div>
                                  
                                  <div style="margin-bottom:0.5rem">
                                      <label>Fare code <a class="hint" ng-click="openBookingCodeHint()" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="fare-code-hint"><i class="fa fa-question-circle"></i></a></label>
                                      <input type="text" placeholder="A" class="booking-code uppercase" name="booking" ng-model="fl.bookingCode" required maxlength="1" ng-pattern="bookingCodePattern" />
                                      <!--<kk-error field="flightForm.booking">This field is required</kk-error>-->
                                  </div>
                                  
                                  <div ng-show="fl.more">
                                      
                                      <div style="margin-bottom:0.5rem">
                                          <label>Operating airline</label>
                                          <input type="text" name="opairline" ng-model="fl.opairline" typeahead="al as al.name for al in getAirlines($viewValue) | limitTo: $scope.config.airlineAutocompleteLimit" typeahead-editable="true" autocomplete="off" typeahead-loading="opairlineLoading" typeahead-input-formatter="formatAirlineInput($model)" ng-class="{ loading: opairlineLoading }" />
                                      </div>
                                      <div style="margin-bottom:0.5rem">
                                          <label>Departure date</label>
                                          <input type="date" />
                                      </div>
                                  </div>
                              
                                  <a style="font-size:0.875rem" ng-click="fl.more = !fl.more"><span ng-show="fl.more">Less options</span><span ng-show="!fl.more">More options</span></a>
                                  <div class="etc" style="font-size:0.75rem;line-height: 1">More options will get you more precise results.</div>
                                  
                              </div>
                              
                              <a class="add-connection solid" ng-click="addFlight(leg, 0, $index)" title="Add connecting flight (after stopover)" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="add-connection"><i class="fa fa-plus"></i> Connection</a>
                            </div>
                          
                          </div>
                          
                        </li>
                      </ul>
                      
                      <button type="button" ng-show=" calc.mode == 'multi-city' " class="small info radius" ng-click="addLeg(fare)">
                        <i class="fa fa-plus"></i> Flight
                      </button>
                      
                    </tab>
                    
                    <tab>
                      <tab-heading>
                        <i class="fa fa-plus"></i> Comparison
                      </tab-heading>
                      
                      <div class="comparison-block panel">
                          <div class="row">
                            <div class="columns medium-6">
                              <h4>Unlock flight comparison</h4>
                              <p>Sign up for free to <strong>compare mile earnings</strong> for different flights and fares.</p>
                              <a href="sign-up.html" class="button small round"><i class="fa fa-user"></i> Sign up</a>
                            </div>
                          </div>
                      </div>
                      
                    </tab>
                  </tabset>
                  
                  <div class="row">
                    <div class="columns medium-3">
                      <button class="button expand round" ng-disabled="loadingResult" ng-class="{ info: !calcForm.$valid }" type="submit" title="Calculate miles and show results" analytics-on="click" analytics-event="click" analytics-category="calculator" analytics-label="submit"><i class="fa fa-check"></i> Show miles</button>
                    </div>
                  </div>
                  
                </div>
                
                <div class="loader" ng-show="loadingResult">&nbsp;</div>
                
              </div>
              
            </form>
            
            <div class="results-wrapper" ng-if="results">
              
              <div class="row">
                <div class="columns large-10 large-centered">
              
                  <button class="button info expand radius" ng-click="hideResults()" type="button"><i class="fa fa-chevron-left"></i> Change flights</button>
                  
                  <div class="text-center results-head">
                    
                    <h3>Results</h3> 
                    
                    <h6 class="subheader"> 
                      <span class="airline-logo-mock" kk-tooltip="{{getFareFirstFlightAirline(calc.result.fares[0]).name}}">{{getFareFirstFlightAirline(calc.result.fares[0]).code}}</span>
                      <span ng-repeat="airport in calc.result.fares[0].shortItinerary">
                        <span kk-tooltip="{{airport.name}}">{{ airport.code }}</span> 
                        <i ng-if="!$last &amp;&amp; airport.direct" class="fa fa-chevron-right chev"></i>
                        <i ng-if="!$last &amp;&amp; !airport.direct" class="fa fa-ellipsis-h chev"></i> 
                      </span> 
                      <a ng-click="showFullItinerary(calc.result.fares[0])" title="Show full itinerary"><i class="fa fa-question-circle hide-for-medium-up"></i><span class="full-itinerary-label show-for-medium-up">More</span></a>
                    </h6>
                     
                  </div>
                  
                  <accordion class="compact">
                    <accordion-group is-open="accrual.open" ng-repeat="accrual in getFfpResult().accruals" ng-if="!getFareAccrual(accrual.accrualId).status">
                      <accordion-heading>
                        <div class="row">
                          <div class="columns small-8">
                            <span class="accordion-indicator">
                              <i class="fa" ng-class="{ 'fa-plus': !accrual.open, 'fa-minus': accrual.open }"></i>
                            </span>
                            {{ getFareAccrual(accrual.accrualId).name }}
                          </div>
                          <div class="columns small-4 text-right">
                            <!--<span class="miles" ng-class="{ award: !getFareAccrual(accrual.accrualId).status, status: getFareAccrual(accrual.accrualId).status }">{{ accrual.value | number : 0 }}</span>-->
                            <span class="miles award">{{ accrual.value | number : 0 }}</span>
                          </div>
                        </div>
                      </accordion-heading>
                      
                      <div class="result-leg" ng-repeat="leg in accrual.legs">
                        <div class="result-leg-head">
                          <div class="row">
                            <div class="columns small-8">
                              <div class="route">
                                <span kk-tooltip="{{ getAirport(leg.departure).name }}">{{ leg.departure }}</span> <i class="fa fa-chevron-right chev"></i> <span kk-tooltip="{{ getAirport(leg.arrival).name }}">{{ leg.arrival }}</span>
                              </div>
                            </div>
                            <div class="columns small-4 text-right">
                              <span class="miles award">{{ leg.value | number : 0 }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="result-leg-body" ng-if="leg.flights.length > 0">
                          <div class="result-flight" ng-repeat="flight in leg.flights">
                            <div class="row">
                              <div class="columns small-8">
                                <div class="route connection">
                                  <span kk-tooltip="{{ getAirport(flight.departure).name }}">{{ flight.departure }}</span> <i class="fa fa-chevron-right chev"></i> <span kk-tooltip="{{ getAirport(flight.arrival).name }}">{{ flight.arrival }}</span>
                                </div>
                              </div>
                              <div class="columns small-4 text-right">
                                <span class="miles award">{{ flight.value | number : 0 }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </accordion-group>
                  </accordion>
                  
                  <div class="sample-results-wrapper">
                    <accordion class="compact">
                      <accordion-group is-open="accrual.open" ng-repeat="accrual in getFfpResult().accruals" ng-if="getFareAccrual(accrual.accrualId).status">
                        <accordion-heading>
                          <div class="row">
                            <div class="columns small-8">
                              <span class="accordion-indicator">
                                <i class="fa" ng-class="{ 'fa-plus': !accrual.open, 'fa-minus': accrual.open }"></i>
                              </span> 
                              {{ getFareAccrual(accrual.accrualId).name }}
                            </div>
                            <div class="columns small-4 text-right">
                              <span class="miles status">Unlock</span>
                            </div>
                          </div>
                        </accordion-heading>
                      </accordion-group>
                      
                    </accordion>
                    <div class="sample-results-overlay">
                      <div class="row">
                        <div class="columns small-8 small-centered">
                          <a href="sign-up.html" class="button alert round small expand"><i class="fa fa-lock"></i> Sign up to unlock</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="columns small-9 small-centered">
                      <p class="text-center etc">How many miles I need to get <strong>free flight</strong> or <strong>next status</strong>?</p>
                    </div>
                  </div>
                  <progressbar value="sampleProgress" animate="true" type="secondary round">
                    <div class="quest-icon"><i class="fa fa-question-circle"></i></div>
                  </progressbar>
                  <p class="text-center">Sign up and <a href="sign-up.html" title="Try full version for free">check it now</a>.</p>
                  
                </div>
            
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
      
    </section>
    
    <section class="home-airlines">
      <div class="row">
        <div class="columns medium-12 text-center small-10 small-centered medium-uncentered">
          
          <h3>We include</h3>
          
          <ul class="medium-block-grid-7 small-block-grid-2">
            <li><h6 class="subheader">American Airlines</h6></li>
            <li><h6 class="subheader">British Airways</h6></li>
            <li><h6 class="subheader">Delta Airlines</h6></li>
            <li><h6 class="subheader">Etihad Airways</h6></li>
            <li><h6 class="subheader">Germanwings</h6></li>
            <li><h6 class="subheader">KLM</h6></li>
            <li><h6 class="subheader">Lufthansa</h6></li>
          </ul>
          
          <p class="etc"><a title="Check all airlines that we support" href="">See all supported airlines</a></p>
          
        </div>
      </div>
    </section>
    
    <section class="home-benefits text-center" id="home-benefits">
      
      <div class="row">
        <div class="columns large-10 large-centered">
          <h3>The first mileage calculator of this kind</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="columns large-4 medium-8 medium-offset-2 large-offset-0">
          <h5>Miles of any flight</h5>
          <p>Type in your route or flight number to know how many miles you will earn to your programs. We calculate award and status miles for every flight, including partner flights and codeshares.</p>
        </div>
        <div class="columns large-4 medium-8 medium-offset-2 large-offset-0">
          <h5>More out of loyalty</h5>
          <p>Connect your frequent flyer accounts on 30K to know which flights get you closer to the next reward or status level. Start reaping real benefits from being loyal.</p>
        </div>
        <div class="columns large-4 medium-8 medium-offset-2 end large-offset-0">
          <h5>Top programs included</h5>
          <p>Our calculator shows mileage accruals for the top frequent flyer programs in the world, covering airlines across 6 continents.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="columns medium-3 medium-centered">
          <a class="button round expand" ui-sref="sign-up"><i class="fa fa-user"></i> Sign up</a>
        </div>
      </div>
      
      <h6 class="subheader">Sign up now. it's free.</h6>
      
    </section>
    
    <section class="home-ff-info" ng-controller="HomeInfoController">
      
      <div class="row">
        <div class="columns medium-8 medium-centered">
          <h3>We are <span ng-init="initCounter(12432454, 2000)">{{ counter | number : 0 }}</span> frequent flyer members in the World. A new one every 2 seconds. That's a lot of people who could use a little help.</h3>
          <p class="lead">Most of us haven’t been maximizing our frequent flyer benefits as there was no easy way to find out how many miles different flights would earn. Millions of travelers have been earning a lot fewer miles than they should have, reaching fewer or no benefits at all.</p>
          <p class="lead">With 30K that has all changed.</p>
        </div>
      </div>
      
    </section>
    
    
    <footer>
      
      <div class="row">
        <div class="columns medium-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns medium-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    <script src="views/login/login.js"></script>
    <script src="views/home/home.js"></script>
    <script src="views/calculator/calculator-od.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>
    
    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
