<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <title>30K B2C</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/efpemjkcjaedejkodfdapnddegflnkkh" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    
    <style>
        .website-logos.paid li{
            opacity: 0.66;
        }
    
        .website-logos.paid li:first-child{
            opacity: 1;
        }
        
        .check-site{
            min-width: 8rem;
            display: inline-block;
        }
        
        .reveal-modal.survey .close-reveal-modal{
            color: #fff;
            font-size: 2rem;
        }
        
        .reveal-modal.survey h5 i{
            font-size: 1.5rem;
            margin-right: 0.5rem;
            vertical-align: text-bottom;
        }
        
        .reveal-modal.survey .note{
            color: #999;
            font-size: 0.75rem;
        }
        
        .hlight{
          color: yellow;
        }
        
        #callout-test{
          background: rgba(255, 255, 255, 0.2);
          padding: 0.75rem 0;
          margin: -0.75rem 0 0;
        }
        
        #callout-test p{
          margin-bottom: 0;
        }
        
    </style>
    
  </head>
  <body ng-controller="MainController" class="home-be" ng-cloak>
    
    <div ng-controller="HomeHeaderController">
      
      <header id="window-top">
        <div class="transparent sticky">
          
          <div class="top-bar-bg"></div>
          
          <top-bar>
            
            <ul class="title-area">
              <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
              <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
            </ul>
            
            <top-bar-section>
              <ul class="right">
                <!--<li class="has-form"><a class="button round">Add to Chrome</a></li>-->
                <li class="has-form"><button class="button round" ng-disabled="isInstalled()" ng-click="install('menu')" title="Add 30K extension to your Google Chrome browser"><span ng-show="isInstalled()"><i class="fa fa-check"></i> installed</span><span ng-hide="isInstalled()">Add to Chrome</span></button></li>
                <li><a title="Check what powers our browser extension" href="http://30k.com" target="_blank">Our API</a></li>
              </ul>
            </top-bar-section>
            
          </top-bar>
          
          <div kk-alerts key="global"></div>
          
        </div>
      </header>
    
      <section class="home-be-banner text-center">
        
        <div class="row">
          <div class="columns medium-10 medium-centered">
            <h2>See miles on</h2>
            <ul class="website-logos" ng-class="{ paid: params.pmt == 'fwo' || params.pmt == 'fwy'}">
              <li><img src="img/websites/expedia.png" alt="Expedia" /></li>
              <li><img src="img/websites/travelocity.png" alt="Travelocity" /></li>
              <li><img src="img/websites/orbitz.png" alt="Orbitz" /></li>
              <li><img src="img/websites/hotwire.png" alt="Hotwire" /></li>
              <li><img src="img/websites/cheaptickets.png" alt="Cheap Tickets" /></li>
              <li><img src="img/websites/wotif.png" alt="Wotif" /></li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="columns large-6 medium-centered medium-7">
            <p class="lead">
                Our Chrome plugin shows how many miles you can earn when you search for a flight on these websites.
            </p>
          </div>
        </div>
        
        <aside id="callout-test" ng-if="params.pmt">
          <div class="row">
            <div class="columns large-12">
              <p class="lead">
                <strong ng-if="params.pmt == 'once'" class="nowrap">
                  Access the best mileage deals! <span class="hlight">For only ${{ params.prc | number : 0 }}</span>.
                </strong>
                <strong ng-if="params.pmt == 'month'" class="nowrap">
                  Access the best mileage deals, for <span class="hlight">${{ params.prc | number : 0 }}/month</span>.
                </strong>
                <strong ng-if="params.pmt == 'year'" class="nowrap">
                  Access the best mileage deals, for <span class="hlight">${{ params.prc | number : 0 }}/year</span>.
                </strong>
                <strong ng-if="params.pmt == 'fpo'">
                  Access the best mileage deals for free! 
                  <span kk-tooltip="Personalized searches will show earnings for every flight based on your programs and respective status levels. Otherwise the earnings you get are calculated under the assumption you're a basic member with all available airlines.">Personalize searches</span> with your programs for <span class="hlight">${{ params.prc | number : 0 }}</span>!
                </strong>
                <strong ng-if="params.pmt == 'fpy'">
                  Access the best mileage deals for free! <span kk-tooltip="Personalized searches will show earnings for every flight based on your programs and respective status levels. Otherwise the earnings you get are calculated under the assumption you're a basic member with all available airlines.">Personalize searches</span> with your programs for <span class="hlight">${{ params.prc | number : 0 }}/year</span>!
                </strong>
                <strong ng-if="params.pmt == 'fwo'">
                  Access the best mileage deals! Free for Expedia. Add all websites for <span class="hlight">${{ params.prc | number : 0 }}</span>!
                </strong>
                <strong ng-if="params.pmt == 'fwy'">
                  Access the best mileage deals! Free for Expedia. All websites for <span class="hlight">${{ params.prc | number : 0 }}/year</span>!
                </strong>
              </p>
            </div>
          </div>
        </aside>
        
        <div class="row cta">
          <div class="columns large-offset-3 large-3 medium-offset-2 medium-4">
            <button class="button round white border" ng-disabled="isInstalled()" ng-click="install('banner')" title="Add 30K extension to your Google Chrome browser"><span ng-show="isInstalled()"><i class="fa fa-check"></i> Already installed</span><span ng-hide="isInstalled()">Add to Chrome</span></button>
            <h6 class="subheader" ng-if="!params.pmt">For free</h6>
            <h6 class="subheader" ng-if="params.pmt == 'once'">${{ params.prc | number : 0 }}&mdash;Buy</h6>
            <h6 class="subheader" ng-if="params.pmt == 'month'">${{ params.prc | number : 0 }}/month&mdash;Buy</h6>
            <h6 class="subheader" ng-if="params.pmt == 'year'">${{ params.prc | number : 0 }}/year&mdash;Buy</h6>
            <h6 class="subheader" ng-if="params.pmt == 'fpo'">Use for free <br />Personalize for ${{ params.prc | number : 0 }}</h6>
            <h6 class="subheader" ng-if="params.pmt == 'fpy'">Use for free <br />Personalize for ${{ params.prc | number : 0 }}/year</h6>
            <h6 class="subheader" ng-if="params.pmt == 'fwo'">Free Expedia <br />All websites ${{ params.prc | number : 0 }}</h6>
            <h6 class="subheader" ng-if="params.pmt == 'fwy'">Free Expedia <br />All websites ${{ params.prc | number : 0 }}/year</h6>
          </div>
          <div class="columns large-3 medium-4 end">
            <a class="button round transparent white" ng-click="showVideoModal()" title="See our Chrome extension live"><i class="fa fa-play"></i> Watch video</a>
          </div>
        </div>
        
        <div class="row">
          <div class="columns large-11 text-center medium-centered">
            <figure>
              <img src="img/header-be-wnd.png" alt="Flight search results with frequent flyer miles" />
            </figure>
          </div>
        </div>
        
      </section>
    
    <section class="home-be-airlines">
      <div class="row">
        <div class="columns medium-12 text-center small-10 small-centered medium-uncentered">
          
          <h3>Top programs in the World included</h3>
          
          <ul class="medium-block-grid-7 small-block-grid-2">
            <li><h6 class="subheader">American Airlines</h6></li>
            <li><h6 class="subheader">British Airways</h6></li>
            <li><h6 class="subheader">Delta Airlines</h6></li>
            <li><h6 class="subheader">Etihad Airways</h6></li>
            <li><h6 class="subheader">Germanwings</h6></li>
            <li><h6 class="subheader">KLM</h6></li>
            <li><h6 class="subheader">Lufthansa</h6></li>
          </ul>
          
          <p class="etc"><a title="Check all airlines that we support" href="">See all supported airlines</a></p>
          
        </div>
      </div>
    </section>
    
    <section class="home-be-features">
      
      <div class="row">
        <div class="columns medium-6 medium-centered text-center">
          <h3>Complete, yet simple. <br />The way it should be.</h3>
        </div>
      </div>
      
      <article class="row screen-1">
        <div class="columns medium-6">
          <div class="screen-wrapper">
            <img src="img/be-screen-1.png" alt="Screenshot: flight search results with miles" />
          </div>
        </div>
        <div class="columns medium-5 medium-offset-1">
          <div class="screen-text text-center medium-text-left">
            <h4>Miles and more miles</h4>
            <p>Know how many award and status miles, segments and points each flight earns to your memberships.</p>
          </div>
        </div>
      </article>
      
      <article class="row screen-2">
        <div class="columns medium-6 medium-push-6">
          <div class="screen-wrapper">
            <img src="img/be-screen-2.png" alt="Screenshot: list of your frequent flyer memberships" />
          </div>
        </div>
        <div class="columns medium-5 medium-pull-6">
          <div class="screen-text text-center medium-text-right">
            <h4>Track your memberships</h4>
            <p>Connect your memberships to start tracking  your status levels, miles, balances and expiration dates.<span ng-if="params.pmt == 'fpo' || params.pmt == 'fpy'">*</span></p>
            <p ng-if="params.pmt == 'fpo'"><strong>* Paid feature: ${{ params.prc | number : 0 }} / lifetime</strong></p>
            <p ng-if="params.pmt == 'fpy'"><strong>* Paid feature: ${{ params.prc | number : 0 }} / year</strong></p>
          </div>
        </div>
      </article>
      
      <article class="row screen-3">
        <div class="columns medium-6">
          <div class="screen-wrapper">
            <img src="img/be-screen-3.png" alt="Screenshot: flight with two programs to select, earning miles at the same time" />
          </div>
        </div>
        <div class="columns medium-5 medium-offset-1">
          <div class="screen-text text-center medium-text-left">
            <h4>Maximize your earnings</h4>
            <p>Switch between programs and confirm which one maximizes your earnings on that specific flight.</p>
          </div>
        </div>
      </article>
      
    </section>
    
    <div ng-init="initCounter(12432454, 2000)" ng-controller="HomeInfoController">
      
      <section class="home-be-ff-info text-center">
        
        <div class="row">
          <div class="columns large-10 large-centered">
              <hgroup>
                <h3><span>{{ counter | number : 0 }}</span> frequent flyers in the World</h3>
                <p class="lead">Helping one at a time</p>
              </hgroup>
          </div>
        </div>
        
        <div class="row">
          <div class="columns medium-4">
            <figure>
                <img src="img/ravindra.jpg" alt="Ravindra Bhagwanani" />
                <figcaption>
                    <h6>Ravindra Bhagwanani</h6>
                    <div class="user-title">Managing Director, Global Flight</div>
                    <div class="icon top"><i class="fa fa-quote-left"></i></div>
                    <blockquote>No more wasting time with airline calculators. For both beginners and experts.</blockquote>
                    <div class="icon bottom"><i class="fa fa-quote-right"></i></div>
                </figcaption>
            </figure>
          </div>
          <div class="columns medium-4">
            <figure>
                <img src="img/nicolas.jpg" alt="Nicolas Bivero" />
                <figcaption>
                    <h6>Nicolas Bivero</h6>
                    <div class="user-title">CEO, Penbrothers</div>
                    <div class="icon top"><i class="fa fa-quote-left"></i></div>
                    <blockquote>Amazing. Revolutionary. Unbelievable mileage deals now unveiled.</blockquote>
                    <div class="icon bottom"><i class="fa fa-quote-right"></i></div>
                </figcaption>
            </figure>
          </div>
          <div class="columns medium-4">
            <figure>
                <img src="img/bruno.jpg" alt="Bruno Botelho" />
                <figcaption>
                    <h6>Bruno Botelho</h6>
                    <div class="user-title">Managing Director, Sales Engine Online</div>
                    <div class="icon top"><i class="fa fa-quote-left"></i></div>
                    <blockquote>If you fly a lot but never achieve status, this is the tool you have been waiting for.</blockquote>
                    <div class="icon bottom"><i class="fa fa-quote-right"></i></div> 
                </figcaption>
            </figure>
          </div>
        </div>
        
      </section>
      
      <section class="home-be-tweet">
        
        <form novalidate>
          <div class="row">
            <div class="columns large-10">
              <h3>Help us taking these benefits to more websites</h3>
              
              <div class="textarea">
                <p class="lead"><span class="website-name">{{ getWebsiteName() }}</span> {{message}} <span class="cursor" ng-show="showCursor">|</span></p>
              </div>
              
              <div class="websites">
                <span class="nowrap" ng-repeat="site in websites"><input type="radio" name="website" ng-value="site.id" ng-attr-id="twitter-website-{{$index}}" ng-model="selected.website" ng-change="onWebsiteChange()" /> <label ng-attr-for="twitter-website-{{$index}}">{{ site.name }}</label></span> 
              </div>
              
              <a class="button blue round" analytics-on="click" analytics-event="click" analytics-category="tweet" analytics-label="{{selected.website}}" analytics-value="1" ng-href="{{twitterUrl}}" target="_blank" title="Tweet to see miles on your favourite website"><i class="fa fa-twitter"></i> Tweet to {{getWebsiteName()}}</a>
              
            </div>
          </div>
        </form>
        
      </section>
      
    </div>
    
    <footer>
      
      <div class="row">
        <div class="columns medium-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns medium-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    </div>
    
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    <script src="views/login/login.js"></script>
    <script src="views/home/home-test.js"></script>
    <script src="views/calculator/calculator.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>
    
    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
