<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C | Password recovery</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="password-recovery">
    
    <header id="window-top">
        
        <top-bar>
          
          <ul class="title-area">
            <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
          </ul>
          
        </top-bar>
        
        <div kk-alerts key="global"></div>
        
    </header>
    
    <div ng-controller="PasswordRecoveryController">
    
        <section class="dashboard-header">
            
            <div class="row">
                <div class="columns large-8 text-center large-centered">
                    
                    <div ng-show="!sent">
                        <h2>Change your password</h2>
                        <p>Type new password and confirm.</p>
                    </div>
                    <div ng-show="sent">
                        <h2>Password changed</h2>
                        <p>Log in to continue.</p>
                    </div>
                    
                </div>
            </div>
            
        </section>
        
        <section class="password-recovery">
            
            <div class="row">
                <div class="columns large-4 large-centered">
                    
                    <div kk-alerts key="password" class="radius"></div>
                    
                    <form novalidate ng-submit="submit(passwordForm)" name="passwordForm" ng-class="{ loading : loading }" ng-show="!sent">
                        
                        <label for="pass-new">New password</label>
                        <input type="password" id="pass-new" name="newPassword" ng-model="formData.password" ng-change="updatePasswordMatch(passwordForm)" required ng-minlength="8" />
                        <kk-error field="passwordForm.newPassword">Password has to be at least 8 character long</kk-error>
                        
                        <label for="pass-repeat">Repeat new password</label>
                        <input type="password" name="newPasswordRepeat" ng-model="formData.passwordRepeat" ng-change="updatePasswordMatch(passwordForm)" required />
                        <kk-error field="passwordForm.newPasswordRepeat" type="equal">Passwords do not match</kk-error>
                        
                        <button type="submit" class="round">Save</button>
                        
                    </form>
                    
                    <button type="button" class="round expand info" ng-click="logIn()" ng-show="sent">Log in</button>
                    
                </div>
            </div>
            
        </section>
    
    </div>
    
    <footer>
      
      <div class="row">
        <div class="columns medium-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns medium-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    <script src="views/login/login.js"></script>
    <script src="views/password-recovery/password-recovery.js"></script>
    
    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
