<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C | Privacy policy</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="silver">
    
    <header id="window-top">
      <div class="sticky">
        
        <div class="top-bar-bg"></div>
        
        <top-bar>
          
          <ul class="title-area">
            <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
          </ul>
          
          <top-bar-section>
            <ul class="right">
              <li><a>Our features</a></li>
              <li><a>About us</a></li>
              <li><a>30K for business</a></li>
              <li class="has-form"><a href="sign-up.html" class="button round">Sign up</a></li>
              <li class="has-form"><a ng-click="logIn()" class="button round">Log in</a></li>
              <!-- To use when user is logged in -->
              <!--<li class="has-form"><a class="button round">Log out</a></li>-->
            </ul>
          </top-bar-section>
          
        </top-bar>
        
        <div kk-alerts key="global"></div>
        
      </div>
    </header>
    
    <section class="left-col">
        <div class="row">
            <div class="columns medium-3">
                <ul class="side-nav">
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="terms.html">Terms of Use</a>
                    </li>
                    <li class="active">
                        <a href="privacy.html">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="columns medium-7 end">
                
                <article class="text">

                    <p class="lead">This Privacy Policy governs the manner in which 30K.com, Inc. collects, uses, maintains and discloses information collected from users (each, a "User") of the 'www.30K.com' website ("Site"). This privacy policy applies to the Site and all products and services offered by 30K.com, Inc.</p>
                    <h5>Personal identification information</h5>
                    <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our Site, register on the Site, subscribe to the newsletter, respond to a survey, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, and frequent flyer program information. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain site related activities.&nbsp;</p>            <h5>Non-personal identification information</h5>
                    <p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>            <h5>Web browser cookies</h5>
                    <p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>            <h5>How we use collected information</h5>
                    <p>30K.com, Inc. may collect and use Users personal information for the following purposes: To improve customer service (information you provide helps us respond to your customer service requests and support needs more efficiently); to personalize user experience (we may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site); to improve our Site (we may use feedback you provide to improve our products and services); to run a promotion, contest, survey or other Site feature; to send Users information they agreed to receive about topics we think will be of interest to them; to send periodic emails (we may use the email address to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email).</p>            <h5>How we protect your information</h5>
                    <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site. Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.</p>            <h5>Sharing your personal information</h5>
                    <p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.</p>            <h5>Third party websites </h5>
                    <p>Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.</p>            <h5>Advertising</h5>
                    <p>Ads appearing on our site may be delivered to Users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile non personal identification information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This privacy policy does not cover the use of cookies by any advertisers.</p>            <h5>Google Adsense</h5>
                    <p>Changes to this privacy policy 30K.com, Inc. has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>            <h5>Changes to this privacy policy</h5>
                    <p>30K.com, Inc. has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>            <h5>Contacting us</h5>
                    <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:</p>
                    <p>30K.com, Inc.</p>
                    <p>340 S Lemon Ave #3095 Walnut, CA 91789, U.S.A.</p>
                    <p>support@30K.com</p>
                    <p>This document was last updated on March 6, 2015</p>      
                    
                </article>
                
            </div>
        </div>
    </section>
    
    <footer>
      
      <div class="row">
        <div class="columns large-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns large-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>
    
    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
