<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C | Settings</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="account-settings">
    
    <header id="window-top">
      <div class="sticky">
        
        <div class="top-bar-bg"></div>
        
        <top-bar>
          
          <ul class="title-area">
            <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
          </ul>
          
          <top-bar-section>
            <ul class="right">
              <li><a href="dashboard.html">My programs</a></li>
              <li><a href="calculator.html">Calculate miles</a></li>
              <li><a href="settings.html">Settings</a></li>
              <li><a href="support.html">Support</a></li>
              <li class="has-form"><a class="button round" href="index.html">Log out</a></li>
            </ul>
          </top-bar-section>
          
        </top-bar>
        
        <div kk-alerts key="global"></div>
        
      </div>
      
    </header>
    
    <section class="dashboard-header">
        
        <div class="row">
            <div class="columns large-8 text-center large-centered">
                <h2>Settings</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="columns medium-4 medium-centered">
                <a class="small round expand button info" href="dashboard.html">Back to my programs</a>
            </div>
        </div>
        
    </section>
    
    <div ng-controller="SettingsController">
        <section class="account-settings">
            
            <div ng-show="loadingConfig" class="loader">&nbsp;</div>
            
            <div ng-if="sections">
                
                <form novalidate name="programsForm" ng-submit="submit(programsForm, sections.programs)" class="option" ng-class="{ loading: sections.programs.loading }">
                    
                    <div class="option-head">
                        <div class="row">
                            <div class="columns medium-6 medium-offset-2 small-8">
                                <h5>Preferred programs</h5>
                            </div>
                            <div class="columns medium-2 small-4 end">
                                <button ng-if="!sections.programs.expanded" type="button" class="tiny info expand round" ng-click="expand(sections.programs)"><i class="fa fa-pencil"></i> Edit</button>
                                <button ng-if="sections.programs.expanded" type="submit" class="tiny expand round"><i class="fa fa-check"></i> Save</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="option-body" ng-show="sections.programs.expanded">
                        <div class="row">
                            <div class="columns medium-8 medium-offset-2">
                                
                                <p class="etc">In case a flight earns miles to more than one of your programs, we will display earnings for your preferred program first. Otherwise, the program earning most miles will be displayed first.</p>
                                
                                <div ng-repeat="ffp in sections.programs.ffps">
                                    
                                    <div class="row">
                                        <div class="columns small-12 medium-3">
                                            <div class="small-only-text-center">
                                                <h6>{{ffp.name}}</h6>
                                                <p class="etc">I prioritize earnings of:</p>
                                            </div>
                                        </div>
                                        <div class="columns small-12 medium-9">
                                            
                                            <table class="alt">
                                                <thead>
                                                    <tr>
                                                        <td ng-repeat="accrual in ffp.accruals" class="text-center">{{ accrual.name }}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td ng-repeat="accrual in ffp.accruals" class="text-center"><input type="checkbox" ng-model="accrual.priority" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </form>
                
                <form novalidate name="usernameForm" ng-submit="submit(usernameForm, sections.username)" class="option" ng-class="{ loading: sections.username.loading }">
                    
                    <div class="option-head">
                        <div class="row">
                            <div class="columns medium-6 medium-offset-2 small-8">
                                <h5>User name <span><span class="value hide-for-small-only">{{sections.username.username}}</span></span></h5>
                            </div>
                            <div class="columns medium-2 small-4 end">
                                <button ng-if="!sections.username.expanded" type="button" class="tiny info expand round" ng-click="expand(sections.username)"><i class="fa fa-pencil"></i> Edit</button>
                                <button ng-if="sections.username.expanded" type="submit" class="tiny expand round"><i class="fa fa-check"></i> Save</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="option-body" ng-show="sections.username.expanded">
                        <div class="row">
                            <div class="columns medium-8 medium-offset-2">
                                <div class="row">
                                    <div class="columns medium-6">
                                        <input type="text" name="username" ng-model="sections.username.username" requred />
                                        <kk-error field="usernameForm.username">Username is required</kk-error>
                                    </div>
                                </div>
                                
                                <p class="etc">Usernames must be lowercase and cannot contain spaces. Most people choose to use their first name, last name, nickname, or some combination of those with initials.</p>
                                <p class="etc">Note that you cannot change your username more than twice per hour. Choose wisely.</p>
                                
                            </div>
                        </div>
                    </div>
                    
                </form>
                
                <form novalidate name="passwordForm" ng-submit="submit(passwordForm, sections.password)" class="option" ng-class="{ loading: sections.password.loading }">
                    
                    <div class="option-head">
                        <div class="row">
                            <div class="columns medium-6 medium-offset-2 small-8">
                                <h5>Password <span><span class="value hide-for-small-only">*****</span></span></h5>
                            </div>
                            <div class="columns medium-2 small-4 end">
                                <button ng-if="!sections.password.expanded" type="button" class="tiny info expand round" ng-click="expand(sections.password)"><i class="fa fa-pencil"></i> Edit</button>
                                <button ng-if="sections.password.expanded" type="submit" class="tiny expand round"><i class="fa fa-check"></i> Save</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="option-body" ng-show="sections.password.expanded">
                        <div class="row">
                            <div class="columns medium-8 medium-offset-2">
                                <div class="row">
                                    <div class="columns medium-6">
                                        <input type="password" placeholder="Current password" name="password" ng-model="sections.password.password" requred />
                                        <kk-error field="passwordForm.password">Current password is required</kk-error>
                                        <input type="password" placeholder="New password" name="newPassword" ng-model="sections.password.newPassword" requred ng-minlength="8" />
                                        <kk-error field="passwordForm.newPassword">Password has to be at least 8 character long</kk-error>
                                        
                                        <div class="pass-indicatior">
                                            <span ng-class="{ active: getPasswordIndicator() > 0 }"></span>
                                            <span ng-class="{ active: getPasswordIndicator() > 1 }"></span>
                                            <span ng-class="{ active: getPasswordIndicator() > 2 }"></span>
                                            <span ng-class="{ active: getPasswordIndicator() > 3 }"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns medium-3">
                                        <p class="etc pass">Can't remember your password?</p>
                                    </div>
                                    <div class="columns medium-3 end">
                                        <button class="tiny info round expand" ng-class="{ loading: resetLoading }" ng-disabled="resetLoading" type="button" ng-click="resetPassword()"><i class="fa fa-pencil"></i> Reset password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
                
                <form novalidate name="emailForm" ng-submit="submit(emailForm, sections.email)" class="option" ng-class="{ loading: sections.email.loading }">
                    
                    <div class="option-head">
                        <div class="row">
                            <div class="columns medium-6 medium-offset-2 small-8">
                                <h5>Email <span><span class="value hide-for-small-only">{{sections.email.email}}</span></span></h5>
                            </div>
                            <div class="columns medium-2 end small-4">
                                <button ng-if="!sections.email.expanded" type="button" class="tiny info expand round" ng-click="expand(sections.email)"><i class="fa fa-pencil"></i> Edit</button>
                                <button ng-if="sections.email.expanded" type="submit" class="tiny expand round"><i class="fa fa-check"></i> Save</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="option-body" ng-show="sections.email.expanded">
                        <div class="row">
                            <div class="columns medium-8 medium-offset-2">
                                <div class="row">
                                    <div class="columns large-6">
                                        <input type="email" name="email" ng-model="sections.email.email" requred />
                                        <kk-error field="emailForm.email">Email format is invalid</kk-error>
                                        <input type="password" placeholder="Current password" name="password" ng-model="sections.email.password" requred />
                                        <kk-error field="passwordForm.password">Current password is required</kk-error>
                                    </div>
                                </div>
                                
                                <p class="etc">We will not use your email for marketing email for any 3rd party companies. <br />You can edit your email notification settings to the left</p>
                                
                            </div>
                        </div>
                    </div>
                    
                </form>
                
                <form novalidate name="locationForm" ng-submit="submit(locationForm, sections.location)" class="option" ng-class="{ loading: sections.location.loading }">
                    
                    <div class="option-head">
                        <div class="row">
                            <div class="columns medium-6 medium-offset-2 small-8">
                                <h5>Your location <span><span class="value hide-for-small-only">{{sections.location.location.name}}</span></span></h5>
                            </div>
                            <div class="columns medium-2 end small-4">
                                <button ng-if="!sections.location.expanded" type="button" class="tiny info expand round" ng-click="expand(sections.location)"><i class="fa fa-pencil"></i> Edit</button>
                                <button ng-if="sections.location.expanded" type="submit" class="tiny expand round"><i class="fa fa-check"></i> Save</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="option-body" ng-show="sections.location.expanded">
                        <div class="row">
                            <div class="columns medium-8 medium-offset-2">
                                
                                <div class="row">
                                    <div class="columns large-8">
                                        <input type="text" ng-class="{ loading: airportLoading }" id="user-location" name="location" ng-model="sections.location.location" typeahead="city as city.name for city in getAirports($viewValue) | limitTo:8" typeahead-editable="false" required autocomplete="off" typeahead-input-formatter="formatAirport($model)" typeahead-loading="airportLoading" />
                                        <kk-error field="locationForm.location">Location city is required</kk-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </form>
                
                <form novalidate name="goalForm" ng-submit="submit(goalForm, sections.goal)" class="option" ng-class="{ loading: sections.goal.loading }">
                    
                    <div class="option-head">
                        <div class="row">
                            <div class="columns medium-6 medium-offset-2 small-8">
                                <h5>Redemption desire <span ng-show="sections.goal.departure &amp;&amp; sections.goal.arrival"><span class="value hide-for-small-only">{{sections.goal.departure.code}} &rsaquo; {{sections.goal.arrival.code}}</span></span></h5>
                            </div>
                            <div class="columns medium-2 end small-4">
                                <button ng-if="!sections.goal.expanded" type="button" class="tiny info expand round" ng-click="expand(sections.goal)"><i class="fa fa-pencil"></i> Edit</button>
                                <button ng-if="sections.goal.expanded" type="submit" class="tiny expand round"><i class="fa fa-check"></i> Save</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="option-body" ng-show="sections.goal.expanded">
                        <div class="row">
                            <div class="columns medium-8 medium-offset-2">
                                
                                <div class="row">
                                    <div class="columns large-8">
                                        
                                        <p class="etc">I would like to redeem my miles for:</p>
                                        
                                        <select ng-options="type.id as type.name for type in config.awardTypes" ng-model="sections.goal.awardType" name="rewardType" required></select>
                                        <kk-error field="goalForm.rewardType">Select type of reward</kk-error>
                                        
                                        <label for="fl-dep">From:</label>
                                        <input type="text" ng-class="{ loading: depLoading }" name="departure" id="fl-dep" ng-model="sections.goal.departure" typeahead="city as city.name for city in getAirports($viewValue) | limitTo:8" typeahead-editable="false" required autocomplete="off" typeahead-input-formatter="formatAirport($model)" typeahead-loading="depLoading" />
                                        <kk-error field="goalForm.departure">Departure city is required</kk-error>
                                        
                                        <label for="fl-arr">To:</label>
                                        <input type="text" ng-class="{ loading: arrLoading }" name="arrival" id="fl-arr" ng-model="sections.goal.arrival" typeahead="city as city.name for city in getAirports($viewValue) | limitTo:8" typeahead-editable="false" required autocomplete="off" typeahead-input-formatter="formatAirport($model)" typeahead-loading="arrLoading" />
                                        <kk-error field="goalForm.arrival">Arrival city is required</kk-error>
                                        
                                        <label for="fl-cab">In cabin:</label>
                                        <select name="cabin" id="fl-cab" ng-model="sections.goal.cabin" ng-options="cab.id as cab.name for cab in config.cabins" required></select>
                                        <kk-error field="goalForm.cabin">Number is invalid</kk-error>
                                        
                                        <label for="fl-pax">For number of passengers:</label>
                                        <input type="number" name="pax" id="fl-pax" ng-model="sections.goal.people" required />
                                        <kk-error field="goalForm.pax">Number is invalid</kk-error>
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </form>
                
                <form novalidate name="accountForm" ng-submit="submit(accountForm, sections.account)" class="option" ng-class="{ loading: sections.account.loading }">
                    
                    <div class="option-head">
                        <div class="row">
                            <div class="columns medium-6 medium-offset-2 small-8">
                                <h5>Delete account</h5>
                            </div>
                            <div class="columns medium-2 end small-4">
                                <button ng-if="!sections.account.expanded" type="button" class="tiny info expand round" ng-click="expand(sections.account)">Delete</button>
                                <button ng-if="sections.account.expanded" type="submit" class="tiny expand round"><i class="fa fa-check"></i> Confirm</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="option-body" ng-show="sections.account.expanded">
                        <div class="row">
                            <div class="columns medium-8 medium-offset-2">
                                
                                <div class="row">
                                    <div class="columns large-8">
                                        <p>Do you want to delete your account?</p>
                                        <p class="etc">There is no undo! Type your password into the field to confirm.</p>
                                        <input type="password" id="user-account" name="account" ng-model="sections.account.password" required />
                                        <kk-error field="accountForm.account">Password is required</kk-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </form>
                
            </div>
            
        </section>
        
        <div ng-show="account.deleted" id="account-deleted-overlay">
            <div class="row">
                <div class="columns large-12">
                    <h3>Account deleted</h3>
                    <p class="lead">{{ account.message }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
      
      <div class="row">
        <div class="columns large-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns large-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    <script src="views/account/account.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>

    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
