<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website" />
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C | Signup</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="sign-up">
    
    <header id="window-top">
        
        <div>
            <div class="top-bar-bg"></div>
            
            <top-bar>
              
              <ul class="title-area">
                <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
              </ul>
              
            </top-bar>
        
            <div kk-alerts key="global"></div>
        </div>
        
    </header>
    
    <section class="sign-up-form sign-up-wrapper" ng-controller="SignUpController">
        <div class="row">
            <div class="columns medium-8 medium-centered small-full-width">
                
                <div class="panel callout">
                    <h3>Sign up</h3>
                    <p>Sign up today to access everything. It's still free!</p>
                </div>
                
                <div class="panel form">
                    
                    <h3>Register with</h3>
                    <ul class="inline-list vendors">
                        <li><a href="sign-up-ffp.html"><img src="img/facebook.png" alt="Facebook" /></a></li>
                        <li><a id="google-auth2-btn"><img src="img/google.png" alt="Google" /></a></li>
                        <li><a href="sign-up-ffp.html"><img src="img/linkedin.png" alt="LinkedIn" /></a></li>
                        <li><a href="sign-up-ffp.html"><img src="img/twitter.png" alt="Twitter" /></a></li>
                    </ul>
                    
                    <h3>Or sign up below</h3>
                    
                    <form novalidate ng-submit="submit(signupForm)" name="signupForm">
                        
                        <div kk-alerts class="radius" key="signup"></div>
                        
                        <div class="row">
                            <div class="columns medium-8">
                                
                                <label for="user-name">Your name</label>
                                <input type="text" id="user-name" name="username" ng-model="user.name" required />
                                <kk-error field="signupForm.username">This field is required</kk-error>
                                
                                <label for="user-email">Your email address</label>
                                <input type="email" id="user-email" name="email" ng-model="user.email" required />
                                <kk-error field="signupForm.email" type="email">Email format is invalid</kk-error>
                                <kk-error field="signupForm.email" type="required">This field is required</kk-error>
                                
                                <label for="user-pass">Password</label>
                                <input type="password" id="user-pass" name="password" ng-model="user.password" required ng-minlength="8" autocomplete="off" />
                                <kk-error field="signupForm.password">Password has to contain at least 8 characters</kk-error>
                                
                                <label for="user-location">Your nearest airport</label>
                                <input type="text" id="user-location" name="location" ng-model="user.location" typeahead="airport as airport.name for airport in getAirports($viewValue) | limitTo:8" typeahead-loading="airportsLoading" typeahead-input-formatter="formatAirport($model)" typeahead-editable="false" required autocomplete="off" ng-class="{ loading: airportsLoading }" />
                                <kk-error field="signupForm.location">This field is required</kk-error> 
                                  
                            </div>
                        </div>
                        
                        <p class="etc">By signing up you agree to the <a target="_blank">terms & conditions</a> of 30k.com</p>
                        
                        <div class="row">
                            <div class="columns large-3">
                                <button type="submit" class="round expand" ng-disabled="loading">Sign up</button>
                            </div>
                        </div>
                        
                    </form>
                    
                    <div class="loader" ng-show="loading">&nbsp;</div>
                </div>
                
                <div class="panel info">
                    <p class="etc">We reserve the right to change this User Agreement from time to time without notice. You acknowledge and agree that it is your responsibility to review this User Agreement periodically to familiarize yourself with any modifications. Your continued use of this site after such modifications will constitute acknowledgment and agreement of the modified terms and conditions.</p>
                </div>
                
            </div>
        </div>
    </section>
    
    <footer>
      
      <div class="row">
        <div class="columns large-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns large-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    <script src="views/signup/signup.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>
    
    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
