<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.b2c" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="30k.b2c" class="no-js"> <!--<![endif]-->

  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="30K B2C Website">
    
    <meta name="google-signin-client_id" content="885580077836-1gcqsco569l4ktj8fgspjbp1fsjo7rde.apps.googleusercontent.com" />
    
    <title>30K B2C | Terms of use</title>
    
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <script src="bower_components/modernizr/modernizr.js"></script>
    
  </head>
  <body ng-controller="MainController" class="silver">
    
    <header id="window-top">
      <div class="sticky">
        
        <div class="top-bar-bg"></div>
        
        <top-bar>
          
          <ul class="title-area">
            <li class="name"><h1><a href="index.html"><img src="img/logo.png" alt="30K" /></a></h1></li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
          </ul>
          
          <top-bar-section>
            <ul class="right">
              <li><a>Our features</a></li>
              <li><a>About us</a></li>
              <li><a>30K for business</a></li>
              <li class="has-form"><a href="sign-up.html" class="button round">Sign up</a></li>
              <li class="has-form"><a ng-click="logIn()" class="button round">Log in</a></li>
              <!-- To use when user is logged in -->
              <!--<li class="has-form"><a class="button round">Log out</a></li>-->
            </ul>
          </top-bar-section>
          
        </top-bar>
        
        <div kk-alerts key="global"></div>
        
      </div>
    </header>
    
    <section class="left-col">
        <div class="row">
            <div class="columns medium-3">
                <ul class="side-nav">
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li class="active">
                        <a href="terms.html">Terms of Use</a>
                    </li>
                    <li>
                        <a href="privacy.html">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="columns medium-7 end">
                
                <article class="text">
                    
                    <p class="lead">Welcome to www.30K.com. This website is owned and operated by 30K.com, Inc. By visiting our website and accessing the information, resources, services, products and tools we provide, you understand and agree to accept and adhere to the following terms and conditions as stated in this policy (thereafter referred to as 'User Agreement').</p>
                    
                    <h5>
                        1.
                        Introduction 
                    </h5>
                    <p>Welcome to www.30K.com. This website is owned and operated by 30K.com, Inc.. By visiting our website and accessing the information, resources, services, products, and tools we provide, you understand and agree to accept and adhere to the following terms and conditions as stated in this policy (hereafter referred to as 'User Agreement').</p>
                    <h5>
                        2.
                        This agreement is in effect as of March 6, 2015 
                    </h5>
                    <p>We reserve the right to change this User Agreement from time to time without notice. You acknowledge and agree that it is your responsibility to review this User Agreement periodically to familiarize yourself with any modifications. Your continued use of this site after such modifications will constitute acknowledgment and agreement of the modified terms and conditions.</p>
                    <h5>
                        3.
                        Responsible Use and Conduct 
                    </h5>
                    <p>By visiting our website and accessing the information, resources, services, products, and tools we provide for you, either directly or indirectly (hereafter referred to as 'Resources'), you agree to use these Resources only for the purposes intended as permitted by (a) the terms of this User Agreement, and (b) applicable laws, regulations and generally accepted online practices or guidelines.</p>
                    <h5>
                        4.
                        Wherein, you understand that: 
                    </h5>
                    <p><strong>a.</strong> In order to access our Resources, you may be required to provide certain information about yourself (such as identification, contact details, etc.) as part of the registration process, or as part of your ability to use the Resources. You agree that any information you provide will always be accurate, correct, and up to date.</p>
                    <p><strong>b.</strong> You are responsible for maintaining the confidentiality of any login information associated with any account you use to access our Resources. Accordingly, you are responsible for all activities that occur under your account/s.</p>
                    <p><strong>c.</strong> Accessing (or attempting to access) any of our Resources by any means other than through the means we provide, is strictly prohibited. You specifically agree not to access (or attempt to access) any of our Resources through any automated, unethical or unconventional means.</p>
                    <p><strong>d.</strong> Engaging in any activity that disrupts or interferes with our Resources, including the servers and/or networks to which our Resources are located or connected, is strictly prohibited.</p>
                    <p><strong>e.</strong> Attempting to copy, duplicate, reproduce, sell, trade, or resell our Resources is strictly prohibited.</p>
                    <p><br><strong>f.</strong> You are solely responsible any consequences, losses, or damages that we may directly or indirectly incur or suffer due to any unauthorized activities conducted by you, as explained above, and may incur criminal or civil liability.</p>
                    <p><strong>g.</strong> We may provide various open communication tools on our website, such as blog comments, blog posts, public chat, forums, message boards, newsgroups, product ratings and reviews, various social media services, etc. You understand that generally we do not pre-screen or monitor the content posted by users of these various communication tools, which means that if you choose to use these tools to submit any type of content to our website, then it is your personal responsibility to use these tools in a responsible and ethical manner. By posting information or otherwise using any open communication tools as mentioned, you agree that you will not upload, post, share, or otherwise distribute any content that:</p>
                    <p><br>i. Is illegal, threatening, defamatory, abusive, harassing, degrading, intimidating, fraudulent, deceptive, invasive, racist, or contains any type of suggestive, inappropriate, or explicit language;</p>
                    <p>ii. Infringes on any trademark, patent, trade secret, copyright, or other proprietary right of any party;</p>
                    <p>iii. Contains any type of unauthorized or unsolicited advertising;</p>
                    <p>iiii. Impersonates any person or entity, including any www.30K.com employees or representatives. We have the right at our sole discretion to remove any content that, we feel in our judgment does not comply with this User Agreement, along with any content that we feel is otherwise offensive, harmful, objectionable, inaccurate, or violates any 3rd party copyrights or trademarks. We are not responsible for any delay or failure in removing such content. If you post content that we choose to remove, you hereby consent to such removal, and consent to waive any claim against us.</p>
                    <p><strong>h.</strong> You agree to indemnify and hold harmless 30K.com, Inc. and its parent company and affiliates, and their directors, officers, managers, employees, donors, agents, and licensors, from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of this User Agreement or the failure to fulfill any obligations relating to your account incurred by you or any other person using your account. We reserve the right to take over the exclusive defense of any claim for which we are entitled to indemnification under this User Agreement. In such event, you shall provide us with such cooperation as is reasonably requested by us.</p>
                    <p><strong>i.</strong> 30K.com, Inc. is neither related to nor licensed by the owners or operators of any reward program. 30K.com, Inc. merely acts as an authorized agent for you to collect, tabulate points/miles you have earned under these reward programs and analyze the status and value of such points/miles.</p>
                    <p><strong>j.</strong> The name appearing on your credit or debit card statement may be present as the name of the airline, or "Mystifly", or similar, or a combination of these.</p><p></p>
                    <h5>
                        5.
                        Limitation of Warranties 
                    </h5>
                    <p>By using our website, you understand and agree that all Resources we provide are "as is" and "as available". This means that we do not represent or warrant to you that:</p>
                    <p>i) the use of our Resources will meet your needs or requirements.</p>
                    <p>ii) the use of our Resources will be uninterrupted, timely, secure or free from errors.</p>
                    <p>iii) the quality, quantity, completeness, accuracy, availability, or speed of the 30K service, or make any other representation about the information we display, including but not limited to: process, schedules, fares, photographs, seat availability, aircraft types, airline names, frequent flyer mile earning, frequent flyer programs, or the help we provide via telephone or email.</p>
                    <p>iv) any defects in the operation or functionality of any Resources we provide will be repaired or corrected. Furthermore, you understand and agree that:</p>
                    <p>v) it is further understood and agreed that 30K.com, Inc. has no control over, and no duty to edit or review for accuracy or appropriateness any information and/or data provided by you and/or information provided by any supplier offering the reward programs (Third Party Suppliers). 30K.com, Inc. does not provide any warranty whatsoever, neither on behalf of itself nor on behalf of any Third Party Supplier, with respect to any reward program or any services of Third Party Suppliers. It is hereby made explicitly clear that 30K.com, Inc. shall not be held responsible for any acts and/or omissions on the part of any Third Party Supplier.</p>
                    <p>vi) any content downloaded or otherwise obtained through the use of our Resources is done at your own discretion and risk, and that you are solely responsible for any damage to your computer or other devices for any loss of data that may result from the download of such content.</p>
                    <p>vii) no information or advice, whether expressed, implied, oral or written, obtained by you from 30K.com, Inc. or through any Resources we provide shall create any warranty, guarantee, or conditions of any kind, except for those expressly outlined in this User Agreement.</p>
                    <h5>
                        6.
                        Limitation of Liability 
                    </h5>
                    <p>In conjunction with the Limitation of Warranties as explained above, you expressly understand and agree that any claim against us shall be limited to the amount you paid, if any, for use of products and/or services. 30K.com, Inc. will not be liable for any direct, indirect, incidental, consequential or exemplary loss or damages which may be incurred by you as a result of using our Resources, or as a result of any changes, data loss or corruption, cancellation, loss of access, or downtime to the full extent that applicable limitation of liability laws apply.</p>
                    <h5>
                        7.
                        Copyrights/Trademarks 
                    </h5>
                    <p>All content and materials available on www.30K.com, including but not limited to text, graphics, website name, code, images and logos are the intellectual property of 30K.com, Inc., and are protected by applicable copyright and trademark law. Any inappropriate use, including but not limited to the reproduction, distribution, display or transmission of any content on this site is strictly prohibited, unless specifically authorized by 30K.com, Inc..</p>
                    <h5>
                        8.
                        Termination of Use 
                    </h5>
                    <p>You agree that we may, at our sole discretion, suspend or terminate your access to all or part of our website and Resources with or without notice and for any reason, including, without limitation, breach of this User Agreement. Any suspected illegal, fraudulent or abusive activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities. Upon suspension or termination, your right to use the Resources we provide will immediately cease, and we reserve the right to remove or delete any information that you may have on file with us, including any account or login information.</p>
                    <h5>
                        9.
                        Governing Law 
                    </h5>
                    <p>This website is controlled by 30K.com, Inc. from our offices located in the state of California, USA. It can be accessed by most countries around the world. As each country has laws that may differ from those of California, by accessing our website, you agree that the statutes and laws of California, without regard to the conflict of laws and the United Nations Convention on the International Sales of Goods, will apply to all matters relating to the use of this website and the purchase of any products or services through this site. Furthermore, any action to enforce this User Agreement shall be brought in the federal or state courts located in USA, California You hereby agree to personal jurisdiction by such courts, and waive any jurisdictional, venue, or inconvenient forum objections to such courts.</p>
                    <h5>
                        10.
                        Guarantee 
                    </h5>
                    <p>UNLESS OTHERWISE EXPRESSED, 30K.com, Inc. EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
                    <h5>
                        11.
                        Contact Information 
                    </h5>
                    <p>If you have any questions or comments about these our Terms of Service as outlined above, you can contact us at: 30K.com, Inc. 340 S Lemon Ave #3095 Walnut, California 91789 USA</p>
                </article>
                
            </div>
        </div>
    </section>
    
    <footer>
      
      <div class="row">
        <div class="columns large-8">
          <div class="row">
            
            <div class="columns large-3 medium-4 small-5">
              <ul class="side-nav">
                <li>
                    <a title="Press">Press</a>
                </li>
                <li>
                    <a title="30K Blog">Our Blog</a>
                </li>
                <li>
                    <a title="Meet our crew">About us</a>
                </li>
                <li>
                    <a title="Contact us">Contact us</a>
                </li>
              </ul>
            </div>
            
            <div class="columns large-3 medium-4 small-5 large-offset-1 medium-offset-1 small-offset-1 end">
              <ul class="side-nav">
                <li>
                    <a title="Frequently Asked Questions">FAQ</a>
                </li>
                <li class="secondary">
                    <a title="Terms and conditions">Terms of use</a>
                </li>
                <li class="secondary">
                    <a title="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="secondary">
                    <a title="Programs">Programs</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="columns large-4">
          
          <ul class="socials small-only-text-left">     
            <li>
                <a title="30K on Facebook" href="https://www.facebook.com/30kcom">
                    <img alt="Facebook" src="img/icon-fb.png">
                </a>
            </li>
            <li>
                <a title="30K on Twitter" href="https://twitter.com/30kdotcom">
                    <img alt="Twitter" src="img/icon-twitter.png">
                </a>
            </li>
            <li>
                <a title="30K on Google+" href="https://plus.google.com/+30kdotcom/posts">
                    <img alt="Google+" src="img/icon-google-plus.png">
                </a>
            </li>
            <li>
                <a title="30K on AngelList" href="https://angel.co/30k">
                    <img alt="AngelList" src="img/angel-icon.png">
                </a>
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="bottom">
        <div class="row">
            <div class="columns large-5">
                <p>Made with <img src="img/icon-black-heart.png" alt="love" /> while <img src="img/icon-black-plane.png" alt="flying" /> around the <img src="img/icon-black-globe.png" alt="globe" /></p>
                <p class="copyright">&copy;2015 30K.COM INC. All rights reserved.</p>
            </div>
        </div>
      </div>
      
    </footer>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    
    <!-- Remove this script on production as well as module declaration from js/app.js -->
    <script src="bower_components/angulartics/dist/angulartics-debug.min.js"></script>
    
    <script src="components/tooltip/tooltip.js"></script>
    <script src="components/error/error.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/service/service.js"></script>
    <script src="components/focus/focus.js"></script>
    
    <script src="js/app.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558e2d6878becd08" async="async"></script>
    
    <script src="https://apis.google.com/js/client.js"></script>
    
  </body>
</html>
