<tr>
    <th rowspan="2"><input type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="'all'" ng-false-value="'none'" /></th>
    <th rowspan="2"></th>
    <th rowspan="2" class="text-left">Id</th>
    <th rowspan="2">Rules</th>
    <th rowspan="2" class="text-left">Name</th>
    <th colspan="2">Type</th>
    <th colspan="2">Fare codes</th>
    <th colspan="2">One way</th>
    <th colspan="2"><abbr title="Taxes, fees, charges">Taxes, fees&hellip;</abbr></th>
    <th rowspan="2">Apply to</th>
    <th rowspan="2"><abbr title="Season Dates">SD</abbr></th>
    <th rowspan="2"><abbr title="Codeshare Rule Modification">CRM</abbr></th>
    <th rowspan="2"><abbr title="Excluded dates">Excl. dates</abbr></th>
    <th rowspan="2">For leg</th> 
    <th rowspan="2"><abbr title="Geographical rules">Geo.</abbr></th>
    <th rowspan="2" colspan="4"></th>
</tr>
<tr>
    <th>From</th>
    <th>To</th>
    <th class="text-right">From</th>
    <th class="text-right">To</th>
    <th class="text-right">From</th>
    <th class="text-right">To</th>
    <th class="text-right">From</th>
    <th class="text-right">To</th>
</tr>