<section id="ffp-upgrade-collection">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup>
                <h1>Upgrade rules</h1>
                <h4 class="subheader">{{ffp.name}}</h4>
            </hgroup>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li kk-nav route="awards" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Redemption rules</a>
                </li>
                <li class="current" kk-nav route="upgrades" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Upgrade rules</a>
                </li>
            </ul>
            
            <div ng-if="items &amp;&amp; ffp">
                <div ng-if="items.length > 0">
                    
                    <form name="rulesForm" novalidate ng-submit="saveItems(rulesForm)" id="item-form">
                        <div kk-fixed-block attach-to="#item-form">
                            <div class="button-bar" id="item-toolbar">
                                <ul class="button-group">
                                    <li><a class="tiny button" kk-nav route="newUpgrade" ng-attr-param-ffpid="{{ ffp.id }}"><i class="fi-plus"></i> Add new</a></li>
                                </ul>
                                <ul class="button-group">
                                    <li><button type="button" ng-click="cloneItems()" ng-disabled="selected.items.length <= 0" class="tiny button secondary"><i class="fi-page-copy"></i> Clone</button></li>
                                </ul>
                                <ul class="button-group">
                                    <li><button type="button" ng-click="deleteItems()" ng-disabled="selected.items.length <= 0" class="tiny button secondary"><i class="fi-x"></i> Delete</button></li>
                                </ul>
                                <ul class="button-group right">
                                    <li><a class="tiny button radius secondary" kk-nav route="awards" ng-attr-param-ffpid="{{ ffp.id }}"><i class="fi-trophy"></i> Show award rules</a></li>
                                </ul>
                            </div>
                        </div>
                        <table class="highlight">
                            <thead kk-fixed-table-header template="ffp-cms/upgrades/table-header.html?v=1" table-data="{ items: items, config: config, ffp: ffp }" attach-to="#ffp-upgrade-collection" after="#item-toolbar"></thead>
                            <tbody>
                                <tr ng-repeat-start=" item in items " ng-init="initItemRow(item, this)">
                                    <td>
                                        <input type="checkbox" checklist-model="selected.items" checklist-value="item" />
                                    </td>
                                    <td>
                                        {{ ($index + 1) | number : 0 }}
                                    </td>
                                    <th class="text-left nowrap" ng-class="getRuleIdClass(item)">
                                        <i class="fi-clock" ng-if="item.purchase.from || item.purchase.until || item.flight.from || item.flight.until" kk-tooltip="ffp-cms/rules/tooltip-validity.html" tooltip-data="item"></i> 
                                        <span kk-tooltip="ffp-cms/rules/tooltip-comment.html" tooltip-data="item" tooltip-if="item.comment.length > 0">{{ item.code }}</span>
                                    </th>
                                    <td>
                                        {{ (item.rules) | sumArraysLength:'items' | number : 0 }}
                                    </td>
                                    <td class="text-left">
                                        {{ (ffp.redemptions | find : item.name).name }}
                                    </td>
                                    <td class="text-left">
                                        <div>{{ (config.fareFamilies | find : item.fromFareFamily).name }}</div>
                                        <div class="branded-fare" ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length > 0 &amp;&amp; brandedFares.length > 0">
                                            <span ng-if="item.brandedFares.length == 1">{{ ((brandedFares | find : item.airline.code : 'code').brandedFares | find : item.brandedFares[0] : 'code').name }}</span>
                                            <span ng-if="item.brandedFares.length > 1">{{ item.brandedFares.length }} branded fares</span>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        {{ (config.fareFamilies | find : item.toFareFamily).name }} 
                                    </td>
                                    <td class="text-left fare-codes">
                                        <span class="label success radius" ng-repeat="fare in item.fromFareCodes.split('')">{{fare}}</span>
                                    </td>
                                    <td class="text-left fare-codes">
                                        <span class="label success radius" ng-repeat="fare in item.toFareCodes.split('')">{{fare}}</span>
                                    </td>
                                    <td class="text-right">
                                        {{ getRuleOneWay(rules, 'min') | number : 0 }}
                                    </td>
                                    <td class="text-right">
                                        {{ getRuleOneWay(rules, 'max') | number : 0 }}
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in rules | orderBy : 'tfc' | limitTo: 1 ">{{ rule.tfc | number : 0 }}</span>
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in rules | orderBy : 'tfc': true | limitTo: 1 ">{{ rule.tfc | number : 0 }}</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td ng-init="initCodeshareTooltipData(this)">
                                        <span kk-tooltip="ffp-cms/rules/tooltip-codeshare.html" tooltip-data="codeshareTooltipData">
                                            <i ng-class="{ 'fi-check success': areCodeshareRulesDirty(item), 'fi-x alert': !areCodeshareRulesDirty(item) }"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <i ng-class="{ 'fi-check success': item.excludedDates.length > 0, 'fi-x alert': item.excludedDates.length <= 0 }"></i>
                                    </td>
                                    <td></td>
                                    <td>
                                        <span ng-if="item.geographicalRules.length > 0 || item.codedConditions.length > 0" class="label" kk-tooltip="ffpcms/templates/GeoTooltip" tooltip-data="item" tooltip-if="item.geographicalRules.length > 0 || item.codedConditions.length > 0">{{ item.geographicalRules.length +  item.codedConditions.length }}</span>
                                        <span ng-if="item.geographicalRules.length <= 0 && item.codedConditions.length <= 0" class="label secondary">0</span>
                                    </td>
                                    <td class="action">
                                        <a ng-if="!item.expanded" title="Expand" ng-click="expand(item)"><i class="fi-arrow-down"></i></a>
                                        <a ng-if="item.expanded" title="Collapse" ng-click="collapse(item)"><i class="fi-arrow-up"></i></a>
                                    </td>
                                    <td class="action"><a title="Edit" kk-nav route="editUpgrade" ng-attr-param-ffpid="{{ffp.id}}" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                    <td class="action"><a ng-click="cloneItem($index)" title="Clone award rule"><i class="fi-page-copy"></i></a></td>
                                    <td class="action alert"><a title="Delete" ng-click="deleteItem(item)"><i class="fi-x"></i></a></td>
                                </tr>
                                <tr ng-repeat-end ng-if="item.expanded" ng-repeat="rule in rules" ng-class="{ last: $last }">
                                    <td colspan="3"></td>
                                    <td>{{ ($index + 1) | number : 0 }}</td>
                                    <td class="text-left">{{ rule.name }}</td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2" ng-if="!rule.gril || rule.gril.length <= 0" class="nowrap">
                                        {{ rule.rangeFrom | number : 0 }} &ndash; {{ rule.rangeTo | number : 0 }}
                                    </td>
                                    <td colspan="2" ng-if="rule.gril &amp;&amp; rule.gril.length > 0 ">
                                        <span class="label" kk-tooltip="ffp-cms/awards/tooltip-gril.html" tooltip-data="rule">{{ rule.gril.length }}</span>
                                    </td>
                                    <td colspan="2" class="text-right">
                                        <span ng-if="rule.oneWay">{{ rule.oneWay | number : 0 }}</span>
                                        <span ng-if="!rule.oneWay &amp;&amp; rule.factor">{{ rule.factor | number : 0 }}</span>
                                    </td>
                                    <td colspan="2" class="text-right">
                                        {{ rule.tfc | number : 0 }}
                                    </td>
                                    <td class="apply-to">
                                        <span class="label success radius" ng-if="areAllTiersIncluded(rule.applyToTiers)">All</span>
                                        <span class="label secondary radius" ng-if="!areAllTiersIncluded(rule.applyToTiers) &amp;&amp; rule.applyToTiers.length > 0" ng-repeat="tier in getAppliedTiers(rule.applyToTiers)">{{ tier.name }}</span>
                                        <span ng-if="getAppliedTiers(rule.applyToTiers).length <= 0"><i class="fi-x"></i></span>
                                    </td>
                                    <td>
                                        <i ng-class="{ 'fi-check success': rule.seasonalDates.length > 0, 'fi-x alert': rule.seasonalDates.length <= 0 } "></i>
                                    </td>
                                    <td colspan="2"></td>
                                    <td>
                                        <i ng-class="{ 'fi-check success': rule.forLeg, 'fi-x alert': !rule.forLeg } "></i>
                                    </td>
                                    <td colspan="5"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    
                    <form novalidate name="paginForm">
                        <div class="row">
                            <div class="columns large-8">
                                <pagination total-items="paged.totalItems" page="paged.page" items-per-page="paged.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)"></pagination>
                            </div>
                            <div class="columns large-3">
                                <div class="row">
                                    <div class="columns small-8">
                                        <label for="items-per-page" class="inline right">Items per page:</label>
                                    </div>
                                    <div class="columns small-4">
                                        <select required name="itemsPerPage" id="items-per-page" ng-model="paged.itemsPerPage" ng-change="onItemsPerPageChange()" ng-options=" ipp for ipp in config.pagination.allowed "></select>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no defined upgrade rules. Create a <a kk-nav route="newUpgrade" ng-attr-param-ffpid="{{ffp.id}}">first one</a></p>
                </div>
            </div>
        </div>
    </div>
    
</section>