<section id="online-tool-collection">
    
    <div class="row">
        <div class="columns large-12">
            <h1>Online Tools</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li class="current" kk-nav route="onlineTools">
                    <a>Online Tools</a>
                </li>
            </ul>
            <div ng-if="tools">
                <div ng-if="tools.length > 0">
                    
                    <ul class="small-block-grid-5">
                        <li ng-repeat="tool in tools">
                            <ul class="pricing-table">
                                <li class="title">{{ tool.name }}</li>
                                <li class="price"><i class="fi-widget"></i></li>
                                <li class="description">{{ tool.description }}</li>
                                <li class="cta-button"><a class="button" target="_blank" ng-href="{{ tool.externalUrl }}">Open</a></li>
                            <ul>
                        </li>
                    </ul>
                    
                </div>
                <div ng-if="tools.length <= 0">
                    <p>There are no available online tools yet.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>