<form ng-attr-action="{{action}}" ng-upload="onUploaded(content)" class="kk-uploader">
    <input type="file" name="file"></input>
    <input type="hidden" ng-attr-value="{{value}}" ng-attr-name="{{key}}" ng-repeat="(key, value) in params" />
    <button type="button" ng-class="btnClass" ng-click="upload()" ng-disabled="loading"><span ng-transclude></span></button>
</form>