.kk-uploader{
    margin: 0;
    display: inline;
}

.kk-uploader input[type="file"]{
    display: none;
}

.kk-uploader button.loading{
    padding-right: 36px;
    background-image: url(../../img/ajax-loader-plain.gif);
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
}