<section id="process-collection">
    
    <div class="row">
        <div class="columns large-12">
            <h1>Scraper processes</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Accuracy</a>
                </li>
                <li class="current" kk-nav route="accuracy">
                    <a>Processes</a>
                </li>
            </ul>
        
            <div ng-if="items &amp;&amp; config">
                <div ng-if="items.length > 0">
                    
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><button class="tiny button success" ng-click="run()" ng-disabled="isRunDisabled()"><i class="fi-play"></i> Run</button></li>
                            <li><a class="tiny button" kk-nav route="newProcess"><i class="fi-plus"></i> Add new</a></li>
                        </ul>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <input type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" />
                                </td>
                                <th class="text-left">No</th>
                                <th class="text-left"><abbr title="Frequent Flyer Program code">FFP</abbr></th>
                                <th class="text-left">Tiers</th>
                                <th>Routes</th>
                                <th class="text-left">Last run on</th>
                                <th class="text-left">Last run by</th>
                                <th class="text-right">Status</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" item in items " ng-init="initItem(this, item)">
                                <td>
                                    <input type="checkbox" checklist-model="selected.items" checklist-value="item" />
                                </td>
                                <td class="text-left">{{ $index + 1 }}</td>
                                <th class="text-left">{{ ffp.code }}</th>
                                <td class="text-left">
                                    <span ng-if="item.ffp.tierIds.length > 0">
                                        <span ng-repeat="tier in ffp.tiers">
                                            <span ng-if="item.ffp.tierIds.indexOf(tier.id) >= 0" class="nowrap label secondary radius">{{ tier.name }}</span>
                                        </span>
                                    </span>
                                    <span ng-if="item.ffp.tierIds.length <= 0">
                                        <i class="fi-x"></i>
                                    </span>
                                </td>
                                <td>{{ item.routes.length }}</td>
                                <td class="text-left">
                                    <span ng-if="item.lastRunOn">{{ item.lastRunOn | date }}</span>
                                    <span ng-if="!item.lastRunOn">Never</span>
                                </td>
                                <td class="text-left">
                                    <span ng-if="item.lastRunBy">{{ item.lastRunBy }}</span>
                                    <span ng-if="!item.lastRunBy"><i class="fi-x"></i></span>
                                </td>
                                <td class="text-right">
                                    <span class="radius label" ng-class="{ secondary: item.status == 'idle', success: item.status == 'run' }">
                                        {{ getStatusName(item) }}
                                    </span>
                                </td>
                                <td class="action"><a title="Edit" kk-nav route="editProcess" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                <td class="action alert"><a title="Delete" ng-click="deleteProcess(item)"><i class="fi-x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no processes. Create <a kk-nav route="newProcess">first one</a>.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>