<section id="customer-collection">
    
    <div class="row">
        <div class="columns large-12">
            
            <h1>Customers</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>CRM</a>
                </li>
                <li class="current" kk-nav route="customers">
                    <a>Customers</a>
                </li>
            </ul>
            
            <div ng-if="items.length > 0">
                
                <div class="row">
                    <div class="columns large-7">
                        <div class="button-bar">
                            <ul class="button-group">
                                <li><a class="tiny button" kk-nav route="newCustomer"><i class="fi-plus"></i> Add new</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="columns large-3">
                        <form class="collapse row" name="filterForm" ng-submit="filter(filterForm)">
                            <div class="columns small-2">
                                <span class="prefix"><i class="fi-magnifying-glass"></i></span>
                            </div>
                            <div class="columns small-10">
                                <input type="text" name="filter" ng-model="params.filter.query" />
                            </div>
                        </form>
                    </div>
                    <div class="columns large-2">
                        <form class="collapse row" name="dateform">
                            <div class="columns small-4">
                                <span class="prefix"><i class="fi-calendar"></i></span>
                            </div>
                            <div class="columns small-8">
                                <input type="text" ng-init="onDatepickerInit(this)" name="period" date-time ng-model="params.filter.period" align="right" min-view="month" format="MMM/yyyy" placeholder="Current Month" />
                            </div>
                        </form>
                    </div>
                </div>
                
                <table class="customers">
                    <thead>
                        <tr>
                            <th rowspan="2"></th>
                            <th rowspan="2" class="text-left">Name</th>
                            <th rowspan="2" class="text-left">Website</th>
                            <th colspan="3">Usage</th>
                            <th rowspan="2" class="text-right">Unit Price</th>
                            <th colspan="2">Revenue</th>
                            <th rowspan="2"></th>
                            <th rowspan="2"></th>
                            <th rowspan="2"></th>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <th class="text-right">Monthly</th>
                            <th class="text-right">Yearly</th>
                            <th class="text-right">Monthly</th>
                            <th class="text-right">Yearly</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in items" ng-class="{ highlight: customer.usageMonthly > 0 || customer.usageYearly > 0 }">
                            <td>{{$index + 1}}</td>
                            <th class="text-left">{{customer.name}}</th>
                            <td class="text-left"><a ng-href="{{ protocol + customer.url }}" ng-attr-title="{{customer.name}}" target="_blank">{{customer.url}}</a></td>
                            <td><span class="label radius secondary">{{customer.usageType}}</span></td>
                            <td class="text-right">{{customer.usageMonthly | number}}</td>
                            <td class="text-right">{{customer.usageYearly | number}}</td>
                            <td class="text-right">{{customer.unitPrice | currency}}</td>
                            <td class="text-right">{{customer.revenueMonthly | currency}}</td>
                            <td class="text-right">{{customer.revenueYearly | currency}}</td>
                            <td>
                                <span class="label radius" ng-class="{ 'success' : customer.enabled, 'alert' : !customer.enabled}">
                                    <span ng-show="customer.enabled">Enabled</span>
                                    <span ng-hide="customer.enabled">Disabled</span>
                                </span>
                            </td>
                            <td class="action">
                                <a kk-nav route="editCustomer" ng-attr-param-id="{{customer.id}}" title="Edit customer"><i class="fi-pencil"></i></a>
                            </td>
                            <td class="action">
                                <a title="Delete" ng-click="deleteCustomer(customer)"><i class="fi-x"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" class="text-right">Totals</th>
                            <td class="text-right">{{ getTotal('usageMonthly') | number }}</td>
                            <td class="text-right">{{ getTotal('usageYearly') | number }}</td>
                            <td></td>
                            <td class="text-right">{{ getTotal('revenueMonthly') | currency }}</td>
                            <td class="text-right">{{ getTotal('revenueYearly') | currency }}</td>
                            <td colspan="3"></td>
                        </tr>
                    </tfoot>
                </table>
                
                <div class="pagination-centered">
                    <pagination total-items="totalItems" page="params.page" items-per-page="params.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)" class="pagination-sm"></pagination>
                </div>
                
            </div>
            <div ng-if="items.length <= 0">
                
                <p>There are no customers yet. Create <a kk-nav route="newCustomer">first one</a></p>
                
            </div>
        </div>
    </div>
    
</section>