/*** Header ***/
.account_header #header_cloud {height:175px;}
.search_fields1 { position:absolute;right:0;top:95px;}
.search_fields1 .select2-container {float:left;margin:2px 0 0 6px;}
.search_fields1 .select2-container span {width:60px;}
.search_fields1 .search_btn {float:left;background:url(../images/btn_search.gif) no-repeat;width:44px;height:31px;border:none;text-indent:-999em;margin:2px 0 0 5px;}
.search_fields2 { position:absolute;top:175px;right:4px;}
.search_fields2 .ui-widget {font-size:11px;}
.search_fields2 .ui-button-text-only .ui-button-text {padding:5px 10px;}
.search_fields2 .selector {float:left;}
.flight_info {font-size:13px;color:#555;border:1px solid #ccc;float:left;padding:4px 15px;}
.flight_info span {color:#aaa;}
.flight_info img { vertical-align:middle;}
.flight_info input {border:none;background:none;text-align:center;padding:5px 0;font-size:12px;}

#account_container {width:1000px;margin:0 auto;}
#account_container h3 {height:30px;border-bottom:1px solid #ccc;}
#account_container h3 span {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:23px; text-transform:uppercase;color:#444;float:left;}
#account_container h3 a {color:#6daa4b;font-weight:normal;float:left;margin:3px 0 0 10px; text-decoration:none;}
#account_container h3 a:hover {color:#888;}
#account_left {width:507px;float:left;}
#account_right {width:447px;margin:0 0 0 46px;float:left;}
#account_detail .fields {margin:20px 0;}
#account_detail .tm {margin:10px 0 0;}
#account_detail .field {font-weight:bold;height:34px;font-size:12px;color:#666;}
#account_detail .field a {color:#6daa4b; text-decoration:none; font-weight:normal;}
#account_detail .field a:hover {color:#888;}
#account_detail label {width:120px;float:left; font-style:italic;font-weight:normal;}
#account_edit_status {display:none;}
#save_account_info {display:none;}

#account_dreams {color:#666;}
#account_dreams .dream_title {margin:20px 0 0;}
#account_dreams .dream_city {height:30px;margin:20px 0 10px 0;}
#account_dreams h2 { font-family:Georgia;font-size:21px;float:left; font-weight:normal;}
#account_dreams small { font-style:italic;}
#account_dreams .dream_city a {float:left;color:#6daa4b;margin:4px 0 0 10px; text-decoration:none;}
#account_dreams .dream_city a:hover {color:#888;}
#dream_edit_status {display:none;}
#save_dream {display:none;}

#account_program .program_account {padding:10px 15px;border-bottom:1px dashed #bbb;color:#444;}
#account_program .item_box {margin:23px 0 0;}
#account_page .program_item {color:#666;border-bottom:1px dashed #bbb;padding:10px 0; position:relative;}
#account_page .program_item .title {float:left;width:115px;text-align:right;margin:1px 20px 0 0;font-style:italic;color:#222;font-size:11px;}
#account_page .program_item .award {float:left;}
#account_page .program_item .award .price {color:#699740; font-family:Georgia;font-size:14px;font-weight:bold;}
#account_page .program_item .award .free {margin:0 0 0 20px; font-style:italic;color:#f65058;font-weight:bold;}
#account_page .program_item .award .expire {font-style:italic;font-size:11px;}
#account_page .progress_step img { vertical-align:middle;}
#account_page .progress_step {font-size:10px; position:relative;height:22px;}
#account_page .progress_step div {background:url(../images/progress_step_nail.gif) no-repeat 2px 0;padding:2px 0 0;position:absolute;}
#account_page .progress_step .step1 { left:0;}
#account_page .progress_step .step2 {left:37px;background-position:top center;}
#account_page .progress_step .step3 {left:85px;background-position:top center;}
#account_page .progress_step .step4 {left:140px;background-position:top center;}
#account_page .progress_step .step5 {right:-5px;background-position:43px 0;}
#account_page .program_item .nextlevel {width:98px;position:absolute;top:20px;right:0;line-height:100%;font-size:11px;}
#account_page .program_item .nextlevel span {float:left;width:58px;}
#account_page .program_item .nextlevel img {float:left;margin:4px 0 0 8px;}
#account_page .program_item .point {color:#699740; font-family:Georgia;font-size:12px;font-weight:bold;}

#account_page .ui-progressbar {height:7px;width:230px;}

#account_page #account_creditcard {margin:30px 0 0;}
#account_page .account_creditcard {margin:10px 0 0;}
#account_page .account_creditcard li {list-style:none;float:left;margin:3px;background:#eee;padding:5px 15px 5px 5px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; position:relative;}
#account_page .account_creditcard a {-webkit-transition:none;-moz-transition:none;transition:none;}
#account_page .account_creditcard a.visa {background:url(../images/creditcard/visa.gif) no-repeat 0 -44px;text-indent:-9999em;display:block;width:47px;height:30px;}
#account_page .account_creditcard a.visa:hover {background-position:0 0;}
#account_page .account_creditcard .close {background:url(../images/closelabel.png) no-repeat center;width:12px;height:12px; position:absolute;top:4px;right:2px; opacity:0.5; cursor:pointer;}
#account_page .account_creditcard li:hover .close {opacity:1;}


/**** Choose Program ****/
#account_page #step1_box {width:445px;background:url(../images/home_red_arrow.png) no-repeat bottom;padding:0 0 35px 0;margin:0 0 6px 0;}
#account_page #step1_2, #step1_3 {display:none;}
#account_page #step1_box #step1_tab {background:url(../images/home_tab1.png) no-repeat;height:83px;}
#account_page .home_program {list-style:none;margin:15px 25px 5px 25px;height:80px;}
#account_page .home_program li {float:left;margin:0 4px;height:40px;cursor:pointer;}
#account_page .home_program a {-moz-transition:none;-khtml-transition:none;-webkit-transition:none;transition:none;height:40px;}
#account_page .step_inner_box small {text-align:right;display:block;margin:10px 25px;color:#777;font-size:11px;}
#account_page .selected_program {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#555;height:40px;margin:10px 25px 0 25px;border-bottom:1px solid #ccc;}
#account_page .selected_program img {float:left;vertical-align:middle;}
#account_page .selected_program span {float:left;margin:10px 10px 0 10px;}
#account_page .selected_program div {margin:0 0 5px 0;}
#account_page .selected_program .settings {margin:10px 0 0;}
#account_page .connect_account .title {color:#93b86b;text-align:center;margin:10px 0;font-size:16px; text-transform:uppercase;}
#account_page .connect_account .title img { vertical-align:baseline;margin:0 0 0 10px;}
#account_page .connect_account .hr {background:url(../images/dashline.gif) repeat-x center;margin:0 25px;text-align:center;color:#999;font-size:14px;} 
#account_page .step_inner_box .connect_account small {text-align:left;}
#account_page .connect_account .addprogram {background:url(../images/btn_bg_green.gif) repeat-x center;height:40px;line-height:43px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-khtml-border-radius:7px 7px 0 0;-webkit-border-radius:7px 7px 0 0;text-align:center;text-decoration:none;}
#account_page .connect_account .addprogram:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}
#account_page .connected_success {text-align:center;color:#93b86b;font-size:26px;margin:10px 0;}
#account_page .connect_account .more_detail {text-align:center;color:#555;margin:15px 0;}
#account_page .connect_account .more_detail a {color:#555;}
#account_page .connect_account .login_tips {color:#555;text-align:center;margin:15px 25px 0 25px;border-top:1px solid #ccc;padding:15px 0 0;}
#account_page .connect_account .login_btn {text-align:center;margin:20px 0;}
#account_page .connect_account .login_btn input {margin:0 auto;background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;}
#account_page .connect_account .fileds {margin:0 0 0 20px;height:40px;}
#account_page .connect_account .fileds input {float:left;margin:0 7px 0 0;}
#account_page .connect_account .connect_fileds2 .text,.connect_account .connect_fileds2 .password {float:left;width:89px;}
#account_page .connect_account div.selector {width:158px;float:left;margin:0 6px 0 0;}
#account_page .connect_account div.selector span {width:74px;}
#account_page .connect_account .fileds2 {height:40px;margin:0 0 0 20px;}
#account_page .connect_account .fileds2 .select2-container {float:left;margin:0 6px 0 0;}
#account_page .connect_account .fileds2 .select2-container span {width:132px;}
#account_page .connect_account .fileds2 input {width:160px;float:left;margin:0 6px 0 0;}
#account_page .connect_account .fileds3 {height:40px;margin:0 0 0 20px;}
#account_page .connect_account .fileds4 {height:40px;margin:0 0 0 194px;}
#account_page .connect_account .fileds3 input,.connect_account .fileds4 input {width:160px;float:left;margin:0 6px 0 0;}
#account_page .connect_account .simulate_fileds2 .text {float:left;width:102px;}
#account_page .connect_account .fileds3 .button {float:left;background:url(../images/btn_bg_black.gif) repeat-x center;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:18px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;width:30px; text-align:center;}
#account_page #step1_login {float:left;background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;}
#account_page #home_my_program {display:none;}
#account_page .my_selected_program {color:#666;margin:5px 0 15px 25px;list-style:none;}
#account_page .my_selected_program li {margin:2px 0;background:url(../images/bullet.gif) no-repeat 0 7px;padding:0 0 0 12px;}
#account_page #account_program .step_inner_box {padding:20px;}
#account_page #account_program .step_inner_box h3 {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:18px;color:#333; text-transform:uppercase;color:#555;border-bottom:1px solid #ccc;height:30px;margin:15px 25px 0 25px;}
#account_page #account_program .box_header .manual {float:left;background:#F65058;color:#fff;padding:2px;margin:14px 0 0 10px;font-size:9px;}
#account_page #account_new_program {display:none;}


/**** Home Choose Credit Card ****/
#account_page #step2_box {width:445px;background:url(../images/home_red_arrow2.png) no-repeat right top;padding:0 34px 0 0;}
#account_page #step2_box #step2_tab {background:url(../images/home_tab2.png) no-repeat;height:101px;}
#account_page #step2_box .step_inner_box {padding:0 0 15px 0;}
#account_page .home_creditcard {list-style:none;margin:0 25px 15px 25px;height:37px;}
#account_page .home_creditcard li {float:left;margin:6px 9px; cursor:pointer;}
#account_page .home_creditcard a {-moz-transition:none;-khtml-transition:none;-webkit-transition:none;transition:none;height:54px;}
#account_page .step_inner_box small {text-align:right;display:block;margin:10px 25px;color:#777;font-size:11px;}
#account_page #home_creditcard_program_wrap {height:133px;width:415px;margin:10px 0;}
#account_page .home_creditcard_program {font-size:13px;font-weight:bold;margin:6px 0 0 37px;font-style:italic;color:#6a9f36;}
#account_page #account_new_creditcard {margin:10px 0 0;display:none;}
#account_page #account_new_creditcard .step_inner_box {padding:20px;}
#account_page .item_box .program_edit {display:none;}