#article_container {width:1000px;margin:20px auto 0 auto;}
#article_left {width:247px;float:left;}
#article_right {width:700px;float:left;margin:0 0 0 53px;color:#666;}
#article_navigation {list-style:none;border-bottom:1px solid #ddd;}
#article_navigation li a {display:block;height:53px;line-height:57px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;border:1px solid #ddd;border-bottom:0;padding:0 0 0 20px;color:#888; text-decoration:none; text-transform:uppercase;}
#article_navigation li a:hover {background:#f2f2f2;padding:0 0 0 40px;color:#333;}
#article_navigation li.active a {background:#f1f9ed;color:#333;padding:0 0 0 40px;}
#article_right h2 {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:30px; text-transform:uppercase;background:url(../images/title_line.gif) no-repeat bottom left;margin:0 0 15px 0;color:#333;}

/*** Header ***/
.article_header #header_cloud {height:209px;}
.article_header .slogan {margin:20px 0 0 300px;text-transform:uppercase;}
.article_header .slogan h2 { font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:35px;color:#333;}
.article_header .slogan h3 { font-family:'Lekton-Regular';font-weight:normal;font-size:27px;color:#555;}

/*** About ***/
.about_content {padding:0 0 30px 0;line-height:150%;}
.about_content h3 {margin:0 0 10px 0;font-size:14px;}
.about_content a {color:#81bd61;}
.about_content a:hover {color:#555;}
.partner_logo {list-style:none;}
.partner_logo li {float:left;margin:0 10px 10px 0;width:160px;height:100px;}
#article_right h2.last_post_title {margin-top:20px;}
.post_item {width:223px;float:left;margin:0 13px 0 0;}
.post_item .post_pic a {border:2px solid #eee;display:block;}
.post_item .post_pic img {display:block;}
.post_item .post_pic a:hover {border:2px solid #8fd16a;}
.post_item .post_title {margin:5px 0;}
.post_item .post_title a {font-weight:bold; text-decoration:none;color:#333;}
.post_item .post_title a:hover {color:#888;}
.no-margin {margin:0;}

/*** Contact ***/
.contact_content a {color:#81bd61;}
.contact_content a:hover {color:#555;}

/*** Blog ***/
#article_right .blog_post h2 {margin-bottom:5px;}
.blog_post {border-bottom:1px solid #ccc;margin:0 0 25px 0;}
.blog_post h2 a {color:#333; text-decoration:none;}
.blog_post h2 a:hover {color:#81bd61;}
.blog_post .info {color:#999;font-weight:bold;font-size:12px; text-transform:uppercase;}
.blog_post .info a {color:#999;}
.blog_post .info a:hover {color:#81bd61;}
.blog_post .blog_content {margin:15px 0 0;line-height:150%;}
.blog_left {float:left;width:481px;}
.blog_right {float:left;width:201px;margin:0 0 0 18px;}
.sns_links {list-style:none;}
.sns_links li {margin:0 0 15px 0;}
.sns_links a {background:url(../images/box_light_bg.gif) repeat-x bottom;display:block;border:1px solid #d7d7d7;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;box-shadow: 1px 1px 2px #ccc;-khtml-box-shadow: 1px 1px 2px #ccc;-webkit-box-shadow: 1px 1px 2px #ccc;-moz-box-shadow: 1px 1px 2px #ccc;font-family:'HelveticaNeueLTPro-BdCn'; font-size:16px;text-transform:uppercase;height:45px;line-height:45px;color:#666; text-decoration:none;}
.sns_links a span {float:left;margin:5px 15px 0 10px;}
.sns_links a:hover {background:#fff;color:#81bd61;border:1px solid #81bd61;}

/*** Press ***/
#press_left {width:300px;float:left;}
#press_right {width:330px;float:left;margin:0 0 0 70px;}
.press_item {color:#444;border-bottom:1px solid #ccc;padding:0 0 15px 0;margin:0 0 20px 0;}
.press_item .press_date {font-size:16px;text-transform:uppercase;margin:10px 0 0;}
.press_item .press_title { text-transform:uppercase;}
.press_article {border-bottom:1px solid #ccc;padding:0 0 15px 0;margin:0 0 15px 0;}
.press_article .press_title {font-size:14px;font-weight:bold;color:#666;}

/*** FAQ ***/
.faq_item {border:1px solid #ddd;margin:0 0 10px 0;}
.faq_title {background:#f7f7f7;border-bottom:1px solid #ddd;font-size:14px;padding:15px 15px;font-weight:bold;}
.faq_body {padding:15px;line-height:150%;}
.ui-accordion .ui-accordion-content {background:#fff;font-size:12px;color:#555;}
.ui-accordion .ui-accordion-header {padding:15px 0 15px 2.2em;}