.compare_header #header_cloud {height:215px;}
#compare_title {font-family:'Lekton-Regular';font-weight:normal;font-size:26px;color:#fff;background:#2b2c2c; text-transform:uppercase;width:637px;text-align:center;margin:20px auto 0 auto;padding:10px 0;}
#compare_code {text-align:center;margin:10px 0 0;}
#compare_container {width:780px;margin:0 auto;}
#compare_container .item_box {margin:0 0 30px 0;}
#compare_container .box_body {padding:1px 0 10px 0;}
#compare_container .timeline {height:29px;background:#f1f1f1;margin:3px 3px 0 3px;padding:10px 0 0;}
#compare_container .depart_info {float:left;}
#compare_container .depart_info strong {width:90px;text-align:right;float:left;}
#compare_container .p_tips {float:left;background:url(../images/icon_tip2.gif) no-repeat;width:20px;height:20px;margin:0 0 0 10px;}
#compare_container .desc {float:left;font-size:11px;color:#444;margin:0 0 0 7px;}
#compare_container .links {float:right;margin:0 10px 0 0;}
#compare_container .links a {color:#666;}
#compare_container .timeline_status_left {float:left;margin:10px 0 0 15px;color:#666;}
#compare_container .timeline_status_right {float:right;margin:10px 10px 0 0;}
#compare_container .timeline_status_right .airline {float:left;margin:0 20px 0 0;}
#compare_container .timeline_status_right .creditcard {float:left;}
#compare_container .depart_info {font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;color:#444;}
#compare_container .depart_info .city {margin:0 20px 0 10px;}
#compare_container .depart_info .date {margin:0 20px 0 0;}
#compare_container .depart_info .hr {margin:0 10px;color:#999;font-size:11px;}
#compare_container .ticket_data {border-top:1px solid #ddd;margin:15px 10px;padding:10px 0 0 20px;}
#compare_container .ticket_data_wrap {float:left;margin:0 20px 0 0;}
#compare_container .title {text-align:center;margin:0 0 2px 0;font-style:italic;color:#555;}
#compare_container #timeline_info .price_box {color:#fff;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:115px;height:52px;line-height:60px;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:30px;background:#f26067;}
#compare_container #timeline_info .miles_box {color:#f26066;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:115px;height:52px;line-height:60px;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:22px;background:#e6e6e6;}
#compare_container #timeline_info .miles_box:hover {background:#f26066;color:#fff;}
#compare_container #timeline_info .miles_text {color:#666;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;margin:5px 0 0;}
#compare_container #timeline_info .text_box {color:#666;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;height:52px;line-height:60px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:30px;}
#compare_container #timeline_info .formula {font-size:30px;font-weight:bold;color:#666;margin:25px 0 0 0;}
#compare_container .book_btn {background:url(../images/btn_bg_green.gif) repeat-x center;float:right;padding:0 20px;height:40px;line-height:43px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff;margin:19px 10px 0 0; text-decoration:none;}
#compare_container .book_btn:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}



/*** Popup Styles ***/
#compare_page .ticket_data {}
#compare_page .ticket_data .ticket_data_wrap {float:left;margin:0 10px 0 0;}
#compare_page .ticket_data .title {text-align:center;margin:0 0 2px 0;font-style:italic;color:#333;font-size:12px;}
#compare_page .ticket_data .price_box {color:#fff;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:75px;height:42px;line-height:42px;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;background:#f26067;}
#compare_page .ticket_data .miles_box {color:#f26066;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:75px;height:42px;line-height:42px;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;background:#e6e6e6;}
#compare_page .ticket_data .miles_text {color:#666;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:14px;margin:5px 0 0;}
#compare_page .ticket_data .text_box {color:#666;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;height:42px;line-height:42px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;}
#compare_page .ticket_data .formula {font-size:16px;font-weight:bold;color:#666;margin:25px 0 0 0;}

#compare_page .miles_detail {padding:10px;font-size:12px;}
#compare_page .miles_detail .flytimes {font-style:italic;height:16px;}
#compare_page .miles_detail .flytimes span {float:left;margin:0 10px 0 0;}
#compare_page .miles_detail .freeflight {font-style:italic;margin:8px 0;}
#compare_page .miles_detail .freeflight em {color:#699740;}
#compare_page .miles_detail .cities {font-style:italic;}
#compare_page .miles_detail .cities strong {font-size:14px; font-family:Georgia;}
#compare_page .miles_detail .section2 {border-top:1px dashed #ccc;margin:11px 0 0;padding:11px 0 0; position:relative;}
#compare_page .miles_detail .section2 .or { position:absolute;top:-8px;left:100px;background:#fff;color:#999;font-size:10px;font-style:italic;}
#compare_page .miles_detail .will_earn {margin:0 0 5px 0;}
#compare_page .miles_detail .will_earn .title {margin:0 0 5px 0;}
#compare_page .miles_detail .will_earn em {color:#619235;}
#compare_page .freeflight input {background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:20px;line-height:20px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; position:absolute;top:40px;right:20px; cursor:pointer;}
#compare_page .freeflight input:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;}
#compare_page .miles_detail .progress_bar_wrap {height:30px;margin:3px 0 0;}
#compare_page .miles_detail .progress_bar {background:url("../images/form/slider_bg.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:3px 0 0;border:1px solid #ddd;}
#compare_page .miles_detail .progress_bar .increase {background:#cedca7;height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#compare_page .miles_detail .progress_bar .current {background:url("../images/form/slider_handle.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#compare_page .miles_detail .progress_bar_wrap .title {font-size:11px;text-align:right;}
#compare_page .miles_detail .progress_bar_wrap img { vertical-align:middle;}

#compare_page .ticket_timeline {font-size:12px;padding:0 0 10px 0;}
#compare_page .ticket_timeline .title {background:#eee;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:14px;padding:10px 10px 5px 10px;}
#compare_page .ticket_timeline small {color:#888;margin:0 0 0 10px;}
#compare_page .ticket_timeline .solo_rout {}
#compare_page .ticket_timeline .airport_detail {color:#444;background:#eaf1e5;height:20px;padding:5px 10px 0 10px;}
#compare_page .ticket_timeline .airport_detail .service {float:right;margin:0 5px 0 0;}
#compare_page .ticket_timeline .airport_detail .service span {float:left;}
#compare_page .ticket_timeline .airport_detail .service .img {float:left;}
#compare_page .ticket_timeline .airport_detail .service .img img { vertical-align:middle;}
#compare_page .ticket_timeline .airport_detail span {float:left;margin:0 15px 0 0;}
#compare_page .ticket_timeline .airport_detail span.logo {margin:2px 15px 0 0;}
#compare_page .ticket_timeline .airport_detail span img { vertical-align:middle;}
#compare_page .ticket_timeline .airport_stop {border:1px solid #e7e7e7;border-left:none;border-right:none;padding:6px 0;margin:15px 0;}
#compare_page .ticket_timeline .airport_stop span {color:#999;font-size:10px;margin:0 15px 0 0;}
#compare_page .ticket_timeline .solo_rout {height:44px;margin:6px 0 6px 0;}
#compare_page .ticket_timeline .total_hr {float:left;background:url(../images/hr_span2.gif) no-repeat center;width:37px;height:167px;margin:22px 0 0 10px;}
#compare_page .ticket_timeline .total_hr span {display:block;color:#999;font-size:14px;margin:81px 0 0;}
#compare_page .ticket_timeline .flight_rout_right {float:left;width:450px;margin:0 0 0 10px;padding:10px 0;}
#compare_page .ticket_timeline .solo_hr {float:left;background:url(../images/hr_span1.gif) no-repeat center;width:32px;height:37px;margin:4px 0 0;}
#compare_page .ticket_timeline .solo_hr span {display:block;color:#999;font-size:10px;margin:12px 0 0;}
#compare_page .ticket_timeline .solo_rout_right {float:left;color:#444;font-weight:bold; }
#compare_page .ticket_timeline .solo_rout_right div {margin:0 0 10px 0;}
#compare_page .ticket_timeline .solo_rout_right div span {float:left;width:125px;font-family:Georgia;}
#compare_page .ticket_timeline .solo_des {float:left;margin:12px 0 0 25px;font-weight:bold;}


/*** Ticket Detail ***/
#compare_page #ticket_detail {margin:0 0 32px 0; position:absolute;top:0;left:0;width:236px;height:200px;overflow:hidden;display:none;}
#compare_page #ticket_detail .box_body {padding:1px 0 10px 0;}
#compare_page .ticket_title {height:38px;line-height:43px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:17px;text-align:center;background:#ececec; text-transform:uppercase;margin:5px;color:#555; position:relative;}
#compare_page .ticket_title .ticket_airline { position:absolute;top:3px;left:20px;color:#666; font-family:Verdana, Geneva, sans-serif;font-size:10px;font-weight:normal; text-transform:none;line-height:155%;text-align:left;}
#compare_page .ticket_table {background:#ddd; border-spacing:1px;width:760px;margin:0 0 0 5px; position:relative;}
#compare_page .ticket_table .depart { position:absolute;width:171px;height:40px;background:#fff;top:15px;color:#699740;font-size:14px;line-height:130%;}
#compare_page .ticket_table th {background:#fff;font-weight:normal;font-size:11px;color:#666;line-height:115%;overflow:hidden;height:32px;}
#compare_page .ticket_table th.class1_title {background:url(../images/table_class1.gif) repeat-x top;font-weight:bold;border-left:1px solid #ddd;}
#compare_page .ticket_table th.class2_title {background:url(../images/table_class2.gif) repeat-x top;font-weight:bold;border-left:1px solid #ddd;}
#compare_page .ticket_table th.class3_title {background:url(../images/table_class3.gif) repeat-x top;font-weight:bold;color:#fff;border-left:1px solid #ddd;}
#compare_page .ticket_table th.class4_title {background:url(../images/table_class4.gif) repeat-x top;font-weight:bold;color:#fff;border-left:1px solid #ddd;}
#compare_page .ticket_table th.first {border-left:1px solid #ddd;}
#compare_page .ticket_table th.last {border-right:1px solid #ddd;}
#compare_page .ticket_table td {background:#fff;width:80px;}
#compare_page .ticket_table .city {font-size:14px;font-weight:bold;text-align:center;color:#666;margin:0;}
#compare_page .ticket_table .date {text-align:center; font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;color:#666;margin:10px 0;}
#compare_page .ticket_table .date span {margin:0 20px;color:#999;}
#compare_page .ticket_table .item {background:#fff;width:80px;height:93px; cursor:pointer; position:relative;}
#compare_page .ticket_table .item .selected {border:4px solid #8fd16a;width:80px;position:absolute;top:-4px;left:-4px;}
#compare_page .ticket_table .item .selected strong {display:block;margin:87px 0 0 0;background:#8fd16a;color:#fff;padding:3px;text-align:center; }
#compare_page .ticket_table .item .functions {height:20px;}
#compare_page #compare_container .ticket_table .item .price_box {background:#eee;color:#629235;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:47px;padding:2px 12px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;margin:2px auto;}
#compare_page #compare_container .ticket_table .item .price_box:hover {background:#629235;color:#fff;}
#compare_page #compare_container .ticket_table .item .price_box span {display:block; font-family:Verdana, Geneva, sans-serif;font-size:11px; font-style:italic;}
#compare_page #compare_container .ticket_table .item .miles_box {color:#f36167;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px; text-align:center;margin:2px 0 0;padding:6px 0 2px 0;}
#compare_page #compare_container .ticket_table .item .miles_box:hover {background:#f36167;color:#fff;}
#compare_page #compare_container .ticket_table .item .miles_box span {display:block; font-family:Verdana, Geneva, sans-serif;font-size:11px; font-style:italic;}
#compare_page .ticket_table .yellow_item {background:#fffeed;}
#compare_page .ticket_table .first {border-left:1px solid #ddd;}
#compare_page .ticket_table .last {border-right:1px solid #ddd;}
#compare_page .ticket_table .service {text-align:center;}
#compare_page .ticket_table .service img { vertical-align:middle;margin:0 5px;}
#compare_page #return_selected_info,#depart_selected_info {display:none;}
#compare_page #ticket_detail .depart_info {font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;color:#444;margin:25px 20px 0 20px;}
#compare_page #ticket_detail .depart_info .city {margin:0 20px 0 10px;}
#compare_page #ticket_detail .depart_info .date {margin:0 20px 0 0;}
#compare_page #ticket_detail .depart_info .hr {margin:0 10px;color:#999;font-size:11px;}
#compare_page .select_btn {background:url(../images/btn_bg_green.gif) repeat-x center;float:right;padding:0 20px;height:40px;line-height:43px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff;margin:13px 10px 0 0; text-decoration:none;}
#compare_page .select_btn:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}

#compare_page #depart_selected_info {margin:25px 0 0;}
#compare_page #departure_ticket {display:none;}