div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 196px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}
.datepickerContainer {
	background:#f6f6f6;border:1px solid #eee;
	padding:4px;
}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
	height: 10px;
	background: url(../images/datepicker_t.png);
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
	height: 10px;
	background: url(../images/datepicker_b.png);
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/datepicker_l.png);
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/datepicker_r.png);
}
.datepickerBorderTL {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_tl.png);
}
.datepickerBorderTR {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_tr.png);
}
.datepickerBorderBL {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_bl.png);
}
.datepickerBorderBR {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_br.png);
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
}
div.datepicker a {
	color: #777;
	background:#eee;
	border:1px solid #ccc;
	margin:1px;
	
	text-align: center;
	text-decoration: none;
	outline: none;
}
div.datepicker table td {
	padding: 0;
	margin: 0;
}
div.datepicker th {
	text-align: center;
	color: #555;
}
div.datepicker tbody th {
	text-align: center;
	
}
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width: 28px;
	line-height: 28px;
	height: 28px;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #666;
	background: #aaa;
	visibility:hidden;
}
tbody.datepickerDays td.datepickerSelected a {
	background: #D8EAC9;
}
tbody.datepickerDays td.datepickerFirstSelected a,tbody.datepickerDays td.datepickerFirstSelected.datepickerLastSelected a {
	background: #549310 url("../images/datepicker_actived1.gif") no-repeat;
	border:1px solid #5B962D;
	color:#fff;font-weight:bold;
}
tbody.datepickerDays td.datepickerLastSelected a {
	background: #db2e3e url("../images/datepicker_actived2.gif") no-repeat;
	border:1px solid #bc2331;
	color:#fff;font-weight:bold;
}
tbody.datepickerDays td.datepickerFirstSelected.datepickerLastSelected a
{
	background: #db2e3e url("../images/datepicker_actived3.gif") no-repeat;
	border:1px solid #bc2331;
	border-top:1px solid #5B962D;
	border-left:1px solid #5B962D;
	color:#fff;font-weight:bold;
}
tbody.datepickerDays td.datepickerDisabled a
{
	background:#ddd;color:#bbb;	
	cursor:default;
}
tbody.datepickerDays td.datepickerDisabled a:hover {
	border:1px solid #ccc;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected a {
	background: #17384d;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #17384d;
}
div.datepicker a:hover,
div.datepicker a:hover {
	color: #333;
	border:1px solid #888;
}
div.datepicker td.datepickerNotInMonth a:hover {
	color: #999;
}
div.datepicker tbody th {
}
.datepickerSpace div {
	width: 10px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.datepickerGoNext a {
}
.datepickerGoPrev a {
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #333;
}
td.datepickerDisabled a:hover {
	color: #333;
}
td.datepickerSpecial a {
	background: #700;
}
td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}
.datepickerGoNext,.datepickerGoPrev {font-size:9px;}
div.datepicker .datepickerMonth a,div.datepicker .datepickerGoNext a, div.datepicker .datepickerGoPrev a {background:#f6ffdd url("../images/datepicker_header.gif") repeat-x;}
.datepickerDoW th {padding:5px 0;}