/**** Home styles ****/
#home_container {width:1000px;margin:0 auto; position:relative;}
#home_left {float:left;margin:0 0 0 10px;}
#home_right {float:left;}
.step_tab {padding:1px 0 0;}
.step_tab span {display:block;margin:13px 0 0 45px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:20px;color:#fff;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;}
.step_tab strong {font-size:24px;font-weight:normal;}
.step_inner_box {background:#fff url(../images/box_light_bg.gif) repeat-x bottom;box-shadow: 0 0 10px #aaa;-khtml-box-shadow: 0 0 10px #aaa;-webkit-box-shadow: 0 0 10px #aaa;-moz-box-shadow: 0 0 10px #aaa;border:1px solid #b7b7b7;}
.step_inner_box h3 {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:18px;color:#333; text-transform:uppercase;color:#555;border-bottom:1px solid #ccc;height:30px;margin:15px 25px 0 25px;}
.step_inner_box h3 span {float:left; vertical-align:middle;margin:2px 0 0;}
.step_inner_box h3 .tips {background:url(../images/icon_tip.gif) no-repeat;width:20px;height:20px;margin:0 0 0 10px;}
#home_getstart {margin:0 0 10px 182px; position:absolute;top:-30px;}
#home_plante { position:absolute;top:-43px;left:0px}

/*** Home Header ***/
#header .slogan {margin:6px 0 0 182px; text-transform:uppercase;}
#header .slogan h1 { font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:36px;color:#333;}
#header .slogan h2 { font-family:'Lekton-Regular';font-weight:normal;font-size:28px;color:#555;}
#header #home_video_play {background:url(../images/home_video_play.png) no-repeat;width:225px;height:88px;display:block;padding:1px 0 0; position:absolute;left:785px;top:91px; text-decoration:none;-moz-transition:none;-khtml-transition:none;-webkit-transition:none;transition:none;}
#header #home_video_play:hover {background-position:0 -175px;}
#header #home_video_play span {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;margin:25px 0 0 65px;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;}
#header #home_video_arrow {background:url(../images/home_video_arrow.png) no-repeat;width:72px;height:92px; position:absolute;top:112px;left:715px;}


/**** Home Choose Program ****/
#step1_box {width:445px;background:url(../images/home_red_arrow.png) no-repeat bottom;padding:0 0 35px 0;margin:0 0 6px 0;}
#step1_2, #step1_3 {display:none;}
#step1_box #step1_tab {background:url(../images/home_tab1.png) no-repeat;height:83px;}
.home_program {list-style:none;margin:15px 25px 5px 25px;height:80px;}
.home_program li {float:left;margin:0 4px;height:40px;cursor:pointer;}
.home_program a {-moz-transition:none;-khtml-transition:none;-webkit-transition:none;transition:none;height:40px;}
.step_inner_box small {text-align:right;display:block;margin:10px 25px;color:#777;font-size:11px;}
.selected_program {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#555;height:40px;margin:10px 25px 0 25px;border-bottom:1px solid #ccc;}
.selected_program img {float:left;vertical-align:middle;}
.selected_program span {float:left;margin:10px 10px 0 10px;}
.selected_program div {margin:0 0 5px 0;}
.selected_program .settings {margin:10px 0 0;}
.connect_account .title {color:#93b86b;text-align:center;margin:10px 0;font-size:16px; text-transform:uppercase;}
.connect_account .title img { vertical-align:baseline;margin:0 0 0 10px;}
.connect_account .hr {background:url(../images/dashline.gif) repeat-x center;margin:0 25px;text-align:center;color:#999;font-size:14px;} 
.step_inner_box .connect_account small {text-align:left;}
.connect_account .addprogram {background:url(../images/btn_bg_green.gif) repeat-x center;height:40px;line-height:43px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-khtml-border-radius:7px 7px 0 0;-webkit-border-radius:7px 7px 0 0;text-align:center;text-decoration:none;}
.connect_account .addprogram:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}
.connected_success {text-align:center;color:#93b86b;font-size:26px;margin:10px 0;}
.connect_account .more_detail {text-align:center;color:#555;margin:15px 0;}
.connect_account .more_detail a {color:#555;}
.connect_account .login_tips {color:#555;text-align:center;margin:15px 25px 0 25px;border-top:1px solid #ccc;padding:15px 0 0;}
.connect_account .login_btn {text-align:center;margin:20px 0;}
.connect_account .login_btn input {margin:0 auto;background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;}
.connect_account .fileds {margin:0 0 0 20px;height:40px;}
.connect_account .fileds input {float:left;margin:0 7px 0 0;}
.connect_account .connect_fileds2 .text,.connect_account .connect_fileds2 .password {float:left;width:89px;}
.connect_account div.selector {width:158px;float:left;margin:0 6px 0 0;}
.connect_account div.selector span {width:74px;}
.connect_account .fileds2 {height:40px;margin:0 0 0 20px;}
.connect_account .fileds2 .select2-container {float:left;margin:0 6px 0 0;}
.connect_account .fileds2 .select2-container span {width:132px;}
.connect_account .fileds2 .select2-container img { vertical-align:middle;margin:0 5px 0 0;}
.connect_account .fileds2 input {width:160px;float:left;margin:0 6px 0 0;}
.connect_account .fileds3 {height:40px;margin:0 0 0 20px;}
.connect_account .fileds4 {height:40px;margin:0 0 0 194px;}
.connect_account .fileds3 input,.connect_account .fileds4 input {width:160px;float:left;margin:0 6px 0 0;}
.connect_account .simulate_fileds2 .text {float:left;width:102px;}
.connect_account .fileds3 .button {float:left;background:url(../images/btn_bg_black.gif) repeat-x center;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:18px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;width:30px; text-align:center;}
#step1_login {float:left;background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;}
#home_my_program {display:none;padding:0 0 10px 0;}
.my_selected_program {color:#666;margin:5px 0 15px 25px;list-style:none;}
.my_selected_program li {margin:2px 0;background:url(../images/bullet.gif) no-repeat 0 13px;padding:0 0 0 12px;float:left;width:45%;}

/**** Airline Logos ****/
.home_program .aa {background:url(../images/airline/aa.gif) no-repeat 0 -52px;text-indent:-9999em;display:block;width:124px;height:40px;}
.home_program .aa:hover {background-position:0 2px;}


/**** Home Choose Credit Card ****/
#step2_box {width:445px;background:url(../images/home_red_arrow2.png) no-repeat right top;padding:0 34px 0 0;}
#step2_box #step2_tab {background:url(../images/home_tab2.png) no-repeat;height:101px;}
#step2_box .step_inner_box {padding:0 0 15px 0;}
.home_creditcard {list-style:none;margin:0 25px 15px 25px;height:37px;}
.home_creditcard li {float:left;margin:6px 9px; cursor:pointer;}
.home_creditcard a {-moz-transition:none;-khtml-transition:none;-webkit-transition:none;transition:none;height:54px;}
.step_inner_box small {text-align:right;display:block;margin:10px 25px;color:#777;font-size:11px;}
#home_creditcard_program_wrap {height:133px;width:415px;margin:10px 0;}
/**** Credit Card Logos ****/
.home_creditcard a.visa {background:url(../images/creditcard/visa.gif) no-repeat 0 -44px;text-indent:-9999em;display:block;width:47px;height:30px;}
.home_creditcard a.visa:hover,.home_creditcard li.actived a.visa {background-position:0 0;}
.home_creditcard_program {font-size:13px;font-weight:bold;margin:6px 0 0 37px;font-style:italic;color:#6a9f36;}

/**** Home Search ****/
#step3_box {width:493px;margin:0 0 0 5px;}
#step3_box #step3_tab {background:url(../images/home_tab3.png) no-repeat;height:84px;}
#step3_box .step_inner_box {padding:10px;}
.step_inner_box small {text-align:right;display:block;margin:10px 25px;color:#777;font-size:11px;}
.from_input,.to_input {float:left;}
.to_input {float:right;}
.choosecity input {color:#444;width:208px;height:40px;line-height:40px;padding:0 0 0 15px;font-size:16px;border:1px solid #D3D3D3;background:url(../images/form/input_bg.gif) left top;-webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;}
.choosecity input.focus {border:1px solid #8fd16a;}
#routtype {margin:0 0 10px 0;list-style:none;height:40px;float:left;}
#routtype .radio {display:none;}
#routtype li {float:left;}
#person_num {float:right;margin:0;height:38px;}
#person_num div.selector select {min-width:120px;width:120px;height:38px;}
#person_num div.selector span {width:80px;background:url(../images/sprite_search.png) no-repeat right top;height:38px;padding:0 23px 0 2px;line-height:38px;}
#person_num div.selector {width:105px;height:38px;background:url(../images/sprite_search.png) no-repeat -479px -45px;}
#person_num .select2-container span {width:100px;}
#person_num .select2-container .select2-choice {height:35px;line-height:35px;border:1px solid #ccc;}
#person_num .select2-container .select2-choice div b {background-position:0 6px;}
.to_input {margin:0 0 0 10px;}
.choosecity {height:40px;}
.choosedate {margin:15px 0 0;height:283px;}
.choosedate_tab {font-size:14px;color:#666;height:30px;}
.choosedate_tab .text {padding:2px 4px;}
.choosedate_tab span {float:right;background:url(../images/icon_cal.gif) no-repeat right;padding:0 20px 0 0;height:21px;}
.l_depart_date span {float:left;margin:0 0 0 10px;}
.datepicker_wrap {margin:0;}
.depart_date {float:left;}
.return_date {float:left;margin:0 0 0 3px;}
.l_depart_date {float:left;width:223px;height:25px;}
.l_return_date {float:right;width:223px;margin:0 5px 0 0;height:25px;}
#l_depart_date_val.focus {border:1px solid #8FD16A;}
#l_return_date_val.focus {border:1px solid #e23840;}
#search_btn { text-align:right;margin:10px 0 0;}
#search_btn input {background:url(../images/searh_btn.png) no-repeat;width:222px;height:60px;border:none;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:20px;color:#fff;text-shadow: 2px 2px #c03239;-moz-text-shadow: 2px 2px #c03239;-khtml-text-shadow: 2px 2px #c03239;-webkit-text-shadow: 2px 2px #c03239; text-transform:uppercase; cursor:pointer;}
#search_btn input:hover {background:url(../images/searh_btn2.png) no-repeat;text-shadow: 2px 2px #7caf4e;-moz-text-shadow: 2px 2px #7caf4e;-khtml-text-shadow: 2px 2px #7caf4e;-webkit-text-shadow: 2px 2px #7caf4e;}

/*** Home Recent Searchs ***/
#home_recent_searchs {padding:0 0 20px 0;margin:30px 0 0;}
#home_recent_searchs h3 {border-top:4px solid #e9e9e9;border-bottom:4px solid #f4f4f4;padding:30px 0 0 0;margin:0;height:60px;}
#home_recent_searchs h3 span {display:block;background:url(../images/code.gif) no-repeat top right;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:28px;color:#333; text-transform:uppercase;color:#6a9f36;width:495px;margin:0 auto;}
#home_recent_searchs ul {margin:20px 0 0;}
#home_recent_searchs li {list-style:none;color:#888;width:333px;float:left;}
#home_recent_searchs .date {font-size:40px;font-family:Georgia;float:left;width:123px;color:#a9a9a9;margin:20px 0 0;}
#home_recent_searchs .item_info {float:left;line-height:220%;}
#home_recent_searchs .city {color:#93b86b;font-size:20px;font-family:Georgia; text-decoration:none;}
#home_recent_searchs .city:hover {color:#aaa;}

/*** video popup ***/
#video_popup_box .video_box {background:#eee;width:640px;height:360px;margin:10px;}
#signin_tips_content {padding:10px;}
#signin_tips_content h3 {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;color:#555;border-bottom:1px solid #eee;padding:0 0 5px 0;margin:0 0 5px 0;}
#signin_tips_content ul {list-style:none;}
#signin_tips_content li {background:url(../images/bullet.gif) no-repeat 0 7px;color:#555;font-size:11px;padding:0 0 0 10px;}
#signin_tips_content li a {color:#6A9F36;}
#reason2join {color:#555;padding:0 15px;display:none;width:640px;}
#reason2join .reason_item_r,#reason2join .reason_item_l {margin:0 0 20px 0;}
#reason2join .reason_item_r img {float:right;margin:0 0 0 15px;}
#reason2join .reason_item_l img {float:left;margin:0 15px 0 0;}
#reason2join a {color:#6A9F36;}
#reason2join h3 {text-align:center;font-size:22px; text-transform:uppercase;border-bottom:1px solid #ccc;padding:0 0 15px 0;margin:10px 0 20px 0;}
#reason_item_wrap {height:360px;width:630px;overflow:auto;padding:0 15px 0 0;}

/*** loading popup ***/
#loading_popup_box {color:#666;float:left;width:359px;}
#loading_popup_box h4 {color:#6A9F36;font-size:22px;text-align:center;} 
#loading_popup_box h5 {text-align:center;margin:0;padding:10px 0 10px 0;color:#6A9F36;}
#complete_profile {border-top:1px solid #ccc;margin:15px 0 0;}
#complete_profile .title {text-align:center;font-weight:bold;margin:10px 0;}
#complete_profile .country {padding:5px 3px;border:1px solid #ccc;color:#777;font-size:14px;background:url("../images/bg-input.png") repeat-x;width:149px;}
#loading_popup_box .field {float:left;margin:5px 11px;}
#loading_popup_box .field2 {margin:5px 0 10px 15px;}
#loading_popup_box .field div.selector {width:138px;}
#loading_popup_box .field div.selector span {width:106px;}
#loading_popup_box .field .select2-container span {width:110px;}
#submit_complete_profile {float:right;background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;}
#cancel_complete_profile {float:right;color:#666;margin:3px 10px 0 0;}
#loading_popup_box .btns {margin:0 18px 0 0;}
#complete_profile_ad {height:244px;background:#eee;display:none;margin:10px 0 0 0;}
#loading_popup_box .progress_bar {background:url("../images/form/slider_bg.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:3px 0 0;border:1px solid #ddd;}
#loading_popup_box .progress_bar .current {background:url("../images/form/slider_handle.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#loading_popup_box_ad {float:left;width:200px;height:330px;margin:0 20px 0 0;background:#eee;}
#loading_popup_box_wrap {width:595px;}


/** save programe **/
#saveprogram_wrap {width:900px;padding:15px;}
#saveprogram_wrap .worning {margin:10px 0;}
#saveprogram_wrap .worning strong {color:#b70000;}
#saveprogram_wrap .box_title {color:#629235;font-family:'HelveticaNeueLTPro-BdCn';font-size:18px;border-bottom:1px solid #ccc; text-transform:uppercase;margin:0 0 10px 0;}
#program_box .program_item {border-bottom:1px solid #eee;height:75px;margin:0 0 10px 0;}
#program_box .last {margin:0;border:none;}
#program_box .checkbox_wrap {float:left;margin:22px 10px 0;}
#program_box .logo {float:left;margin:15px 10px 0 10px;}
#program_box .settings a {color:#666;}
#program_box .field {float:left;margin:0 15px;}
#program_box .member {width:140px;}
#program_box .title {font-style:italic;font-size:11px;margin:0 0 3px 0;}
#program_box .award {color:#629235;font-family:'HelveticaNeueLTPro-BdCn';font-size:16px;}
#program_box .equals {color:#629235;font-size:11px;}
#program_box .update {font-family:'HelveticaNeueLTPro-BdCn';font-size:16px;}
#program_box .update span {color:#F36167;}
#program_box .nextlevel {color:#629235;font-size:11px;}
#program_box .nextlevel img { vertical-align:middle;margin:0 0 0 5px;}
#program_box .btns,#filter_creditcard_box .btns {border-top:1px solid #eee;padding:10px;text-align:right;}
#program_box .btns input,#filter_creditcard_box .btns input {background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;}
#program_box .progress_bar {background:url("../images/form/slider_bg.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:3px 0 0;border:1px solid #ddd;width:130px;font-size:0;overflow:hidden;}
#program_box .progress_bar .increase {background:#cedca7;height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#program_box .progress_bar .current {background:url("../images/form/slider_handle.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#program_box .remove {margin:10px 0 0;background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;}
#creditcard_box .home_creditcard {margin:0;}
.account_creditcard {margin:10px 0 0;}
.account_creditcard li {list-style:none;float:left;margin:3px;background:#eee;padding:5px 15px 5px 5px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; position:relative;}
.account_creditcard a {-webkit-transition:none;-moz-transition:none;transition:none;}
.account_creditcard a.visa {background:url(../images/creditcard/visa.gif) no-repeat 0 -44px;text-indent:-9999em;display:block;width:47px;height:30px;}
.account_creditcard a.visa:hover {background-position:0 0;}
#facebox .account_creditcard .close {background:url(../images/closelabel.png) no-repeat center;width:12px;height:12px; position:absolute;top:4px;right:2px; opacity:0.5; cursor:pointer;}
#facebox .account_creditcard li:hover .close {opacity:1;}
#saveprogram_wrap .btns {margin:15px 0;height:25px;}
#saveprogram_wrap #saveprogram_btn {background:url(../images/btn_bg_green.gif) repeat-x center;width:150px;text-align:center;height:38px;line-height:38px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff; text-decoration:none; cursor:pointer;float:left;}
#saveprogram_wrap #saveprogram_btn:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}
#saveprogram_wrap #saveprogram_btn_dont {background:url(../images/btn_bg_pink.gif) repeat-x center;width:150px;text-align:center;height:38px;line-height:38px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #e54048;-moz-text-shadow: 2px 2px #e54048;-khtml-text-shadow: 2px 2px #e54048;-webkit-text-shadow: 2px 2px #e54048; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff; text-decoration:none; cursor:pointer;float:left;margin:0 0 0 15px;}
#saveprogram_wrap #saveprogram_btn_dont:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}