#header .slogan h2 {font-family:Arial, Helvetica, sans-serif;font-size:30px;font-weight:bold;}
#header .slogan h3 {font-family:Arial, Helvetica, sans-serif;font-size:26px;}
#header #home_video_play span {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;}
.step_tab span {font-family:Arial, Helvetica, sans-serif;font-size:15px;font-weight:bold;margin:13px 20px 0 45px;}
.step_tab strong {font-family:Arial, Helvetica, sans-serif;font-size:20px;font-weight:bold;}
.step_inner_box h3 { font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;}
#home_recent_searchs h3 span {font-family:Arial, Helvetica, sans-serif;font-size:21px;font-weight:bold;}
#search_btn input {font-family:Arial, Helvetica, sans-serif;font-size:21px;font-weight:bold;}
#signin_tips_content h3 {font-weight:bold;}
#signin_popup_box .title1 {font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;}
#signin_popup_box #signin_login {font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
#signin_popup_box #signin_signup {font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
.connect_account .login_btn input {margin:0 0 0 170px;}
#article_right h2 {font-family:Arial, Helvetica, sans-serif;font-size:22px;font-weight:bold;padding:0 0 10px 0;}
#loading_popup_box .field {margin:5px 0px;}
#consider_type {margin:0 0 0 15px;}
#bonusmiles_type {margin:0 0 0 15px;}
.search_fields2 .ui-button-text-only .ui-button-text {padding:5px 5px;}

.box_header strong {font-family:Arial, Helvetica, sans-serif;font-size:15px;font-weight:bold;}
.search_result_item .price {height:97px;}
.search_result_item .price_box { font-family:Arial, Helvetica, sans-serif;font-size:26px;font-weight:bold;}
.search_result_item .miles_box { font-family:Arial, Helvetica, sans-serif;font-size:24px;font-weight:bold;}
.ticket_title {font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;}
.ticket_table .item .price_box,#compare_container .ticket_table .item .price_box {font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;}
.ticket_table .item .price_box span,#compare_container .ticket_table .item .price_box span {font-weight:normal;}
.ticket_table .item .miles_box,#compare_container .ticket_table .item .miles_box {font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;}
.ticket_timeline .airport_detail {font-size:11px;}
.select_btn {font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;}
#timeline_info .price_box { font-family:Arial, Helvetica, sans-serif;font-size:26px;font-weight:bold;}
#timeline_info .miles_box { font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;}
#timeline_info .text_box { font-family:Arial, Helvetica, sans-serif;font-size:24px;font-weight:bold;}
.book_btn { font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;}
.add_compare_btn { font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;}
#timeline_info .miles_text {font-family:Arial, Helvetica, sans-serif;font-size:14px;}

#compare_title {font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;}

#account_container h3 span {font-family:Arial, Helvetica, sans-serif;font-size:22px;font-weight:bold;}

.ticket_data .price_box {font-size:14px;}
.ticket_data .miles_box {font-size:14px;}
.ticket_data .miles_text {font-size:12px;}
.ticket_data .text_box {font-size:14px;}
.ticket_data .formula {font-size:14px;}