#step2_box .step_inner_box h3 {padding:15px 25px 0;}
.search_result_item .price {display:inline;height:85px;}
#footer .navigation {width:510px;}
#header_body,#header {z-index:99999; position:relative;}
.search_fields2 {z-index:99999;}
#filter_program_box {z-index:99999;left:0;}
#top_tab li a {float:left;margin:10px 0 0;height:20px;}
.search_fields1 {width:825px;}
.search_fields1 .person {float:left;margin:5px 0 0 5px;}
.search_fields1 .search_btn {font-size:0;}
#compare_container .ticket_data_wrap {width:85px;}
#account_right {display:inline;margin:0 0 0 40px;}