#search_container {width:1000px;margin:0 auto;}
#search_left {float:left;width:778px;overflow:hidden;}
#search_right {width:195px;margin:0 0 0 27px;float:left;}

/*** Header ***/
.search_header #header_cloud {height:252px;}
.search_fields1 { position:absolute;right:0;top:105px;}
.search_fields1 .select2-container {float:left;margin:2px 0 0 6px;}
.search_fields1 .select2-container span {width:60px;}
.search_fields1 .search_btn {float:left;background:url(../images/btn_search.gif) no-repeat;width:44px;height:31px;border:none;text-indent:-999em;margin:2px 0 0 5px;}
.search_fields2 { position:absolute;top:175px;right:4px;}
.search_fields2 .ui-widget {font-size:12px;}
.search_fields2 .ui-button-text-only .ui-button-text {padding:5px 3px;}
.search_fields2 .selector {float:left;}
#consider_type {float:left;margin:0 0 0 10px;}
#consider_type .radio {display:none;}
#bonusmiles_type {float:left;margin:0 0 0 10px;}
#bonusmiles_type .radio {display:none;}
#consider_type span,#bonusmiles_type {color:#666;}
.search_fields2 div.selector {width:170px;}
.search_fields2 div.selector span {width:138px;}
.flight_info {font-size:13px;color:#555;border:1px solid #ccc;float:left;padding:4px 15px;width:630px;}
.flight_info span {color:#aaa;}
.flight_info img { vertical-align:middle;}
.flight_info input {border:none;background:none;text-align:center;padding:5px 0;font-size:12px;}

#filter_program.actived {background-position:right -176px;}
#filter_program {float:left;margin:0 3px 0 0;background:url(../images/sprite_search.png) no-repeat right -97px;height:30px;line-height:30px;padding:0 40px 0 0;color:#666;}
#filter_program span {display:block;padding:0 0 0 7px;background:url(../images/sprite_search.png) no-repeat -479px -133px;}
#filter_creditcard {float:left;background:url(../images/sprite_search.png) no-repeat right -97px;height:30px;line-height:30px;padding:0 40px 0 0;color:#666;}
#filter_creditcard.actived {background-position:right -176px;}
#filter_creditcard span {display:block;padding:0 0 0 7px;background:url(../images/sprite_search.png) no-repeat -479px -133px;}
#filter_program_box { position:absolute;border:1px solid #ccc;background:#fff;z-index:9999;color:#666;padding:5px;width:900px;display:none;top:29px;padding:10px 0 0;}
#filter_program_box .program_item {border-bottom:1px solid #eee;height:75px;margin:0 0 10px 0;}
#filter_program_box .last {margin:0;border:none;}
#filter_program_box .checkbox_wrap {float:left;margin:22px 10px 0;}
#filter_program_box .logo {float:left;margin:15px 0 0 10px;width:140px;}
#filter_program_box .settings a {color:#666;}
#filter_program_box .field {float:left;margin:0 15px;}
#filter_program_box .member {width:130px;}
#filter_program_box .title {font-style:italic;font-size:11px;margin:0 0 3px 0;}
#filter_program_box .award {color:#629235;font-family:'HelveticaNeueLTPro-BdCn';font-size:16px;}
#filter_program_box .equals {color:#629235;font-size:11px;}
#filter_program_box .update {font-family:'HelveticaNeueLTPro-BdCn';font-size:16px;}
#filter_program_box .update span {color:#F36167;}
#filter_program_box .nextlevel {color:#629235;font-size:11px;}
#filter_program_box .nextlevel img { vertical-align:middle;margin:0 0 0 5px;}
#filter_program_box .btns,#filter_creditcard_box .btns {border-top:1px solid #eee;padding:10px;text-align:right;}
#filter_program_box .btns input,#filter_creditcard_box .btns input {background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;}
#filter_creditcard_box { position:absolute;background:#fff;border:1px solid #ccc;padding:10px 0;z-index:9999;color:#444;display:none;top:29px;left:180px;}
#filter_creditcard_box .field {float:left;margin:0 15px;}
#filter_creditcard_box .title {font-style:italic;font-size:12px;font-weight:bold;border-bottom:1px solid #ccc;padding:0 0 5px 0;}
#filter_creditcard_box ul {list-style:none;margin:5px 0 0;}
#filter_program_box .progress_bar {background:url("../images/form/slider_bg.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:3px 0 0;border:1px solid #ddd;width:130px;font-size:0;overflow:hidden;}
#filter_program_box .progress_bar .increase {background:#cedca7;height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#filter_program_box .progress_bar .current {background:url("../images/form/slider_handle.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

#filter_add_program {background:url(../images/btn_bg_green.gif) repeat-x center;float:left;height:30px;line-height:30px;padding:0 10px;color:#fff;margin:0 5px 0 0; cursor:pointer;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;}

/*** Search Sort ***/
#search_sort {background:#f6faef;list-style:none;height:40px;line-height:40px;margin:0 0 20px 0;padding:0 0 0 15px;color:#444;}
#search_sort li {float:left;margin:0 15px 0 0;}

/*** Best Deal ***/
#search_bestdeal {margin:0 0 34px 0;float:left;width:500px;}
#search_bestdeal .item_box { position:relative; cursor:pointer;}
#search_bestdeal .item_box:hover .box_header {background:url(../images/ticket/red_header2.gif) repeat-x;}
#search_bestdeal .bestdeal { position:absolute;width:85px;height:85px;background:url(../images/bestdeal.png) no-repeat;top:0;right:0;text-indent:-9999em;}
#search_bestdeal .earn_point {background:#efefef;border-bottom:1px dashed #ccc;padding:10px 0 10px 35px;margin:0 0 10px 0;font-style:italic;}
#search_bestdeal .earn_point strong {color:#f65058;}
#search_bestdeal .price {margin-left:35px;margin-right:70px;}
#search_bestdeal .price_box {padding:8px 40px;width:80px;}
#search_bestdeal .search_sort_type {margin-top:15px;padding-left:35px;}

/*** 250x250 ad ***/
#ad250x250_search {background:#f1f1f1;float:left;width:250px;height:250px;float:right;}

/*** Ticket Detail ***/
#ticket_detail {margin:0 0 32px 0; position:absolute;top:0;left:0;width:236px;height:200px;overflow:hidden;display:none;z-index:100;}
#ticket_detail .box_body {padding:1px 0 10px 0;}
.ticket_title {height:38px;line-height:43px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:17px;text-align:center;background:#ececec; text-transform:uppercase;margin:5px;color:#555; position:relative;}
.ticket_title .ticket_airline { position:absolute;top:3px;left:20px;color:#666; font-family:Verdana, Geneva, sans-serif;font-size:10px;font-weight:normal; text-transform:none;line-height:155%;text-align:left;}
.ticket_table {background:#ddd; border-spacing:1px;width:760px;margin:0 0 0 5px; position:relative;}
.ticket_table .depart { position:absolute;width:171px;height:40px;background:#fff;top:15px;color:#699740;font-size:14px;line-height:130%;}
.ticket_table th {background:#fff;font-weight:normal;font-size:11px;color:#666;line-height:115%;overflow:hidden;height:32px;}
.ticket_table th.class1_title {background:url(../images/table_class1.gif) repeat-x top;font-weight:bold;border-left:1px solid #ddd;}
.ticket_table th.class2_title {background:url(../images/table_class2.gif) repeat-x top;font-weight:bold;border-left:1px solid #ddd;}
.ticket_table th.class3_title {background:url(../images/table_class3.gif) repeat-x top;font-weight:bold;color:#fff;border-left:1px solid #ddd;}
.ticket_table th.class4_title {background:url(../images/table_class4.gif) repeat-x top;font-weight:bold;color:#fff;border-left:1px solid #ddd;}
.ticket_table th.first {border-left:1px solid #ddd;}
.ticket_table th.last {border-right:1px solid #ddd;}
.ticket_table td {background:#fff;width:80px;}
.ticket_table .city {font-size:14px;font-weight:bold;text-align:center;color:#666;margin:0;}
.ticket_table .date {text-align:center; font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;color:#666;margin:10px 0;}
.ticket_table .date span {margin:0 20px;color:#999;}
.ticket_table .item {background:#fff;width:80px;height:93px; cursor:pointer; position:relative;}
.ticket_table .item .selected {border:4px solid #8fd16a;width:80px;position:absolute;top:-4px;left:-4px;z-index:9999;}
.ticket_table .item .selected strong {display:block;margin:87px 0 0 0;background:#8fd16a;color:#fff;padding:3px;text-align:center; }
.ticket_table .item .functions {height:20px;padding:3px 0 0;text-align:center;}
.ticket_table .item .functions img {margin:0 1px;}
.ticket_table .item .price_box {background:#eee;color:#629235;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:47px;padding:2px 12px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;margin:2px auto;}
.ticket_table .item .price_box:hover {background:#629235;color:#fff;}
.ticket_table .item .price_box span {display:block; font-family:Verdana, Geneva, sans-serif;font-size:11px; font-style:italic;}
.ticket_table .item .miles_box {color:#f36167;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px; text-align:center;margin:2px 0 0;padding:6px 0 2px 0;}
.ticket_table .item .miles_box:hover {background:#f36167;color:#fff;}
.ticket_table .item .miles_box span {display:block; font-family:Verdana, Geneva, sans-serif;font-size:11px; font-style:italic;}
.ticket_table .yellow_item {background:#fffeed;}
.ticket_table .first {border-left:1px solid #ddd;}
.ticket_table .last {border-right:1px solid #ddd;}
.ticket_table .service {text-align:center;}
.ticket_table .service img { vertical-align:middle;margin:0 5px;}
#return_selected_info,#depart_selected_info,#timeline_info {display:none;}
#ticket_detail .depart_info {font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;color:#444;margin:25px 20px 0 20px;}
#ticket_detail .depart_info .city {margin:0 20px 0 10px;}
#ticket_detail .depart_info .date {margin:0 20px 0 0;}
#ticket_detail .depart_info .hr {margin:0 10px;color:#999;font-size:11px;}
.timeline {height:25px;background:#eee;margin:5px 5px 0 5px;padding:8px 0 0;display:none;}
.timeline .desc {float:left;font-size:11px;color:#444;margin:0 0 0 7px;}
.timeline .links {float:right;margin:0 10px 0 0;}
.timeline .links a {color:#666;}
#ticket_detail .timeline .depart_info {float:left;margin:0;}
.timeline .depart_info strong {width:90px;text-align:right;float:left;}
.timeline .q_tips {float:left;background:url(../images/icon_tip2.gif) no-repeat;width:20px;height:20px;margin:0 0 0 10px;}

#timeline_info .ticket_data {border-top:1px solid #ddd;margin:15px 10px;padding:10px 0 0 20px;}
#timeline_info .ticket_data_wrap {float:left;margin:0 20px 0 0;}
#timeline_info .title {text-align:center;margin:0 0 2px 0;font-style:italic;color:#555;}
#timeline_info .price_box {color:#fff;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:115px;height:52px;line-height:60px;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:30px;background:#f26067;}
#timeline_info .miles_box {color:#f26066;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:115px;height:52px;line-height:60px;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:22px;background:#e6e6e6;}
#timeline_info .miles_text {color:#666;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;margin:5px 0 0;}
#timeline_info .text_box {color:#666;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;height:52px;line-height:60px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:30px;}
#timeline_info .formula {font-size:30px;font-weight:bold;color:#666;margin:25px 0 0 0;}
#timeline_info .timeline_status_left {float:left;margin:10px 0 0 15px;color:#666;}
#timeline_info .timeline_status_right {float:right;margin:10px 10px 0 0;}
#timeline_info .timeline_status_right .airline {float:left;margin:0 20px 0 0;}
#timeline_info .timeline_status_right .creditcard {float:left;}

.book_btn {background:url(../images/btn_bg_green.gif) repeat-x center;float:right;padding:0 15px;height:40px;line-height:43px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:14px;color:#fff;display:block;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff;margin:0 10px 0 0; text-decoration:none;}
.book_btn:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}
.add_compare_btn {background:url(../images/btn_bg_pink.gif) repeat-x center;float:right;padding:0 15px;height:40px;line-height:43px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:14px;color:#fff;display:block;text-shadow: 2px 2px #e54048;-moz-text-shadow: 2px 2px #e54048;-khtml-text-shadow: 2px 2px #e54048;-webkit-text-shadow: 2px 2px #e54048; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff;margin:10px 10px 0 0; text-decoration:none;}
.add_compare_btn:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}



.select_btn {background:url(../images/btn_bg_green.gif) repeat-x center;float:right;padding:0 20px;height:40px;line-height:43px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff;margin:13px 10px 0 0; text-decoration:none;}
.select_btn:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}

/*** Search Result ***/
#search_result_wrap {position:relative;}
#search_result {width:820px;}
#search_result .item_box {width:236px;height:214px;float:left;margin:0 34px 34px 0; cursor:pointer;overflow:hidden;}
#search_result .item_box:hover .box_header {border:1px solid #618d3b;background:url(../images/ticket/green_header.gif) repeat-x;box-shadow: 0 0 10px #a5c488;-khtml-box-shadow: 0 0 10px #a5c488;-webkit-box-shadow: 0 0 10px #a5c488;-moz-box-shadow: 0 0 10px #a5c488;}
#search_result .no-margin {margin:0;}
.search_result_item .title {color:#444;font-weight:bold; font-style:italic;margin:0 0 3px 0;}
.search_result_item .price {float:left;margin:5px 0 0 10px;}
.search_result_item .price_box {color:#fff;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:83px;height:52px;padding:8px 15px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:30px;margin:0 0 5px 0;}
.search_result_item .price_box span {display:block; font-family:Verdana, Geneva, sans-serif;font-size:11px; font-style:italic;}
.search_result_item .miles {float:left;margin:5px 0 0 10px;width:94px;}
.search_result_item .miles_box {color:#868686;padding:8px 0;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;height:52px;font-size:26px;margin:0 0 5px 0;}
.search_result_item .miles_box span {display:block; font-family:Verdana, Geneva, sans-serif;font-size:11px; font-style:italic;}
.search_result_item .text {text-align:center;color:#444;font-size:12px;}
.search_sort_type {border-top:1px dashed #bbb;margin:10px 0 0;padding:5px 0 10px 10px;color:#888;}
.search_sort_type .sort_box img { vertical-align:middle;margin:0 4px 0 0;}
#search_result .item_cpm_box {height:240px;}
.search_result_item .earnmiles {margin:15px 0 0;font-size:11px;text-align:left;}

/*** Search Filter ***/
#search_filter .filter_item {margin:0 0 10px 0;}
#search_filter .filter_title {background:#f6faef;height:40px;line-height:40px;color:#444;padding:0 0 0 15px;margin:0 0 10px 0;font-weight:bold;}
#search_filter .filter_title2 {height:25px;color:#444;padding:0 0 0 15px;margin:0 0 10px 0;font-weight:bold;border-bottom:1px solid #ddd;}
#search_filter .filter_title input {background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 10px;height:20px;line-height:20px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:11px;color:#fff;text-transform:uppercase;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;float:right;margin:10px 5px 0 0;}
#search_filter .filter_item .hidden {display:none;}
#search_filter .showmore {background:#eee;padding:3px;text-align:center;color:#444; cursor:pointer;display:block; text-decoration:none;}
#search_filter .showmore:hover {background:#8fc162;color:#fff;}
#search_filter .filter_type {font-size:11px;height:25px;margin:0 0 0 15px;color:#888;}
#search_filter .filter_type a.actived {color:#000;font-weight:bold;}
#search_filter .filter_type a { text-decoration:none;color:#888;}
#search_filter .filter_type a:hover { color:#000;}

/*** Filter ***/
#search_filter .form_field {margin:0 0 5px 0;padding:0 0 0 15px;color:#666;}
#search_filter .allnone {color:#629235;font-weight:bold;}
#search_filter .ui-slider {margin:0 15px;}
#search_filter .ui-slider a {-webkit-transition:none;-moz-transition:none;transition:none;}
#search_filter .l_range { text-align:center;font-size:11px;margin:5px 0 0;color:#666;}
#search_filter .l_range span {margin:0 15px;}

/*** Popup Styles ***/
.ticket_data {}
.ticket_data .ticket_data_wrap {float:left;margin:0 10px 0 0;}
.ticket_data .title {text-align:center;margin:0 0 2px 0;font-style:italic;color:#333;font-size:12px;}
.ticket_data .price_box {color:#fff;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:75px;height:42px;line-height:42px;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;background:#f26067;}
.ticket_data .miles_box {color:#f26066;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:75px;height:42px;line-height:42px;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;background:#e6e6e6;}
.ticket_data .miles_text {color:#666;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:14px;margin:5px 0 0;}
.ticket_data .text_box {color:#666;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;height:42px;line-height:42px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;}
.ticket_data .formula {font-size:16px;font-weight:bold;color:#666;margin:25px 0 0 0;}

.miles_detail {padding:10px;font-size:12px;}
.miles_detail .flytimes {font-style:italic;height:16px;}
.miles_detail .flytimes span {float:left;margin:0 10px 0 0;}
.miles_detail .freeflight {font-style:italic;margin:8px 0;}
.miles_detail .freeflight em {color:#699740;}
.miles_detail .cities {font-style:italic;}
.miles_detail .cities strong {font-size:14px; font-family:Georgia;}
.miles_detail .section2 {border-top:1px dashed #ccc;margin:11px 0 0;padding:11px 0 0; position:relative;}
.miles_detail .section2 .or { position:absolute;top:-8px;left:100px;background:#fff;color:#999;font-size:10px;font-style:italic;}
.miles_detail .will_earn {margin:0 0 5px 0;}
.miles_detail .will_earn .title {margin:0 0 5px 0;}
.miles_detail .will_earn em {color:#619235;}
.freeflight input {background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:20px;line-height:20px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;display:block;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; position:absolute;top:40px;right:20px; cursor:pointer;}
.freeflight input:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;}
.miles_detail .progress_bar_wrap {height:30px;margin:3px 0 0;}
.miles_detail .progress_bar {background:url("../images/form/slider_bg.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:3px 0 0;border:1px solid #ddd;}
.miles_detail .progress_bar .increase {background:#cedca7;height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.miles_detail .progress_bar .current {background:url("../images/form/slider_handle.gif");height:7px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.miles_detail .progress_bar_wrap .title {font-size:11px;text-align:right;}
.miles_detail .progress_bar_wrap img { vertical-align:middle;}

.ticket_timeline {font-size:12px;padding:0 0 10px 0;}
.ticket_timeline .title {background:#eee;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:14px;padding:10px 10px 5px 10px;}
.ticket_timeline small {color:#888;margin:0 0 0 10px;}
.ticket_timeline .solo_rout {}
.ticket_timeline .airport_detail {color:#444;background:#eaf1e5;height:22px;padding:5px 10px 0 10px;font-size:11px;}
.ticket_timeline .airport_detail .service {float:right;margin:0 5px 0 0;}
.ticket_timeline .airport_detail .service span {float:left;}
.ticket_timeline .airport_detail .service .img {float:left;}
.ticket_timeline .airport_detail .service .img img { vertical-align:middle;}
.ticket_timeline .airport_detail span {float:left;margin:2px 10px 0 0;}
.ticket_timeline .airport_detail span.logo {margin:0 15px 0 0;}
.ticket_timeline .airport_detail span img { vertical-align:middle;}
.ticket_timeline .airport_stop {border:1px solid #e7e7e7;border-left:none;border-right:none;padding:6px 0;margin:15px 0;}
.ticket_timeline .airport_stop span {color:#999;font-size:10px;margin:0 15px 0 0;}
.ticket_timeline .solo_rout {height:44px;margin:6px 0 6px 0;}
.ticket_timeline .total_hr {float:left;background:url(../images/hr_span2.gif) no-repeat center;width:61px;height:167px;line-height:167px;margin:22px 0 0 0;}
.ticket_timeline .total_hr2 {float:left;background:url(../images/hr_span2.gif) no-repeat center;width:61px;height:167px;line-height:167px;margin:22px 0 0 0;}
.ticket_timeline .total_hr3 {float:left;background:url(../images/hr_span3.gif) no-repeat center;width:61px;height:300px;line-height:300px;margin:32px 0 0 0;}
.ticket_timeline .total_hr4 {float:left;background:url(../images/hr_span4.gif) no-repeat center;width:61px;height:450px;line-height:450px;margin:32px 0 0 0;}
.ticket_timeline .total_hr span {color:#999;font-size:10px;}
.ticket_timeline .flight_rout_right {float:left;width:607px;margin:0 0 0 10px;padding:10px 0;}
.ticket_timeline .solo_hr {float:left;background:url(../images/hr_span1.gif) no-repeat center;width:72px;height:37px;margin:4px 0 0;text-align:center;}
.ticket_timeline .solo_hr span {display:block;color:#999;font-size:10px;margin:12px 0 0;}
.ticket_timeline .solo_rout_right {float:left;color:#444;font-weight:bold;width:300px; }
.ticket_timeline .solo_rout_right div {margin:0 0 10px 0;}
.ticket_timeline .solo_rout_right div span {float:left;width:125px;font-family:Georgia;}
.ticket_timeline .solo_other_right {float:left;width:200px;text-align:center;}
.ticket_timeline .solo_des {margin:10px 0 0;font-weight:bold;}

/** better fare popup **/
.better_fare {color:#444;}
.better_fare span {color:#F36167;font-weight:bold;}

/*** new search popup ***/
#new_search_box {width:470px;}
#new_search_box .step_inner_box small {text-align:right;display:block;margin:10px 25px;color:#777;font-size:11px;}
#new_search_box .from_input,.to_input {float:left;}
#new_search_box .choosecity input {color:#444;width:208px;height:40px;line-height:40px;padding:0 0 0 15px;font-size:16px;border:1px solid #D3D3D3;background:url(../images/form/input_bg.gif) left top;-webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;}
#new_search_box .choosecity input.focus {border:1px solid #8fd16a;}
#new_search_box #routtype {margin:0 0 10px 0;list-style:none;height:40px;float:left;}
#new_search_box #routtype .radio {display:none;}
#new_search_box #routtype li {float:left;}
#new_search_box #person_num {margin:0 10px 0 0;height:38px;float:right;}
#new_search_box #person_num .select2-container span {width:100px;}
#new_search_box #person_num .select2-container .select2-choice {height:35px;line-height:35px;border:1px solid #ccc;}
#new_search_box #person_num .select2-container .select2-choice div b {background-position:0 6px;}
#new_search_box .to_input {margin:0 0 0 10px;}
#new_search_box .choosecity {height:41px;margin:10px 0 0;}
#new_search_box .choosedate {margin:15px 0 0;}
#new_search_box .choosedate_tab {font-size:14px;color:#666;height:30px;margin:0 0 0 10px;}
#new_search_box .choosedate_tab .text {padding:2px 4px;}
#new_search_box .choosedate_tab span {background:url(../images/icon_cal.gif) no-repeat right;padding:0 20px 0 0;height:21px;}
#new_search_box .l_depart_date span {float:left;}
#new_search_box .l_return_date span {float:right;}
#new_search_box .datepicker_wrap {margin:0 0 0 4px;width:467px;height:256px;}
#new_search_box .depart_date {}
#new_search_box .return_date {}
#new_search_box .l_depart_date {float:left;width:223px;height:25px;}
#new_search_box .l_return_date {float:left;width:223px;height:25px;}
#new_search_box #l_depart_date_val.focus {border:1px solid #8FD16A;}
#new_search_box #l_return_date_val.focus {border:1px solid #e23840;}
#new_search_box #search_btn {margin:10px 0 0;text-align:right;}
#new_search_box #search_btn input {background:url(../images/searh_btn.png) no-repeat;width:222px;height:60px;border:none;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:20px;color:#fff;text-shadow: 2px 2px #c03239;-moz-text-shadow: 2px 2px #c03239;-khtml-text-shadow: 2px 2px #c03239;-webkit-text-shadow: 2px 2px #c03239; text-transform:uppercase; cursor:pointer;}
#new_search_box #search_btn input:hover {background:url(../images/searh_btn2.png) no-repeat;text-shadow: 2px 2px #7caf4e;-moz-text-shadow: 2px 2px #7caf4e;-khtml-text-shadow: 2px 2px #7caf4e;-webkit-text-shadow: 2px 2px #7caf4e;}

/*** empty page ***/
.empty #footer { position:fixed;bottom:0;width:100%;}
.empty_wrap {width:1000px;margin:15px auto 0 auto;text-align:center;}
.empty_wrap h3 {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:38px;color:#333; text-transform:uppercase;color:#6a9f36;}
.empty_wrap .msg {color:#555;font-size:14px;}

/*** ads **/
.bottom_ad {height:90px;width:728px;background:#eee;margin:0 0 0 20px;}