/**** Base styles ****/
body {background:url(../images/bg.gif); font-family:Verdana, Geneva, sans-serif;font-size:12px;}
#overline_l,#overline_r {width:16px;background:#8fd16a;position:absolute;left:0;top:0;}
#overline_r {left:inherit;right:0;}
#wrap {width:1000px;margin:0 auto;}

/**** Header styles ****/
#header {background:url(../images/header_bg.gif) repeat-x;}
#header_cloud {background:url(../images/header_cloud.png) repeat-x bottom;}
#header_body {width:1000px;margin:0 auto;position:relative;}
.home_header #header_cloud {height:220px;}
#logo { position:absolute;left:0;top:0;}
#logo a {background:url(../images/logo.gif) no-repeat;display:block;width:156px;height:152px;text-indent:-999em;}
#top_nav {padding:14px 0 0;height:70px;}
#top_nav .signin,#top_nav .account,#top_nav .logout {background:url(../images/btn_bg_light.gif) repeat-x;float:right;width:87px;height:34px;text-align:center;line-height:34px; text-transform:uppercase; text-decoration:none;color:#444;border:1px solid #999;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; font-weight:bold;-moz-transition:none;-khtml-transition:none;-webkit-transition:none;transition:none;margin:0 0 0 10px;}
#top_nav .signin:hover,#top_nav .account:hover {background-position:bottom;}
#top_nav .sns_btn {float:right;clear:none;list-style:none;margin:10px 30px 0 0;border-right:1px solid #999;padding:0 20px 0 0;height:20px;}
#top_nav .sns_btn li {float:left;margin:0 5px 0 0;}
/*** Top Tab ***/
#top_tab {list-style:none; position:absolute;top:38px;left:180px;}
#top_tab li {background:#e7e7e7;border:1px solid #bbb;float:left;margin:0 8px 0 0;}
#top_tab li.active {background:url(../images/bg.gif);border-bottom:none;padding:0 0 1px 0;}
#top_tab li:hover {background:#ccc;}
#top_tab li.active:hover {background:url(../images/bg.gif);}
#top_tab li.red {background:#f65058;border:1px solid #cf3a42;}
#top_tab li.red:hover {background:#e92f38;}
#top_tab li a {color:#555;font-size:11px; text-decoration:none;display:block;padding:0 10px;height:30px;line-height:30px;}
#top_tab li.red a {color:#fff;}
#top_tab li img { vertical-align:middle;margin:-4px 0 0;}

/*** Box Styles ***/
.box_header {height:43px;border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-khtml-border-radius:7px 7px 0 0;-webkit-border-radius:7px 7px 0 0;}
.box_header .close {width:24px;height:24px;cursor:pointer;float:right;background:url(../images/box_close.gif) no-repeat;text-indent:-999em;margin:8px 10px 0 0;}
.box_header .edit {width:24px;height:24px;cursor:pointer;float:right;background:url(../images/box_edit.gif) no-repeat;text-indent:-999em;margin:8px 5px 0 0;}

.box_body {background:#fff url(../images/box_light_bg.gif) repeat-x bottom;border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;-khtml-border-radius:0 0 7px 7px;-webkit-border-radius:0 0 7px 7px;}
.box_header .logo {background:url(../images/ticket/trans.png);float:left;height:41px;line-height:43px; vertical-align:middle;width:50px;text-align:center;border-radius:7px 0 0 0;-moz-border-radius:7px 0 0 0;-khtml-border-radius:7px 0 0 0;-webkit-border-radius:7px 0 0 0;}
.box_header .logo img {vertical-align:middle;margin:5px 0 0;}
.box_header strong {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:16px;color:#fff;float:left;margin:13px 0 0 10px;}
.box_header .update {float:right;margin:14px 10px 0 0;}

/*** Green ***/
.green_box .box_header {border:1px solid #618d3b;background:url(../images/ticket/green_header.gif) repeat-x;box-shadow: 0 0 10px #a5c488;-khtml-box-shadow: 0 0 10px #a5c488;-webkit-box-shadow: 0 0 10px #a5c488;-moz-box-shadow: 0 0 10px #a5c488;}
.green_box .box_body {border:4px solid #91c362;border-top:0;box-shadow: 0 0 10px #a5c488;-khtml-box-shadow: 0 0 10px #a5c488;-webkit-box-shadow: 0 0 10px #a5c488;-moz-box-shadow: 0 0 10px #a5c488;}
.green_box .price_box {background:#8fc162;}
/*** Blue1 ***/
.blue_box .box_header {border:1px solid #467791;background:url(../images/ticket/blue_header.gif) repeat-x;box-shadow: 0 0 10px #88a6c4;-khtml-box-shadow: 0 0 10px #88a6c4;-webkit-box-shadow: 0 0 10px #88a6c4;-moz-box-shadow: 0 0 10px #88a6c4;}
.blue_box .box_body {border:4px solid #839ab2;border-top:0;box-shadow: 0 0 10px #88a6c4;-khtml-box-shadow: 0 0 10px #88a6c4;-webkit-box-shadow: 0 0 10px #88a6c4;-moz-box-shadow: 0 0 10px #88a6c4;}
.blue_box .price_box {background:#5b9bb6;}
/*** Blue2 ***/
.blue2_box .box_header {border:1px solid #3b898b;background:url(../images/ticket/blue2_header.gif) repeat-x;box-shadow: 0 0 10px #88c4bf;-khtml-box-shadow: 0 0 10px #88c4bf;-webkit-box-shadow: 0 0 10px #88c4bf;-moz-box-shadow: 0 0 10px #88c4bf;}
.blue2_box .box_body {border:4px solid #75bdba;border-top:0;box-shadow: 0 0 10px #88c4bf;-khtml-box-shadow: 0 0 10px #88c4bf;-webkit-box-shadow: 0 0 10px #88c4bf;-moz-box-shadow: 0 0 10px #88c4bf;}
.blue2_box .price_box {background:#5cb2ae;}
/*** Red ***/
.red_box .box_header {border:1px solid #db5150;background:url(../images/ticket/red_header.gif) repeat-x;box-shadow: 0 0 10px #f79395;-khtml-box-shadow: 0 0 10px #f79395;-webkit-box-shadow: 0 0 10px #f79395;-moz-box-shadow: 0 0 10px #f79395;}
.red_box .box_body {border:4px solid #f79395;border-top:0;box-shadow: 0 0 10px #f79395;-khtml-box-shadow: 0 0 10px #f79395;-webkit-box-shadow: 0 0 10px #f79395;-moz-box-shadow: 0 0 10px #f79395;}
.red_box .price_box {background:#f16767;}
/*** Yellow ***/
.yellow_box .box_header {border:1px solid #c49137;background:url(../images/ticket/yellow_header.gif) repeat-x;box-shadow: 0 0 10px #c4c288;-khtml-box-shadow: 0 0 10px #c4c288;-webkit-box-shadow: 0 0 10px #c4c288;-moz-box-shadow: 0 0 10px #c4c288;}
.yellow_box .box_body {border:4px solid #f0c878;border-top:0;box-shadow: 0 0 10px #c4c288;-khtml-box-shadow: 0 0 10px #c4c288;-webkit-box-shadow: 0 0 10px #c4c288;-moz-box-shadow: 0 0 10px #c4c288;}
.yellow_box .price_box {background:#efb038;}
/*** Grey ***/
.grey_box .box_header {border:1px solid #8f8f8f;background:url(../images/ticket/grey_header.gif) repeat-x;box-shadow: 0 0 10px #ccc;-khtml-box-shadow: 0 0 10px #ccc;-webkit-box-shadow: 0 0 10px #ccc;-moz-box-shadow: 0 0 10px #ccc;}
.grey_box .box_body {border:4px solid #bdbdbd;border-top:0;box-shadow: 0 0 10px #ccc;-khtml-box-shadow: 0 0 10px #ccc;-webkit-box-shadow: 0 0 10px #ccc;-moz-box-shadow: 0 0 10px #ccc;}
.grey_box .price_box {background:#8fc162;}

/*** Footer styles ****/
#footer {background:url(../images/footer.png) repeat-x bottom left;height:148px;padding:1px 0 0;color:#bbb;}
#footer .copyright {text-align:center;margin:5px 0 0;}
#footer .navigation {width:520px;margin:70px auto 0 auto;height:30px;}
#footer .navigation li {float:left;list-style:none;background:url(../images/bullet.gif) no-repeat 0 8px;padding:0 0 0 15px;margin:0 0 0 10px;}
#footer .navigation li.first {background:none;}
#footer .navigation li a { text-decoration:none;color:#bbb;}
#footer .navigation li a:hover {color:#fff;}

/*** jQuery Nice Form ***/
.ui-buttonset .ui-button {margin-right:-0.4em;}
.ui-button-text-only .ui-button-text {padding:0.6em 1em;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:url(../images/form/radio_btn.gif) repeat-x;color:#777;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background:url(../images/form/radio_btn_checked.gif) repeat-x;color:#333;}
.ui-buttonset .active .ui-state-default {background:url(../images/form/radio_btn_checked.gif) repeat-x;color:#333;}
.ui-widget-content {background:url(../images/form/slider_bg.gif) top;border:1px solid #d7d7d7;}
.ui-slider-horizontal {height:7px;}
.ui-widget-header {background:url(../images/form/slider_handle.gif) bottom;}
.ui-slider .ui-slider-handle {width:1em;height:1em;}
.ui-effects-transfer { border: 5px dashed #8fc162;background:rgba(142,193,98,0.3); }
body div.selector {background:url(../images/sprite_search.png) no-repeat -479px -133px;height:30px;}
body div.selector span {background:url(../images/sprite_search.png) no-repeat right -97px;height:30px;padding:0 30px 0 2px;}
.ui-autocomplete {background:#fff;}
.ui-autocomplete .ui-menu-item a:hover {background:#92cb6b;color:#fff;border:none;}

/*** Datepicker ***/
.ui-datepicker .ui-datepicker-header {background:url(../images/datepicker_header.gif) repeat-x;border:1px solid #ccc;color:#555;font-size:12px;}
.ui-datepicker {background:#f0f0f0;}
.ui-datepicker td a {text-align:center;padding:6px 0;width:28px;}
.ui-datepicker td.ui-state-highlight {border:none;}
.ui-datepicker td.ui-state-last {}
.ui-datepicker td.ui-state-range a {background:#d8eac9;}
.ui-datepicker a.ui-state-highlight {border:none;}
.ui-datepicker .ui-state-disabled {width:27px;height:27px;}
.ui-datepicker .ui-state-disabled span.ui-state-default {padding:6px 0;text-align:center;}
.ui-datepicker .ui-state-highlight a {background:url(../images/datepicker_actived1.gif) no-repeat;color:#fff;border:1px solid #5b962d;font-weight:bold;}
.ui-datepicker .ui-state-last a {background:url(../images/datepicker_actived2.gif) no-repeat;color:#fff;border:1px solid #c11e23;font-weight:bold;}
#return_date .ui-state-active {background:url(../images/datepicker_actived2.gif) no-repeat;color:#fff;font-weight:bold;}

/*** Qtip ***/
.qtip-wrapper {box-shadow: 0 0 10px #bbb;-khtml-box-shadow: 0 0 10px #bbb;-webkit-box-shadow: 0 0 10px #bbb;-moz-box-shadow: 0 0 10px #bbb;opacity:0.97;}
.qtip-button {background:url(../images/closelabel.png) no-repeat;width:8px;height:8px;text-indent:-999em;}
.qtip-title {height:8px;padding:2px;}

/*** Signin Popup ***/
.simple_popup {padding:20px;}
.simple_popup h3 {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:28px;margin:10px 0;text-transform:uppercase;color:#6a9f36;}
.simple_popup h4 {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:22px;margin:10px 0;text-transform:uppercase;color:#6a9f36;}
.simple_popup h5 {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:22px;margin:10px 0;color:#333; text-transform:uppercase;}
.simple_popup p {color:#555;line-height:130%;}
.simple_popup .button {margin:5px 0;background:url(../images/btn_bg_black.gif) repeat-x center;padding:0 20px;height:30px;line-height:30px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:12px;color:#fff;text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border:1px solid #fff;text-decoration:none; cursor:pointer;}
.simple_popup .button:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;}
.simple_popup .button_green {margin:5px 0;background:url(../images/btn_bg_green.gif) repeat-x center;width:150px;text-align:center;height:38px;line-height:38px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff; text-decoration:none; cursor:pointer;}
.simple_popup .button_green:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}
.simple_popup .button_red {margin:5px 0;background:url(../images/btn_bg_pink.gif) repeat-x center;width:150px;text-align:center;height:38px;line-height:38px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #e54048;-moz-text-shadow: 2px 2px #e54048;-khtml-text-shadow: 2px 2px #e54048;-webkit-text-shadow: 2px 2px #e54048; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff; text-decoration:none; cursor:pointer;margin:0;}
.simple_popup .button_red:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}

#signin_popup_box {width:580px;color:#666;padding:15px;}
#signin_popup_box .title1 {font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:20px;text-transform:uppercase; text-align:center;}
#signin_popup_box .title2 {text-transform:uppercase; text-align:center;border-bottom:1px solid #ccc;padding:0 0 20px 0;margin:0 0 10px 0;}
#signin_popup_box .loginform {width:320px;margin:0 auto;}
#signin_popup_box .loginform .field {margin:10px 0;}
#signin_popup_box .loginform .field input {width:295px;padding:10px;}
#signin_popup_box .btns {height:45px;}
#signin_popup_box #signin_login {background:url(../images/btn_bg_green.gif) repeat-x center;width:150px;text-align:center;height:38px;line-height:38px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #78a74b;-moz-text-shadow: 2px 2px #78a74b;-khtml-text-shadow: 2px 2px #78a74b;-webkit-text-shadow: 2px 2px #78a74b; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff; text-decoration:none; cursor:pointer;float:left;}
#signin_popup_box #signin_login:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}
#signin_popup_box #signin_signup {background:url(../images/btn_bg_pink.gif) repeat-x center;width:150px;text-align:center;height:38px;line-height:38px;font-family:'HelveticaNeueLTPro-BdCn';font-weight:normal;font-size:15px;color:#fff;display:block;text-shadow: 2px 2px #e54048;-moz-text-shadow: 2px 2px #e54048;-khtml-text-shadow: 2px 2px #e54048;-webkit-text-shadow: 2px 2px #e54048; text-transform:uppercase;box-shadow: 0 0 5px #aaa;-khtml-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff; text-decoration:none; cursor:pointer;float:left;margin:0 0 0 15px;}
#signin_popup_box #signin_signup:hover {background:url(../images/btn_bg_grey.gif) repeat-x center;text-shadow: 2px 2px #777;-moz-text-shadow: 2px 2px #777;-khtml-text-shadow: 2px 2px #777;-webkit-text-shadow: 2px 2px #777;}
#signin_popup_box .forget {font-style:italic;}
#signin_popup_box .forget a {color:#666; text-decoration:none;}
#signin_popup_box .sns_signin {padding:15px 129px 0 129px;border-top:1px solid #ccc;margin:15px 0 0;font-size:11px;}
#signin_popup_box .sns_signin li {list-style:none;background:url(../images/bullet.gif) no-repeat 0 6px;padding:0 0 0 10px;}
#signin_popup_box .sns_btns {margin:15px 0 0;height:40px;}
#signin_popup_box #signin_facebook {background:url(../images/sns_facebook.gif) no-repeat;width:130px;height:42px;border:none;text-indent:-999em;float:left;cursor:pointer;}
#signin_popup_box #signin_google {background:url(../images/sns_google.gif) no-repeat;width:134px;height:42px;border:none;text-indent:-999em;float:right;cursor:pointer;}

/*** Loading Tips ***/
#loading_tips {display:none;background:#F16767;color:#fff;border-radius:7px;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;width:83px;padding:8px 15px;width:200px; position:fixed;top:5px;left:5px;border:3px solid #fdcbce;box-shadow: 0 0 10px #aaa;-khtml-box-shadow: 0 0 10px #aaa;-webkit-box-shadow: 0 0 10px #aaa;opacity:0.95;}
#loading_tips .loading {background:url(../images/loading2.gif) no-repeat bottom center;text-align:center;font-family:'HelveticaNeueLTPro-BdCn';font-size:20px;padding:0 0 5px 0;margin:0 0 5px 0;}
#loading_tips .program li {background:url(../images/bullet2.gif) no-repeat 0 7px;padding:0 0 0 8px;list-style:none;}
#loading_tips .note {margin:10px 0 5px 0;font-style:italic;}
#loading_tips_i2 {text-align:center;padding:40px 0;display:none;}
#loading_tips_i2 .success { font-weight:bold;font-size:14px; text-transform:uppercase;}
#loading_tips_i2 .ask_update {margin:15px 0;}
#loading_tips_i2 input {background:url(../images/btn_bg_light.gif) repeat-x;width:87px;height:34px;text-align:center;line-height:34px; text-transform:uppercase; text-decoration:none;color:#444;border:1px solid #999;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; font-weight:bold;-moz-transition:none;-khtml-transition:none;-webkit-transition:none;transition:none;margin:0 5px;}
#loading_tips .update_link {margin:10px 0 0;}
#loading_tips .update_link a {color:#fff;}
#loading_tips_i3 {display:none;}

#sigin_tips {display:none;background:#222;border:1px solid #555;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#eee;opacity:0.9;width:250px;padding:15px; position:absolute;right:10px;top:54px;z-index:100;}
#sigin_tips h3 {font-family:'HelveticaNeueLTPro-BdCn'; font-weight:normal; text-transform:uppercase;font-size:14px;border-bottom:1px solid #ccc;}
#sigin_tips ul {list-style:none;margin:10px 0 0 0;}
#sigin_tips ul li {background:url(../images/bullet.gif) no-repeat 0 7px;padding:0 0 0 10px;font-size:12px;}
#sigin_tips ul li a {color:#6A9F36;}
#sigin_tips .close { position:absolute;top:6px;right:6px; cursor:pointer;padding:3px;font-weight:bold;}
#sigin_tips .tip {background:url(../images/dark_arrow.gif) no-repeat;right:20px;top:-6px;width:11px;height:6px; position:absolute;opacity:0.9;}

/*** booking_ticket popup ***/
.booking_agent {width:650px;}
.booking_agent .booking_ticket {margin:0 0 10px 0;border-bottom:1px solid #ccc;}
.booking_agent .booking_ticket .date {float:left;width:80px;font-size:12px;color:#666; font-family:Georgia, "Times New Roman", Times, serif;}
.booking_agent .booking_ticket .booking_ticket_right {float:left;width:580px;}
.booking_agent .booking_ticket .city {font-weight:bold;}
.booking_agent .booking_ticket .time {font-weight:normal;color:#777;margin:0 0 0 10px;}
.booking_agent .booking_ticket .airline {color:#444;}
.booking_agent .booking_ticket .fare {color:#444; font-style:italic;margin:0 0 10px 0;}
.booking_agent .formula {height:40px;}
.booking_agent .formula .title {color:#6A9F36;}
.booking_agent .formula .field {float:left;margin:0 15px;font-size:14px;}
.booking_agent .formula .price {color:#F36167;}
.booking_agent .formula .symbol {margin:10px 0 0;}



/** Almost Done popup **/
.almostdone .share_wrap {border-top:1px solid #ccc;padding:10px 0 0;margin:20px 0 0;}
.almostdone .share_sns {width:200px;float:left;}
.almostdone .share_sns li {list-style:none;margin:0 0 3px 0;}
.almostdone .share_email {width:260px;float:left;}
.almostdone .share_email .btns {text-align:right;}
.almostdone a {color:#6A9F36;}

/** quick add program **/
.quick_add_program a {color:#6A9F36;}
.quick_add_program .airline_item {height:50px;}
.quick_add_program .airline_item .checker {float:left;}
.quick_add_program .airline_item .logo {float:left;width:200px;}
.quick_add_program .airline_item img { vertical-align:middle;}
.quick_add_program .airline_item .desc {color:#F65058}
.quick_add_program .more {text-align:right; margin:4px 0 0;font-style:italic;color:#888;}
.quick_add_program .btns {margin:15px 0 0;height:30px;}
.quick_add_program .btns input {float:left;margin:0 12px 0 0}
.quick_add_program .airlines {background:#f7f7f7;padding:30px 10px 10px;border:1px solid #eee;}

/** add program tip **/
.add_program_tips {padding:15px;}
.add_program_tips h3 {font-family:'HelveticaNeueLTPro-BdCn'; font-weight:normal; text-transform:uppercase;font-size:14px;border-bottom:1px solid #ccc;}
.add_program_tips ul {list-style:none;margin:10px 0 0 0;}
.add_program_tips ul li {background:url(../images/bullet.gif) no-repeat 0 7px;padding:0 0 0 10px;font-size:12px;}
.add_program_tips ul li a {color:#6A9F36;}
.add_program_tips .close { position:absolute;top:6px;right:6px; cursor:pointer;padding:3px;font-weight:bold;}
.add_program_tips .tip {background:url(../images/dark_arrow.gif) no-repeat;right:20px;top:-6px;width:11px;height:6px; position:absolute;opacity:0.9;}

/*** Credit Card ***/
.creditcard { position:relative;width:48px;height:30px;}
.creditcard img { position:absolute;}
.creditcard.actived .wb {display:none;}

/*** Airline ***/
.airline { position:relative;}
.airline .wb { position:absolute;left:0;top:0;}
.airline.actived .wb {display:none;}
.airline .manual { position:absolute;right:0;top:0;background:#8FC162;color:#fff;font-size:8px;padding:0 2px;}

/** error message **/
.error_box {background:#fef7cd;color:#aa0707;margin:10px 20px;padding:10px;display:none;}


/**** Fonts ****/
@font-face {
	font-family: 'HelveticaNeueLTPro-BdCn';
	src: url('helveticaneueltpro-bdcn.eot');
	src: url('helveticaneueltpro-bdcn.eot?#iefix') format('embedded-opentype'),
			 url('helveticaneueltpro-bdcn.woff') format('woff'),
			 url('helveticaneueltpro-bdcn.ttf') format('truetype'),
			 url('helveticaneueltpro-bdcn.svg#helveticaneueltpro-bdcn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lekton-Regular';
	src: url('lekton-regular.eot');
	src: url('lekton-regular.eot?#iefix') format('embedded-opentype'),
			 url('lekton-regular.woff') format('woff'),
			 url('lekton-regular.ttf') format('truetype'),
			 url('lekton-regular.svg#lekton-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}