<section id="test-edit">
    
    <div class="row">
        
        <div class="columns large-12">
            
            <hgroup ng-if="!isNew">
                <h1>Redemption test</h1>
                <h4 class="subheader uppercase">
                    <span ng-repeat="segment in item.segments">
                        <i ng-if="!$first &amp;&amp; item.segments[$index - 1].arrival == segment.departure" class="fi-arrow-right"></i> <span ng-if="$first || item.segments[$index - 1].arrival != segment.departure">{{ segment.departure }}</span> <i class="fi-arrow-right" ng-if="$first"></i> <span>{{ segment.arrival }}</span>
                    </span>
                </h4>
            </hgroup>
            
            <h1 ng-if="isNew">New redemption test</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Testing framework</a>
                </li>
                <li kk-nav route="redemptionTests">
                    <a>Redemption tests</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editRedemptionTest" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newRedemptionTest">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate ng-if="item &amp;&amp; config">
                
                <div class="row">
                    <div class="columns large-12">
                        <fieldset>
                            <legend>Configuration</legend>
                            
                            <div class="row">
                                <div class="columns medium-4">
                                    <div class="button-bar">
                                        <ul class="button-group radius">
                                            <li ng-repeat="type in config.redemptionTypes">
                                                <button type="button" class="button tiny" ng-class="{ secondary: item.type != type.code }" ng-click="onTypeChange(item, type.code)">
                                                    <i ng-class="{ 'fi-trophy': type.code == 'award', 'fi-arrow-up': type.code == 'upgrade' }"></i> {{type.name}}
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <hr />
                            
                            <div ng-if="item.segments.length > 0">
                                <div class="row">
                                    <div class="columns large-1 text-center">
                                        <label for="seg-leg-0">Leg start</label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-dep-0">Departure <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-arr-0">Arrival <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-mc-0">Mk. carrier <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-oc-0">Op. carrier <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-fc-0">Fare code <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-fn-0">Flight no.</label>
                                    </div>
                                    <div class="columns large-2">
                                        <label for="seg-dist-0">Distance [mi]</label>
                                    </div>
                                    <div class="columns large-2 end">
                                        <label for="seg-dd-0">Departure date</label>
                                    </div>
                                </div>
                                <div class="row segment" ng-repeat="segment in item.segments" ng-form="segmentForm">
                                    <div class="columns large-1 text-center" ng-init="initSegment(this)" ng-class="[ getLegClass($index, item.segments)] ">
                                        <input type="checkbox" name="leg" ng-attr-id="seg-leg-{{$index}}" ng-model="segment.legStart" ng-disabled="$index == 0" />
                                    </div>
                                    <div class="columns large-1 airport">
                                        <input type="text" placeholder="XXX" name="dep" ng-attr-id="seg-dep-{{$index}}" ng-model="segment.departure" typeahead="ap.code as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="test/edit-test/typeahead.html" ng-class="{ loading: depAirportLoading }" typeahead-loading="depAirportLoading" autocomplete="off" typeahead-min-length="3" required class="uppercase" ng-pattern="airportCodePattern" />
                                        <kk-error field="segmentForm.dep" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.dep" type="pattern">Invalid code</kk-error>
                                    </div>
                                    <div class="columns large-1 airport">
                                        <input type="text" placeholder="XXX" name="arr" ng-attr-id="seg-dep-{{$index}}" ng-model="segment.arrival" typeahead="ap.code as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="test/edit-test/typeahead.html" ng-class="{ loading: arrAirportLoading }" typeahead-loading="arrAirportLoading" autocomplete="off" typeahead-min-length="3" required class="uppercase" ng-pattern="airportCodePattern" />
                                        <kk-error field="segmentForm.arr" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.arr" type="pattern">Invalid code</kk-error>
                                    </div>
                                    <div class="columns large-1">
                                        <input type="text" ng-model="segment.mkCarrier" name="mkCar" ng-attr-id="seg-mc-{{$index}}" required ng-pattern="airlineCodePattern" placeholder="XX" maxlength="2" class="uppercase" />
                                        <kk-error field="segmentForm.mkCar" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.mkCar" type="pattern">Two char. only</kk-error>
                                    </div>
                                    <div class="columns large-1">
                                        <input type="text" ng-model="segment.opCarrier" name="opCar" ng-attr-id="seg-oc-{{$index}}" required ng-pattern="airlineCodePattern" placeholder="XX" maxlength="2" class="uppercase" />
                                        <kk-error field="segmentForm.opCar" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.opCar" type="pattern">Two char. only</kk-error>
                                    </div>
                                    <div class="columns large-1">
                                        <input type="text" ng-model="segment.fareCode" name="fCode" ng-attr-id="seg-fc-{{$index}}" required ng-pattern="/^[a-zA-Z]$/" placeholder="X" maxlength="1" class="uppercase" />
                                        <kk-error field="segmentForm.fCode" type="required">Required</kk-error>
                                        <kk-error field="segmentForm.fCode" type="pattern">One letter</kk-error>
                                    </div>
                                    <div class="columns large-1">
                                        <input type="text" ng-model="segment.flightNo" name="flight" ng-attr-id="seg-fn-{{$index}}" class="uppercase" />
                                    </div>
                                    <div class="columns large-2">
                                        <input type="number" ng-model="segment.distance" name="distance" ng-attr-id="seg-dist-{{$index}}" />
                                    </div>
                                    <div class="columns large-2">
                                        <input ng-attr-id="seg-dd-{{$index}}" type="datetime" ng-keydown="onDateChange(segment, 'departureDate', $event)" date-time min-view="date" ng-model="segment.departureDate" format="yyyy-MM-dd" name="depDate" />
                                    </div>
                                    <div class="columns large-1 end">
                                        <button ng-if="item.segments.length > 1" type="button" ng-click="deleteSegment($index)" class="tiny secondary" title="Delete segment"><i class="fi-x"></i></button>
                                    </div>
                                </div>
                                <button type="button" ng-click="addSegment()" class="tiny"><i class="fi-plus"></i> Add segment</button>
                            </div>
                            <p ng-if="item.segments.length <= 0">There are no segments yet. Add first one.</p>
                            
                            <hr />
                            
                            <div class="row">
                                <div class="columns large-4">
                                    <label for="item-ffp">Program <small>Required</small></label>
                                    <select id="item-ffp" name="ffp" required ng-model="item.ffp" ng-options="program.id as program.name for program in config.ffps" ng-change="onFfpChange(item)"></select>
                                    <kk-error field="itemForm.ffp">Program is required</kk-error>
                                </div>
                                <div class="columns large-3">
                                    <label for="item-status">Status</label>
                                    <select id="item-status" name="stat" ng-model="item.status" ng-options="s.id as s.name for s in getFfp().tiers">
                                        <option value="">All</option>
                                    </select>
                                </div>
                                <div class="columns large-2 end">
                                    <label for="date-purchase">Purchase date</label>
                                    <input id="date-purchase" type="datetime" ng-keydown="onDateChange(item, 'purchaseDate', $event)" date-time min-view="date" ng-model="item.purchaseDate" format="yyyy-MM-dd" name="purDate" />
                                </div>
                            </div>
                            
                            <div class="row"> 
                                <div class="columns large-12">
                                    <label for="item-obj">Test objective</label>
                                    <textarea id="item-obj" name="obj" ng-model="item.objective"></textarea>
                                </div>
                            </div> 
                        </fieldset>
                        
                        <fieldset id="test-result" ng-class="{ highlight: highlightResult }" ng-if="item.test.values.length > 0">
                            <legend>Calculations</legend>
                            
                            <ul class="small-block-grid-2">
                                <li ng-repeat="test in item.test.values">
                                    <h6 class="subheader">{{ test.title }}</h6>
                                    <table>
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <th ng-repeat="season in test.seasons" class="text-right">
                                                    {{ season }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="segment in item.test.config.segments">
                                                <th class="nowrap text-left segment">
                                                    {{segment.departure}} <i class="fi-arrow-right"></i> {{ segment.arrival }}
                                                    <div class="etc" ng-repeat="rule in test.rulesPerSegment[$index]">{{ rule }}</div>
                                                </th>
                                                <td ng-repeat="testSegment in test.perSegment[$index]" class="text-right">
                                                    {{ testSegment | number : 0 }}
                                                </td>
                                            </tr>
                                            <tr> 
                                                <th class="nowrap text-left">Calculated <div class="etc" ng-if="getDefaultTestStatus()">{{ getDefaultTestStatus().name }}</div></th>
                                                <td ng-repeat="season in test.calculated" class="text-right">
                                                    {{ season | number : 0 }}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr ng-repeat="tier in getTestTiers()">
                                                <td class="nowrap text-left">{{ tier.name }}</td>
                                                <td ng-repeat="season in test.calculated" class="text-right" ng-if="$parent.$first">
                                                    {{ season | number : 0 }}
                                                </td>
                                                <td ng-repeat="season in test.perTier[$index - 1]" class="text-right" ng-if="!$parent.$first">
                                                    {{ season | number : 0 }}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </li>
                            </ul>
                            
                        </fieldset>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <button type="button" ng-class="{ success: !itemForm.$dirty, secondary: itemForm.$dirty }" ng-click="run(itemForm)"><i class="fi-play"></i> Run</button>
                        <button type="button" ng-if="!isNew" class="secondary" ng-click="clone(itemForm)"><i class="fi-page-copy"></i> Clone</button>
                        <a kk-nav route="redemptionTests" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteTest(item)">Delete</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</section> 