<section id="test-edit">
    
    <div class="row">
        
        <div class="columns large-12">
            
            <hgroup ng-if="!isNew">
                <h1>Fare attribute test</h1>
                <h4 class="subheader uppercase">
                    <span>{{ item.departure }}</span> <i class="fi-arrow-right"></i> <span>{{ item.arrival }}</span>
                </h4>
            </hgroup>
            
            <h1 ng-if="isNew">New fare attribute test</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Testing framework</a>
                </li>
                <li kk-nav route="fareAttributeTests">
                    <a>Fare attribute tests</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editFareAttributeTest" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newFareAttributeTest">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate ng-if="item &amp;&amp; config">
                
                <div class="row">
                    <div class="columns large-12">
                        <fieldset>
                            <legend>Configuration</legend>
                            
                            <div>
                                <div class="row">
                                    <div class="columns large-1">
                                        <label for="seg-dep-0">Departure <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-arr-0">Arrival <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1 large-offset-1">
                                        <label for="seg-mc-0">Mk. carrier <small>Required</small></label>
                                    </div>
                                    <div class="columns large-1">
                                        <label for="seg-oc-0">Op. carrier <small>Required</small></label>
                                    </div>
                                    <div class="columns large-7 end">
                                        <div class="row">
                                            <div class="columns small-4">
                                                <label for="seg-fc-0">Fare basis code</label>
                                            </div>
                                            <div class="columns small-4 end">
                                                <label for="seg-bf-0">Branded fare name</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row segment">
                                    <div class="columns large-1 airport">
                                        <input type="text" placeholder="XXX" name="dep" ng-attr-id="seg-dep-{{$index}}" ng-model="item.departure" typeahead="ap.code as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="test/edit-test/typeahead.html" ng-class="{ loading: depAirportLoading }" typeahead-loading="depAirportLoading" autocomplete="off" typeahead-min-length="3" required class="uppercase" ng-pattern="airportCodePattern" />
                                        <kk-error field="itemForm.dep" type="required">Required</kk-error>
                                        <kk-error field="itemForm.dep" type="pattern">Invalid code</kk-error>
                                    </div>
                                    <div class="columns large-1 airport">
                                        <input type="text" placeholder="XXX" name="arr" ng-attr-id="seg-dep-{{$index}}" ng-model="item.arrival" typeahead="ap.code as ap.name for ap in getAirports($viewValue) | filter: { '$' : $viewValue } | limitTo: 8 " typeahead-template-url="test/edit-test/typeahead.html" ng-class="{ loading: arrAirportLoading }" typeahead-loading="arrAirportLoading" autocomplete="off" typeahead-min-length="3" required class="uppercase" ng-pattern="airportCodePattern" />
                                        <kk-error field="itemForm.arr" type="required">Required</kk-error>
                                        <kk-error field="itemForm.arr" type="pattern">Invalid code</kk-error>
                                    </div>
                                    <div class="columns large-1 large-offset-1">
                                        <input type="text" ng-model="item.mkCarrier" name="mkCar" ng-attr-id="seg-mc-{{$index}}" required ng-pattern="airlineCodePattern" placeholder="XX" maxlength="2" class="uppercase" />
                                        <kk-error field="itemForm.mkCar" type="required">Required</kk-error>
                                        <kk-error field="itemForm.mkCar" type="pattern">Two char. only</kk-error>
                                    </div>
                                    <div class="columns large-1">
                                        <input type="text" ng-model="item.opCarrier" name="opCar" ng-attr-id="seg-oc-{{$index}}" required ng-pattern="airlineCodePattern" placeholder="XX" maxlength="2" class="uppercase" />
                                        <kk-error field="itemForm.opCar" type="required">Required</kk-error>
                                        <kk-error field="itemForm.opCar" type="pattern">Two char. only</kk-error>
                                    </div>
                                    <div class="columns large-7 end">
                                        <p ng-if="item.fares.length <= 0">There are no fares yet. Add <a ng-click="addFare(-1)">first one</a>.</p>
                                        <div class="row" ng-repeat="fare in item.fares" ng-form="fareForm" ng-if="item.fares.length > 0">
                                            <div class="columns small-4">
                                                <input type="text" ng-model="fare.brandedFareName" name="bfn" ng-attr-id="seg-bf-{{$index}}" ng-required="!fare.fareBasisCode" />
                                                <kk-error field="fareForm.bfn">Required</kk-error>
                                            </div>
                                            <div class="columns small-4">
                                                <input type="text" ng-model="fare.fareBasisCode" name="fbc" ng-attr-id="seg-fc-{{$index}}" ng-required="!fare.brandedFareName" />
                                                <kk-error field="fareForm.fbc">Required</kk-error>
                                            </div>
                                            <div class="columns small-2">
                                                <button type="button" ng-click="addFare($index)" class="tiny"><i class="fi-plus"></i></button>
                                            </div>
                                            <div class="columns small-2">
                                                <button ng-if="item.fares.length > 1" type="button" ng-click="deleteFare($index)" class="tiny secondary" title="Delete fare"><i class="fi-x"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <hr />
                            
                            <div class="row">
                                <div class="columns large-3">
                                    <label for="item-attr">Attribute type</label>
                                    <select id="item-attr" name="attr" ng-model="item.fareAttributeType" ng-options="s.code as s.name for s in config.fareAttributes">
                                        <option value="">All</option>
                                    </select>
                                </div>
                                <div class="columns large-3 end">
                                    <label for="date-purchase">Purchase date</label>
                                    <input id="date-purchase" type="datetime" ng-keydown="onDateChange(item, 'purchaseDate', $event)" date-time min-view="date" ng-model="item.purchaseDate" format="yyyy-MM-dd" name="purDate" />
                                </div>
                            </div>
                            
                            <div class="row"> 
                                <div class="columns large-12">
                                    <label for="item-obj">Test objective</label>
                                    <textarea id="item-obj" name="obj" ng-model="item.objective"></textarea>
                                </div>
                            </div> 
                        </fieldset>
                        
                        <fieldset id="test-result" ng-class="{ highlight: highlightResult }" ng-if="item.test.rules.length > 0">
                            <legend>Results</legend>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="text-left">Rule id</th>
                                        <th class="text-left">Attribute name</th>
                                        <th class="text-left">Attribute type</th>
                                        <th class="text-left">Passenger message</th>
                                        <th class="text-left">Disclaimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rule in item.test.rules">
                                        <th class="text-left">
                                            <a ng-href="{{rule.editUrl}}" title="Edit rule">{{rule.code}}</a>
                                        </th>
                                        <td class="text-left">
                                            {{rule.fareAttributeName}}
                                        </td>
                                        <td class="text-left">
                                            {{rule.fareAttributeType}}
                                        </td>
                                        <td class="text-left">
                                            {{rule.fareAttributeSummary }}
                                        </td>
                                        <td class="text-left">
                                            <p class="note" ng-if="rule.disclaimer">{{rule.disclaimer}}</p>
                                            <span ng-if="!rule.disclaimer"><i class="fi-x"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
						
						<fieldset id="no-test-result" ng-class="{ highlight: highlightResult }" ng-if="isRan && !item.test.rules.length">
                            <legend>Results</legend>
							<ul class="small-block-grid-2">
                                <li>
                                    No fare attribute found for the given criteria.
                                </li>
                            </ul>
                        </fieldset>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <button type="button" ng-class="{ success: !itemForm.$dirty, secondary: itemForm.$dirty }" ng-click="run(itemForm)"><i class="fi-play"></i> Run</button>
                        <button type="button" ng-if="!isNew" class="secondary" ng-click="clone(itemForm)"><i class="fi-page-copy"></i> Clone</button>
                        <a kk-nav route="fareAttributeTests" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteTest(item)">Delete</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</section> 