<!-- Cached Templates -->

<script type="text/ng-template" id="ffp-cms/rules/tooltip-comment.html">
    <strong>Comment:</strong> <br />
    {{data.comment}}
</script>

<script type="text/ng-template" id="ffp-cms/redemptions/tooltip-legend.html">
    <strong>Legend:</strong> <br />
    {{data.legend}}
</script>

<script type="text/ng-template" id="components/service/delete-items-modal.html">
    <h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
    <h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
    <p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
    <p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
    <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<script type="text/ng-template" id="ffp-cms/redemptions/table-header.html">
    <tr>
        <th rowspan="2"><input type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
        <th rowspan="2" class="text-left">Id</th>
        <th rowspan="2" class="text-left">Carriers</th>
        <th rowspan="2" class="text-left">Type</th>
        <th colspan="2" class="text-right">One way</th>
        <th colspan="2" class="text-right">Return</th>
        <th rowspan="2">Rules</th>
        <th rowspan="2">Legend</th>
        <th rowspan="2" colspan="4"></th>
    </tr>
    <tr>
        <th class="text-right">From</th>
        <th class="text-right">To</th>
        <th class="text-right">From</th>
        <th class="text-right">To</th>
    </tr>
</script>

<!-- END of Cached Templates -->

<section id="ffp-redemption-collection">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup>
                <h1>Redemption rules</h1>
                <h4 class="subheader">{{ffp.name}}</h4>
            </hgroup>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li class="current" kk-nav route="redemptions" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Redemption rules</a>
                </li>
            </ul>
            
            <div ng-if="items &amp;&amp; ffp">
                <div ng-if="items.length > 0">
                    
                    <form name="rulesForm" novalidate ng-submit="saveRedemptions(rulesForm)" id="redemption-form">
                        <div kk-fixed-block attach-to="#redemption-form">
                            <div class="button-bar" id="redemption-toolbar">
                                <ul class="button-group">
                                    <li><a class="tiny button" kk-nav route="newRedemption" ng-attr-param-ffpid="{{ ffp.id }}"><i class="fi-plus"></i> Add new</a></li>
                                </ul>
                                <ul class="button-group">
                                    <li><button type="button" ng-click="cloneRedemptions()" ng-disabled="selected.items.length <= 0" class="tiny button secondary"><i class="fi-page-copy"></i> Clone</button></li>
                                </ul>
                                <ul class="button-group">
                                    <li><button type="button" ng-click="deleteRedemptions()" ng-disabled="selected.items.length <= 0" class="tiny button secondary"><i class="fi-x"></i> Delete</button></li>
                                </ul>
                            </div>
                        </div>
                        <table class="highlight">
                            <thead kk-fixed-table-header template="ffp-cms/redemptions/table-header.html" table-data="{ items: items, config: config, ffp: ffp }" attach-to="#ffp-redemption-collection" after="#redemption-toolbar"></thead>
                            <tbody>
                                <tr ng-repeat-start=" item in items ">
                                    <td>
                                        <input type="checkbox" checklist-model="selected.items" checklist-value="item" />
                                    </td>
                                    <th class="text-left">
                                        <span kk-tooltip="ffp-cms/rules/tooltip-comment.html" tooltip-data="item" tooltip-if="item.comment.length > 0">{{ item.code }}</span>
                                    </th>
                                    <td class="text-left nowrap">
                                        <span ng-repeat="carrier in item.carriers | filter : '!spec' " class="label secondary radius">
                                            {{ (config.redemptionCarriers | find : carrier : 'code').name | trim }}
                                        </span><span ng-if="item.carriers.indexOf('spec') >= 0">
                                            <span class="label secondary radius">
                                                {{ (config.redemptionCarriers | find : 'spec' : 'code').name | trim }}
                                            </span>
                                            <span class="label radius" ng-class="{ success: spec.relationship == 'private' }" ng-repeat="spec in item.specificCarriers">
                                                {{spec.code}}
                                            </span>
                                        </span>
                                    </td>
                                    <td class="text-left nowrap">
                                        <span ng-if="item.type == 'award' ">
                                            {{ (config.bookingClasses | find : item.bookingClass).name }} ({{ item.bookingClassAlias }})
                                        </span>
                                        <span ng-if="item.type != 'award' ">
                                            <span ng-if="item.fromCabin" class="label secondary radius">{{ (config.redemptionCabins | find : item.fromCabin).name }}</span>
                                            <span ng-if="!item.fromCabin">
                                                <span class="label secondary radius" ng-repeat="rdb in item.fromRdbs">{{ rdb }}</span>
                                            </span>
                                            <i class="fi-arrow-right"></i>
                                            <span ng-if="item.toCabin" class="label secondary radius">{{ (config.redemptionCabins | find : item.toCabin).name }}</span>
                                            <span ng-if="!item.toCabin">
                                                <span class="label secondary radius" ng-repeat="rdb in item.toRdbs">{{ rdb }}</span>
                                            </span>
                                            <span ng-if="item.upgradeType">({{item.upgradeType}})</span>
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in item.rules | orderBy : 'oneWay' | limitTo: 1 ">{{ rule.oneWay | number : 0 }}</span>
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in item.rules | orderBy : 'oneWay': true | limitTo: 1 ">{{ rule.oneWay | number : 0 }}</span>
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in item.rules | orderBy : 'ret' | limitTo: 1 ">{{ rule.ret | number : 0 }}</span>
                                    </td>
                                    <td class="text-right">
                                        <span ng-repeat="rule in item.rules | orderBy : 'ret' : true | limitTo: 1 ">{{ rule.ret | number : 0 }}</span>
                                    </td>
                                    <td>
                                       {{ item.rules.length | number : 0 }}
                                    </td>
                                    <td>
                                        <i ng-class="{ 'fi-check': item.legend, 'fi-x' : !item.legend }" kk-tooltip="ffp-cms/redemptions/tooltip-legend.html" tooltip-if="item.legend.length > 0" tooltip-data="item"></i>
                                    </td>
                                    <td class="action">
                                        <a ng-if="!item.expanded" title="Expand" ng-click="expand(item)"><i class="fi-arrow-down"></i></a>
                                        <a ng-if="item.expanded" title="Collapse" ng-click="collapse(item)"><i class="fi-arrow-up"></i></a>
                                    </td>
                                    <td class="action"><a title="Edit" kk-nav route="editRedemption" ng-attr-param-ffpid="{{ffp.id}}" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                    <td class="action"><a ng-click="cloneRedemption($index)" title="Clone rule"><i class="fi-page-copy"></i></a></td>
                                    <td class="action alert"><a title="Delete" ng-click="deleteRedemption(item)"><i class="fi-x"></i></a></td>
                                </tr>
                                <tr ng-repeat-end ng-if="item.expanded" ng-repeat="rule in item.rules | orderBy : 'oneWay' " ng-class="{ last: $last }">
                                    <td colspan="2"></td>
                                    <td colspan="2" class="nowrap text-left">
                                        <span class="label radius secondary" ng-repeat="range in rule.ranges">{{ range }}</span>
                                    </td>
                                    <td colspan="2" class="text-right">
                                        {{ rule.oneWay | number : 0 }}
                                    </td>
                                    <td colspan="2" class="text-right">
                                        {{ rule.ret | number : 0 }}
                                    </td>
                                    <td colspan="6"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    
                    <form novalidate name="paginForm">
                        <div class="row">
                            <div class="columns large-8">
                                <pagination total-items="paged.totalItems" page="paged.page" items-per-page="paged.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)"></pagination>
                            </div>
                            <div class="columns large-3">
                                <div class="row">
                                    <div class="columns small-8">
                                        <label for="items-per-page" class="inline right">Items per page:</label>
                                    </div>
                                    <div class="columns small-4">
                                        <select required name="itemsPerPage" id="items-per-page" ng-model="paged.itemsPerPage" ng-change="onItemsPerPageChange()" ng-options=" ipp for ipp in config.pagination.allowed "></select>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no defined redemption rules. Create a <a kk-nav route="newRedemption" ng-attr-param-ffpid="{{ffp.id}}">first one</a></p>
                </div>
            </div>
        </div>
    </div>
    
</section>