<tr>
    <th rowspan="2"><input type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
    <th rowspan="2" class="text-left">Id</th>
    <th rowspan="2" class="text-left">Carriers</th>
    <th rowspan="2" class="text-left">Type</th>
    <th colspan="2" class="text-right">One way</th>
    <th colspan="2" class="text-right">Return</th>
    <th rowspan="2">Rules</th>
    <th rowspan="2">Legend</th>
    <th rowspan="2" colspan="4"></th>
</tr>
<tr>
    <th class="text-right">From</th>
    <th class="text-right">To</th>
    <th class="text-right">From</th>
    <th class="text-right">To</th>
</tr>