<div class="panel">
    <h3>Delete program?</h3>
    <p>Are you sure you want to delete {{ffp.name}} program?</p>
    <button class="round small alert" ng-click="confirm()">Delete</button> 
    <button class="round small transparent" ng-click="cancel()">Cancel</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>