<div class="panel">
    
    <div class="row">
        <div class="columns large-12">
            
            <h4>{{ffp.name}}</h4>
            
            <div kk-alerts class="radius" key="ffpedit"></div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="columns large-12">
            
            <div class="loader" ng-show="loadingResults">&nbsp;</div>
            
            <div class="results" ng-show="result && !loadingResults">
                
                <div class="alert-box success radius"><i class="fa fa-check"></i> Your program has been saved.</div>
                
                <div class="miles-block">
                    <div class="row" ng-repeat="accrual in result.accruals">
                        <div class="columns small-6">
                            {{ accrual.name }}
                        </div>
                        <div class="columns small-6 text-right">
                            <span class="miles" ng-class="{ award: !accrual.status, status: accrual.status }">{{ accrual.value | number : 0 }}</span>
                        </div>
                    </div>
                </div>
                
                <button type="button" ng-click="close()" class="round small info expand">Close</button>
                
            </div>
            
            <tabset ng-show="!loadingResults &amp;&amp; !result">
                <tab active="tabs.autoMode">
                    <tab-heading>
                        <span ng-if="isNew || (!userFfp.connected &amp;&amp; !userFfp.manualInput)">Connect to program</span><span ng-if="!isNew &amp;&amp; (userFfp.connected || userFfp.manualInput)">Re-connect</span>
                    </tab-heading>
                    
	                <p class="etc" ng-if="!userFfp.liveConnect">Unfortunately the {{userFfp.name}} cannot be updated in realtime</p>

                    <form novalidate name="userFfpAutoForm" ng-submit="submit(userFfpAutoForm)" ng-if="userFfp.liveConnect">

                        <p class="etc">We need your username and password to get your miles balance and other data such as expiration date. It's 100% secure and fast.</p>
                        
                        <div class="input-wrapper">
                            <label for="ffp-username">Membership number or username</label>
                            <input type="text" id="ffp-username" name="ffpUsername" ng-model="userFfp.username" required autocomplete="off" />
                            <kk-error field="userFfpAutoForm.ffpUsername">This field is required</kk-error>
                        </div>
                        <div class="input-wrapper">
                            <label for="ffp-pass">Password</label>
                            <input type="password" id="ffp-pass" name="ffpPassword" ng-model="userFfp.password" required autocomplete="off" />
                            <kk-error field="userFfpAutoForm.ffpPassword">This field is required</kk-error>
                        </div>
                        
                        <p class="etc"><a ng-href="{{ffp.forgotPassUrl}}" target="_blank" title="Retrive password from program website" analytics-on="click" analytics-event="click" analytics-category="ffp" analytics-label="password">Forgot password?</a></p>
                        
                        <div class="row">
                            <div class="columns large-7">
                                <button type="submit" class="round expand">
                                    <span ng-if="isNew || (!userFfp.connected &amp;&amp; !userFfp.manualInput)">Connect program</span>
                                    <span ng-if="!isNew &amp;&amp; (userFfp.connected || userFfp.manualInput)">Re-connect</span>
                                </button>
                            </div>
                        </div>
                    
                    </form>
                    
                </tab>
                <tab active="tabs.manualMode">
                    <tab-heading>
                        <span ng-if="isNew">Add <span class="hide-for-small-only">miles</span> manually</span>
                        <span ng-if="!isNew">Edit <span class="hide-for-small-only">miles</span> manually</span>
                    </tab-heading>
                    
                    <form novalidate name="userFfpForm" ng-submit="submit(userFfpForm)" ng-class="{ loading: ffpLoading }" class="ffp-user-form">
                
                        <p class="etc">Go to <a target="_blank" ng-href="{{ffp.logInUrl}}" title="Go to program website">{{ffp.name}} website</a>, log in to your account and manually write your mileage balace below. You can also <a ng-click="selectAuto()">connect to program</a> and do it automatically.</p>
                        
                        <div ng-if="ffp.statuses">
                            
                            <label for="ffp-status">Elite status</label>
                            <select id="ffp-status" name="status" ng-options="st.id as st.name for st in ffp.statuses" ng-model="userFfp.status" required>
                                <option value="">Select</option>
                            </select>
                            <kk-error field="userFfpForm.status">Select status</kk-error>
                            
                            <ul class="small-block-grid-2 accrual-items">
                                <li ng-repeat="accrual in userFfp.accruals" ng-form="accrualForm">
                                    <label ng-attr-for="ffp-accrual-{{$index}}">{{ (ffp.accruals | find : accrual.id).name }}</label>
                                    <input type="number" ng-attr-id="ffp-accural-{{$index}}" name="acc" ng-model="accrual.value" required />
                                    <kk-error field="accrualForm.acc" type="number">Number is not valid</kk-error>
                                    <kk-error field="accrualForm.acc" type="required">This field is required</kk-error>
                                </li>
                            </ul>
                            
                            <div class="row">
                                <div class="columns large-6">
                                    <button type="submit" class="round expand">
                                        <span ng-if="isNew">Add program</span>
                                        <span ng-if="!isNew">Update program</span>
                                    </button>  
                                </div>
                            </div>
                            
                        </div>
                    
                    </form>
                    
                </tab>
            </tabset>
            
        </div>
    </div>
    
</div>

<div class="panel info">
    <p class="etc">I understand, that 30K and its services are not affiliated with or related in any manner to the airlines or any loyalty programs they offer. I also hereby give 30K permission to use my information, including my balance information as part of 30K service. <strong>30K will neither store nor sell any user information to 3rd parties.</strong></p>
</div>

<a class="close-reveal-modal" aria-label="Close" ng-click="cancel()">&#215;</a>