<div class="progress-wrapper" ng-class="{ 'award-progress': awardGoal, 'status-progress': !awardGoal }" ng-if="hasThresholds()">
    <div ng-if="!fare">
        <p class="etc" ng-if="awardGoal">
            <span ng-if="getRemainingMiles() <= 0">You have enough</span> 
            <span ng-if="getRemainingMiles() > 0" class="miles award">{{ getRemainingMiles() | number : 0 }}</span> 
            <span kk-tooltip="{{ getAccrualName() }}">miles</span> <span ng-if="getRemainingMiles() > 0">left</span> for <strong kk-tooltip="{{awardGoal.departure.airport}}">{{awardGoal.departure.code}}</strong> <i class="fa fa-chevron-right chev"></i> <strong><span kk-tooltip="{{awardGoal.arrival.airport}}">{{awardGoal.arrival.code}}</span> {{awardGoal.awardType}}</strong> <a ng-click="showTooltip()" title="Show details"><i class="fa fa-question-circle"></i></a>
        </p>
        <p class="etc" ng-if="!awardGoal">
            <span ng-if="hasLastStatus()">
                You've already reached top <strong>{{ getNextStatus() }}</strong> 
            </span>
            <span ng-if="!hasLastStatus()">
                <span ng-if="getRemainingMiles() <= 0">You have enough</span> 
                <span ng-if="getRemainingMiles() > 0" class="miles status">{{ getRemainingMiles() | number : 0 }}</span> 
                <span kk-tooltip="{{ getAccrualName() }}">miles</span> <span ng-if="getRemainingMiles() > 0">left</span> for <strong>{{ getNextStatus() }}</strong> 
                <a ng-if="!hasConditions()" title="Show details" ng-click="showTooltip()"><i class="fa fa-question-circle"></i></a><a ng-if="hasConditions()" class="warning" title="Conditions may apply" ng-click="showTooltip()"><i class="fa fa-exclamation-triangle"></i></a>
            </span>
        </p>
    </div>
    <div ng-if="fare">
        <p class="etc" ng-if="awardGoal">
            <span ng-if="getRemainingMiles() <= 0">Enough</span> 
            <span ng-if="getRemainingMiles() > 0">Get <span class="miles award">{{ getFareMiles() | number : 0 }}</span></span> 
            <span kk-tooltip="{{ getAccrualName() }}">miles</span> <span ng-if="getRemainingMiles() > 0">for</span> <span ng-if="getRemainingMiles() <= 0">for</span> <strong kk-tooltip="{{awardGoal.departure.airport}}">{{awardGoal.departure.code}}</strong> <i class="fa fa-chevron-right chev"></i> <strong><span kk-tooltip="{{awardGoal.arrival.airport}}">{{awardGoal.arrival.code}}</span> {{awardGoal.awardType}}</strong> <a title="Show details" ng-click="showTooltip()"><i class="fa fa-question-circle"></i></a>
        </p>
        <p class="etc" ng-if="!awardGoal">
            <span ng-if="hasLastStatus()">
                You've already reached top <strong>{{ getNextStatus() }}</strong> 
            </span>
            <span ng-if="!hasLastStatus()">
                <span ng-if="getRemainingMiles() <= 0">Enough</span> 
                <span ng-if="getRemainingMiles() > 0">Get <span class="miles status">{{ getFareMiles() | number : 0 }}</span></span> 
                <span kk-tooltip="{{ getAccrualName() }}">miles</span> <span ng-if="getRemainingMiles() > 0">for</span> <span ng-if="getRemainingMiles() <= 0">for</span> <strong>{{ getNextStatus() }}</strong> 
                <a ng-if="!hasConditions()" title="Show details" ng-click="showTooltip()"><i class="fa fa-question-circle"></i></a><a ng-if="hasConditions()" class="warning" title="Conditions may apply" ng-click="showTooltip()"><i class="fa fa-exclamation-triangle"></i></a>
            </span>
        </p>
    </div>
    <div class="progress round">
        <div class="meter" ng-class="{ 'meter-old' : fare }" ng-style="{ width: (getCurrentProgress() | pct) }"><div ng-hide="hasLastStatus()" class="meter-value"><div class="value">{{ getCurrentMiles() | number : 0 }}</div></div></div>
        <div ng-if="fare" class="meter meter-new" ng-style="{ width: (getTotalProgress() | pct) }"></div>
        <div ng-if="fare" ng-style="{ width: (getRemainingProgress() | pct) }" class="meter-value" ng-hide="hasLastStatus()"><div class="value">{{ getTotalMiles() | number : 0 }}</div></div>
        <div class="max">{{ getThreshold() | number : 0 }}</div>
    </div>
</div>