<section id="atpco-desc2-edit">
    
    <div class="row">
        <div class="columns large-2">
            <ul class="side-nav">
                <li kk-nav="airlines"><a>Airlines</a></li>
                <li kk-nav="alliances"><a>Alliances</a></li>
                <li kk-nav="airports"><a>Airports</a></li>
                <li kk-nav="countries"><a>Countries</a></li>
                <li kk-nav="zones"><a>Zones</a></li>
                <li kk-nav="continents"><a>Continents</a></li>
                <li kk-nav="flights"><a>Flight numbers</a></li>
                <li kk-nav="benefits"><a>Passenger benefits</a></li>
                <li kk-nav="fareAttributes"><a>Fare attributes</a></li>
                <li kk-nav="atpco"><a>ATPCO codes</a></li>
                <li kk-nav="atpcoGroups"><a>ATPCO groups</a></li>
                <li kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></li>
                <li kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></li>
                <li kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></li>
            </ul>
        </div>
        <div class="columns large-10">
            <hgroup ng-if="!isNew">
                <h1>ATPCO description 2</h1>
                <h4 class="subheader">{{ item.name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New ATPCO description 2</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li kk-nav route="atpcoDesc2">
                    <a>ATPCO descriptions 2</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editAtpcoDesc2" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newAtpcoDesc2">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate ng-if="config">
                
                <fieldset>
                    <legend>Basic</legend>
                    <div class="row">
                        <div class="columns large-6">
                            
                            <label for="item-code">Code <small>Required</small></label>
                            <input type="text" ng-model="item.code" id="item-code" name="code" required ng-pattern="/^[A-Z0-6]{2}$/" />
                            <kk-error field="itemForm.code" type="required">This field is required</kk-error>
                            <kk-error field="itemForm.code" type="pattern">Two uppercase characters</kk-error>
                            
                            <label for="item-name">Name <small>Required</small></label>
                            <input type="text" ng-model="item.name" id="item-name" name="itemname" required />
                            <kk-error field="itemForm.itemname">This field is required</kk-error>
                            
                            <label for="item-group">Group <small>Required</small></label>
                            <select ng-model="item.group" id="item-group" name="itemgroup" required ng-options="group.code as group.name for group in config.groups"></select>
                            <kk-error field="itemForm.itemgroup">This field is required</kk-error>
                            
                            <label for="item-subgroup">Subgroup</label>
                            <select ng-model="item.subgroup" id="item-subgroup" name="itemsubgroup" ng-options="subgroup.code as subgroup.name for subgroup in (config.subgroups | filter : { group: item.group })" ng-disabled="!item.group || !(config.subgroups | find : item.group : 'group')">
                                <option value="">None</option>
                            </select>
                            
                            <label for="item-desc1">Description 1</label>
                            <select ng-if="!item.subgroup" ng-model="item.desc1" id="item-desc1" name="itemdesc1" ng-options="desc1.code as desc1.name for desc1 in (config.desc1 | filter : { group: item.group })" ng-disabled="!item.group || !(config.desc1 | find : item.group : 'group')">
                                <option value="">None</option>
                            </select>
                            <select ng-if="item.subgroup" ng-model="item.desc1" id="item-desc1" name="itemdesc1" ng-options="desc1.code as desc1.name for desc1 in (config.desc1 | filter : { group: item.group, subgroup: item.subgroup })" ng-disabled="!item.group || (config.desc1 | filter : { group: item.group, subgroup: item.subgroup }).length <= 0">
                                <option value="">None</option>
                            </select>
                            
                        </div>
                        <div class="columns large-6"></div>
                    </div>
                </fieldset>
                
                <div class="row">
                    <div class="columns large-12">
                        <button ng-if="isNew" ng-click="submitAndStay(itemForm)" type="button" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-plus"></i> Save and add another</button>
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="atpcoDesc2" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteItem(item)">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section> 