<form name="codeshareDevForm" novalidate ng-submit="submit()" class="codeshare-modal">
    
    <h3>Codeshare deviation</h3>
    
    <ul class="button-group radius even-4">
        <li><button type="button" class="tiny" ng-class="{ secondary: !filters.codeshareDev }" ng-click="toggleFilter(true)">Enabled</button></li>
        <li><button type="button" class="tiny" ng-class="{ secondary: filters.codeshareDev }" ng-click="toggleFilter(false)">Disabled</button></li>
    </ul>
    
    <div ng-show="filters.codeshareDev">
        
        <hr />
        
        <div class="row">
            <div class="columns large-6">
                <h6 class="subheader"><strong>Marketing</strong> specific airlines:</h6>
                <div kk-multiselect list="config.filters.marketingSpecificAirlines" selected="filters.marketingSpecificAirlines" cols="2" id="rules-cs-mk"></div>
            </div>
            <div class="columns large-6">
                <h6 class="subheader"><strong>Operating</strong> specific airlines:</h6>
                <div kk-multiselect list="config.filters.operatingSpecificAirlines" selected="filters.operatingSpecificAirlines" cols="2" id="rules-cs-op"></div>
            </div>
        </div>
        
        <button type="submit" class="small success"><i class="fi-check"></i> Apply</button>
    </div>
    
</form>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>