<!-- Cached Templates -->

<script type="text/ng-template" id="ffp-cms/rules/tooltip-comment.html">
    <strong>Comment:</strong> <br />
    {{data.comment}}
</script>

<script type="text/ng-template" id="ffp-cms/rules/tooltip-ranges.html">
    <table>
        <thead>
            <tr><td class="text-right">Factor</td><th class="text-left">Range/GRIL</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="rule in data.items">
                <td class="text-right">{{ rule.factor | number : 2 }}</th>
                <th class="no-wrap text-left" ng-if="!rule.gril || rule.gril.length <= 0">{{ rule.rangeFrom | number : 0 }} &ndash; {{ rule.rangeTo | number: 0 }}</th>
                <th ng-if="rule.gril.length > 0" class="text-left">
                    <span ng-repeat="g in rule.gril">{{ g | trim : 10 : '&hellip;' }} </span>
                </th>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="ffp-cms/rules/tooltip-accrual.html">
    <strong>{{data.name}}</strong> <span ng-if="data.alias">({{ data.alias }})</span> <br />
    Earning base: {{data.earningBase}}
</script>

<script type="text/ng-template" id="ffp-cms/rules/tooltip-codeshare.html">
    <strong>Marketing</strong>:<br />
    <span ng-repeat=" rule in data.rule.marketingRules ">
        {{ (data.config.codeshareRuleTypes | find : rule : 'code').name }}
        <span ng-if=" rule == 'spec' &amp;&amp; data.rule.marketingSpecificAirlines.length > 0 ">
            ({{ data.rule.marketingSpecificAirlines | join }})
        </span>
        <span ng-if="!$last">, </span>
    </span><br/ ><br />
    <strong>Operating</strong>:<br />
    <span ng-repeat=" rule in data.rule.operatingRules ">
        {{ (data.config.codeshareRuleTypes | find : rule : 'code').name }}
        <span ng-if=" rule == 'spec' &amp;&amp; data.rule.operatingSpecificAirlines.length > 0 ">
            ({{ data.rule.operatingSpecificAirlines | join }})
        </span>
        <span ng-if="!$last">, </span>
    </span>
</script>

<script type="text/ng-template" id="ffp-cms/rules/tooltip-flights.html">
    <div ng-if="data.flightNoLimit.length > 0" class="tooltip-row">
        <strong>Flight No. Limit:</strong><br />
        {{ data.flightNoLimit | join }}
    </div>
    <div ng-if="data.flightNoExcl.length > 0">
        <strong>Flight No. Excl.:</strong><br />
        {{ data.flightNoExcl | join }}
    </div>
</script>

<script type="text/ng-template" id="ffp-cms/rules/tooltip-geo.html">
    <strong>Geographical rules</strong>
    <div ng-repeat="geo in data.geographicalRules">
        {{ geo }}
    </div>
</script>

<script type="text/ng-template" id="ffp-cms/rules/tooltip-status-tiers.html">
    <strong>Elite bonus type</strong>
    <div>{{ (data.config.eliteBonusTypes | find : data.rule.eliteBonusBase).name }}</div>
    <strong>Minimum miles calc. method </strong>
    <div>{{ (data.config.minMilesCalcMethods | find : data.rule.minMilesCalcMethod).name }}</div>
</script>

<script type="text/ng-template" id="components/multiselect/multiselect.html">
    <aside class="multiselect">

        <dl class="sub-nav"> 
            <dt>Select:</dt> 
            <dd ng-class=" { active : list.length == selected.length }">
                <a ng-click="selectAll()">All</a>
            </dd>
            <dd ng-class=" { active : selected.length == 0 &amp;&amp; list.length > 0 }">
                <a ng-click="deselect()">None</a>
            </dd>
        </dl>
        
        <ul ng-attr-class="small-block-grid-{{cols}}">
            <li ng-repeat="item in list">
            
                <input type="checkbox" checklist-model="selected" checklist-value="getValue(item)" ng-attr-id="ms-{{id}}-{{$index}}">
                
                <label ng-attr-for="ms-{{id}}-{{$index}}">
                    <span ng-if="label">{{item[label]}}</span>
                    <span ng-if="!label">{{item}}</span>
                </label>
            </li>
        </ul>
    
    </aside>
</script>

<script type="text/ng-template" id="components/tag-input/tag-input.html">

    <div ng-form="tagInput" ng-submit="submit(tagInput)" novalidate class="tag-input-form">
    
        <span class="tag-input-items" ng-class="{ uppercase: uppercase }"><span class="label secondary radius" ng-repeat=" item in collection ">{{ item }} <a ng-click="remove(item)" title="Delete"><i class="fi-x"></i></a></span></span>
        
        <input class="tag-input" ng-class="{ uppercase: uppercase, loading: loading }" ng-disabled="loading" ng-attr-type="{{inputType}}" ng-model="value" name="tag" ng-attr-placeholder="{{placeholder}}" ng-pattern="pattern" ng-attr-maxlength="{{maxlength}}" ng-keypress="onKeyPress($event)" />
        <div class="tag-input-errors">
            <kk-error field="tagInput.tag" type="required">You need to add at least one item</kk-error>
            <kk-error field="tagInput.tag" type="pattern">Input is not valid</kk-error>
            <kk-error field="tagInput.tag" type="unique">Value has been already added</kk-error>
            <kk-error field="tagInput.tag" type="server">{{serverError}}</kk-error>
        </div>
        
    </div>
    
</script>

<script type="text/ng-template" id="components/service/delete-items-modal.html">
    <h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
    <h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
    <p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
    <p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
    <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<script type="text/ng-template" id="ffp-cms/rules/table-header.html">
    <tr>
        <th></th>
        <th><input ng-disabled="applyToAll()" type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
        <th class="text-left">Id</th>
        <th>Airline</th>
        <th class="text-left"><abbr title="Subsidiaries">Sub.</abbr></th>
        <th class="text-left">Fare family</th>
        <th class="text-left">Fare codes</th>
        <th class="text-right accrual" ng-repeat="accrual in ffp.accruals">
            <div ng-init="initAccrualTooltipData(this)">
                <span kk-tooltip="ffp-cms/rules/tooltip-accrual.html" tooltip-data="accrualTooltip" ng-class="{ 'distance-based' : accrual.earningBase == 'distance' }">{{ getAccrualAbbr(accrual) }}</span>
            </div>
        </th>
        <th class="text-right"><abbr title="Minimum miles">Min.</abbr></th>
        <th><abbr title="Bonus Award Miles">BAM</abbr></th>
        <th><abbr title="Bonus Status Miles">BSM</abbr></th>
        <th><abbr title="Operational Rule Modification">ORM</abbr></th>
        <th><abbr title="Flight Number Limitations">FNL</abbr></th>
        <th><abbr title="Status Tiers Modification">STM</abbr></th>
        <th><abbr title="Geographical rules">Geo.</abbr></th>
        <th kk-admin-review-header>Status</th>
        <th colspan="4"></th>
    </tr>
</script>

<!-- END of Cached Templates -->

<section id="ffp-rule-collection">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup>
                <h1>Earning rules</h1>
                <h4 class="subheader">{{ffp.name}}</h4>
            </hgroup>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li class="current" kk-nav route="rules" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Earning rules</a>
                </li>
            </ul>
            
            <form class="filters" name="filterForm" novalidate ng-submit="submitFilters(filterForm)" ng-if="config.filters &amp;&amp; filters">
                
                <fieldset ng-class="{ collapsed: !filtersExpanded }">
                    
                    <legend>
                        <a ng-click="toggleFilters()"><i ng-class="{ 'fi-minus': filtersExpanded, 'fi-plus': !filtersExpanded }"></i> Filters</a> 
                        <span ng-if="!areFiltersEmpty()" class="label radius secondary"><i class="fi-check"></i></span>
                    </legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns large-4">
                                <div class="row">
                                    <div class="columns small-6">
                                        <label class="inline right" id="filter-code">Rule ID:</label>
                                    </div>
                                    <div class="columns large-6">
                                        <input type="text" id="filter-code" class="uppercase" ng-model="filters.code" name="filterCode" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns small-6">
                                        <label class="inline right">Airline:</label>
                                    </div>
                                    <div class="columns small-6">
                                        <button type="button" class="tiny expand radius" title="Airlines" dropdown-toggle="#dropdown-airlines" ng-class="{ secondary: filters.airlines.length <= 0 }">
                                            <span ng-if="filters.airlines.length <= 0">Select</span>
                                            <span ng-if="filters.airlines.length <= 3 &amp;&amp; filters.airlines.length > 0 &amp;&amp; config.filters.airlines.length > filters.airlines.length">{{ filters.airlines | join }}</span>
                                            <span ng-if="filters.airlines.length > 3 &amp;&amp; config.filters.airlines.length > filters.airlines.length">{{ filters.airlines.length }} Selected</span>
                                            <span ng-if="config.filters.airlines.length <= filters.airlines.length &amp;&amp; filters.airlines.length >= 0">All selected</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns small-6">
                                        <label class="inline right" for="filter-rel">Relationship:</label>
                                    </div>
                                    <div class="columns small-6">
                                        <select id="filter-rel" name="filterRel" ng-model="filters.relationship" ng-options="rel.code as rel.name for rel in config.filters.airlineRelationships" required></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns small-6">
                                        <label class="inline right" for="filter-fc">Fare codes:</label>
                                    </div>
                                    <div class="columns small-6">
                                        <input type="text" id="filter-fc" class="uppercase" ng-model="filters.fareCodes" name="fareCodes" ng-pattern="/^[a-zA-Z]+$/" />
                                        <kk-error field="filterForm.fareCodes">Only letters allowed</kk-error>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns small-6">
                                        <label class="inline right">Fare Family:</label>
                                    </div>
                                    <div class="columns large-6">
                                        <button type="button" class="tiny expand radius" title="Fare families" dropdown-toggle="#dropdown-ff" ng-class="{ secondary: filters.fareFamilies.length <= 0 }">
                                            <span ng-if="filters.fareFamilies.length <= 0">Select</span>
                                            <span ng-if="filters.fareFamilies.length == 1 &amp;&amp; config.filters.fareFamilies.length > filters.fareFamilies.length">{{ (config.filters.fareFamilies | find : filters.fareFamilies[0]).name }}</span>
                                            <span ng-if="filters.fareFamilies.length > 1 &amp;&amp; config.filters.fareFamilies.length > filters.fareFamilies.length">{{ filters.fareFamilies.length }} Selected</span>
                                            <span ng-if="config.filters.fareFamilies.length <= filters.fareFamilies.length &amp;&amp; filters.fareFamilies.length >= 0">All selected</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="columns large-2">
                                <label for="with-bonus" class="inline"><input type="checkbox" id="with-bonus" ng-model="filters.eliteBonus" name="wEB" /> With EliteBonus only</label>
                                <label for="with-min-miles" class="inline"><input type="checkbox" id="with-min-miles" ng-model="filters.minimumMile" name="wMM" /> With MinMiles only</label>
                                <label for="with-fnl"><input type="checkbox" id="with-fnl" ng-model="filters.flightNoLimits" name="wFNL" /> With Flight No. <br />Limits or Excl. only</label>
                                <label for="with-vd"><input type="checkbox" id="with-vd" ng-model="filters.validityDates" name="wVD" /> With flight validity date <br />only</label>
                                <label for="with-tier"><input type="checkbox" id="with-tier" ng-model="filters.tierOrStatusDev" name="wTSD" /> With Tier/Status <br />deviation only</label>
                                <label for="with-cm"><input type="checkbox" id="with-cm" ng-model="filters.comments" name="wCM" /> With comments only</label>
                            </div>
                            <div class="columns large-6">
                                <label for="with-gril"><input type="checkbox" id="with-gril" ng-model="filters.gril" name="wGRIL" /> With GRIL only</label>
                                <div class="row" ng-show="filters.gril">
                                    <div class="columns large-2">
                                        <label>GRIL contains:</label>
                                    </div>
                                    <div class="columns large-10">
                                        <kk-tag-input collection="filters.grilTags" uppercase="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
                                    </div>
                                </div>
                                <label for="with-subs"><input type="checkbox" id="with-subs" ng-model="filters.subsidiariesEnabled" name="wSubs" /> With subsidiaries only</label>
                                <div class="row">
                                    <div class="columns large-2">
                                        <label class="inline">Subs. contain:</label>
                                    </div>
                                    <div class="columns large-3 end">
                                        <button type="button" ng-disabled="!filters.subsidiariesEnabled" class="tiny expand" title="Subsidiaries" dropdown-toggle="#dropdown-subs" ng-class="{ secondary: filters.subsidiaries.length <= 0 }">
                                            <span ng-if="filters.subsidiaries.length <= 0">Select</span>
                                            <span ng-if="filters.subsidiaries.length <= 2 &amp;&amp; filters.subsidiaries.length > 0 &amp;&amp; config.filters.subsidiaries.length > filters.subsidiaries.length">{{ filters.subsidiaries | join }}</span>
                                            <span ng-if="filters.subsidiaries.length > 2 &amp;&amp; config.filters.subsidiaries.length > filters.subsidiaries.length">{{ filters.subsidiaries.length }} Subs.</span>
                                            <span class="nowrap" ng-if="config.filters.subsidiaries.length <= filters.subsidiaries.length &amp;&amp; filters.subsidiaries.length >= 0">All subs.</span>
                                        </button>
                                    </div>
                                </div>
                                <label for="with-cds"><input type="checkbox" id="with-cds" ng-model="filters.codeshareDev" name="wCDS" /> With CR deviation only</label>
                                <div class="row">
                                    <div class="columns large-3">
                                        <label class="inline">Mkt Specific contains:</label>
                                    </div>
                                    <div class="columns large-3 end">
                                        <button type="button" ng-disabled="!filters.codeshareDev" class="tiny expand" title="Marketing specific airlines" dropdown-toggle="#dropdown-mk" ng-class="{ secondary: filters.marketingSpecificAirlines.length <= 0 }">
                                            <span ng-if="filters.marketingSpecificAirlines.length <= 0">Select</span>
                                            <span ng-if="filters.marketingSpecificAirlines.length <= 2 &amp;&amp; filters.marketingSpecificAirlines.length > 0 &amp;&amp; config.filters.marketingSpecificAirlines.length > filters.marketingSpecificAirlines.length">{{ filters.marketingSpecificAirlines | join }}</span>
                                            <span ng-if="filters.marketingSpecificAirlines.length > 2 &amp;&amp; config.filters.marketingSpecificAirlines.length > filters.marketingSpecificAirlines.length">{{ filters.marketingSpecificAirlines.length }} Selected</span>
                                            <span class="nowrap" ng-if="config.filters.marketingSpecificAirlines.length <= filters.marketingSpecificAirlines.length &amp;&amp; filters.marketingSpecificAirlines.length >= 0">All selected</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns large-3">
                                        <label class="inline">Opt Specific contains:</label>
                                    </div>
                                    <div class="columns large-3 end">
                                        <button type="button" ng-disabled="!filters.codeshareDev" class="tiny expand" title="Operating specific airlines" dropdown-toggle="#dropdown-op" ng-class="{ secondary: filters.operatingSpecificAirlines.length <= 0 }">
                                            <span ng-if="filters.operatingSpecificAirlines.length <= 0">Select</span>
                                            <span ng-if="filters.operatingSpecificAirlines.length <= 2 &amp;&amp; filters.operatingSpecificAirlines.length > 0 &amp;&amp; config.filters.operatingSpecificAirlines.length > filters.operatingSpecificAirlines.length">{{ filters.operatingSpecificAirlines | join }}</span>
                                            <span ng-if="filters.operatingSpecificAirlines.length > 2 &amp;&amp; config.filters.operatingSpecificAirlines.length > filters.operatingSpecificAirlines.length">{{ filters.operatingSpecificAirlines.length }} Selected</span>
                                            <span class="nowrap" ng-if="config.filters.operatingSpecificAirlines.length <= filters.operatingSpecificAirlines.length &amp;&amp; filters.operatingSpecificAirlines.length >= 0">All selected</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <button type="button" class="tiny secondary right" ng-click="resetFilters()">Reset filter</button>
                        <button type="submit" class="tiny right">Apply filter</button>
                        
                    </div>
                    
                </fieldset>
                 
            </form>
            
            <div class="alert-box warning radius" ng-if="applyToAll()">
                <i class="fi-checkbox"></i> You are in apply-to-all mode. Any change will affect <strong>all selected rules</strong>.
            </div>
            
            <div ng-if="items &amp;&amp; ffp">
                <div ng-if="items.length > 0">
                    
                    <form name="rulesForm" novalidate ng-submit="saveRules(rulesForm)" id="rules-form">
                        
                        <div kk-fixed-block attach-to="#rules-form">
                            <div class="button-bar" id="rules-toolbar">
                                <ul class="button-group">
                                    <li><a class="tiny button" kk-nav route="newRule" ng-attr-param-ffpid="{{ ffp.id }}"><i class="fi-plus"></i> Add new</a></li>
                                </ul>
                                <ul class="button-group" ng-if="!applyToAll()">
                                    <li><button type="button" ng-click="cloneRules()" ng-disabled="selected.items.length <= 0" class="tiny button"><i class="fi-page-copy"></i> Clone</button></li>
                                    <li><button type="button" ng-click="enableApplyToAll()" ng-disabled="selected.items.length <= 1" class="tiny button success"><i class="fi-checkbox"></i> Apply to all</button></li>
                                </ul>
                                <ul class="button-group" ng-if="!applyToAll()">
                                    <li><button type="button" ng-click="deleteRules()" ng-disabled="selected.items.length <= 0" class="tiny button alert"><i class="fi-x"></i> Delete</button></li>
                                </ul>
                                <ul class="button-group" ng-if="applyToAll()">
                                    <li><button type="submit" ng-class="{ secondary: !rulesForm.$valid || !rulesForm.$dirty, success: rulesForm.$valid &amp;&amp; rulesForm.$dirty}" class="tiny button"><i class="fi-save"></i> Save</button></li>
                                    <li><button type="button" ng-click="disableApplyToAll()" class="tiny secondary button">Cancel</button></li>
                                </ul>
                            </div>
                        </div>
                        
                        <table class="highlight">
                            <thead kk-fixed-table-header template="ffp-cms/rules/table-header.html" table-data="{ items: items, config: config, ffp: ffp }" attach-to="#ffp-rule-collection" after="#rules-toolbar"></thead>
                            <tbody>
                                <tr ng-repeat=" item in items " ng-class="{ lighter : hasLimitedValidity(item), 'has-form' : item.unlocked, 'first-in-group': $index > 0 &amp;&amp; item.airline.code != items[$index - 1].airline.code }" ng-form="itemForm" ng-submit="saveRule(this)">
                                    <td>{{ $index + 1 }}</td>
                                    <td>
                                        <input ng-disabled="applyToAll()" type="checkbox" checklist-model="selected.items" checklist-value="item" />
                                    </td>
                                    <th class="text-left" kk-tooltip="ffp-cms/rules/tooltip-comment.html" tooltip-data="item" tooltip-if="!item.unlocked &amp;&amp; item.comment.length > 0">
                                        <div ng-if="!item.unlocked">
                                            {{ item.code }}
                                        </div>
                                        <div ng-if="item.unlocked" class="kk-error-wrapper">
                                            <input ng-disabled="applyToAll()" type="text" name="ruleCode" ng-model="item.code" class="uppercase" ng-pattern="ruleCodePattern" />
                                            <kk-error field="itemForm.ruleCode">Only letters and digits</kk-error>
                                        </div> 
                                    </th>
                                    <td>
                                        <span ng-if="!item.unlocked" class="label radius" kk-tooltip="{{item.airline.name}}" ng-class="{ success: item.airline.relationship == 'private' }">{{ item.airline.code }}</span>
                                        <div ng-if="item.unlocked" class="kk-error-wrapper">
                                            <input type="text" ng-change="applyToAllSyncAirline(item, 'code')" class="airline-input uppercase" name="airline" ng-model="item._copy.airline.code" placeholder="XX" required ng-pattern="airlineCodePattern" maxlength="2" />
                                            <kk-error field="itemForm.airline">Required: 2 char.</kk-error>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="!item.unlocked" kk-tooltip="{{ item.subsidiaries.join(', ') }}">
                                            <span ng-if="item.subsidiaries.length">{{ item.subsidiaries.length }}</span>
                                            <span ng-if="!item.subsidiaries.length">0</span>
                                        </div>
                                        <div ng-if="item.unlocked" kk-tooltip="{{ item.subsidiaries.join(', ') }}" tooltip-if="item._copy.leaveSubsidiaries.length > 0">
                                            <span ng-if="item._copy.subsidiaries.length > 0 &amp;&amp; item._copy.leaveSubsidiaries">{{ item.subsidiaries.length }}</span> 
                                            <span ng-if="item._copy.subsidiaries.length <= 0 || !item._copy.leaveSubsidiaries">0</span> 
                                            <input type="checkbox" ng-change="applyToAllSync(item, 'leaveSubsidiaries')" ng-model="item._copy.leaveSubsidiaries" name="leaveSubs" />
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div ng-if="!item.unlocked">{{ (config.fareFamilies | find : item.fareFamily).name }}</div>
                                        <div ng-if="item.unlocked" class="kk-error-wrapper">
                                            <select ng-change="applyToAllSync(item, 'fareFamily')" name="fareFamily" ng-model="item._copy.fareFamily" ng-options=" fare.id as fare.name for fare in config.fareFamilies " required></select>
                                            <kk-error field="itemForm.fareFamily">Required</kk-error>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div ng-if="!item.unlocked" class="fare-codes">
                                            <span ng-repeat="code in item.rdbs" class="label success radius">{{ code }}</span>
                                        </div>
                                        <div ng-if="item.unlocked" class="kk-error-wrapper">
                                            <input type="text" ng-change="applyToAllSync(item, 'editableRdbs')" name="rdbs" ng-model="item._copy.editableRdbs" class="uppercase" required ng-pattern="/^[a-zA-Z]+$/" />
                                            <kk-error field="itemForm.rdbs" type="required">Required</kk-error>
                                            <kk-error field="itemForm.rdbs" type="pattern">Only letters</kk-error>
                                        </div>
                                    </td>
                                    <td ng-repeat="accrual in ffp.accruals" kk-tooltip="ffp-cms/rules/tooltip-ranges.html" tooltip-data=" item.rules | find : accrual.id : 'accrual' " tooltip-if="!item.unlocked &amp;&amp; (item.rules | find : accrual.id : 'accrual').items.length > 0">
                                        <span ng-if="!item.unlocked" class="text-right">
                                            {{ (item.rules | find : accrual.id : 'accrual').summary | number : 0 }}
                                        </span>
                                        <div ng-if="item.unlocked" ng-repeat="rule in item._copy.rules" class="text-left">
                                            <div ng-if="rule.accrual == accrual.id" ng-form="accrualForm" class="kk-error-wrapper">
                                                <input type="number" ng-change="applyToAllSyncAccrual(item, rule)" name="accrual" ng-model="rule.summary" required />
                                                <kk-error field="accrualForm.accrual" type="required">Required</kk-error>
                                                <kk-error field="accrualForm.accrual" type="pattern">Number is not valid</kk-error>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="!item.unlocked" class="text-right">
                                            {{ item.minimumMiles | number : 0 }}
                                        </div>
                                        <div ng-if="item.unlocked" class="kk-error-wrapper text-left">
                                            <input type="number" ng-change="applyToAllSync(item, 'minimumMiles')" name="minMiles" ng-model="item._copy.minimumMiles" required />
                                            <kk-error field="itemForm.minMiles" type="required">Required</kk-error>
                                            <kk-error field="itemForm.minMiles" type="pattern">Number is not valid</kk-error>
                                        </div>
                                    </td>
                                    <td>
                                        <i ng-if="!item.unlocked" ng-class="{ 'fi-check success': item.bonusAwardMiles, 'fi-x alert': !item.bonusAwardMiles }"></i>
                                        <div ng-if="item.unlocked">
                                            <input type="checkbox" ng-change="applyToAllSync(item, 'bonusAwardMiles')" ng-model="item._copy.bonusAwardMiles" name="bonusAwardMiles" />
                                        </div>
                                    </td>
                                    <td>
                                        <i ng-if="!item.unlocked" ng-class="{ 'fi-check success': item.bonusStatusMiles, 'fi-x alert': !item.bonusStatusMiles }"></i>
                                        <div ng-if="item.unlocked">
                                            <input type="checkbox" ng-change="applyToAllSync(item, 'bonusStatusMiles')" ng-model="item._copy.bonusStatusMiles" name="bonusStatusMiles" />
                                        </div>
                                    </td>
                                    <td ng-init="initCodeshareTooltipData(this)">
                                        <span kk-tooltip="ffp-cms/rules/tooltip-codeshare.html" tooltip-data="codeshareTooltipData">
                                            <i ng-class="{ 'fi-x alert': !areCodeshareRulesDirty(item), 'fi-check success': areCodeshareRulesDirty(item) }"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <span kk-tooltip="ffp-cms/rules/tooltip-flights.html" tooltip-data="item" tooltip-if="item.flightNoExcl.length > 0 || item.flightNoLimit.length > 0">
                                            <i ng-class="{ 'fi-check success': item.flightNoExcl.length > 0 || item.flightNoLimit.length > 0, 'fi-x alert': item.flightNoExcl.length <= 0 &amp;&amp; item.flightNoLimit.length >= 0 }"></i>
                                        </span>
                                    </td>
                                    <td ng-init="initStatusTiersTooltipData(this)">
                                        <span kk-tooltip="ffp-cms/rules/tooltip-status-tiers.html" tooltip-data="statusTiersTooltipData">
                                            <i ng-class="{ 'fi-check success': areStatusTiersModified(item), 'fi-x alert': !areStatusTiersModified(item) }"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <div ng-if="!item.unlocked">
                                            <span ng-if="item.geographicalRules.length > 0" class="label" kk-tooltip="ffp-cms/rules/tooltip-geo.html" tooltip-data="item" tooltip-if="item.geographicalRules.length > 0">{{ item.geographicalRules.length }}</span>
                                            <span ng-if="item.geographicalRules.length <= 0" class="label secondary">0</span>
                                        </div>
                                        <div ng-if="item.unlocked">
                                            <span ng-if="item._copy.geographicalRules.length > 0 &amp;&amp; item._copy.leaveGeoRules" kk-tooltip="ffp-cms/rules/tooltip-geo.html" tooltip-data="item" tooltip-if="item.geographicalRules.length > 0">{{ item.geographicalRules.length }}</span> 
                                            <span ng-if="item._copy.geographicalRules.length <= 0 || !item._copy.leaveGeoRules">0</span> 
                                            <input type="checkbox" ng-change="applyToAllSync(item, 'leaveGeoRules')" ng-model="item._copy.leaveGeoRules" name="leaveGeo" />
                                        </div>
                                    </td>
                                    <td kk-admin-review-column="item"></td>
                                    <td ng-if="!item.unlocked" class="action"><a ng-click="cloneRule($index)" title="Clone rule"><i class="fi-page-copy"></i></a></td>
                                    <td ng-if="!item.unlocked" class="action"><a title="Edit rule inline" ng-click="unlockRule(this)"><i class="fi-pencil"></i></a></td>
                                    <td ng-if="!item.unlocked || (item.unlocked &amp;&amp; applyToAll())" class="action text" ng-attr-colspan="{{getRuleActionColspan(item)}}"><a title="Edit" kk-nav route="editRule" ng-attr-param-ffpid="{{ffp.id}}" ng-attr-param-id="{{item.id}}">Edit</td>
                                    
                                    <td ng-if="item.unlocked &amp;&amp; !applyToAll()" class="action"><a title="Cancel changes" ng-click="lockRule(this)"><i class="fi-arrow-left"></i></a></td>
                                    <td colspan="2" ng-if="item.unlocked &amp;&amp; !applyToAll()" class="action success"><button type="submit" title="Save changes" ng-click="saveRule(this)"><i class="fi-save"></i></button></td>
                                    
                                    <td ng-attr-colspan="{{getRuleActionColspan(item)}}" class="action alert"><a title="Delete" ng-click="deleteRule(item)"><i class="fi-x"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    
                    <form novalidate name="paginForm">
                        <div class="row">
                            <div class="columns large-8">
                                <pagination total-items="paged.totalItems" page="paged.page" items-per-page="paged.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)"></pagination>
                            </div>
                            <div class="columns large-3">
                                <div class="row">
                                    <div class="columns small-8">
                                        <label for="items-per-page" class="inline right">Items per page:</label>
                                    </div>
                                    <div class="columns small-4">
                                        <select required name="itemsPerPage" id="items-per-page" ng-model="paged.itemsPerPage" ng-change="onItemsPerPageChange()" ng-options=" ipp for ipp in config.pagination.allowed "></select>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no defined earning rules. Create a <a kk-nav route="newRule" ng-attr-param-ffpid="{{ffp.id}}">first one</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="dropdown-ff" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="config.filters.fareFamilies" selected="filters.fareFamilies" cols="1" id="rules-ff" label="name" property="id"></div>
    </div>
    
    <div id="dropdown-airlines" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="config.filters.airlines" selected="filters.airlines" cols="2" id="rules-airlines"></div>
    </div>
    
    <div id="dropdown-subs" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="config.filters.subsidiaries" selected="filters.subsidiaries" cols="2" id="rules-subs"></div>
    </div>
    
    <div id="dropdown-mk" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="config.filters.marketingSpecificAirlines" selected="filters.marketingSpecificAirlines" cols="2" id="rules-cs-mk"></div>
    </div>
    
    <div id="dropdown-op" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="config.filters.operatingSpecificAirlines" selected="filters.operatingSpecificAirlines" cols="2" id="rules-cs-op"></div>
    </div>
    
</section>