<tr>
    <th></th>
    <th><input ng-disabled="applyToAll()" type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
    <th class="text-left">Id</th>
    <th>Airline</th>
    <th class="text-left"><abbr title="Subsidiaries">Sub.</abbr></th>
    <th class="text-left">Fare family</th>
    <th class="text-left">Fare codes</th>
    <th class="text-right accrual" ng-repeat="accrual in ffp.accruals">
        <div ng-init="initAccrualTooltipData(this)">
            <span kk-tooltip="ffp-cms/rules/tooltip-accrual.html" tooltip-data="accrualTooltip" ng-class="{ 'distance-based' : accrual.earningBase == 'distance' }">{{ getAccrualAbbr(accrual) }}</span>
        </div>
    </th>
    <th class="text-right"><abbr title="Minimum miles">Min.</abbr></th>
    <th><abbr title="Bonus Award Miles">BAM</abbr></th>
    <th><abbr title="Bonus Status Miles">BSM</abbr></th>
    <th><abbr title="Operational Rule Modification">ORM</abbr></th>
    <th><abbr title="Flight Number Limitations">FNL</abbr></th>
    <th><abbr title="Status Tiers Modification">STM</abbr></th>
    <th><abbr title="Geographical rules">Geo.</abbr></th>
    <th kk-admin-review-header>Status</th>
    <th colspan="4"></th>
</tr>