<div ng-if="data.flight.from || data.flight.until">
    <strong>Travel</strong> <span ng-if="data.flight.from">from: {{data.flight.from | date : 'mediumDate'}}</span> <span ng-if="data.flight.until">to: {{data.flight.until | date : 'mediumDate'}}</span>
</div>
<div ng-if="data.purchase.from || data.purchase.until">
    <strong>Purchase</strong> <span ng-if="data.purchase.from">from: {{data.purchase.from | date : 'mediumDate'}}</span> <span ng-if="data.purchase.until">to: {{data.purchase.until | date : 'mediumDate'}}</span>
</div>