<table>
    <thead>
        <tr><td class="text-right">Factor</td><th class="text-left">Range/GRIL</th></tr>
    </thead>
    <tbody>
        <tr ng-repeat="rule in data.items">
            <td class="text-right">{{ rule.factor | number : 2 }}</th>
            <th class="no-wrap text-left" ng-if="!rule.gril || rule.gril.length <= 0">{{ rule.rangeFrom | number : 0 }} &ndash; {{ rule.rangeTo | number: 0 }}</th>
            <th ng-if="rule.gril.length > 0" class="text-left">
                <span ng-repeat="g in rule.gril">{{ g | trim : 10 : '&hellip;' }} </span>
            </th>
        </tr>
    </tbody>
</table>