<strong>Marketing</strong>:<br />
<span ng-repeat=" rule in data.rule.marketingRules ">
    {{ (data.config.codeshareRuleTypes | find : rule : 'code').name }}
    <span ng-if=" rule == 'spe' &amp;&amp; data.rule.marketingSpecificAirlines.length > 0 ">
        ({{ data.rule.marketingSpecificAirlines | join }})
    </span>
	<span ng-if=" rule == 'exc' &amp;&amp; data.rule.marketingExcludedAirlines.length > 0 ">
        ({{ data.rule.marketingExcludedAirlines | join }})
    </span>
    <span ng-if="!$last">, </span>
</span><br/ ><br />
<strong>Operating</strong>:<br />
<span ng-repeat=" rule in data.rule.operatingRules ">
    {{ (data.config.codeshareRuleTypes | find : rule : 'code').name }}
    <span ng-if=" rule == 'spe' &amp;&amp; data.rule.operatingSpecificAirlines.length > 0 ">
        ({{ data.rule.operatingSpecificAirlines | join }})
    </span>
	<span ng-if=" rule == 'exc' &amp;&amp; data.rule.operatingExcludedAirlines.length > 0 ">
        ({{ data.rule.operatingExcludedAirlines | join }})
    </span>
    <span ng-if="!$last">, </span>
</span>
<div ng-if="data.rule.ticketedBy.length > 0">
    <br />
    <strong>Ticketed by:</strong><br />
    <span ng-repeat="airline in data.rule.ticketedBy">
        {{airline}}<span ng-if="!$last">, </span>
    </span>
</div>