<div ng-if="data.flightNoLimit.length > 0" class="tooltip-row">
    <strong>Flight No. Limit:</strong><br />
    {{ data.flightNoLimit | join }}
</div>
<div ng-if="data.flightNoExcl.length > 0">
    <strong>Flight No. Excl.:</strong><br />
    {{ data.flightNoExcl | join }}
</div>