<div ng-if="data.areStatusTiersModified">
	<div><strong>Elite bonus type: </strong>{{(data.config.eliteBonusTypes | find : data.rule.eliteBonusBase).name}}</div>
	<div><strong>Minimum miles calc. method: </strong>{{(data.config.minMilesCalcMethods | find : data.rule.minMilesCalcMethod).name}}</div>
	<div ng-if="data.rule.minDistance &amp;&amp; data.rule.minMilesCalcMethod == 4 || data.rule.minMilesCalcMethod == 5"><strong>Minimum Distance: </strong>{{data.rule.minDistance}}</div>
	<hr class="tooltip-hr" ng-if="data.hasStatusTierDeviations || data.hasApplyToTierModification"/>
</div>
<div ng-if="data.hasApplyToTierModification">
	<strong>Apply to tiers:</strong>
	<div ng-repeat="tier in data.rule.applyToTiers">
		{{(data.config.tiers | find : tier).name}}
	</div>
	<hr class="tooltip-hr" ng-if="data.hasStatusTierDeviations"/>
</div>
<div ng-if="data.hasStatusTierDeviations">
	<strong>Status tier deviations:</strong>
	<div ng-repeat="tier in data.rule.tiers">
		<strong>{{tier.name}}</strong> ({{( data.config.tiers | find : tier.status).name}})<br/>
		Distance bonus <strong>{{tier.distanceBonus}}</strong><br/>
		Revenue bonus <strong>{{tier.revenueBonus}}</strong><br/>
		<span ng-if="tier.applyMinMiles">Apply min. miles<br/></span>
		<br ng-if="$index < (data.rule.tiers.length - 1)" />
	</div>
</div>