i.error{
    color: #F04124;
}

i.success{
    color: #43AC6A;
}

table{
    width: 100%;
}

.centered{
    text-align: center;
}

input.tag-input{
    display: inline;
    width: 6em;
}

.tag-wrapper span.label{
    line-height: 2;
}

.tag-wrapper span.label a{
    color: #fff;
}

.tag-wrapper span.label a:hover{
    color: #ddd;
}

#loader-overlay{
    background-image: url(../img/ajax.gif);
    background-position: center 45%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button-li{
    margin-right: 2em;
}

.panel fieldset{
    background-color: #fff;
}

.panel legend{
    border: 1px solid #d9d9d9;
}

.icon-chevron-right:after{
    content: '>';
}

.icon-chevron-left:before{
    content: '<';
}

.nowrap{
    white-space: nowrap;
}


fieldset{
    margin: 1rem 0;
    padding: 1rem;
}

fieldset legend{
    font-size: 0.85rem;
}

label{
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
    font-size: 0.75rem;
    height: 2rem;
    margin: 0 0 0.75rem;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select{
    margin: 0 0 0.75rem;
    font-size: 0.75rem;
    padding: 0.4rem;
}

hr{
    margin: 0.5rem 0 1rem;
}

button, .button{
    margin-bottom: 0.5rem;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td{
    font-size: 0.75rem;
    padding: 0.3rem 0.5rem 0.5rem;
}

table tr th, table tr td{
    font-size: 0.75em;
    padding: 0.3rem 0.5rem;
}

.inline-list{
    margin: 0 0 0.25rem -1.375rem;
}

#alerts-wrapper{
    position: relative;
}

#alerts{
    position: absolute;
    top: 55px;
    width: 100%;
    z-index: 999;
}

.validated-field small.error{
    display: none;
    margin-top: -1em;
}

.show-errors .validated-field.error small.error{
    display: block;
}

.validated-field.no-margin small.error{
    margin-top: 0;
}

.validated-field.tag-wrapper .invalid small.error{
    display: block;
}