<form name="ruleForm" novalidate ng-submit="submit(ruleForm)">
    
    <div class="row">
        <div class="columns large-12">
            <h3><span ng-if="isNew">Add</span><span ng-if="!isNew">Edit</span> rule</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="columns large-12">
            
            <fieldset>
                <legend>Apply to tier</legend>
                
                <span ng-repeat="tier in ffp.tiers">
                    <input type="checkbox" checklist-model="rule.applyToTiers" checklist-value="tier.id" ng-attr-id="tier-{{tier.id}}" name="tiers" /> 
                    <label ng-attr-for="tier-{{tier.id}}">{{ tier.name }}</label>
                </span>
                
            </fieldset>
            
			<div class="alert-box radius alert" ng-if="!isValid()"><i class="fi-alert"></i> You need to fill only one field (range <strong>or</strong> GRIL).</div>
            
            <fieldset>
                <legend>Range</legend>
                
                <div class="row">
                    <div class="columns large-1"><label for="range-from" class="inline right">From</label></div>
                    <div class="columns large-2">
                        <input type="number" ng-model="rule.rangeFrom" name="ruleRangeFrom" id="range-form" />
                        <kk-error field="ruleForm.ruleRangeFrom">Invalid number</kk-error>
                    </div>
                    <div class="columns large-1">
                        <label for="range-to" class="inline right">To</label>
                    </div>
                    <div class="columns large-2 end">
                        <input type="number" ng-model="rule.rangeTo" name="ruleRangeTo" id="range-to" />
                        <kk-error field="ruleForm.ruleRangeTo">Invalid number</kk-error>
                    </div>
                </div>
                
            </fieldset>
            
            <fieldset>
                <legend>Or GRIL</legend>
                
                <div class="row">
                    <div class="columns large-2">
                        <label class="inline right">Logical operand:</label>
                    </div>
                    <div class="columns large-10">
                        <input type="radio" ng-model="rule.logicalOperand" name="logical" value="OR" id="log-or" /> <label class="inline" for="log-or">OR</label> 
                        <input type="radio" ng-model="rule.logicalOperand" name="logical" value="AND" id="log-and" /> <label class="inline" for="log-and">AND</label> 
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-2"><label class="inline right">GRIL</label></div>
                    <div class="columns large-10">
                        <kk-tag-input collection="rule.gril" uppercase="true" wrap="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
                    </div>
                </div>
                
            </fieldset>
            
            <fieldset>
                <legend>Seasonal dates</legend>
                <label><span class="hint">dd/mm</span>, <span class="hint">dd/mm/yyyy</span> or <span class="hint">dd/mm/yyyy-dd/mm/yyyy</span></label>
                <kk-tag-input collection="rule.seasonalDates" pattern="dateRangePatern"></kk-tag-input>
            </fieldset>

            <button type="submit" class="small" ng-class="{ secondary: !ruleForm.$valid || !isValid(), success: isValid() &amp;&amp; ruleForm.$valid }"><i class="fi-check"></i> Save</button>
            <button type="button" class="small secondary" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    
</form>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>