<section id="ffp-award-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Award rule</h1>
                <h4 class="subheader">#{{ item.code }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New award rule</h1>
        
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li kk-nav route="awards" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Redemption rules</a>
                </li>
                <li kk-nav route="awards" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Award rules</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editAward" ng-attr-param-ffpid="{{ ffp.id }}" ng-attr-param-id="{{ item.id }}">
                    <a>{{ item.code }}</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newAward" ng-attr-param-ffpid="{{ ffp.id }}">
                    <a>New</a>
                </li>
            </ul>
            
            <pager ng-if="paged" total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
            
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                
                <div class="row">
                    <div class="columns large-6">
                        
                        <fieldset class="basic">
                            <legend>Basic</legend>
                            <div class="row">
                                <div class="columns large-5">
                                    <ul class="button-group round even-2">
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: !item.active, success: item.active } " ng-model="item.active" btn-radio="true">Active</button></li>
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: item.active, alert: !item.active } " ng-model="item.active" btn-radio="false">Inactive</button></li>
                                    </ul>
                                </div>
                                <div class="columns large-2">
                                    <label class="inline right" for="rule-code">Rule ID</label>
                                </div>
                                <div class="columns large-5">
                                    <input type="text" ng-disabled="isNew" name="ruleCode" id="rule-code" ng-model="item.code" class="uppercase" ng-pattern="ruleCodePattern" />
                                    <kk-error field="itemForm.ruleCode">Only letters and digits</kk-error>
                                </div>
                            </div>
                        </fieldset>
                        
                    </div>
                    <div class="columns large-6">
                        
                        <table class="summary">
                            <thead>
                                <tr><th class="text-left" colspan="3">FFP Summary</th></tr>
                            </thead>
                            <tr>
                                <th class="text-left">Name</th>
                                <td class="text-left">
                                    <a kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">{{ ffp.name }}</a>
                                </td>
                                <td class="text-left">{{ ffp.code }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Airlines</th>
                                <td class="text-left" colspan="2">
                                    <span class="label secondary radius" ng-repeat="airline in ffp.owningAirlines">{{ airline }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left">Earning base</th>
                                <td class="text-left" colspan="2">
                                    {{ (config.earningBases | find : ffp.earningBase : 'code').name }}
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
                
                <fieldset>
                    <legend>Award</legend>
                    
                    <div class="row">
                        <div class="columns large-4">
                            <label for="item-name">Name</label>
                            <select ng-model="item.name" ng-options="red.id as red.name for red in ffp.redemptions | filter : { type: 'award' }" id="item-name" name="itemName" required></select>
                            <kk-error field="itemForm.itemName">This field is required</kk-error>
                        </div>
                        <div class="columns large-4">
                            <label for="item-ff">Fare family</label>
                            <select ng-model="item.fareFamily" ng-options="ff.id as ff.name for ff in config.fareFamilies" id="item-ff" name="itemFf" required></select>
                            <kk-error field="itemForm.itemFf">This field is required</kk-error>
                        </div>
                        <div class="columns large-4">
                            <label for="item-class">Class</label>
                            <select ng-model="item.awardClass" ng-options="cls.id as cls.name for cls in config.awardClasses" id="item-class" name="itemClass" required></select>
                            <kk-error field="itemForm.itemClass">This field is required</kk-error>
                        </div>
                    </div>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Rules</legend>
                    
                    <p ng-if="item.rules.length <= 0">There are no rules yet. Add <a ng-click="addRule()">first one</a>.</p>
                    
                    <table ng-if="item.rules.length > 0">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-left">Name</th>
                                <th rowspan="2" class="text-right">One way</th>
                                <th rowspan="2" class="text-right">Taxes, fees, charges</th>
                                <th rowspan="2">Round trip</th>
                                <th rowspan="2">For leg</th>
                                <th rowspan="2">Apply to elite</th>
                                <th rowspan="2">Seasonal</th>
                                <th colspan="2">Range or GRIL</th>
                                <th colspan="2" rowspan="2"></th>
                            </tr>
                            <tr>
                                <th class="text-right">From</th>
                                <th class="text-right">To</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rule in item.rules">
                                <td class="text-left">
                                    {{rule.name}}
                                </td>
                                <td class="text-right">
                                    {{rule.oneWay | number : 0}}
                                </td>
                                <td class="text-right">
                                    {{rule.tfc | number : 0}}
                                </td>
                                <td>
                                    <i ng-class="{ 'fi-check success': rule.roundTrip, 'fi-x alert': !rule.roundTrip }"></i>
                                </td>
                                <td>
                                    <i ng-class="{ 'fi-check success': rule.forLeg, 'fi-x alert': !rule.forLeg }"></i>
                                </td>
                                <td>
                                    <i ng-class="{ 'fi-check success': rule.elite, 'fi-x alert': !rule.elite }"></i>
                                </td>
                                <td>
                                    <span class="label" ng-class="{ secondary: rule.seasonalDates.length <= 0 }" kk-tooltip="ffp-cms/edit-award/season-tooltip.html" tooltip-data="rule.seasonalDates" tooltip-if="rule.seasonalDates.length > 0">
                                        {{ rule.seasonalDates.length }}
                                    </span>
                                </td>
                                <td ng-if="!rule.gril || rule.gril.length <= 0" class="text-right">
                                    {{ rule.rangeFrom | number : 0 }}
                                </td>
                                <td ng-if="!rule.gril || rule.gril.length <= 0" class="text-right">
                                    {{ rule.rangeTo | number : 0 }}
                                </td>
                                <td ng-if="rule.gril.length > 0" colspan="2">
                                    <span class="label" ng-class="{ secondary: rule.gril.length <= 0 }" kk-tooltip="ffp-cms/awards/tooltip-gril.html" tooltip-data="rule">
                                        {{ rule.gril.length }}
                                    </span>
                                </td>
                                <td class="action">
                                    <a ng-click="editRule(rule)" title="Edit rule"><i class="fi-pencil"></i></a>
                                </td>
                                <td class="action alert" ng-class="{ disabled: item.rules.length <= 1 }">
                                    <a ng-click="removeRule($index)" title="Delete rule"><i class="fi-x"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <button type="button" ng-click="addRule()" class="tiny secondary"><i class="fi-plus"></i> Rule</button>
                    
                </fieldset>
                
                <fieldset class="codeshare" ng-class="{ collapsed: !section.codeshare }">
                            
                    <legend><a ng-click="toggleSection('codeshare')"><i ng-class="{ 'fi-minus': section.codeshare, 'fi-plus': !section.codeshare }"></i> Codeshare rules</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <label><strong>Marketing:</strong></label>
                        <span ng-repeat="type in config.codeshareRuleTypes">
                            <input type="checkbox" ng-attr-id="mk-rule-{{type.code}}" checklist-model="item.marketingRules" checklist-value="type.code" /> 
                            <label ng-attr-for="mk-rule-{{type.code}}">{{ type.name }}</label> 
                        </span>
                        <kk-tag-input ng-if="item.marketingRules.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.marketingSpecificAirlines" uppercase="true" ></kk-tag-input>
                        
                        <hr />
                        
                        <label><strong>Operating:</strong></label>
                        <span ng-repeat="type in config.codeshareRuleTypes">
                            <input type="checkbox" ng-attr-id="op-rule-{{type.code}}" checklist-model="item.operatingRules" checklist-value="type.code" /> 
                            <label ng-attr-for="op-rule-{{type.code}}">{{ type.name }}</label> 
                        </span>
                        <kk-tag-input ng-if="item.operatingRules.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.operatingSpecificAirlines" uppercase="true"></kk-tag-input>
                        
                        <hr />
                        
                        <input type="checkbox" id="rule-excl-cs" ng-model="item.excludeCodeshare" /> <label for="rule-excl-cs">Exclude codeshare</label>
                        
                        <hr />
                        
                        <div class="codeshare-flight">
                            <div class="row">
                                <div class="columns large-2">
                                    <label class="right">Flight numbers limitations:</label>
                                </div>
                                <div class="columns large-10">
                                    <kk-tag-input collection="item.flightNoLimit" uppercase="true"></kk-tag-input>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="columns large-2">
                                    <label class="right">Excluded flight <br />numbers:</label>
                                </div>
                                <div class="columns large-10">
                                    <kk-tag-input collection="item.flightNoExcl" uppercase="true"></kk-tag-input>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="geo-rules" ng-class="{ collapsed: !section.geo }">
                            
                    <legend><a ng-click="toggleSection('geo')"><i ng-class="{ 'fi-minus': section.geo, 'fi-plus': !section.geo }"></i> Geographical rules</a></legend>
                    
                    <div class="inner-fieldset">
                        <div class="row">
                            <div class="columns large-2 text-right">
                                <label>Logical operand:</label>
                            </div>
                            <div class="columns large-10">
                                <input type="radio" ng-model="item.geoLogicalOperand" name="getLO" id="geo-lo-or" value="or" /> <label for="geo-lo-or">OR</label>
                                <input type="radio" ng-model="item.geoLogicalOperand" name="getLO" id="geo-lo-and" value="and" /> <label for="geo-lo-and">AND</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right">Geographical <br />filters:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.geographicalRules" uppercase="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right">Coded <br />conditions:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.codedConditions" uppercase="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
                            </div>
                        </div>
                    </div>
                    
                </fieldset>
                
                <fieldset class="validity" ng-class="{ collapsed: !section.validity }">
                            
                    <legend><a ng-click="toggleSection('validity')"><i ng-class="{ 'fi-minus': section.validity, 'fi-plus': !section.validity }"></i> Validity</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns large-4">
                                <div class="period-block">
                                    <label>Purchase period</label>
                                    <div class="row">
                                        <div class="columns large-6">
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">From</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.purchase, 'from', $event)" date-time min-view="date" ng-model="item.purchase.from" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">Until</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.purchase, 'until', $event)" date-time min-view="date" ng-model="item.purchase.until" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="columns large-4 large-offset-1 end">
                                <div class="period-block">
                                    <label>Flight period</label>
                                    <div class="row">
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">From</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.flight, 'from', $event)" date-time min-view="date" ng-model="item.flight.from" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">Until</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.flight, 'until', $event)" date-time min-view="date" ng-model="item.flight.until" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <hr />
                        
                        <div class="row">
                            <div class="columns large-10 large-offset-2">
                                <label>Excluded dates <span class="hint">dd/mm/yyyy</span> or <span class="hint">dd/mm/yyyy-dd/mm/yyyy</span></label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right inline">Departure:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.excludedDepartures" pattern="dateRangePatern"></kk-tag-input>
                            </div> 
                        </div>
                            
                        <div class="row"> 
                            <div class="columns large-2">
                                <label class="right inline">Arrival:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.excludedArrivals" pattern="dateRangePatern"></kk-tag-input>
                            </div>
                        </div>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="legend" ng-class="{ collapsed: !section.legend }">
                    <legend><a ng-click="toggleSection('legend')"><i ng-class="{ 'fi-minus': section.legend, 'fi-plus': !section.legend }"></i> Legend</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <input type="checkbox" ng-model="item.hasLegend" id="item-has-legend" /> <label for="item-has-legend">Distribute legend</label>
                        <textarea placeholder="Legend" name="legend" ng-model="item.legend" ng-required="item.hasLegend"></textarea>
                        <kk-error field="itemForm.legend">This field is required</kk-error>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="comment" ng-class="{ collapsed: !section.comment }">
                    <legend><a ng-click="toggleSection('comment')"><i ng-class="{ 'fi-minus': section.comment, 'fi-plus': !section.comment }"></i> Comment</a></legend>
                    
                    <div class="inner-fieldset">
                        <textarea placeholder="Your comment" ng-model="item.comment"></textarea>
                    </div>
                    
                </fieldset>
                    
                <div class="row">
                    <div class="columns large-12">
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="awards" ng-attr-param-ffpid="{{ffp.id}}" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteItem(item)">Delete</button>
                    </div>
                </div>
                
            </form>
            
            <div class="row" ng-if="paged">
                <div class="columns large-12">
                    <div class="pagination-center">
                        <pager total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
</section>