<h3>Delete invoice?</h3>
<p>Are you sure you want to delete <strong>{{ invoice.filename }}</strong> invoice? This action can not be reversed.</p>
<button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>