
<!-- Cached particles -->

<script type="text/ng-template" id="crm/edit-customer/pre-paid-edit.html">

    <div class="row">
        <div class="columns large-12">
            <h3 ng-show="index >= 0">Edit pre-paid block</h3>
            <h3 ng-hide="index >= 0">Add pre-paid block</h3>
        </div>
    </div>
    
    <form name="prePaidModalForm" novalidate ng-submit="save()">
        
        <div class="row">
            <div class="columns large-6">
                <label for="pre-paid-expire">Expire Date <small>required</small></label>
                <div class="row collapse">
                    <div class="columns small-4">
                        <span class="prefix"><i class="fi-calendar"></i></span>
                    </div>
                    <div class="columns small-8">
                        <input type="text" name="expireDate" id="pre-paid-expire" date-time ng-model="prePaid.expireDate" required min-view="date" format="dd/MM/yyyy" />
                        <kk-error field="prePaidModalForm.expireDate">This field is required</kk-error>
                    </div>
                </div>
            </div>
            <div class="columns large-4">
               
               <label>&nbsp;</label>
                <ul class="button-group round even-2">
                    <li><button type="button" class="button tiny" ng-class="{ secondary: !prePaid.enabled, success: prePaid.enabled } " ng-model="prePaid.enabled" btn-radio="true">Active</button></li>
                    <li><button type="button" class="button tiny" ng-class="{ secondary: prePaid.enabled, alert: !prePaid.enabled } " ng-model="prePaid.enabled" btn-radio="false">Inactive</button></li>
                </ul>
                    
            </div>
        </div>
        
        <div class="row">
            <div class="columns large-6">
                <label for="pre-paid-size">Number of searches <small>required</small></label>
                <input type="number" name="size" id="pre-paid-size" ng-model="prePaid.size" required min="1" />
                <kk-error field="prePaidModalForm.size">This field is required</kk-error>
            </div>
            <div class="columns large-6">
                <label for="pre-paid-price">Price per search <small>required</small></label>
                <div class="row collapse">
                    <div class="columns small-8">
                        <input type="number" name="unitPrice" id="pre-paid-price" ng-model="prePaid.unitPrice" required min="0" />    
                        <kk-error field="prePaidModalForm.unitPrice">This field is required</kk-error>
                    </div>
                    <div class="columns small-4">
                        <span class="postfix">{{config.currency.code}}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="columns large-12">
                <button class="button small" type="submit" ng-class="{ 'secondary' : saveDisabled(prePaidModalForm), 'success' : !saveDisabled(prePaidModalForm) }" ng-disabled="saveDisabled(prePaidModalForm)"><i class="fi-save"></i> Save</button>
                <button type="button" ng-click="cancel()" class="button small secondary">Cancel</button>
            </div>
        </div>
    </form>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>

</script>

<!-- END of cached particles -->

<section id="customer-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Edit customer</h1>
                <h4 class="subheader">{{ customer.name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New customer</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>CRM</a>
                </li>
                <li kk-nav route="customers">
                    <a>Customers</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editCustomer" ng-attr-param-id="{{ customer.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newCustomer">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="cust" novalidate ng-submit="save(cust)">
                
                <tabset>
                    
                    <tab>
                        <tab-heading><i class="fi-torso"></i> Profile</tab-heading>
                        
                        <fieldset>
                            <legend>Basic</legend>
                            
                            <div class="row">
                                <div class="columns large-3">
                                    <div class="name">
                                        <label for="customer-name">Name <small>required</small></label>
                                        <input type="text" required name="custName" id="customer-name" ng-model="customer.name" tabindex="10"/>
                                        <kk-error field="cust.custName">Name is required</kk-error>
                                    </div>
                                </div>
                                <div class="columns large-4">
                                    <div class="url">
                                        <label for="customer-url">Website <small>required</small></label>
                                        <div class="row collapse">
                                            <div class="columns small-3">
                                                <span class="prefix">http://</span>
                                            </div>
                                            <div class="columns small-9">
                                                <input type="text" required name="url" id="customer-url" ng-model="customer.url" placeholder="website.com" tabindex="20" />  
                                            </div>
                                        </div>
                                        <kk-error field="cust.url">Website url is required</kk-error>
                                    </div>
                                </div>
                                <div class="columns large-2 end">
                                    <label>&nbsp;</label>
                                    <ul class="button-group round even-2">
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: !customer.enabled, success: customer.enabled } " ng-model="customer.enabled" btn-radio="true">Active</button></li>
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: customer.enabled, alert: !customer.enabled } " ng-model="customer.enabled" btn-radio="false">Inactive</button></li>
                                    </ul>
                                    
                                </div>
                            </div>
        
                        </fieldset>
                    
                        <fieldset>
                            <legend>Contact</legend>
                            
                            <div class="row">
                                <div class="columns large-4">
                                    <div class="contact">
                                        <label for="customer-contact">Contact person <small>required</small></label>
                                        <input type="text" required name="contact" id="customer-contact" ng-model="customer.contact" tabindex="40"/>
                                        <kk-error field="cust.contact">Contact person is required</kk-error>
                                    </div>
                                    
                                    <div class="phone">
                                        <label for="customer-phone">Phone <small>required</small></label>
                                        <input type="text" required name="phone" ng-pattern="/^[\d+\(\)\-\+ ]{6,}$/" id="customer-phone" ng-model="customer.phone" placeholder="+11 (61) 002-322" tabindex="46"/>
                                        <kk-error field="cust.phone" type="required">Phone is required</kk-error>
                                        <kk-error field="cust.phone" type="pattern">This field is required. Digits, dash, plus sign and brackets only allowed.</kk-error>
                                    </div>
                                    
                                    <div class="email">
                                        <label for="customer-email">Email <small>required</small></label>
                                        <input type="email" required name="email" id="customer-email" ng-model="customer.email" placeholder="customer@domain.com" tabindex="50"/>
                                        <kk-error field="cust.email">Email is required</kk-error>
                                    </div>
                                </div>
                                <div class="columns large-6 large-offset-1 end">
                                    
                                    <div class="row">
                                        <div class="columns large-6">
                                            <div class="country">
                                                <label for="customer-country">Country <small>required</small></label>
                                                <select name="country" required id="customer-country" ng-model="customer.country" ng-options="country.id as country.name for country in config.countries" tabindex="42">
                                                    <option value="">Select</option>
                                                </select>
                                                <kk-error field="cust.country">Country is required</kk-error>
                                            </div>
                                        </div>
                                        <div class="columns large-6">
                                            <div class="city">
                                                <label for="customer-city">City <small>required</small></label>
                                                <input type="text" required name="city" id="customer-city" ng-model="customer.city" tabindex="44"/>
                                                <kk-error field="cust.city">City is required</kk-error>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="street">
                                        <label for="customer-street">Street <small>required</small></label>
                                        <input type="text" required name="street" id="customer-street" ng-model="customer.street" tabindex="48"/>
                                        <kk-error field="cust.street">Street is required</kk-error>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="columns large-6">
                                            <div class="region">
                                                <label for="customer-region">State or region <small>required</small></label>
                                                <input type="text" required name="region" id="customer-region" ng-model="customer.region" tabindex="52"/>
                                                <kk-error field="cust.region">State or region is required</kk-error>
                                            </div>
                                        </div>
                                        <div class="columns large-6">
                                            <div class="postal">
                                                <label for="customer-postal">Postal code <small>required</small></label>
                                                <input type="text" required name="postal" id="customer-postal" ng-model="customer.postal" placeholder="77789" tabindex="54"/>
                                                <kk-error field="cust.postal">Postal code is required</kk-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <legend>API creditentials</legend>
                            
                            <div class="row"> 
                                <div class="columns large-3">
                                    <div class="api-username">
                                        <label for="customer-api-username">Username <small>required</small></label>
                                        <input type="text" required name="apiUsername" id="customer-api-username" ng-pattern="/^[a-zA-Z0-9_\-\.]{3,}$/" ng-model="customer.apiUsername" tabindex="70" placeholder="uSern_m1e" />
                                        <kk-error field="cust.apiUsername" type="required">Username is required</kk-error>
                                        <kk-error field="cust.apiUsername" type="pattern">Minimum 4 characters is required. Only alphanumeric characters, dashes and underlines allowed.</kk-error>
                                    </div>
                                </div>
                                <div class="columns large-5 end">
                                    <label for="customer-api-password">Password <small>required</small></label>
                                    <div class="row collapse">
                                        <div class="columns small-6">
                                            <div class="api-password">
                                                <input ng-attr-type="{{apiPassInputType}}" required name="apiPassword" id="customer-api-password" ng-minlength="7" ng-model="customer.apiPassword" tabindex="80" />
                                                <kk-error field="cust.apiPassword" type="required">Password is required</kk-error>
                                                <kk-error field="cust.apiPassword" type="minlength">Minimum 7 characters is required.</kk-error>
                                            </div>
                                        </div>
                                        <div class="columns small-3">
                                            <a class="button tiny expand" ng-click="showApiPassword()">
                                                <span ng-show="apiPassInputType == 'password' ">Show</span>
                                                <span ng-hide="apiPassInputType == 'password' ">Hide</span>
                                            </a>
                                        </div>
                                        <div class="columns small-3">
                                            <a class="button tiny expand secondary" ng-click="generateApiPass()">Generate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <legend>Customer Area creditentials</legend>
                            
                            <div class="row">
                                <div class="columns large-3">
                                    <div class="cac-username">
                                        <label for="customer-cac-username">Username <small>required</small></label>
                                        <input type="text" required name="cacUsername" id="customer-cac-username" ng-pattern="/^[a-zA-Z0-9_\-\.]{3,}$/" ng-model="customer.cacUsername" tabindex="90" placeholder="uSern_m1e" />
                                        <kk-error field="cust.cacUsername" type="required">Username is required</kk-error>
                                        <kk-error field="cust.cacUsername" type="pattern">Minimum 4 characters is required. Only alphanumeric characters, dashes and underlines allowed.</kk-error>
                                    </div>
                                </div>
                                <div class="columns large-5 end">
                                    <label for="customer-cac-password">Password <small>required</small></label>
                                    <div class="row collapse">
                                        <div class="columns small-6">
                                            <div class="cac-password">
                                                <input ng-attr-type="{{cacPassInputType}}" required name="cacPassword" id="customer-cac-password" ng-minlength="7" ng-model="customer.cacPassword" tabindex="100" />
                                                <kk-error field="cust.cacPassword" type="required">Password is required</kk-error>
                                                <kk-error field="cust.cacPassword" type="minlength">Password has to contain min. 7 characters</kk-error>
                                            </div>
                                        </div>
                                        <div class="columns small-3 end">
                                            <a class="button tiny expand" ng-click="showCacPassword()">
                                                <span ng-show="cacPassInputType == 'password' ">Show</span>
                                                <span ng-hide="cacPassInputType == 'password' ">Hide</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <legend>Comment</legend>
                            <div class="row">
                                <div class="columns large-12">
                                    <div class="comment">
                                        <textarea name="comment" id="customer-comment" ng-model="customer.comment" tabindex="110"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
    
                    </tab>
              
                    <tab>
                        <tab-heading><i class="fi-dollar"></i> Prices</tab-heading>
                        
                        <fieldset>
                            <legend>Pricelist</legend>
                            
                            <input type="checkbox" name="monthlyMinimumEnabled" id="monthly-minimum-enabled" ng-model="customer.monthlyMinimumEnabled" tabindex="300" />
                            <label for="monthly-minimum-enabled">Monthly Minimum <small>required</small></label>
                            
                            <div class="row collapse">
                                <div class="columns small-2">
                                    <input type="number" min="0" ng-disabled="!customer.monthlyMinimumEnabled" ng-required="customer.monthlyMinimumEnabled" name="monthlyMinimum" id="monthly-minimum" ng-model="customer.monthlyMinimum" tabindex="310" />
                                    <kk-error field="cust.monthlyMinimum">Required. Not less than 0.</kk-error>
                                </div>
                                <div class="columns small-1 end">
                                    <span class="postfix">
                                        {{config.currency.code}}
                                    </span>
                                </div>
                            </div>
                            
                            <hr />
                            
                            <div class="row">
                                <div class="columns large-2">
                                    <label>From <small>required</small></label>
                                </div>
                                <div class="columns large-2">
                                    <label>To <small>required</small></label>
                                </div>
                                <div class="columns large-2 end">
                                    <label>Price <small>required</small></label>
                                </div>
                            </div>
                            
                            <div class="row" ng-repeat=" tier in customer.priceTiers " ng-form name="priceTierForm">
                                <div class="columns large-2">
                                    <input type="number" min="0" required name="from" ng-model="tier.from" ng-attr-tabindex="{{ 310 + ($index * 10} }" />
                                    <kk-error field="priceTierForm.from">Required. Not less than 0.</kk-error>
                                </div>
                                <div class="columns large-2">
                                    <input type="number" ng-attr-min="{{tier.from}}" required name="to" ng-model="tier.to" ng-attr-tabindex="{{ 310 + ($index * 10} + 1 }" />
                                    <kk-error field="priceTierForm.to">Required. Not less than {{tier.from + 1}}.</kk-error>
                                </div>
                                <div class="columns large-2">
                                    <div class="row collapse">
                                        <div class="columns small-8">
                                            <input type="number" required name="price" min="0" ng-model="tier.price" ng-attr-tabindex="{{ 310 + ($index * 10} + 2 }" />
                                            <kk-error field="priceTierForm.price">Required. Not less than 0.</kk-error>
                                        </div>
                                        <div class="columns small-4">
                                            <span class="postfix">{{config.currency.code}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns large-1 end">
                                    <a ng-hide="$index + 1 < customer.priceTiers.length" class="button tiny secondary" ng-click="addPriceTier()"><i class="fi-plus"></i></a>
                                    <a ng-show="$index + 1 < customer.priceTiers.length" class="button tiny alert" ng-click="removePriceTier($index)"><i class="fi-x"></i></a>
                                </div>
                            </div>
                        </fieldset>
                          
                        <fieldset>
                            <legend>Pre-paid blocks</legend>
                            
                            <div class="button-bar">
                                <ul class="button-group">
                                    <li><a class="button tiny" ng-click="addPrePaid()" title="Add Pre-paid block"><i class="fi-plus"></i> Add new</a></li>
                                </ul>
                                <ul class="button-group">
                                    <li><button type="button" class="button tiny secondary" ng-disabled="selectedPrePaid.length < 1" ng-click="enablePrePaid()" title="Enable pre-paid block">Enable</button></li>
                                    <li><button type="button" class="button tiny secondary" ng-disabled="selectedPrePaid.length < 1" ng-click="disablePrePaid()" title="Disable pre-paid block">Disable</button></li>
                                </ul>
                                <ul class="button-group">
                                    <li><button type="button" class="button tiny alert" ng-disabled="selectedPrePaid.length < 1" ng-click="removePrePaid()" title="Remove pre-paid block">Delete</button></li>
                                </ul>
                            </div>
                            
                            <table class="pre-paid">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-right">Created</th>
                                        <th class="text-right">Expire</th>
                                        <th class="text-right">Size</th>
                                        <th class="text-right">Used</th>
                                        <th class="text-right">Remaining</th>
                                        <th>%</th>
                                        <th class="text-right">Unit Price</th>
                                        <th class="text-right"><abbr title="Revenue till now">Revenue</abbr></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat=" prePaid in customer.prePaidBlocks " ng-form name="prePaidForm">
                                        <td><input type="checkbox" ng-change="togglePrePaid(prePaid)" ng-model="prePaidForm.selected" /></td>
                                        <td class="text-right">{{prePaid.createdDate | date : 'mediumDate'}}</td>
                                        <td class="text-right">{{prePaid.expireDate | date : 'mediumDate'}}</td>
                                        <td class="text-right">{{prePaid.size | number:0 }}</td>
                                        <td class="text-right">{{prePaid.used | number:0 }}</td>
                                        <td class="text-right">{{ (prePaid.size - prePaid.used) | number:0 }}</td>
                                        <td class="progress-bar text-left"><progressbar value="prePaid.used" max="prePaid.size"></progressbar></td>
                                        <td class="text-right">{{prePaid.unitPrice | currency : config.currency.symbol }}</td>
                                        <th class="text-right">{{ (prePaid.unitPrice * prePaid.used) | currency : config.currency.symbol }}</th>
                                        <td>
                                            <span class="label radius success" ng-show="prePaid.enabled">Enabled</span>
                                            <span class="label radius alert" ng-hide="prePaid.enabled">Disabled</span>
                                        </td>
                                        <td class="action"><a ng-click="editPrePaid(prePaid)" title="Edit pre-paid block"><i class="fi-pencil"></i></a></td>
                                    </tr>
                                </tbody>
                                <tfoot ng-show="customer.prePaidBlocks.length < 1">
                                    <tr>
                                        <td colspan="10">There are no pre-paid blocks yet. Add <a ng-click="addPrePaid()">first one</a>.</td>
                                    </tr>
                                </tfoot>
                            </table>
                            
                        </fieldset>
                        
                        <fieldset>
                            <legend>Request count definitions</legend>
                            
                            <div class="row">
                                <div class="columns large-3 large-offset-2">
                                    <label>Number of requests <small>required</small></label>
                                </div>
                                <div class="columns large-3 large-offset-1 end">
                                    <label>Number of requests <small>required</small></label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="columns large-2">
                                    <label for="count-marketing" class="inline right nowrap">Marketing CXR strategy</label>
                                </div>
                                <div class="columns large-2">
                                    <input type="number" required min="0" ng-model="customer.requestCount.marketing" name="rcMarketing" id="count-marketing" />
                                    <kk-error field="cust.rcMarketing">This field is required</kk-error>
                                </div>
                                
                                <div class="columns large-2">
                                    <label for="count-programs" class="inline right">All programs</label>
                                </div>
                                <div class="columns large-2 end">
                                    <input type="number" required min="0" ng-model="customer.requestCount.allPrograms" name="rcPrograms" id="count-programs" />
                                    <kk-error field="cust.rcPrograms">This field is required</kk-error>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="columns large-2">
                                    <label for="count-fare" class="inline right">Single fare <br /><small>eg. Booking page</small></label>
                                </div>
                                <div class="columns large-2">
                                    <input type="number" required min="0" ng-model="customer.requestCount.singleFare" name="rcFare" id="count-fare" />
                                    <kk-error field="cust.rcFare">This field is required</kk-error>
                                </div>
                                
                                <div class="columns large-2">
                                    <label for="count-status" class="inline right">Specific program &amp; status</label>
                                </div>
                                <div class="columns large-2 end">
                                    <input type="number" required min="0" ng-model="customer.requestCount.programAndStatus" name="rcStatus" id="count-status" />
                                    <kk-error field="cust.rcStatus">This field is required</kk-error>
                                </div>
                            </div>
                            
                        </fieldset>

                    </tab> 

                    <tab select="onStatisticsTabSelect()" ng-hide="isNew">
                        <tab-heading><i class="fi-graph-bar"></i> Statistics</tab-heading>
                        
                        <top-bar>
                            <top-bar-section>
                                <ul class="left">
                                    <li ng-class="{ 'active' : isMonthSelected() }"><a ng-click="setMonthPeriod()" title="Show statistics for last month">Last Month</a></li>
                                    <li ng-class="{ 'active' : isYearSelected() }"><a ng-click="setYearPeriod()" title="Show statistics for last year">Last Year</a></li>
                                    <li ng-class="{ 'active' : isOtherPeriodSelected() }"><a ng-click="periodPickerClick($event)" dropdown-toggle="#period-picker" title="Set custom period">Other</a></li>
                                </ul>
                                <ul class="right">
                                    <li ng-class="{ 'active': graphsHorizontal }"><a title="Display two graphs side by side" ng-click="setGraphsLayout(true)">Horizontal</a></li>
                                    <li ng-class="{ 'active': !graphsHorizontal }"><a title="Display one graph under another" ng-click="setGraphsLayout(false)">Vertical</a></li>
                                    <li><a dropdown-toggle="#period-picker" ng-click="periodPickerClick($event)" title="Set custom period">{{ statsPeriod.start | date : 'MMM/yyyy' }}&ndash;{{ statsPeriod.end | date : 'MMM/yyyy' }}</a></li>
                                </ul>
                            </top-bar-section>
                        </top-bar>
     
                        <div class="row">
                            <div class="columns" ng-class="{ 'large-6': graphsHorizontal, 'large-12' : (!graphsHorizontal) }">
                                <div google-chart chart="searchesChart" class="stats-chart"></div>
                            </div>
                            <div class="columns" ng-class="{ 'large-6': graphsHorizontal, 'large-12' : (!graphsHorizontal) }">
                                <div google-chart chart="revenueChart" class="stats-chart"></div>
                            </div>
                        </div>
                        
                        <table class="stats-table">
                            <thead>
                                <tr>
                                    <th class="text-right">From</th>
                                    <th class="text-right">To</th>
                                    <th class="text-left">Product</th>
                                    <th class="text-right">Requests</th>
                                    <th class="text-left">Pricelist</th>
                                    <th class="text-right">Unit Price</th>
                                    <th class="text-right">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in billings.items">
                                    <td class="text-right">{{ item.from | date }}</td>
                                    <td class="text-right">{{ item.to | date }}</td>
                                    <th class="text-left">{{ item.product }}</th>
                                    <td class="text-right">{{ item.requests | number : 0 }}</td>
                                    <td class="text-left">{{ item.pricelist }}</td>
                                    <td class="text-right">{{config.currency.symbol}}{{ item.unitPrice }}</td>
                                    <th class="text-right">{{ item.subtotal | currency : config.currency.symbol }}</th>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="6" class="text-right">Grand total</th>
                                    <td class="text-right">{{ billings.total | currency : config.currency.symbol }}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="text-right">Paid</td>
                                    <td class="text-right">{{ billings.paid | currency : config.currency.symbol }}</td>
                                </tr>
                                <tr>
                                    <th colspan="6" class="text-right">Remaining</th>
                                    <td class="text-right">{{ (billings.total - billings.paid) | currency : config.currency.symbol }}</td>
                                </tr>
                            </tfoot>
                        </table>
                        
                        <fieldset ng-form name="invoice">
                            <legend>Invoice</legend>
                            
                            <div class="row">
                                <div class="columns large-2">
                                    <label for="payment-terms" class="inline right">Payment terms <small>required</small></label>
                                </div>
                                <div class="columns large-2">
                                    
                                    <select id="payment-terms" required name="payTerm" ng-model="paymentTerm" ng-change="paymentTermChange()" ng-options="term.id as term.name for term in config.paymentTerms"></select>
                                    <kk-error ng-if="cust.payTerm" field="cust.payTerm">This field is required</kk-error>
        
                                </div>
                                <div class="columns large-6">
                                    <input type="checkbox" name="setDefaultPaymentTerms" ng-model="customer.setDefaultPaymentTerms" ng-change="paymentTermChange()" id="default-payment-terms" />
                                    <label for="default-payment-terms" class="inline">Set as default for customer</label>
                                </div>
                                <div class="columns large-2">
                                    <button class="tiny expand" type="button" ng-click="generateInvoice()"><i class="fi-results"></i> Generate Invoice</button>
                                </div>
                            </div>
                        </fieldset>
                                      
                    </tab>
                    
                    <tab ng-hide="isNew">
                        <tab-heading><i class="fi-list"></i> Invoices</tab-heading>
                        
                        <div class="button-bar">
                            <ul class="button-group">
                                <li><kk-uploader action="json/customer/upload-invoice.json" on-complete="onInvoiceUploaded" btn-class="uploaderBtnClass" params="{ customer: customer.id }">
                                    <i class="fi-upload"></i> Upload
                                </kk-uploader></li>
                            </ul>
                        </div>
<!--                        
                        <form action="json/customers/upload-invoice.json" ng-upload="onInvoiceUploaded(contents)"></form>
                            
                            <input type="file" name="invoice" class="hide" id="invoice-input"></input>
                            
                            <div class="button-bar">
                                <ul class="button-group">
                                    <li><button class="tiny secondary" ng-click="uploadInvoice()"><i class="fi-upload"></i> Upload</button></li>
                                </ul>
                            </div>
                            
                        </form>
    -->                    
                        <table class="invoices">
                            <thead>
                                <tr>
                                    <th class="text-left">File</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in customer.invoices">
                                    <th class="text-left"><a ng-href="{{invoice.url}}" title="Download invoice" target="_blank">{{ invoice.filename }}</a></th>
                                    <th class="action alert"><a ng-click="deleteInvoice($index)" title="Delete invoice"><i class="fi-x"></i></a></th>
                                </tr>
                            </tbody>
                        </table>
                    </tab>
    
                </tabset>
                
                <div class="row">
                    <div class="columns large-12">
                        <button type="submit" ng-class=" { success: !saveDisabled(cust), secondary: saveDisabled(cust) } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="customers" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteCustomer(customer)">Delete</button>
                    </div>
                </div>
                
            </form>
    
        </div>
    </div>
    
    <div id="period-picker" class="f-dropdown" ng-click="preventDefault($event)">
        <div date-range start="statsPeriod.start" min-view="month" end="statsPeriod.end"></div>
    </div>
</section> 