<div class="row">
    <div class="columns large-12">
        <h3 ng-show="index >= 0">Edit pre-paid block</h3>
        <h3 ng-hide="index >= 0">Add pre-paid block</h3>
    </div>
</div>

<form name="prePaidModalForm" novalidate ng-submit="save()">
    
    <div class="row">
        <div class="columns large-6">
            <label for="pre-paid-expire">Expire Date <small>required</small></label>
            <div class="row collapse">
                <div class="columns small-4">
                    <span class="prefix"><i class="fi-calendar"></i></span>
                </div>
                <div class="columns small-8">
                    <input type="text" name="expireDate" id="pre-paid-expire" date-time ng-model="prePaid.expireDate" required min-view="date" format="dd/MM/yyyy" />
                    <kk-error field="prePaidModalForm.expireDate">This field is required</kk-error>
                </div>
            </div>
        </div>
        <div class="columns large-4">
           
           <label>&nbsp;</label>
            <ul class="button-group round even-2">
                <li><button type="button" class="button tiny" ng-class="{ secondary: !prePaid.enabled, success: prePaid.enabled } " ng-model="prePaid.enabled" btn-radio="true">Active</button></li>
                <li><button type="button" class="button tiny" ng-class="{ secondary: prePaid.enabled, alert: !prePaid.enabled } " ng-model="prePaid.enabled" btn-radio="false">Inactive</button></li>
            </ul>
                
        </div>
    </div>
    
    <div class="row">
        <div class="columns large-6">
            <label for="pre-paid-size">Number of searches <small>required</small></label>
            <input type="number" name="size" id="pre-paid-size" ng-model="prePaid.size" required min="1" />
            <kk-error field="prePaidModalForm.size">This field is required</kk-error>
        </div>
        <div class="columns large-6">
            <label for="pre-paid-price">Price per search <small>required</small></label>
            <div class="row collapse">
                <div class="columns small-8">
                    <input type="number" name="unitPrice" id="pre-paid-price" ng-model="prePaid.unitPrice" required min="0" />    
                    <kk-error field="prePaidModalForm.unitPrice">This field is required</kk-error>
                </div>
                <div class="columns small-4">
                    <span class="postfix">{{config.currency.code}}</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="columns large-12">
            <button class="button small" type="submit" ng-class="{ 'secondary' : saveDisabled(prePaidModalForm), 'success' : !saveDisabled(prePaidModalForm) }" ng-disabled="saveDisabled(prePaidModalForm)"><i class="fi-save"></i> Save</button>
            <button type="button" ng-click="cancel()" class="button small secondary">Cancel</button>
        </div>
    </div>
</form>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
