
<section id="user-edit">
    
    <div class="row">
        <div class="columns large-12">
            <div ng-if="!isNew">
                <hgroup>
                    <h1>Edit user</h1>
                    <h4 class="subheader">{{user.name}}</h4>
                </hgroup>
            </div>
            <div ng-if="isNew">
                <h1>New user</h1>
            </div>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="users">
                    <a>Users</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newUser">
                    <a>New</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editUser">
                    <a>Edit</a>
                </li>
            </ul>
            
        </div>
    </div>
    
    <form name="userForm" ng-submit="submit(userForm)" novalidate>
            
        <div class="row">
            <div class="columns large-6">
                <fieldset>
                    
                    <legend>Account</legend>
                    
                    <label for="user-email">Email <small>Required</small></label>
                    <input type="email" ng-model="user.email" id="user-email" name="email" required />
                    <kk-error field="userForm.email" type="required">This field is required</kk-error>
                    <kk-error field="userForm.email" type="email">Your email address is invalid</kk-error>
                    
                    <label for="user-name">Full name <small>Required</small></label>
                    <input type="text" ng-model="user.name" id="user-name" name="fullname" required />
                    <kk-error field="userForm.fullname">This field is required</kk-error>
                    
                    <label for="user-login">Login <small>Required</small></label>
                    <input type="text" ng-model="user.login" id="user-login" name="login" ng-pattern="/(^[a-zA-Z0-9_\-\.\u0040]{4,}$)/" required />
                    <kk-error field="userForm.login" type="required">This field is required</kk-error>
                    <kk-error field="userForm.login" type="pattern">Login must consit at least 4 characters: letters, digits, underscore, dot and hypen.</kk-error>
                    
                    <label for="user-password">Password <small>Required</small></label>
                    <div class="row collapse">
                        <div class="columns small-10">
                            <input ng-attr-type="{{passwordInputType}}" ng-model="user.password" id="user-password" name="password" required ng-minlength="7" />
                            <kk-error field="userForm.password" type="required">This field is required</kk-error>
                            <kk-error field="userForm.password" type="minlength">Password should contain at least 7 characters</kk-error>
                        </div>
                        <div class="columns small-2">
                            <button type="button" ng-click="togglePasswordInputType()" class="tiny secondary expand">
                                <span ng-if=" passwordInputType == 'password' ">Show</span>
                                <span ng-if=" passwordInputType == 'text' ">Hide</span>
                            </button>
                        </div>
                    </div>
                    
                </fieldset>
            </div>
            <div class="columns large-4 large-offset-2">
                <fieldset>
                    <legend>Access</legend>
                    
                    <ul class="button-group round">
                        <li><button type="button" class="button tiny" ng-class="{ secondary: !user.active, success: user.active } " ng-model="user.active" btn-radio="true">Active</button></li>
                        <li><button type="button" class="button tiny" ng-class="{ secondary: user.active, alert: !user.active } " ng-model="user.active" btn-radio="false">Inactive</button></li>
                    </ul>
                    
                    <label for="user-role">Role</label>
                    <select id="user-role" ng-model="user.roleId" ng-options=" role.id as role.name for role in roles"></select>
                    
                    <label>Environments</label>
                    <ul class="no-bullet" ng-if="config">
                        <li ng-repeat="env in config.envs"><input type="checkbox" checklist-model="user.envs" checklist-value="env.code" ng-attr-id="env-{{$index}}" /> <label ng-attr-for="env-{{$index}}">{{env.name}}</label></li>
                    </ul>
                    
                </fieldset>
            </div>
        </div>
        
        <div class="row">
            <div class="columns large-12">
                <button type="submit" ng-class=" { success: userForm.$valid, secondary: !userForm.$valid } "><i class="fi-check"></i> Save</button>
                <a kk-nav route="users" class="secondary button">Cancel</a>
                <button ng-show="!isNew" type="button" class="alert right" ng-click="promptDeleteUser()">Delete</button>
            </div>
        </div>
    </form>
    
</section>