<section id="booking-ffp" data-magellan-destination="booking-ffp">
			<div class="row">
				<div class="columns large-12">
					<h2>Frequent Flyer Program</h2>
				</div>
			</div>
			<div class="panel plain">
				<div class="row">
					<div class="columns large-6">
						<div class="row collapse">
							<div class="columns small-3">
								<span class="prefix">
									<label for="book-with">Book with card</label>
								</span>
							</div>
							<div class="columns small-9">
								<select class="change-program">
									<optgroup>
										<option value="34" data-miles="4344 miles">Delta Skymiles</option>
										<option value="22" data-miles="5435 miles">Miles &amp; More</option>
									</optgroup>
									<optgroup>
										<option value="38">Arabica Airline Astro</option>
										<option value="28">Aztec Airline Pro</option>
										<option value="98">Berlin Bangladesh Coop Airline</option>
									</optgroup>
								</select>
							</div>
						</div>
					</div>
					<div class="columns large-6">
						<div class="row collapse">
							<div class="small-3 columns">
								<span class="prefix">
									<label for="card-no">Card number</label>
								</span>
							</div>
							<div class="small-9 columns">
								<input type="text" id="card-no" value="543534" name="card_no" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns large-12">
						<hr />
					</div>
				</div>
				<div class="row">
					<div class="columns large-2 icon">
						<span class="foundicon-idea"></span>
					</div>
					<div class="columns large-10">
						<p>Program you selected is not yet available on 30K. We don't know how many miles you will get with this flight, but of course you can still book the ticket.</p>
					</div>
				</div>
			</div>
		</section>