<section id="test-collection">
    
    <div class="row">
        <div class="columns large-12">
            <h1>Fare attribute tests</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Testing framework</a>
                </li>
                <li class="current" kk-nav route="fareAttributeTests">
                    <a>Fare attribute tests</a>
                </li>
            </ul>
            
            <form class="filters" name="filterForm" novalidate ng-if="config" ng-submit="onFilterChange(filterForm)">
                        
                <div class="row">
                    <div class="columns large-2"> 
					    <button type="button" class="tiny expand" title="Marketing airlines" dropdown-toggle="#dropdown-marketing-airlines" ng-class="{ secondary: paged.marketingAirlines.length <= 0 }">
                            <span ng-if="paged.marketingAirlines.length <= 0">Mkt. airlines</span>
                            <span ng-if="paged.marketingAirlines.length > 0 &amp;&amp; paged.marketingAirlines.length <= 2 &amp;&amp; (paged.marketingAirlines.length == 2 || paged.marketingAirlines.indexOf('spe') < 0)">
                                <span ng-repeat="airline in paged.marketingAirlines">{{(config.filterOperationalTypes | find : airline : 'code').name }}<span ng-if="!$last">, </span></span>
                            </span>
                            <span ng-if="paged.marketingAirlines.length > 2">Mkt. airlines: {{paged.marketingAirlines.length}} types</span>
                            <span ng-if="paged.marketingAirlines.length == 1 &amp;&amp; paged.marketingAirlines.indexOf('spe') >= 0 &amp;&amp; paged.marketingSpecificAirlines.length > 0">
                                <span ng-repeat="airline in paged.marketingSpecificAirlines">{{ airline }}<span ng-if="!$last">, </span></span>
                            </span>
                        </button>
					</div>
					<div class="columns large-2">
					    <button type="button" class="tiny expand" title="Operating Airlines" dropdown-toggle="#dropdown-operating-airlines" ng-class="{ secondary: paged.operatingAirlines.length <= 0 }">
                            <span ng-if="paged.operatingAirlines.length <= 0">Op. airlines</span>
                            <span ng-if="paged.operatingAirlines.length > 0 &amp;&amp; paged.operatingAirlines.length <= 2 &amp;&amp; (paged.operatingAirlines.length == 2 || paged.operatingAirlines.indexOf('spe') < 0)">
                                <span ng-repeat="airline in paged.operatingAirlines">{{(config.filterOperationalTypes | find : airline : 'code').name }}<span ng-if="!$last">, </span></span>
                            </span>
                            <span ng-if="paged.operatingAirlines.length > 2">Op. airlines: {{paged.operatingAirlines.length}} types</span>
                            <span ng-if="paged.operatingAirlines.length == 1 &amp;&amp; paged.operatingAirlines.indexOf('spe') >= 0 &amp;&amp; paged.operatingSpecificAirlines.length > 0">
                                <span ng-repeat="airline in paged.operatingSpecificAirlines">{{ airline }}<span ng-if="!$last">, </span></span>
                            </span>
                        </button>
					</div>
					<div class="columns large-1 end">
					    <button type="submit" class="button tiny primary expand">Apply</button>
					</div>
                </div>
                 
            </form>
            
            <div ng-if="items">
                <div ng-if="items.length > 0">
                    
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" kk-nav route="newFareAttributeTest"><i class="fi-plus"></i> Add new</a></li>
                        </ul>
                        <ul class="button-group">
                            <li><a class="tiny button secondary" ng-click="cloneTests()" ng-disabled="selected.items.length <= 0"><i class="fi-page-copy"></i> Clone</a></li>
                        </ul>
                        <ul class="button-group">
                            <li><a class="tiny button secondary" ng-click="deleteTests()" ng-disabled="selected.items.length <= 0"><i class="fi-x"></i> Delete</a></li>
                        </ul>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th rowspan="2"><input ng-disabled="applyToAll" type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
                                <th rowspan="2">ID</th>
                                <th colspan="2">Carriers</th>
                                <th rowspan="2" class="text-left">Itinerary</th>
                                <th rowspan="2" class="text-left">Branded fare</th>
                                <th rowspan="2" class="text-left">Objective</th>
                                <th rowspan="2" colspan="3"></th>
                            </tr>
                            <tr>
                                <th class="text-left">Marketing</th>
                                <th class="text-left">Operating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td><input ng-disabled="applyToAll" type="checkbox" checklist-model="selected.items" checklist-value="item" /></td>
                                <td>{{ $index + 1 | number : 0 }}</td>
                                <td class="text-left nowrap">
                                    <span class="label secondary radius">{{ item.mkCarrier }}</span>
                                </td>
                                <td class="text-left nowrap">
                                    <span class="label secondary radius" ng-if="item.opCarrier">{{ item.opCarrier }}</span>
                                </td>
                                <td class="text-left nowrap">
                                    <span class="label secondary radius">{{ item.departure }}</span><span class="label secondary radius">{{ item.arrival }}</span>
                                </td>
                                <td class="text-left">
                                    <div ng-if="item.fares.length > 0" ng-repeat="fare in item.fares">
                                        <div ng-if="fare.brandedFareName">{{fare.brandedFareName}}</div>
                                        <div ng-if="!fare.brandedFareName &amp;&amp; fare.fareBasisCode">{{fare.fareBasisCode}}</div>
                                    </div>
                                </td>
                                <td class="text-left objective">
                                    <a title="Click to expand" ng-click="toggleObjective(this)" ng-class="{ full: fullObjective }">{{ item.objective }}</a>
                                </td>
                                <td class="action"><a title="Edit" kk-nav route="editFareAttributeTest" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                <td class="action"><a ng-click="cloneTest($index)" title="Clone test"><i class="fi-page-copy"></i></a></td>
                                <td class="action alert"><a title="Delete" ng-click="deleteTest(item)"><i class="fi-x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <form novalidate name="paginForm">
                        <div class="row">
                            <div class="columns large-8">
                                <pagination total-items="paged.totalItems" page="paged.page" items-per-page="paged.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)"></pagination>
                            </div>
                            <div class="columns large-3">
                                <div class="row">
                                    <div class="columns small-8">
                                        <label for="items-per-page" class="inline right">Items per page:</label>
                                    </div>
                                    <div class="columns small-4">
                                        <select required name="itemsPerPage" id="items-per-page" ng-model="paged.itemsPerPage" ng-change="onItemsPerPageChange()" ng-options=" ipp for ipp in config.pagination.allowed "></select>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no tests yet. Create <a kk-nav route="newFareAttributeTest">first one</a>.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="dropdown-marketing-airlines" class="f-dropdown codeshare-dropdown" ng-click="preventDefault($event)">
        <form name="mktFilterForm" ng-submit="onFilterChange()" novalidate>
            <div kk-multiselect list="config.filterOperationalTypes" property="code" label="name" selected="paged.marketingAirlines" cols="2" id="rules-mkt-airlines"></div>
        </form>
    </div>
    
    <div id="dropdown-operating-airlines" class="f-dropdown codeshare-dropdown" ng-click="preventDefault($event)">
        <form name="opFilterForm" ng-submit="onFilterChange()" novalidate>
            <div kk-multiselect list="config.filterOperationalTypes" property="code" label="name" selected="paged.operatingAirlines" cols="2" id="rules-op-airlines"></div>
        </form>
    </div>
    
</section>

