<!doctype html>
<!--[if lt IE 7]>      <html lang="en" ng-app="30k.tour" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="30k.tour" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="30k.tour" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="30k.tour" class="no-js">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>30K | Frequent flyer miles</title>
    <meta name="description" content="The future of flight search: 30K.com adds frequent flyer miles to your favorite flight search website. Check out the demo." />
    
    <script type="text/javascript">
      
      /* These global variables should be set on server-side */
      
      var GLOBALS = {
        user: 'John Sample',
        counter: 273835125
      };
      
    </script>
    
    <link rel="stylesheet" href="../css/tour/app.css" />
    <script src="../bower_components/modernizr/modernizr.js"></script>
    
    <script type="text/ng-template" id="partials/login.html">
    
      <div class="login-modal">
          <div class="row">
              <div class="columns small-8">
                  <h5 class="subheader"><strong>{{config.ffpName}}</strong> Login</h5>
              </div>
              <div class="columns small-4 text-right">
                  <img class="right" ng-src="{{config.ffpLogo}}" />
              </div>
          </div> 
          <form name="loginForm" novalidate>
              
              <div class="row">
                  <div class="columns small-12">
                      <label for="login-username">Username</label>
                      <input type="text" required ng-model="config.username" id="login-username" name="username" />
                      <kk-error field="loginForm.username">Required</kk-error>
                      
                      <label for="login-pass">Password</label>
                      <input type="password" required ng-model="config.password" id="login-pass" name="pass" />  
                      <kk-error field="loginForm.pass">Required</kk-error>
                  </div>
              </div>
              <div class="row">
                  <div class="columns small-5 small-centered">
                      <button id="modal-login" class="small expand noevent">Login</button>
                  </div>
              </div>
              
          </form>
        
      </div>
    
    </script>
    
    <script type="text/ng-template" id="partials/tooltip.html">
      
      <div class="award-tooltip">
        <div ng-if="data.awards.flight.success || data.awards.status.success">
            <h6 class="subheader">This flight gets <strong ng-if="data.awards.flight.success &amp;&amp; data.awards.status.success">you to both</strong><strong ng-if="(!data.awards.flight.success &amp;&amp; data.awards.status.success) || (data.awards.flight.success &amp;&amp; !data.awards.status.success)">you only to</strong>:</h6>
            <ul class="no-bullet">
                <li ng-if="data.awards.status.success"><span><i class="fi-crown"></i></span> {{data.awards.status.name}} &mdash; {{data.awards.status.threshold | number : 0}} status miles threshold,</li>
                <li ng-if="!data.awards.status.success"><span class="empty"></span> Not enough for {{data.awards.status.threshold | number : 0}} {{data.awards.status.name}} threshold,</li>
                <li ng-if="data.awards.flight.success"><span><i class="fi-trophy"></i></span> {{data.awards.flight.name}} &mdash; {{data.awards.flight.threshold | number : 0}} award miles threshold.</li>
                <li ng-if="!data.awards.flight.success"><span class="empty"></span> Not enough for {{data.awards.flight.threshold | number : 0}} award miles threshold for {{data.awards.flight.name}}.</li>
            </ul>
        </div>
        <div ng-if="!data.awards.flight.success &amp;&amp; !data.awards.status.success">
            <h6 class="subheader">This flight does not give you any awards</h6>
        </div>
      </div>
      
    </script>
    
    <script type="text/ng-template" id="partials/tour.html">
      
      <div class="tour-overlay animate" ng-show="overlay"></div>
        
        <div class="tour-step" ng-class="getClass(tip)" ng-style="tip.style" ng-repeat="tip in steps" ng-attr-id="tour-step-{{tip.id}}">
            
            <div ng-show="tip.attachTo">
                
                <div class="row collapse">
                    <div class="columns small-9">
                        <h5 ng-if="tip.title">{{tip.title}}</h5>
                    </div>
                    <div class="columns small-3">
                        <div class="progress">
                            <span class="meter" ng-style="{ width: ($index / steps.length) * 100 + '%' }"></span>
                            <span class="pct">{{getPct($index)}}</span>
                        </div>
                    </div>
                </div>
            
                <img ng-if="tip.img" ng-src="{{tip.img}}" />
                
                <p ng-if="tip.body">{{tip.body}}</p>
                
                <div ng-if="tip.templateUrl" ng-include="tip.templateUrl"></div>
                
                <button ng-click="prev()" class="tiny radius secondary" ng-if="!$first &amp;&amp; tip.prevButton !== false">
                    <span ng-if="tip.prevButton">{{tip.prevButton}}</span>
                    <span ng-if="!tip.prevButton">Previous</span>
                </button>
                
                <button ng-click="next()" class="tiny radius success" ng-if=" tip.action == 'button' &amp;&amp; tip.nextButton !== false ">
                    <span ng-if="tip.nextButton">{{tip.nextButton}}</span> 
                    <span ng-if="!tip.nextButton &amp;&amp; $last">Finish</span> 
                    <span ng-if="!tip.nextButton &amp;&amp; !$last">Next</span> 
                    &rsaquo;
                </button>
                
                <span class="tip" ng-class="{ 'tip-top' : tip.position == 'top', 'tip-bottom' : tip.position == 'bottom', 'tip-left' : tip.position == 'left', 'tip-right' : tip.position == 'right' }"></span>
            </div>
            <div ng-show="!tip.attachTo" class="row">
                <div class="columns large-10">
                    
                    <h3 ng-if="tip.title">{{tip.title}}</h3>
                    
                    <img ng-if="tip.img" ng-src="{{tip.img}}" />
                    
                    <p ng-if="tip.body">{{tip.body}}</p>
                    
                    <div ng-if="tip.templateUrl" ng-include="tip.templateUrl"></div>
                    
                    <button ng-click="prev()" class="small radius secondary" ng-if="!$first &amp;&amp; tip.prevButton !== false">
                        <span ng-if="tip.prevButton">{{tip.prevButton}}</span>
                        <span ng-if="!tip.prevButton">Previous</span>
                    </button>
                    
                    <button ng-click="next()" class="small radius success" ng-if=" tip.action == 'button' &amp;&amp; tip.nextButton !== false ">
                        <span ng-if="tip.nextButton">{{tip.nextButton}}</span> 
                        <span ng-if="!tip.nextButton &amp;&amp; $last">Finish</span> 
                        <span ng-if="!tip.nextButton &amp;&amp; !$last">Next</span> 
                        &rsaquo;
                    </button>
                    
                </div>
                <div class="columns large-1 text-right">
                    <div class="progress">
                        <span class="meter" ng-style="{ width: ($index / steps.length) * 100 + '%' }"></span>
                        <span class="pct">{{getPct($index)}}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <a class="tour-optional animate" ng-class="{ selected: opt.selected }" ng-show="opt.show &amp;&amp; opt.bubble" ng-repeat="opt in steps" ng-attr-id="tour-optional-{{$index}}" ng-style="opt.style" ng-click="next()">
            &nbsp;
        </a>
      
    </script>
    
    <script type="text/ng-template" id="partials/last-step.html">
      
      <div class="twitter-modal" ng-controller="LastStepController">
          
          <div class="row">
              <div class="columns large-10">
                  <p class="lead">You can help us taking these benefits to more and more people. Click below to send a tweet to your favorite website telling them about 30K. And share with your friends!</p>
              </div>
          </div>
          
          <div class="icon-bar five-up">
            <a class="item" ng-click="select(airline)" ng-repeat="airline in tip.airlines" ng-mouseover="onMouseOver(airline)" ng-mouseleave="onMouseLeave(airline)" ng-class="{ selected: selected &amp;&amp; airline.id == selected.id }">
              <div class="airline-logo" ng-style="{ backgroundPosition: getAirlineBgPos(airline) }"></div>
            </a>
          </div>
          
          <div ng-if="selected" class="tweet">
              <div class="row">
                  <div class="columns large-3 text-center">
                      <div id="twPlaceholder" style="display:inline"></div>
                  </div>
                  <div class="columns large-9">
                      <p><strong>@{{selected.id}}</strong> Add frequent flyer miles to your flight results. There’s <strong>{{tip.counter | number : 0}}</strong> frequent flyers like me around the world who can benefit. Check <strong>@30kdotcom</strong> and www.30k.com</p>
                  </div>
              </div>
          </div>
          
      </div>
      
    </script>

    <script type="text/javascript">    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    
  </head>
  <body class="tour" ng-controller="TourController">
    
    <div class="bg hide-for-small" ng-if="step >= 0">&nbsp;</div>
    
    <header ng-if="step >= 0">
      <div class="contain-to-grid">
        <top-bar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="" title="Restart tour"><img src="../img/logo-white.png" alt="30K" /></a></h1>
            </li>
            <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
          </ul>
          
          <top-bar-section>
            <ul class="left">
              <li class="has-form"><a class="button success radius" href="http://30k.com" title="Back to 30k.com website">Finish tour</a></li>
            </ul>
          </top-bar-section>
        </top-bar>
      </div>
      
    </header>
    
    <section class="main">
      
      <div class="row">
        <div class="columns large-3">
                  
          <div class="sidebar" kk-fixed-block ng-if="step >= 0">
            
            <div class="wrapper">
              
              <h6>Stops</h6>
              <div class="filter stops">
                <ul class="side-nav">
                  <li class="active"><a class="noevent"><span class="tick"><i class="fi-check"></i></span> Select all</a></li>
                  <li ng-repeat="stop in config.stops">
                    <a class="noevent"><span class="tick"></span>{{stop.name}} <span class="price">{{stop.price | price }}</span></a>
                  </li>
                </ul>
              </div>
              
              <div class="animate" ng-show="step > 2">
                <h6>Frequent Flyer Programs</h6>
                <div class="filter ffps">
                  <ul class="side-nav">
                    <li ng-class="{ active: step < 7 }"><a class="noevent"><span class="tick"><i class="fi-check" ng-show="step < 7"></i></span> Select all</a></li>
                    <li ng-class="{ active: step > 6 &amp;&amp; $index == 0 }" ng-repeat="ffp in config.ffps" ng-attr-id="ffp-{{$index}}">
                      <a class="noevent"><span class="tick"><i class="fi-check" ng-hide="step < 7"></i></span> {{ffp.name}}</a>
                      <div ng-show="step > 6 &amp;&amp; step < 15 &amp;&amp; $index == 0 " class="animate">
                        <div class="status">
                          
                          <button class="tiny secondary expand dropdown round" dropdown-toggle="#dropdown-status">{{ ffp.statuses[ffp.activeStatus].name }}</button>
                          
                          <div class="row">
                            <div class="columns small-6">
                              <button class="tiny success expand radius noevent" id="ffp-login">Login</button>
                            </div>
                            <div class="columns small-6">
                              <button class="tiny secondary expand radius noevent">Join</button>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      <div ng-show="step > 14 &amp;&amp; $index == 0" class="animate balance">
                        <h6>{{ffp.user.name}}</h6>
                        <div class="user-status">{{ffp.user.status}}</div>
                        <div class="miles">
                          <div class="values"><span class="value">{{ffp.user.miles.award | number : 0}}</span> <span class="legend">award miles</span></div>
                          <div class="remaining"><span class="value">{{ffp.user.miles.remainingAward | number : 0}}</span> left till <a>award</a></div>
                          <div class="values"><span class="value">{{ffp.user.miles.status | number: 0}}</span> <span class="legend">status miles</span></div>
                          <div class="remaining"><span class="value">{{ffp.user.miles.remainingStatus | number : 0}}</span> left till <a>{{ffp.user.nextStatus}}</a></div>
                        </div>
                        <a class="noevent" id="save-to-account"><i class="fi-save"></i> Save to my account</a>
                      </div>
                    </li>
                    <li><a class="noevent"><span class="tick"><i class="fi-plus"></i></span>Add more</a></li>
                  </ul>
                </div>
              </div>
              
              <h6>Take off</h6>
              <div class="filter takeoff"> 
                <div class="takeoff-block">
                  <div class="takeoff-head">
                    <span class="name">{{config.search.from.code}}</span> <span>{{config.takeoff.departure.from}} &ndash; {{config.takeoff.departure.to}}</span>
                  </div>
                  <div class="range-slider round" data-slider>
                    <span class="range-slider-handle from noevent" role="slider" tabindex="0"></span>
                    <span class="range-slider-handle to noevent" role="slider" tabindex="0"></span>
                    <span class="range-slider-active-segment"></span>
                  </div>
                </div>
                <div class="takeoff-block">
                  <div class="takeoff-head">
                    <span class="name">{{config.search.to.code}}</span> <span>{{config.takeoff.arrival.from}} &ndash; {{config.takeoff.arrival.to}}</span>
                  </div>
                  <div class="range-slider round" data-slider>
                    <span class="range-slider-handle from noevent" role="slider" tabindex="0"></span>
                    <span class="range-slider-handle to noevent" role="slider" tabindex="0"></span>
                    <span class="range-slider-active-segment"></span>
                  </div>
                </div>
              </div>
              
              <h6>Price</h6>
              <div class="filter price">
                <div class="price-head">
                  <span>{{config.price.from | price}} &ndash; {{config.price.to | price}}</span>
                </div>
                <div class="range-slider round" data-slider>
                  <span class="range-slider-handle noevent" role="slider" tabindex="0"></span>
                  <span class="range-slider-active-segment"></span>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
        <div class="columns large-9">
          
          <div class="main-col" ng-if="step >= 0">
          
            <div class="search-summary">
              <p><span>{{config.search.from.city}} ({{config.search.from.code}}) &ndash; {{config.search.to.city}} ({{config.search.to.code}})</span> <span>{{config.search.from.date | dt : 'MMMM d'}} &ndash; {{config.search.to.date | dt : 'd'}}</span></p>
            </div>
            
            <div class="results">
              
              <!-- Best -->
              
              <article class="animate result-best" ng-show="step > 10" ng-class="{ 'with-miles': best.miles.exactAward > 0 }">
                
                <div class="wrapper">
                  
                  <div class="row">
                    <div class="columns small-5 small-offset-7 text-right">
                      <img class="logo" ng-src="../img/tour/{{best.airline.logo}}" ng-attr-alt="{{best.airline.name}}" />
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="columns large-2 text-center">
                      
                      <h3 class="price">{{best.price | price}}</h3>
                      <button class="button tiny success expand noevent">Select</button>
                      <div class="best-label"><i class="fi-trophy"></i> Best deal</div>
                      
                    </div>
                    <div class="columns large-10">
                      
                      <table class="flights">
                        <tbody>
                          <tr class="flight" ng-repeat="flight in best.flights">
                            <td class="dep dep-date">
                              <span class="date">{{ flight.departure.date | dt : 'EEE, MMM d'}}</span><span class="time">{{flight.departure.date | dt : 'h:mm a'}}</span>
                            </td>
                            <td class="dep dep-airport text-right">
                              <span class="airport">{{flight.departure.airport.city}} {{flight.departure.airport.code}}</span>
                            </td>
                            <td class="stops text-center">
                              <div class="stops-wrapper">
                                <div class="head" ng-if="flight.stops.num > 0">{{flight.stops.num}} <span ng-if="flight.stops.num == 1">stop</span><span ng-if="flight.stops.num > 1">stops</span></div>
                                <div class="duration" ng-if="flight.stops.num > 0">{{flight.stops.duration | duration}}</div>
                              </div>
                            </td>
                            <td class="arr arr-airport">
                              <span class="airport">{{flight.arrival.airport.city}} {{flight.arrival.airport.code}}</span>
                            </td>
                            <td class="arr arr-date text-right">
                              <span class="time">{{flight.arrival.date | dt : 'h:mm a'}}</span><span class="date">{{ flight.arrival.date | dt : 'MMM d'}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                      <div class="mileage animate" ng-show="step > 2" id="mileage-best">
                        <span class="label earn">Earn</span>
                        <div class="row collapse">
                          <div class="columns small-3">
                            <div class="mileage-block award">
                              
                              <span ng-show="step > 2">
                                <span ng-show="step < 10"><span class="value">{{best.miles.award | number: 0}}</span> <span class="legend">award miles</span></span>
                                <span ng-show="step > 9 &amp;&amp; best.miles.exactAward"><span class="value">{{best.miles.exactAward | number: 0}}</span> <span class="legend">award miles</span></span>
                              </span>&nbsp;
                              
                              <div class="progress paward success" ng-show="step > 14 &amp;&amp; best.miles.exactAward" kk-tooltip="partials/tooltip.html" tooltip-data="best" tooltip-toggle="true">
                                <span class="meter current" ng-style="getCurrentAwardMeter()"></span>
                                <span class="meter" ng-style="getAwardMeter(best.miles.exactAward)"></span>
                              </div>
                              
                            </div>
                          </div>
                          <div class="columns small-3">
                            <div class="mileage-block status">
                              
                              <span ng-show="step > 9 &amp;&amp; best.miles.exactStatus">
                                <span class="value">{{best.miles.exactStatus | number: 0}}</span> <span class="legend">status miles</span>
                              </span>&nbsp;
                              
                              <div class="progress pstatus secondary" ng-show="step > 14 &amp;&amp; best.miles.exactStatus">
                                <span class="meter current" ng-style="getCurrentStatusMeter()"></span>
                                <span class="meter" ng-style="getStatusMeter(best.miles.exactStatus)"></span>
                              </div>
                              
                            </div>
                          </div>
                          <div class="columns small-4">
                            <div class="mileage-block ffp">
                              {{best.ffp}}
                              <a class="login noevent"><i class="fi-torso"></i> Login</a>
                            </div>
                          </div>
                          <div class="columns small-2">
                            <div class="mileage-block signup" id="join-best">
                              <a class="noevent">Join</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  
                </div>
                
              </article>
              
              <!-- End of Best -->
              
              <article ng-repeat="result in config.results" ng-attr-id="result-{{$index}}" ng-class="{ 'with-miles': result.miles.exactAward > 0 }">
                
                <div class="wrapper">
                  <div class="row">
                    <div class="columns small-5 small-offset-7 text-right">
                      <img class="logo" ng-src="../img/tour/{{result.airline.logo}}" ng-attr-alt="{{result.airline.name}}" />
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="columns small-2 text-center">
                      
                      <h3 class="price">{{result.price | price}}</h3>
                      <button class="button tiny success expand noevent">Select</button>
                      
                      <div class="smart-deal-link" ng-attr-id="smart-deal-link-{{$index}}" ng-show="step > 10 &amp;&amp; result.smartDeal">
                        <a ng-show="step < 18" class="noevent"><i class="fi-trophy"></i> Smart deal</a>
                        <a ng-show="step > 17" class="noevent"><i class="fi-x"></i> Close</a>
                      </div>
                      
                    </div>
                    <div class="columns small-10">
                      
                      <table class="flights">
                        <tbody>
                          <tr class="flight" ng-repeat="flight in result.flights">
                            <td class="dep dep-date">
                              <span class="date">{{ flight.departure.date | dt : 'EEE, MMM d'}}</span><span class="time">{{flight.departure.date | dt : 'h:mm a'}}</span>
                            </td>
                            <td class="dep dep-airport text-right">
                              <span class="airport">{{flight.departure.airport.city}} {{flight.departure.airport.code}}</span>
                            </td>
                            <td class="stops text-center">
                              <div class="stops-wrapper">
                                <div class="head" ng-if="flight.stops.num > 0">{{flight.stops.num}} <span ng-if="flight.stops.num == 1">stop</span><span ng-if="flight.stops.num > 1">stops</span></div>
                                <div class="duration" ng-if="flight.stops.num > 0">{{flight.stops.duration | duration}}</div>
                              </div>
                            </td>
                            <td class="arr arr-airport">
                              <span class="airport">{{flight.arrival.airport.city}} {{flight.arrival.airport.code}}</span>
                            </td>
                            <td class="arr arr-date text-right">
                              <span class="time">{{flight.arrival.date | dt : 'h:mm a'}}</span><span class="date">{{ flight.arrival.date | dt : 'MMM d'}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                      <div class="mileage animate" ng-show="step > 2" ng-attr-id="mileage-{{$index}}">
                        <span class="label earn">Earn</span>
                        <div class="row collapse">
                          <div class="columns small-3">
                            <div class="mileage-block award">
                              
                              <span ng-show="step > 2">
                                <span ng-show="step < 10"><span class="value">{{result.miles.award | number: 0}}</span> <span class="legend">award miles</span></span>
                                <span ng-show="step > 9 &amp;&amp; result.miles.exactAward"><span class="value">{{result.miles.exactAward | number: 0}}</span> <span class="legend">award miles</span></span>
                              </span>&nbsp;
                              
                              <div class="progress paward success" ng-show="step > 14 &amp;&amp; result.miles.exactAward">
                                <span class="meter current" ng-style="getCurrentAwardMeter()"></span>
                                <span class="meter" ng-style="getAwardMeter(result.miles.exactAward)"></span>
                              </div>
                              
                            </div>
                          </div>
                          <div class="columns small-3">
                            <div class="mileage-block status">
                              
                              <span ng-show="step > 9 &amp;&amp; result.miles.exactStatus">
                                <span class="value">{{result.miles.exactStatus | number: 0}}</span> <span class="legend">status miles</span>
                              </span>&nbsp;
                              
                              <div class="progress pstatus secondary" ng-show="step > 14 &amp;&amp; result.miles.exactStatus">
                                <span class="meter current" ng-style="getCurrentStatusMeter()"></span>
                                <span class="meter" ng-style="getStatusMeter(result.miles.exactStatus)"></span>
                              </div>
                              
                            </div>
                          </div>
                          <div class="columns small-4">
                            <div class="mileage-block ffp">
                              {{result.ffp}}
                              <a class="login noevent"><i class="fi-torso"></i> Login</a>
                            </div>
                          </div>
                          <div class="columns small-2">
                            <div class="mileage-block signup" ng-attr-id="join-{{$index}}">
                              <a class="noevent">Join</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  
                  <div class="row animate smart-deal" ng-show="step > 18 &amp;&amp; result.smartDeal">
                    <div class="columns small-2 text-center">
                      <h3 class="price">{{result.smartDeal.price | price}}</h3>
                      <a class="button success expand tiny noevent">Select</a>
                    </div>
                    <div class="columns small-10">
                      
                      <div class="mileage">
                        <div class="row collapse">
                          <div class="columns small-3">
                            <div class="mileage-block award">
                              
                              <span ng-show="result.miles.exactAward"><span class="value">{{result.miles.exactAward | number: 0}}</span> <span class="legend">award miles</span></span>
                              
                              <div class="progress paward success" ng-show="result.miles.exactAward">
                                <span class="meter current" ng-style="getCurrentAwardMeter()"></span>
                                <span class="meter" ng-style="getAwardMeter(result.miles.exactAward)"></span>
                              </div>
                              
                            </div>
                          </div>
                          <div class="columns small-3">
                            <div class="mileage-block status">
                              
                              <span class="value">{{result.smartDeal.miles.exactStatus | number: 0}}</span> <span class="legend">status miles</span>
                              
                              <div class="progress pstatus secondary" ng-show="step > 14 &amp;&amp; result.smartDeal.miles.exactStatus">
                                <span class="meter current" ng-style="getCurrentStatusMeter()"></span>
                                <span class="meter" ng-style="getStatusMeter(result.smartDeal.miles.exactStatus)"></span>
                              </div>
                              
                            </div>
                          </div>
                          <div class="columns small-6">
                            <div class="mileage-block ffp"><i class="fi-trophy"></i> Smart deal <span class="smart-deal-fare">{{result.smartDeal.fare}}</span></div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  
                </div>
                
              </article>
              
            </div>
          </div>
          
        </div>
      </div>
      
    </section>
    
    <section class="loader" ng-if="step < 0">
      <div class="row">
        <div class="columns large-7 large-centered">
          <hgroup>
            <h2 class="subheader">{{config.search.from.city}} <strong>{{config.search.from.code}}</strong> to {{config.search.to.city}} <strong>{{config.search.to.code}}</strong></h2>
            <h5>{{config.search.from.date | dt : 'MMMM d'}} &ndash; {{config.search.to.date | dt : 'd'}}</h5>
          </hgroup>
          <div class="screen-wrapper">
            <img src="../img/tour/searchform.jpg" alt="30K Search Form" />
          </div>
          <progressbar value="loadingProgress" type="secondary"><span class="pct">{{loadingProgress | number : 0}}%</span></progressbar>
          
          <p class="lead">Here’s what an ordinary flight search website might look like <br />when powered by 30K</p>
          <button class="small success radius animate" ng-show="startButtonVisible" ng-click="start()">Next &rsaquo;</button>
          
        </div>
      </div>
    </section>
    
    <div kk-tour on-change="onStepChange(step)" step="step" steps="steps"></div>
    
     <ul id="dropdown-status" class="f-dropdown">
      <li ng-repeat="status in config.ffps[0].statuses">
        <a ng-click="selectStatus($index)">{{status.name}}</a>
      </li>
    </ul>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../lib/mm-foundation-tpls-0.5.1.min.js"></script>
    
    <script src="../js/ng-app-tour.js"></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55801df3295a15c2" async="async"></script>

    
  </body>
</html>
