													<select name="status">
														<option value="45">Regular member</option>
														<option value="34">New one</option>
														<option value="2">Loaded</option>
													</select>