<fieldset ng-form="qtyForm">
    
    <legend>{{ benefit.name }}</legend>
    
    <div class="row">
        <div class="columns small-3">
            
            <label for="item-quantity">Number of vouchers <small>Required</small></label>
            
            <input type="number" name="itemQuantity" id="item-quantity" ng-model="item.quantity" required min="1" />
            <kk-error field="qtyForm.itemQuantity">Requires at least one</kk-error>
            
        </div>
        
    </div>
    
</fieldset>