<tr>
    <th rowspan="2"><input type="checkbox" ng-model="selected.allNone" ng-change="toggleSelectAll(selected.allNone)" ng-true-value="all" ng-false-value="none" /></th>
    <th rowspan="2"></th>
    <th rowspan="2" class="text-left">Id</th>
    <th rowspan="2" class="text-left">Name</th>
    <th rowspan="2">Active</th>
    <th rowspan="2" class="text-left">Fare family</th>
    <th rowspan="2" class="text-left">Benefit</th>
    <th rowspan="2" class="text-left">Status</th>
    <th colspan="2">Member</th>
    <th colspan="3">Guests</th>
    <th rowspan="2"><abbr title="Disclaimer">Discl.</abbr></th>
    <th rowspan="2"><abbr title="Codeshare Rule Modification">CRM</abbr></th>
    <th rowspan="2"><abbr title="Geographical rules">Geo.</abbr></th>
    <th colspan="3" rowspan="2"></th>
</tr>
<tr>
    <th class="text-right">Fee</th>
    <th class="text-right"><abbr title="Discount">Disc.</abbr></th>
    <th class="text-right"><abbr title="Maximum number of guests">Max.</abbr></th>
    <th class="text-right">Fee</th>
    <th class="text-right"><abbr title="Discount">Disc.</abbr></th>
</tr>