<div class="row">
  <div class="columns large-12">
    
    <h1>CRM 
        <small ng-show="create">Add New Customer</small>
        <small ng-show="!create">Edit Customer <span>{{customer.name}}</span></small>
    </h1>
    
    <form name="cust" data-abide novalidate ng-submit="save(cust)">
    
        <button class="button small" type="submit" ng-class="{ 'success' : !saveDisabled(cust) }"><i class="fi-save"></i> Save</button>
        <a class="button small" kk-nav route="customers">Cancel</a>
        <hr />
        <tabset>
            
            <tab>
                <tab-heading><i class="fi-torso"></i> Profile</tab-heading>
                
                <fieldset>
                    <legend>Basic Settings</legend>
                    
                    <div class="row">
                        <div class="columns large-6">
                            <div class="name" ng-class="{ 'error': isInvalid(cust.name) }">
                                <label for="customer-name" ng-class="{ 'error': isInvalid(cust.name) }">Name <small>required</small></label>
                                <input type="text" required name="name" id="customer-name" ng-model="customer.name" tabindex="10"/>
                                <small class="error">This field is required</small>
                            </div>
                            <span class="label radius check" ng-class="{ 'secondary': !customer.enabled }">
                                <input type="checkbox" ng-model="customer.enabled" id="customer-enabled" tabindex="30" />
                                <label for="customer-enabled">Enabled</label>
                            </span>
                        </div>
                        <div class="columns large-6">
                            <div class="url" ng-class="{ 'error': isInvalid(cust.url) }">
                                <label for="customer-url" ng-class="{ 'error': isInvalid(cust.url) }">Website <small>required</small></label>
                                <div class="row collapse">
                                    <div class="columns small-3">
                                        <span class="prefix">http://</span>
                                    </div>
                                    <div class="columns small-9">
                                        <input type="text" required name="url" id="customer-url" ng-model="customer.url" placeholder="website.com" tabindex="20" />  
                                    </div>
                                </div>
                                <small class="error">This field is required</small>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <legend>Contact</legend>
                    
                    <div class="row">
                        <div class="columns large-6">
                            <div class="contact" ng-class="{ 'error': isInvalid(cust.contact) }">
                                <label for="customer-contact" ng-class="{ 'error': isInvalid(cust.contact) }">Contact Person <small>required</small></label>
                                <input type="text" required name="contact" id="customer-contact" ng-model="customer.contact" tabindex="40"/>
                                <small class="error">This field is required</small>
                            </div>
                            
                            <div class="phone" ng-class="{ 'error': isInvalid(cust.phone) }">
                                <label for="customer-phone" ng-class="{ 'error': isInvalid(cust.phone) }">Phone <small>required</small></label>
                                <input type="text" required name="phone" ng-pattern="/^[\d+\(\)\-\+ ]{6,}$/" id="customer-phone" ng-model="customer.phone" placeholder="+11 (61) 002-322" tabindex="46"/>
                                <small class="error">This field is required. Digits, dash, plus sign and brackets only allowed.</small>
                            </div>
                            
                            <div class="email" ng-class="{ 'error': isInvalid(cust.email) }">
                                <label for="customer-email" ng-class="{ 'error': isInvalid(cust.email) }">Email <small>required</small></label>
                                <input type="email" required name="email" id="customer-email" ng-model="customer.email" placeholder="customer@domain.com" tabindex="50"/>
                                <small class="error">This field is required.</small>
                            </div>
                        </div>
                        <div class="columns large-6">
                            
                            <div class="row">
                                <div class="columns large-6">
                                    <div class="country" ng-class="{ 'error': isInvalid(cust.country) }">
                                        <label for="customer-country" ng-class="{ 'error': isInvalid(cust.country) }">Country <small>required</small></label>
                                        <select name="country" required id="customer-country" ng-model="customer.country" ng-options="country.id as country.name for country in config.countries" tabindex="42">
                                            <option value="">Select</option>
                                        </select>
                                        <small class="error">This field is required.</small>
                                    </div>
                                </div>
                                <div class="columns large-6">
                                    <div class="city" ng-class="{ 'error': isInvalid(cust.city) }">
                                        <label for="customer-city" ng-class="{ 'error': isInvalid(cust.city) }">City <small>required</small></label>
                                        <input type="text" required name="city" id="customer-city" ng-model="customer.city" tabindex="44"/>
                                        <small class="error">This field is required.</small>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="street" ng-class="{ 'error': isInvalid(cust.street) }">
                                <label for="customer-street" ng-class="{ 'error': isInvalid(cust.street) }">Street <small>required</small></label>
                                <input type="text" required name="street" id="customer-street" ng-model="customer.street" tabindex="48"/>
                                <small class="error">This field is required</small>
                            </div>
                            
                            <div class="row">
                                <div class="columns large-6">
                                    <div class="region" ng-class="{ 'error': isInvalid(cust.region) }">
                                        <label for="customer-region" ng-class="{ 'error': isInvalid(cust.region) }">State/Region <small>required</small></label>
                                        <input type="text" required name="region" id="customer-region" ng-model="customer.region" tabindex="52"/>
                                        <small class="error">This field is required.</small>
                                    </div>
                                </div>
                                <div class="columns large-6">
                                    <div class="postal" ng-class="{ 'error': isInvalid(cust.postal) }">
                                        <label for="customer-postal" ng-class="{ 'error': isInvalid(cust.postal) }">Postal Code <small>required</small></label>
                                        <input type="text" required name="postal" id="customer-postal" ng-model="customer.postal" placeholder="77789" tabindex="54"/>
                                        <small class="error">This field is required.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>API Creditentials</legend>
                    
                    <div class="row"> 
                        <div class="columns large-6">
                            <div class="api-username" ng-class="{ 'error': isInvalid(cust.apiUsername) }">
                                <label for="customer-api-username" ng-class="{ 'error': isInvalid(cust.apiUsername) }">Username <small>required</small></label>
                                <input type="text" required name="apiUsername" id="customer-api-username" ng-pattern="/^[a-zA-Z0-9_\-\.]{3,}$/" ng-model="customer.apiUsername" tabindex="70" placeholder="uSern_m1e" />
                                <small class="error">Minimum 4 characters is required. Only alphanumeric characters, dashes and underlines allowed.</small>
                            </div>
                        </div>
                        <div class="columns large-6" ng-class="{ 'error': isInvalid(cust.apiPassword) }">
                            <label for="customer-api-password" ng-class="{ 'error': isInvalid(cust.apiPassword) }">Password <small>required</small></label>
                            <div class="row collapse">
                                <div class="columns small-8">
                                    <div class="api-password">
                                        <input ng-attr-type="{{apiPassInputType}}" required name="apiPassword" id="customer-api-password" min-length="7" ng-model="customer.apiPassword" tabindex="80" />
                                        <small class="error">Minimum 7 characters is required.</small>
                                    </div>
                                </div>
                                <div class="columns small-2">
                                    <a class="button tiny expand" ng-click="showApiPassword()">
                                        <span ng-show="apiPassInputType == 'password' ">Show</span>
                                        <span ng-hide="apiPassInputType == 'password' ">Hide</span>
                                    </a>
                                </div>
                                <div class="columns small-2">
                                    <a class="button tiny expand secondary" ng-click="generateApiPass()">Generate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Customer Area Creditentials</legend>
                    
                    <div class="row">
                        <div class="columns large-6">
                            <div class="cac-username" ng-class="{ 'error': isInvalid(cust.cacUsername) }">
                                <label for="customer-cac-username" ng-class="{ 'error': isInvalid(cust.cacUsername) }">Username <small>required</small></label>
                                <input type="text" required name="cacUsername" id="customer-cac-username" ng-pattern="/^[a-zA-Z0-9_\-\.]{3,}$/" ng-model="customer.cacUsername" tabindex="90" placeholder="uSern_m1e" />
                                <small class="error">Minimum 4 characters is required. Only alphanumeric characters, dashes and underlines allowed.</small>
                            </div>
                        </div>
                        <div class="columns large-6" ng-class="{ 'error': isInvalid(cust.cacPassword) }">
                            <label for="customer-cac-password" ng-class="{ 'error': isInvalid(cust.cacPassword) }">Password <small>required</small></label>
                            <div class="row collapse">
                                <div class="columns small-8">
                                    <div class="cac-password">
                                        <input ng-attr-type="{{cacPassInputType}}" required name="cacPassword" id="customer-cac-password" min-length="7" ng-model="customer.cacPassword" tabindex="100" />
                                        <small class="error">Minimum 7 characters is required.</small>
                                    </div>
                                </div>
                                <div class="columns small-2">
                                    <a class="button tiny expand" ng-click="showCacPassword()">
                                        <span ng-show="cacPassInputType == 'password' ">Show</span>
                                        <span ng-hide="cacPassInputType == 'password' ">Hide</span>
                                    </a>
                                </div>
                                <div class="columns small-2">

                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Comment</legend>
                    <div class="row">
                        <div class="columns large-12">
                            <div class="comment">
                                <textarea name="comment" id="customer-comment" ng-model="customer.comment" tabindex="110"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                
            </tab>
            
            <tab>
                <tab-heading><i class="fi-dollar"></i> Prices</tab-heading>
                
                <fieldset>
                    <legend>Pricelist</legend>
                    
                    <div class="row collapse" ng-class="{ 'error': isInvalid(cust.monthlyMinimum) }">
                        <div class="columns large-3 text-right">
                            <input type="checkbox" name="monthlyMinimumEnabled" id="monthly-minimum-enabled" ng-model="customer.monthlyMinimumEnabled" tabindex="300" />
                            <label class="inline" for="monthly-minimum-enabled" ng-class="{ 'error': isInvalid(cust.monthlyMinimum) }">Monthly Minimum <small>required</small></label>
                        </div>
                        <div class="columns small-2">
                            <input type="number" min="0" ng-disabled="!customer.monthlyMinimumEnabled" ng-required="customer.monthlyMinimumEnabled" name="monthlyMinimum" id="monthly-minimum" ng-model="customer.monthlyMinimum" tabindex="310" />
                            <small class="error">Required. Not less than 0.</small>
                        </div>
                        <div class="columns small-1 end">
                            <span class="postfix">
                                {{config.currency.code}}
                            </span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="columns large-3">
                            <label>From <small>required</small></label>
                        </div>
                        <div class="columns large-3">
                            <label>To <small>required</small></label>
                        </div>
                        <div class="columns large-3 end">
                            <label>Price <small>required</small></label>
                        </div>
                    </div>
                    
                    <div class="row" ng-repeat=" tier in customer.priceTiers " ng-form name="priceTierForm">
                        <div class="columns large-3" ng-class="{ 'error': isInvalid(priceTierForm.from) }">
                            <input type="number" min="0" required name="from" ng-model="tier.from" ng-attr-tabindex="{{ 310 + ($index * 10} }" />
                            <small class="error">Required. Not less than 0.</small>
                        </div>
                        <div class="columns large-3" ng-class="{ 'error': isInvalid(priceTierForm.to) }">
                            <input type="number" ng-attr-min="{{tier.from}}" required name="to" ng-model="tier.to" ng-attr-tabindex="{{ 310 + ($index * 10} + 1 }" />
                            <small class="error">Required. Not less than {{tier.from + 1}}.</small>
                        </div>
                        <div class="columns large-3" ng-class="{ 'error': isInvalid(priceTierForm.price) }">
                            <div class="row collapse">
                                <div class="columns small-9">
                                    <input type="number" required name="price" min="0" ng-model="tier.price" ng-attr-tabindex="{{ 310 + ($index * 10} + 2 }" />
                                    <small class="error">Required. Not less than 0.</small>
                                </div>
                                <div class="columns small-3">
                                    <span class="postfix">{{config.currency.code}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="columns large-3">
                            <a ng-hide="$index + 1 < customer.priceTiers.length" class="button tiny expand" ng-click="addPriceTier()"><i class="fi-plus"></i> Add</a>
                            <a ng-show="$index + 1 < customer.priceTiers.length" class="button tiny expand secondary" ng-click="removePriceTier($index)"><i class="fi-minus"></i> Remove</a>
                        </div>
                    </div>
                </fieldset>
                
                <fieldset>
                    <legend>Pre-Paid Blocks</legend>
                    
                    <top-bar class="toolbar">
                        <top-bar-section>
                            <ul class="left">
                                <li class="has-form"><a class="button tiny" ng-click="addPrePaid()" title="Add Pre-Paid Block"><i class="fi-plus"></i> Add</a></li>
                                <li class="has-form"><button type="button" class="button tiny" ng-disabled="selectedPrePaid.length != 1" ng-click="editPrePaid()" title="Edit Pre-Paid Block">Edit</button></li>
                                <li class="has-form"><button type="button" class="button tiny" ng-disabled="selectedPrePaid.length < 1" ng-click="enablePrePaid()" title="Enable Pre-Paid Block">Enable</button></li>
                                <li class="has-form"><button type="button" class="button tiny" ng-disabled="selectedPrePaid.length < 1" ng-click="disablePrePaid()" title="Disable Pre-Paid Block">Disable</button></li>
                            </ul>
                            <ul class="right">
                                <li class="has-form"><button class="button tiny alert" ng-disabled="selectedPrePaid.length < 1" ng-click="removePrePaid()" title="Remove Pre-Paid Block"><i class="fi-x"></i> Delete</button></li>
                            </ul>
                        </top-bar-section>
                    </top-bar>
                    
                    <table class="pre-paid">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Created</th>
                                <th>Expire</th>
                                <th>Size</th>
                                <th>Used</th>
                                <th>Remaining</th>
                                <th>%</th>
                                <th>Unit Price</th>
                                <th><abbr title="Revenue till now">Revenue</abbr></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" prePaid in customer.prePaidBlocks " ng-form name="prePaidForm">
                                <td><input type="checkbox" ng-change="togglePrePaid(prePaid)" ng-model="prePaidForm.selected" /></td>
                                <td>{{prePaid.createdDate | date : 'mediumDate'}}</td>
                                <td>{{prePaid.expireDate | date : 'mediumDate'}}</td>
                                <td>{{prePaid.size | number:0 }}</td>
                                <td>{{prePaid.used | number:0 }}</td>
                                <td>{{ (prePaid.size - prePaid.used) | number:0 }}</td>
                                <td class="progress-bar"><progressbar value="prePaid.used" max="prePaid.size"></progressbar></td>
                                <td>{{prePaid.unitPrice | currency : config.currency.symbol }}</td>
                                <th>{{ (prePaid.unitPrice * prePaid.used) | currency : config.currency.symbol }}</th>
                                <td>
                                    <span class="label radius success" ng-show="prePaid.enabled">Enabled</span>
                                    <span class="label radius alert" ng-hide="prePaid.enabled">Disabled</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-show="customer.prePaidBlocks.length < 1">
                            <tr>
                                <td colspan="10">There are no pre-paid blocks yet. Add <a ng-click="addPrePaid()">first one</a>.</td>
                            </tr>
                        </tfoot>
                    </table>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Request Count Definitions</legend>
                    
                    <div class="row">
                        <div class="columns large-3 large-offset-3">
                            <label>Number of Requests</label>
                        </div>
                        <div class="columns large-3 large-offset-3">
                            <label>Number of Requests</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="columns large-3">
                            <label for="count-marketing" class="inline right" ng-class="{ 'error': isInvalid(cust.rcMarketing) }">Marketing CXR Strategy <small>required</small></label>
                        </div>
                        <div class="columns large-3" ng-class="{ 'error': isInvalid(cust.rcMarketing) }">
                            <input type="number" required min="0" ng-model="customer.requestCount.marketing" name="rcMarketing" id="count-marketing" />
                            <small class="error">This field is required.</small>
                        </div>
                        
                        <div class="columns large-3">
                            <label for="count-programs" class="inline right" ng-class="{ 'error': isInvalid(cust.rcPrograms) }">All Programs <small>required</small></label>
                        </div>
                        <div class="columns large-3" ng-class="{ 'error': isInvalid(cust.rcPrograms) }">
                            <input type="number" required min="0" ng-model="customer.requestCount.allPrograms" name="rcPrograms" id="count-programs" />
                            <small class="error">This field is required.</small>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="columns large-3">
                            <label for="count-fare" class="inline right" ng-class="{ 'error': isInvalid(cust.rcFare) }">Single Fare <small>eg. Booking Page / required</small></label>
                        </div>
                        <div class="columns large-3" ng-class="{ 'error': isInvalid(cust.rcFare) }">
                            <input type="number" required min="0" ng-model="customer.requestCount.singleFare" name="rcFare" id="count-fare" />
                            <small class="error">This field is required.</small>
                        </div>
                        
                        <div class="columns large-3">
                            <label for="count-status" class="inline right" ng-class="{ 'error': isInvalid(cust.rcStatus) }">Specific Program &amp; Status <small>required</small></label>
                        </div>
                        <div class="columns large-3" ng-class="{ 'error': isInvalid(cust.rcStatus) }">
                            <input type="number" required min="0" ng-model="customer.requestCount.programAndStatus" name="rcStatus" id="count-status" />
                            <small class="error">This field is required.</small>
                        </div>
                    </div>
                    
                </fieldset>
            </tab>
            
            <tab select="onStatisticsTabSelect()" ng-hide="create">
                <tab-heading><i class="fi-graph-bar"></i> Statistics</tab-heading>
                
                <top-bar>
                    <top-bar-section>
                        <ul class="left">
                            <li ng-class="{ 'active' : isMonthSelected() }"><a ng-click="setMonthPeriod()" title="Show statistics for last month">Last Month</a></li>
                            <li ng-class="{ 'active' : isYearSelected() }"><a ng-click="setYearPeriod()" title="Show statistics for last year">Last Year</a></li>
                            <li ng-class="{ 'active' : isOtherPeriodSelected() }"><a ng-click="periodPickerClick($event)" dropdown-toggle="#period-picker" title="Set custom period">Other</a></li>
                        </ul>
                        <ul class="right">
                            <li ng-class="{ 'active': graphsHorizontal }"><a title="Display two graphs side by side" ng-click="setGraphsLayout(true)">Horizontal</a></li>
                            <li ng-class="{ 'active': !graphsHorizontal }"><a title="Display one graph under another" ng-click="setGraphsLayout(false)">Vertical</a></li>
                            <li><a dropdown-toggle="#period-picker" ng-click="periodPickerClick($event)" title="Set custom period">{{ statsPeriod.start | date : 'MMM/yyyy' }}&ndash;{{ statsPeriod.end | date : 'MMM/yyyy' }}</a></li>
                        </ul>
                    </top-bar-section>
                </top-bar>

                <div class="row">
                    <div class="columns" ng-class="{ 'large-6': graphsHorizontal, 'large-12' : (!graphsHorizontal) }">
                        <div google-chart chart="searchesChart" class="stats-chart"></div>
                    </div>
                    <div class="columns" ng-class="{ 'large-6': graphsHorizontal, 'large-12' : (!graphsHorizontal) }">
                        <div google-chart chart="revenueChart" class="stats-chart"></div>
                    </div>
                </div>
                
                <table class="stats-table">
                    <thead>
                        <tr>
                            <th class="text-left">From</th>
                            <th class="text-left">To</th>
                            <th class="text-left">Product</th>
                            <th>Requests</th>
                            <th>Pricelist</th>
                            <th>Unit Price</th>
                            <th class="text-right">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in billings.items">
                            <td class="text-left">{{ item.from | date }}</td>
                            <td class="text-left">{{ item.to | date }}</td>
                            <th class="text-left">{{ item.product }}</th>
                            <td>{{ item.requests | number : 0 }}</td>
                            <td>{{ item.pricelist }}</td>
                            <td>{{config.currency.symbol}}{{ item.unitPrice }}</td>
                            <th class="text-right">{{ item.subtotal | currency : config.currency.symbol }}</th>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" class="text-right">Grand Total</th>
                            <td class="text-right">{{ billings.total | currency : config.currency.symbol }}</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-right">Paid</td>
                            <td class="text-right">{{ billings.paid | currency : config.currency.symbol }}</td>
                        </tr>
                        <tr>
                            <th colspan="6" class="text-right">Remaining</th>
                            <td class="text-right">{{ (billings.total - billings.paid) | currency : config.currency.symbol }}</td>
                        </tr>
                    </tfoot>
                </table>
                
                <fieldset ng-form name="invoice">
                    <legend>Invoice</legend>
                    
                    <div class="row">
                        <div class="columns large-2">
                            <label for="payment-terms" class="inline right" ng-class="{ 'error': isInvalid(invoice.paymentTerm) }">Payment Terms <small>required</small></label>
                        </div>
                        <div class="columns large-2" ng-class="{ 'error': isInvalid(invoice.paymentTerm) }">
                            
                            <select id="payment-terms" required name="paymentTerm" ng-model="paymentTerm" ng-change="paymentTermChange()" ng-options="term.id as term.name for term in config.paymentTerms"></select>
                            <small class="error">This field is required.</small>

                        </div>
                        <div class="columns large-6">
                            <input type="checkbox" name="setDefaultPaymentTerms" ng-model="customer.setDefaultPaymentTerms" ng-change="paymentTermChange()" id="default-payment-terms" />
                            <label for="default-payment-terms" class="inline">Set as default for customer</label>
                        </div>
                        <div class="columns large-2">
                            <button class="tiny expand" type="button" ng-click="generateInvoice()"><i class="fi-results"></i> Generate Invoice</button>
                        </div>
                    </div>
                </fieldset>
            </tab>
            
        </tabset>
        
        <button class="button small" type="submit" ng-class="{ 'success' : !saveDisabled(cust) }"><i class="fi-save"></i> Save</button>
        <a class="button small" kk-nav route="customers" tabindex="1010">Cancel</a>
        
    </form>
    
  </div>
</div>

<div id="period-picker" class="f-dropdown" ng-click="preventDefault($event)">
    <div date-range start="statsPeriod.start" end="statsPeriod.end"></div>
</div>