<div class="row">
    <div class="columns large-12">
        <h1>CRM <small>Customers</small></h1>
        
        <nav class="top-bar toolbar" data-topbar>
            <section class="top-bar-section">
                <ul class="left">
                    <li class="has-form">
                        <a kk-nav route="customerNew" class="button"><i class="fi-plus"></i> Add</a>
                    </li>
                </ul>
                <ul class="right">
                    <li class="has-form">
                        <form class="collapse row" name="dateform">
                            <div class="columns small-3">
                                <span class="prefix"><i class="fi-calendar"></i></span>
                            </div>
                            <div class="columns small-9">
                                <input type="text" ng-init="onDatepickerInit(this)" name="period" date-time ng-model="period" align="right" min-view="month" format="MMM/yyyy" placeholder="Current Month" />
                            </div>
                        </form>
                    </li>
                </ul>
            </section>
        </nav>
        
        <table class="customers">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2" class="text-left">Name</th>
                    <th rowspan="2" class="text-left">Website</th>
                    <th colspan="3">Usage</th>
                    <th rowspan="2">Unit Price</th>
                    <th colspan="2">Revenue</th>
                    <th rowspan="2"></th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th>Type</th>
                    <th>Monthly</th>
                    <th>Yearly</th>
                    <th>Monthly</th>
                    <th>Yearly</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers">
                    <td>{{$index + 1}}</td>
                    <th class="text-left">{{customer.name}}</th>
                    <td class="text-left"><a ng-href="{{ protocol + customer.url }}" ng-attr-title="{{customer.name}}" target="_blank">{{customer.url}}</a></td>
                    <td><span class="label radius gray">{{customer.usageType}}</span></td>
                    <td>{{customer.usageMonthly | number}}</td>
                    <td>{{customer.usageYearly | number}}</td>
                    <td>{{customer.unitPrice | currency}}</td>
                    <td>{{customer.revenueMonthly | currency}}</td>
                    <td>{{customer.revenueYearly | currency}}</td>
                    <td>
                        <span class="label radius" ng-class="{ 'success' : customer.enabled, 'alert' : !customer.enabled}">
                            <span ng-show="customer.enabled">Enabled</span>
                            <span ng-hide="customer.enabled">Disabled</span>
                        </span>
                    </td>
                    <td>
                        <a kk-nav route="customerEdit" ng-attr-param-id="{{customer.id}}" title="Edit Customer">Edit</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">Totals</th>
                    <td>{{ getTotal('usageMonthly') | number }}</td>
                    <td>{{ getTotal('usageYearly') | number }}</td>
                    <td></td>
                    <td>{{ getTotal('revenueMonthly') | currency }}</td>
                    <td>{{ getTotal('revenueYearly') | currency }}</td>
                    <td colspan="2"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
