<h3 ng-show="index >= 0">Edit Pre-Paid Block</h3>
<h3 ng-hide="index >= 0">Add Pre-Paid Block</h3>

<form name="prePaidModalForm" data-abide novalidate ng-submit="save()">
    
    <span class="label radius check" ng-class="{ 'secondary': !prePaid.enabled }">
        <input type="checkbox" ng-model="prePaid.enabled" id="pre-paid-enabled" />
        <label for="pre-paid-enabled">Enabled</label>
    </span>
    
    <div ng-class="{ 'error': isInvalid(prePaidModalForm.size) }">
        <label for="pre-paid-size" ng-class="{ 'error': isInvalid(prePaidModalForm.size) }">Number of Searches <small>required</small></label>
        <input type="number" name="size" id="pre-paid-size" ng-model="prePaid.size" required min="1" />
        <small class="error">This field is required.</small>
    </div>
    
    <div ng-class="{ 'error': isInvalid(prePaidModalForm.unitPrice) }">
        <label for="pre-paid-price" ng-class="{ 'error': isInvalid(prePaidModalForm.unitPrice) }">Price per Search <small>required</small></label>
        <div class="row collapse">
            <div class="columns small-10">
                <input type="number" name="unitPrice" id="pre-paid-price" ng-model="prePaid.unitPrice" required min="0" />    
                <small class="error">This field is required.</small>
            </div>
            <div class="columns small-2">
                <span class="postfix">{{config.currency.code}}</span>
            </div>
        </div>
    </div>
    
    <div ng-class="{ 'error': isInvalid(prePaidModalForm.expireDate) }">
        <label for="pre-paid-expire" ng-class="{ 'error': isInvalid(prePaidModalForm.expireDate) }">Expire Date <small>required</small></label>
        <div class="row collapse">
            <div class="columns small-2">
                <span class="prefix"><i class="fi-calendar"></i></span>
            </div>
            <div class="columns small-10">
                <input type="text" name="expireDate" id="pre-paid-expire" date-time ng-model="prePaid.expireDate" required min-view="date" format="dd/MM/yyyy" />
                <small class="error">This field is required.</small>
            </div>
        </div>
    </div>
    
    <button class="button small" type="submit" ng-class="{ 'secondary' : saveDisabled(prePaidModalForm), 'success' : !saveDisabled(prePaidModalForm) }" ng-disabled="saveDisabled(prePaidModalForm)"><i class="fi-save"></i> Save</button>
    <button type="button" ng-click="cancel()" class="button small">Cancel</button>
</form>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
