<section id="user-collection">
    
    <div class="row">
        <div class="columns large-12">
            <h1>Users</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li class="current" kk-nav route="users">
                    <a>Users</a>
                </li>
            </ul>
            
            <div ng-if="users.length > 0">
                
                <div class="button-bar">
                    <ul class="button-group">
                        <li><a class="tiny button" kk-nav route="newUser"><i class="fi-plus"></i> Add new</a></li>
                    </ul>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th class="text-left">No</th>
                            <th class="text-left">Name</th>
                            <th class="text-left">Email</th>
                            <th>Role</th>
                            <th>Active</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" user in users | orderBy : 'name'">
                            <td class="text-left">{{ $index + 1 }}</td>
                            <th class="text-left">{{ user.name }}</th>
                            <td class="text-left"><a ng-href="mailto:{{user.email}}">{{ user.email }}</a></td>
                            <td><span class="label secondary radius">{{ getRoleName(user.roleId) }}</span></td>
                            <td><i ng-class="{ 'fi-check': user.active, 'fi-x': !user.active }"></i></td>
                            <td class="action"><a title="Edit" ng-href="{{getUserEditUrl(user.id)}}"><i class="fi-pencil"></i></a></td>
                            <td class="action alert"><a title="Delete" ng-click="promptDeleteUser(user)"><i class="fi-x"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div ng-if="users.length <= 0">
                <p>There are no users. Create a <a kk-nav route="newUser">first one</a></p>
            </div>
        </div>
    </div>
    
</section>