/*
 * --- jQUery UI ---
 */
.ui-slider .ui-slider-handle {
  margin-left: -0.3em;
  width: 0.6em; }


table.ui-datepicker-calendar {
  border: none; }


.ui-datepicker-multi .ui-datepicker-group table {
  width: 100%; }


.ui-datepicker {
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0 #cccccc;
  font-size: 0.875em !important; }


.ui-datepicker th {
  font-weight: normal !important; }


  .ui-datepicker-unselectable .ui-state-default {
    background: none;
    color: #888888; }



.ui-datepicker td {
  width: 2.5em; }


.ui-datepicker td span,
.ui-datepicker td a {
  padding: 0.2em 0;
  text-align: center;
  border: none !important;
  background: none !important;
  color: #444444; }


.ui-datepicker a.ui-state-default {
  color: #129cbc; }


td.ui-datepicker-today a {
  background: #dddddd !important;
  color: #444444 !important; }


td.ui-datepicker-days-cell-over a {
  background: #c7f3a0 !important;
  color: #444444 !important; }


.ui-datepicker .ui-state-hover {
  border: none;
  background: #129cbc !important;
  color: white !important; }


.ui-datepicker a.ui-datepicker-prev-hover,
.ui-datepicker a.ui-datepicker-next-hover {
  background: #dddddd !important;
  border: none; }


.ui-datepicker-group-first {
  padding-right: 0.5em; }


.ui-datepicker-header {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cccccc;
  font-weight: normal; }


/*
 * --- Sticky Footer ---
 */
html,
body {
  height: 100%; }


.page-wrap {
  min-height: 100%;
  margin-bottom: -285px; }


.page-wrap:after {
  content: "";
  display: block; }


footer,
.page-wrap:after {
  height: 285px; }


.button {
  border-radius: 5px; }


.button.small,
.button.secondary,
.button.tiny {
  border-radius: 0; }


div.switch span {
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 980px #e9ffc2, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px whitesmoke; }


form.custom .custom.dropdown {
  z-index: 11; }


div[data-magellan-expedition] {
  box-shadow: 0 1px 5px -2px #333333;
  z-index: 12 !important; }
  div[data-magellan-expedition] dd {
    margin: 0; }
    div[data-magellan-expedition] dd:after {
      content: '\232a';
      padding: 0 0.75em;
      color: #cccccc; }
    div[data-magellan-expedition] dd:last-child:after {
      content: '';
      padding: 0; }



.alerts-container {
  position: relative; }


.nowrap {
  white-space: nowrap; }


span.red-icon,
span.yellow-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -5000em; }


span.red-icon {
  background: url(../img/red_alert.png) center bottom no-repeat; }


span.yellow-icon {
  background: url(../img/yellow_alert.png) center bottom no-repeat; }


.label {
  font-weight: normal; }


.button.loader {
  background-image: url(img/ajax-loader-plain.gif);
  background-position: 8px center;
  background-repeat: no-repeat;
  padding-left: 20px; }


.gad {
  padding: 5px;
  margin: 0.5em auto;
  box-shadow: 1px 1px 2px #dddddd;
  background: #f6f6f6; }


.placeholder-wrapper {
  position: relative; }
  .placeholder-wrapper label.placeholder {
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 0 0.5em;
    height: 2.313em;
    line-height: 2.313em;
    overflow: hidden;
    opacity: 0.6; }



address {
  color: #888888;
  font-style: normal;
  line-height: 1.4;
  border-left: 1px solid #cccccc;
  margin-bottom: 1.25em;
  padding-left: 0.5em; }


.label.alert,
small.error {
  color: #741e20; }


  .panel.callout label {
    color: #f6f6f6; }



.alert-box {
  font-weight: normal;
  border-radius: 5px; }
  .alert-box.success {
    color: #527533; }
    .alert-box.success[class*="foundicon-"] {
      color: #527533; }

  .alert-box.alert {
    color: #741e20; }
    .alert-box.alert[class*="foundicon-"] {
      color: #741e20; }



#top-alerts {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  z-index: 9999; }
  #top-alerts .alert-box {
    box-shadow: 1px 1px 2px 0 #aaaaaa; }



.tooltip {
  background: white;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-shadow: 1px 1px 3px -1px #333333;
  color: #888888;
  font-size: 0.875em;
  font-weight: normal; }
  .tooltip > .nub {
    border-color: transparent transparent white; }

  .tooltip.tip-top > .nub {
    border-color: white transparent transparent; }

  .tooltip.tip-left > .nub {
    border-color: transparent transparent transparent white; }

  .tooltip.tip-right > .nub {
    border-color: transparent white transparent transparent; }



.page {
  max-width: 66.2em;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px -2px #888888; }


body,
.silver {
  background: #f7f7f7 url(../img/silver_bg.png) center top repeat-y; }


.search-results-wrapper {
  background: #f6f6f6; }


.aluminium {
  background: #f6f6f6 url(../img/plain_bg.png) left top repeat; }


.golden {
  background: #fdfaed url(../img/golden_bg.png) center top repeat-y; }


.beige {
  background: #edecdf url(../img/beige_bg.png) center top repeat-y; }


.plain {
  background: url(../img/white_bg.png) top left repeat;
  box-shadow: 0 1px 2px 0 #406473;
  border: none; }
  .plain .error input,
  .plain input.error,
  .plain .error textarea,
  .plain textarea.error {
    background-color: rgba(243, 160, 162, 0.6); }

  .plain .loader {
    background-image: url(../img/ajax-loader-plain.gif) !important; }



body {
  font-family: 'QuestrialRegular', Helvetica, Arial, sans-serif; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: 'QuestrialRegular', Helvetica, Arial, sans-serif;
    font-weight: normal; }

  body h1.subheader,
  body h2.subheader,
  body h3.subheader,
  body h4.subheader,
  body h5.subheader,
  body h6.subheader {
    text-transform: uppercase; }



.sample-alert {
  display: none; }


.desc .small {
  font-size: 0.75em !important; }


  .dropdown li span {
    font-size: 0.75em;
    color: #888888;
    margin-left: 0.5em; }

  .dropdown li.first {
    margin-top: 1em !important;
    border-top: 1px double #cccccc; }

  .dropdown li.odd {
    background: #f6f6f6; }



time {
  white-space: nowrap;
  color: #444444; }
  time span {
    font-variant: small-caps;
    color: #888888;
    font-size: 0.875em;
    font-weight: normal; }

  time span.day {
    margin-left: 0.2em; }



  .row-alert .alert-box {
    display: block; }



figcaption {
  font-size: 0.75em;
  color: #888888;
  text-align: center; }


.ui-autocomplete.loader {
  background-image: none; }


.miles.status {
  color: #406473; }


.miles img {
  vertical-align: baseline; }


.extra-line {
  display: none; }


.breadcrumbs {
  background: #f1f1f1;
  border-color: #cccccc; }


span.custom.radio {
  cursor: pointer; }


.progress {
  background: #f1f1f1;
  position: relative;
  border: none;
  padding: 0;
  box-shadow: 1px 1px 0 #dddddd; }
  .progress.completed {
    box-shadow: 0 0 3px 2px #cccc00; }
    .progress.completed .meter {
      background-image: url(../img/progress_bg.png); }
    .progress.completed .goal {
      line-height: 1.2 !important; }
    .progress.completed img {
      vertical-align: middle;
      position: relative;
      top: -1px; }
    .progress.completed strong {
      font-size: 1.438em; }

  .progress .threshold {
    position: absolute;
    height: 100%;
    top: 100%;
    background: #cccccc;
    width: 1px; }
    .progress .threshold span {
      position: absolute;
      font-size: 0.75em;
      color: #aaaaaa;
      white-space: nowrap; }
    .progress .threshold span.name {
      right: 0.25em;
      top: 0.25em; }
    .progress .threshold span.val {
      right: 0.5em;
      top: 2em;
      font-size: 0.5em; }



.loader {
  background-image: url(../img/ajax-loader.gif) !important;
  background-repeat: no-repeat !important; }


.loader-overlay {
  background: #406473;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  border: 1px solid #22404c;
  box-shadow: 0 0 3px 0 #666666;
  min-height: 10em !important; }
  .loader-overlay h5 {
    padding: 0.5em 1em;
    text-align: center;
    border-top: 1px solid #22404c;
    border-bottom: 2px solid #22404c;
    border-radius: 5px;
    color: #888888;
    margin: 3em; }
    .loader-overlay h5 span {
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 40px;
      display: inline-block; }



.row.full-width {
  max-width: 100%; }


.desc {
  font-size: 0.75em;
  color: #888888; }


p.desc {
  margin-bottom: 0.75em; }


  .button .desc {
    color: #f6f6f6;
    margin-top: 0.5em; }



.alert-box {
  display: none; }


.price {
  font-size: 1.438em;
  color: #c24548;
  font-weight: normal; }


.double .price {
  font-size: 1em; }
  .double .price .total {
    font-size: 0.75em;
    font-weight: bold; }



.miles {
  font-size: 1.438em;
  color: #129cbc;
  font-weight: normal; }


.prefix .foundicon-calendar {
  color: #888888;
  font-size: 1.438em; }


.prefix.spinner,
.postfix.spinner {
  line-height: 1.1em !important;
  background: none !important; }
  .prefix.spinner a,
  .postfix.spinner a {
    display: block;
    background: #f2f2f2; }
    .prefix.spinner a:first-child,
    .postfix.spinner a:first-child {
      border-bottom: 1px solid #cccccc; }
    .prefix.spinner a:hover,
    .postfix.spinner a:hover {
      box-shadow: inset 0 0 3px #cccccc; }



.top-bar {
  background: #222222;
  box-shadow: 0 0 5px black inset; }
  .top-bar.expanded {
    background: #222222; }

    .top-bar .title-area h1 {
      display: inline-block; }
      .top-bar .title-area h1 a {
        background: url('../img/logo.png') center center no-repeat;
        text-indent: -5000em;
        width: 66px !important;
        display: inline-block;
        margin: 0 0.9em; }
    .top-bar .title-area h6 {
      color: #666666;
      display: inline-block;
      font-size: 0.75em;
      text-transform: uppercase; }
    .top-bar .title-area h6.milefy {
      padding-left: 1em;
      color: #888888;
      font-weight: bold;
      text-transform: none; }

    .top-bar .top-bar-section .fb-like {
      padding: 0.25em 1em; }
    .top-bar .top-bar-section a:hover {
      color: #129cbc; }



/*
 * --- Search Page ---
 */
  .results-tab .foundicon-remove {
    color: #888888;
    display: inline-block;
    width: 1.5em;
    text-align: center;
    font-size: 0.8em; }
    .results-tab .foundicon-remove:hover {
      border-radius: 2px;
      box-shadow: inset 0 0 2px #666666;
      background: #f1f1f1;
      color: #129cbc; }

  .results-tab .foundicon-plus {
    color: white;
    text-shadow: 1px 1px 2px #aaaaaa;
    margin-right: 0.2em; }



section.active > .results-tab .foundicon-plus {
  color: #dddddd;
  text-shadow: none; }


section.active > .results-tab-content {
  left: 0; }


.results-tab-content {
  background: #189bab !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  box-shadow: inset 0 0 15px -10px black;
  display: block !important;
  left: -50000em;
  width: 100%; }
  .results-tab-content .search-form {
    margin: 1.5em 0 3em 0; }
    .results-tab-content .search-form h3 {
      margin-bottom: 1em; }

  .results-tab-content .more-results {
    visibility: hidden; }



.refine-search {
  padding: 2em 0 0.5em 0; }
  .refine-search .airport {
    font-size: 1.438em; }

  .refine-search .passengers,
  .refine-search .submit {
    display: none;; }

  .refine-search .desc {
    text-align: center; }
    .refine-search .desc.one-way {
      text-align: left;
      padding-top: 0.5em; }



.results-column {
  box-shadow: 5px 0 5px -5px #444444;
  background: white; }


.search-progress {
  border-top: 1px solid #cccccc !important;
  padding-top: 2em !important;
  padding-bottom: 2em; }
  .search-progress hgroup {
    margin-bottom: 0.5em;
    text-align: center; }

  .search-progress h3 {
    display: inline; }

  .search-progress .flights-number.loader {
    background-position: left center;;
    background-repeat: no-repeat;;
    padding-left: 40px; }



  .flight .small,
  .hover .small,
  .flight-row .small {
    text-transform: uppercase;
    font-size: 0.5em;
    color: #888888; }

  .flight .schedule,
  .hover .schedule,
  .flight-row .schedule {
    text-align: center;
    line-height: 1.5; }
    .flight .schedule .foundicon-right-arrow,
    .hover .schedule .foundicon-right-arrow,
    .flight-row .schedule .foundicon-right-arrow {
      margin: 0 0.2em;
      color: #dddddd;
      vertical-align: middle;
      font-size: 0.75em; }

  .flight .duration,
  .hover .duration,
  .flight-row .duration {
    text-align: center; }
    .flight .duration span,
    .hover .duration span,
    .flight-row .duration span {
      color: #dddddd; }
    .flight .duration .has-tip,
    .hover .duration .has-tip,
    .flight-row .duration .has-tip {
      display: inline; }



  .stops strong {
    background: #f6f6f6;
    border-radius: 1em;
    display: inline-block;;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    color: #888888;
    line-height: 1.5;
    font-weight: normal;
    border: 1px solid #dddddd; }

  .stops .stop-num + .cabin {
    border-top: 1px solid #dddddd;
    margin-top: 0.5em;
    padding-top: 0.5em; }

  .stops ul {
    margin: 0.5em 0;
    padding: 0.25em 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    font-size: 0.875em; }



  .featured-search-results .flight-label {
    padding-bottom: 50px;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center; }

      .featured-search-results section.search-results:first-child .flight-label {
        background-image: url(../img/thumb_icon.png); }
        .featured-search-results section.search-results:first-child + section .flight-label {
          background-image: url(../img/money_icon.png); }
          .featured-search-results section.search-results:first-child + section + section .flight-label {
            background-image: url(../img/speed_icon.png); }

    .featured-search-results .hover .middle {
      text-align: center; }
      .featured-search-results .hover .middle .desc {
        line-height: 1.5; }
      .featured-search-results .hover .middle span.desc {
        margin: 0 0.5em; }
      .featured-search-results .hover .middle h3 {
        display: inline;
        line-height: 1; }
      .featured-search-results .hover .middle h5 {
        margin: 0; }



.search-results {
  border-top: 1px solid #cccccc !important; }
  .search-results .all-slot-results {
    display: none; }
        .search-results .all-slot-results.loaded .result:first-child .flight,
        .search-results .all-slot-results.loaded .result:first-child .hover {
          border-color: #cccccc !important; }

  .search-results .result.selected {
    cursor: default; }
    .search-results .result.selected .foundicon-plus {
      color: #dddddd !important; }
      .search-results .result.selected .stops strong {
        background: #f1f1f1; }
    .search-results .result.selected .row {
      background: white !important; }
      .search-results .result.selected .row.flight,
      .search-results .result.selected .row.hover {
        box-shadow: 0 0 8px -3px #aaaaaa; }
      .search-results .result.selected .row.stats {
        box-shadow: 0 0 8px -3px #aaaaaa; }
        .search-results .result.selected .row.stats .progress {
          background: #f1f1f1; }

    .search-results .result .yellow-icon {
      position: absolute;
      right: -0.5em;
      top: 0.5em; }
    .search-results .result .progress {
      background: white; }
      .search-results .result .stops strong {
        background: white; }
    .search-results .result article {
      margin-bottom: 1em; }
    .search-results .result .flight,
    .search-results .result .hover {
      border-top: 1px solid #cccccc; }
      .search-results .result:hover .row {
        background: #eeeeee; }
      .search-results .result:hover .flight {
        display: none; }
      .search-results .result:hover .hover {
        display: block; }
      .search-results .result:first-child .flight,
      .search-results .result:first-child .hover {
        border-color: white; }
    .search-results .result.awarded {
      position: relative;
      display: block; }
      .search-results .result.awarded .pin {
        position: absolute;
        top: -6px;
        left: 16.5%;
        z-index: 1; }
      .search-results .result.awarded .flight,
      .search-results .result.awarded .stats {
        background: #fffbc2; }
        .search-results .result.awarded:hover .hover,
        .search-results .result.awarded:hover .stats {
          background: #fff9a3; }

  .search-results .more-slot-results {
    background-color: white;
    font-size: 0.875em;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    margin-bottom: 2em;
    color: #888888;
    padding: 0 0.75em; }
    .search-results .more-slot-results a {
      margin-right: 1em; }
    .search-results .more-slot-results p {
      padding: 0.75em 40px 0.75em 0;
      margin: 0;
      background-position: right center;
      background-repeat: no-repeat; }
    .search-results .more-slot-results .hide {
      display: none; }

  .search-results .flight-label {
    font-size: 0.75em;
    text-transform: uppercase;
    text-align: right;
    margin-top: 0.5em;
    position: relative; }
    .search-results .flight-label .has-tip {
      font-weight: normal;
      padding: 2px;
      background: white; }
      .search-results .flight-label .has-tip .foundicon-idea {
        color: #129cbc;
        vertical-align: middle; }
    .search-results .flight-label .time-slot {
      position: relative; }
    .search-results .flight-label .time-desc {
      font-size: 0.75em;
      text-transform: none;
      color: #888888;
      margin-bottom: 0.5em; }
    .search-results .flight-label .icons {
      margin-top: 0.75em;
      font-size: 3em;
      color: #dddddd; }
      .search-results .flight-label .icons span {
        font-size: 0.9em;
        vertical-align: top; }

  .search-results .hover {
    background: #f6f6f6; }
    .search-results .hover.hide {
      display: none; }
    .search-results .hover .program-logo {
      margin-bottom: 0.35em;
      background: white;
      padding: 4px;
      border-radius: 4px;
      margin-top: -0.5em; }
    .search-results .hover .plus-icon {
      text-align: right;
      color: #888888; }
      .search-results .hover .plus-icon p {
        line-height: 1.2;
        margin-bottom: 0; }
      .search-results .hover .plus-icon .foundicon-plus {
        font-size: 1.5em;
        color: white; }

  .search-results .hover,
  .search-results .flight {
    text-align: center; }
    .search-results .hover .price,
    .search-results .hover .miles,
    .search-results .flight .price,
    .search-results .flight .miles {
      font-weight: normal; }
    .search-results .hover > .columns,
    .search-results .flight > .columns {
      padding-top: 0.75em;
      padding-bottom: 0.75em; }
    .search-results .hover .middle,
    .search-results .flight .middle {
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc; }

    .search-results .flight .schedule,
    .search-results .hover .schedule {
      font-size: 1.438em; }
    .search-results .flight .price,
    .search-results .hover .price {
      display: block;
      margin-bottom: 0.4em; }
    .search-results .flight .airline,
    .search-results .hover .airline {
      color: #888888;
      line-height: 1.438em;
      margin-bottom: 0.25em;
      font-size: 0.875em;
      text-align: center; }
      .search-results .flight .airline img,
      .search-results .hover .airline img {
        vertical-align: middle; }

  .search-results .stats {
    border-radius: 0 0 0 10px; }
    .search-results .stats .progress {
      margin-top: 0.5em; }



    .featured-search-results .result:hover .row {
      background: #f5f0da; }



  .progress .meter {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-position: top left;
    background-repeat: repeat; }
    .progress .meter .before {
      background: black;
      opacity: 0.3;
      height: 100%;
      width: 100%; }
      .progress .meter .before + .goal {
        position: absolute;
        z-index: 12;
        top: 0;
        left: 0; }



.progress.caption {
  position: relative;
  overflow: hidden;
  font-size: 0.75em; }
  .progress.caption .goal {
    white-space: nowrap;
    color: white;
    font-size: 0.875em;
    line-height: 1.9;
    padding-left: 0.75em; }

  .progress.caption .meter {
    z-index: 10;
    position: relative;
    overflow: hidden; }

  .progress.caption > .goal {
    position: absolute;
    z-index: 9; }

  .progress.caption > .goal {
    color: #129cbc; }

  .progress.caption.success > .goal {
    color: #c7f3a0; }

  .progress.caption.secondary > .goal {
    color: #406473; }



  .more-results .previous,
  .more-results .next {
    margin-top: 3em; }



  .regular-results-footer .previous,
  .regular-results-footer .next {
    margin-top: 0.5em; }



.regular-results-footer,
.more-result .row:first-child {
  border-top: 1px solid #cccccc !important; }


  .more-results .gad {
    width: 478px; }
    .more-results .gad.mobile {
      width: 320px; }



.more-results,
.regular-results-footer {
  background: white; }
  .more-results .nav,
  .regular-results-footer .nav {
    margin-bottom: 0.2em; }

  .more-results .regular-results-footer-center,
  .regular-results-footer .regular-results-footer-center {
    text-align: center; }

  .more-results .more-results-center,
  .regular-results-footer .more-results-center {
    text-align: center; }
    .more-results .more-results-center .button,
    .regular-results-footer .more-results-center .button {
      text-align: left; }
      .more-results .more-results-center .button .foundicon-down-arrow,
      .regular-results-footer .more-results-center .button .foundicon-down-arrow {
        float: left;
        vertical-align: middle;
        font-size: 2em;
        margin-right: 0.5em;
        text-shadow: inset 3px 3px #444444; }



  .comparison-column > hgroup {
    margin-top: 2.5em; }

    .comparison-column .comparison-tip h1,
    .comparison-column .comparison-tip h2,
    .comparison-column .comparison-tip h3,
    .comparison-column .comparison-tip h4,
    .comparison-column .comparison-tip h5,
    .comparison-column .comparison-tip h6 {
      color: #f6f6f6;
      text-shadow: 1px 1px 0 #666666 !important; }

  .comparison-column .comparison-tip + .comparison-tip {
    display: none;; }



.more-results-wrapper {
  display: none; }


.filters-header {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: white;
  margin: 0; }


.filters {
  background: white url(../img/vert_border.png) center top repeat-y;
  border-top: 1px solid #cccccc;
  margin-bottom: 1.5em !important; }
  .filters label {
    margin-bottom: 0.75em; }

  .filters input[type="checkbox"] {
    margin-bottom: 0; }

  .filters .button-group .button {
    margin-bottom: 0; }

  .filters .filter {
    margin-bottom: 1em; }
    .filters .filter > label {
      text-align: center;
      background: #f1f1f1;
      padding: 0.1em 0; }

  .filters .filter-scroller {
    padding: 0 1em; }

    .filters .filter-scroller > label,
    .filters .filter[data-filter="stops"] > label {
      background: none;
      margin-bottom: 0.25em; }

  .filters .advanced-filters {
    display: none; }
      .filters .advanced-filters .filter span.has-tip {
        font-weight: normal !important; }

  .filters .more-filters {
    background: white;
    padding-top: 0.5em;
    text-align: center; }
    .filters .more-filters .less {
      display: none; }



    .slider .ui-slider-handle .desc,
    .filter-scroller .ui-slider-handle .desc {
      position: absolute;
      width: 5em;
      left: -2em;
      text-align: center;
      top: 2em; }

  .slider .range,
  .filter-scroller .range {
    text-align: center;
    color: #888888;
    font-size: 0.75em;
    margin-top: 0.5em; }



  .comparison-column article.flight {
    background-color: white;
    padding: 3px;
    margin: 0.938em 0;
    border-radius: 6px;
    box-shadow: 1px 1px 5px -3px #333333; }
    .comparison-column article.flight .book-ticket span {
      color: #eeee99; }
    .comparison-column article.flight .book-ticket:hover img {
      transform: rotateZ(15deg); }
    .comparison-column article.flight .prefix,
    .comparison-column article.flight .postfix {
      background: #f6f6f6; }
    .comparison-column article.flight .small {
      font-size: 0.6em; }
    .comparison-column article.flight .duration .has-tip {
      font-weight: normal;
      color: #888888; }
      .comparison-column article.flight .one-way .schedule {
        margin-top: 1.5em;
        font-size: 1.438em; }
      .comparison-column article.flight .one-way .details-wrapper {
        margin-top: 0.5em;
        display: block;
        text-align: center; }
      .comparison-column article.flight .one-way .show-flight-details,
      .comparison-column article.flight .one-way .hide-classes {
        display: none !important; }
      .comparison-column article.flight .one-way .duration,
      .comparison-column article.flight .one-way .cabin {
        line-height: 1.5;
        text-align: center; }
    .comparison-column article.flight .yellow-alert-icon,
    .comparison-column article.flight .green-alert-icon {
      position: absolute;
      top: 0;
      right: -0.5em; }
    .comparison-column article.flight .details-wrapper {
      display: none;
      margin: 1.5em 0.5em 3em 0.5em; }
      .comparison-column article.flight .details-wrapper .desc.tip {
        text-align: center; }
      .comparison-column article.flight .details-wrapper .details {
        margin-top: 0.5em; }
      .comparison-column article.flight .details-wrapper .graph-info {
        margin-top: 0.25em;
        font-size: 0.7em;
        line-height: 1.25em;
        color: #888888; }
        .comparison-column article.flight .details-wrapper .graph-info .info-fragment {
          display: none; }
          .comparison-column article.flight .details-wrapper .graph-info .info-fragment .columns {
            background: #f6f6f6;
            border-radius: 5px; }
            .comparison-column article.flight .details-wrapper .graph-info .info-fragment .columns.middle {
              background: none; }
        .comparison-column article.flight .details-wrapper .graph-info time {
          font-weight: bold;
          display: block; }
          .comparison-column article.flight .details-wrapper .graph-info .columns:last-child {
            text-align: right; }
          .comparison-column article.flight .details-wrapper .graph-info .columns.middle {
            text-align: center;
            position: relative; }
            .comparison-column article.flight .details-wrapper .graph-info .columns.middle .inner {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              z-index: 2;
              box-shadow: 1px 1px 2px #cccccc;
              background: white; }
              .comparison-column article.flight .details-wrapper .graph-info .columns.middle .inner .wide {
                width: 200%;
                position: relative;
                left: -50%;
                top: 2px;
                background: white;
                border-radius: 5px;
                box-shadow: 1px 1px 1px #cccccc; }
        .comparison-column article.flight .details-wrapper .graph-wrapper.fragment-selected .graph-bottom {
          border-color: #cccccc; }
          .comparison-column article.flight .details-wrapper .graph-wrapper .graph-top .graph-fragment {
            cursor: pointer;
            display: inline-block;
            padding-bottom: 5px;
            margin: 0;
            float: left; }
            .comparison-column article.flight .details-wrapper .graph-wrapper .graph-top .graph-fragment:hover {
              background: url(../img/vert_border.png) center bottom repeat-y; }
              .comparison-column article.flight .details-wrapper .graph-wrapper .graph-top .graph-fragment:hover .graph {
                border-color: #bbbbbb !important; }
            .comparison-column article.flight .details-wrapper .graph-wrapper .graph-top .graph-fragment .graph {
              height: 3em;
              line-height: 3em;
              font-size: 0.6em;
              text-align: center;
              color: #888888; }
              .comparison-column article.flight .details-wrapper .graph-wrapper .graph-top .graph-fragment .graph.graph-flight {
                background: #c7f3a0 url(../img/plane-icon.png) center center no-repeat;;
                border: 1px solid #c7f3a0 ;; }
              .comparison-column article.flight .details-wrapper .graph-wrapper .graph-top .graph-fragment .graph.graph-overlay {
                background: #f6f6f6;;
                border: 1px solid #f6f6f6; }
              .comparison-column article.flight .details-wrapper .graph-wrapper .graph-top .graph-fragment .graph.graph-stop {
                background: #e9ffc2;
                border: 1px solid #c7f3a0 ;; }
        .comparison-column article.flight .details-wrapper .graph-wrapper .graph-bottom {
          clear: both;
          height: 5px;
          border-top: 1px solid white;
          border-right: 1px solid white;
          border-left: 1px solid white;
          margin: 0 1em; }
    .comparison-column article.flight form {
      margin-bottom: 0.5em; }
    .comparison-column article.flight.loader {
      background-position: center center;
      background-repeat: no-repeat;
      height: 10em; }
    .comparison-column article.flight .panel:first-child {
      padding: 1.25em 0.5em 0.5em 0.5em;
      margin-bottom: 0;
      position: relative;
      border: none;
      background: white; }
      .comparison-column article.flight .panel:first-child .prefix.double {
        line-height: 0.9;
        padding: 0.25em 0; }
      .comparison-column article.flight .panel:first-child .close {
        position: absolute;;
        top: 0.25em;
        right: 0.5em;
        color: #888888;
        display: block;
        width: 0.8em;
        text-align: center;
        line-height: 0.8em; }
        .comparison-column article.flight .panel:first-child .close:hover {
          background: #aaaaaa;
          color: #f1f1f1; }
      .comparison-column article.flight .panel:first-child .progress {
        height: 0.5em;
        margin-bottom: 0.25em; }
      .comparison-column article.flight .panel:first-child .custom.dropdown {
        margin-bottom: 0.5em; }
      .comparison-column article.flight .panel:first-child .desc {
        font-size: 0.75em; }
    .comparison-column article.flight thead {
      font-variant: small-caps;
      text-transform: lowercase; }
      .comparison-column article.flight thead th {
        font-weight: normal !important;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background-color: #eeeeee;
        border-bottom: 1px solid #dddddd;
        text-align: center; }
      .comparison-column article.flight thead .date {
        color: #888888;
        font-size: 0.875em;
        margin-left: 0.5em; }
    .comparison-column article.flight .custom.radio {
      border-radius: 5px;
      height: auto;
      width: auto;
      font-size: 0.75em;
      border: none;
      background: white;
      border: 1px solid #cccccc;
      box-shadow: 1px 1px 0 0 #dddddd; }
      .comparison-column article.flight .custom.radio.checked {
        background: #f6f6f6;
        border: none;
        box-shadow: none; }
      .comparison-column article.flight .custom.radio.checked:before {
        display: none; }
      .comparison-column article.flight .custom.radio:hover {
        box-shadow: 0px 0px 1px 0 #dddddd;
        color: #c24548 !important; }
    .comparison-column article.flight table.flight-options {
      width: 100%;
      margin-bottom: 0.5em;
      text-align: center;
      border: none; }
        .comparison-column article.flight table.flight-options thead th {
          width: 50%; }
        .comparison-column article.flight table.flight-options thead th:last-child {
          border-left: 1px solid #dddddd; }
        .comparison-column article.flight table.flight-options tbody tr {
          background-color: white; }
            .comparison-column article.flight table.flight-options tbody tr:hover .deselected {
              background-color: #eeeeee !important; }
          .comparison-column article.flight table.flight-options tbody tr.longer {
            display: none !important; }
            .comparison-column article.flight table.flight-options tbody tr.temporary .show-longer-overlay {
              display: none; }
          .comparison-column article.flight table.flight-options tbody tr td {
            padding: 0.5em 0.25em;
            border-bottom: 1px solid #dddddd; }
            .comparison-column article.flight table.flight-options tbody tr td.deselected {
              cursor: pointer; }
            .comparison-column article.flight table.flight-options tbody tr td.deselected,
            .comparison-column article.flight table.flight-options tbody tr td[colspan] {
              background-color: #f6f6f6 !important; }
              .comparison-column article.flight table.flight-options tbody tr td.deselected time,
              .comparison-column article.flight table.flight-options tbody tr td.deselected .price,
              .comparison-column article.flight table.flight-options tbody tr td.deselected .has-tip,
              .comparison-column article.flight table.flight-options tbody tr td[colspan] time,
              .comparison-column article.flight table.flight-options tbody tr td[colspan] .price,
              .comparison-column article.flight table.flight-options tbody tr td[colspan] .has-tip {
                color: #888888 !important; }
              .comparison-column article.flight table.flight-options tbody tr td.deselected .stops strong,
              .comparison-column article.flight table.flight-options tbody tr td[colspan] .stops strong {
                background: white; }
            .comparison-column article.flight table.flight-options tbody tr td.radio-col {
              border-left: 1px solid #dddddd;
              background-image: url(../img/green-arrow.png);
              background-position: top left;
              background-repeat: no-repeat; }
              .comparison-column article.flight table.flight-options tbody tr td.radio-col:first-child {
                border-left: none; }
              .comparison-column article.flight table.flight-options tbody tr td.radio-col.deselected,
              .comparison-column article.flight table.flight-options tbody tr td.radio-col[colspan] {
                background-image: none; }
        .comparison-column article.flight table.flight-options tbody .radio-col {
          width: 10%; }
        .comparison-column article.flight table.flight-options tbody .schedule-col {
          width: 30%; }
        .comparison-column article.flight table.flight-options tbody .stops-col {
          width: 10%; }
    .comparison-column article.flight .actions {
      text-align: right; }
      .comparison-column article.flight .actions > .book-ticket {
        display: none; }
      .comparison-column article.flight .actions .hide-classes {
        display: none;
        font-size: 0.75em;
        margin-right: 0.5em; }
      .comparison-column article.flight .actions .button {
        margin-bottom: 0.5em; }
      .comparison-column article.flight .actions .hide-flight-details {
        display: none; }



.classes-wrapper {
  display: none; }
  .classes-wrapper > h6 {
    text-align: center;
    margin-top: 1em; }



.classes-wrapper > form {
  background-color: #f6f6f6;
  background-image: url(../img/vert_border.png);
  background-position: 1.3em 0;
  background-repeat: repeat-y;
  border-radius: 5px 0 0 5px;
  padding: 0 0 0 3.5em !important;
  position: relative; }
  .classes-wrapper > form .foundicon-star {
    position: absolute;
    font-size: 0.75em;
    color: #888888; }

  .classes-wrapper > form .star-1 {
    top: 1.5em;
    left: 2em; }

  .classes-wrapper > form .star-2 {
    bottom: 2em;
    left: 1em; }

  .classes-wrapper > form .star-3 {
    bottom: 2em;
    left: 3em; }

  .classes-wrapper > form .star-4 {
    bottom: 2.5em;
    left: 2em; }

  .classes-wrapper > form .classes {
    width: 100%;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #cccccc;
    margin-bottom: 0; }
    .classes-wrapper > form .classes .progress {
      cursor: pointer; }
      .classes-wrapper > form .classes .progress .goal.hover {
        display: none; }
        .classes-wrapper > form .classes .progress:hover .goal {
          display: none; }
          .classes-wrapper > form .classes .progress:hover .goal.hover {
            display: inline; }
    .classes-wrapper > form .classes tbody {
      background: #f6f6f6; }
      .classes-wrapper > form .classes tbody tr {
        background-color: white; }
      .classes-wrapper > form .classes tbody tr.separator {
        background-color: transparent; }
        .classes-wrapper > form .classes tbody tr.separator th {
          font-weight: normal;
          text-align: left;
          padding-bottom: 0;
          padding-top: 1em; }
        .classes-wrapper > form .classes tbody tr.separator:first-child th {
          padding-top: 0.563em; }
        .classes-wrapper > form .classes tbody tr.separator:first-child + tr {
          border-bottom: 2px solid #cccccc; }
        .classes-wrapper > form .classes tbody tr.separator span {
          background: white;
          padding: 5px;
          display: inline-block;
          border-radius: 5px 5px 0 0;
          box-shadow: 1px -1px 2px -1px #dddddd; }
      .classes-wrapper > form .classes tbody tr.deselected {
        cursor: pointer; }
        .classes-wrapper > form .classes tbody tr.deselected:hover {
          box-shadow: 1px 1px 5px #cccccc; }
        .classes-wrapper > form .classes tbody tr.deselected td,
        .classes-wrapper > form .classes tbody tr.deselected .price,
        .classes-wrapper > form .classes tbody tr.deselected .miles {
          color: #888888 !important; }
        .classes-wrapper > form .classes tbody tr.deselected td.radio-col {
          background: none; }
          .classes-wrapper > form .classes tbody tr.deselected .progress > .goal {
            color: #cccccc false; }
          .classes-wrapper > form .classes tbody tr.deselected .progress .meter {
            background: #cccccc; }
            .classes-wrapper > form .classes tbody tr.deselected .progress .meter .goal {
              color: white !important; }
          .classes-wrapper > form .classes tbody tr.deselected .progress.completed {
            box-shadow: none; }
            .classes-wrapper > form .classes tbody tr.deselected .progress.completed .meter {
              background: #cccccc url(../img/progress_bg.png) top left repeat; }
    .classes-wrapper > form .classes .radio-col {
      text-align: center;
      background: url("../img/green-arrow.png") no-repeat left top; }
      .classes-wrapper > form .classes .features-col ul {
        list-style: none;
        font-size: 0.875em; }
    .classes-wrapper > form .classes .progress-col {
      width: 40%; }
      .classes-wrapper > form .classes .progress-col .progress.caption {
        height: 2em; }
        .classes-wrapper > form .classes .progress-col .progress.caption .goal {
          font-size: 1em; }



.booking-dropdown {
  text-align: right; }
  .booking-dropdown .booking-upsell {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #dddddd; }
    .booking-dropdown .booking-upsell p {
      margin-bottom: 0.5em; }



  .new-search-section .search-progress {
    display: none;
    padding-bottom: 20em;
    border-top: none !important; }



/*
 * --- Booking Page ---
 */
  .booking-modal .foundicon-error {
    color: #f3a0a2; }

  .booking-modal .loader {
    padding-left: 40px; }

  .booking-modal .actions a {
    margin-right: 1em; }



#booking-fare-modal,
#booking-error-modal {
  background-image: url(../img/alert_bg.png);
  background-repeat: no-repeat;
  background-position: top right; }


#booking-page,
#booking-success {
  background: #189bab;
  margin-top: -45px;
  padding: 45px 0;
  margin-bottom: -1.5em; }
  #booking-page .anchor,
  #booking-success .anchor {
    height: 0;
    position: relative;
    top: -100px; }

  #booking-page h1 span,
  #booking-success h1 span {
    color: #eeee99; }

    #booking-page .plain hr,
    #booking-success .plain hr {
      border-color: #189bab; }
    #booking-page .plain table,
    #booking-success .plain table {
      border-color: #189bab; }
    #booking-page .plain .desc,
    #booking-success .plain .desc {
      color: #22404c; }

  #booking-page .progress,
  #booking-success .progress {
    background: white;
    box-shadow: 1px 1px 0 0 #406473; }
    #booking-page .progress .threshold,
    #booking-success .progress .threshold {
      background: transparent; }
      #booking-page .progress .threshold span,
      #booking-success .progress .threshold span {
        color: #22404c; }

  #booking-page .breadcrumbs,
  #booking-success .breadcrumbs {
    background: url(../img/white_bg.png) top left repeat;
    border: none;
    box-shadow: 1px 1px 1px #406473; }

  #booking-page > *,
  #booking-success > * {
    position: relative; }

  #booking-page #booking-bg,
  #booking-success #booking-bg {
    position: fixed;
    z-index: 0;
    height: 90%;
    opacity: 0.2;
    left: -200px; }

  #booking-page + footer,
  #booking-success + footer {
    text-shadow: 1px 1px 2px white;
    position: relative;
    z-index: 1; }

  #booking-page h1,
  #booking-page h2,
  #booking-page h3,
  #booking-success h1,
  #booking-success h2,
  #booking-success h3 {
    text-shadow: 2px 2px 1px #406473;
    color: #f6f6f6; }

  #booking-page > section,
  #booking-success > section {
    margin-bottom: 2em; }

    #booking-page fieldset .row,
    #booking-success fieldset .row {
      margin-bottom: 0.5em; }

  #booking-page #booking-sumup,
  #booking-success #booking-sumup {
    margin-top: 2em; }
    #booking-page #booking-sumup .booking-panel,
    #booking-success #booking-sumup .booking-panel {
      background-image: url(../img/arrow_bg.png);
      background-position: center center;
      background-repeat: repeat-x;
      background-color: #fdfaed;
      border: 1px solid #d9ce9d;
      margin-bottom: 1.25em;
      padding: 1.25em;
      border-radius: 5px; }
      #booking-page #booking-sumup .booking-panel > .row > .columns:first-child,
      #booking-success #booking-sumup .booking-panel > .row > .columns:first-child {
        text-align: right; }
    #booking-page #booking-sumup h5,
    #booking-success #booking-sumup h5 {
      margin-bottom: 0.1em; }
    #booking-page #booking-sumup h6.duration,
    #booking-success #booking-sumup h6.duration {
      text-align: center; }
    #booking-page #booking-sumup time,
    #booking-success #booking-sumup time {
      display: block;
      font-size: 1.438em;
      letter-spacing: normal; }
      #booking-page #booking-sumup time span,
      #booking-success #booking-sumup time span {
        font-variant: small-caps; }
    #booking-page #booking-sumup p,
    #booking-success #booking-sumup p {
      font-size: 0.75em; }
    #booking-page #booking-sumup table,
    #booking-success #booking-sumup table {
      width: 100%;
      font-size: 0.875em;
      margin-bottom: 0;
      box-shadow: 0 1px 3px #dddddd inset; }
        #booking-page #booking-sumup table thead th,
        #booking-success #booking-sumup table thead th {
          font-weight: normal;
          text-transform: uppercase; }
        #booking-page #booking-sumup table thead tr:first-child th,
        #booking-success #booking-sumup table thead tr:first-child th {
          text-align: center; }
        #booking-page #booking-sumup table tbody td:first-child,
        #booking-success #booking-sumup table tbody td:first-child {
          padding-right: 0; }
          #booking-page #booking-sumup table tbody td:first-child span,
          #booking-success #booking-sumup table tbody td:first-child span {
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 1000px;
            background-repeat: no-repeat;
            background-position: center center; }
          #booking-page #booking-sumup table .layover-row td:first-child span,
          #booking-success #booking-sumup table .layover-row td:first-child span {
            background-image: url(../img/clock-icon.png) ;;
            background-color: #888888; }
        #booking-page #booking-sumup table .layover-row time,
        #booking-success #booking-sumup table .layover-row time {
          display: inline; }
        #booking-page #booking-sumup table .layover-row .time,
        #booking-success #booking-sumup table .layover-row .time {
          margin-top: 0.5em; }
          #booking-page #booking-sumup table .flight-row td:first-child span,
          #booking-success #booking-sumup table .flight-row td:first-child span {
            background-image: url(../img/plane-icon.png) ;;
            background-color: #c7f3a0; }
        #booking-page #booking-sumup table .flight-row td.arrow,
        #booking-success #booking-sumup table .flight-row td.arrow {
          padding: 0;
          vertical-align: middle; }
          #booking-page #booking-sumup table .flight-row td.arrow span,
          #booking-success #booking-sumup table .flight-row td.arrow span {
            color: #888888; }
      #booking-page #booking-sumup table th,
      #booking-page #booking-sumup table td,
      #booking-success #booking-sumup table th,
      #booking-success #booking-sumup table td {
        padding-right: 0.5em;
        padding-left: 0.5em; }
      #booking-page #booking-sumup table time,
      #booking-success #booking-sumup table time {
        font-size: 1em; }
      #booking-page #booking-sumup table .airline-col,
      #booking-success #booking-sumup table .airline-col {
        text-align: center; }
        #booking-page #booking-sumup table .airline-col img,
        #booking-success #booking-sumup table .airline-col img {
          margin-right: 0.25em;
          vertical-align: middle; }
        #booking-page #booking-sumup table .airline-col .small,
        #booking-success #booking-sumup table .airline-col .small {
          margin-top: 0.5em; }

    #booking-page #booking-ffp .graph,
    #booking-success #booking-ffp .graph {
      margin: 0.5em 0 1em 0; }
    #booking-page #booking-ffp .icon,
    #booking-success #booking-ffp .icon {
      color: white;
      font-size: 2.5em;
      text-align: center; }
    #booking-page #booking-ffp .prefix,
    #booking-success #booking-ffp .prefix {
      border: none;
      border-radius: 5px 0 0 5px; }
    #booking-page #booking-ffp .dropdown,
    #booking-page #booking-ffp input[type="text"],
    #booking-success #booking-ffp .dropdown,
    #booking-success #booking-ffp input[type="text"] {
      margin-bottom: 0; }
    #booking-page #booking-ffp .progress,
    #booking-success #booking-ffp .progress {
      margin-bottom: 1.5em;
      margin-top: 0.25em; }
      #booking-page #booking-ffp .progress .threshold,
      #booking-success #booking-ffp .progress .threshold {
        height: 70%; }
    #booking-page #booking-ffp table,
    #booking-success #booking-ffp table {
      font-size: 0.875em;
      width: 100%;
      margin-bottom: 0; }
        #booking-page #booking-ffp table thead th,
        #booking-success #booking-ffp table thead th {
          text-align: center; }
        #booking-page #booking-ffp table tbody th,
        #booking-page #booking-ffp table tfoot th,
        #booking-success #booking-ffp table tbody th,
        #booking-success #booking-ffp table tfoot th {
          text-align: right; }
        #booking-page #booking-ffp table tbody td,
        #booking-page #booking-ffp table tfoot td,
        #booking-success #booking-ffp table tbody td,
        #booking-success #booking-ffp table tfoot td {
          text-align: center; }
      #booking-page #booking-ffp table tbody tr,
      #booking-success #booking-ffp table tbody tr {
        background: white; }
      #booking-page #booking-ffp table tbody tr:first-child,
      #booking-page #booking-ffp table tfoot tr:last-child,
      #booking-success #booking-ffp table tbody tr:first-child,
      #booking-success #booking-ffp table tfoot tr:last-child {
        background: #f6f6f6;
        border-top: 1px solid #888888;
        border-bottom: 1px solid #888888; }
        #booking-page #booking-ffp table tbody tr:first-child td,
        #booking-page #booking-ffp table tbody tr:first-child th,
        #booking-page #booking-ffp table tfoot tr:last-child td,
        #booking-page #booking-ffp table tfoot tr:last-child th,
        #booking-success #booking-ffp table tbody tr:first-child td,
        #booking-success #booking-ffp table tbody tr:first-child th,
        #booking-success #booking-ffp table tfoot tr:last-child td,
        #booking-success #booking-ffp table tfoot tr:last-child th {
          color: #888888; }

    #booking-page #booking-passengers fieldset,
    #booking-success #booking-passengers fieldset {
      background: white; }
      #booking-page #booking-passengers fieldset legend,
      #booking-success #booking-passengers fieldset legend {
        box-shadow: 0 0 3px -1px #333333; }
    #booking-page #booking-passengers .citizenship,
    #booking-page #booking-passengers .dob,
    #booking-success #booking-passengers .citizenship,
    #booking-success #booking-passengers .dob {
      position: relative;
      top: 0.25em; }
    #booking-page #booking-passengers .redress-number,
    #booking-success #booking-passengers .redress-number {
      display: none; }
    #booking-page #booking-passengers .inline-list,
    #booking-success #booking-passengers .inline-list {
      margin-bottom: 0; }
      #booking-page #booking-passengers .inline-list label,
      #booking-success #booking-passengers .inline-list label {
        line-height: 1; }

    #booking-page #booking-order .panel,
    #booking-success #booking-order .panel {
      background: #f6f6f6;
      border-radius: 5px;
      border: none;
      box-shadow: 0 1px 2px #aaaaaa; }
    #booking-page #booking-order table,
    #booking-success #booking-order table {
      width: 100%; }
      #booking-page #booking-order table.order th:last-child,
      #booking-page #booking-order table.order td:last-child,
      #booking-success #booking-order table.order th:last-child,
      #booking-success #booking-order table.order td:last-child {
        text-align: right; }
      #booking-page #booking-order table.order td:nth-child(2),
      #booking-success #booking-order table.order td:nth-child(2) {
        text-align: center; }
      #booking-page #booking-order table.order td,
      #booking-success #booking-order table.order td {
        line-height: 1.35; }

    #booking-page #booking-payment ul,
    #booking-success #booking-payment ul {
      margin-bottom: 0; }
      #booking-page #booking-payment ul span.radio,
      #booking-success #booking-payment ul span.radio {
        margin-right: 0.5em; }
    #booking-page #booking-payment .card-type,
    #booking-success #booking-payment .card-type {
      margin-top: 0.5em; }
      #booking-page #booking-payment .card-type label,
      #booking-success #booking-payment .card-type label {
        display: inline;
        margin-right: 1em; }
      #booking-page #booking-payment .cards img,
      #booking-success #booking-payment .cards img {
        border-radius: 5px;
        margin-bottom: 0.5em;
        padding: 0.5em;
        background: url(../img/white_bg.png) top left repeat; }
      #booking-page #booking-payment .cards span.radio.checked + img,
      #booking-success #booking-payment .cards span.radio.checked + img {
        background: white;
        box-shadow: 1px 1px 2px 0 #406473 inset; }
    #booking-page #booking-payment .card,
    #booking-success #booking-payment .card {
      background: white;
      padding: 1em;
      border: 2px dashed #406473;
      border-radius: 1em; }
    #booking-page #booking-payment label.desc,
    #booking-success #booking-payment label.desc {
      margin-top: 1.5em;
      text-align: right; }
    #booking-page #booking-payment .stripe,
    #booking-success #booking-payment .stripe {
      background: #f1f1f1;
      padding-top: 1em;
      margin-top: 1em; }
    #booking-page #booking-payment .security,
    #booking-success #booking-payment .security {
      text-align: right; }
    #booking-page #booking-payment input,
    #booking-success #booking-payment input {
      height: 2em; }

    #booking-page #booking-terms p,
    #booking-page #booking-terms label,
    #booking-success #booking-terms p,
    #booking-success #booking-terms label {
      color: #dddddd;
      text-shadow: 1px 1px 2px #406473; }
      #booking-page #booking-terms p span.checkbox,
      #booking-page #booking-terms p .label,
      #booking-page #booking-terms label span.checkbox,
      #booking-page #booking-terms label .label,
      #booking-success #booking-terms p span.checkbox,
      #booking-success #booking-terms p .label,
      #booking-success #booking-terms label span.checkbox,
      #booking-success #booking-terms label .label {
        text-shadow: none; }
      #booking-page #booking-terms p a,
      #booking-page #booking-terms label a,
      #booking-success #booking-terms p a,
      #booking-success #booking-terms label a {
        color: white; }

    #booking-page #booking-confirm.plain,
    #booking-success #booking-confirm.plain {
      padding: 1em 0; }
      #booking-page #booking-confirm.plain .button span,
      #booking-success #booking-confirm.plain .button span {
        color: #eeee99; }
      #booking-page #booking-confirm.plain p,
      #booking-success #booking-confirm.plain p {
        text-align: right; }
    #booking-page #booking-confirm h4,
    #booking-success #booking-confirm h4 {
      text-align: right; }
    #booking-page #booking-confirm label[for="save-to-profile"],
    #booking-success #booking-confirm label[for="save-to-profile"] {
      margin-bottom: 1.5em; }
    #booking-page #booking-confirm p.desc,
    #booking-success #booking-confirm p.desc {
      margin-top: 1em;
      margin-bottom: 0; }
      #booking-page #booking-confirm .confirm .button,
      #booking-success #booking-confirm .confirm .button {
        margin-bottom: 0;; }
      #booking-page #booking-confirm .confirm p.desc,
      #booking-success #booking-confirm .confirm p.desc {
        text-align: center;
        color: #dddddd;
        text-shadow: 1px 1px 2px #406473; }



  #booking-success .panel {
    margin-top: 1.25em; }

  #booking-success hr {
    border-color: #406473; }

  #booking-success h4,
  #booking-success #booking-ffp .desc {
    text-shadow: 1px 1px 2px #406473;
    color: #dddddd; }

  #booking-success h4 {
    position: relative; }
    #booking-success h4 span {
      color: white; }



/*
 * --- Front Page ---
 */
.front-wrapper {
  position: relative;
  z-index: 2; }


  .search-form .airports {
    padding-bottom: 0.5em;
    background: #f6f6f6;
    padding-top: 0.75em; }

  .search-form .dates {
    background: #f6f6f6;
    padding-top: 0.5em;
    margin-bottom: 1em; }

  .search-form .airport {
    margin-bottom: 0.5em; }

    .search-form section:first-child .content {
      position: relative !important;
      left: 0px !important;
      display: block !important;
      top: 48px !important; }
    .search-form section:first-child .dates .return {
      display: none; }
      .search-form section:first-child.active .content {
        top: -1px !important; }
      .search-form section:first-child.active .dates .return {
        display: block; }
      .search-form section:first-child + section .content {
        display: none !important; }



.banner-inner {
  position: relative; }


  .banner hgroup {
    margin-bottom: 1em;
    text-shadow: 2px 2px 1px #406473; }
    .banner hgroup h2 {
      color: #ffee88;
      margin-bottom: -0.25em;
      margin-top: 3em; }
    .banner hgroup h4 {
      color: white; }

  .banner .button {
    clear: both;
    float: left;
    margin-top: 0.5em; }
    .banner .button .foundicon-down-arrow {
      vertical-align: top;
      margin-left: 0.5em; }



.benefits {
  padding-top: 1em;
  border: 1px solid #888888;
  position: relative;
  text-align: center; }
  .benefits figure {
    margin: 0.5em 0; }

    .benefits hgroup h5 {
      margin-bottom: 0; }



.scroll-hint {
  text-align: center; }
  .scroll-hint h4,
  .scroll-hint h3 {
    margin: 0;
    line-height: 1; }



/*
 * --- Log In Modal ---
 */
  #login-modal .login-panel {
    background: url(../img/search_bg.png) center top repeat-y;
    padding-top: 1.5em;
    border-top: 1px solid #cccccc; }
    #login-modal .login-panel > .columns:first-child {
      text-align: center; }

  #login-modal .content > .panel {
    display: none; }

  #login-modal .content > .panel.show,
  #login-modal .content > .alert-box.show {
    display: block; }

  #login-modal .panel.show + .login-panel {
    border-top: none; }



/*
 * --- Account Page ---
 */
.account {
  padding-top: 2em;
  background-image: url(../img/gear_bg.png);
  background-repeat: no-repeat;
  background-position: right top; }
  .account .new-program-prefix {
    cursor: pointer; }

    .account #miles-result .alert-box {
      display: block; }

  .account form.new-program,
  .account form.edit-program {
    box-shadow: 0 1px 5px -3px #333333;
    margin-bottom: 1.5em; }
      .account form.new-program .prefix.loader,
      .account form.edit-program .prefix.loader {
        background-position: 97% center !important; }
      .account form.new-program .prefix .foundicon-add-doc,
      .account form.edit-program .prefix .foundicon-add-doc {
        font-size: 1.5em;
        width: 2.5em;
        color: white;
        background: #c7f3a0;
        border-radius: 1000em;
        box-shadow: inset 0 0 3px 0 #cccccc;
        display: inline-block;
        padding: 0.25em;
        position: absolute;
        top: -0.4em;
        left: 12.5%;
        border: 1px solid #cccccc; }
    .account form.new-program .card-no-row,
    .account form.edit-program .card-no-row {
      margin-top: 1em; }
    .account form.new-program .change-new-program,
    .account form.edit-program .change-new-program {
      margin-right: 1em; }
    .account form.new-program #program + .dropdown,
    .account form.new-program .add-new-program,
    .account form.edit-program #program + .dropdown,
    .account form.edit-program .add-new-program {
      margin-bottom: 0; }
    .account form.new-program #program-pass,
    .account form.edit-program #program-pass {
      margin-bottom: 0; }

    .account #new-program-details > h5,
    .account #edit-program-details > h5 {
      background: white;
      padding: 0.2em;
      border-bottom: 2px solid #dddddd;
      margin-bottom: 2em;
      color: #888888; }
    .account #new-program-details .foundicon-idea,
    .account #new-program-details .foundicon-lock,
    .account #new-program-details .foundicon-clock,
    .account #edit-program-details .foundicon-idea,
    .account #edit-program-details .foundicon-lock,
    .account #edit-program-details .foundicon-clock {
      color: #dddddd;
      font-size: 1.5em;
      margin-right: 0.5em;
      vertical-align: middle; }
    .account #new-program-details #program-pass + p,
    .account #edit-program-details #program-pass + p {
      margin-top: 0.5em; }
    .account #new-program-details .reconnect,
    .account #edit-program-details .reconnect {
      display: none; }
    .account #new-program-details fieldset,
    .account #edit-program-details fieldset {
      background: white; }
      .account #new-program-details fieldset legend,
      .account #edit-program-details fieldset legend {
        background: #eeeeee;
        border: 1px solid #cccccc;
        font-size: 0.875em; }
        .account #new-program-details fieldset legend .foundicon-lock,
        .account #edit-program-details fieldset legend .foundicon-lock {
          color: #aaaaaa; }
    .account #new-program-details.loaded,
    .account #edit-program-details.loaded {
      background: #f6f6f6;
      padding: 0.5em 1em; }
    .account #new-program-details .mile-values,
    .account #edit-program-details .mile-values {
      margin: 0 0 2em 0; }
    .account #new-program-details #miles-manual-wrapper,
    .account #edit-program-details #miles-manual-wrapper {
      display: none; }
    .account #new-program-details .hint,
    .account #edit-program-details .hint {
      margin-top: 0.5em; }
      .account #new-program-details .hint > .row,
      .account #edit-program-details .hint > .row {
        background: white;
        margin: 0 0.5em;
        padding: 0.25em 0;
        border-radius: 5px; }
      .account #new-program-details .hint .columns:first-child,
      .account #edit-program-details .hint .columns:first-child {
        text-align: center; }
        .account #new-program-details .hint .columns:first-child span,
        .account #edit-program-details .hint .columns:first-child span {
          font-size: 2.5em; }
      .account #new-program-details .hint h6,
      .account #edit-program-details .hint h6 {
        line-height: 2.5;
        color: #888888; }
    .account #new-program-details #save-program,
    .account #new-program-details #delete-program,
    .account #edit-program-details #save-program,
    .account #edit-program-details #delete-program {
      margin-right: 1em; }
    .account #new-program-details #program-cards-wrapper,
    .account #edit-program-details #program-cards-wrapper {
      position: relative; }
    .account #new-program-details #program-cards,
    .account #edit-program-details #program-cards {
      position: absolute;
      top: 0;
      left: -50000em;
      width: 100%;
      min-height: 200px; }
      .account #new-program-details #program-cards.shown,
      .account #edit-program-details #program-cards.shown {
        left: 0;
        position: relative; }
      .account #new-program-details #program-cards .switches-wrapper,
      .account #edit-program-details #program-cards .switches-wrapper {
        position: absolute;
        left: 0;
        width: 100%;
        margin: 0;
        top: 40%;
        z-index: 10; }
        .account #new-program-details #program-cards .switches-wrapper .switch,
        .account #edit-program-details #program-cards .switches-wrapper .switch {
          box-shadow: 2px 2px 10px black; }
      .account #new-program-details #program-cards .orbit-container,
      .account #edit-program-details #program-cards .orbit-container {
        background: none; }
      .account #new-program-details #program-cards .orbit-bullets,
      .account #edit-program-details #program-cards .orbit-bullets {
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        margin: -1em 0 1em 0;
        z-index: 100; }
        .account #new-program-details #program-cards .orbit-bullets li,
        .account #edit-program-details #program-cards .orbit-bullets li {
          display: inline-block;
          float: none;
          cursor: pointer;
          background: #dddddd;
          height: 12px;
          width: 12px; }
          .account #new-program-details #program-cards .orbit-bullets li.active,
          .account #edit-program-details #program-cards .orbit-bullets li.active {
            background: #222222; }
          .account #new-program-details #program-cards .orbit-bullets li:hover,
          .account #edit-program-details #program-cards .orbit-bullets li:hover {
            background: #129cbc; }
      .account #new-program-details #program-cards .program-card,
      .account #edit-program-details #program-cards .program-card {
        padding: 0.5em;
        border-radius: 5px;
        border: 1px solid #dddddd;
        background: white;
        min-height: 175px; }
      .account #new-program-details #program-cards .orbit-timer,
      .account #edit-program-details #program-cards .orbit-timer {
        display: none; }
      .account #new-program-details #program-cards .orbit-slide-number,
      .account #edit-program-details #program-cards .orbit-slide-number {
        text-align: right;
        height: 1em;
        margin-top: 0.5em;
        color: #888888;
        position: static; }
      .account #new-program-details #program-cards .orbit-prev,
      .account #new-program-details #program-cards .orbit-next,
      .account #edit-program-details #program-cards .orbit-prev,
      .account #edit-program-details #program-cards .orbit-next {
        background-color: white;
        top: 1px;
        height: 35px;
        line-height: 35px;
        margin-top: 0;
        width: 35px; }
        .account #new-program-details #program-cards .orbit-prev span,
        .account #new-program-details #program-cards .orbit-next span,
        .account #edit-program-details #program-cards .orbit-prev span,
        .account #edit-program-details #program-cards .orbit-next span {
          border: 7px inset;
          margin-top: -7px;
          top: 50%;
          margin-left: 0;
          margin-right: 0; }
      .account #new-program-details #program-cards .orbit-prev,
      .account #edit-program-details #program-cards .orbit-prev {
        border-radius: 0 0 25px 0;
        left: 1px; }
        .account #new-program-details #program-cards .orbit-prev span,
        .account #edit-program-details #program-cards .orbit-prev span {
          border-color: transparent #dddddd transparent transparent; }
          .account #new-program-details #program-cards .orbit-prev:hover span,
          .account #edit-program-details #program-cards .orbit-prev:hover span {
            border-color: transparent #406473 transparent transparent; }
      .account #new-program-details #program-cards .orbit-next,
      .account #edit-program-details #program-cards .orbit-next {
        border-radius: 0 0 0 25px;
        right: 1px; }
        .account #new-program-details #program-cards .orbit-next span,
        .account #edit-program-details #program-cards .orbit-next span {
          border-color: transparent transparent transparent #dddddd; }
          .account #new-program-details #program-cards .orbit-next:hover span,
          .account #edit-program-details #program-cards .orbit-next:hover span {
            border-color: transparent transparent transparent #406473; }

  .account .programs-wrapper {
    min-height: 15em;
    margin-bottom: 5em; }
    .account .programs-wrapper fieldset {
      background: white; }
    .account .programs-wrapper article {
      border: 1px solid #cccccc;
      margin-bottom: 1.5em;
      border-radius: 5px;
      background: white; }
        .account .programs-wrapper article.disabled .stats {
          display: none; }
        .account .programs-wrapper article.disabled .panel {
          background: #f6f6f6;
          border-radius: 5px; }
      .account .programs-wrapper article .stats {
        border-bottom: 1px solid #cccccc;
        padding: 0.5em 1.25em; }
        .account .programs-wrapper article .stats .progress {
          margin-bottom: 1.5em; }
        .account .programs-wrapper article .stats .progress.caption {
          font-size: 1em;
          overflow: visible; }
        .account .programs-wrapper article .stats:last-child {
          border-bottom: none; }
        .account .programs-wrapper article .stats .columns:first-child {
          text-align: center; }
      .account .programs-wrapper article .panel {
        border: none;
        padding: 0.5em 1.25em;
        margin-bottom: 0;
        border-radius: 5px 5px 0 0; }
        .account .programs-wrapper article .panel .status-icon,
        .account .programs-wrapper article .panel .actions {
          text-align: center; }
        .account .programs-wrapper article .panel .status-icon {
          margin-top: -1em;
          background: white;
          border: 1px solid #cccccc;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          border-radius: 0 0 5px 5px;
          box-shadow: 1px 1px 1px #dddddd; }
          .account .programs-wrapper article .panel .actions .switch {
            margin-bottom: 0.5em; }
        .account .programs-wrapper article .panel .dates p {
          color: #888888; }
        .account .programs-wrapper article .panel .logo {
          margin-top: 0.5em; }
        .account .programs-wrapper article .panel .foundicon-star {
          font-size: 2em;
          display: block;
          color: #f6f6f6;
          text-shadow: 1px 1px 1px #cccccc; }
          .account .programs-wrapper article .panel .foundicon-star.gold {
            color: #f2eec5; }
          .account .programs-wrapper article .panel .foundicon-star.platinum {
            color: #ecec77;
            box-shadow: 0 0 16px #f2eec5 inset; }



/*
 * --- Footer ---
 */
footer {
  padding-bottom: 2em; }
  footer .gad {
    width: 970px; }
    footer .gad.mobile {
      width: 728px; }

  footer .logos {
    background: #f1f1f1;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 1em 0;
    margin: 1.5em 0; }

  footer .small-centered p.desc {
    text-align: center;
    margin-bottom: 0; }



/*
 * --- Alerts ---
 */
.alert1,
.alert2 {
  margin: 1em 0 2em 0; }
  .alert1 .toggle-alert,
  .alert2 .toggle-alert {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 18.5%;
    display: inline-block;
    padding: 3px 10px 0 10px;
    background: white;
    border-radius: 0 0 5px 5px;
    text-align: center;
    box-shadow: inset 1px 1px 2px #888888;
    color: #888888; }
    .alert1 .toggle-alert:hover,
    .alert2 .toggle-alert:hover {
      color: #129cbc;
      box-shadow: inset 1px 1px 1px #888888; }

  .alert1 p,
  .alert1 label,
  .alert2 p,
  .alert2 label {
    color: black; }

  .alert1 a,
  .alert2 a {
    color: #22404c; }

  .alert1 hr,
  .alert2 hr {
    border-color: #406473; }

  .alert1 h4,
  .alert2 h4 {
    color: black;
    text-shadow: 1px 1px 1px #f6f6f6;
    margin-bottom: 0; }

  .alert1 .icon,
  .alert2 .icon {
    text-align: center; }

  .alert1 .main,
  .alert2 .main {
    background: url(../img/alert_bg.png) top right no-repeat; }

  .alert1 .main,
  .alert1 .bar,
  .alert2 .main,
  .alert2 .bar {
    position: relative;
    padding: 0.688em; }

  .alert1 .bar,
  .alert2 .bar {
    display: none; }
    .alert1 .bar h6,
    .alert2 .bar h6 {
      margin: 0; }
    .alert1 .bar figure,
    .alert2 .bar figure {
      position: absolute;
      top: -26px;
      right: 0.688em;
      width: 75%; }
    .alert1 .bar img.finished,
    .alert2 .bar img.finished {
      top: -17px; }
    .alert1 .bar[class^="foundicon-"],
    .alert2 .bar[class^="foundicon-"] {
      vertical-align: sub !important; }

    .alert1.collapsed .main,
    .alert2.collapsed .main {
      display: none; }
    .alert1.collapsed .bar,
    .alert2.collapsed .bar {
      display: block; }

  .alert1 .actions,
  .alert2 .actions {
    line-height: 1.7; }
    .alert1 .actions[class^="foundicon-"],
    .alert2 .actions[class^="foundicon-"] {
      vertical-align: sub !important; }
    .alert1 .actions .button,
    .alert2 .actions .button {
      margin: 0 1em 0 0; }
    .alert1 .actions p,
    .alert2 .actions p {
      margin-bottom: 0;
      text-align: right; }



  .alert1 .row:last-child p,
  .alert1 .save-programs,
  .alert1 form,
  .alert1 .panel {
    margin-bottom: 0; }

  .alert1 .new-program {
    position: relative; }
    .alert1 .new-program .prefix,
    .alert1 .new-program .postfix {
      background: url(../img/white_bg.png) top left repeat;
      border-color: #189bab; }
    .alert1 .new-program.loader {
      background-position: 92% center;
      background-repeat: no-repeat; }
    .alert1 .new-program .foundicon-checkmark {
      color: #999999; }
    .alert1 .new-program .dropdown,
    .alert1 .new-program .apply-program {
      margin-bottom: 0 !important; }
    .alert1 .new-program.collapse {
      margin-top: 1em; }
    .alert1 .new-program .apply-program {
      margin-top: 1.2em; }

  .alert1 .remove-another-program {
    margin-left: 1em;
    text-shadow: 1px 1px 1px #666666; }
    .alert1 .remove-another-program:hover {
      color: #f3a0a2; }



  #no-program ul {
    height: 10em;
    overflow-y: scroll;
    background: #f6f6f6;
    padding: 0.5em;
    border-radius: 5px; }

    #no-program label .label {
      margin-left: 0.5em; }



  .alert2 .prefix,
  .alert2 .postfix.result {
    border: none; }

  .alert2 .main figure {
    border-radius: 5px 0 0 5px;
    background: #f2f2f2;
    padding: 0.5em 1em;
    text-align: center;
    height: 2.313em;
    overflow: hidden;
    font-size: 0.875em; }

  .alert2 p.desc {
    color: #888888; }

  .alert2 .manual-input {
    padding: 0 1em;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 1px #406473; }
    .alert2 .manual-input input {
      margin-bottom: 0; }
    .alert2 .manual-input p.desc {
      margin: 0 0.625em;
      text-align: center; }

  .alert2 .register-close-alert {
    color: white; }

  .alert2 .prefix {
    border-radius: 5px 0 0 5px; }

  .alert2 .close-alert.icon {
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    font-size: 0.75em; }

  .alert2 form,
  .alert2 .panel {
    margin-bottom: 0; }

  .alert2 .loader {
    background-position: 92% top;
    background-repeat: no-repeat; }

  .alert2 .postfix .row {
    margin: 0 -0.938em; }

    .alert2 form ul,
    .alert2 form input[type="password"] {
      margin-bottom: 0.5em; }
    .alert2 form p {
      margin-bottom: 0; }
    .alert2 form .program-input {
      margin-bottom: 0.75em !important; }
    .alert2 form small.error {
      margin-top: -0.6em; }



/*
 * Subpage
 */
.subpage {
  padding: 2em 0 6em 0;
  margin-bottom: 3em; }
    .subpage hgroup * {
      margin-bottom: 0;
      margin-top: 0; }
    .subpage hgroup *:first-child {
      margin-top: 0.2em; }
    .subpage hgroup *:last-child {
      margin-bottom: 0.5em; }



.press date {
  background: #f6f6f6;
  padding: 0.5em;
  display: block; }


.programs-subpage .columns:first-child {
  text-align: center;
  padding-top: 0.5em; }


/*
 * Mailchimp
 */
#mc_embed_signup input.mce_inline_error {
  border-color: #f3a0a2 !important; }


#mc_embed_signup div.mce_inline_error {
  background: #f3a0a2 !important;
  color: #741e20 !important;
  font-weight: normal !important;
  margin: -1em 0 1em 0 !important;
  font-size: 0.875em !important; }


/*
 * Front Page II
 */
#front {
  background: #189bab; }
  #front .banner-inner .section-container.tabs .content {
    box-shadow: 2px 2px 5px -2px #333333; }

  #front .benefits {
    box-shadow: 0 1px 2px 0 #406473;
    margin-top: 3em;
    margin-bottom: 2em; }

  #front .scroll-hint {
    margin-bottom: 2em;
    margin-top: 0; }
    #front .scroll-hint hgroup {
      padding: 0;
      text-shadow: 2px 2px 1px #406473;
      background: transparent;
      box-shadow: none; }
    #front .scroll-hint h4 {
      color: white; }
    #front .scroll-hint h3 {
      color: #dddddd; }

  #front .clouds {
    position: fixed;
    z-index: -1;
    max-width: none; }

    #front .banner-inner .button {
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; }

  #front #guide {
    padding: 0;
    margin-bottom: 5em; }
    #front #guide h1,
    #front #guide h2,
    #front #guide h3,
    #front #guide h4,
    #front #guide h5,
    #front #guide h6 {
      text-shadow: 1px 1px 2px #aaaaaa; }

  #front #guide-1 {
    background: #a4d8de;
    box-shadow: 0 1px 2px 0 #406473;
    text-align: left;
    margin-bottom: 2em; }
    #front #guide-1 .row {
      background: url(../img/san-francisco-bridge.jpg) bottom left no-repeat;
      min-height: 220px; }
    #front #guide-1 hgroup {
      margin-top: 2em; }
      #front #guide-1 hgroup h2 {
        margin: 0; }
      #front #guide-1 hgroup h2.subheader {
        margin-top: -0.4em;
        text-shadow: 1px 1px 1px #406473; }
    #front #guide-1 h1 {
      margin: 3em 0 0 0; }
    #front #guide-1 h2:first-child,
    #front #guide-1 h1 {
      color: #222222;
      text-shadow: 1px 1px 0 #189bab; }

  #front #guide-2 {
    margin-bottom: 120px;
    background: url(../img/bottom_highlight.png) center bottom no-repeat;
    padding-bottom: 34px;
    margin-top: 0;
    text-align: center; }
    #front #guide-2 h2 {
      margin: 0; }
    #front #guide-2 hgroup {
      height: 292px;
      padding: 55px 15px;
      border-radius: 15px;
      box-shadow: 0 1px 2px 0 #406473;
      border: 1px solid #dddddd; }
      #front #guide-2 hgroup h3 {
        margin: 0; }
    #front #guide-2 figure {
      display: none;
      position: static;
      margin-bottom: 0; }
    #front #guide-2 figcaption {
      position: absolute;
      width: 50%;
      right: 0;
      top: 55%;
      font-size: 1.688em;
      padding: 0; }

  #front #guide-3 {
    margin-bottom: 6em;
    position: relative;
    z-index: 2;
    text-align: center; }
    #front #guide-3 figure {
      position: absolute;
      width: 100%;
      left: 0;
      top: -115px; }
    #front #guide-3 hgroup {
      margin-top: 15px;
      position: relative;
      z-index: 3; }
    #front #guide-3 h3 {
      color: white;
      text-shadow: 1px 1px 1px #333333;
      margin: 0; }
    #front #guide-3 h1 {
      text-shadow: 1px 1px 1px #333333;
      margin: 0;
      color: #222222; }

  #front #guide-4 {
    position: relative;
    padding-top: 289px;
    margin-bottom: 0;
    z-index: 1;
    text-align: center; }
    #front #guide-4 .screen {
      position: absolute;
      top: 75px;
      width: 100%;
      opacity: 0; }
      #front #guide-4 .screen h4 {
        margin-bottom: 0; }
    #front #guide-4 .sumup {
      padding: 3em 0 1em 0;
      box-shadow: inset 0 5px 40px 0 #406473; }
      #front #guide-4 .sumup h3 {
        margin-bottom: 0; }
      #front #guide-4 .sumup h4 {
        margin-top: 0; }
      #front #guide-4 .sumup h3,
      #front #guide-4 .sumup h4 {
        color: white;
        text-shadow: 1px 1px 1px #406473; }
      #front #guide-4 .sumup .price {
        text-shadow: 1px 1px 1px white; }
    #front #guide-4 .hightlight {
      box-shadow: 0 -20px 150px 20px white;
      border-radius: 15px; }
    #front #guide-4 .animation {
      position: absolute;
      height: 689px;
      width: 100%;
      overflow: hidden;
      top: -200px;
      left: 0; }
    #front #guide-4 .comp {
      position: absolute;
      top: 200px; }

  #front #guide-5 {
    box-shadow: 0 1px 7px -3px #22404c;
    position: relative;
    z-index: 1; }
    #front #guide-5 img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2; }
    #front #guide-5 hgroup {
      padding: 2.5em 0;
      margin: 0; }
      #front #guide-5 hgroup h2 {
        margin-bottom: 0; }
      #front #guide-5 hgroup h1 {
        margin: -0.4em 0 0 0; }

  #front #guide-6 {
    box-shadow: 0 1px 2px 0 #406473;
    margin-bottom: 0; }
    #front #guide-6 hgroup {
      margin-top: 7em; }
      #front #guide-6 hgroup h1 {
        margin-bottom: 0; }
      #front #guide-6 hgroup h2 {
        margin-top: -0.4em; }
      #front #guide-6 hgroup h5 {
        margin: 0; }
    #front #guide-6 img {
      position: relative;
      top: -20px;
      z-index: 3;
      margin-bottom: -20px; }

  #front #guide-6-5 {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em; }
    #front #guide-6-5 hgroup {
      border: 15px solid #406473;
      box-shadow: 0 0 50px 0 #406473;
      border-radius: 1000em;
      position: relative;
      z-index: 9;
      display: inline-block;
      padding: 4em 3em; }
      #front #guide-6-5 hgroup h3,
      #front #guide-6-5 hgroup h5 {
        margin: 0; }
      #front #guide-6-5 hgroup h3 + h5 {
        margin: -0.5em 0; }

  #front #guide-7 {
    margin-top: 0;
    margin-bottom: 3em; }
    #front #guide-7 .golden {
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 1px 2px 0 #406473;
      margin-top: -1em;
      margin-bottom: -1em; }
      #front #guide-7 .golden img {
        border-radius: 15px 0 0 15px; }
      #front #guide-7 .golden hgroup {
        margin: 0; }
        #front #guide-7 .golden hgroup h3,
        #front #guide-7 .golden hgroup h5,
        #front #guide-7 .golden hgroup h2 {
          margin-bottom: 0; }
        #front #guide-7 .golden hgroup h5,
        #front #guide-7 .golden hgroup h2 {
          margin-top: 0; }
      #front #guide-7 .golden .inner {
        padding: 0.625em 0.625em 0 0; }

  #front #guide-8 {
    text-align: center; }
    #front #guide-8 h5 {
      margin-bottom: 0; }
    #front #guide-8 h3 {
      margin-top: 0; }
    #front #guide-8 h5,
    #front #guide-8 h3 {
      color: white;
      text-shadow: 2px 2px 1px #406473; }
    #front #guide-8 .button .desc {
      color: #666666; }
    #front #guide-8 h6 {
      color: white;
      text-shadow: 1px 1px 1px #406473; }
      #front #guide-8 h6 a {
        color: #c7f3a0; }

  #front footer {
    background: url(../img/plain_bg.png) top left repeat; }



/*
 * Browser Quirks
 */
form.custom .custom.checkbox.checked:before {
  content: '\00d7' !important;
  font-family: Arial, Helvetica, sans-serif !important;
  line-height: 10px !important;
  margin-left: 1px !important;
  margin-top: 0 !important; }


  .opera span.prefix,
  .safari span.prefix {
    position: relative;
    left: 1px; }



    .firefox .search-form section:first-child .content,
    .opera .search-form section:first-child .content {
      top: 49px !important; }
      .firefox .search-form section:first-child.active .content,
      .opera .search-form section:first-child.active .content {
        top: -1px !important; }



/*
 * --- Error Pages ---
 */
#page-404,
#page-500 {
  background-color: #189bab;
  color: white;
  margin-top: -45px;
  margin-bottom: -1.5em;
  padding: 45px 0; }
  #page-404 h1,
  #page-404 h2,
  #page-404 h3,
  #page-404 h4,
  #page-404 h5,
  #page-404 h6,
  #page-500 h1,
  #page-500 h2,
  #page-500 h3,
  #page-500 h4,
  #page-500 h5,
  #page-500 h6 {
    color: white;
    text-shadow: 2px 2px 1px #406473; }
    #page-404 h1 small,
    #page-404 h2 small,
    #page-404 h3 small,
    #page-404 h4 small,
    #page-404 h5 small,
    #page-404 h6 small,
    #page-500 h1 small,
    #page-500 h2 small,
    #page-500 h3 small,
    #page-500 h4 small,
    #page-500 h5 small,
    #page-500 h6 small {
      color: #dddddd; }

  #page-404 hr,
  #page-500 hr {
    border-color: #406473; }



  #page-404 h5 {
    margin-bottom: 2em; }



#page-500 {
  padding-bottom: 0; }
  #page-500 h4 {
    margin-bottom: 2em; }



/*
 * --- Responsive Stuff ---
 */
@media only screen and (min-width: 1024px) {
  .top-bar {
    border-bottom: 12px solid #111111; } }


@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2.313em; }


  h2 {
    font-size: 1.688em; }


  h3 {
    font-size: 1.438em; }


  h4 {
    font-size: 1.438em; }


  h5 {
    font-size: 1.125em; }


  h6 {
    font-size: 1em; }


  .banner h1 {
    font-size: 1.688em; }


      #front #guide-1 h1 {
        margin-top: 5.5em;
        font-size: 1.688em; }

      #front #guide-2 hgroup {
        padding: 70px 15px; }
        #front #guide-2 hgroup h3 {
          font-size: 1.125em; }



    .refine-search .airport {
      font-size: 1.125em; }

      .refine-search .date .small-2.small-offset-4 {
        margin-left: 0; }
      .refine-search .date .large-6 {
        width: 83.333%; }
        .refine-search .date .large-6.pull-4 {
          right: auto; }

      .refine-search .passengers .large-2.large-offset-4 {
        width: 25%;
        margin-left: 25%; }
      .refine-search .passengers .large-4.pull-2 {
        width: 50%;
        left: auto;
        right: auto; }

      .refine-search .submit .large-4 {
        width: 50%; }



    section.search-results .flight-label {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #cccccc;
      background-position: center 2em; }
      section.search-results .flight-label + .large-10 {
        width: 100%; }

    section.search-results .middle p {
      color: #444444 !important; }

    section.search-results .schedule {
      font-size: 1em !important; }
      section.search-results .schedule .foundicon-right-arrow {
        margin: 0 !important; }

    section.search-results .plus-icon p {
      font-size: 0.75em; }

    section.search-results .stats .large-6 {
      width: 100%; }

    section.search-results .pin {
      left: 12.5% !important; }

    section.search-results .time-slot {
      padding: 0.5em 0; }
      section.search-results .time-slot .icons {
        font-size: 2em;
        position: absolute;
        top: 0.25em;
        left: 0;
        margin-top: 0; }

        section.search-results .more-slot-results p.show a {
          display: block; }



    .comparison-column article.flight {
      overflow: hidden;
      border-left: 10px dashed #f3a0a2; }
      .comparison-column article.flight .flight-wrapper {
        min-width: 200%;
        left: -100%;
        position: relative; }



  .regular-results-footer-center {
    width: 75%; }


    form.filters .filter .small-6 {
      width: 100%; }



    .more-results .more-results-center {
      width: 75%; }



  time span {
    font-size: 0.75em; }


  .miles,
  .price {
    font-size: 1.125em; }


    footer .side-nav span {
      display: none; } }


/*
 * --- Alerts Temporary FIX ---
 */
  .alert1 > div {
    padding: 0.625em !important;
    background: url(../img/alert_bg.png) top right no-repeat; }

    .alert1 .apply-program span.foundicon-checkmark {
      display: none !important; }
    .alert1 .apply-program.disabled {
      margin-top: 0 !important; }
      .alert1 .apply-program.disabled span.foundicon-checkmark {
        display: inline !important; }
      .alert1 .apply-program.disabled span.text {
        display: none !important; }

  .alert1 .remove-another-program {
    margin-left: 0 !important;
    position: absolute !important;
    top: 0.5em !important;
    right: 1.2em !important; }

    .alert1 .new-program[programid] label {
      display: none !important; }

  .alert1 .actions {
    margin-top: 1em !important; }



.alert2 {
  position: relative !important; }
  .alert2 > div {
    padding: 0.625em !important;
    background: url(../img/alert_bg.png) top right no-repeat; }

  .alert2 figure {
    padding: 0.43em 1em !important;
    background: #f6f6f6 !important;
    border-radius: 5px 0 0 5px !important; }



#twitter-side-block {
  position: fixed;
  bottom: 10%;
  right: -15em;
  width: 15em;
  background-color: white;
  border-radius: 8px 0 0 8px;
  box-shadow: 1px 1px 6px -2px #333333;
  z-index: 20; }
  #twitter-side-block .collapse {
    display: none; }

  #twitter-side-block.collapsed {
    right: -13em !important;
    background-color: #feff88; }
    #twitter-side-block.collapsed .wrapper {
      visibility: hidden; }
    #twitter-side-block.collapsed .collapse {
      color: #888888;
      transform: rotateZ(-90deg);
      display: block;
      position: absolute;
      top: 124px;
      left: -6.5em;
      width: 100%;
      height: 2em;
      text-align: center;
      line-height: 2; }

  #twitter-side-block .wrapper {
    padding: 1.5em 1em 0.75em 1em; }

  #twitter-side-block .highlight {
    background-color: #feff88;
    margin-left: -1em;
    margin-right: -1em;
    padding: 85px 1em 0.5em 1em;
    background-image: url(../img/twitter_side_block_logos.png);
    background-position: center 0.75em;
    background-repeat: no-repeat;
    margin-bottom: 0.75em; }
    #twitter-side-block .highlight h6 {
      color: #bcbd46; }

  #twitter-side-block button.success {
    background-color: #79d845;
    border-color: #86d135;
    color: white; }

  #twitter-side-block button.success:focus,
  #twitter-side-block button.success:hover {
    color: white;
    background-color: #8ff045; }

  #twitter-side-block .close {
    position: absolute;
    top: 0.35em;
    right: 0.35em;
    color: #888888; }



#twitter-modal {
  min-width: 810px; }
  #twitter-modal hgroup {
    margin-bottom: 1.25em; }
    #twitter-modal hgroup h2 {
      margin-bottom: -0.25em; }

  #twitter-modal .highlight {
    background-color: #feff88;
    margin: 0 -1.85em; }
    #twitter-modal .highlight table {
      border: none;
      width: 100%;
      background: none; }
      #twitter-modal .highlight table td {
        text-align: center;
        padding: 0.4em 0; }
      #twitter-modal .highlight table tr.even,
      #twitter-modal .highlight table tr.alt,
      #twitter-modal .highlight table tr:nth-of-type(2n) {
        background: rgba(255, 255, 255, 0.2); }
    #twitter-modal .highlight button {
      background-color: transparent;
      width: 144px;
      border: none;
      margin: 0;
      background-repeat: no-repeat;
      height: 36px;
      background-image: url(../img/twitter_logos.png); }
      #twitter-modal .highlight button:active {
        box-shadow: none;
        border: none; }
      #twitter-modal .highlight button.selected {
        background-color: white;
        border-radius: 5px;
        box-shadow: inset 1px 1px 5px -3px #333333; }
      #twitter-modal .highlight button.kayak {
        background-position: -12px -36px; }
        #twitter-modal .highlight button.kayak.selected,
        #twitter-modal .highlight button.kayak:hover {
          background-position: -12px 0; }
      #twitter-modal .highlight button.skyscanner {
        background-position: -179px -36px; }
        #twitter-modal .highlight button.skyscanner.selected,
        #twitter-modal .highlight button.skyscanner:hover {
          background-position: -179px 0; }
      #twitter-modal .highlight button.momondo {
        background-position: -348px -36px; }
        #twitter-modal .highlight button.momondo.selected,
        #twitter-modal .highlight button.momondo:hover {
          background-position: -348px 0; }
      #twitter-modal .highlight button.expedia {
        background-position: -515px -36px; }
        #twitter-modal .highlight button.expedia.selected,
        #twitter-modal .highlight button.expedia:hover {
          background-position: -515px 0; }
      #twitter-modal .highlight button.travelocity {
        background-position: -691px -36px; }
        #twitter-modal .highlight button.travelocity.selected,
        #twitter-modal .highlight button.travelocity:hover {
          background-position: -691px 0; }
      #twitter-modal .highlight button.priceline {
        background-position: -851px -36px; }
        #twitter-modal .highlight button.priceline.selected,
        #twitter-modal .highlight button.priceline:hover {
          background-position: -851px 0; }
      #twitter-modal .highlight button.cheapoair {
        background-position: -1021px -36px; }
        #twitter-modal .highlight button.cheapoair.selected,
        #twitter-modal .highlight button.cheapoair:hover {
          background-position: -1021px 0; }
      #twitter-modal .highlight button.hotwire {
        background-position: -1187px -36px; }
        #twitter-modal .highlight button.hotwire.selected,
        #twitter-modal .highlight button.hotwire:hover {
          background-position: -1187px 0; }
      #twitter-modal .highlight button.edreams {
        background-position: -1366px -36px; }
        #twitter-modal .highlight button.edreams.selected,
        #twitter-modal .highlight button.edreams:hover {
          background-position: -1366px 0; }
      #twitter-modal .highlight button.rumbo {
        background-position: -1523px -36px; }
        #twitter-modal .highlight button.rumbo.selected,
        #twitter-modal .highlight button.rumbo:hover {
          background-position: -1523px 0; }
      #twitter-modal .highlight button.opodo {
        background-position: -1698px -36px; }
        #twitter-modal .highlight button.opodo.selected,
        #twitter-modal .highlight button.opodo:hover {
          background-position: -1698px 0; }
      #twitter-modal .highlight button.flightcentre {
        background-position: -1860px -36px; }
        #twitter-modal .highlight button.flightcentre.selected,
        #twitter-modal .highlight button.flightcentre:hover {
          background-position: -1860px 0; }
      #twitter-modal .highlight button.tripadvisor {
        background-position: -2028px -36px; }
        #twitter-modal .highlight button.tripadvisor.selected,
        #twitter-modal .highlight button.tripadvisor:hover {
          background-position: -2028px 0; }

  #twitter-modal .panel.twitter {
    border-radius: 8px;
    margin-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0.5em; }
    #twitter-modal .panel.twitter p {
      margin-bottom: 0;
      color: #2b758d;
      font-size: 0.875em; }



