$primary: #129cbc
$secondary: #406473
$success: #c7f3a0
$error: #f3a0a2
$header: #888
$light: #f6f6f6 
$lighter: #f6f6f6 
$darker: #22404c
$base: #444444
$vivid: #189bab
$brown: #3b351b

$smaller: 0.875em
$smallest: 0.75em
$bigger: 1.4375em 

$footerHeight: 285px

/* --- jQUery UI --- */

.ui-slider .ui-slider-handle{
  margin-left: -0.3em
  width: 0.6em
}

table.ui-datepicker-calendar{
  border: none
}

.ui-datepicker-multi .ui-datepicker-group table{
  width: 100%
}

.ui-datepicker{
  border-radius: 5px
  box-shadow: 1px 1px 3px 0 #ccc
  font-size: $smaller !important
}

.ui-datepicker th{
  font-weight: normal !important
}

.ui-datepicker-unselectable{
  .ui-state-default{
    background: none
    color: $header
  }
}

.ui-datepicker td{
  width: 2.5em
}

.ui-datepicker td span, .ui-datepicker td a{
  padding: 0.2em 0
  text-align: center
  border: none !important
  background: none !important
  color: $base
}

.ui-datepicker a.ui-state-default{
  color: $primary
}

td.ui-datepicker-today a{
  background: #ddd !important
  color: $base !important
} 

td.ui-datepicker-days-cell-over a{
  background: $success !important
  color: $base !important
}

.ui-datepicker .ui-state-hover{
  border: none
  background: $primary !important
  color: #fff !important
}

.ui-datepicker a.ui-datepicker-prev-hover,
.ui-datepicker a.ui-datepicker-next-hover{
  background: #ddd !important
  border: none
}

.ui-datepicker-group-first{
  padding-right: 0.5em
}

.ui-datepicker-header{
  border-radius: 0
  border-top: none
  border-left: none
  border-right: none
  border-bottom: 1px solid #ccc
  font-weight: normal
}

/* --- Sticky Footer --- */

html, body{
  height: 100%
}

.page-wrap{
  min-height: 100%
  margin-bottom: - $footerHeight
}

.page-wrap:after{
  content: ""
  display: block
}

footer,
.page-wrap:after{
  height: $footerHeight
}

.button{
  border-radius: 5px
}

.button.small,
.button.secondary,
.button.tiny{
  border-radius: 0
}

div.switch span{
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 980px $success + #222, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px whitesmoke
}

form.custom .custom.dropdown{
  z-index: 11
}

div[data-magellan-expedition]{
  box-shadow: 0 1px 5px -2px #333
  z-index: 12 !important
    
  dd{
    margin: 0
      
    &:after{
      content: '\232a'
      padding: 0 0.75em
      color: #ccc
    }
      
    &:last-child:after{
      content: ''
      padding: 0
    }
  }
}

.alerts-container{
  position: relative
}

.nowrap{
  white-space: nowrap
}

span.red-icon,
span.yellow-icon{
  display: inline-block
  width: 16px
  height: 16px
  text-indent: -5000em
}

span.red-icon{
  background: url(../img/red_alert.png) center bottom no-repeat
}

span.yellow-icon{
  background: url(../img/yellow_alert.png) center bottom no-repeat
}

.label{
  font-weight: normal
}

.button.loader{
  background-image:url(img/ajax-loader-plain.gif)
  background-position:8px center
  background-repeat: no-repeat 
  padding-left:20px
}

.gad{
  padding:5px 
  margin:0.5em auto
  box-shadow:1px 1px 2px #ddd
  background:$lighter
}

.placeholder-wrapper{
  position: relative
  
  label.placeholder{
    position: absolute
    top: 1px
    left: 1px
    padding: 0 0.5em
    height: 2.3125em
    line-height: 2.3125em
    overflow: hidden
    opacity: 0.6  
  }
}

address{
  color: $header
  font-style: normal
  line-height: 1.4
  border-left: 1px solid #ccc
  margin-bottom: 1.25em
  padding-left: 0.5em
}

.label.alert,
small.error{
  color: #741e20
}

.panel.callout{
  label{
    color: $lighter
  }
}

.alert-box{
  font-weight: normal
  border-radius: 5px
    
  &.success{
    color: #527533
    
    [class*="foundicon-"]{
      color: #527533
    }
  }
    
  &.alert{
    color: #741e20
    
    [class*="foundicon-"]{
      color: #741e20
    }
  }
}

#top-alerts{
  position: absolute 
  top: 3px 
  left:0 
  width: 100%
  z-index:9999
  
  .alert-box{
    box-shadow: 1px 1px 2px 0 #aaa
  }
}

.tooltip{
  background: #fff
  border: 1px solid #ddd
  border-radius: 3px
  box-shadow: 1px 1px 3px -1px #333
  color: #888
  font-size: $smaller
  font-weight: normal
  
  & > .nub{
    border-color: transparent transparent #fff
  }
  
  &.tip-top > .nub{
    border-color: #fff transparent transparent
  }
  
  &.tip-left > .nub{
    border-color: transparent transparent transparent #fff
  }
  
  &.tip-right > .nub{
    border-color: transparent #fff transparent transparent
  }
}

.page{
  max-width: 66.2em
  margin: 0 auto
  background: #fff
  border-radius: 5px
  box-shadow: 0 2px 6px -2px #888888
}

body, .silver{
  background: #f7f7f7 url(../img/silver_bg.png) center top repeat-y
}

.search-results-wrapper{
  background: $lighter
}

.aluminium{
  background: $lighter url(../img/plain_bg.png) left top repeat
}

.golden{
  background: #fdfaed url(../img/golden_bg.png) center top repeat-y
}

.beige{
  background: #edecdf url(../img/beige_bg.png) center top repeat-y
}

.plain{
  background: url(../img/white_bg.png) top left repeat
  box-shadow: 0 1px 2px 0 $secondary
  border: none
  
  .error input, input.error, .error textarea, textarea.error{
    background-color: rgba(243, 160, 162, 0.6)
  }
  
  .loader{
    background-image: url(../img/ajax-loader-plain.gif) !important
  }
}

body{
  font-family: 'QuestrialRegular', Helvetica, Arial, sans-serif
  
  h1,h2,h3,h4,h5,h6{
    font-family: 'QuestrialRegular', Helvetica, Arial, sans-serif
    font-weight: normal
  }
  
  h1.subheader,
  h2.subheader,
  h3.subheader,
  h4.subheader,
  h5.subheader,
  h6.subheader{
    text-transform: uppercase
  }
}

.sample-alert{
  display: none
}

.desc .small{
  font-size: 0.75em !important
}

.dropdown{
  li span{
    font-size: $smallest
    color: #888
    margin-left: 0.5em
  }
  
  li.first{
    margin-top: 1em !important
    border-top: 1px double #ccc
  }
  
  li.odd{
    background: $lighter
  }
}

time{
  white-space: nowrap
  color: $base
      
  span{
    font-variant: small-caps
    color: $header
    font-size: $smaller
    font-weight: normal
  }
      
  span.day{
   margin-left: 0.2em
  }
}

.row-alert{
  .alert-box{
    display: block
  }
}

figcaption{
  font-size: $smallest
  color: $header
  text-align: center
}

.ui-autocomplete.loader{
  background-image: none
}

.miles.status{
  color: $secondary
}

.miles img{
  vertical-align: baseline
}

.extra-line{
  display: none
}

.breadcrumbs{
  background: #f1f1f1
  border-color: #ccc
}

span.custom.radio{
  cursor: pointer
}

.progress{
  background: #f1f1f1
  position: relative
  border: none
  padding: 0  
  box-shadow: 1px 1px 0 #ddd
  
  &.completed{
    box-shadow: 0 0 3px 2px #cccc00
    
    .meter{
      background-image: url(../img/progress_bg.png)
    }
    
    .goal{
      line-height: 1.2 !important
    }
    
    img{
      vertical-align: middle
      position: relative
      top: -1px
    }
    
    strong{
      font-size: $bigger
    }
  }
  
  .threshold{
    position: absolute
    height: 100%
    top: 100%
    background: #ccc
    width: 1px
          
    span{
      position: absolute
      font-size: $smallest
      color: #aaa
      white-space: nowrap
    }
          
    span.name{
      right: 0.25em
      top: 0.25em
    }
          
    span.val{
      right: 0.5em
      top: 2em
      font-size: 0.5em
    }
  }
}

.loader{
  background-image: url(../img/ajax-loader.gif) !important
  background-repeat: no-repeat !important
}

.loader-overlay{
  background: $secondary
  position: absolute
  top: 10px
  left: 10px
  z-index: 1000
  border: 1px solid $darker
  box-shadow: 0 0 3px 0 #666
  min-height: 10em !important
  
  h5{
    padding: 0.5em 1em
    text-align: center
    border-top: 1px solid $darker
    border-bottom: 2px solid $darker
    border-radius: 5px
    color: #888
    margin: 3em
    
    span{
      background-position: left center
      background-repeat: no-repeat
      padding-left: 40px
      display: inline-block
    }
  }
}

.row.full-width{
  max-width: 100%
}

.desc{
  font-size: $smallest
  color: $header
}

p.desc{
  margin-bottom: 0.75em
}

.button{
  .desc{
    color: $light
    margin-top: 0.5em
  }
}

.alert-box{
  display: none
}

.price{
  font-size: $bigger
  color: #c24548
  font-weight: normal  
}

.double .price{
  font-size: 1em
    
  .total{
    font-size: $smallest
    font-weight: bold
  }
}
  
      
.miles{
  font-size: $bigger
  color: $primary
  font-weight: normal
}

.prefix .foundicon-calendar{
  color: #888
  font-size: $bigger
}

.prefix.spinner,
.postfix.spinner{
  line-height: 1.1em !important
  background: none !important
  
  a{
    display: block
    background: #f2f2f2
    
    &:first-child{
      border-bottom: 1px solid #ccc
    }
    
    &:hover{
      box-shadow: inset 0 0 3px #ccc
    }
  }
}

.top-bar{
  background: #222
  box-shadow: 0 0 5px #000 inset
  
  &.expanded{
    background: #222
  }
  
  .title-area{
    h1{
      display: inline-block
      a{
        background: url('../img/logo.png') center center no-repeat
        text-indent: -5000em
        width: 66px !important
        display: inline-block
        margin: 0 0.9em 
      }
    }
    
    h6{
      color: #666
      display: inline-block
      font-size: 0.75em
      text-transform: uppercase
    }
    
    h6.milefy{
      padding-left:1em
      color:#888
      font-weight:bold
      text-transform: none
    }
  }
  
  .top-bar-section{
    .fb-like{
      padding: 0.25em 1em
    }
    
    a:hover{
      color: $primary
    }
  }
} 

/* --- Search Page --- */

.results-tab{
  .foundicon-remove{
    color: #888
    display: inline-block
    width: 1.5em
    text-align: center
    font-size: 0.8em
    
    &:hover{
      border-radius: 2px
      box-shadow: inset 0 0 2px #666
      background: #f1f1f1
      color: $primary
    }
  }
  
  .foundicon-plus{
    color: #fff
    text-shadow: 1px 1px 2px #aaa
    margin-right: 0.2em
  }
}

section.active > .results-tab .foundicon-plus{
  color: #ddd
  text-shadow: none
}

section.active > .results-tab-content{
  left: 0
}

.results-tab-content{
  background: $vivid !important
  padding-bottom: 0 !important
  padding-top: 0 !important
  box-shadow: inset 0 0 15px -10px #000
  display: block !important
  left: -50000em
  width: 100%
  
  .search-form{
    margin: 1.5em 0 3em 0
    
    h3{
      margin-bottom: 1em
    }
  }
  
  .more-results{
    visibility: hidden
  }
}

.refine-search{
  padding: 2em 0 0.5em 0
  
  .airport{
    font-size: 1.4375em
  }
  
  .passengers,
  .submit{
    display: none;
  }
  
  .desc{
    text-align: center
    
    &.one-way{
      text-align: left
      padding-top: 0.5em
    }
  }
}

.results-column{
  box-shadow: 5px 0 5px -5px #444
  background: #fff
}

.search-progress{
  border-top: 1px solid #ccc !important
  padding-top: 2em !important
  padding-bottom: 2em
  
  hgroup{
    margin-bottom: 0.5em
    text-align: center
  }
  
  h3{
    display: inline
  }
  
  .flights-number.loader{
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px
  }
}

.flight,.hover, .flight-row{
  .small{
    text-transform: uppercase
    font-size: 0.5em
    color: $header
  }
  
  .schedule{
    text-align: center
    line-height: 1.5
     
    .foundicon-right-arrow{
      margin: 0 0.2em
      color: #ddd
      vertical-align: middle
      font-size: $smallest      
    }
  }
    
  .duration{
    text-align: center
    
    span{
      color: #ddd
    }
    
    .has-tip{
      display: inline
    }
  }
}

.stops{
  strong{
    background: $light
    border-radius: 1em
    display: inline-block;
    width: 1.5em
    height: 1.5em
    text-align: center
    color: $header
    line-height: 1.5
    font-weight: normal
    border: 1px solid #ddd
  }
  
  .stop-num + .cabin{
    border-top: 1px solid #ddd
    margin-top: 0.5em
    padding-top: 0.5em
  }
  
  ul{
    margin: 0.5em 0
    padding: 0.25em 0
    border-top: 1px solid #f1f1f1
    border-bottom: 1px solid #f1f1f1
    font-size: $smaller    
  }
}

.featured-search-results{
  .flight-label{
    padding-bottom: 50px 
    background-position: center bottom
    background-repeat: no-repeat
    text-align: center
  }
  
  section.search-results{
    &:first-child{
      .flight-label{
        background-image: url(../img/thumb_icon.png)
      }
      
      & + section{
        .flight-label{
          background-image: url(../img/money_icon.png)
        }
        
        & + section{
          .flight-label{
            background-image: url(../img/speed_icon.png)
          }
        }
      }
    }
  }
  
  .hover{
    .middle{
      text-align: center
      
      .desc{
        line-height: 1.5
      }
      
      span.desc{
        margin: 0 0.5em
      }
      
      h3{
        display: inline
        line-height: 1
      }
      
      h5{
        margin: 0
      }
    }
  }
}

.search-results{
  border-top: 1px solid #ccc !important
  
  .all-slot-results{
    display: none  
    
    &.loaded{
      .result:first-child{
        .flight,
        .hover{
          border-color: #ccc !important
        }
      }
    }
  }
  
  .result.selected{
    cursor: default
    
    .foundicon-plus{
      color: #ddd !important
    }
    
    .stops{
      strong{
        background: #f1f1f1
      }
    }
    
    .row{
      background: #fff !important
      
      &.flight,
      &.hover{
        box-shadow: 0 0 8px -3px #aaa
      }
      
      &.stats{
        box-shadow: 0 0 8px -3px #aaa
        
        .progress{
          background: #f1f1f1
        }
      }
    }
  }
  
  .result{    
    .yellow-icon{
      position: absolute
      right: -0.5em
      top: 0.5em
    }
    
    .progress{
      background: #fff
    }
    
    .stops{
      strong{
        background: #fff
      }
    }
    
    article{
      margin-bottom: 1em 
    }
    
    .flight,
    .hover{
      border-top: 1px solid #ccc
    }
    
    &:hover{
      .row{
        background: #eee
      }
      
      .flight{
        display: none
      }
      
      .hover{
        display: block
      }
    }
    
    &:first-child{
      .flight,
      .hover{
        border-color: #fff
      }
    }
    
    &.awarded{
      position: relative
      display: block
      
      .pin{
        position: absolute
        top: -6px
        left: 16.5%
        z-index: 1
      }
      
      .flight,
      .stats{
        background: #fffbc2
      }
      
      &:hover{
        .hover,
        .stats{
          background: #fff9a3
        }
      }
    }
  }
  
  .more-slot-results{
    background-color: #fff
    font-size: $smaller
    border-radius: 5px
    border: 1px solid #f1f1f1
    margin-bottom: 2em
    color: $header
    padding: 0 0.75em
    
    a{
      margin-right: 1em
    }
    
    p{
      padding: 0.75em 40px 0.75em 0
      margin: 0
      background-position: right center
      background-repeat: no-repeat
    }
    
    .hide{
      display: none
    }
  }
  
  .flight-label{
    font-size: $smallest
    text-transform: uppercase
    text-align: right
    margin-top: 0.5em
    position: relative
    
    .has-tip{
      font-weight: normal
      padding: 2px
      background: #fff
      
      .foundicon-idea{
        color: $primary
        vertical-align: middle
      }
    }
    
    .time-slot{
      position: relative
    }
    
    .time-desc{
      font-size: $smallest
      text-transform: none
      color: #888
      margin-bottom: 0.5em
    }
    
    .icons{
      margin-top: 0.75em
      font-size: 3em
      color: #ddd
      
      span{
        font-size: 0.9em
        vertical-align: top
      }
    }
  }
  
  .hover{
    &.hide{
      display: none
    }
    
    background: $lighter
    
    .program-logo{
      margin-bottom: 0.35em
      background: #fff
      padding: 4px
      border-radius: 4px
      margin-top: -0.5em
    }
    
    .plus-icon{
      text-align: right
      color: $header
      
      p{
        line-height: 1.2
        margin-bottom: 0
      }
      
      .foundicon-plus{
        font-size: 1.5em
        color: #fff
      }
    }
  }
  
  .hover,
  .flight{
    text-align: center
    
    .price,.miles{
      font-weight: normal
    }
    
    & > .columns{
      padding-top: 0.75em
      padding-bottom: 0.75em
    }
    
    .middle{
      border-right: 1px solid #ccc
      border-left: 1px solid #ccc
    }
  }
  
  .flight, .hover{    
    .schedule{
      font-size: $bigger
    }
    
    .price{
      display: block
      margin-bottom: 0.4em
    }
    
    .airline{
      color: $header
      line-height: $bigger
      margin-bottom: 0.25em
      font-size: $smaller
      text-align: center
      
      img{
        vertical-align: middle
      }
    }
  }
  
  .stats{    
    border-radius: 0 0 0 10px
    
    .progress{
      margin-top: 0.5em
    }
  }
}

.featured-search-results{
  .result:hover{
    .row{
      background: #f5f0da 
    }
  }
}

.progress{
  .meter{
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    background-position: top left
    background-repeat: repeat
  
    .before{
      background: #000
      opacity: 0.3
      height: 100%
      width: 100%
      
      & + .goal{
        position: absolute
        z-index: 12
        top: 0
        left: 0
      }
    }
  }
}

.progress.caption{
  position: relative
  overflow: hidden
  font-size: $smallest
      
  .goal{
    white-space: nowrap
    color: #fff
    font-size: $smaller
    line-height: 1.9
    padding-left: 0.75em
  }
      
  .meter{
    z-index: 10
    position: relative
    overflow: hidden
  }
      
  & > .goal{
    position: absolute
    z-index: 9
  }
  
  & > .goal{
    color: $primary
  }
  
  &.success > .goal{
    color: $success
  }
  
  &.secondary > .goal{
    color: $secondary
  }
}

.more-results{
  .previous,
  .next{
    margin-top: 3em
  }
}

.regular-results-footer{
  .previous,
  .next{
    margin-top: 0.5em
  }
}

.regular-results-footer,.more-result .row:first-child{
  border-top: 1px solid #ccc !important
}

.more-results{
  .gad{
    width:478px
    
    &.mobile{
      width: 320px
    }
  }
}

.more-results,
.regular-results-footer{
  background: #fff
  
  .nav{
    margin-bottom: 0.2em
  }
  
  .regular-results-footer-center{
    text-align: center
  }
  
  .more-results-center{
    text-align: center
    
    .button{
      text-align: left
      
      .foundicon-down-arrow{
        float: left
        vertical-align: middle
        font-size: 2em
        margin-right: 0.5em
        text-shadow: inset 3px 3px #444
      }
    }
  }
}

.comparison-column{
  & > hgroup{
    margin-top: 2.5em
  }
  
  .comparison-tip{
    h1,h2,h3,h4,h5,h6{
      color: $lighter
      text-shadow: 1px 1px 0 #666 !important
    }
  }
  
  .comparison-tip + .comparison-tip{
    display: none;
  }
}

.more-results-wrapper{
  display: none
}

.filters-header{
  text-align: center
  padding-top: 0.5em
  padding-bottom: 0.5em
  background: #fff
  margin: 0
}

.filters{
  background: #fff url(../img/vert_border.png) center top repeat-y
  border-top: 1px solid #ccc  
  margin-bottom: 1.5em !important
  
  label{
    margin-bottom: 0.75em
  }
  
  input[type="checkbox"]{
    margin-bottom: 0
  }
  
  .button-group .button{
    margin-bottom: 0
  }
  
  .filter{
    margin-bottom: 1em
    
    & > label{
      text-align: center 
      background: #f1f1f1
      padding: 0.1em 0
    }
  }
  
  .filter-scroller{
    padding: 0 1em
  }
  
  .filter-scroller,
  .filter[data-filter="stops"]{
    & > label{
      background: none
      margin-bottom: 0.25em
    }
  }
    
  .advanced-filters{
    display: none
    
    .filter{
      span.has-tip{
        font-weight: normal !important
      }
    }
  }
  
  .more-filters{
    background: #fff
    padding-top: 0.5em
    text-align: center
    
    .less{
      display: none
    }
  }
}

.slider, .filter-scroller{
  .ui-slider-handle{
    .desc{
      position: absolute
      width: 5em
      left: -2em
      text-align: center
      top: 2em
    }
  }
  
  .range{
    text-align: center
    color: $header
    font-size: $smallest
    margin-top: 0.5em
  }
}

.comparison-column{
  article.flight{
    background-color: #fff
    padding: 3px
    margin: 0.9375em 0
    border-radius: 6px
    box-shadow: 1px 1px 5px -3px #333333
    
    .book-ticket span{
      color: #ee9
    }
    
    .book-ticket:hover img{
      transform: rotateZ(15deg)
    }
    
    .prefix,
    .postfix{
      background: $light
    }
    
    .small{
      font-size: 0.6em
    }
    
    .duration .has-tip{
      font-weight: normal
      color: $header
    }
    
    .one-way{
      .schedule{
        margin-top: 1.5em
        font-size: $bigger
      }
          
      .details-wrapper{
        margin-top: 0.5em
        display: block
        text-align: center
      }
      
      .show-flight-details,
      .hide-classes{
        display: none !important
      }
      
      .duration,
      .cabin{
        line-height: 1.5
        text-align: center
      }
    }
    
    .yellow-alert-icon,
    .green-alert-icon{
      position: absolute
      top: 0
      right: -0.5em
    }
    
    .details-wrapper{
      display: none
      margin: 1.5em 0.5em 3em 0.5em
      
      .desc.tip{
        text-align: center
      }
      
      .details{
        margin-top: 0.5em
      }
      
      .graph-info{
        margin-top: 0.25em
        font-size: 0.7em
        line-height: 1.25em
        color: $header
        
        .info-fragment{
          display: none
          
          .columns{
            background: $light
            border-radius: 5px
            
            &.middle{
              background: none
            }
          }
        }
        
        time{
          font-weight: bold
          display: block
        }
        
        .columns{
          &:last-child{
            text-align: right
          }
          
          &.middle{
            text-align: center
            position: relative
            
            .inner{
              position: absolute
              top: 0
              left: 0
              width: 100%
              z-index: 2
              box-shadow: 1px 1px 2px #CCC
              background: #fff
              
              .wide{
                width: 200%
                position: relative
                left: -50%
                top: 2px
                background: #fff
                border-radius: 5px
                box-shadow: 1px 1px 1px #CCCCCC
              }
            }
          }
        }
      }
      
      .graph-wrapper{
        &.fragment-selected .graph-bottom{
          border-color: #ccc
        }
        
        .graph-top{
          .graph-fragment{
            &:hover{
              background: url(../img/vert_border.png) center bottom repeat-y
              
              .graph{
                border-color: #bbb !important
              }
            }
            
            cursor: pointer
            display: inline-block
            padding-bottom: 5px
            margin: 0
            float: left
            
            .graph{
              height: 3em
              line-height: 3em
              font-size: 0.6em
              text-align: center
              color: #888
              
              &.graph-flight{
                background: $success url(../img/plane-icon.png) center center no-repeat;
                border: 1px solid $success;
              }
              
              &.graph-overlay{
                background: $light;
                border: 1px solid $light
              }
              
              &.graph-stop{
                background: $success + #222
                border: 1px solid $success;
              }
            }
          }
        }
        
        .graph-bottom{
          clear: both
          height: 5px
          border-top: 1px solid #fff
          border-right: 1px solid #fff
          border-left: 1px solid #fff
          margin: 0 1em
        }
      }
    }
    
    form{
      margin-bottom: 0.5em
    }
    
    &.loader{
      background-position: center center
      background-repeat: no-repeat
      height: 10em
    }
    
    .panel:first-child{
      padding: 1.25em 0.5em 0.5em 0.5em
      margin-bottom: 0
      position: relative
      border: none
      background: #fff
      
      .prefix.double{
        line-height: 0.9
        padding: 0.25em 0
      }
      
      .close{
        position: absolute;
        top: 0.25em
        right: 0.5em
        color: #888
        display: block
        width: 0.8em
        height 0.8em
        text-align: center
        line-height: 0.8em
        
        &:hover{
          background: #aaa
          color: #f1f1f1
        }
      }
      
      .progress{
        height: 0.5em
        margin-bottom: 0.25em
      }
      
      .custom.dropdown{
        margin-bottom: 0.5em
      }
      
      .desc{
        font-size: $smallest
      }
    }
    
    thead{
      font-variant: small-caps
      text-transform: lowercase
        
      th{
        font-weight: normal !important
        padding-top: 0.25em
        padding-bottom: 0.25em
        background-color: #eee
        border-bottom: 1px solid #ddd
        text-align: center
      }
      
      .date{
        color: $header
        font-size: $smaller
        margin-left: 0.5em
      }
    }
    
    .custom.radio{
      border-radius: 5px
      height: auto
      width: auto
      font-size: $smallest
      border: none
      background: #fff
      border: 1px solid #ccc
      box-shadow: 1px 1px 0 0 #DDDDDD
        
      &.checked{
        background: $lighter  
        border: none
        box-shadow: none
      }
        
      &.checked:before{
        display: none
      }
        
      &:hover{
        box-shadow: 0px 0px 1px 0 #DDDDDD
        color: #C24548 !important
      }
    }
    
    table.flight-options{
      width: 100%
      margin-bottom: 0.5em
      text-align: center
      border: none
      
      thead{
        th{
          width: 50%
        }
        
        th:last-child{
          border-left: 1px solid #ddd
        }
      }
      
      tbody{
        tr{
          background-color: #fff
          
          &:hover{
            .deselected{
              background-color: #eee !important
            }
          }
          
          &.longer{
            display: none !important
          }
          
          &.temporary{
            .show-longer-overlay{
              display: none
            }
          }
          
          td{
            padding: 0.5em 0.25em
            border-bottom: 1px solid #ddd
            
            &.deselected{
              cursor: pointer
            }
            
            &.deselected,
            &[colspan]{
              time, .price, .has-tip{
                color: $header !important 
              }
              
              .stops strong{
                background: #fff
              }
              
              background-color: $lighter !important
            }
            
            &.radio-col{
              border-left: 1px solid #ddd
              background-image: url(../img/green-arrow.png)
              background-position: top left
              background-repeat: no-repeat
              
              &:first-child{
                border-left: none
              }
              
              &.deselected,
              &[colspan]{
                background-image: none
              }
            }
          }
        }
        
        .radio-col{
          width: 10%
        }
        
        .schedule-col{
          width: 30%
        }
        
        .stops-col{
          width: 10%
        }
      }
    }
    
    .actions{
      text-align: right
      
      & > .book-ticket{
        display: none
      }
      
      .hide-classes{
        display: none
        font-size: $smallest
        margin-right: 0.5em
      }
      
      .button{
        margin-bottom: 0.5em
      }
      
      .hide-flight-details{
        display: none
      }
    }
  }
}

.classes-wrapper{
  display: none
  
  & > h6{
    text-align: center
    margin-top: 1em
  }
}

.classes-wrapper > form{
  background-color: $lighter
  background-image: url(../img/vert_border.png)
  background-position: 1.3em 0 
  background-repeat: repeat-y
  border-radius: 5px 0 0 5px
  padding: 0 0 0 3.5em !important
  position: relative
  
  .foundicon-star{
    position: absolute
    font-size: $smallest
    color: #888
  }
  
  .star-1{
    top: 1.5em
    left: 2em
  }
  
  .star-2{
    bottom: 2em
    left: 1em
  }
  
  .star-3{
    bottom: 2em
    left: 3em
  }
  
  .star-4{
    bottom: 2.5em
    left: 2em
  }
  
  .classes{
    width: 100%
    border-top: none
    border-right: none
    border-bottom: none
    border-left: 1px solid #ccc
    margin-bottom: 0
    
    .progress{
      cursor: pointer
      
      .goal.hover{
        display: none
      }
      
      &:hover{
        .goal{
          display: none
          
          &.hover{
            display: inline
          }
        }
      }
    }
    
    tbody{
      background: $lighter
      
      tr{
        background-color: #fff
      }
      
      tr.separator{    
        background-color: transparent
            
        th{
          font-weight: normal
          text-align: left
          padding-bottom: 0
          padding-top: 1em
        }
        
        &:first-child th{
          padding-top: 0.5625em
        }
        
        &:first-child + tr{
          border-bottom: 2px solid #ccc
        }
        
        span{
          background: #fff
          padding: 5px
          display: inline-block
          border-radius: 5px 5px 0 0
          box-shadow: 1px -1px 2px -1px #ddd
        }
      }
      
      tr.deselected{
        cursor: pointer
        
        &:hover{
          box-shadow: 1px 1px 5px #ccc
        }
        
        td, .price, .miles{
          color: $header !important 
        }
        
        td.radio-col{
          background: none
        }
        
        .progress{
          & > .goal{
            color: #ccc !imporatant
          }
          
          .meter{
            background: #ccc
            
            .goal{
              color: #fff !important
            }
          }
          
          &.completed{
            .meter{
              background: #ccc url(../img/progress_bg.png) top left repeat
            }
            
            box-shadow: none 
          }
        }
      }
    }
    
    .radio-col{
      text-align: center
      background: url("../img/green-arrow.png") no-repeat left top
    }
    
    .features-col{
      ul{
        list-style: none
        font-size: $smaller
      }
    }
    
    .progress-col{
      width: 40%
      
      .progress.caption{
        height: 2em
        
        .goal{
          font-size: 1em
        }
      }
    }
  }
}

.booking-dropdown{
  text-align: right
  
  .booking-upsell{
    padding-bottom: 1em
    margin-bottom: 1em
    border-bottom: 1px solid #ddd
    
    p{
      margin-bottom: 0.5em
    }
  }
}

.new-search-section{
  .search-progress{
    display: none 
    padding-bottom: 20em
    border-top: none !important
  }
}

/* --- Booking Page --- */

.booking-modal{
  .foundicon-error{
    color: $error
  }
  
  .loader{
    padding-left: 40px
  }
  
  .actions a{
    margin-right: 1em
  }
}

#booking-fare-modal,
#booking-error-modal{
  background-image: url(../img/alert_bg.png)
  background-repeat: no-repeat
  background-position: top right
}

#booking-page, #booking-success{
  background: $vivid
  margin-top: -45px
  padding: 45px 0
  margin-bottom: -1.5em
  
  .anchor{
    height: 0
    position: relative
    top: -100px
  }
  
  h1 span{
    color: #ee9
  }
  
  .plain{
    hr{
      border-color: $vivid
    }
    
    table{
      border-color: $vivid
    }
    
    .desc{
      color: $darker
    }
  }
  
  .progress{
    background: #fff
    box-shadow: 1px 1px 0 0 $secondary
      
    .threshold{
      background: transparent
        
      span{
        color: $darker
      }
    }
  }
  
  .breadcrumbs{
    background: url(../img/white_bg.png) top left repeat
    border: none
    box-shadow: 1px 1px 1px $secondary
  }
  
  & > *{
    position: relative
  }
  
  #booking-bg{
    position: fixed 
    z-index: 0 
    height: 90% 
    opacity: 0.2
    left: -200px
  }
  
  & + footer{
    text-shadow: 1px 1px 2px #fff  
    position: relative
    z-index: 1
  }
  
  h1, h2, h3{
    text-shadow: 2px 2px 1px $secondary
    color: $lighter
  }
  
  & > section{
    margin-bottom: 2em
  }
  
  fieldset{
    .row{
      margin-bottom: 0.5em
    }
  }
  
  #booking-sumup{
    margin-top: 2em
    
    .booking-panel{
      background-image: url(../img/arrow_bg.png) 
      background-position: center center
      background-repeat: repeat-x
      background-color: #fdfaed
      border: 1px solid #d9ce9d
      margin-bottom: 1.25em
      padding: 1.25em
      border-radius: 5px
      
      & > .row > .columns:first-child{
        text-align: right
      }
    }
    
    h5{
      margin-bottom: 0.1em
    }
    
    h6.duration{
      text-align: center
    }
    
    time{
      display: block
      font-size: $bigger
      letter-spacing: normal
        
      span{
        font-variant: small-caps
      }
    }
    
    p{
      font-size: $smallest
    }
        
    table{
      width: 100%
      font-size: $smaller
      margin-bottom: 0
      box-shadow: 0 1px 3px #DDDDDD inset
      
      thead{
        th{
          font-weight: normal
          text-transform: uppercase
        }
        
        tr:first-child th{
          text-align: center
        }
      }
      
      tbody{
        td:first-child{
          padding-right: 0
          
          span{
            display: block
            width: 18px
            height: 18px
            border-radius: 1000px
            background-repeat: no-repeat
            background-position: center center
          }
        }
      }
      
      .layover-row{
        td:first-child{
          span{
            background-image: url(../img/clock-icon.png);
            background-color: #888
          }
        }
        
        time{
          display: inline
        }
        
        .time{
          margin-top: 0.5em
        }
      }
      
      .flight-row{
        td:first-child{
          span{
            background-image: url(../img/plane-icon.png);
            background-color: $success
          } 
        }
        
        td.arrow{
          padding: 0
          vertical-align: middle
          
          span{
            color: #888
          }
        }
      }
      
      th, td{
        padding-right: 0.5em
        padding-left: 0.5em
      }
      
      time{
        font-size: 1em        
      }
      
      .airline-col{
        text-align: center
        
        img{
          margin-right: 0.25em
          vertical-align: middle
        }
        
        .small{
          margin-top: 0.5em
        }
      }
    }
  }
  
  #booking-ffp{
    .graph{
      margin: 0.5em 0 1em 0
    }
    
    .icon{
      color: #fff
      font-size: 2.5em
      text-align: center
    }
    
    .prefix{
      border: none
      border-radius: 5px 0 0 5px
    }
    
    .dropdown, input[type="text"]{
      margin-bottom: 0
    }
    
    .progress 
      margin-bottom: 1.5em
      margin-top: 0.25em
      
      .threshold{
        height: 70%
      }
    }
    
    table{
      font-size: $smaller
      width: 100% 
      margin-bottom: 0     
      
      thead{
        th{
          text-align: center
        }
      }
      
      tbody,
      tfoot{
        th{
          text-align: right 
        }
        
        td{
          text-align: center
        }
      }
      
      tbody tr{
        background: #fff
      }
      
      tbody tr:first-child,
      tfoot tr:last-child{
        background: $lighter
        border-top: 1px solid $header
        border-bottom: 1px solid $header
        
        td, th{
          color: $header
        }
      }
    }
  }
  
  #booking-passengers{
    fieldset{
      background: #fff
      
      legend{
        box-shadow: 0 0 3px -1px #333333
      }
    }
    
    .citizenship, 
    .dob{
      position: relative
      top: 0.25em
    }
    
    .redress-number{
      display: none
    }
    
    .inline-list{
      margin-bottom: 0
      
      label{
        line-height: 1
      }
    }
  }
  
  #booking-order{
    .panel{
      background: $lighter
      border-radius: 5px 
      border: none 
      box-shadow: 0 1px 2px #aaa
    }
    
    table{
      width: 100%
    }
    
    table.order{
      th:last-child,
      td:last-child{
        text-align: right
      }
      
      td:nth-child(2){
        text-align: center
      }
      
      td{
        line-height: 1.35
      }
    }
  }
  
  #booking-payment{
    ul{
      margin-bottom: 0
      
      span.radio{
        margin-right: 0.5em
      }
    }
    
    .card-type{
      margin-top: 0.5em
      
      label{
        display: inline
        margin-right: 1em
      }
    }
    
    .cards{
      img{
        border-radius: 5px
        margin-bottom: 0.5em
        padding: 0.5em
        background: url(../img/white_bg.png) top left repeat
      }
      
      span.radio.checked + img{
        background: #fff
        box-shadow: 1px 1px 2px 0 $secondary inset
      }
    }
    
    .card{
      background: #fff
      padding: 1em
      border: 2px dashed $secondary
      border-radius: 1em
    }
    
    label.desc{
      margin-top: 1.5em 
      text-align: right
    }
    
    .stripe{
      background: #f1f1f1
      padding-top: 1em
      margin-top: 1em
    }
    
    .security{
      text-align: right
    }
    
    input{
      height: 2em
    }
  }
  
  #booking-terms{
    p, label{
      color: #ddd
      text-shadow: 1px 1px 2px $secondary
      
      span.checkbox,.label{
        text-shadow: none
      }
      
      a{
        color: #fff
      }
    }
  }
  
  #booking-confirm{   
    &.plain{
      padding: 1em 0
      
      .button span{
        color: #ee9
      }
      
      p{
        text-align: right
      }
    }
     
    h4{
      text-align: right
    }
    
    label[for="save-to-profile"]{
      margin-bottom: 1.5em
    }
    
    p.desc{
      margin-top: 1em
      margin-bottom: 0
    }
    
    .confirm{
      .button{
        margin-bottom: 0;
      }
      
      p.desc{
        text-align: center
        color: #ddd
        text-shadow: 1px 1px 2px $secondary
      }
    }
  }
}

#booking-success{
  .panel{
    margin-top: 1.25em
  }
  
  hr{
    border-color: $secondary
  }
  
  h4, #booking-ffp .desc{
    text-shadow: 1px 1px 2px $secondary
    color: #ddd
  }
  
  h4{
    position: relative
    
    span{
      color: #fff  
    }
  } 
}

/* --- Front Page --- */

.front-wrapper{
  position: relative
  z-index: 2
}

.search-form{
  .airports{
    padding-bottom: 0.5em
    background: $lighter
    padding-top: 0.75em
  }
  
  .dates{
    background: $lighter
    padding-top: 0.5em
    margin-bottom: 1em
  }
  
  .airport{
    margin-bottom: 0.5em
  }
  
  section:first-child{
    .content{
      position: relative !important
      left: 0px !important
      display: block !important
      top:48px !important 
    }
    
    .dates .return{
      display: none
    }
    
    &.active{
      .content{
        top: -1px !important
      }
      
      .dates .return{
        display: block
      }
    }
    
    & + section{
      .content{
        display: none !important
      }
    }
  }
}

.banner-inner{
  position: relative
}

.banner{
    
  hgroup{
    margin-bottom: 1em
    text-shadow: 2px 2px 1px $secondary
  
    h2{
      color: #ffee88
      margin-bottom:-0.25em
      margin-top: 3em
    }
    
    h4{
      color: #fff
    }
  }
  
  .button {
    clear: both
    float: left 
    margin-top: 0.5em
  
   .foundicon-down-arrow{
      vertical-align: top
      margin-left: 0.5em
    } 
  }
}

.benefits{
  padding-top: 1em
  border: 1px solid #888
  position: relative
  text-align: center
  
  figure{
    margin: 0.5em 0
  }
  
  hgroup{
    h5{
      margin-bottom: 0
    }
  }
}

.scroll-hint{
  text-align: center
  
  h4, h3{
    margin: 0
    line-height: 1 
  }
}

/* --- Log In Modal --- */

#login-modal{
  .login-panel{
    background: url(../img/search_bg.png) center top repeat-y    
    padding-top: 1.5em
    border-top: 1px solid #ccc
    
    & > .columns:first-child{
      text-align: center
    }
  }
  
  .content > .panel{
    display: none   
  }
  
  .content > .panel.show,
  .content > .alert-box.show{
    display: block
  }
  
  .panel.show + .login-panel{
    border-top: none
  }
}

/* --- Account Page --- */

.account{  
  padding-top: 2em
  background-image: url(../img/gear_bg.png)
  background-repeat: no-repeat
  background-position: right top
  
  .new-program-prefix{
    cursor: pointer
  }
  
  #miles-result{
    .alert-box{
      display: block
    }
  }
  
  form.new-program,
  form.edit-program{
    box-shadow: 0 1px 5px -3px #333
    margin-bottom: 1.5em
    
    .prefix{
      &.loader{
        background-position: 97% center !important
      }
      
      .foundicon-add-doc{
        font-size:1.5em 
        width: 2.5em 
        color:#fff 
        background:#c7f3a0
        border-radius:1000em 
        box-shadow: inset 0 0 3px 0 #ccc
        display:inline-block
        padding:0.25em 
        position: absolute
        top:-0.4em
        left: 12.5%
        border:1px solid #ccc
      }
    }
    
    .card-no-row{
      margin-top: 1em
    }
    
    .change-new-program{
      margin-right: 1em
    }
    
    #program + .dropdown,
    .add-new-program{
      margin-bottom: 0
    }
    
    #program-pass{
      margin-bottom: 0
    }
  }
  
  #new-program-details,
  #edit-program-details{
    & > h5{
      background: #fff 
      padding: 0.2em
      border-bottom: 2px solid #ddd 
      margin-bottom: 2em
      color:#888
    }
    
    .foundicon-idea,
    .foundicon-lock,
    .foundicon-clock{
      color: #ddd
      font-size: 1.5em
      margin-right: 0.5em
      vertical-align: middle
    }
    
    #program-pass + p{
      margin-top: 0.5em
    }
    
    .reconnect{
      display: none
    }
    
    fieldset{
      background: #fff
      
      legend{
        background: #eee
        border: 1px solid #ccc
        font-size: $smaller
        
        .foundicon-lock{
          color: #aaa
        }
      }
    }
    
    &.loaded{
      background: #f6f6f6
      padding: 0.5em 1em
    }
    
    .mile-values{
      margin: 0 0 2em 0
    }
    
    #miles-manual-wrapper{
      display: none
    }
    
    .hint{
      margin-top: 0.5em
      
      & > .row{
        background: #fff
        margin: 0 0.5em 
        padding: 0.25em 0
        border-radius: 5px
      }
      
      .columns:first-child{
        text-align: center
        
        span{
          font-size: 2.5em
        }
      }
      
      h6{
        line-height: 2.5
        color: $header
      }
    }
    
    #save-program,
    #delete-program{
      margin-right: 1em
    }
    
    #program-cards-wrapper{
      position: relative
    }
    
    #program-cards{
      position: absolute
      top: 0
      left: -50000em
      width: 100%
      min-height: 200px
      
      &.shown{
        left: 0
        position: relative
      }

      .switches-wrapper{
        position: absolute
        left: 0
        width: 100%
        margin: 0
        top: 40%
        z-index: 10
        
        .switch{
          box-shadow:2px 2px 10px #000
        }
      }
        
      .orbit-container{
        background: none
      }
      
      .orbit-bullets{
        text-align: center
        position: relative
        top: 0
        left: 0
        margin: -1em 0 1em 0
        z-index: 100
        
        li{
          display: inline-block
          float: none
          cursor: pointer
          background: #ddd
          height: 12px
          width: 12px
          
          &.active{
            background: #222
          }
          
          &:hover{
            background: $primary
          }
        }
      }
      
      .program-card{
        padding: 0.5em
        border-radius: 5px
        border: 1px solid #ddd
        background: #fff
        min-height: 175px
      }
      
      .orbit-timer{
        display: none
      }
      
      .orbit-slide-number{
        text-align: right
        height: 1em
        margin-top: 0.5em
        color: $header
        position: static
      }
      
      .orbit-prev,
      .orbit-next{
        background-color: #fff
        top: 1px    
        height: 35px
        line-height: 35px
        margin-top: 0
        width: 35px
        
        span{
          border: 7px inset
          margin-top: -7px
          top: 50%
          margin-left: 0
          margin-right: 0
        }
      }
      
      .orbit-prev{
        border-radius: 0 0 25px 0
        left: 1px
        
        span{
          border-color: transparent #DDD transparent transparent 
        }
        
        &:hover{
          span{
            border-color: transparent $secondary transparent transparent
          }
        }
      }
      
      .orbit-next{
        border-radius: 0 0 0 25px
        right: 1px
        
        span{
          border-color: transparent transparent transparent #ddd
        }
        
        &:hover{
          span{
            border-color: transparent transparent transparent $secondary
          }
        }
      }
    }
  }
  
  .programs-wrapper{
    min-height: 15em 
    margin-bottom: 5em
    
    fieldset{
      background: #fff
    }
    
    article{
      border: 1px solid #ccc
      margin-bottom: 1.5em
      border-radius: 5px
      background: #fff
      
      &.disabled{
        .stats{
          display: none
        }
        .panel{
          background: $light
          border-radius: 5px
        }
      }
      
      .stats{
        border-bottom: 1px solid #ccc
        padding: 0.5em 1.25em
        
        .progress{
          margin-bottom: 1.5em
        }
        
        .progress.caption{
          font-size: 1em
          overflow: visible
        }
        
        &:last-child{
          border-bottom: none
        }
        
        .columns:first-child{
          text-align: center
        }
      }
      
      .panel{
        border: none
        padding: 0.5em 1.25em
        margin-bottom: 0
        border-radius: 5px 5px 0 0
        
        .status-icon,
        .actions{
          text-align: center
        }
        
        .status-icon{
          margin-top: -1em 
          background: #fff 
          border: 1px solid #ccc
          padding-top: 0.5em
          padding-bottom: 0.5em
          border-radius: 0 0 5px 5px 
          box-shadow: 1px 1px 1px #ddd
        }
        
        .actions{
          .switch{
            margin-bottom: 0.5em
          }
        }
        
        .dates p{
          color: $header
        }
        
        .logo{
          margin-top: 0.5em
        }
        
        .foundicon-star{
          font-size: 2em
          display: block 
          color: #f6f6f6
          text-shadow: 1px 1px 1px #CCCCCC
          
          &.gold{
            color: #F2EEC5
          }
          
          &.platinum{
            color: #ECEC77
            box-shadow: 0 0 16px #F2EEC5 inset
          }
        }
      }
    }
  }
}

/* --- Footer --- */
footer{
  padding-bottom: 2em
  
  .gad{
    width: 970px
    
    &.mobile{
      width: 728px
    }
  }
  
  .logos{
    background: #f1f1f1
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    padding: 1em 0
    margin: 1.5em 0
  }
  
  .small-centered p.desc{
    text-align: center
    margin-bottom: 0
  }
}


/* --- Alerts --- */

.alert1, .alert2{
  margin: 1em 0 2em 0
  
  .toggle-alert{
    position:absolute
    top:0
    right:0
    margin-right:18.5%
    display:inline-block
    padding:3px 10px 0 10px
    background:#fff
    border-radius: 0 0 5px 5px
    text-align:center
    box-shadow: inset 1px 1px 2px #888
    color: #888
    
    &:hover{
      color: $primary
      box-shadow: inset 1px 1px 1px #888
    }
  }
  
  p, label{
    color: #000
  }
  
  a{
    color: $darker
  }
  
  hr{
    border-color: $secondary
  }
  
  h4{
    color: #000
    text-shadow: 1px 1px 1px $light
    margin-bottom: 0
  }
  
  .icon{
    text-align: center
  }
  
  .main{
    background: url(../img/alert_bg.png) top right no-repeat
  }
  
  .main,.bar{
    position: relative
    padding: 0.6875em
  }
  
  .bar{
    display: none
    
    h6{
      margin: 0
    }
    
    figure{
      position: absolute
      top: -26px
      right: 0.6875em
      width: 75%
    }
    
    img.finished{
      top: -17px
    }
    
    [class^="foundicon-"]{
      vertical-align: sub !important
    }
  }
  
  &.collapsed{
    .main{
      display: none
    }
    
    .bar{
      display: block
    }
  }
  
  .actions {
    line-height: 1.7
    
    [class^="foundicon-"]{
      vertical-align: sub !important
    }
    
    .button{
      margin: 0 1em 0 0
    }
    
    p{
      margin-bottom: 0
      text-align: right
    }
  }
}

.alert1{  
  .row:last-child p,
  .save-programs,
  form,
  .panel{
    margin-bottom: 0
  }
  
  .new-program{
    .prefix,
    .postfix{
      background: url(../img/white_bg.png) top left repeat
      border-color: $vivid
    }
    
    &.loader{
      background-position: 92% center
      background-repeat: no-repeat
    }
    
    .foundicon-checkmark{
      color: #999
    }
    
    .dropdown,
    .apply-program{
      margin-bottom: 0 !important
    }
    
    &.collapse{
      margin-top: 1em
    }
    
    .apply-program{
      margin-top: 1.2em
    }
    
    position: relative
  }
  
  .remove-another-program{
    margin-left: 1em
    text-shadow: 1px 1px 1px #666
    
    &:hover{
      color: $error
    }
  }
}

#no-program{
  ul{
    height: 10em
    overflow-y: scroll
    background: $lighter
    padding: 0.5em
    border-radius: 5px
  }
  
  label{
    .label{
      margin-left: 0.5em
    }
  }
}

.alert2{  
  .prefix,
  .postfix.result{
    border: none
  } 
  
  .main figure{
    border-radius: 5px 0 0 5px
    background: #f2f2f2
    padding: 0.5em 1em
    text-align: center
    height: 2.3125em
    overflow: hidden
    font-size: 0.875em
  }
  
  p.desc{
    color: $header
  }
  
  .manual-input{
    padding: 0 1em
    border-radius: 0 0 5px 5px
    box-shadow: 0px 1px 1px $secondary
    
    input{
      margin-bottom: 0
    }
    
    p.desc{
      margin: 0 0.625em
      text-align: center
    }
  }
  
  .register-close-alert{
    color: #fff
  }
  
  .prefix{
    border-radius: 5px 0 0 5px
  }
  
  .close-alert.icon{
    position: absolute
    top: 1.25em
    right: 1.25em
    font-size: $smallest
  }
  
  form,
  .panel{
    margin-bottom: 0
  }
  
  .loader{
    background-position: 92% top
    background-repeat: no-repeat
  }
  
  .postfix .row{
    margin: 0 -0.9375em
  }
  
  form{
    ul, input[type="password"]{
      margin-bottom: 0.5em
    }
    
    p{
      margin-bottom: 0
    }
    
    .program-input{
      margin-bottom: 0.75em !important
    }
    
    small.error{
      margin-top: -0.6em
    }
  }
}

/* Subpage */

.subpage{
  padding: 2em 0 6em 0
  margin-bottom: 3em
  
  hgroup{
    *{
      margin-bottom: 0
      margin-top: 0
    }
    
    *:first-child{
      margin-top: 0.2em
    }
    
    *:last-child{
      margin-bottom: 0.5em
    }
  }
}

.press date{
  background: $light 
  padding: 0.5em
  display: block
}

.programs-subpage .columns:first-child{
  text-align: center
  padding-top: 0.5em
}

/* Mailchimp */

#mc_embed_signup input.mce_inline_error{
  border-color: $error !important
}

#mc_embed_signup div.mce_inline_error{
  background: $error !important
  color: #741e20 !important
  font-weight: normal !important
  margin: -1em 0 1em 0 !important
  font-size: $smaller !important
}


/* Front Page II */

#front{
  background: $vivid
  
  .banner-inner .section-container.tabs .content{
    box-shadow: 2px 2px 5px -2px #333
  }
  
  .benefits{
    box-shadow: 0 1px 2px 0 $secondary
    margin-top: 3em
    margin-bottom: 2em
  }
  
  .scroll-hint{
    margin-bottom: 2em
    margin-top: 0
    
    hgroup{
      padding: 0
      text-shadow: 2px 2px 1px $secondary
      background: transparent
      box-shadow: none
    }
    
    h4{
      color: #fff
    }
    
    h3{
      color: #ddd
    }
  }
  
  .clouds{
    position:fixed 
    z-index: -1 
    max-width: none
  }
  
  .banner-inner{    
    .button{
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset
    }
  }
  
  #guide{
    padding: 0
    margin-bottom: 5em
    
    h1,h2,h3,h4,h5,h6{
      text-shadow: 1px 1px 2px #aaa
    }
  }
  
  #guide-1{
    background: #a4d8de
    box-shadow: 0 1px 2px 0 $secondary
    text-align: left
    margin-bottom: 2em
    
    .row{
      background: url(../img/san-francisco-bridge.jpg) bottom left no-repeat
      min-height: 220px
    }
    
    hgroup{   
      margin-top: 2em
         
      h2{
        margin: 0
      }
      
      h2.subheader{
        margin-top: -0.4em
        text-shadow: 1px 1px 1px $secondary
      }
    }
    
    h1{
      margin: 3em 0 0 0
    }
    
    h2:first-child,h1{
      color: #222
      text-shadow: 1px 1px 0 $vivid
    }
  }
  
  #guide-2{
    margin-bottom: 120px
    background: url(../img/bottom_highlight.png) center bottom no-repeat
    padding-bottom: 34px
    margin-top: 0
    text-align: center
    
    h2{
      margin: 0
    }
    
    hgroup{
      height: 292px
      padding: 55px 15px
      border-radius: 15px
      box-shadow: 0 1px 2px 0 $secondary
      border: 1px solid #ddd
      
      h3{
        margin: 0
      }
    }
    
    figure{
      display: none
      position: static
      margin-bottom: 0
    }
    
    figcaption{
      position: absolute
      width: 50%
      right: 0
      top: 55%
      font-size: 1.6875em
      padding: 0
    }
  }
  
  #guide-3{
    margin-bottom: 6em
    position: relative
    z-index: 2
    text-align: center
    
    figure{
      position: absolute
      width: 100%
      left: 0
      top: -115px
    }
    
    hgroup{
      margin-top: 15px
      position: relative
      z-index: 3
    }
    
    h3{
      color: #fff
      text-shadow: 1px 1px 1px #333
      margin: 0
    }
    
    h1{
      text-shadow:1px 1px 1px #333
      margin: 0
      color: #222
    }
  }
  
  #guide-4{
    position: relative
    padding-top: 289px
    margin-bottom: 0
    z-index: 1
    text-align: center
    
    .screen{
      position: absolute
      top: 75px
      width: 100%
      opacity: 0
      
      h4{
        margin-bottom: 0
      }
    }
    
    .sumup{
      padding: 3em 0 1em 0
      box-shadow: inset 0 5px 40px 0 $secondary
      
      h3{
        margin-bottom: 0
      }
      
      h4{
        margin-top: 0
      }
      
      h3,h4{
        color: #fff
        text-shadow: 1px 1px 1px $secondary
      }
      
      .price{
        text-shadow: 1px 1px 1px #fff 
      }
    }
    
    .hightlight{
      box-shadow: 0 -20px 150px 20px white
      border-radius: 15px
    }
    
    .animation{
      position: absolute
      height: 289 + 2 * 200px
      width: 100%
      overflow: hidden
      top: -200px
      left: 0      
    }
    
    .comp{
      position: absolute
      top: 200px
    }
  }
  
  #guide-5{    
    box-shadow: 0 1px 7px -3px $darker
    position: relative
    z-index: 1
    
    img{
      position: absolute
      top: 0
      left: 0
      width: 100%
      z-index: 2
    }
    
    hgroup{
      padding: 2.5em 0
      margin: 0
      
      h2{
        margin-bottom: 0
      }
      
      h1{
        margin: -0.4em 0 0 0
      }
    }
  }
  
  #guide-6{
    box-shadow: 0 1px 2px 0 $secondary
    margin-bottom: 0    
    
    hgroup{
      margin-top: 7em
      
      h1{
        margin-bottom: 0
      }
      
      h2{
        margin-top: -0.4em
      }
      
      h5{
        margin: 0
      }
    }
    
    img{
      position: relative
      top: -20px
      z-index: 3
      margin-bottom: -20px
    }
  }
  
  #guide-6-5{
    text-align: center
    margin-bottom: 2em
    margin-top: 1em
    
    hgroup{
      border: 15px solid $secondary
      box-shadow: 0 0 50px 0 $secondary
      border-radius: 1000em
      position: relative
      z-index: 9
      display: inline-block
      padding: 4em 3em
      
      h3,h5{
        margin: 0        
      }
      
      h3 + h5{
        margin: -0.5em 0
      }
    }
  }
  
  #guide-7{
    margin-top: 0
    margin-bottom: 3em
    
    .golden{
      border-radius: 15px
      overflow: hidden
      box-shadow: 0 1px 2px 0 $secondary
      margin-top: -1em
      margin-bottom: -1em
      
      img{
        border-radius: 15px 0 0 15px
      }
      
      hgroup{
        margin: 0
        
        h3,h5,h2{
          margin-bottom: 0
        }
        
        h5,h2{
          margin-top: 0
        }
      }
      
      .inner{
        padding: 0.625em 0.625em 0 0
      }
    }
  }
  
  #guide-8{
    text-align: center
    
    h5{
      margin-bottom: 0
    }
    
    h3{
      margin-top: 0
    }
    
    h5, h3{
      color: #fff
      text-shadow: 2px 2px 1px $secondary
    }
    
    .button .desc{
      color: #666
    }
    
    h6{
      color: #fff
      text-shadow: 1px 1px 1px $secondary
      
      a{
        color: $success
      }
    }
  }
  
  footer{
    background: url(../img/plain_bg.png) top left repeat
  }
}

/* Browser Quirks */

form.custom .custom.checkbox.checked:before{
  content: '\00d7' !important
  font-family: Arial, Helvetica, sans-serif !important
  line-height: 10px !important
  margin-left: 1px !important
  margin-top: 0 !important
}

.opera,
.safari {
  span.prefix{
    position: relative
    left: 1px
  }
}

.firefox,
.opera{
  .search-form section:first-child{
    .content{
      top: 49px !important
     }
      
    &.active{
      .content{
        top: -1px !important
      }
    }
  }
}

/* --- Error Pages --- */

#page-404,#page-500{
  background-color: $vivid
  color: #fff
  margin-top: -45px
  margin-bottom: -1.5em
  padding: 45px 0
  
  h1, h2, h3, h4, h5, h6{
    color: #fff
    text-shadow: 2px 2px 1px $secondary
    
    small{
      color: #ddd
    }
  }
  
  hr{
    border-color: $secondary
  }
}

#page-404{
  h5{
    margin-bottom: 2em
  }
}

#page-500{
  padding-bottom: 0
  
  h4{
    margin-bottom: 2em
  }
}

/* --- Responsive Stuff --- */

@media only screen and (min-width: 1024px) {
  .top-bar{
    border-bottom: 12px solid #111111
  }
}

@media only screen and (max-width: 1024px) {
  h1{
    font-size: 2.3125em
  }
  
  h2{
    font-size: 1.6875em
  }
  
  h3{
    font-size: 1.4375em
  }
  
  h4{
    font-size: 1.4375em
  }
  
  h5{
    font-size: 1.125em
  }
  
  h6{
    font-size: 1em
  }
  
  .banner h1{
    font-size: 1.6875em
  }
  
  #front{
    #guide-1{
      h1{
        margin-top: 5.5em
        font-size: 1.6875em
      }
    }
    
    #guide-2{
      hgroup{
        padding: 70px 15px
         
        h3{
          font-size: 1.125em
        }
      }
    } 
  }
  
  .refine-search{
    .airport{
      font-size: 1.125em
    }
    
    .date{
      .small-2.small-offset-4{
        margin-left: 0
      }
      
      .large-6{
        width: 83.333%
        
        &.pull-4{
          right: auto
        }
      }
    }
    
    .passengers{
      .large-2.large-offset-4{
        width: 25%
        margin-left: 25%
      }
      
      .large-4.pull-2{
        width: 50%
        left: auto
        right: auto
      }
    }
    
    .submit{
      .large-4{
        width: 50%
      }
    }
  }
  
  section.search-results{
    .flight-label{
      width: 100%
      text-align: center
      border-bottom: 1px solid #ccc
      background-position: center 2em
      
      & + .large-10{
        width: 100%
      }
    }
    
    .middle p{
      color: #444 !important
    }
    
    .schedule{
      font-size: 1em !important
      
      .foundicon-right-arrow{
        margin: 0 !important
      }
    }
    
    .plus-icon p{
      font-size: $smallest
    }
    
    .stats .large-6{
      width: 100%
    }
    
    .pin{
      left: 12.5% !important
    }
    
    .time-slot{
      padding: 0.5em 0
      
      .icons{
        font-size: 2em
        position:absolute 
        top: 0.25em
        left: 0
        margin-top: 0
      }
    }
    
    .more-slot-results{
      p.show{
        a{
          display: block
        }
      }  
    }
  }
  
  .comparison-column {
    article.flight{
      overflow: hidden
      border-left: 10px dashed $error
      
      .flight-wrapper{
        min-width: 200%
        left: -100%
        position: relative
      }
    }
  }
  
  .regular-results-footer-center{
    width: 75%
  }
  
  form.filters{
    .filter .small-6{
      width: 100%
    }
  }
  
  .more-results{
    .more-results-center{
      width: 75%
    }
  }
  
  time span{
    font-size: $smallest
  }
  
  .miles, .price{
    font-size: 1.125em
  }
  
  footer .side-nav{
    span{
      display: none
    }
  }
}


/* --- Alerts Temporary FIX --- */

.alert1{
  & > div{
    padding: 0.625em !important
    background: url(../img/alert_bg.png) top right no-repeat
  }
  
  .apply-program{
    span.foundicon-checkmark{
      display: none !important
    }
    
    &.disabled{
      margin-top: 0 !important
      
      span.foundicon-checkmark{
        display: inline !important
      }
      
      span.text{
        display: none !important
      }
    }
  }
  
  .remove-another-program{
    margin-left: 0 !important
    position: absolute !important
    top: 0.5em !important
    right: 1.2em !important
  }
  
  .new-program[programid]{
    label{
      display: none !important
    }
  }
  
  .actions{
    margin-top: 1em !important
  }
}

.alert2{
  position:relative !important
  
  & > div{
    padding: 0.625em !important
    background: url(../img/alert_bg.png) top right no-repeat 
  }
  
  figure{
    padding: 0.43em 1em !important
    background: $light !important
    border-radius: 5px 0 0 5px !important
  }
}

#twitter-side-block{
  position: fixed
  bottom: 10%
  right: -15em
  width: 15em
  background-color: #fff
  border-radius: 8px 0 0 8px
  box-shadow: 1px 1px 6px -2px #333
  z-index: 20
  
  .collapse{
    display: none
  }
  
  &.collapsed{
    right: -13em !important
    background-color: #feff88
    
    .wrapper{
      visibility: hidden
    }
    
    .collapse{
      color: #888
      transform:rotateZ(-90deg)
      display:block
      position:absolute
      top:124px
      left:-6.5em
      width:100%
      height:2em
      text-align:center
      line-height:2
    }
  }
  
  .wrapper{
    padding: 1.5em 1em 0.75em 1em
  }
  
  .highlight{
    background-color: #feff88
    margin-left: -1em
    margin-right: -1em
    padding: 85px 1em 0.5em 1em
    background-image: url(../img/twitter_side_block_logos.png)
    background-position: center 0.75em
    background-repeat: no-repeat
    margin-bottom: 0.75em
    
    h6{
      color: #bcbd46
    }
  }
  
  button.success{
    background-color: #79d845
    border-color: #86d135
    color: #fff
  }
  
  button.success:focus,
  button.success:hover{
    color: #fff
    background-color: #8ff045
  }
  
  .close{
    position: absolute
    top: 0.35em
    right: 0.35em
    color: #888
  }
}

#twitter-modal{
  min-width: 810px
  
  hgroup{
    margin-bottom:1.25em
  
    h2{
      margin-bottom:-0.25em
    }
  }
  
  .highlight{
    background-color: #feff88
    margin: 0 -1.85em
    
    table{
      border:none
      width:100%
      background:none
      
      td{
        text-align: center
        padding: 0.4em 0
      }
      
      tr.even,
      tr.alt,
      tr:nth-of-type(2n){
        background: rgba(255, 255, 255, 0.2)
      }
    }
    
    button{
      background-color: transparent
      width: 144px
      border: none
      margin: 0
      background-repeat: no-repeat
      height: 36px
      background-image: url(../img/twitter_logos.png)
      
      &:active{
        box-shadow: none
        border: none
      }
      
      &.selected{
        background-color: #fff
        border-radius: 5px
        box-shadow: inset 1px 1px 5px -3px #333
      }
      
      &.kayak{
        background-position: -12px -36px
        
        &.selected,
        &:hover{
          background-position: -12px 0
        }
      }
      
      &.skyscanner{
        background-position: -179px -36px
        
        &.selected,
        &:hover{
          background-position: -179px 0
        }
      }
      
      &.momondo{
        background-position: -348px -36px
        
        &.selected,
        &:hover{
          background-position: -348px 0
        }
      }
      
      &.expedia{
        background-position: -515px -36px
        
        &.selected,
        &:hover{
          background-position: -515px 0
        }
      }
      
      &.travelocity{
        background-position: -691px -36px
        
        &.selected,
        &:hover{
          background-position: -691px 0
        }
      }
    
      &.priceline{
        background-position: -851px -36px
        
        &.selected,
        &:hover{
          background-position: -851px 0
        }
      }
    
      &.cheapoair{
        background-position: -1021px -36px
        
        &.selected,
        &:hover{
          background-position: -1021px 0
        }
      }
    
      &.hotwire{
        background-position: -1187px -36px
        
        &.selected,
        &:hover{
          background-position: -1187px 0
        }
      }
      
      &.edreams{
        background-position: -1366px -36px
        
        &.selected,
        &:hover{
          background-position: -1366px 0
        }
      }
      
      &.rumbo{
        background-position: -1523px -36px
        
        &.selected,
        &:hover{
          background-position: -1523px 0
        }
      }
      
      &.opodo{
        background-position: -1698px -36px
        
        &.selected,
        &:hover{
          background-position: -1698px 0
        }
      }
      
      &.flightcentre{
        background-position: -1860px -36px
        
        &.selected,
        &:hover{
          background-position: -1860px 0
        }
      }
      
      &.tripadvisor{
        background-position: -2028px -36px
        
        &.selected,
        &:hover{
          background-position: -2028px 0
        }
      }
    }
  }
  
  .panel.twitter{
    border-radius:8px
    margin-bottom:0
    padding-left: 0.5em
    padding-right: 0.5em
    
    p{
      margin-bottom: 0
      color: #2b758d
      font-size: 0.875em
    }
  }
}