<section id="fare-attributes-collection">
    
    <div class="row">
        <div class="columns large-2">
            <ul class="side-nav">
                <li kk-nav="airlines"><a>Airlines</a></li>
                <li kk-nav="alliances"><a>Alliances</a></li>
                <li kk-nav="airports"><a>Airports</a></li>
                <li kk-nav="countries"><a>Countries</a></li>
                <li kk-nav="zones"><a>Zones</a></li>
                <li kk-nav="continents"><a>Continents</a></li>
                <li kk-nav="flights"><a>Flight numbers</a></li>
                <li kk-nav="benefits"><a>Passenger benefits</a></li>
                <li kk-nav="fareAttributes"><a>Fare attributes</a></li>
                <li kk-nav="atpco"><a>ATPCO codes</a></li>
                <li kk-nav="atpcoGroups"><a>ATPCO groups</a></li>
                <li kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></li>
                <li kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></li>
                <li kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></li>
            </ul>
        </div>
        <div class="columns large-10">
            <h1>Fare attributes</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li class="current" kk-nav route="fareAttributes">
                    <a>Fare attributes</a>
                </li>
            </ul>
        
            <div ng-if="items &amp;&amp; config">
                <div ng-if="items.length > 0">
                    
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" kk-nav route="newFareAttribute"><i class="fi-plus"></i> Add new</a></li>
                        </ul>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">No</th>
                                <th class="text-left">Code</th>
                                <th>Active</th>
                                <th class="text-left">Name</th>
                                <th class="text-left">Description</th>
                                <th class="text-left">Alliances</th>
                                <th class="text-left">Airlines</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" item in items ">
                                <td class="text-left">{{ $index + 1 }}</td>
                                <td class="text-left">{{ item.code }}</td>
                                <td><i ng-class="{ 'fi-check success' : item.active, 'fi-x alert': !item.active }"></i></td>
                                <th class="text-left">{{ item.name }}</th>
                                <td class="text-left">
                                    <span kk-tooltip="{{item.description}}" tooltip-if="item.description.length > descLimit">{{ item.description | trim : descLimit : '&hellip;' }}</span>
                                </td>
                                <td class="text-left">
                                    <span ng-repeat=" al in item.alliances " class="label radius secondary">
                                        {{ (config.alliances | find : al).name }}
                                    </span>
                                </td>
                                <td class="text-left">
                                    <span kk-tooltip="{{ item.airlines | join : ', ' }}" tooltip-if="item.airlines.length > airlineLimit">
                                        <span ng-repeat=" airline in item.airlines | limitTo : airlineLimit ">{{ airline }}<span ng-if="!$last">, </span></span>
                                        <span ng-if="item.airlines.length > airlineLimit">+</span>
                                    </span>
                                </td>
                                <td class="action"><a title="Edit" kk-nav route="editFareAttribute" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                <td class="action alert"><a title="Delete" ng-click="deleteItem(item)"><i class="fi-x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no fare attributes. Create <a kk-nav route="newFareAttribute">first one</a>.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>