<section id="flight-collection">
    
    <div class="row">
        <div class="columns large-12">
            
            <dl class="sub-nav">
                <dd kk-nav="airlines"><a>Airlines</a></dd>
                <dd kk-nav="alliances"><a>Alliances</a></dd>
                <dd kk-nav="airports"><a>Airports</a></dd>
                <dd kk-nav="countries"><a>Countries</a></dd>
                <dd kk-nav="zones"><a>Zones</a></dd>
                <dd kk-nav="continents"><a>Continents</a></dd>
                <dd kk-nav="flights"><a>Flight numbers</a></dd>
                <dd kk-nav="benefits"><a>Passenger benefits</a></dd>
                <dd kk-nav="fareAttributes"><a>Fare attributes</a></dd>
                <dd kk-nav="atpco"><a>ATPCO codes</a></dd>
                <dd kk-nav="atpcoGroups"><a>ATPCO groups</a></dd>
                <dd kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></dd>
                <dd kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></dd>
                <dd kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></dd>
            </dl>
            
            <h1>Flight numbers</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li class="current" kk-nav route="flights">
                    <a>Flight numbers</a>
                </li>
            </ul>
        
            <form class="filters" name="filterForm" novalidate ng-submit="submitFilters(filterForm)">
                
                <fieldset ng-class="{ collapsed: !filtersExpanded }">
                    
                    <legend>
                        <a ng-click="toggleFilters()"><i ng-class="{ 'fi-minus': filtersExpanded, 'fi-plus': !filtersExpanded }"></i> Filters</a> 
                        <span ng-if="!areFiltersEmpty()" class="label radius secondary"><i class="fi-check"></i></span>
                    </legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns large-8">
                                
                                <div class="row">
                                    <div class="columns small-4">
                                        <label>Airlines</label>
                                        <kk-tag-input collection="filters.airlines" typeahead-tag="code" typeahead-key="code" typeahead-value="name" typeahead-callback="getAirlines"></kk-tag-input>
                                    </div>
                                    <div class="columns small-4">
                                        <label>Departure airport or GRIL</label>
                                        <kk-tag-input collection="filters.departure" uppercase="true" validation-url="flight/validate-gril.json"></kk-tag-input>
                                    </div>
                                    <div class="columns small-4">
                                        <label>Arrival airport or GRIL</label>
                                        <kk-tag-input collection="filters.arrival" uppercase="true" validation-url="flight/validate-gril.json"></kk-tag-input>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="columns small-4">
                                        <label>Flight numbers</label>
                                        <kk-tag-input collection="filters.flights" pattern="flightRegExp" uppercase="true"></kk-tag-input>
                                    </div>
                                    <div class="columns small-2">
                                        <label for="filter-stops">Stops</label>
                                        <input type="number" name="numOfstops" ng-model="filters.numOfStops" id="filter-stops" />
                                        <kk-error field="filterForm.numOfstops">Number is invalid</kk-error>
                                    </div>
                                    <div class="columns small-4 small-offset-2">
                                        <label>Stops in</label>
                                        <kk-tag-input collection="filters.stops" typeahead-key="code" typeahead-value="name" typeahead-tag="code" typeahead-callback="getAirports"></kk-tag-input>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="columns small-4">
                                        <label>Operated by</label>
                                        <input type="checkbox" name="opByPart" id="filter-op-by-part" ng-model="filters.operatingByPartner" /> <label class="inline" for="filter-op-by-part">Partner</label>
                                        <input type="checkbox" name="wlease" id="filter-wetlease" ng-model="filters.wetlease" /> <label class="inline" for="filter-wetlease">Wetlease</label>
                                    </div>
                                    <div class="columns small-4">
                                        <label><abbr title="Other Marketing Carrier Flight Numbers">OMCFN</abbr></label>
                                        <kk-tag-input collection="filters.mktFlights" uppercase="true" validation-url="flight/validate-gril.json"></kk-tag-input>
                                    </div>
                                    <div class="columns small-4">
                                        <label for="filter-cabin">Cabin</label>
                                        <input type="text" class="uppercase" name="cabin" id="filter-cabin" ng-model="filters.cabin" ng-pattern="/^[a-zA-Z]+$/" />
                                        <kk-error field="filterForm.cabin">Only letter codes allowed</kk-error>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="columns small-8">
                                        <kk-tag-input collection="filters.operating" typeahead-tag="code" typeahead-key="code" typeahead-value="name" typeahead-callback="getAirlines"></kk-tag-input>
                                    </div>
                                    <div class="columns small-4">
                                        <label for="filter-classes">Classes</label>
                                        <input type="text" class="uppercase" name="classes" id="filter-classes" ng-model="filters.classes" ng-pattern="/^[a-zA-Z]+$/" />
                                        <kk-error field="filterForm.classes">Only letter codes allowed</kk-error>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="columns large-4">
                                
                                <div class="row">
                                    <div class="columns small-8 small-offset-4">
                                        <label>Effective date</label>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="columns small-4 text-right">
                                        <label class="inline">Start date</label>
                                    </div>
                                    <div class="columns small-8">
                                        <kk-period-picker from="filters.startDateFrom" until="filters.startDateUntil"></kk-period-picker>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns small-4 text-right">
                                        <label class="inline">End date</label>
                                    </div>
                                    <div class="columns small-8">
                                        <kk-period-picker from="filters.endDateFrom" until="filters.endDateUntil"></kk-period-picker>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="columns small-4 text-right">
                                        <label class="inline">Distance</label>
                                    </div>
                                    <div class="columns small-4">
                                        <input type="number" name="distanceMin" ng-model="filters.distanceMin" placeholder="From" />
                                        <kk-error field="filterForm.distanceMin">Number is invalid</kk-error>
                                    </div>
                                    <div class="columns small-4">
                                        <input type="number" name="distanceMax" ng-model="filters.distanceMax" placeholder="To" />
                                        <kk-error field="filterForm.distanceMax">Number is invalid</kk-error>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="columns small-4 text-right">
                                        <label class="inline">Duration [min]</label>
                                    </div>
                                    <div class="columns small-4">
                                        <input type="number" name="durationMin" ng-model="filters.durationMin" placeholder="From" />
                                        <kk-error field="filterForm.durationMin">Number is invalid</kk-error>
                                    </div>
                                    <div class="columns small-4">
                                        <input type="number" name="durationMax" ng-model="filters.durationMax" placeholder="To" />
                                        <kk-error field="filterForm.durationMax">Number is invalid</kk-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <button type="submit" class="tiny" ng-class="{ success: filterForm.$valid, secondary: filterForm.$valid }"><i class="fi-check"></i> Apply</button>
                        <button type="button" class="tiny secondary" ng-if="!areFiltersEmpty()" ng-click="resetFilter()">Reset</button>
                        
                    </div>
                    
                </fieldset>
                
            </form>
        
            <div ng-if="items">
                <div ng-if="items.length > 0">
                    
                    <table>
                        <thead>
                            <tr>
                                <td class="text-left">Id</td>
                                <th>Airline</th>
                                <td class="text-left">Flight</td>
                                <th><abbr title="Operating carrier">Op.</abbr></th>
                                <th><abbr title="Departure airport">From</abbr></th>
                                <th><abbr title="Destination airport">To</abbr></th>
                                <th class="text-left">Cabins</th>
                                <th class="text-left">Classes</th>
                                <th>Stops</th>
                                <th class="text-left">Stops in</th>
                                <th class="text-right">Distance</th>
                                <th class="text-right">Duration</th>
                                <th class="text-left">Start date</th>
                                <th class="text-left">End date</th>
                                <th class="text-left"><abbr title="Other Marketing Carrier Flight Numbers">OMCFN</abbr></th>
                                <th class="text-left">Wetlease</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" item in items ">
                                <th class="text-left">{{ item.id }}</th>
                                <td><span class="label radius" kk-tooltip="{{item.airlineName}}">{{ item.airline }}</span></td>
                                <td class="text-left">{{ item.flight }}</td>
                                <td><span class="label radius" ng-class="{ secondary: !item.wetlease, alert: item.wetlease }" kk-tooltip="{{item.operatingName}}">{{ item.operating }}</span></td>
                                <td><span kk-tooltip="{{item.departureName}}">{{item.departure}}</span> (<span kk-tooltip="{{item.departureCountryName}}">{{item.departureCountry}}</span>)</td>
                                <td><span kk-tooltip="{{item.arrivalName}}">{{item.arrival}}</span> (<span kk-tooltip="{{item.arrivalCountryName}}">{{item.arrivalCountry}}</span>)</td>
                                <td class="text-left cabin"><span ng-repeat="code in item.cabins.split('')" class="label secondary radius">{{ code }}</span></td>
                                <td class="text-left cls"><span ng-repeat="code in item.classes.split('')" class="label success radius">{{ code }}</span></td>
                                <td>{{ item.stops | number : 0 }}</td>
                                <td class="text-left stops"><span ng-if="item.stopCodes" ng-repeat="code in item.stopCodes.split('!')">{{ code }}</span><i ng-if="!item.stopCodes" class="fi-x"></i></td>
                                <td class="text-right nowrap">{{item.distance | number: 0}} mi</td>
                                <td class="text-right nowrap">{{item.duration | duration}}</td>
                                <td class="text-left nowrap">{{item.startDate | date : 'mediumDate' }}</td>
                                <td class="text-left nowrap">{{item.endDate | date : 'mediumDate' }}</td>
                                <td class="text-left"><span ng-if="item.mktFlights.length > 0" kk-tooltip="{{ item.mktFlights | join : '<br />' }}" tooltip-if="item.mktFlights.length > 1">{{ item.mktFlights[0] }}</span><span ng-if="item.mktFlights.length <= 0"><i class="fi-x"></i></span></td>
                                <td class="text-left"><span ng-if="item.wetlease" kk-tooltip="{{item.wetlease}}" tooltip-if="item.wetlease.length > 20">{{ item.wetlease | trim : 20 : '&hellip;' }}</span><span ng-if="!item.wetlease"><i class="fi-x"></i></span></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="pagination-centered">
                        <pagination total-items="totalItems" page="params.page" items-per-page="params.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)" class="pagination-sm"></pagination>
                    </div>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no flight codes. Try to remove some fliters and refresh results.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>