<h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
<h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
<p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
<p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
<button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>