<section id="role-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Role</h1>
                <h4 class="subheader">{{ role.name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New role</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="roles">
                    <a>Roles</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editRole" ng-attr-param-id="{{ role.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newRole">
                    <a>New</a>
                </li>
            </ul>
            
        </div>
    </div>
    
    <form name="roleForm" ng-submit="submit(roleForm)" novalidate ng-if="tools">
        
        <div class="row">
            <div class="columns large-6">
                <fieldset>
                    <legend>Basic</legend>
                    
                    <ul class="button-group round">
                        <li><button type="button" class="button tiny" ng-class="{ secondary: !role.active, success: role.active } " ng-model="role.active" btn-radio="true">Active</button></li>
                        <li><button type="button" class="button tiny" ng-class="{ secondary: role.active, alert: !role.active } " ng-model="role.active" btn-radio="false">Inactive</button></li>
                    </ul>
                    
                    <label for="role-name">Name <small>Required</small></label>
                    <input type="text" ng-model="role.name" id="role-name" name="rolename" required />
                    <kk-error field="roleForm.rolename">This field is required</kk-error>
                    
                    <label for="role-desc">Description <small>Required</small></label>
                    <textarea ng-model="role.description" id="role-desc" name="desc" required></textarea>
                    <kk-error field="roleForm.desc">This field is required</kk-error>
                    
                </fieldset>
            </div>
            <div class="columns large-6">
                <fieldset>
                    <legend>Permissions</legend>
                    
                    <dl class="sub-nav" ng-if="tools.length > 0">
                        <dt>Select:</dt>
                        <dd ng-class=" { active: arePermissionsSelected('all') } "><a ng-click="select('all')">All</a></dd>
                        <dd ng-class=" { active: arePermissionsSelected('view') && !arePermissionsSelected('all') && !arePermissionsSelected('edit') && !arePermissionsSelected('delete') } "><a ng-click="select('view')">View</a></dd>
                        <dd ng-class=" { active: arePermissionsSelected('edit') && !arePermissionsSelected('all') && !arePermissionsSelected('delete') } "><a ng-click="select('edit')">Edit</a></dd>
                        <dd ng-class=" { active: arePermissionsSelected('delete') && !arePermissionsSelected('all') } "><a ng-click="select('delete')">Delete</a></dd>
                        <dd ng-class=" { active: permissions.length <= 0 } "><a ng-click="select('none')">None</a></dd>
                    </dl>
                    
                    <ul class="small-block-grid-4" ng-if="tools.length > 0">
                        <li ng-repeat=" tool in tools | orderBy : 'name' ">
                            <h6>{{ tool.name }}</h6>
                            
                            <ul class="no-bullet" ng-if="tool.permissions.length > 0">
                                <li ng-repeat="perm in tool.permissions | orderBy : 'name' ">
                                    <input ng-attr-id="perm-{{perm.id}}" type="checkbox" checklist-model="permissions" name="permissions" checklist-value="perm.id" /> <label ng-attr-for="perm-{{perm.id}}" kk-tooltip="{{perm.description}}">{{perm.name}}</label>
                                </li>
                            </ul>
                            <p ng-if="! tool.permissions.length > 0">No permissions. <br />Add <a ng-href="tools.html#/tools/edit/{{tool.id}}">first one</a>.</p>
                        </li>
                    </ul>

                    <p ng-if="!tools.length > 0">There are no tools with defined permissions yet. <br />Add <a href="tools.html#/tools/new">first one</a>.</p>
                    
                </fieldset>
            </div>
        </div>
        
        <div class="row">
            <div class="columns large-12">
                <button type="submit" ng-class=" { success: roleForm.$valid, secondary: !roleForm.$valid } "><i class="fi-check"></i> Save</button>
                <a kk-nav route="roles" class="secondary button">Cancel</a>
                <button ng-show="!isNew" type="button" class="alert right" ng-click="promptDeleteRole(role)">Delete</button>
            </div>
        </div>
    </form>
    
</section>