#airport-collection #dropdown-countries{
    max-width: 500px;
    width: 500px;
}

#flight-collection .row{
    max-width: 80rem;
}

#flight-collection .sub-nav{
    border-radius: 0 0 5px 5px;
    margin: -1.5rem 0 0.75rem;
}

#flight-collection table .stops,
#flight-collection table .cabin{
    white-space: nowrap;
}

#flight-collection table .stops span + span{
    margin-left: 0.25rem;
}

#flight-collection table .cls{
    width: 12rem;
}

#flight-collection table .cls .label{
    margin: 0 0.25rem 0.25rem 0;
}

#flight-collection .filters .tag-input{
    width: 8rem;
}

.remove-btn{
    color: #888;
}

.remove-btn:hover{
    color: #c60f13;
}

.branded-fares input[type="radio"]{
    margin-bottom: 0.25rem;
}

.branded-fares .reg-exp{
    font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
}

#atpco-collection .atpco-filter-btn .button{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}