									<!-- Top Bar -->
									<div class="panel">
										<div class="row">
											<div class="columns large-6">
												<div class="row collapse">
													<div class="columns small-5">
														<span class="prefix">
															<strong class="price">$4432</strong>
														</span>
													</div>
													<div class="columns small-7">
														<span class="postfix">
															<img src="img/airline_logo0.png" alt="Airline logo" /> China Eastern
														</span>
													</div>
												</div>
											</div>
											<div class="columns large-6">
												<div class="row collapse">
													<div class="columns small-5">
														<span class="prefix">
															<strong class="miles">5453</strong>
															<span class="small">Miles</span>
														</span>
													</div>
													<div class="columns small-7">
														<form class="custom">
															<select class="change-program">
																<option value="34" data-miles="4344 miles">Delta Skymiles</option>
																<option value="22" data-miles="5435 miles">Miles &amp; More</option>
															</select>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="columns large-6">
												<div class="progress success">
													<span class="meter" style="width:30%" data-increment="50">
														<div class="before"></div>
													</span>
												</div>
												<div class="desc">Flight to Las Vegas&mdash;<strong>23045 miles left</strong></div>
											</div>
											<div class="columns large-6">												
												<div class="progress secondary">
													<span class="meter" style="width:30%" data-increment="50">
														<div class="before"></div>
													</span>
												</div>
												<div class="desc">Silver Status&mdash;<strong>23045 miles left</strong></div>
											</div>
										</div>
										
										<a class="close" href="#">&times;</a>
									</div>
									<!-- END of Top Bar -->
									
									<!-- Main Table -->
									<form class="custom">
										<table class="flight-options">
											<thead>
												<tr><th colspan="3">Departure <span class="date">23 Mar 2014</span></th><th colspan="3">Return <span class="date">24 Mar 2014</span></th></tr>
											</thead>
											<tbody>
												<tr>
													<td class="radio-col"></td>
													<td class="schedule-col">
														<div class="schedule">
															<time>12:35 <span>pm</span></time>
															<span class="foundicon-right-arrow"></span>
															<time>6:40 <span>pm</span><span class="day">+1</span></time>
														</div>
														<div class="duration desc"><div class="has-tip" data-tooltip title="Shanghai Pudong Airport">PVG</div> <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> <div class="has-tip" data-tooltip title="London Imaginary Airport">LHR</div></div>
													</td>
													<td class="stops-col">
														<div class="stops">
															<strong>2</strong>
															<span class="desc has-tip" data-tooltip title="New York NYC | 2h34min<br />Tokyo TYC | 3h54min">Stops</span>
														</div>
													</td>
													
													<td class="radio-col">
														<input type="radio" name="return-XXX" value="YYY" checked /> <span class="custom radio"></span>
													</td>
													<td class="schedule-col">
														<div class="schedule">
															<time>12:35 <span>pm</span></time>
															<span class="foundicon-right-arrow"></span>
															<time>6:40 <span>pm</span><span class="day">+1</span></time>
														</div>
														<div class="duration desc"><div class="has-tip" data-tooltip title="Shanghai Pudong Airport">PVG</div> <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> <div class="has-tip" data-tooltip title="London Imaginary Airport">LHR</div></div>
													</td>
													<td class="stops-col">
														<div class="stops">
															<strong>1</strong>
															<span class="desc has-tip" data-tooltip title="New York NYC | 2h34min">Stop</span>
														</div>
													</td>
												</tr>
												
												<tr>
													<td width="6" colspan="3"></td>
													
													<td class="radio-col">
														<input type="radio" name="return-XXX" value="ZZZ" /> <span class="custom radio"></span>
													</td>
													<td class="schedule-col">
														<div class="schedule">
															<time>12:35 <span>pm</span></time>
															<span class="foundicon-right-arrow"></span>
															<time>6:40 <span>pm</span><span class="day">+1</span></time>
														</div>
														<div class="duration desc"><div class="has-tip" data-tooltip title="Shanghai Pudong Airport">PVG</div> <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> <div class="has-tip" data-tooltip title="London Imaginary Airport">LHR</div></div>
														<div class="desc"><a href="#" class="show-longer-overlay" data-collapsed-rows="1">Show longer stop<span class="foundicon-down-arrow"></span></a></div>
													</td>
													<td class="stops-col">
														<div class="stops">
															<strong>0</strong>
															<span class="desc">Nonstop</span>
														</div>
													</td>
												</tr>
												
												<tr>
													<td width="6" colspan="3"></td>
													
													<td class="radio-col">
														<input type="radio" name="return-XXX" value="DDD" /> <span class="custom radio"></span>
													</td>
													<td class="schedule-col">
														<div class="schedule">
															<time>12:35 <span>pm</span></time>
															<span class="foundicon-right-arrow"></span>
															<time>6:40 <span>pm</span><span class="day">+1</span></time>
														</div>
														<div class="duration desc"><div class="has-tip" data-tooltip title="Shanghai Pudong Airport">PVG</div> <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> <div class="has-tip" data-tooltip title="London Imaginary Airport">LHR</div></div>
													</td>
													<td class="stops-col">
														<div class="stops">
															<strong>0</strong>
															<span class="desc">Nonstop</span>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</form>
									<!-- END of Main Table -->
									
									<!-- Flight Details -->
									<div class="details-wrapper">
										<div class="row">
											<div class="columns large-6">
												<div class="desc"><span class="foundicon-idea"></span> Check more details on mouse-over</div>
												
												<!-- Departure Details -->
												<div class="departure details">
													<div class="graph-wrapper">
														<div class="graph-top">
															<span class="graph-fragment" style="width:100%" data-fragment-id="1">
																<div class="graph graph-flight"></div>
															</span>
														</div>
														<div class="graph-bottom"></div>
													</div>
													<div class="graph-info">
														<div class="info-default">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	Shanghai PVG
																</div>
																<div class="columns small-4 small-offset-4">
																	<time>6:40pm</time>
																	London LHR
																</div>
															</div>
														</div>
														<div class="info-fragment" data-fragment-id="1">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	Shanghai PVG
																</div>
																<div class="columns small-4 middle">
																	<div class="inner">
																		<strong>7h46min</strong><br />
																		Flight No: EB45355
																		<div class="wide">
																			Operated by: China Eastern<br />
																			Boeing 747-400
																		</div>
																	</div>
																</div>
																<div class="columns small-4">
																	<time>6:40pm</time>
																	London LHR
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- Departure Details -->
												
											</div>
											<div class="columns large-6">
												<div class="desc"><span class="foundicon-idea"></span> Check more details on mouse-over</div>
												
												<!-- Return Details -->
												<div class="return details" data-return-id="YYY">
													<div class="graph-wrapper">
														<div class="graph-top">
															<span class="graph-fragment" style="width:60%" data-fragment-id="1">
																<div class="graph graph-flight"></div>
															</span>
															<span class="graph-fragment" style="width:20%" data-fragment-id="2">
																<div class="graph graph-overlay">3h34min</div>
															</span>
															<span class="graph-fragment" style="width:20%" data-fragment-id="3">
																<div class="graph graph-flight"></div>
															</span>
														</div>
														<div class="graph-bottom"></div>
													</div>
													<div class="graph-info">
														<div class="info-default">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	Shanghai PVG
																</div>
																<div class="columns small-4 small-offset-4">
																	<time>6:40pm +1</time>
																	London LHR
																</div>
															</div>
														</div>
														<div class="info-fragment" data-fragment-id="1">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	Shanghai PVG
																</div>
																<div class="columns small-4 middle">
																	<div class="inner">
																		<strong>3h06min</strong><br />
																		Flight No: EB45355<br />
																		<div class="wide">
																			Operated by: China Eastern<br />
																			Boeing 747-400
																		</div>
																	</div>
																</div>
																<div class="columns small-4">
																	<time>2:40pm</time>
																	Frankfurt FRA
																</div>
															</div>
														</div>
														<div class="info-fragment" data-fragment-id="2">
															<div class="row">
																<div class="columns small-4">
																	<time>2:40pm</time>
																	Frankfurt FRA
																</div>
																<div class="columns small-4 middle">
																	<div class="inner">
																		<strong>3h</strong><br />
																		<span class="foundicon-rss social"></span> Airport Wi-Fi
																	</div>
																</div>
																<div class="columns small-4">
																	<time>5:40pm</time>
																	Frankfurt FRA
																</div>
															</div>
														</div>
														<div class="info-fragment" data-fragment-id="3">
															<div class="row">
																<div class="columns small-4">
																	<time>5:40pm</time>																	
																	Frankfurt FRA
																</div>
																<div class="columns small-4 middle">
																	<div class="inner">
																		<strong>10h26min</strong><br />
																		Flight No: EB4dsad<br />
																		Boeing 747-400
																	</div>
																</div>
																<div class="columns small-4">
																	<time>9:40pm +1</time>
																	London LHR
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="return details" data-return-id="ZZZ">
													Flight no 2
												</div>
												<div class="return details" data-return-id="DDD">
													Flight no 3
												</div>
												<!-- END of Return Details -->
												
											</div>
										</div>
									</div>
									<!-- END of Flight Details -->
									
									<!-- Cabin Classes -->
									<form class="classes-wrapper panel custom">		
										<h5>Check other fares &mdash; earn more miles</h5>								
										<table class="classes">
											<thead>
												<tr><th></th><th>Cabin</th><th>Features</th><th>Progress</th><th>Miles</th><th>Price</th></tr>
											</thead>
											<tbody>
												<tr class="separator"><th></th><th colspan="5">Cheapest class</th></tr>
												<tr>
													<td class="radio-col"><input type="radio" name="cabin-class" value="34" checked /> <span class="custom radio"></span></td>
													<td class="name-col">
														<strong>Coach</strong>
														<div class="desc">Fare code B</div>
													</td>
													<td class="features-col"></td>
													<td class="progress-col">
														<div class="progress success caption">
															<span class="goal">Las Vegas</span>
															<span class="meter" style="width:30%">
																<span class="goal">Las Vegas</span>
															</span>
														</div>
														<div class="progress secondary caption">
															<span class="goal">Silver Status</span>
															<span class="meter" style="width:54%">
																<span class="goal">Silver Status</span>
															</span>
														</div>
													</td>
													<td class="miles-col">
														<strong class="miles">4343</strong>
													</td>
													<td class="price-col">
														<strong class="price">$5434</strong>
													</td>
												</tr>
												<tr class="separator"><th></th><th colspan="5">More expensive classes</th></tr>
												<tr>
													<td class="radio-col"><input type="radio" name="cabin-class" value="15" /> <span class="custom radio"></span></td>
													<td class="name-col">
														<strong>Coach</strong>
														<div class="desc">Fare code B</div>
													</td>
													<td class="features-col">
														<ul>
															<li><span class="foundicon-refresh"></span> Refundable</li>
															<li><span class="foundicon-smiley"></span> Lounge access</li>
														</ul>
													</td>
													<td class="progress-col">
														<div class="progress success caption">
															<span class="goal">Las Vegas</span>
															<span class="meter" style="width:40%">
																<span class="goal">Las Vegas</span>
															</span>
														</div>
														<div class="progress secondary caption">
															<span class="goal">Silver Status</span>
															<span class="meter" style="width:74%">
																<span class="goal">Silver Status</span>
															</span>
														</div>
													</td>
													<td class="miles-col">
														<strong class="miles">6343</strong>
													</td>
													<td class="prices-col">
														<strong class="price">$7434</strong>
													</td>
												</tr>
												<tr>
													<td class="radio-col"><input type="radio" name="cabin-class" value="26" /> <span class="custom radio"></span></td>
													<td class="name-col">
														<strong>Business</strong>
														<div class="desc">Fare code Z</div>
													</td>
													<td class="features-col">
														<ul>
															<li><span class="foundicon-refresh"></span> Refundable</li>
															<li><span class="foundicon-smiley"></span> Lounge access</li>
														</ul>
													</td>
													<td class="progress-col">
														<div class="progress success caption">
															<span class="goal">Las Vegas</span>
															<span class="meter" style="width:60%">
																<span class="goal">Las Vegas</span>
															</span>
														</div>
														<div class="progress secondary caption">
															<span class="goal">Silver Status</span>
															<span class="meter" style="width:94%">
																<span class="goal">Silver Status</span>
															</span>
														</div>
													</td>
													<td class="miles-col">
														<strong class="miles">8343</strong>
													</td>
													<td class="prices-col">
														<strong class="price">$10434</strong>
													</td>
												</tr>
											</tbody>
										</table>
										
										<span class="foundicon-star star-1"></span>
										<span class="foundicon-star star-2"></span>
										<span class="foundicon-star star-3"></span>
										<span class="foundicon-star star-4"></span>
									</form>
									<!-- END of Cabin Classes -->
									
									<!-- Buttons -->
									<div class="actions">
										<a href="#" class="hide-classes">Change return flight</a>
										<a href="#" class="button tiny hide-flight-details">Close details</a>
										<a href="#" class="button tiny show-flight-details">Details</a>
										<a href="booking.html" class="button tiny book-ticket secondary">Go to booking</a>
										<a href="#" class="button  tiny secondary show-classes">Confirm</a>
									</div>
									<!-- END Buttons -->