<table class="creator">
    <thead>
        <tr>
            <th rowspan="2" class="text-right">Factor</th>
            <th rowspan="2" class="text-right">Fixed</th>
            <th rowspan="2" class="text-right">Fixed bonus</th>
            <th rowspan="2" class="text-right">Minimum</th>
            <th rowspan="2">For leg</th>
            <th colspan="2">Elite</th>
            <th rowspan="2" class="text-left">Range/GRIL</th>
        </tr>
        <tr>
            <th>Bonus</th>
            <th>Minimum</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="rule in items">
            <td class="text-right">{{ rule.factor | number : 2 }}</td>
            <td class="text-right">{{ rule.fixed | number : 2 }}</td>
            <td class="text-right">{{ rule.fixedBonus | number : 2 }}</td>
            <td class="text-right">{{ rule.minimum | number : 2 }}</td>
            <td><i ng-class="{ 'fi-x alert': !rule.forLeg, 'fi-check success': rule.forLeg }"></i></td>
            <td><i ng-class="{ 'fi-x alert': !rule.eliteBonus, 'fi-check success': rule.eliteBonus }"></i></td>
            <td><i ng-class="{ 'fi-x alert': !rule.eliteMinimum, 'fi-check success': rule.eliteMinimum }"></i></td>
            <td class="text-left no-wrap">
                
                <span ng-if="rule.rangeFrom &amp;&amp; rule.rangeTo">{{rule.rangeFrom | number : 0}} &ndash; {{rule.rangeTo | number : 0}}</span>
                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; (!rule.gril || rule.gril.length < 1)">None</span>
                <span ng-if="(!rule.rangeFrom || !rule.rangeTo) &amp;&amp; rule.gril.length > 0">
                    <span class="label" ng-repeat="g in rule.gril">{{ g }}</span>
                </span>
                
            </td>
        </tr>
    </tbody>
</table>