<table>
    <thead>
        <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Status</th>
            <th class="text-right"><abbr title="Distance bonus">Dist. bonus</abbr></th>
            <th class="text-right"><abbr title="Reveune bonus">Rev. bonus</abbr></th>
            <th ng-repeat="accrual in data.ffp.accruals" ng-if="accrual.id" class="accrual text-right">
                <span ng-class="{ 'distance-based' : accrual.earningBase == 'distance' }">{{ accrual.name }}</span>
            </th>
            <th><abbr title="Apply minimum miles">AMM</abbr></th>
            <th class="text-left">Geographical rules</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tier in items">
            <th class="text-left">{{ tier.name }}</th>
            <td class="text-left">{{ (data.config.statuses | find : tier.status).name }}</td>
            <td class="text-right">{{ tier.distanceBonus | number : 2 }}</td> 
            <td class="text-right">{{ tier.revenueBonus | number : 2 }}</td>
            <td ng-repeat="accrual in data.ffp.accruals" ng-if="accrual.id" class="text-right">
                {{ (tier.accruals | find : accrual.id).value | number : 0 }} 
            </td>
            <td><i ng-class="{ 'fi-check' : tier.applyMinMiles, 'fi-x' : !tier.applyMinMiles }"></i></td>
            <td class="text-left nowrap">
                <span class="label" ng-repeat="code in tier.gril">{{code}}</span>
            </td>
        </tr>
    </tbody>
</table>