#test-collection table .objective a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12rem;
    white-space: nowrap;
    text-transform: none;
}

#test-collection table .objective a.full{
    white-space: normal;
}

#test-collection table thead td,
#test-collection table thead th{
    vertical-align: bottom;
} 

#test-edit .segment .label{
    margin-top: 0.3rem;
}

#test-edit hgroup h4 .fi-arrow-right{
    color: #ccc;
}

#test-edit .segment .fi-arrow-right{
    color: #ccc;
}

#test-edit .panel{
    background-color: #fcfcfc;
    border-color: #ddd;
}

#test-edit .expected{
    position: relative;
}

#test-edit .expected i{
    position: absolute;
    top: 0.45rem;
    left: 0.75rem;
}

#test-edit .expected i{
    display: none;
}

#test-edit .expected.result input{
    padding-left: 1.75rem;
}

#test-edit .expected.result i{
    display: inline;
}

#test-edit .distance{
    margin-bottom: 0.5rem;
}

#test-edit .airport .f-dropdown{
    max-width: 350px;
    width: 350px;
}

#test-edit .has-form th{
    padding: 0.3rem 0.5rem;
}

#test-edit .etc{
    font-size: 0.6rem;
    color: #666;
}

#test-edit #test-result{
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 0 0 #fff;
}

#test-edit #test-result.highlight{
    background-color: #D1FFB5;
    box-shadow: 0 0 15px 5px #AEF771;
}

#test-edit table.shrink{
    width: auto;
}

#test-collection .row{
    max-width: 80rem;
}

#test-edit .even{
    border-left: 3px solid #5da423;
    min-height: 2rem;
}

#test-edit .odd{
    border-left: 3px solid #2285a2;
    min-height: 2rem;
}

table .note{
    font-size: 0.75rem;
    color: #888;
    margin-bottom: 0;
}

table .accrual{
    color: #2BA6CB;
}

table .accrual .revenue-based{
    color: #5da423;
}

#test-collection .codeshare-dropdown{
    padding: 0 1.25rem 0.5rem 1.25rem;
    max-width: 300px;
}