											<div class="row collapse program-input">
												<div class="large-2 columns">
													<figure>
														<img src="img/program_logo0.png" alt="Program name" />
													</figure>	
												</div>
												<div class="large-10 columns">
													<span class="postfix result">
														<div class="row">
															<div class="columns large-4">
																<span class="miles">3554</span> <span class="desc">Award miles</span>
															</div>
															<div class="columns large-4">
																<span class="miles status">33554</span> <span class="desc">Status miles</span>
															</div>
															<div class="columns large-4">
																<span class="miles status">22</span> <span class="desc">Segments</span>
															</div>
														</div>
													</span>
												</div>
											</div>
