.tag-input-form{
    margin-bottom: 0.5rem;
}

.tag-input-items span.label{
    margin-right: 0.33rem;
    margin-bottom: 0.25rem;
}

.tag-input-items span.label:last-child{
    margin-right: 0;
}

.tag-input-items span.label a{
    color: #888;
}

.tag-input-items span.label a:hover{
    color: #c60f13;
}

.uppercase{
    text-transform: uppercase;
}

.tag-input-form input.tag-input{
    display: inline-block;
    height: 1.75rem;
    margin-bottom: 0.25rem;
    padding: 0.25rem 0.5rem;
    width: 4rem;
}

.tag-input-errors small.kk-error.ng-hide + small.kk-error:not(.ng-hide){
    margin: 0;
}

kk-tag-input.wrap-tags .label{
    max-width: 100%;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
}