<span ng-if="requiredIf()">Required</span>
<div ng-form="tagInput" ng-submit="submit(tagInput)" novalidate class="tag-input-form">
    <span class="tag-input-items" ng-class="{ uppercase: uppercase }"><span class="label secondary radius" ng-repeat=" item in collection "><span ng-if="!typeahead">{{ item }}</span><span ng-if="typeahead">{{ item[typeahead.tag] }}</span> <a ng-click="remove(item)" title="Delete"><i class="fi-x"></i></a></span></span>
    <input ng-if="!typeahead" class="tag-input" ng-class="{ uppercase: uppercase, loading: loading }" ng-disabled="loading" ng-attr-type="{{inputType}}" ng-model="model.value" name="tag" ng-attr-placeholder="{{placeholder}}" ng-pattern="pattern" ng-attr-maxlength="{{maxlength}}" ng-keypress="onKeyPress($event)" />
    <input ng-if="typeahead" class="tag-input" ng-class="{ uppercase: uppercase, loading: loading }" ng-attr-type="{{inputType}}" ng-model="model.value" name="tag" ng-attr-placeholder="{{placeholder}}" typeahead="{{typeahead.config}}" typeahead-loading="loading" typeahead-on-select="onTypeaheadSelect(model.value)" typeahead-editable="false" typeahead-input-formatter="formatTypeahead" />
    
    <div class="tag-input-errors">
        <kk-error field="tagInput.tag" type="required">You need to add at least one item</kk-error>
        <kk-error field="tagInput.tag" type="pattern">Input is not valid</kk-error>
        <kk-error field="tagInput.tag" type="unique">Value has been already added</kk-error>
        <kk-error field="tagInput.tag" type="server">{{serverError}}</kk-error>
    </div>
    
</div>