<section id="ffp-benefit-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Status benefit rule</h1>
                <h4 class="subheader">#{{ item.code }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New status benefit rule</h1>
        
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li kk-nav route="benefitRules" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Status benefits rules</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editBenefitRule" ng-attr-param-ffpid="{{ ffp.id }}" ng-attr-param-id="{{ item.id }}">
                    <a>{{ item.code }}</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newBenefitRule" ng-attr-param-ffpid="{{ ffp.id }}">
                    <a>New</a>
                </li>
            </ul>
            
            <div class="alert-box warning radius" ng-if="applyToAll()">
                <i class="fi-checkbox"></i> You are in apply-to-all mode. Any change will affect <strong>all selected rules</strong>.
            </div>
            
            <pager ng-if="paged" total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
            
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate ng-if="item &amp;&amp; config">
                
                <div class="button-bar">
                    <ul class="button-group" ng-if="!applyToAll()">
                        <li><button type="submit" class="tiny" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button></li>
                        <li><a kk-nav route="benefitRules" ng-attr-param-ffpid="{{ffp.id}}" class="secondary tiny button">Cancel</a></li>
                    </ul>
                    <ul class="button-group" ng-if="applyToAll()">
                        <button type="submit" class="tiny" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Apply</button>
                    </ul>
                </div>
                
                <fieldset class="ffp-summary">
                    <legend>Program summary</legend>
                    
                    <dl class="inline">
                        <dt>Name</dt>
                        <dd><a kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">{{ ffp.name }}</a></dd>
                        <dt>Code</dt>
                        <dd>{{ ffp.code }}</dd>
                        <dt>Airlines</dt>
                        <dd><span class="label secondary radius" ng-repeat="airline in ffp.owningAirlines">{{ airline }}</span></dd>
                    </dl>
                    
                    <div class="alert-box warning radius" ng-if="!config.benefits.length">
                        <i class="fi-alert"></i> This program has no active status benefits. Add them to program in <a href="staticdata#/benefits" title="Add benefits to this program">static data</a> section first.
                    </div>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Basic</legend>
                    
                    <div class="row">
                        <div class="columns large-1 large-offset-3">
                            <label for="rule-code">ID <small>Required</small></label>
                        </div>
                        <div class="columns large-2">
                            <label for="rule-status">Status <small>Required</small></label>
                        </div>
                        <div class="columns large-3">
                            <label for="rule-benefit">
                                <i class="fi-alert" ng-if="!(config.benefits | find : item.benefit).active" kk-tooltip="Selected benefit type is inactive"></i>
                                Benefit <small>Required</small>
                            </label>
                        </div>
                        <div class="columns large-3">
                            <label for="rule-name">Name <small>Required</small></label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="columns large-3">
                            <ul class="button-group round even-2">
                                <li><button type="button" class="button tiny" ng-class="{ secondary: !item.active, success: item.active } " ng-model="item.active" btn-radio="true" ng-change="applyToAllSync('active')">Active</button></li>
                                <li><button type="button" class="button tiny" ng-class="{ secondary: item.active, alert: !item.active } " ng-model="item.active" btn-radio="false" ng-change="applyToAllSync('active')">Inactive</button></li>
                            </ul>
                        </div>
                        <div class="columns large-1">
                            <input type="text" ng-disabled="isNew || applyToAll()" name="ruleCode" id="rule-code" ng-model="item.code" class="uppercase" ng-pattern="ruleCodePattern" />
                            <kk-error field="itemForm.ruleCode">Only digits</kk-error>
                        </div>
                        <div class="columns large-2">
                            <select id="rule-status" name="ruleStatus" ng-model="item.status" ng-options="tier.id as tier.name for tier in ffp.tiers" ng-change="applyToAllSync('status')" required></select>
                            <kk-error field="itemForm.ruleStatus">Required</kk-error>
                        </div>
                        <div class="columns large-3">
                            <select id="rule-benefit" name="ruleBenefit" ng-model="item.benefit" ng-options="benefit.id as benefit.name for benefit in config.benefits" ng-change="onBenefitChange(item.benefit);applyToAllSync('benefit')" required></select>
                            <kk-error field="itemForm.ruleBenefit">Required</kk-error>
                        </div>
                        <div class="columns large-3">
                            <input type="text" id="rule-name" name="ruleName" ng-model="item.name" required/>
                            <kk-error field="itemForm.ruleName">Required</kk-error>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="columns large-1 large-offset-3">
                            <label for="airline-code" class="nowrap">Airline <small>Req.</small></label>
                        </div>
                        <div class="columns large-2">
                            <label for="rule-fare-codes">Fare codes</label>
                        </div> 
                        <div class="columns large-3">
                            <input type="checkbox" id="rule-bfa" name="ruleBfa" ng-model="item.brandedFaresActive" ng-change="applyToAllSync('brandedFaresActive')" ng-disabled="!item.airline.code" /> <label for="rule-bfa">Branded fare</label>
                        </div>
                        <div class="columns large-3 end">
                            <label for="rule-fare-family">Fare family</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="columns large-1 large-offset-3">
                            <input type="text" name="ruleAirlineCode" id="airline-code" ng-model="item.airline.code" required ng-pattern="airlineCodePattern" placeholder="XX" class="uppercase" ng-change="applyToAllSyncAirline('code')" />
                            <kk-error field="itemForm.ruleAirlineCode" type="required">Required</kk-error>
                            <kk-error field="itemForm.ruleAirlineCode" type="pattern">2 char. only</kk-error>
                        </div>
                        <div class="columns large-2">
                            <input type="text" id="rule-fare-codes" name="ruleFareCode" ng-model="item.fareCodes" ng-pattern="/^[a-zA-Z]+$/" class="uppercase" ng-change="applyToAllSync('fareCodes')" />
                            <kk-error field="itemForm.ruleFareCode">Only letters allowed</kk-error>
                        </div>
                        <div class="columns large-3">
                            <button type="button" class="tiny secondary expand" title="Branded fares" dropdown-toggle="#dropdown-branded-fares" ng-disabled="!item.brandedFaresActive || loadingBrandedFares">
                                <span ng-if="item.brandedFares.length <= 0 || !item.brandedFaresActive">No branded fares</span>
                                <span ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length <= 1 &amp;&amp; item.brandedFares.length > 0 &amp;&amp; brandedFares.length > item.brandedFares.length">{{ (brandedFares | find : item.brandedFares[0] : 'code').name }}</span>
                                <span ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length > 1 &amp;&amp; brandedFares.length > item.brandedFares.length">{{ item.brandedFares.length }} fares</span>
                                <span ng-if="item.brandedFaresActive &amp;&amp; brandedFares.length <= item.brandedFares.length &amp;&amp; item.brandedFares.length >= 0">All fares</span>
                            </button>
                        </div>
                        <div class="columns large-3 end">
                            <select id="rule-fare-family" name="ruleFareFamily" ng-options="ff.id as ff.name for ff in config.fareFamilies" ng-model="item.fareFamily" ng-change="applyToAllSync('fareFamily')">
                                <option value="">None</option>
                            </select>
                        </div>
                    </div>
                    
                    <label for="rule-desc">Description</label>
                    <textarea id="rule-desc" name="ruleDesc" ng-model="item.description"></textarea>
                    
                </fieldset>
                
                <div id="benefit-type-directive-placeholder"></div>
                
                <fieldset class="member">
                    <legend>Member</legend>
                    
                    <div class="row">
                        <div class="large-offset-2 columns large-5">
                            <label>Cost type: <small>Required</small></label>
                            <div>
                                <span ng-repeat="costType in config.benefitCostTypes">
                                    <input type="radio" name="ruleMemCostType" ng-attr-id="rule-mct-{{$index}}" ng-model="item.memberCostType" ng-value="costType.id" ng-change="applyToAllSync('memberCostType')" required /> <label class="inline" ng-attr-for="rule-mct-{{$index}}">{{ costType.name }}</label>
                                </span>
                            </div>
                            <kk-error field="itemForm.ruleMemCostType">Required</kk-error>
                        </div>
                        <div class="columns large-2">
                            <div ng-if="item.memberCostType == 'fee'">
                                <label for="rule-mc">Base price <small ng-show="!item.memberDiscountAvailable">Required</small></label>
                                <div class="row collapse">
                                    <div class="columns small-7">
                                        <input type="number" name="ruleMemCost" id="rule-mc" ng-model="item.memberCost" ng-required="!item.memberDiscountAvailable" ng-change="applyToAllSync('memberCost')" />
                                    </div>
                                    <div class="columns small-5">
                                        <input type="text" id="rule-mcc" name="ruleMemCurrency" ng-model="item.currencyCode" required ng-pattern="/^[a-zA-Z]{3}$/" class="uppercase" placeholder="USD" maxlength="3" ng-change="applyToAllSync('currencyCode')" />
                                    </div>
                                </div>
                                <kk-error field="itemForm.ruleMemCost" class="stick-top">Required if no discount is applicable</kk-error>
                                <kk-error field="itemForm.ruleMemCurrency" class="stick-top">Currency code is required</kk-error>
                            </div>
                            <div ng-if="item.memberCostType == 'miles'">
                                <label for="rule-mc">Mileage cost <small ng-show="!item.memberDiscountAvailable">Required</small></label>
                                <div class="row collapse">
                                    <div class="columns small-7">
                                        <input type="number" name="ruleMemCost" id="rule-mc" ng-model="item.memberCost" ng-required="!item.memberDiscountAvailable" ng-change="applyToAllSync('memberCost')" />
                                    </div>
                                    <div class="columns small-5">
                                        <span class="postfix">RDM</span>
                                    </div>
                                </div>
                                <kk-error field="itemForm.ruleMemCost" class="stick-top">Required if no discount is applicable</kk-error>
                            </div>
                        </div>
                        <div class="columns large-2 end">
                            <div ng-if="item.memberCostType == 'fee' || item.memberCostType == 'miles' ">
                                <input type="checkbox" id="rule-mda" ng-model="item.memberDiscountAvailable" ng-change="applyToAllSync('memberDiscountAvailable')" /> <label for="rule-mda">Has discount</label>
                                <div class="row collapse">
                                    <div class="columns small-8">
                                        <input type="number" id="rule-md" name="ruleMemDiscount" ng-model="item.memberDiscount" ng-change="applyToAllSync('memberDiscount')" ng-disabled="!item.memberDiscountAvailable" ng-required="item.memberDiscountAvailable" />
                                    </div>
                                    <div class="columns small-4">
                                        <span class="postfix">%</span>
                                    </div>
                                </div>
                                <kk-error field="itemForm.ruleMemDiscount" class="stick-top">Required</kk-error>
                            </div>
                        </div>
                    </div>
                    
                </fieldset>
                
                <fieldset class="guest">
                    <legend>Guests</legend>
                    
                    <div class="row">
                        <div class="columns large-2">
                            <label for="rule-gmax">Max. guests <small>Required</small></label>
                            <input type="number" id="rule-gmax" name="ruleGuestsMax" ng-model="item.guestsMaxNumber" ng-change="applyToAllSync('guestsMaxNumber')" required />
                            <kk-error field="itemForm.ruleGuestsMax">Required</kk-error>
                        </div>
                        <div class="columns large-5">
                            <div ng-if="item.guestsMaxNumber > 0">
                                <label>Cost type: <small>Required</small></label>
                                <div>
                                    <span ng-repeat="costType in config.benefitCostTypes">
                                        <input type="radio" name="ruleGuestsCostType" ng-attr-id="rule-gct-{{$index}}" ng-model="item.guestsCostType" ng-change="applyToAllSync('guestsCostType')" ng-value="costType.id" required /> <label class="inline" ng-attr-for="rule-gct-{{$index}}">{{ costType.name }}</label>
                                    </span>
                                </div>
                                <kk-error field="itemForm.ruleGuestsCostType">Required</kk-error>
                            </div>
                        </div>
                        <div class="columns large-2">
                            <div ng-if="item.guestsMaxNumber > 0">
                                <div ng-if="item.guestsCostType == 'fee'">
                                    <label for="rule-gc">Base price <small ng-show="!item.guestsDiscountAvailable">Required</small></label>
                                    <div class="row collapse">
                                        <div class="columns small-7">
                                            <input type="number" name="ruleGuestsCost" id="rule-gc" ng-model="item.guestsCost" ng-change="applyToAllSync('guestsCost')" ng-required="!item.guestsDiscountAvailable" ng-if="!item.guestsDiscountAvailable || item.memberCostType != 'fee'" />
                                            <input type="number" name="ruleGuestsCost" id="rule-gc" ng-model="item.memberCost" ng-change="applyToAllSync('memberCost')" disabled ng-if="item.guestsDiscountAvailable &amp;&amp; item.memberCostType == 'fee' " />
                                        </div>
                                        <div class="columns small-5">
                                            <input type="text" id="rule-gcc" name="ruleMemCurrency2" ng-model="item.currencyCode" ng-change="applyToAllSync('currencyCode')" ng-pattern="/^[a-zA-Z]{3}$/" class="uppercase" ng-disabled="item.memberCostType == 'fee'" placeholder="USD" maxlength="3" required />
                                        </div>
                                    </div>
                                    <kk-error field="itemForm.ruleGuestsCost" class="stick-top">Required if no discount is applicable</kk-error>
                                    <kk-error field="itemForm.ruleMemCurrency2" class="stick-top">Currency is required</kk-error>
                                </div>
                                <div ng-if="item.guestsCostType == 'miles'">
                                    <label for="rule-gc">Mileage cost <small ng-show="!item.guestsDiscountAvailable">Required</small></label>
                                    <div class="row collapse">
                                        <div class="columns small-7">
                                            <input type="number" name="ruleGuestsCost" id="rule-gc" ng-model="item.guestsCost" ng-change="applyToAllSync('guestsCost')" ng-required="!item.guestsDiscountAvailable" ng-if="!item.guestsDiscountAvailable || item.memberCostType != 'miles' " />
                                            <input type="number" name="ruleGuestsCost" id="rule-gc" ng-model="item.memberCost" ng-change="applyToAllSync('memberCost')" disabled ng-if="item.guestsDiscountAvailable &amp;&amp; item.memberCostType == 'miles' " />
                                        </div>
                                        <div class="columns small-5">
                                            <span class="postfix">RDM</span>
                                        </div>
                                    </div>
                                    <kk-error field="itemForm.ruleGuestsCost" class="stick-top">Required if no discount is applicable</kk-error>
                                </div>
                            </div>
                        </div>
                        <div class="columns large-2 end">
                            <div ng-if="(item.guestsCostType == 'fee' || item.guestsCostType == 'miles') &amp;&amp; item.guestsMaxNumber > 0 ">
                                <input type="checkbox" id="rule-gda" ng-model="item.guestsDiscountAvailable" ng-change="applyToAllSync('guestsDiscountAvailable')" /> <label for="rule-gda">Has discount</label>
                                <div class="row collapse">
                                    <div class="columns small-8">
                                        <input type="number" id="rule-gd" name="ruleGuestsDiscount" ng-model="item.guestsDiscount" ng-change="applyToAllSync('guestsDiscount')" ng-disabled="!item.guestsDiscountAvailable" ng-required="item.guestsDiscountAvailable" />
                                    </div>
                                    <div class="columns small-4">
                                        <span class="postfix">%</span>
                                    </div>
                                </div>
                                <kk-error field="itemForm.ruleGuestsDiscount" class="stick-top">Required</kk-error>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="item.guestsMaxNumber > 0">
                        <div class="columns large-3">
                            <input type="checkbox" id="rule-gfam" name="ruleGuestsFamily" ng-model="item.guestsFamilyOnly" ng-change="applyToAllSync('guestsFamilyOnly')" /> 
                            <label for="rule-gfam">Restricted to family</label>
                        </div>
                    </div>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Passenger messages</legend>
                    
                    <div class="row">
                        <div class="columns large-9">
                            
                            <blockquote>
                                <kk-benefit-text benefits="config.benefits" item="item"></kk-benefit-text>
                            </blockquote>
                        </div>
                    </div>
                    
                    <input type="checkbox" name="itemForm.ruleDistDisc" id="rule-dist-disc" ng-model="item.distributeDisclaimer" ng-change="applyToAllSync('distributeDisclaimer')" /> <label for="rule-dist-disc">Distribute disclaimer</label>
                    <textarea name="itemForm.ruleDisc" id="rule-disc" ng-model="item.disclaimer" ng-change="applyToAllSync('disclaimer')"></textarea>
                    
                </fieldset>
                
                <fieldset class="codeshare" ng-class="{ collapsed: !section.codeshare }">
                            
                    <legend><a ng-click="toggleSection('codeshare')"><i ng-class="{ 'fi-minus': section.codeshare, 'fi-plus': !section.codeshare }"></i> Codeshare rules</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <label><strong>Marketing:</strong></label>
                        <span ng-repeat="type in config.upgradeOperationalTypes">
                            <input type="checkbox" ng-attr-id="mk-rule-{{type.code}}" checklist-model="item.marketingRules" checklist-value="type.code" /> 
                            <label ng-attr-for="mk-rule-{{type.code}}">{{ type.name }}</label> 
                        </span>
                        <kk-tag-input ng-if="item.marketingRules.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.marketingSpecificAirlines" uppercase="true" on-change="applyToAllSync('marketingSpecificAirlines')" ></kk-tag-input>
                        
                        <hr />
                        
                        <label><strong>Operating:</strong></label>
                        <span ng-repeat="type in config.upgradeOperationalTypes">
                            <input type="checkbox" ng-attr-id="op-rule-{{type.code}}" checklist-model="item.operatingRules" checklist-value="type.code" ng-disabled="item.excludeCodeshare" /> 
                            <label ng-attr-for="op-rule-{{type.code}}">{{ type.name }}</label> 
                        </span>
                        <kk-tag-input ng-if="item.operatingRules.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.operatingSpecificAirlines" uppercase="true" on-change="applyToAllSync('operatingSpecificAirlines')"></kk-tag-input>
                        
                        <hr />
                        
                        <input type="checkbox" id="rule-excl-cs" ng-model="item.excludeCodeshare" ng-change="onExcludeCodeshareChange(item.excludeCodeshare); applyToAllSync('excludeCodeshare')" /> <label for="rule-excl-cs">Exclude codeshare</label>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="geo-rules" ng-class="{ collapsed: !section.geo }">
                            
                    <legend><a ng-click="toggleSection('geo')"><i ng-class="{ 'fi-minus': section.geo, 'fi-plus': !section.geo }"></i> Geographical rules</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right">Geographical <br />filters:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.geographicalRules" uppercase="true" validation-url="ffp/validate-gril.json" on-change="applyToAllSync('geographicalRules')"></kk-tag-input>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right">Coded <br />conditions:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.codedConditions" uppercase="true" validation-url="ffp/validate-gril.json" on-change="applyToAllSync('codedConditions')"></kk-tag-input>
                            </div>
                        </div>

                    </div>
                    
                </fieldset>
                
                <fieldset class="validity" ng-class="{ collapsed: !section.validity }">
                            
                    <legend><a ng-click="toggleSection('validity')"><i ng-class="{ 'fi-minus': section.validity, 'fi-plus': !section.validity }"></i> Validity</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns large-4">
                                <div class="period-block">
                                    <label>Purchase period</label>
                                    <div class="row">
                                        <div class="columns large-6">
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">From</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.purchase, 'from', $event)" date-time min-view="date" ng-model="item.purchase.from" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">Until</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.purchase, 'until', $event)" date-time min-view="date" ng-model="item.purchase.until" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="columns large-4 large-offset-1 end">
                                <div class="period-block">
                                    <label>Flight period</label>
                                    <div class="row">
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">From</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.flight, 'from', $event)" date-time min-view="date" ng-model="item.flight.from" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">Until</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.flight, 'until', $event)" date-time min-view="date" ng-model="item.flight.until" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="comment" ng-class="{ collapsed: !section.comment }">
                    <legend><a ng-click="toggleSection('comment')"><i ng-class="{ 'fi-minus': section.comment, 'fi-plus': !section.comment }"></i> Comment</a></legend>
                    
                    <div class="inner-fieldset">
                        <textarea placeholder="Your comment" ng-model="item.comment" ng-change="applyToAllSync('comment')"></textarea>
                    </div>
                    
                </fieldset>
                    
                <div class="row">
                    <div class="columns large-12">
                        <button ng-if="!applyToAll()" type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a ng-if="!applyToAll()" kk-nav route="benefitRules" ng-attr-param-ffpid="{{ffp.id}}" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteItem(item)">Delete</button>
                        <button ng-if="applyToAll()" type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Apply</button>
                    </div>
                </div>
                
                <div ng-if="!item.isNew" class="history">
                    <hr />    
                    <p>Created by <strong>{{ item.createdBy }}</strong> at <strong>{{ item.createdAt | date : 'medium' }}</strong></p>
                    <p>Modified by <strong>{{ item.modifiedBy }}</strong> at <strong>{{ item.modifiedAt | date : 'medium' }}</strong></p>
                </div>
                
            </form>
            
            <div class="row" ng-if="paged">
                <div class="columns large-12">
                    <div class="pagination-center">
                        <pager total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div id="dropdown-branded-fares" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="brandedFares" selected="item.brandedFares" cols="2" id="benefit-rules-branded-fares" label="name" property="code"></div>
    </div>
   
</section>