@import "../fonts/foundation-icons/foundation-icons.css";
@import "fonts";
@import "settings";
@import "foundation";
  
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$dark-red: #980202;
$green: #00e587;

$smaller-font-size: rem_calc(13);

button,
.button{
    &.secondary{
        color: $jet;
    }
}

.white{
    color: $white; 
}

.clearfix{
    clear: both;
    content: " ";
    display: table;
}

figure{
    margin: 0;
}

.noevent{
    pointer-events: none;
}

.progress{
    position: relative;
    
    .pct{
        position: absolute; 
        right: 0;
        color: $jumbo;
        font-size: 0.75rem;
        top: 0.5rem;
    }
}

.animate{
    
    &.ng-hide-add,
    &.ng-hide-remove{
        transition: 0s linear all;
    }
    
    &.ng-hide-add-active,
    &.ng-hide-remove-active{
        transition: 1.5s linear all;
    }
}

.highlight{
    background-color: lighten($secondary-color, 20%);
    box-shadow: 0 0 20px 10px lighten($secondary-color, 20%);
    -webkit-transition: background-color 1s ease-out, box-shadow 1s ease-out;
    transition: background-color 1s ease-out, box-shadow 1s ease-out;
}

body{
    background-color: $white-smoke;
}

header{
    .top-bar{
        .title-area{
            .name{
                img{
                    max-width: 50px;
                }
            }
        }
        
        .has-form{
            .button{
                background-color: $jumbo;
            }
        }
    }
}

.search-summary{
    padding: 1rem 1.5rem;
    
    p{
        margin-bottom: 0;
        
        span + span{
            margin-left: 1.25rem;
        }
    }
}

.results-header{
    margin: 1.25rem 0;
    
    p{
        font-size: $smaller-font-size;
        margin: 0;
        font-weight: $font-weight-lighter;
        
        span + span{
            margin-left: 1.25rem;
        }
        
        a{
            color: $success-color;
        } 
    }
}

.side-nav{
    padding: 0;
    
    li{
        border: 1px solid darken($side-nav-link-bg-hover, 7%);
        margin-bottom: 2px;
        
        &.active{
            background-color: $steel;
            border-color: darken($steel, 7%);
            
            a{
                &:hover{
                    background-color: $steel;
                }
            }
        }
        
        a{
            margin-bottom: 0;
        }
    }
}

$mileage-height: 3rem;
$main-section-padding: 1rem;

.main{
    
    .main-col{
        padding-left: $main-section-padding;
        padding-right: $main-section-padding;
        background-color: $white;
    }
    
    .sidebar{
            
        & > div{
            padding-top: 1.25rem;
            background-color: $white-smoke;
        }
        
        .wrapper{
            & > *{
                padding-left: $main-section-padding;
                padding-right: $main-section-padding;
            }
        }
        
        h6{
            font-size: $smaller-font-size;
            color: $aluminum;
            margin-bottom: 1rem;
        }
        
        .filter{
            margin-bottom: 1.5rem;
            
            .range-slider {
                margin: 0.5rem 0 1.25rem 0;
            }
        }
        
        .side-nav{
            
            li{
                span{
                    
                    &.tick{
                        width: 0.75rem;
                        margin-right: 0.25rem;
                        display: inline-block;
                        color: $jumbo;
                    }
                    
                    &.price{
                        float: right;
                        font-size: $small-font-size;
                        line-height: 2.5;
                        color: $jumbo;
                    }
                }
                
                &.active{
                    span{
                        &.tick,
                        &.price{
                            color: $white;
                        }
                    }
                }
            }
        }
        
        .ffps{
            
            .balance{
                background-color: $white;
                border-radius: 3px;
                padding: 0.5rem 0.75rem;
                margin: 0 0.5rem 0.5rem 0.5rem;
                
                h6{
                    color: $jet;
                    margin: 0;
                }
                
                a{
                    padding: 0;
                    display: inline;
                    background-color: transparent;
                    color: $success-color;
                    
                    &:hover{
                        color: $success-color;
                        background-color: transparent;
                    }
                }
                
                .user-status{
                    color: $aluminum;
                }
                
                .miles{
                    border-top: 1px solid $iron;
                    border-bottom: 1px solid $iron;
                    margin: 0.5rem 0;
                    padding: 0.5rem 0;
                    
                    
                    a{
                        color: $primary-color;
                        
                        &:hover{
                            color: $primary-color;
                        }
                    }
                    
                }
                
                .values{
                    margin-bottom: 0.2rem;
                    
                    .value{
                        color: $primary-color;
                        font-weight: $font-weight-bold;
                    }
                }
                
                .remaining{
                    font-size: $small-font-size;
                    color: $aluminum;
                    
                    & + .values{
                        margin-top: 0.5rem;
                    }
                }
            }
            
            .status{
                margin:0 0.5rem;
                border-top: 1px solid rgba(255,255,255, 0.5); 
                padding-top: 0.75rem;
                
                button{
                    
                    &.dropdown{
                        background-color: $white;
                        margin-bottom: 0.75rem;
                        
                        &:hover,
                        &:active,
                        &:focus{
                            background-color: $white-smoke;
                            color: $jet;
                        }
                    }
                }
            }
        }
        
        .takeoff{
            .takeoff-head{
                font-size: $small-font-size;
                color: $jumbo;
                
                .name{
                    color: $body-font-color;
                    font-size: $smaller-font-size;
                    margin-right: 0.25rem;
                }
            }
            
            .range-slider {
                .to{
                    right: 0;
                    left: auto;
                }
            }
        }
        
        .price{
            .price-head{
                font-size: $smaller-font-size;
            }
        }
    }
    
    .results{
        padding-bottom: 7rem;
        
        .smart-deal-fare{
            text-transform: uppercase;
            color: $base;
            font-size: 0.75rem;
            margin-left: 1rem;
        }
        
        .smart-deal-link{
            margin-top: 1.75rem;
            
            a{
                color: $success-color;
            }
        }
        
        .ffp,
        .smart-deal-link{
            .fi-trophy{
                color: darken($secondary-color, 5%);
            }
        }
        
        article{
            margin-bottom: 1rem;
            
            .progress{
                background-color: $smoke;
                position: relative;
                
                .meter{
                    &.current{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: rgba(0,0,0,0.2);
                    }
                }
            }
            
            .smart-deal{
                margin-top: 0.75rem;
                position: relative;
                padding-top: 0.5rem;
                padding-bottom: 0.75rem;
                background-color: $white-smoke;
                
                .mileage{
                    margin-top:0.9rem;
                }
                
                .button{
                    margin: 0;
                }
            }
            
            .logo{
                margin-bottom: 0.5rem;
                max-height: 24px;
                max-width: auto;
            }
            
            .details{
                background-color: $white;
                padding: 1rem 1.5rem;
                text-align: center;
                font-size: $smaller-font-size;
                margin-top: 2px;
                position: relative;
                color: $jumbo;
                
                &:before{
                    position: absolute;
                    top: -7px;
                    left: 46%;
                    display: block;
                    width: 12px;
                    height: 12px;
                    background-color: $white;
                    border-radius: 1000px;
                    content: " ";
                }
            }
            
            .best-label{
                margin-top: 1.75rem;
                color: darken($secondary-color, 20%);
                
                i{
                    color: darken($secondary-color, 5%);
                }
            }
            
            .wrapper{
                background-color: $white;
                padding: 0.5rem 1.5rem;
            }
            
            .price{
                color: $primary-color;
                margin: 0 0 0.45rem 0;
            }
            
            .button{
                margin-bottom: 0;
            }
            
            .flights{
                width: 100%;
                border-collapse: collapse;
                border: none;
                margin-bottom: 0.5rem;
                
                .flight{
                    background-color: $white-smoke;
                    
                    td{
                        font-size: $smaller-font-size;
                        padding: 0.35rem 0.75rem;
                        border-bottom: 0.33rem solid $white;
                        
                        &.dep-date,
                        &.arr-date{
                            width: 25%;
                        }
                        
                        &.dep-airport,
                        &.arr-airport{
                            width: 20%;
                        }
                        
                        &.dep-date,
                        &.arr-airport{
                            padding-left: 1.5rem;
                        }
                        
                        &.arr-date,
                        &.dep-airport{
                            padding-right: 1.5rem;
                        }
                        
                        &.dep-date{
                            .date{
                                margin-right: 0.75rem;
                            }
                        }
                        
                        &.arr-date{
                            .time{
                                margin-right: 0.75rem;
                            }
                        }
                        
                        .time{
                            color: $jumbo;
                            text-transform: lowercase;
                        }
                        
                        &.stops{
                            background-color: $gainsboro;
                            font-size: $small-font-size;
                            font-variant: small-caps;
                            line-height: 1.4;
                            
                            .stops-wrapper{
                                position: relative;
                                height: 100%;
                                
                                &:before{
                                    position: absolute;
                                    top: 20%;
                                    left: -12px;
                                    width: 0;
                                    height: 0;
                                    content: " ";
                                    display: block;
                                    border-top: 8px solid transparent;
    	                            border-bottom: 8px solid transparent;
                                    border-left: 8px solid $white-smoke;
                                }
                                
                                &:after{
                                    position: absolute;
                                    top: 20%;
                                    right: -20px;
                                    width: 0;
                                    height: 0;
                                    content: " ";
                                    display: block;
                                    border-top: 8px solid transparent;
    	                            border-bottom: 8px solid transparent;
                                    border-left: 8px solid $gainsboro;
                                }
                            }
                        }
                    }
                    
                }
                
            }
            
            .miles{
                .value{
                    color: $primary-color;
                    font-weight: $font-weight-bold;
                }
                
                .label{
                    font-size: $smaller-font-size;
                }
                
                .miles-block{
                    white-space: nowrap;
                    line-height: 1.2;
                }
                
                .actions{
                    font-size: $smaller-font-size;
                    color: $base;
                    
                    a{
                        color: $success-color;
                    }
                }
            }
            
            .mileage{
                background-color: $monsoon;
                color: $white;
                position: relative;
                
                .earn.label{
                    position: absolute;
                    transform: rotateZ(-90deg);
                    color: $jet;
                    width: $mileage-height;
                    text-align: center;
                    transform-origin: top left;
                    height: 1.5rem;
                    left: -1.5rem; 
                    padding: 0;
                    line-height: 1.5rem;
                    top: $mileage-height;
                    background-color: $aluminum;
                    display: none;
                }
                
                .mileage-block{
                    height: $mileage-height;
                    line-height: $mileage-height;
                    position: relative;
                    
                    .progress{
                        position: absolute;
                        bottom: 4px;
                        left: 0;
                        width: 100%;
                        margin: 0;
                        border-style: solid;
                        border-width: 1px 4px 3px;
                        background-color: $tuatara;
                        border-color: $monsoon;
                    }
                    
                    .login{
                        font-size:0.75rem;
                        margin-left:0.5rem;
                        color: $base;
                    }
                    
                    &.award{
                        padding-left: 1.5rem;
                    }
                    
                    .legend{
                        font-size: $small-font-size;
                        color: $gainsboro;
                    }
                    
                    &.status{
                        .progress{
                            border-width: 1px 4px 3px 0;
                        }
                    }
                    
                    &.signup{
                        background-color: $jet;
                        font-size: 1rem;
                        position: relative;
                        padding: 0 1.5rem;
                        
                        &:before{
                            display: block;
                            content: " ";
                            width: 0;
                            height: 0;
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-left: 8px solid $tuatara;
                            position: absolute;
                            top: rem_calc(15);
                            left: 0;
                        }
                        
                        a{
                            color: $iron;
                        }
                    }
                    
                    &.ffp{
                        white-space: no-wrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        background-color: $tuatara;
                        padding: 0 1.5rem;
                        
                        &:before{
                            display: block;
                            content: " ";
                            width: 0;
                            height: 0;
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-left: 8px solid $monsoon;
                            position: absolute;
                            top: rem_calc(15);
                            left: 0;
                        }
                    }
                }
                
            }
        }
        
    }
}

.loader{
    margin: 2rem 0;
    
    hgroup{
        margin-bottom: 1.5rem;
    }
    
    .screen-wrapper{
        img{
            border-radius: 4px;
            box-shadow: 1px 1px 8px -5px $jet;
        }
    }
    
    p{
        color: $subheader-font-color;
    }
    
    .progress{
        margin: 1.5rem 0;
        position: relative;
    }
}

.progress .meter {
    -webkit-transition: width 1s ease-out;
    transition: width 1s ease-out;
}

$tour-step-tip-size: 8px;
$tour-step-tip-offset: 16px;
$tour-step-bg: $secondary-color;

.tour-optional{
    background-image: url(../../img/tour/sprites.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 48px;
    height: 48px;
    position: absolute;
    display: block;
    text-align: center;
    overflow: hidden;
    opacity: 0.5;
    z-index: 2000;
    
    &:hover{
        opacity: 0.75;
    }
}

.tour-overlay{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.tour-step{
    position: absolute;
    background-color: $tour-step-bg;
    display: inline-block;
    padding: 1rem 1.5rem;
    max-width: 420px;
    opacity: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 5px -2px $jet;
    top: -100%; 
    left: 0;
    
    -webkit-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out;
    
    &.large{
        max-width: 500px;
    }
    
    img{
        margin-bottom:1rem;
        border-radius:3px;
    }
    
    .progress{
        height: 0.25rem;
        background-color: $base;
        
        .meter{
            background-color: $jet;
        }
    }
    
    &.smooth{
        -webkit-transition: opacity 1.5s ease-out, top 0.25s ease-out;
        transition: opacity 1.5s ease-out, top 0.25s ease-out;
    }
    
    .tip{
        width: 0;
        height: 0;
        position: absolute;
        
        &.tip-bottom{
            border-left: $tour-step-tip-size solid transparent;
        	border-right: $tour-step-tip-size solid transparent;
        	border-bottom: $tour-step-tip-size solid $tour-step-bg;
        	top: -$tour-step-tip-size;
        	left: $tour-step-tip-offset;
        }
        
        &.tip-top{
            border-left: $tour-step-tip-size solid transparent;
        	border-right: $tour-step-tip-size solid transparent;
        	border-top: $tour-step-tip-size solid $tour-step-bg;
        	bottom: -$tour-step-tip-size;
        	left: $tour-step-tip-offset;
        }
        
        &.tip-left{
        	border-bottom: $tour-step-tip-size solid transparent;
            border-left: $tour-step-tip-size solid $tour-step-bg;
            border-top: $tour-step-tip-size solid transparent;
            right: -$tour-step-tip-size;
            top: $tour-step-tip-offset;
        }
        
        &.tip-right{
            border-bottom: $tour-step-tip-size solid transparent;
            border-right: $tour-step-tip-size solid $tour-step-bg;
            border-top: $tour-step-tip-size solid transparent;
            left: -$tour-step-tip-size;
            top: $tour-step-tip-offset;
        }
    }
    
    &.modal{
        position: fixed;
        width: 100%;
        opacity: 0;
        padding: 1.5rem 0;
        box-shadow: 1px 1px 12px -6px $jet;
        display: block;
        max-width: none;
        border-radius: 0;
        
        -webkit-transition: opacity 1.5s ease-out, top 1.5s ease-out;
        transition: opacity 1.5s ease-out, top 1.5s ease-out;
    }
    
    &.visible{
        z-index: 2000;
        opacity: 1;
    }
    
    button,
    .button{
        margin-bottom: 0;
        background-color: $steel;
        
        &:hover{
            background-color: $tuatara;
        }
        
        &.secondary{
            background-color: $white;
            color: $aluminum;
            
            &:hover{
                background-color: $white;
            }
        }
    }
    
    h4{
        i{
            color: $white;
        }
    }
}

.fixed-block > div{
    position: fixed;
    top: 0;
    z-index: 2;
}

.fixed-block > div > *{
    margin: 0 auto;
}

.bg{
    position: fixed;
    right: 0;
    background-color: $white;
    width: 50%;
    top: 0;
    height: 100%;
}

input + small.kk-error,
select + small.kk-error{
    margin-top: -0.75rem;
}

small.kk-error.ng-hide + small.kk-error:not(.ng-hide){
    margin-top: -0.75rem;
}

.login-modal{
    
    h5{
        margin-bottom: 1.25rem;
    }
    
    button{
        margin: 0;
    }
    
}

.reveal-modal-bg{
    width: 100%;
    height: 100%;
    position: fixed;
}

.kk-tooltip{
  position: absolute;
  max-width: 380px;
  display: none;
  padding: 0.75rem;
  background: #d0dce7;
  box-shadow: 1px 1px 4px -2px #333;
  color: #1d3153;
  min-width: 200px;
  font-size: 0.75rem;
  border-radius: 4px;
  visibility: hidden;
  z-index: 110;
  
  .subheader{
      color: #4e6c8f;
  }
  
  .tip{
      border-color: transparent transparent #d0dce7;
      border-style: solid;
      border-width: 7px;
      position: absolute;
      width: 0;
      height: 0;
      display: block;
  }
  
  &.down{
      .tip{
          border-color: #d0dce7 transparent transparent;
      }
  }
  
  table{
      margin-bottom: 0;
      background: #fff;
      border: none;
      
      thead tr{
        background: #f1f1f1;
          
      }
      
      tr td,
      tr th{
          font-size: 0.65rem;
          padding: 0.1rem 0.25rem;
      }
  }
}


.has-tooltip:not(.label):not(th):not(td){
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

a.has-tooltip{
  border-bottom: 1px dotted #dddddd;;
}

.award-tooltip{
    ul{
        margin-bottom: 0;
        
        li{
            span{
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 5px;
                display: inline-block;
                height: 1.35rem;
                line-height: 1.35rem;
                margin-right: 0.5rem;
                text-align: center;
                width: 1.35rem;
                
                &.empty{
                    background-color: transparent;
                }
                
                i{
                    color: darken($secondary-color, 10%);
                    font-size: 1.25rem;
                }
            }
        }
    }
}

.stay-on-top{
    z-index: 1001 !important;
    
    &.rel{
        position: relative !important;
    }
}

header{
    z-index:1;
    position: relative; 
    
    .contain-to-grid{
        nav.top-bar{
            max-width: 73rem;
        }
    }
    
}

.twitter-modal{
    
    .selected{
        background-color: $white-smoke;
    }
    
    .icon-bar{
        margin-bottom: 0.25rem;
        border-radius: 3px;
    }
    
    .airline-logo{
        background-position: -12px -36px;
        height: 36px;
        width: 144px;
        background-image: url(../../img/tour/twitter_logos.png);
        background-repeat: no-repeat;
        display: inline-block;
    }
    
    button,
    .button{
        &.success{
            background-color: $success-color;
        }
    }
    
    .tweet{
        background-color: #c4e8ed;
        border-radius: 6px;
        padding: 0.75rem 1rem;
        border: 2px solid #9ec8e0;
        margin-bottom: 1.5rem;
        
        p{
            margin-bottom: 0;
            font-size: $smaller-font-size;
            color: #407c85;
        }
    }
    
}