<section id="ffp-upgrade-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Upgrade rule</h1>
                <h4 class="subheader">#{{ item.code }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New upgrade rule</h1>
        
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li kk-nav route="awards" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Redemption rules</a>
                </li>
                <li kk-nav route="upgrades" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Upgrade rules</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editUpgrade" ng-attr-param-ffpid="{{ ffp.id }}" ng-attr-param-id="{{ item.id }}">
                    <a>{{ item.code }}</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newUpgrade" ng-attr-param-ffpid="{{ ffp.id }}">
                    <a>New</a>
                </li>
            </ul>
            
            <pager ng-if="paged" total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
            
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                
                <div class="button-bar">
                    <ul class="button-group">
                        <li><button type="submit" class="tiny" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button></li>
                        <li><a kk-nav route="upgrades" ng-attr-param-ffpid="{{ffp.id}}" class="secondary tiny button">Cancel</a></li>
                    </ul>
                </div>
                
                <div class="row">
                    <div class="columns large-6">
                        
                        <fieldset class="basic">
                            <legend>Basic</legend>
                            <div class="row">
                                <div class="columns large-5">
                                    <ul class="button-group round even-2">
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: !item.active, success: item.active } " ng-model="item.active" btn-radio="true">Active</button></li>
                                        <li><button type="button" class="button tiny" ng-class="{ secondary: item.active, alert: !item.active } " ng-model="item.active" btn-radio="false">Inactive</button></li>
                                    </ul>
                                </div>
                                <div class="columns large-2">
                                    <label class="inline right" for="rule-code">Rule ID</label>
                                </div>
                                <div class="columns large-5">
                                    <input type="text" ng-disabled="isNew" name="ruleCode" id="rule-code" ng-model="item.code" class="uppercase" ng-pattern="ruleCodePattern" />
                                    <kk-error field="itemForm.ruleCode">Only digits</kk-error>
                                </div>
                            </div>
                        </fieldset>
                        
                    </div>
                    <div class="columns large-6">
                        
                        <table class="summary">
                            <thead>
                                <tr><th class="text-left" colspan="3">FFP Summary</th></tr>
                            </thead>
                            <tr>
                                <th class="text-left">Name</th>
                                <td class="text-left">
                                    <a kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">{{ ffp.name }}</a>
                                </td>
                                <td class="text-left">{{ ffp.code }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Airlines</th>
                                <td class="text-left" colspan="2">
                                    <span class="label secondary radius" ng-repeat="airline in ffp.owningAirlines">{{ airline }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left">Codeshare Earning Based on</th>
                                <td class="text-left" colspan="2">
                                    {{ (config.codeshareEarningTypes | find : ffp.codeshareBase : 'code').name }}
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
                
                <fieldset>
                    <legend>Upgrade</legend>
                    
                    <div class="row">
                        <div class="columns large-3 large-offset-3">
                            <div class="row collapse">
                                <div class="small-9 columns small-offset-3">
                                    <label for="item-fff">Fare family</label>
                                </div>
                            </div>
                        </div>
                        <div class="columns large-3">
                            <label for="item-ffc">Fare codes</label>
                        </div>
                        <div class="columns large-3">
                            
                            <input type="checkbox" id="rule-bfa" name="ruleBfa" ng-model="item.brandedFaresActive" ng-disabled="!item.airline.code" /> <label for="rule-bfa">Branded fares</label>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns large-1">
                            <label class="inline" for="item-name">Name</label>
                        </div>
                        <div class="columns large-2">
                            <select ng-model="item.name" ng-change="onNameChange(item)" ng-options="red.id as red.name for red in ffp.redemptions | filter : { type: 'upgrade' }" id="item-name" name="itemName" required></select>
                            <kk-error field="itemForm.itemName">This field is required</kk-error>
                        </div> 
                        <div class="columns large-3">
                            <div class="row collapse">
                                <div class="small-3 columns">
                                    <span class="prefix">From</span>
                                </div>
                                <div class="small-9 columns">
                                    <select ng-model="item.fromFareFamily" ng-options="ff.id as ff.name for ff in config.fareFamilies" id="item-fff" name="itemFff" required></select>
                                    <kk-error field="itemForm.itemFff">This field is required</kk-error>
                                </div>
                            </div>
                        </div>
                        <div class="columns large-3">
                            <input type="text" class="uppercase" ng-model="item.fromFareCodes" ng-pattern="/[a-zA-Z]/" name="itemFfc" id="item-ffc" ng-required="!item.brandedFaresActive" />
                            <kk-error field="itemForm.itemFfc" type="pattern">Letters only</kk-error>
                            <kk-error field="itemForm.itemFfc">This field is required</kk-error>
                        </div>
                        <div class="columns large-3">
                            <button type="button" class="tiny secondary expand" title="Branded fares" dropdown-toggle="#dropdown-branded-fares" ng-disabled="!item.brandedFaresActive || loadingBrandedFares">
                                <span ng-if="item.brandedFares.length <= 0 || !item.brandedFaresActive">No branded fares</span>
                                <span ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length <= 1 &amp;&amp; item.brandedFares.length > 0 &amp;&amp; brandedFares.length > item.brandedFares.length">{{ (brandedFares | find : item.brandedFares[0] : 'code').name }}</span>
                                <span ng-if="item.brandedFaresActive &amp;&amp; item.brandedFares.length > 1 &amp;&amp; brandedFares.length > item.brandedFares.length">{{ item.brandedFares.length }} fares</span>
                                <span ng-if="item.brandedFaresActive &amp;&amp; brandedFares.length <= item.brandedFares.length &amp;&amp; item.brandedFares.length >= 0">All fares</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns large-1">
                            <label for="airline-code" class="nowrap inline">Airline <small>Req.</small></label>
                        </div>
                        <div class="columns large-1">
                            <input type="text" name="itemAirlineCode" id="airline-code" ng-model="item.airline.code" required ng-pattern="airlineCodePattern" placeholder="XX" class="uppercase" />
                            <kk-error field="itemForm.itemAirlineCode" type="required">Required</kk-error>
                            <kk-error field="itemForm.itemAirlineCode" type="pattern">2 char. only</kk-error>
                        </div>
                        <div class="columns large-3 large-offset-1">
                            <div class="row collapse">
                                <div class="small-3 columns">
                                    <span class="prefix">To</span>
                                </div>
                                <div class="small-9 columns">
                                    <select ng-model="item.toFareFamily" ng-options="ff.id as ff.name for ff in config.fareFamilies" id="item-tff" name="itemTff" required></select>
                                    <kk-error field="itemForm.itemTff">This field is required</kk-error>
                                </div>
                            </div>
                        </div>
                        <div class="columns large-3 end">
                            <input type="text" class="uppercase" ng-model="item.toFareCodes" ng-pattern="/[a-zA-Z]/" name="itemTfc" />
                            <kk-error field="itemForm.itemTfc" type="pattern">Letters only</kk-error>
                        </div>
                    </div>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Rule creator</legend>
                    
                    <p ng-if="item.rules.length <= 0">Related frequent flyer program does not have specified upgrade rules. Edit <a kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">{{ ffp.name }} program</a> first to add rules here.</p>
                    
                    <table class="creator highlight" ng-if="item.rules.length > 0">
                        <thead>
                            <tr>
                                <th class="text-right">Season</th>
                                <th class="text-left">Factor</th>
                                <th class="text-left">Fixed</th>
                                <th class="text-left">Minimum miles</th>
                                <th class="text-left">Taxes, fees, charges</th>
                                <th>For leg</th>
                                <th>Apply to</th>
                                <th>Season dates</th>
                                <th class="text-left">Range / GRIL</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="has-form" ng-if="group.items.length > 0" ng-repeat-start="group in item.rules" ng-form="groupForm">
                                <th class="text-right">
                                    {{ ((ffp.redemptions | find : item.name).seasons | find : group.season).name }}
                                </th>
                                <td colspan="8">{{group.items.length}} rules</td>
                                <td class="action" colspan="3">
                                    <a ng-click="toggleRulesSection(group)" title="Toggle section"><i ng-class="{ 'fi-arrow-up': !group.expandSection, 'fi-arrow-down': group.expandSection }"></i></a>
                                </td>
                            </tr>
                            <tr class="has-form" ng-class="{ even: $parent.$parent.$odd, odd: $parent.$parent.$even }" ng-repeat="rule in group.items" ng-form="ruleForm" ng-if="group.expandSection" ng-repeat-end>
                                <th></th> 
                                <td class="text-left">
                                    <div class="kk-error-wrapper">
                                        <input type="number" ng-model="rule.factor" name="factor" ng-required="!rule.oneWay" />
                                        <kk-error field="ruleForm.factor" type="number">Invalid number</kk-error>
                                        <kk-error field="ruleForm.factor" type="required">Required</kk-error>
                                    </div>
                                </td>
                                <td class="text-left">
                                    <div class="kk-error-wrapper">
                                        <input type="number" ng-model="rule.oneWay" name="oneWay" ng-required="!rule.factor" />
                                        <kk-error field="ruleForm.oneWay" type="number">Invalid number</kk-error>
                                        <kk-error field="ruleForm.oneWay" type="required">Required</kk-error>
                                    </div>
                                </td>
                                <td class="text-left">
                                    <div class="kk-error-wrapper">
                                        <input type="number" ng-model="rule.minimum" name="minimum" />
                                        <kk-error field="ruleForm.minimum" type="number">Invalid number</kk-error>
                                        <kk-error field="ruleForm.minimum" type="required">Required</kk-error>
                                    </div>
                                </td>
                                <td class="text-left">
                                    <div class="kk-error-wrapper">
                                        <input type="number" ng-model="rule.tfc" name="tfc" />
                                        <kk-error field="ruleForm.tfc" type="number">Invalid number</kk-error>
                                    </div>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="rule.forLeg" />
                                </td>
                                <td class="applyTo">
                                    <span class="label success radius" ng-if="areAllTiersIncluded(rule.applyToTiers)">All</span>
                                    <span class="label secondary radius" ng-if="!areAllTiersIncluded(rule.applyToTiers) &amp;&amp; rule.applyToTiers.length > 0" ng-repeat="tier in getAppliedTiers(rule.applyToTiers)">{{ tier.name }}</span>
                                    <span ng-if="getAppliedTiers(rule.applyToTiers).length <= 0"><i class="fi-x"></i></span>
                                </td>
                                <td>
                                    <span class="label" ng-class="{ secondary: rule.seasonalDates.length <= 0 }" kk-tooltip="ffp-cms/edit-award/season-tooltip.html" tooltip-data="rule.seasonalDates" tooltip-if="rule.seasonalDates.length > 0">
                                        {{ rule.seasonalDates.length }}
                                    </span>
                                </td>
                                <td>
                                    <a ng-click="editRule(rule)" title="View full details and edit">
                                        <span ng-if="rule.rangeFrom != null &amp;&amp; rule.rangeTo">{{rule.rangeFrom | number : 0}} &ndash; {{rule.rangeTo | number : 0}}</span>
                                        <span ng-if="(rule.rangeFrom == null || !rule.rangeTo) &amp;&amp; (!rule.gril || rule.gril.length < 1)">Edit</span>
                                        <span ng-if="(rule.rangeFrom == null || !rule.rangeTo) &amp;&amp; rule.gril.length > 0">{{ rule.gril[0] | trim : 10 : '&hellip;' }}</span>
                                    </a>
                                </td>
                                <td class="action">
                                    <a title="Add rule" ng-click="addRule(group, $index)"><i class="fi-plus"></i></a>
                                </td>
                                <td class="action">
                                    <a title="Clone rule" ng-click="cloneRule(group, $index, rule)"><i class="fi-page-copy"></i></a>
                                </td>
                                <td class="action alert" ng-hide="group.items.length < 2">
                                    <a ng-click="removeRule(group, $index)" title="Delete rule"><i class="fi-minus"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
                
                <fieldset class="codeshare" ng-class="{ collapsed: !section.codeshare }">
                            
                    <legend><a ng-click="toggleSection('codeshare')"><i ng-class="{ 'fi-minus': section.codeshare, 'fi-plus': !section.codeshare }"></i> Codeshare rules</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <label><strong>Marketing:</strong></label>
                        <span ng-repeat="type in config.upgradeOperationalTypes">
                            <input type="checkbox" ng-attr-id="mk-rule-{{type.code}}" checklist-model="item.marketingRules" checklist-value="type.code" /> 
                            <label ng-attr-for="mk-rule-{{type.code}}">{{ type.name }}</label> 
                        </span>
                        <kk-tag-input ng-if="item.marketingRules.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.marketingSpecificAirlines" uppercase="true" ></kk-tag-input>
                        
                        <hr />
                        
                        <label><strong>Operating:</strong></label>
                        <span ng-repeat="type in config.upgradeOperationalTypes">
                            <input type="checkbox" ng-attr-id="op-rule-{{type.code}}" checklist-model="item.operatingRules" checklist-value="type.code" ng-disabled="item.excludeCodeshare" /> 
                            <label ng-attr-for="op-rule-{{type.code}}">{{ type.name }}</label> 
                        </span>
                        <kk-tag-input ng-if="item.operatingRules.indexOf('spe') >= 0" required="true" pattern="airlineCodePattern" maxlength="2" collection="item.operatingSpecificAirlines" uppercase="true"></kk-tag-input>
                        
                        <hr />
                        
                        <input type="checkbox" id="rule-excl-cs" ng-model="item.excludeCodeshare" ng-change="onExcludeCodeshareChange(item.excludeCodeshare)" /> <label for="rule-excl-cs">Exclude codeshare</label>
                        
                        <hr />
                        
                        <div class="codeshare-flight">
                            <div class="row">
                                <div class="columns large-2">
                                    <label class="right">Flight numbers limitations:</label>
                                </div>
                                <div class="columns large-10">
                                    <kk-tag-input collection="item.flightNoLimit" uppercase="true"></kk-tag-input>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="columns large-2">
                                    <label class="right">Excluded flight <br />numbers:</label>
                                </div>
                                <div class="columns large-10">
                                    <kk-tag-input collection="item.flightNoExcl" uppercase="true"></kk-tag-input>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="geo-rules" ng-class="{ collapsed: !section.geo }">
                            
                    <legend><a ng-click="toggleSection('geo')"><i ng-class="{ 'fi-minus': section.geo, 'fi-plus': !section.geo }"></i> Geographical rules</a></legend>
                    
                    <div class="inner-fieldset">
                        <div class="row">
                            <div class="columns large-2 text-right">
                                <label>Logical operand:</label>
                            </div>
                            <div class="columns large-10">
                                <input type="radio" ng-model="item.geoLogicalOperand" name="getLO" id="geo-lo-or" value="or" /> <label for="geo-lo-or">OR</label>
                                <input type="radio" ng-model="item.geoLogicalOperand" name="getLO" id="geo-lo-and" value="and" /> <label for="geo-lo-and">AND</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right">Geographical <br />filters:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.geographicalRules" uppercase="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right">Coded <br />conditions:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.codedConditions" uppercase="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
                            </div>
                        </div>
                    </div>
                    
                </fieldset>
                
                <fieldset class="validity" ng-class="{ collapsed: !section.validity }">
                            
                    <legend><a ng-click="toggleSection('validity')"><i ng-class="{ 'fi-minus': section.validity, 'fi-plus': !section.validity }"></i> Validity</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <div class="row">
                            <div class="columns large-4">
                                <div class="period-block">
                                    <label>Purchase period</label>
                                    <div class="row">
                                        <div class="columns large-6">
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">From</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.purchase, 'from', $event)" date-time min-view="date" ng-model="item.purchase.from" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">Until</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.purchase, 'until', $event)" date-time min-view="date" ng-model="item.purchase.until" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="columns large-4 large-offset-1 end">
                                <div class="period-block">
                                    <label>Flight period</label>
                                    <div class="row">
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">From</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.flight, 'from', $event)" date-time min-view="date" ng-model="item.flight.from" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="columns large-6">
                                            
                                            <div class="row collapse">
                                                <div class="columns small-4">
                                                    <span class="prefix">Until</span>
                                                </div>
                                                <div class="columns small-8">
                                                    <input type="datetime" ng-keydown="onDateChange(item.flight, 'until', $event)" date-time min-view="date" ng-model="item.flight.until" format="yyyy-MM-dd" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <hr />
                        
                        <div class="row">
                            <div class="columns large-10 large-offset-2">
                                <label>Excluded dates <span class="hint">dd/mm</span>, <span class="hint">dd/mm/yyyy</span> or <span class="hint">dd/mm/yyyy-dd/mm/yyyy</span></label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="columns large-2">
                                <label class="right inline">Departure:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.excludedDepartures" pattern="dateRangePatern"></kk-tag-input>
                            </div> 
                        </div>
                            
                        <div class="row"> 
                            <div class="columns large-2">
                                <label class="right inline">Arrival:</label>
                            </div>
                            <div class="columns large-10">
                                <kk-tag-input collection="item.excludedArrivals" pattern="dateRangePatern"></kk-tag-input>
                            </div>
                        </div>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="legend" ng-class="{ collapsed: !section.legend }">
                    <legend><a ng-click="toggleSection('legend')"><i ng-class="{ 'fi-minus': section.legend, 'fi-plus': !section.legend }"></i> Legend</a></legend>
                    
                    <div class="inner-fieldset">
                        
                        <input type="checkbox" ng-model="item.distrubuteLegend" id="item-has-legend" /> <label for="item-has-legend">Distribute legend</label>
                        <textarea placeholder="Legend" name="legend" ng-model="item.legend" ng-required="item.distrubuteLegend"></textarea>
                        <kk-error field="itemForm.legend">This field is required</kk-error>
                        
                    </div>
                    
                </fieldset>
                
                <fieldset class="comment" ng-class="{ collapsed: !section.comment }">
                    <legend><a ng-click="toggleSection('comment')"><i ng-class="{ 'fi-minus': section.comment, 'fi-plus': !section.comment }"></i> Comment</a></legend>
                    
                    <div class="inner-fieldset">
                        <textarea placeholder="Your comment" ng-model="item.comment"></textarea>
                    </div>
                    
                </fieldset>
                
                <fieldset>
                    <legend>Calculation target settings</legend>
                    
                    <input type="radio" name="calculationTargetType" ng-value="type.id" ng-attr-id="calc-tg-{{$index}}" ng-model="item.calculationTargetType" ng-repeat-start="type in config.calculationTargetTypes" /> 
                    <label ng-attr-for="calc-tg-{{$index}}" ng-repeat-end>{{type.name}}</label>
                    <button class="tiny secondary" ng-click="item.calculationTargetType = null" type="button">Reset</button>
                    
                </fieldset>
                    
                <div class="row">
                    <div class="columns large-12">
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="upgrades" ng-attr-param-ffpid="{{ffp.id}}" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteItem(item)">Delete</button>
                    </div>
                </div>
                
                <div ng-if="!item.isNew" class="history">
                    <hr />    
                    <p>Created by <strong>{{ item.createdBy }}</strong> at <strong>{{ item.createdAt | date : 'medium' }}</strong></p>
                    <p>Modified by <strong>{{ item.modifiedBy }}</strong> at <strong>{{ item.modifiedAt | date : 'medium' }}</strong></p>
                </div>
                
            </form>
            
            <div class="row" ng-if="paged">
                <div class="columns large-12">
                    <div class="pagination-center">
                        <pager total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div id="dropdown-branded-fares" class="f-dropdown" ng-click="preventDefault($event)">
        <div kk-multiselect list="brandedFares" selected="item.brandedFares" cols="2" id="upgrade-rules-branded-fares" label="name" property="code"></div>
    </div>
   
</section>