<section id="process-collection">
    
    <div class="row">
        <div class="columns large-12">
            <h1>Rule validation</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Accuracy</a>
                </li>
                <li class="current" kk-nav route="validators">
                    <a>Rule validation</a>
                </li>
            </ul>
        
            <div ng-if="items &amp;&amp; config">
                <div ng-if="items.length > 0">
                    
                    <form novalidate ng-submit="submit(filterForm)" name="filterForm">
                        <fieldset>
                            <legend>Filter</legend>
                            
                            <div class="row">
                                <div class="columns small-5">
                                    <ul class="button-group radius" ng-class="filterRuleTypeClass">
                                        <li>
                                            <button type="button" class="button tiny" ng-class="{ secondary: filter.type != 'all' } " ng-model="filter.type" btn-radio="'all'" ng-click="delayedSubmit(filterForm)">All</button>
                                        </li>
                                        <li ng-repeat="type in config.ruleTypes">
                                            <button type="button" class="button tiny" ng-class="{ secondary: filter.type != type.id } " ng-model="filter.type" btn-radio="type.id" ng-click="delayedSubmit(filterForm)">{{type.name}}</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="columns small-3">
                                    <div class="row collapse">
                                        <div class="columns small-3">
                                            <span class="prefix">FFP</span>
                                        </div>
                                        <div class="columns small-9">
                                            <input type="text" name="ffp" ng-model="filter.ffp" ng-change="delayedSubmit(filterForm)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="columns small-offset-2 small-1">
                                    <button type="button" class="tiny expand button radius secondary" ng-click="reset(filterForm)">Reset</button>
                                </div>
                            </div>
                            
                        </fieldset>
                    </form>
                    
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">No</th>
                                <th class="text-left"><abbr title="Frequent Flyer Program">FFP</abbr></th>
                                <th class="text-left">Type</th>
                                <th class="text-left">Last run on</th>
                                <th class="text-left">Last run by</th>
                                <th>Status</th>
                                <th>Report</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" item in items ">
                                <td class="text-left">{{ $index + 1 }}</td>
                                <th class="text-left">{{ item.ffp }}</th>
                                <th class="text-left">{{ (config.ruleTypes | find: item.type).name }}</th>
                                <td class="text-left">
                                    <span ng-if="item.lastRunOn">{{ item.lastRunOn | date }}</span>
                                    <span ng-if="!item.lastRunOn">Never</span>
                                </td>
                                <td class="text-left">
                                    <span ng-if="item.lastRunBy">{{ item.lastRunBy }}</span>
                                    <span ng-if="!item.lastRunBy"><i class="fi-x"></i></span>
                                </td>
                                <td>
                                    <span class="radius label" ng-class="{ secondary: item.status == 'runnning', success: item.status == 'complete' }">
                                        {{ (config.statuses | find : item.status : 'code').name }}
                                    </span>
                                </td>
                                <td class="action text" ng-class="{ disabled: item.status != 'complete' || !item.reportUrl }">
                                    <a title="Open raport" ng-href="{{item.reportUrl}}" target="_blank">Open</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no rule validation processes.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>