
@font-face {
  font-family: 'Entypo';
  src: url('Entypo.eot?#iefix') format('embedded-opentype'),  url('Entypo.woff') format('woff'), url('Entypo.ttf')  format('truetype'), url('Entypo.svg#Entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
