<div class="range-selector" ng-class="{ selecting: selectionInProgress }">
    <div class="range-item" ng-repeat="char in chars" ng-class="{ selected: char.selected, range: char.inRange }" ng-mouseenter="onRangeEnter($index, $event)" ng-mouseleave="onRangeLeave($index, $event)" ng-style="{ width: ((100 / chars.length) + '%') }">
        <a ng-bind="char.id + 1" ng-click="onRangeClick($index)"></a>
    </div>
</div>