
.range-selector{
    height: 2rem;
    font-size: 0.75rem;
}

.range-selector .range-item{
    float: left;
    display: inline-block;
    padding: 0 0.2rem;
    height: 100%;
}

.range-selector .range-item:last-child::after{
    display: block;
    height: 0;
    width: 0;
    content: " ";
    clear: both;
}

.range-selector .range-item a{
    display: block;
    height: 100%;
    color: #aaa;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 2rem;
}

.range-selector .range-item.selected a{
    background-color: #2285a2;
    color: #fff;
}

.range-selector .range-item.range a{
    background-color: #2ba6cb;
    color: #fff;
}