.ffp-cms table{
    border-collapse: separate;
}

.ffp-cms table tbody tr:not(.has-form) td,
.ffp-cms table tbody tr:not(.has-form) th{
    padding: 0.3rem 0.5rem;
}

.ffp-cms table thead tr th, 
.ffp-cms table thead tr td, 
.ffp-cms table tfoot tr th, 
.ffp-cms table tfoot tr td{
    padding: 0.3rem 0.5rem 0.5rem;
}

#ffp-collection table thead th,
#ffp-collection table thead td{
    vertical-align: bottom;
}

table .accrual{
    color: #2BA6CB;
}

table .accrual .distance-based{
    color: #5da423;
}

.tooltip-row{
    margin-bottom: 0.5rem;
}

#ffp-rule-collection table .airline-input{
    width: 3rem;
}

table .past{
    color: #c60f13;
}

table .future{
    color: #5da423;
}

#ffp-collection .row,
#ffp-rule-collection .row,
#ffp-award-collection .row,
#ffp-upgrade-collection .row,
#ffp-benefit-collection .row,
#ffp-fare-attribute-collection .row{
    max-width: 80rem;
}

#ffp-rule-collection table tr{
    background-color: #F3F3F3;
}

#ffp-rule-edit .summary{
    margin-bottom: 0;
}

#ffp-rule-edit .summary a{
    text-transform: none;
}

#ffp-rule-edit table.creator{
    margin-bottom: 0;
}

#ffp-rule-edit .creator thead th,
#ffp-rule-edit .creator thead td{
    vertical-align: bottom;
}

#ffp-rule-edit .creator input[type="text"],
#ffp-rule-edit .creator input[type="number"]{
    width: 5rem;
}

#ffp-rule-edit table.creator tr.odd{
    background: #fff;
}

#ffp-rule-edit .basic{
    margin: 0;
    padding: 2rem 1rem 1.25rem 1rem;
}

#ffp-rule-edit .codeshare kk-tag-input{
    display: inline;
}

#ffp-rule-edit .codeshare .tag-input-form{
    display: inline;
}

#ffp-rule-edit .codeshare-flight input,
#ffp-rule-edit .geo-rules input{
    width: 8rem;
}

#ffp-rule-edit .period-block{
    margin-bottom: 0.75rem;
}

#ffp-rule-edit .period-block + .period-block{
    margin-bottom: 0;
}

#ffp-rule-edit .comment textarea{
    margin-bottom: 0;
}

.codeshare-modal .multiselect .sub-nav{
    margin-right: 0;
    margin-left: -0.75rem; 
}

#ffp-award-collection table .fi-arrow-right,
#ffp-upgrade-collection table .fi-arrow-right{
    color: #bbb;
    margin: 0 0.5rem;
}

#ffp-award-collection table thead th,
#ffp-award-collection table thead td,
#ffp-upgrade-collection table thead th,
#ffp-upgrade-collection table thead td{
    vertical-align: bottom;
}

#ffp-redemption-edit .upgrade .fi-arrow-right{
    color: #bbb;
    margin-top: 1.75rem;
    font-size: 1.25rem;
    display: block;
}

.edit-tier-modal .one-line{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.edit-tier-modal .accruals li{
    padding-bottom: 0;
}

#ffp-award-collection table tr.last td,
#ffp-award-collection table tr.last th,
#ffp-upgrade-collection table tr.last td,
#ffp-upgarde-collection table tr.last th{
    border-bottom: 2px solid #ddd;
}

#ffp-rule-collection table tr.first-in-group td,
#ffp-rule-collection table tr.first-in-group th{
    border-top: 1.75rem solid #fff;
}

#ffp-rule-collection table .action,
#ffp-rule-collection table .action a,
#ffp-rule-collection table .action button{
    background-color: #e8e8e8;
}

#ffp-rule-collection table .action:hover,
#ffp-rule-collection table .action:hover a,
#ffp-rule-collection table .action:hover button{
    background-color: #2BA6CB;
}

#ffp-rule-collection table .action.alert:hover,
#ffp-rule-collection table .action.alert:hover a,
#ffp-rule-collection table .action.alert:hover button{
    background-color: #C60F13;
}

#ffp-rule-collection table .action.success:hover,
#ffp-rule-collection table .action.success:hover a,
#ffp-rule-collection table .action.success:hover button{
    background-color: #5DA423;
}

body.vertical-alert{
    background-image: url(../img/vertical-alert.png);
    background-position: top left;
    background-repeat: repeat-y;
}

#ffp-rule-edit .toolbar{
    margin-bottom: 1rem;
}

#ffp-rule-edit .history p,
#ffp-upgrade-edit .history p,
#ffp-benefit-edit .history p,
#ffp-fare-attribute-edit .history p{
    color: #888;
    font-size: 0.75rem;
    margin-bottom: 0.25rem; 
}

#ffp-rule-collection .fare-codes{
    width: 14rem;
}

#ffp-rule-collection .fare-codes .label{
    margin-bottom: 0.25rem;
    margin-left: 0;
    margin-right: 0.25rem;
}

form.range-modal .tag-input{
    width: 8rem;
}

form.range-modal .range-label{
    margin-top: 1.75rem;
    font-weight: bold;
}

form.range-modal .gril-label{
    margin-top: 0.5rem;
    font-weight: bold;
}

.tier-config{
    margin-bottom: 1.25rem;
}

.tag-input-items span.label{
    line-height: 2;
    background-color: #2BA6CB;
    color: #fff;
    border-radius: 0;
    padding: 0.25rem 0.5rem 0.375rem;
}

.tag-input-items span.label a i{
    color: #fff; 
}

.tag-input-items span.label a:hover i{
    color: #ccd6E4;
}

.button.tiny,
button.tiny{
    padding: 0.625rem 1.25rem 0.6875rem;
}

fieldset legend a,
fieldset.collapsed legend a{
    color: #2BA6CB;
}

#ffp-redemption-edit fieldset.rules a label{
    color: #2BA6CB;
}

#ffp-rule-collection table .inactive,
#ffp-fare-attribute-collection table .inactive{
    font-style: italic !important;
}

#ffp-fare-attribute-collection table .inactive{
    opacity: 0.66;
}

.remove-tier-opt{
    display: block;
    margin-top: 1.75rem;
    color: #888;
}

.remove-tier-opt:hover{
    color: #c60f13;
}

.edit-redemption-modal .remove:hover label{
    color: #c60f13;
}

.edit-tier-modal .postfix i{
    font-size: 0.875rem;
}

.edit-tier-modal .postfix a:hover i{
    color: #c60f13;
}

.edit-tier-modal .option-row{
    padding: 0.5rem 1rem 0 1rem;
}

.edit-tier-modal .option-row:nth-child(2n+1){
    background-color: #f6f6f6;
}

.edit-tier-modal .option-row.last{
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.edit-redemption-rule .checks{
    margin-top: 1.85rem;
}

label .hint{
    background: #f8f8f8 none repeat scroll 0 0;
    color: #888;
    font-family: monospace;
    font-size: 0.75rem;
    margin: 0 0.5rem;
}

.edit-redemption-rule .tag-input-form input.tag-input{
    width: 8rem; 
}

#ffp-upgrade-collection .fare-codes{
    min-width: 7rem;
}

#ffp-upgrade-collection .fare-codes .label{
    margin: 0 0.25rem 0.25rem 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.edit-tier-modal textarea{
    height: 2.1rem;
    transition: height .2s ease-in;
    min-height: auto;
}

.edit-tier-modal textarea:focus{
    height: 5rem;
}

td.apply-to .label,
th.apply-to .label{
    margin: 0 0.25rem 0.25rem 0;
}

.legend-wrapper{
    position: relative;
}

.legend-wrapper label{
    margin-right: 0 !important;
}

.legend-wrapper .legend-tip{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.65rem;
    color: #888;
}

#ffp-upgrade-edit table .label{
    margin-bottom: 0.25rem;
}

#ffp-benefit-edit dl{
    margin-bottom: 0;
}

#ffp-benefit-edit dl .label{
    margin-right: 0.2rem;
}

#ffp-benefit-edit .ffp-summary .alert-box{
    margin: 1rem 0 0 0;
}

#ffp-benefit-edit .member input[type="checkbox"],
#ffp-benefit-edit .guest input[type="checkbox"]{
    margin-bottom: 0;
}

#ffp-benefit-edit .member input[type="checkbox"] + label,
#ffp-benefit-edit .guest input[type="checkbox"] + label{
    margin-bottom: 0.25rem;
}

#ffp-benefit-edit .stick-top{
    margin-top: -0.75rem;
}

#ffp-benefit-edit .note{
    font-size: 0.875rem;
}

.tooltip-hr {
    border-color: black
}

.benefit-type-inactive{
    opacity: 0.5;
}

label[for="rule-benefit"] i{
    color: #c60f13;
    border-bottom: none;
}

#rule-bfa{
    margin-bottom: 0.5rem;
}

.branded-fare{
    text-transform: uppercase;
    font-size: 0.5rem;
    line-height: 0.6rem;
    color: #888;
    font-style: normal;
    white-space: nowrap;
    margin-top: 0.25rem;
}

#dropdown-branded-fares{
    max-width: 400px;
}

#main .codeshare-dropdown{
    padding: 0 1.25rem 0.5rem 1.25rem;
    max-width: 300px;
}

.afi-section article{
    margin: 0 -1rem;
    padding: 0.25rem 1rem;
}

.afi-section article:nth-child(2n+1){
    background-color: #f9f9f9;
}

.afi-section h6{
    font-weight: bold;
    font-size: 0.875rem;
}

.afi-section h6 small{
    text-transform: uppercase;
}