<form name="rangeForm" novalidate ng-submit="submit(rangeForm)" class="range-modal">
    
    <div class="row">
        <div class="columns large-12">
            <h3>Edit rule</h3>
            <div class="alert-box radius alert" ng-if="!isValid()"><i class="fi-alert"></i> You can fill either range <strong>or</strong> GRIL.</div>
        </div>
    </div>
    <div class="row">
        <div class="columns large-1"><label class="range-label">Range:</label></div>
        <div class="columns large-2">
            <label for="range-from">From</label>
            <input type="number" ng-model="rule.rangeFrom" name="ruleRangeFrom" id="range-form" />
            <kk-error field="rangeForm.ruleRangeFrom">Invalid number</kk-error>
        </div>
        <div class="columns large-2 end">
            <label for="range-to">To</label>
            <input type="number" ng-model="rule.rangeTo" name="ruleRangeTo" id="range-to" />
            <kk-error field="rangeForm.ruleRangeTo">Invalid number</kk-error>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            <label>or</label>
        </div>
    </div>
    <div class="row">
        <div class="columns large-1"><label class="gril-label">GRIL:</label></div>
        <div class="columns large-11">
            <kk-tag-input collection="rule.gril" uppercase="true" wrap="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            <hr />
            <button type="submit" class="small" ng-class="{ secondary: !isValid(), success: isValid() }"><i class="fi-check"></i> Save</button>
            <button type="button" class="small secondary" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    
</form>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>