<p class="note" ng-if="item.benefit">
    <span ng-if="item.memberCostType == 'free'">
        {{ (benefits | find : item.benefit).name }} is for free. 
    </span>
    <span ng-if="item.memberCostType == 'fee'">
        {{ (benefits | find : item.benefit).name }} costs 
        <span ng-if="item.memberCost > 0 &amp;&amp; !item.memberDiscountAvailable">
            {{ item.memberCost | number : 2 }} {{ item.currencyCode }}.
        </span>
        <span ng-if="item.memberCost > 0 &amp;&amp; item.memberDiscountAvailable">
            {{ item.memberCost * ((100 - item.memberDiscount) / 100) | number : 2 }} {{ item.currencyCode }} ({{ item.memberDiscount | number : 0 }}% discount on regular fee {{ item.memberCost | number : 2 }} {{ item.currencyCode }}).
        </span>
        <span ng-if="(!item.memberCost || item.memberCost <= 0) &amp;&amp; item.memberDiscountAvailable">
            {{ 100 - item.memberDiscount | number : 0 }}% of regular fee.
        </span>
    </span>
    <span ng-if="item.memberCostType == 'miles'">
        {{ (benefits | find : item.benefit).name }} requires  
        <span ng-if="item.memberCost > 0 &amp;&amp; !item.memberDiscountAvailable">
            {{ item.memberCost | number : 0 }} redeemable miles.
        </span>
        <span ng-if="item.memberCost > 0 &amp;&amp; item.memberDiscountAvailable">
            {{ item.memberCost * ((100 - item.memberDiscount) / 100) | number : 0 }} redeemable miles ({{ item.memberDiscount | number : 0 }}% discount on {{ item.memberCost | number : 0 }} regular amount).
        </span>
        <span ng-if="(item.memberCost <= 0 || !item.memberCost) &amp;&amp; item.memberDiscountAvailable">
            {{ 100 - item.memberDiscount | number : 0 }}% of regular amount of redeemable miles.
        </span>
    </span>
    <br />
    <span ng-if="item.guestsMaxNumber <= 0">
        No guests are allowed.
    </span>
    <span ng-if="item.guestsMaxNumber == 1">
        One guest is allowed 
    </span>
    <span ng-if="item.guestsMaxNumber > 1">
        Up to {{ item.guestsMaxNumber | number : 0 }} guests are allowed  
    </span>
    <span ng-if="item.guestsMaxNumber > 0">
        <span ng-if="item.guestsCostType == 'free'">
            for free. 
        </span>
        <span ng-if="item.guestsCostType == 'fee'">
            <span ng-if="!item.guestsDiscountAvailable">
                for {{ item.guestsCost | number : 2 }} {{ item.currencyCode }} fee
            </span>
            <span ng-if="item.guestsDiscountAvailable">
                
                <span ng-if="item.memberCostType != 'fee'">
                    <span ng-if="item.guestsCost > 0">
                        for {{ item.guestsCost * ((100 - item.guestsDiscount) / 100) | number : 2 }} {{ item.currencyCode }} fee ({{ item.guestsDiscount | number : 0 }}% discount on regular fee {{ item.guestsCost | number : 2 }} {{ item.currencyCode }})
                    </span>
                    <span ng-if="!item.guestsCost || item.guestsCost <= 0">
                        for {{ 100 - item.guestsDiscount | number : 0 }}% of regular fee
                    </span>
                </span>
                <span ng-if="item.memberCostType == 'fee'">
                    <span ng-if="item.memberCost > 0">
                        for {{ item.memberCost * ((100 - item.guestsDiscount) / 100) | number : 2 }} {{ item.currencyCode }} fee ({{ item.guestsDiscount | number : 0 }}% discount on regular fee {{ item.memberCost | number : 2 }} {{ item.currencyCode }})
                    </span>
                    <span ng-if="!item.memberCost || item.memberCost <= 0">
                        for {{ 100 - item.guestsDiscount | number : 0 }}% of regular fee
                    </span>
                </span>
                
            </span>
        </span>
        <span ng-if="item.guestsCostType == 'miles'">
            <span ng-if="!item.guestsDiscountAvailable">
                for {{ item.guestsCost | number : 0 }} redeemable miles
            </span>
            <span ng-if="item.guestsDiscountAvailable">
                <span ng-if="item.memberCostType != 'miles'">
                    <span ng-if="item.guestsCost > 0">
                        for {{ item.guestsCost * ((100 - item.guestsDiscount) / 100) | number : 0 }} redeemable miles ({{ item.guestsDiscount | number : 0 }}% discount on regular amount {{ item.guestsCost | number : 0 }})
                    </span>
                    <span ng-if="!item.guestsCost || item.guestsCost <= 0">
                        for {{ 100 - item.guestsDiscount | number : 0 }}% of regular amount of redeemable miles
                    </span>
                </span>
                <span ng-if="item.memberCostType == 'miles'">
                    <span ng-if="item.memberCost > 0">
                        for {{ item.memberCost * ((100 - item.guestsDiscount) / 100) | number : 0 }} redeemable miles ({{ item.guestsDiscount | number : 0 }}% discount on regular amount {{ item.memberCost | number : 0 }})
                    </span>
                    <span ng-if="!item.memberCost || item.memberCost <= 0">
                        for {{ 100 - item.guestsDiscount | number : 0 }}% of regular amount of redeemable miles
                    </span>
                </span>
            </span>
        </span> 
        
    </span>
    <span ng-if="item.guestsCostType != 'free'">
        <span ng-if="item.guestsMaxNumber == 1">.</span>
        <span ng-if="item.guestsMaxNumber > 1"> each.</span>
    </span>
</p>