<section id="airline-edit">
    
    <div class="row">
        <div class="columns large-2">
            <ul class="side-nav">
                <li kk-nav="airlines"><a>Airlines</a></li>
                <li kk-nav="alliances"><a>Alliances</a></li>
                <li kk-nav="airports"><a>Airports</a></li>
                <li kk-nav="countries"><a>Countries</a></li>
                <li kk-nav="zones"><a>Zones</a></li>
                <li kk-nav="continents"><a>Continents</a></li>
                <li kk-nav="flights"><a>Flight numbers</a></li>
                <li kk-nav="benefits"><a>Passenger benefits</a></li>
                <li kk-nav="fareAttributes"><a>Fare attributes</a></li>
                <li kk-nav="atpco"><a>ATPCO codes</a></li>
                <li kk-nav="atpcoGroups"><a>ATPCO groups</a></li>
                <li kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></li>
                <li kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></li>
                <li kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></li>
            </ul>
        </div>
        <div class="columns large-10">
            <hgroup ng-if="!isNew">
                <h1>Airline</h1>
                <h4 class="subheader">{{ item.name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New airline</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li kk-nav route="airlines">
                    <a>Airlines</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editAirline" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newAirline">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                
                <fieldset>
                    <legend>Basic</legend>
                    <div class="row">
                        <div class="columns large-2">
                            
                            <label for="item-code">Code <small>Required</small></label>
                            <input type="text" ng-model="item.code" id="item-code" name="code" maxlength="2" ng-pattern="/^[a-zA-Z][a-zA-Z0-9]$/" required placeholder="XX" class="uppercase" />
                            <kk-error field="itemForm.code" type="required">This field is required</kk-error>
                            <kk-error field="itemForm.code" type="pattern">Code consists two characters and starts with letter</kk-error>
                            
                        </div>
                        <div class="columns large-7">
                            
                            <label for="item-name">Name <small>Required</small></label>
                            <input type="text" ng-model="item.name" id="item-name" name="itemname" required />
                            <kk-error field="itemForm.itemname">This field is required</kk-error>
                            
                        </div>
                        <div class="columns large-3">
                            
                            <label>&nbsp;</label>
                            <ul class="button-group round">
                                <li><button type="button" class="button tiny" ng-class="{ secondary: !item.active, success: item.active } " ng-model="item.active" btn-radio="true">Active</button></li>
                                <li><button type="button" class="button tiny" ng-class="{ secondary: item.active, alert: !item.active } " ng-model="item.active" btn-radio="false">Inactive</button></li>
                            </ul>
                        
                        </div>
                    </div>
                </fieldset>
                
                <fieldset>
                    <legend>Branded fares</legend>
                    
                    <div class="row">
                        
                        <div class="columns large-3 end">
                            
                            <ul class="button-group round">
                                <li><button type="button" class="button tiny" ng-class="{ secondary: !item.brandedFaresActive, success: item.brandedFaresActive } " ng-model="item.brandedFaresActive" btn-radio="true">Active</button></li>
                                <li><button type="button" class="button tiny" ng-class="{ secondary: item.brandedFaresActive, alert: !item.brandedFaresActive } " ng-model="item.brandedFaresActive" btn-radio="false">Inactive</button></li>
                            </ul>
                            
                        </div>
                        
                    </div>
                    
                    <hr />
                    
                    <div ng-if="item.brandedFares.length > 0" class="branded-fares">
                        
                        <div class="row">
                            <div class="columns small-3">
                                <label for="bf-name-0">Name <small>Required</small></label>
                            </div>
                            <div class="columns small-2">
                                <label for="bf-it-pos-0">Type of input</label>
                            </div>
                            <div class="columns small-7">
                                <label>Code with its position or regular expression <small>Required</small></label>
                            </div>
                        </div>
                        
                        <div ng-repeat="bf in item.brandedFares" ng-form="bfForm">
                            
                            <div class="row">
                                
                                <div class="columns small-3">
                                    
                                    <input type="text" ng-model="bf.name" ng-attr-id="bf-name-{{$index}}" name="bfName" required />
                                    <kk-error field="bfForm.bfName" type="required">This field is required</kk-error>
                                    
                                </div>
                                
                                <div class="columns small-2">
                                    
                                    <div><input type="radio" ng-model="bf.inputType" ng-value="config.brandedFareInputTypes.position.id" ng-attr-id="bf-it-pos-{{$index}}" ng-attr-name="bfInputType{{$index}}" required /> <label ng-attr-for="bf-it-pos-{{$index}}">{{config.brandedFareInputTypes.position.name}}</label></div>
                                    <div><input type="radio" ng-model="bf.inputType" ng-value="config.brandedFareInputTypes.regExp.id" ng-attr-id="bf-it-re-{{$index}}" ng-attr-name="bfInputType{{$index}}" required /> <label ng-attr-for="bf-it-re-{{$index}}">{{config.brandedFareInputTypes.regExp.name}}</label></div>
                                    
                                </div>
                                
                                <div class="columns small-4" ng-if="bf.inputType == config.brandedFareInputTypes.position.id">
                                    
                                    <kk-range-selector start="bf.substringStart" size="bf.substringLength" max="config.fareBasisCodeMaxLength"></kk-range-selector>
                                    
                                </div>
                                
                                <div class="columns small-2" ng-if="bf.inputType == config.brandedFareInputTypes.position.id">
                                    
                                    <input type="text" ng-model="bf.code" ng-attr-id="bf-code-{{$index}}" name="bfCode" ng-maxlength="{{bf.substringLength}}" ng-minlength="{{bf.substringLength}}" required ng-attr-placeholder="{{getPlaceholder(bf)}}" class="uppercase" />
                                    <kk-error field="bfForm.bfCode" type="required">This field is required</kk-error>
                                    <kk-error field="bfForm.bfCode" type="minlength">{{bf.substringLength}}-characters long</kk-error>
                                    <kk-error field="bfForm.bfCode" type="maxlength">{{bf.substringLength}}-characters long</kk-error>
                                    
                                </div>
                                
                                <div class="columns small-6" ng-if="bf.inputType == config.brandedFareInputTypes.regExp.id">
                                    
                                    <div class="row collapse">
                                        <div class="columns small-1">
                                            <span class="prefix">^</span>
                                        </div>
                                        <div class="columns small-10">
                                            <input type="text" ng-model="bf.regExp" ng-attr-id="bf-re-{{$index}}" name="bfRegExp" required class="reg-exp" />
                                            <kk-error field="bfForm.bfRegExp">This field is required</kk-error>
                                        </div>
                                        <div class="columns small-1">
                                            <span class="postfix">$</span>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="columns small-1 end">
                                    <label class="inline"><a class="remove-btn" ng-click="removeBrandedFare($index)" title="Delete branded fare"><i class="fi-x"></i></a></label>
                                </div>
                                
                            </div>
                            
                            <div class="row">
                                <div class="columns small-2">
                                    <label class="inline">Alternative names: </label>
                                </div>
                                <div class="columns small-10">
                                    <kk-tag-input collection="bf.nameOptions"></kk-tag-input>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="row">
                            <div class="columns small-12">
                                <button type="button" ng-click="addBrandedFare()" class="tiny secondary"><i class="fi-plus"></i> Branded fare</button>
                            </div>
                        </div>
                        
                    </div>
                    <div ng-if="!item.brandedFares || item.brandedFares.length <= 0">
                        
                        <p>There are no branded fares yet. <a ng-click="addBrandedFare()" title="Create first branded fare">Create first one</a>.</p>
                        
                    </div>
                    
                </fieldset>
                
                <div class="row">
                    <div class="columns large-12">
                        <button ng-if="isNew" ng-click="submitAndStay(itemForm)" type="button" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-plus"></i> Save and add another</button>
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="airlines" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteAirline(item)">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section> 