								<!-- Search Results Section -->
								<section class="search-results row">	
									<div class="columns large-2 flight-label">
										<span data-tooltip title="Best deal means it's a best deal. Just take it." class="radius secondary label">Best deal <span class="foundicon-idea"></span></span>
									</div>
									<div class="columns large-10">
										<!-- Single Result -->
										<a class="result" data-flight-id="XXX" href="#">
											<article>
												<div class="row flight">
													<div class="small-3 columns">
														<strong class="price">$1617</strong>
														<strong class="miles">9416</strong>
														<span class="desc">Miles</span>
													</div>
													<div class="small-6 columns middle">
														<div class="airline"><img src="img/airline_logo0.png" alt="China Eastern Logo" /> China Eastern</div>
														<div class="schedule">
															<strong class="time">12:35 <span>pm</span></strong>
															<span class="foundicon-right-arrow"></span>
															<strong class="time">6:40 <span>pm</span></strong>
														</div>
														<div class="duration desc">PVG <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> LHR</div>
													</div>
													<div class="small-3 columns stops">
														<strong>0</strong> <span class="desc">Nonstop</span>
													</div>
												</div>
												<div class="row hover">
													<div class="small-3 columns">
														<img class="program-logo" src="img/program_logo0.png" alt="Miles and More" />
														<strong class="miles">9416</strong> 
														<span class="desc">Miles</span>
													</div>
													<div class="small-6 columns middle">
														<div class="row">
															<div class="columns small-6">
																<div class="foundicon-rss social icon"></div>
																<div class="desc">Wi-fi available during flight</div>
															</div>
															<div class="columns small-6">
																<div class="foundicon-clock icon"></div>
																<div class="desc">Overnight flight</div>
															</div>
														</div>
													</div>
													<div class="small-3 columns plus-icon">
														<div class="foundicon-plus"></div>
													</div>
												</div>
												<div class="row stats">
													<div class="columns large-6">
														<div class="progress caption success">
															<span class="goal"><strong>25%</strong> of miles for a free domestic flight</span>
															<span class="meter" style="width: 55%">
																<span class="goal"><strong>25%</strong> of miles for a free domestic flight</span>
															</span>
														</div>
														<img class="green-alert-icon" data-tooltip data-width="300" title="<h5>Pursue your travel dreams</h5><p>Set your dream destination and track your mileage process &rarr;</p>" src="img/green_alert.png" alt="Add your dream destination" />
													</div>
													<div class="columns large-6">
														<div class="progress caption secondary">
															<span class="goal">Silver Status&mdash;<strong>3245 miles left</strong></span>
															<span class="meter" style="width: 67%">
																<span class="goal">Silver Status&mdash;<strong>3245 miles left</strong></span>
															</span>
														</div>
													</div>
												</div>
											</article>
										</a>
										<!-- END of Single Result -->
									</div>
								</section>
								<!-- END of Search Results Section -->
								
								<!-- Search Results Section -->
								<section class="search-results row">	
									<div class="columns large-2 flight-label">
										<span data-tooltip title="Best deal means it's a best deal. Just take it." class="radius secondary label">Cheapest <span class="foundicon-idea"></span></span>
									</div>
									<div class="columns large-10">
										<!-- Single Result -->
										<a class="result" data-flight-id="CA1445-CA5541|MU0042" href="#">
											<article>
												<div class="row flight">
													<div class="small-3 columns">
														<strong class="price">$1617</strong>
														<strong class="miles">9416</strong> 
														<span class="desc">Miles</span>
													</div>
													<div class="small-6 columns middle">
														<div class="airline"><img src="img/airline_logo0.png" alt="China Eastern Logo" /> China Eastern</div>
														<div class="schedule">
															<strong class="time">12:35 <span>pm</span></strong>
															<span class="foundicon-right-arrow"></span>
															<strong class="time">6:40 <span>pm</span></strong>
														</div>
														<div class="duration desc">PVG <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> LHR</div>
													</div>
													<div class="small-3 columns stops">
														<strong>0</strong> <span class="desc">Nonstop</span>
													</div>
												</div>
												<div class="row hover">
													<div class="small-3 columns">
														<img class="program-logo" src="img/program_logo0.png" alt="Miles and More" />
														<strong class="miles">9416</strong> 
														<span class="desc">Miles</span>
													</div>
													<div class="small-6 columns middle">
														<div class="row">
															<div class="columns small-6">
																<div class="foundicon-rss social icon"></div>
																<div class="desc">Wi-fi available during flight</div>
															</div>
															<div class="columns small-6">
																<div class="foundicon-clock icon"></div>
																<div class="desc">Overnight flight</div>
															</div>
														</div>
													</div>
													<div class="small-3 columns plus-icon">
														<div class="foundicon-plus"></div>
													</div>
												</div>
												<div class="row stats">
													<div class="columns large-6">
														<div class="progress caption success">
															<span class="goal"><strong>25%</strong> of miles for Silver Status</span>
															<span class="meter" style="width: 55%">
																<span class="goal"><strong>25%</strong> of miles for Silver Status</span>
															</span>
														</div>
														<img class="green-alert-icon" data-tooltip data-width="300" title="<h5>Pursue your travel dreams</h5><p>Set your dream destination and track your mileage process &rarr;</p>" src="img/green_alert.png" alt="Add your dream destination" />
													</div>
													<div class="columns large-6">
														<div class="progress caption secondary">
															<span class="goal">Silver Status&mdash;<strong>3245 miles left</strong></span>
															<span class="meter" style="width: 67%">
																<span class="goal">Silver Status&mdash;<strong>3245 miles left</strong></span>
															</span>
														</div>
													</div>
												</div>
											</article>
										</a>
										<!-- END of Single Result -->
									</div>
								</section>
								<!-- END of Search Results Section -->
								
								<!-- Search Results Section -->
								<section class="search-results row">	
									<div class="columns large-2 flight-label">
										<span data-tooltip title="Best deal means it's a best deal. Just take it." class="radius secondary label">Fastest <span class="foundicon-idea"></span></span>
									</div>
									<div class="columns large-10">
										<!-- Single Result -->
										<a class="result" data-flight-id="CA1445-CA5541|MU0245" href="#">
											<article>
												<div class="row flight">
													<div class="small-3 columns">
														<strong class="price">$1617</strong>
														<strong class="miles">9416</strong> 
														<span class="desc">Miles</span>
													</div>
													<div class="small-6 columns middle">
														<div class="airline"><img src="img/airline_logo0.png" alt="China Eastern Logo" /> China Eastern</div>
														<div class="schedule">
															<strong class="time">12:35 <span>pm</span></strong>
															<span class="foundicon-right-arrow"></span>
															<strong class="time">6:40 <span>pm</span></strong>
														</div>
														<div class="duration desc">PVG <span>&mdash;</span> <strong>13h5min</strong> <span>&mdash;</span> LHR</div>
													</div>
													<div class="small-3 columns stops">
														<strong>0</strong> <span class="desc">Nonstop</span>
													</div>
												</div>
												<div class="row hover">
													<div class="small-3 columns">
														<img class="program-logo" src="img/program_logo0.png" alt="Miles and More" />
														<strong class="miles">9416</strong> 
														<span class="desc">Miles</span>
													</div>
													<div class="small-6 columns middle">
														<div class="row">
															<div class="columns small-6">
																<div class="foundicon-rss social icon"></div>
																<div class="desc">Wi-fi available during flight</div>
															</div>
															<div class="columns small-6">
																<div class="foundicon-clock icon"></div>
																<div class="desc">Overnight flight</div>
															</div>
														</div>
													</div>
													<div class="small-3 columns plus-icon">
														<div class="foundicon-plus"></div>
													</div>
												</div>
												<div class="row stats">
													<div class="columns large-6">
														<div class="progress caption success">
															<span class="goal"><strong>25%</strong> of miles for a free domestic flight</span>
															<span class="meter" style="width: 55%">
																<span class="goal"><strong>25%</strong> of miles for a free domestic flight</span>
															</span>
														</div>
														<img class="green-alert-icon" data-tooltip data-width="300" title="<h5>Pursue your travel dreams</h5><p>Set your dream destination and track your mileage process &rarr;</p>" src="img/green_alert.png" alt="Add your dream destination" />
													</div>
													<div class="columns large-6">
														<div class="progress caption secondary">
															<span class="goal">Silver Status&mdash;<strong>3245 miles left</strong></span>
															<span class="meter" style="width: 67%">
																<span class="goal">Silver Status&mdash;<strong>3245 miles left</strong></span>
															</span>
														</div>
													</div>
												</div>
											</article>
										</a>
										<!-- END of Single Result -->
									</div>
								</section>
								<!-- END of Search Results Section -->