									<!-- Top Bar -->
									<div class="panel">
										<div class="row">
											<div class="columns large-6">
												<div class="row collapse">
													<div class="columns small-5">
														<span class="prefix">
															<strong class="price">$4432</strong>
														</span>
													</div>
													<div class="columns small-7">
														<span class="postfix">
															<img src="img/airline_logo0.png" alt="Airline logo" /> China Eastern
														</span>
													</div>
												</div>
											</div>
											<div class="columns large-6">
												<div class="row collapse">
													<div class="columns small-5">
														<span class="prefix">
															<strong class="miles">5453</strong>
															<span class="desc">Miles</span>
														</span>
													</div>
													<div class="columns small-7">
														<form class="custom">
															<select class="change-program">
																<option value="34" data-logo-href="img/program_logo_small0.png">Delta Skymiles</option>
																<option value="22" data-logo-href="img/program_logo_small1.png">Miles &amp; More</option>
															</select>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="columns large-6">
												<div class="progress success">
													<span class="meter" style="width: 55%"></span>
												</div>
												<div class="desc">Flight to Las Vegas&mdash;<strong>23045 miles left</strong></div>
												<img class="green-alert-icon" data-tooltip data-width="300" title="<h5>Pursue your travel dreams</h5><p>Set your dream destination and track your mileage process &uarr;</p>" src="img/green_alert.png" alt="Add your dream destination" />
											</div>
											<div class="columns large-6">												
												<div class="progress secondary">
													<span class="meter" style="width: 67%"></span>
												</div>
												<div class="desc">Silver Status&mdash;<strong>23045 miles left</strong></div>
											</div>
										</div>
										
										<a class="close" href="#">&times;</a>
									</div>
									<!-- END of Top Bar -->
									
									<!-- Main Table -->
									<form class="custom">
										<table class="flight-options">
											<thead>
												<tr><th colspan="3">Departure</th><th colspan="3">Return</th></tr>
											</thead>
											<tbody>
												<tr>
													<td class="radio-col"></td>
													<td class="schedule-col">
														<div class="schedule">
															<strong class="time">12:35 <span>pm</span></strong>
															<span class="foundicon-right-arrow"></span>
															<strong class="time">6:40 <span>pm</span></strong>
														</div>
														<div class="duration desc">
															13h5min
														</div>
													</td>
													<td class="stops-col">
														<div class="stops">
															<strong>0</strong>
															<span class="desc">Nonstop</span>
														</div>
													</td>
													
													<td class="radio-col">
														<input type="radio" name="return-XXX" value="YYY" checked /> <span class="custom radio"></span>
													</td>
													<td class="schedule-col">
														<div class="schedule">
															<strong class="time">12:35 <span>pm</span></strong>
															<span class="foundicon-right-arrow"></span>
															<strong class="time">6:40 <span>pm</span></strong>
														</div>
														<div class="duration desc">
															13h5min
														</div>
													</td>
													<td class="stops-col">
														<div class="stops">
															<strong>0</strong>
															<span class="desc">Nonstop</span>
														</div>
													</td>
												</tr>
												
												<tr>
													<td width="6" colspan="3"></td>
													
													<td class="radio-col">
														<input type="radio" name="return-XXX" value="ZZZ" /> <span class="custom radio"></span>
													</td>
													<td class="schedule-col">
														<div class="schedule">
															<strong class="time">12:35 <span>pm</span></strong>
															<span class="foundicon-right-arrow"></span>
															<strong class="time">6:40 <span>pm</span></strong>
														</div>
														<div class="duration desc">
															13h5min
														</div>
														<div class="desc"><a href="#" class="show-longer-overlay" data-collapsed-rows="1">Show longer stop<span class="foundicon-down-arrow"></span></a></div>
													</td>
													<td class="stops-col">
														<div class="stops">
															<strong>0</strong>
															<span class="desc">Nonstop</span>
														</div>
													</td>
												</tr>
												
												<tr>
													<td width="6" colspan="3"></td>
													
													<td class="radio-col">
														<input type="radio" name="return-XXX" value="DDD" /> <span class="custom radio"></span>
													</td>
													<td class="schedule-col">
														<div class="schedule">
															<strong class="time">12:35 <span>pm</span></strong>
															<span class="foundicon-right-arrow"></span>
															<strong class="time">6:40 <span>pm</span></strong>
														</div>
														<div class="duration desc">
															13h5min
														</div>
													</td>
													<td class="stops-col">
														<div class="stops">
															<strong>0</strong>
															<span class="desc">Nonstop</span>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</form>
									<!-- END of Main Table -->
									
									<!-- Flight Details -->
									<div class="details-wrapper">
										<div class="row">
											<div class="columns large-6">
												<div class="desc"><span class="foundicon-idea"></span> Check more details on mouse-over</div>
												
												<!-- Departure Details -->
												<div class="departure details">
													<div class="graph-wrapper">
														<div class="graph-top">
															<span class="graph-fragment" style="width:100%" data-fragment-id="1">
																<div class="graph graph-flight"></div>
															</span>
														</div>
														<div class="graph-bottom"></div>
													</div>
													<div class="graph-info">
														<div class="info-default">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	09/04/2013<br />
																	Shanghai PVG
																</div>
																<div class="columns small-4 small-offset-4">
																	<time>6:40pm</time>
																	16/04/2013<br />
																	London LHR
																</div>
															</div>
														</div>
														<div class="info-fragment" data-fragment-id="1">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	09/04/2013<br />
																	Shanghai PVG
																</div>
																<div class="columns small-4 middle">
																	<div class="inner">
																		<strong>7h46min</strong><br />
																		Flight No: EB45355
																		Boeing 747-400
																	</div>
																</div>
																<div class="columns small-4">
																	<time>6:40pm</time>
																	16/04/2013<br />
																	London LHR
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- Departure Details -->
												
											</div>
											<div class="columns large-6">
												<div class="desc"><span class="foundicon-idea"></span> Check more details on mouse-over</div>
												
												<!-- Return Details -->
												<div class="return details" data-return-id="YYY">
													<div class="graph-wrapper">
														<div class="graph-top">
															<span class="graph-fragment" style="width:60%" data-fragment-id="1">
																<div class="graph graph-flight"></div>
															</span>
															<span class="graph-fragment" style="width:20%" data-fragment-id="2">
																<div class="graph graph-overlay"></div>
															</span>
															<span class="graph-fragment" style="width:20%" data-fragment-id="3">
																<div class="graph graph-flight"></div>
															</span>
														</div>
														<div class="graph-bottom"></div>
													</div>
													<div class="graph-info">
														<div class="info-default">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	09/04/2013<br />
																	Shanghai PVG
																</div>
																<div class="columns small-4 small-offset-4">
																	<time>6:40pm</time>
																	16/04/2013<br />
																	London LHR
																</div>
															</div>
														</div>
														<div class="info-fragment" data-fragment-id="1">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	09/04/2013<br />
																	Shanghai PVG
																</div>
																<div class="columns small-4 middle">
																	<div class="inner">
																		<strong>7h46min</strong><br />
																		Flight No: EB45355<br />
																		Boeing 747-400
																	</div>
																</div>
																<div class="columns small-4">
																	<time>6:40pm</time>
																	16/04/2013<br />
																	London LHR
																</div>
															</div>
														</div>
														<div class="info-fragment" data-fragment-id="2">
															<div class="row">
																<div class="columns small-4">
																	<time>12:35pm</time>
																	09/04/2013<br />
																	Shanghai PVG
																</div>
																<div class="columns small-4 middle">
																	<div class="inner">
																		<strong>7h46min</strong><br />
																		<span class="foundicon-rss social"></span> Airport Wi-Fi
																	</div>
																</div>
																<div class="columns small-4">
																	<time>6:40pm</time>
																	16/04/2013<br />
																	London LHR
																</div>
															</div>
														</div>
														<div class="info-fragment" data-fragment-id="3">
															<div class="row">
																<div class="columns small-4">
																	<time>2:35pm</time>
																	09/04/2013<br />
																	Shanghai PVG
																</div>
																<div class="columns small-4 middle">
																	<div class="inner">
																		<strong>3h46min</strong><br />
																		Flight No: EB4dsad<br />
																		Boeing 747-400
																	</div>
																</div>
																<div class="columns small-4">
																	<time>9:40pm</time>
																	16/04/2013<br />
																	London LHR
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="return details" data-return-id="ZZZ">
													Flight no 2
												</div>
												<div class="return details" data-return-id="DDD">
													Flight no 3
												</div>
												<!-- END of Return Details -->
												
											</div>
										</div>
									</div>
									<!-- END of Flight Details -->
									
									<!-- Cabin Classes -->
									<form class="classes-wrapper panel custom">										
										<table class="classes">
											<thead>
												<tr><th></th><th>Cabin</th><th>Features</th><th>Progress</th><th>Miles</th><th>Price</th></tr>
											</thead>
											<tbody>
												<tr>
													<td class="radio-col"><input type="radio" name="cabin-class" value="34" checked /> <span class="custom radio"></span></td>
													<td class="name-col">
														<strong>Coach</strong>
														<div class="desc">Fare code B</div>
													</td>
													<td class="features-col"></td>
													<td class="progress-col">
														<div class="progress success caption">
															<span class="goal">Las Vegas</span>
															<span class="meter" style="width:30%">
																<span class="goal">Las Vegas</span>
															</span>
														</div>
														<div class="progress secondary caption">
															<span class="goal">Silver Status</span>
															<span class="meter" style="width:54%">
																<span class="goal">Silver Status</span>
															</span>
														</div>
													</td>
													<td class="miles-col">
														<strong class="miles">4343</strong>
													</td>
													<td class="price-col">
														<strong class="price">$5434</strong>
													</td>
												</tr>
												<tr>
													<td class="radio-col"><input type="radio" name="cabin-class" value="15" /> <span class="custom radio"></span></td>
													<td class="name-col">
														<strong>Coach</strong>
														<div class="desc">Fare code B</div>
													</td>
													<td class="features-col">
														<ul>
															<li><span class="foundicon-refresh"></span> Refundable</li>
															<li><span class="foundicon-smiley"></span> Lounge access</li>
														</ul>
													</td>
													<td class="progress-col">
														<div class="progress success caption">
															<span class="goal">Las Vegas</span>
															<span class="meter" style="width:40%">
																<span class="goal">Las Vegas</span>
															</span>
														</div>
														<div class="progress secondary caption">
															<span class="goal">Silver Status</span>
															<span class="meter" style="width:74%">
																<span class="goal">Silver Status</span>
															</span>
														</div>
													</td>
													<td class="miles-col">
														<strong class="miles">6343</strong>
													</td>
													<td class="prices-col">
														<strong class="price">$7434</strong>
													</td>
												</tr>
											</tbody>
										</table>
										
										<span class="foundicon-star star-1"></span>
										<span class="foundicon-star star-2"></span>
										<span class="foundicon-star star-3"></span>
										<span class="foundicon-star star-4"></span>
									</form>
									<!-- END of Cabin Classes -->
									
									<!-- Buttons -->
									<div class="actions">
										<a href="#" class="hide-classes">Change return flight</a>
										<a href="#" class="button tiny hide-flight-details">Close details</a>
										<a href="#" class="button tiny show-flight-details">Details</a>
										<a href="#" class="button tiny book-ticket secondary">Go to booking</a>
										<a href="#" class="button  tiny secondary dropdown book-ticket-dropdown" data-dropdown="">Book ticket</a>
										
										<div class="f-dropdown booking-dropdown content small" data-dropdown-content data-flight-id="XXX">
											<div class="booking-upsell">
												<p>Select more comfortable class and get even <strong>more miles</strong></p>
												<a href="#" class="button small secondary show-classes">Show other cabins</a>
											</div>
											<a href="#" class="button tiny book-ticket">Go to booking</a>
										</div>
									</div>
									<!-- END Buttons -->