<section id="process-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Scraper process</h1>
                <h4 class="subheader">{{ (config.ffps | find : item.ffp.id).name }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New scraper process</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Accuracy</a>
                </li>
                <li kk-nav route="accuracy">
                    <a>Processes</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editProcess" ng-attr-param-id="{{ item.id }}">
                    <a>Edit</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newProcess">
                    <a>New</a>
                </li>
            </ul>
    
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                
                <div class="row">
                    <div class="columns large-4">
                        <fieldset>
                            <legend>Basic</legend>
                        
                            <label for="process-ffp">Target program <small>Required</small></label>
                            <select id="process-ffp" name="ffpId" ng-model="item.ffp.id" ng-options=" ffp.id as ffp.name for ffp in config.ffps " required ng-change="onProgramChange()">
                                <option value="">Select</option>
                            </select>
                            <kk-error field="itemForm.ffpId">This field is required</kk-error>
                            
                            <label for="process-fc">Fare codes <small>Required</small></label>
                            <input type="text" class="uppercase" name="fareCodes" ng-model="item.ffp.fareCodes" required ng-pattern="/^[a-zA-Z]+$/" />
                            <kk-error field="itemForm.fareCodes" type="required">At least one fare code is required</kk-error>
                            <kk-error field="itemForm.fareCodes" type="pattern">Only letters allowed</kk-error>
                            
                            <input type="checkbox" name="force" ng-model="item.force" id="process-force" /> <label for="process-force">Force scraping</label>
                        </fieldset>
                    </div>
                    <div class="columns large-7 large-offset-1">
                        <fieldset ng-if="item.ffp.id &amp;&amp; (config.ffps | find : item.ffp.id).tiers.length > 0 ">
                            <legend>Target tiers <small>At least one is required</small></legend>
                            
                            <dl class="sub-nav">
                                <dt>Select: </dt>
                                <dd ng-class=" { active: (config.ffps | find : item.ffp.id).tiers.length <= item.ffp.tierIds.length } "><a ng-click="selectAllTiers()">All</a></dd>
                                <dd ng-class=" { active: item.ffp.tierIds.length <= 0 } "><a ng-click="deselectTiers()">None</a></dd>
                            </dl>
                            
                            <input type="hidden" name="tiers" ng-model="tierModel" />
                            <kk-error field="itemForm.tiers">Select at least one tier</kk-error>
                            
                            <ul class="small-block-grid-3 tiers">
                                <li ng-repeat=" tier in (config.ffps | find : item.ffp.id).tiers | orderBy : 'name' ">
                                    <input ng-attr-id="tier-{{tier.id}}" type="checkbox" checklist-model="item.ffp.tierIds" checklist-value="tier.id" /> <label ng-attr-for="tier-{{tier.id}}">{{tier.name}}</label>
                                </li>
                            </ul>
                            
                        </fieldset>
                    </div>
                </div>
                
                <div class="row">
                    <div class="column large-12">
                        <fieldset class="routes">
                            <legend>Routes configuration</legend>
                            
                            <div ng-if="item.routes.length > 0">
                                <div class="row">
                                    <div class="columns large-1 text-center">
                                        <label for="route-en-0">Enabled</label>
                                    </div>
                                    <div class="columns large-1 text-center">
                                        <abbr title="Force to scrape data"><label for="route-sc-0">Scrape <i class="fi-info"></i></label></abbr>
                                    </div>
                                    <div class="columns large-2">
                                        <abbr title="Departure airport code"><label for="route-dep-0">Departure airport <i class="fi-info"></i></label></abbr>
                                    </div>
                                    <div class="columns large-2">
                                        <abbr title="Destination airport code"><label for="route-dest-0">Destination airport <i class="fi-info"></i></label></abbr>
                                    </div>
                                    <div class="columns large-3">
                                        <div class="row">
                                            <div class="columns small-6">
                                                <abbr title="Marketing carrier code (required)"><label for="route-mk-0">Mk. carrier <i class="fi-info"></i></label></abbr>
                                            </div>
                                            <div class="columns small-6">
                                                <abbr title="Operating carrier code"><label for="route-op-0">Op. carrier <i class="fi-info"></i></label></abbr>  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns large-2 end">
                                        <label for="route-fc-0">Fare codes</label>
                                    </div>
                                </div>
                                
                                <div class="row" ng-repeat="route in item.routes" ng-form="routeForm">
                                    <div class="columns small-1 text-center">
                                        <input type="checkbox" name="enabled" ng-model="route.active" ng-attr-id="route-en-{{$index}}" />
                                    </div>
                                    <div class="columns small-1 text-center">
                                        <input type="checkbox" name="scrape" ng-model="route.scrape" ng-attr-id="route-sc-{{$index}}" />
                                    </div>
                                    <div class="columns large-2">
                                        <input type="text" placeholder="XXX" class="uppercase" ng-attr-id="route-dep-{{$index}}" name="departure" ng-model="route.departure" ng-pattern="airportCodePattern" />
                                        <kk-error field="routeForm.departure">Invalid 3-letter airport code</kk-error>
                                    </div>
                                    <div class="columns large-2">
                                        <input type="text" placeholder="XXX" class="uppercase" ng-attr-id="route-dest-{{$index}}" name="destination" ng-model="route.destination" ng-pattern="airportCodePattern" />
                                        <kk-error field="routeForm.destination">Invalid 3-letter airport code</kk-error>
                                    </div>
                                    <div class="columns large-3">
                                        <div class="row">
                                            <div class="columns small-6">
                                                <input type="text" placeholder="XX" class="uppercase" ng-attr-id="route-mk-{{$index}}" name="mkAirline" ng-model="route.mkAirline" ng-pattern="airlineCodePattern" required />
                                                <kk-error field="routeForm.mkAirline" type="pattern">2 characters only</kk-error>
                                                <kk-error field="routeForm.mkAirline" type="required">Required</kk-error>  
                                            </div>
                                            <div class="columns small-6">
                                                <input type="text" placeholder="XX" class="uppercase" ng-attr-id="route-op-{{$index}}" name="opAirline" ng-model="route.opAirline" ng-pattern="airlineCodePattern" />
                                                <kk-error field="routeForm.opAirline" type="pattern">2 characters only</kk-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns large-2">
                                        <input type="text" class="uppercase" ng-attr-id="route-fc-{{$index}}" name="routeFareCodes" ng-model="route.fareCodes" ng-pattern="/^[a-zA-Z]+$/" />
                                        <kk-error field="routeForm.routeFareCodes" type="pattern">Only letters allowed</kk-error>
                                    </div>
                                    <div class="columns large-1 end">
                                        <button ng-if="item.routes.length > 1" ng-click="removeRoute($index)" class="alert expand tiny"><i class="fi-x"></i></button>
                                    </div>
                                </div>
                                
                                <button ng-click="addRoute()" class="secondary tiny"><i class="fi-plus"></i> Add segment</button>
                                
                            </div>
                            <div ng-if="item.routes.length <= 0">
                                <p>You do not have any routes. Create <a ng-click="addRoute()">first one</a>. At least one route is required.</p>
                            </div>
                        </fieldset>
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="accuracy" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteProcess(item)">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section> 