input + small.kk-error,
select + small.kk-error,
textarea + small.kk-error{
    margin-top: -0.75rem;
}

small.kk-error.ng-hide + small.kk-error:not(.ng-hide){
    margin-top: -0.75rem;
}

table small.kk-error{
    box-shadow: 1px 1px 3px -1px #333;
    min-width: 100%;
    position: absolute;
    top: 2.75rem;
    z-index: 1;
}

table .kk-error-wrapper{
    position: relative;
}

table .kk-error-wrapper small.kk-error:not(.ng-hide) + small.kk-error:not(.ng-hide){
    display: none;
}