<section id="airline-collection">
    
    <div class="row">
        <div class="columns large-2">
            <ul class="side-nav">
                <li kk-nav="airlines"><a>Airlines</a></li>
                <li kk-nav="alliances"><a>Alliances</a></li>
                <li kk-nav="airports"><a>Airports</a></li>
                <li kk-nav="countries"><a>Countries</a></li>
                <li kk-nav="zones"><a>Zones</a></li>
                <li kk-nav="continents"><a>Continents</a></li>
                <li kk-nav="flights"><a>Flight numbers</a></li>
                <li kk-nav="benefits"><a>Passenger benefits</a></li>
                <li kk-nav="fareAttributes"><a>Fare attributes</a></li>
                <li kk-nav="atpco"><a>ATPCO codes</a></li>
                <li kk-nav="atpcoGroups"><a>ATPCO groups</a></li>
                <li kk-nav="atpcoSubgroups"><a>ATPCO subgroups</a></li>
                <li kk-nav="atpcoDesc1"><a>ATPCO descriptions 1</a></li>
                <li kk-nav="atpcoDesc2"><a>ATPCO descriptions 2</a></li>
            </ul>
        </div>
        <div class="columns large-10">
            <h1>Airlines</h1>
            
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>Static Data</a>
                </li>
                <li class="current" kk-nav route="airlines">
                    <a>Airlines</a>
                </li>
            </ul>
        
            <div ng-if="items">
                <div ng-if="items.length > 0">
                    
                    <div class="row">
                        <div class="columns large-6">
                            <div class="button-bar">
                                <ul class="button-group">
                                    <li><a class="tiny button" kk-nav route="newAirline"><i class="fi-plus"></i> Add new</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns large-6">
                            <form name="searchForm" ng-submit="filter(searchForm)" novalidate class="mini">
                                <div class="row">
                                    <div class="columns small-6 text-right">
                                        <input type="checkbox" name="withBrandedFares" ng-model="params.withBrandedFares" ng-change="requestFilter(searchForm)" id="filter-bf" /> <label for="filter-bf" class="inline">With branded fares only</label>
                                    </div>
                                    <div class="columns small-6">
                                        <div class="row collapse">
                                            <div class="columns small-10">
                                                <input type="text" placeholder="Filter&hellip;" name="keyword" ng-model="params.search" ng-minlength="2" ng-change="requestFilter(searchForm)" />
                                            </div>
                                            <div class="columns small-2">
                                                <button ng-disabled="!searchForm.$valid" ng-if="!params.search" type="submit" class="tiny expand"><i class="fi-magnifying-glass"></i></button>
                                                <button ng-if="params.search" type="button" ng-click="resetFilter()" class="tiny alert expand"><i class="fi-x"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">No</th>
                                <th class="text-left">Name</th>
                                <th class="text-left">Code</th>
                                <th>Active</th>
                                <th>Branded fares</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" item in items ">
                                <td class="text-left">{{ $index + 1 }}</td>
                                <th class="text-left">{{ item.name }}</th>
                                <td class="text-left">{{ item.code }}</td>
                                <td><i ng-class="{ 'fi-check success': item.active, 'fi-x alert': !item.active }"></i></td>
                                <td><i ng-class="{ 'fi-check success': item.brandedFaresActive, 'fi-x alert': !item.brandedFaresActive }"></i></td>
                                <td class="action"><a title="Edit" kk-nav route="editAirline" ng-attr-param-id="{{item.id}}"><i class="fi-pencil"></i></a></td>
                                <td class="action alert"><a title="Delete" ng-click="deleteAirline(item)"><i class="fi-x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="pagination-centered">
                        <pagination total-items="totalItems" page="params.page" items-per-page="params.itemsPerPage" max-size="7" on-select-page="onSelectPage(page)" class="pagination-sm"></pagination>
                    </div>
                    
                </div>
                <div ng-if="items.length <= 0">
                    <p>There are no airlines. Create <a kk-nav route="newAirline">first one</a>.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>