@import "../components/tooltip/tooltip.css";
@import "../components/error/error.css";

@import "settings";

@import "helpers/functions";
@import "components/motion"; 

@import "foundation";
@import "fonts";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$font-size-smaller: 0.875rem;
$font-size-small: 0.75rem;

$fare-color-0: #BEDB39;
$fare-color-1: #FD7400;
$fare-color-2: #1F8A70;
$fare-color-3: #FFE11A;
$fare-color-4: #004358;

$warning-color-light: #f6eadf;
$disabled-color: #e3e4e4;
$disabled-alt-color: #a5a6a8;

$alert-success-bg: #e0f5f6;
$alert-success-color: #30eae9;
$alert-info-bg: #deeff6;
$alert-info-color: #6ec8ed;
$alert-warning-bg: #f6e9e0;
$alert-warning-color: #eeac6f;
$alert-alert-bg: #f6e2e0;
$alert-alert-color: #ea5a42;

$shadow-below: 0 1px 7px -6px $jet;
$shadow-bottom: 0 -1px 9px -8px $jet inset;

@mixin transition($val){
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
}

@mixin background-cover($img){
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($img);
}

.hl{
    color: $primary-color;
}

.alert-box{
    background-color: $alert-success-bg;
    color: $alert-success-color;
    
    &.icon{
        padding-left: 4rem;
        
        i{
            color: $white;
            font-size: 1.75rem;
            position: absolute; 
            top: 1.25rem;
            left: 1.5rem;
        }
    }
    
    &.success{
        background-color: $alert-success-bg;
        color: $alert-success-color;
    }
    
    &.info{
        background-color: $alert-info-bg;
        color: $alert-info-color;
    }
    
    &.warning{
        background-color: $alert-warning-bg;
        color: $alert-warning-color;
        
        a{
            color: $alert-color;
        }
    }
    
    &.radius{
        border-radius: 8px;
    }
    
    &.alert{
        background-color: $alert-alert-bg;
        color: $alert-alert-color;
    }
}

.progress{
    .meter{
        @include transition(width 0.5s ease-out);
    }
}

.etc{
    font-size: $font-size-smaller;
    color: $base;
}

.nowrap{
    white-space: nowrap;
}

.progress{
    padding: 0;
}

.alert{
    color: $alert-color;
}

.miles-block{
    margin: 1rem 0;
    
    .row{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

.ffp-dropdown-item{
    .label{
        background-color: $iron; 
        font-size: 0.6rem;
        padding: 0.25rem 0.35rem;
    }
}

.panel{

    font-size: $font-size-smaller;
    
    &.callout{
        h1,h2,h3,h4,h5,h6{
            color: $primary-color;
        }
    }
    
    p{
        font-size: $font-size-smaller;
    }
    
    &.primary{
        
        background-color: $primary-color;
        color: $white;
        
        h1,h2,h3,h4,h5,h6,ul,ol{
            color: $white;
        }
        
        p{
            color: rgba(255, 255, 255, 0.75);
        }
        
        hr{
            border-color: rgba(255, 255, 255, 0.75);
        }
    }
    
    &.info{
        background-color: #eaf4f4;
        
        p{
            &.etc{
                color: #c1d6d6;
            }
        }
    }
}

.uppercase{
    text-transform: uppercase;
}

.kk-error-style{
    margin-top: -1.25rem;
    margin-left: $input-border-radius / 2;
    margin-right: $input-border-radius / 2;
}

form{
    &.ng-submitted{
        input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select{
            &.ng-invalid{
                border-color: $warning-color !important;
            }
        }
    }
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select{
    
    border-radius: $global-radius; 
    transition: border-color 0.15s linear 0s, background-color 0.15s linear 0s;
    
    &::-webkit-input-placeholder{ color: $steel; }
    &:-moz-placeholder{ color: $steel; }
    &::-moz-placeholder{ color: $steel; }
    &:-ms-input-placeholder{ color: $steel; }
    
    &.ng-invalid.ng-dirty{
        border-color: $warning-color;
    }
    
    &.loading{
        background-image: url(../img/loader12.gif);
        background-position: unquote("calc(100% - 8px)") center;
        background-repeat: no-repeat;
        padding-right: 28px;
    }
    
    & + .f-dropdown{
        & + small{
            &.kk-error{
                @extend .kk-error-style;
                
                & + .kk-error{
                    @extend .kk-error-style;
                }
            }
        }
    }
    
    & + small{
        &.kk-error{
            @extend .kk-error-style;
            
            & + .kk-error{
                @extend .kk-error-style;
            }
        }
    }
    
}

.input-wrapper{
    
    .input-loader{
        display: none;
    }
    
    &.loading{
        
        input{
            padding-right: 28px;
        }
        
        .input-loader{
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            background-image: url(../img/loader12.gif);
            top: 0.9rem;
            left: unquote("calc(100% - 1.6rem)");
            background-repeat: no-repeat;
        }
    }
}

.subheader-style{
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

table{
    width: 100%;
    border-collapse: collapse;
    
    .disabled{
        color: $base !important;
    }
    
    thead{
        tr{
            th, td{
                @extend .subheader-style;
                vertical-align: top;
            }
        }
    }
    
    &.alt{
        thead{
            tr{
                td, th{
                    color: $iron;
                    text-transform: none;
                    letter-spacing: 0;
                    font-size: $font-size-smaller;
                    font-weight: $font-weight-normal;
                }
            }
        }
    }
}

h1,h2,h3,h4,h5,h6{
    &.subheader{
        @extend .subheader-style;
    }
    
    &.light{
        color: $gainsboro;
    }
}

.button,
button{
    @extend .subheader-style;
    @include transition( unquote("background-color 300ms ease-out 0s, color 300ms ease-out 0s") );
    
    &:hover,
    &:active,
    &:focus{
        color: $alert-color;
    }
    
    &:hover{
        box-shadow: 0 1px 5px -3px $jet;   
    }
    
    &:disabled{
        background-color: $disabled-color;
        color: $disabled-alt-color;
        
        &:hover{
            color: $disabled-alt-color;
        }
    }
    
    &.round-round{
        
        padding: 0;
        font-size: 2rem;
        vertical-align: bottom;
        
        &.small{
            width: rem_calc(42);
            height: rem_calc(42);
        }
        
        &.tiny{
            width: rem_calc(25);
            height: rem_calc(25);
            font-size: 1.35rem;
        }
        
    }
    
    &.secondary,
    &.white{
        
        &:hover{
            background-color: $primary-color;
            color: $white;
        }
        
        &:active,
        &:focus{
            color: $jet;
            background-color: $info-color;
        }
        
        &.border,
        &.transparent{
            &:active,
            &:focus{
                border-color: $info-color;
            }
            
            &:disabled{
                border-color: $disabled-color;
            }
        }
        
        &:disabled{
            background-color: $disabled-color;
            color: $disabled-alt-color;
            
            &:hover{
                color: $disabled-alt-color;
            }
        }
    }
    
    &.secondary{
        
        &.border{
            border: 1px solid $secondary-color;
            
            &:hover{
                border-color: $primary-color;
            }
        }
        
        &:active,
        &:focus{
            background-color: $info-color;
        }
        
    }
    
    &.white{
        
        background-color: $white;
        color: $jet;
        
        &.border,
        &.transparent{
            border: 1px solid $white;
            
            &:hover,
            &:active,
            &:focus{
                border-color: $primary-color;
            }
        }
        
        &:active,
        &:focus{
            background-color: $primary-color;
        }
        
        &.transparent{
            color: $white;
        }
        
    }
    
    &.blue{
        background-color: #00abf8;
        
        &:active,
        &:focus,
        &:hover{
            background-color: $white;
        }
    }
    
    &.info{
        color: $jumbo;
        
        &:active,
        &:focus{
            color: $white;
            background-color: $success-color;
        }
        
        &:hover{
            color: $white;
        }
        
        &.disabled{
            color: $disabled-alt-color;
            cursor: pointer;
            
            &:hover{
                color: $disabled-alt-color;
            }
        }
    }
    
    &.transparent{
        background-color: transparent;
        color: $jumbo;
        
        &:hover{
            background-color: $primary-color;
            color: $white;
        }
    }
}

.button-group{
    .button,
    button{
        &:hover{
            background-color: $primary-color;
            color: $white;
        }
        
        &.secondary,
        &.info{
            &:active,
            &:focus{
                background-color: $primary-color;
                color: $white;
            }
        }
    }
}

body{
    
    &.home-be{
        @include background-cover('../img/home-be-bg.jpg');
        background-color: $vapor;
        background-position: center top;
        
        @media #{$small-only}{
            background-attachment: fixed;
        }
    }
    
    &.home{
        @include background-cover('../img/header.jpg');
        background-color: $gainsboro;
        background-attachment: fixed;
        background-position: center -80px;
    }
    
    &.sign-up,
    &.sign-up-ffp-add{
        background-color: #f0f7f7; 
    }
    
}

@media #{$small-only}{
    body{
        
        &.home{
            background-attachment: scroll;
        }
        
    }
}

.top-bar{
    
    .title-area{
        h1{
            img{
                max-height: 24px;
            }
        }
    }
    
    .top-bar-section{
        li{
            letter-spacing: 0.05em;
        }
        
        button{
            font-size: $topbar-link-font-size;
        }
    }
}

[kk-alerts]{
    &.radius{
        .alert-box{
            border-radius: $global-radius;
        }
    }
}

header{
    
    [kk-alerts]{
        .alert-box{
            margin-bottom: 0;
            box-shadow: 0 1px 5px -4px $jet;
        }
    }
    
    .sticky{
        position: relative;
        
        .top-bar-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $topbar-bg-color;
        }
            
        &.fixed{
            position: fixed;
            
            .top-bar-bg{
                @include transition(opacity 0.5s ease-out);
            }
        }
        
        &.transparent{
            
            background-color: transparent;
            
            .top-bar{
                background-color: transparent;
                
                &.expanded{
                    .top-bar-section{
                        ul{
                            li{
                                background-color: darken($topbar-bg-color, 2%);
                            }
                        }
                    }
                }
            }
            
            .top-bar-section{
                ul{
                    li{
                        background-color: transparent;
                    }
                }
                
                li{
                    &:not(.has-form){
                        background-color: transparent;
                    }
                }
                
                a{
                    &:not(.button){
                        background-color: transparent;
                    }
                }
            }
            
            .top-bar-bg{
                opacity: 0;
            }
            
            &.fixed{
                .top-bar-bg{
                    opacity: 1;
                }
            }
        }
    }
}

.video-modal{
    .panel{
        padding: 3rem;
    }
    
    @media #{$small-only}{
        .panel{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.home-banner,
.home-be-banner{
    padding: rem_calc(70) 0 rem_calc(20) 0;
    
    h1,h2,h3,h4,h5,h6,p{
        color: $white;
    }
    
    h2{
        margin-bottom: 0;
    }
    
}

.home-be-banner{
    p{
        font-weight: $font-weight-light;
    }
    
    h6{
        font-size: $font-size-small;
    }
    
    .callout{
        background: rgba(0, 0, 0, 0.1);
        padding: 0.75rem 0;
        margin: 0.5rem 0 1rem 0;
        
        p{
            margin-bottom: 0;
        }
        
        em{
            font-style: normal;
            color: #ffff80;
        }
    }
    
    .website-logos{
        color: #fff;
        margin: -0.5rem 0 0.75rem 0;
        
        li{
            display: inline;
            margin-right: 1rem;
            
            &:last-child{
                margin-right: 0;
            }
            
            img{
                
            }
        }
        
    }
    
    .button.border{
        margin-bottom: 0.5rem;
    }
    
    .cta{
        margin-top: rem-calc(12);
        margin-bottom: rem-calc(12);
    }
    
    @media #{$small-only}{
        figure{
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }

}

.home-banner{
    
    h2, p{
        text-shadow: 1px 1px 1px $jumbo;
    }
}

@media #{$medium-up} { 
    
    .home-be-banner{
        padding: rem-calc(48 0 32 0);
    }
    
    .home-banner{
        padding: 7rem 0 6.125rem;
        
        h2{
            font-size: 3.25rem;
        }
    }
    
}

.tabs{
    border-bottom: 2px solid $input-border-color;
    
    dd{
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        top: 2px;
        padding-bottom: 2px;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        
        &:hover{
            background-color: $tabs-navigation-hover-bg-color;
            
            &.active{
                background-color: $tabs-navigation-active-bg-color;
            }
        }
        
        &.active{
            border-left: 2px solid $input-border-color;
            border-right: 2px solid $input-border-color;
            border-top: 2px solid $input-border-color;
            background-color: $tabs-navigation-active-bg-color;
        }
    }
}

.calc-wrapper{
    
    .inputs-wrapper{
        position: relative;
        
        .content{ 
            padding: 0.75rem 0 0 0;
        }
        
        .comparison-block{
            background-color: $white-smoke;
            border-radius: $global-radius;
            margin-bottom: 0.75rem;
        }
    
        .loader{
            width: unquote("calc(100% + 0.5rem)");
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            background-image: url(../img/loader48.gif);
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 1;
            position: absolute;
            top: 0;
            left: -0.25rem;
        }   
    }
    
    form{
        
        input[type="text"]{
            &::-webkit-input-placeholder{ text-transform: none; }
            &:-moz-placeholder{ text-transform: none; }
            &::-moz-placeholder{ text-transform: none; }
            &:-ms-input-placeholder{ text-transform: none; }
        }
        
        .ffp{
            background: url(../img/id-icon.png) rem_calc(6) center no-repeat $input-bg-color;
            padding-left: rem_calc(40);
        }
        
        .ffp-etc{
            margin-top: -0.75rem;
            font-size: $font-size-small;
        }
        
        .input-wrapper{
            position: relative;
            
            .kk-error{
                position: absolute;
                width: unquote("calc(100% - ") 2 * $input-border-radius unquote(")");
                margin: 0 $input-border-radius !important;
                top: 2.7rem;
                z-index: 1;
            }
            
            .hint{
                position: absolute;
                top: 0.75rem;
                right: 1rem;
                font-size: $font-size-small;
            }
        }
        
        .hint{
            color: $base;
            
            &:hover{
                color: $primary-color;
            }
        }
        
        .button-group{
            button,
            .button{
                padding: 0.975rem 0.25rem 0.9375rem;
            }
        }
        
        .tabs{
            dd{
                opacity: 0.7;
                
                i[id^="fare-icon"]{
                    margin-right: 0.25rem;
                }
                
                #fare-icon-0{ color: $fare-color-0; }
                #fare-icon-1{ color: $fare-color-1; }
                #fare-icon-2{ color: $fare-color-2; }
                #fare-icon-3{ color: $fare-color-3; }
                #fare-icon-4{ color: $fare-color-4; }
                
                .menu{
                    color: $steel;
                }
                
                &.active{
                    opacity: 1;
                    
                    .menu{
                        color: $jumbo;
                        
                        span{
                            text-transform: uppercase;
                            font-size: 0.65rem;
                        }
                        
                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        
        .leg{
            border: 1px solid $gainsboro;
            border-radius: 5px;
            margin-bottom: 1rem;
            background-color: $vapor;
            box-shadow: $shadow-below;
            
            .icon{
                display: inline-block;
                background-image: url(../img/flight-in-out-icon.png);
                background-repeat: no-repeat;
                background-position: 0 0;
                width: 34px;
                height: 12px;
                margin-right: 6px;
                
                &.inbound{
                    background-position: 0 -12px;
                }
            }
        }
        
        .leg-li{
            padding-bottom: 0;
        }
        
        .tabs-content{
            margin-bottom: 0;
        }
        
        .remove-leg{
            line-height: 1;
            display: block;
            margin-left: 0.5rem;
            color: $iron;
            
            &:hover{
                color: $alert-color;
            }
        }
        
        .leg-head{
            padding: 0.35rem 0.5rem 0.45rem 0.5rem;
            margin-bottom: 0.5rem;
            background-color: $white;
            border-bottom: 1px solid $gainsboro;
            border-radius: 5px 5px 0 0;
            box-shadow: $shadow-below;
            
            h6{
                margin: 0;
                font-size: $font-size-smaller;
                font-weight: $font-weight-normal;
            }
        }
        
        .leg-body{
            
            .leg-legend{
                padding: 0 0.5rem 0.25rem;
                border-bottom: 1px solid $gainsboro;
            }
            
            label{
                font-size: $font-size-small;
                color: lighten($header-font-color, 20%); 
                
                small{
                    color: lighten($header-font-color, 30%); 
                }
                
                .hint{
                    margin-left: 0.25rem;
                }
            }
            
            .leg-flight{
                border-bottom: 1px solid $gainsboro;
                background-color: lighten($vapor, 2%);
                padding: 0.5rem;
                position: relative;
                
                .error{
                    margin: 0.5rem -0.5rem -0.5rem;
                    border-top: 1px solid lighten($warning-color, 30%);
                    position: relative; 
                    
                    &:after{
                        display: block;
                        position: absolute;
                        left: unquote("calc(50% - 10px)");
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-bottom: 4px solid lighten($warning-color, 30%);
                        top: -5px;
                        content: " ";
                    }
                    
                    & + .error{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
            
            .flight-prefix{
                background: $vapor;
                border-left: 1px solid $gainsboro;
                border-right: 1px solid $gainsboro;
                color: lighten($header-font-color, 20%);
                display: block;
                font-size: $font-size-small;
                line-height: 1.5rem;
                text-align: center;
            }
            
            input{
                margin-bottom: 0;
                border-radius: 0;
                border: none;
                background-color: lighten($vapor, 2%);
                padding: 0 0.25rem;
                height: 1.5rem;
                box-shadow: none;
                
                &::-webkit-input-placeholder{
                    color: $base;
                }
                
                &:-moz-placeholder {
                    color: $base;
                }
                
                &::-moz-placeholder {
                    color: $base;
                }
                
                :-ms-input-placeholder {  
                    color: $base;
                }
                
                &:focus,
                &:active{
                    background-color: $white;
                }
                
                &.ng-invalid{
                    &.ng-dirty{
                        box-shadow: 0 1px 1px -1px $warning-color;
                    }
                }
            }
            
            .input-wrapper{
                border-bottom: 1px solid $gainsboro;
                margin-right: 0.5rem;
                border-top: 1px solid transparent;
                border-right: 1px solid transparent;
                
                &.with-prefix{
                    border-top: 1px solid $gainsboro;
                    border-right: 1px solid $gainsboro;
                }
                
                .f-dropdown{
                    min-width: 210px; 
                    top: 22px !important;
                }
                
            }
            
            .remove-flight{
                line-height: 1rem;
                max-width: 1rem;
                margin: 0.25rem auto 0 auto;
                display: block;
                text-align: center;
                background-color: $info-color;
                border-radius: 1000px;
                font-size: $font-size-small;
                
                i{
                    color: $base;
                }
                
                &:hover{
                    background-color: $white;
                    
                    i{
                        color: $alert-color;
                    }
                }
            }
            
            .add-connection{
                display: block;
                padding: 0.5rem 0.75rem;
                font-size: $font-size-smaller;
            }
        }
        
    }
}

ul[id^="fare-dropdown"]{
    padding: 0.5rem; 
}

@media #{$small-only}{
    
    .calc-wrapper{
        form{
            .button-group{
                button,
                .button{
                    padding: 0.675rem 0.25rem 0.6375rem;
                }
            }
        }
    }
    
}

@media #{$medium-up}{
    
    .calc-wrapper{
        
        .inputs-wrapper{
            .content{ 
                padding: 0.75rem 0.75rem 0;
                margin-bottom: 1rem;
                border-left: 2px solid $input-border-color;
                border-right: 2px solid $input-border-color;
                border-bottom: 2px solid $input-border-color;
            }
        }
        
        form{
            
            .ffp{
                & + .f-dropdown{
                    max-width: none;
                }
            }
            
        }
        
        form{
            .leg-body{
                
                .add-connection{
                    padding-left: 54px;
                }
                
                .leg-legend,
                .leg-flight{
                    padding-left: 54px;
                }
                
                .leg-flight{
                    background-image: url(../img/plane-depart-icon.png);
                    background-position: 13px 0.7rem;
                    background-repeat: no-repeat;
                    
                    .error{
                        margin: 0.5rem -0.5rem -0.5rem -54px;
                        
                        &:after{
                            left: 10px;
                        }
                    }
                }
                
            }
        }
    }
    
}

.home{
    
    .calc-form{
        
        .calc-wrapper{
            background-color: $white;
            border-radius: 8px;
            border-top: 8px solid $primary-color;
            padding: 0.75rem 0.75rem 1rem 0.75rem;
            margin-bottom: rem_calc(56);
            
            accordion{
                &.compact{
                    
                    .accordion > dd{
                        &:last-child{
                            & > a:not(.active){
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                            
                            .content{
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                        }
                    }
                }
            }
            
            .sample-results-wrapper{
                
                .accordion{
                    & > dd{
                        
                        &:first-child{
                            & > a{
                                border-top-left-radius: 0;
                                border-top-right-radius: 0;
                            }
                        }
                        
                        &:last-child{
                            & > a:not(.active){
                                border-bottom-left-radius: $global-radius;
                                border-bottom-right-radius: $global-radius;
                            }
                            
                            .content{
                                border-bottom-left-radius: $global-radius;
                                border-bottom-right-radius: $global-radius;
                            }
                        }
                    }
                }
                
            }
        }
    
    }
}

@media #{$medium-up} { 
    
    .home{ 
    
        .calc-form{
            
            .calc-wrapper{
                padding: 0.75rem 1.5rem 1rem 1.5rem;
            }
        
        }
        
    }
    
    .calc-wrapper-col{
                
        @include transition(width 0.5s ease-out);
        
        &.full-width{
            width: 100%;
            margin: auto;
        }
    }
    
}

.home-benefits{
    background-color: $vapor;
    padding: rem_calc(72) 0 rem_calc(78) 0;
    
    .icon{
        font-size: 2rem;
        margin: 0 0 0.5rem 0;
        color: $iron; 
    }
    
    h3{
        margin-bottom: 3rem;
    }
    
    h5{
        color: $primary-color;
        margin-bottom: 1rem;
    }
}

.home-ff-info,
.home-be-ff-info{
    @include background-cover('../img/graph.jpg');
    
    h1,h2,h3,h4,h5,h6,p{
        color: $white;
    }
    
    h3{
        margin-bottom: 2rem;
    }
}

.home-ff-info{
    padding: rem_calc(40) 0 rem_calc(80) 0;
}

.home-be-ff-info{
    padding: rem_calc(60) 0 rem_calc(80) 0;
    
    hgroup{
        
        margin-bottom: 1rem;
        
        h1,h2,h3,h4,h5,h6{
            margin: 0;
        }
        
        .lead{
            font-weight: $font-weight-light;
        }
    }
    
    figure{
        margin: 1rem 0 0 0;
        
        img{
            width: 128px;
            height: 128px;
            border-radius: 1000px;
            border: 5px solid $white;
        } 
        
        figcaption{
            margin-top: 1rem;
            color: $white;
            
            h6{ 
                margin-bottom: 0;
            }
            
            .user-title{
                font-size: $font-size-smaller; 
            }
            
            .icon{
                color: $white;
                text-align: left;
                position: relative;
                opacity: 0.7;
                
                &.top{
                    top: 0.25rem;
                }
                
                &.bottom{
                    top: -0.5rem;
                }
            }
            
            blockquote{
                border: none;
                color: $white;
                font-weight: $font-weight-light;
                padding: 0;
                margin: 0;
                
                & + .icon{
                    color: $white;
                    text-align: right;
                }
            }
        }
    }
}

@media #{$small-only} {
    
    .home-ff-info,
    .home-be-ff-info{
        h2{
            font-size: $h3-font-size - $h3-font-reduction;
        }
        
        .lead{
            font-size: $base-font-size;
        }
    }
    
}

@media #{$medium-up} {
    .home-be-ff-info{
        figure{
            img{
                width: 168px;
                height: 168px;
            }
        }
    }
    
    .home-ff-info{
        padding: rem_calc(80) 0 rem_calc(160) 0;
    }
    
    .home-be-ff-info{
        padding: rem_calc(80) 0 rem_calc(80) 0;
    }
}



@media #{$large-up} {
    .home-be-ff-info{
        figure{
            margin: 1.5rem 1.5rem 0 1.5rem;
        }
    }
}

.home-be-tweet{
    background-color: $vapor;
    padding: rem-calc(48 0 36 0);
    
    .textarea{
        border-radius: $input-border-radius; 
        color: $input-font-color;
        background-color: $input-bg-color;
        border: $input-border-width solid $input-border-color;
        padding: 1rem 1.5rem; 
        margin: 1rem 0 $form-spacing 0;
    }
    
    #twitter-placeholder{
        display: inline;
    }
    
    .cursor{
        color: $black;
        font-size: 130%;
        font-weight: $font-weight-bold;
        line-height: 1.25;
        margin-left: 0.25rem;
        position: absolute;
    }
    
    .lead{
        font-weight: $font-weight-light;
        margin: 0;
    }
    
    .website-name{
        color: $primary-color;
        font-weight: $font-weight-bold;
    }
    
    .websites{
        margin-bottom: 1.5rem;
    
        .nowrap{
            display: inline-block;
            @media #{$small-only}{
                min-width: 6.5rem;   
            }
        }
        
    }
    
    label{
        @extend .subheader-style;
        font-size: $font-size-small;
        margin-bottom: 0;
    }
    
    input[type="radio"]{
        margin: 0;
        vertical-align: middle;
        
        & + label{
            margin: 0 0.75rem 0 0.33rem;
        }
    }
    
    button,
    .button{
        i{
            margin-right: 0.5rem;
            font-size: 120%;
            line-height: 1;
        }
    }
}

.home-airlines{
    background-color: $ghost;
}

.home-be-airlines{
    background-color: $vapor;
}

.home-airlines,
.home-be-airlines{
    padding: 3rem 0 2rem 0;
    
    h3{
        margin-bottom: 2rem;
    }
    
    h6{
        font-weight: $font-weight-light;
        text-shadow: 1px 1px 2px $gainsboro;
        
        &:first-line{
            font-weight: $font-weight-bold;
        }
    }
    
    ul{
       margin-bottom: 0; 
       opacity: 0.75;
    }
    
    .etc{
        a{
            color: $iron;
            
            &:hover{
                color: $primary-color;
            }
        }
    }
}

.home-be-features{
    background-color: $white;
    padding: rem-calc(48 0 32 0);
    
    h3{
        margin-bottom: rem-calc(24);
    }
}

@media #{$medium-up}{
    .home-be-features{
        
        .screen-1{
            .screen-wrapper{
                margin-left: rem-calc(-24);
            }
            
            .screen-text{
                margin-top:7.5rem;
            }
        }
        
        .screen-2{
            .screen-wrapper{
                margin: -5rem 0 0 2rem;
            }
            
            .screen-text{
                margin-top: 5rem;
            }
        }
        
        .screen-3{
            .screen-wrapper{
                margin: -9rem -1rem 0 0;
            }
            
            .screen-text{
                margin-top: 3rem; 
            }
        }
        
    }
}

footer{
    border-top: 5px solid $silver;
    padding: rem_calc(30) 0 rem_calc(80) 0;
    background-color: $white;
     
    .bottom{
        
        .copyright{
            font-size: $small-font-size;
            color: $iron;
        }
        
        p{
            margin-bottom: .5rem;
        }
    }
    
    a{
        color: $body-font-color;
    }
    
    .socials{
        text-align: right;
        margin-left: 0;
        list-style: none;
    
        li{
            display: inline;
            
            a{
                margin-right: 1rem;
                display: inline-block;
                max-width: rem_calc(32);
            }
        }
    }
    
    .side-nav{
        margin-bottom: rem_calc(30px);
        
        li{
            a:not(.button){
                color: $body-font-color;
                
                &:hover{
                    color: $body-font-color;
                }
            }
            
            &.secondary{
                a:not(.button){
                    color: $iron;
                }
            }
        }
    }
    
    &.light{
        .socials{
            opacity: 0.5;
        }
        
        a, p{
            color: lighten($body-font-color, 30%);
        }
        
        p{
            img{
                opacity: 0.7;
            }
        }
        
        .side-nav{
            li{
                a:not(.button){
                    color: lighten($body-font-color, 30%);
                    
                    &:hover{
                        color: lighten($body-font-color, 30%);
                    }
                }
                
                &.secondary{
                    a:not(.button){
                        color: lighten($iron, 5%);
                    }
                }
            }
        }
    }
}

.login-modal{
    .round-round{
        margin-left: 0.5rem;
    }
    
    .callout{
        .button,
        button{
            margin-bottom: 0;
        }
    }
    
    form{
        &.loading{
            position: relative;
            
            &::after{
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                content: " ";
                top: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.75) url(../img/loader48.gif) center center no-repeat;
            }
        }
    }
}
 
@media #{$small-only} {
    .login-modal{
        .actions{
            padding-top: 0.25rem;
        }
    }
}

.sign-up-wrapper{
    padding: 0 0 rem_calc(60) 0;
}

@media #{$medium-up} {
    .sign-up-wrapper{
        padding: rem_calc(60) 0 rem_calc(120) 0;
    }
}

@media #{$small-only}{
    .small-full-width{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.sign-up-form{
    
    .form{
        
        position: relative;
        
        h3{
            margin-bottom: 1rem;
        }
        
        .loader{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8) url(../img/loader48.gif) center center no-repeat;
        }
    }
}

ul.vendors{
    margin-bottom: 2rem;
    
    li{
        &:first-child{
            margin-left: 0;
        }
    }
    
    a{
        width: rem_calc(48);
        height: rem_calc(48);
        padding: rem_calc(8);
        border-radius: 1000px;
        border: 1px solid $iron;
        text-align: center;
    }
}

.edit-ffp-wrapper{
    
    h3{
        margin-bottom: 1rem;
    }
    
    .pre-selected-alert{
        position: relative;
        
        &:after{
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 10px solid $alert-info-bg;
            bottom: -9px;
            content: " ";
            height: 0;
            left: 11%;
            position: absolute;
            width: 0;
        }
    }
    
    .ffp-logos{
        margin-bottom: 1.5rem;
        
        h6{
            min-height: 3rem;
            line-height: 3rem;
            margin: 0 1rem;
            text-align: center;
            font-size: $font-size-smaller; 
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis;
        }
        
        a{
            display: block;
            border: 1px solid $gainsboro;
            
            &:hover{
                h6{
                    opacity: 0.8;
                }
            }
        }
        
        .selected,
        .pre-selected{
            a{
                position: relative;
                
                &:after{
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    content: " ";
                }
            }
        }
        
        .selected{
            a{
                &:after{
                    background: url(../img/white-tick.png) center center rgba($primary-color, 0.65) no-repeat;
                }
            }
        }
        
        .pre-selected{
            a{
                &:after{
                    background: rgba($primary-color, 0.2) no-repeat;
                }
            }
        }
    }
    
}

.dashboard-header{
    
    @include background-cover('../img/dash-header-alt.jpg');
    
    &.light{
        @include background-cover('../img/dash-header-alt2.jpg');
    }
    
    padding: rem_calc(32) 0 rem_calc(24) 0;
    color: $white;
    
    h1,h2,h3,h4,h5,h6,p{
        color: $white;
    }
    
    .etc{
        margin-bottom: 0;
        color: $iron;
    }
    
    hgroup{
        margin-top: 4rem;
    }
    
}

a:not(.button):not(.solid){
    i{
        color: $jumbo;
    }
    
    &:hover{
        i{
            color: $primary-color;
        }
    }
}

.section{
    border-top: 1px solid $gainsboro;
    margin-top: 2rem;
    background-color: $ghost;
    border-bottom: 1px solid $gainsboro;
    padding: 0 1rem 0.75rem;
    
    .section-title{
        text-align: center; 
        position: relative; 
        top: -0.85rem;
        font-size: $base-font-size; 
        
        & > span{
            display: inline-block;
            background-color: $white;
            padding: 0.25rem 0.75rem;
            border: 1px solid $gainsboro;
            border-radius: 1000px;
        }
    }
}

.status-progress{
    .meter{
        background-color: $success-color;
    }
}

.dashboard-ffps{
    padding: rem_calc(32) 0 rem_calc(48) 0;
    
    .bars{
        padding: 0 0 0.5rem;
    }
    
    .more{
        padding: 1.5rem 1rem 0 1rem;
        
        button,.button{
            margin-bottom: 0;
        }
    }
    
    .loader{
        min-height: 200px;
        background: url(../img/loader48.gif) center center no-repeat;
    }
    
    .ffp{
        @extend section;
        
        &.disconnected{
            background-color: $warning-color-light;
            border-color: lighten($warning-color, 40%);
            box-shadow: $shadow-below;
            
            .etc{
                color: lighten($warning-color, 10%);
                margin: 1rem 0;
            }
            
            .section-title{
                & > span{
                    border-color: lighten($warning-color, 40%);
                }
            }
        }
        
        .drop-menu-link{
            padding-left: 0.5rem;
            display: inline-block; 
        }
        
        .ffp-status{
            text-shadow: 1px 1px 0 $white;
        }
        
        h4{
            margin: 0;
        }
        
        h6{
            font-size: $font-size-small;
        }
        
        .etc{
            margin-bottom: 0.25rem;
        }
        
        .accordion{
            margin: 1rem 0;
        }
        
        table{
            border: none;
            box-shadow: 0 1px 7px -5px $jet;
            
            tr{
                td{
                    white-space: nowrap;
                }
            }
        }
        
        .last-update{
            margin-bottom: 0.75rem;
            
            a{
                margin-left: 0.5rem;
            }
        }
    }
}

@media #{$medium-up}{
    .dashboard-ffps{
        .ffp{
            border: 1px solid $gainsboro;
            border-radius: 5px;
        }
    }
}

.dashboard-last-calc{
    padding: rem_calc(32) 0 rem_calc(40) 0;
    background-color: $vapor;
    
    .loader{
        min-height: 200px;
        background: url(../img/loader48.gif) center center no-repeat;
    }
    
    h3{
        margin-bottom: 1rem;
    }
    
    h6{
        font-size: $font-size-smaller;
        margin-bottom: 0;
    }
    
    .calc-row + .calc-row{
        border-top: 1px solid $gainsboro;
    }
    
    .calc-row{
        padding: 0.5rem 0 0.25rem 0;
    }
}

.progress-wrapper{
    
    margin-bottom: 2rem;
    
    .max{
        position: absolute;
        right: 0.5rem;
        top: 0;
        height: 100%;
        line-height: 0.65rem;
        text-align: right;
        color: rgba(0,0,0,0.4);
        font-size: 0.5rem;
        z-index: 3;
    }
    
    .meter{
        position: relative;
        
        .meter-value{
            border-bottom: 1px solid $iron;
            border-right: 1px solid $iron;
            right: 0;
            width: 100%;
            
            .value{
                left: 0;
            }
        }
    }
    
    .meter-value{
        
        border-radius: 2px;
        height: 0.5rem;
        position: absolute;
        top: 0.75rem;
        border-bottom: 1px solid $iron;
        
        .value{
            background-color: $ghost;
            color: $base;
            font-size: 0.65rem;
            padding: 0.1rem 0.25rem;
            position: absolute;
            top: -0.1rem;
        }
    }
    
    .etc{
        margin-bottom: 0.25rem;
        font-size: $font-size-small;
        
        a{
            margin-left: 0.25rem;
            font-size: 0.7rem;
            
            &.warning{
                &:hover{
                    i{
                        color: $warning-color;
                    }
                }
            }
        }
    }
    
    .progress{
        position: relative;
        
        & > .meter-value{
            
            border-left: 1px solid $iron;
            right: 0;
            
            .value{
                right: 0;
            }
        }
        
        .meter-new{
            position: relative;
            z-index: 1;
        }
        
        .meter-old{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
    
    &.award-progress{
        .meter-old{
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    
    &.status-progress{
        .meter-old{
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.dashboard-calc,
.dashboard-ffps{
    
    .show-details{
        color: $jumbo;
    }
    
    accordion.compact{
        
        .accrual-details{
            width: 1rem;
            display: inline-block;
            
            &.warning{
                            
                &:hover{
                    i{
                        color: $warning-color;
                    }
                }
                
            }
        }
        
        dd{
        
            & > a{
                &:hover{
                    .accrual-details{
                        i{ 
                            color: $jumbo; 
                        } 
                        
                        &:hover{
                            i{
                                color: $primary-color;
                            }
                        }
                        
                        &.warning{
                            
                            i{
                                color: $jumbo;
                            }
                                        
                            &:hover{
                                i{
                                    color: $warning-color;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        
    }
}

.dashboard-calc{
    padding: rem_calc(32) 0 rem_calc(64);
    
    .calc-wrapper{
        
        .accordion{
            margin-top: 0.75rem;
            margin-bottom: 0.75rem; 
        }
        
        .result{
            padding: 0 1rem 0.75rem;
            border: 1px solid $gainsboro;
            border-radius: 5px;
            
            .section-title > span > span{
                background-color: $fare-color-0;
                
                &.fare-0{ background-color: $fare-color-0; }
                &.fare-1{ background-color: $fare-color-1; }
                &.fare-2{ background-color: $fare-color-2; }
                &.fare-3{ background-color: $fare-color-3; }
                &.fare-4{ background-color: $fare-color-4; }
                
            }
            
            .section-title{
                & > span{
                    width: 2rem;
                    height: 2rem;
                    line-height: 2rem;
                    padding: 0.4rem;
                    
                    span{
                        border-radius: 1000px;
                        color: $white;
                        display: block;
                        font-size: 0.7rem;
                        font-weight: bold;
                        height: 100%;
                        line-height: 1.8;
                        width: 100%;
                        background-color: $fare-color-0;
                    }
                }
            }
            
            h6{
                margin: 0 0 0.75rem 0;
            }
            
            .ffp-select{
                position: relative;
                
                select{
                    padding-right: 5.5rem;
                    margin-bottom: 0;
                }
                
                .label{
                    position: absolute;
                    top: 0.85rem;
                    right: 1.75rem;
                    display: block; 
                    text-transform: uppercase;
                    padding: 0.25rem 0.45rem 0.15rem;
                    color: $jumbo;
                    font-size: 0.6rem;
                }
            }
            
            .connect-ffp{
                background-color: $warning-color-light;
                border-top: 1px solid lighten($warning-color, 40%);
                border-bottom: 1px solid lighten($warning-color, 40%);
                margin: 0 -1rem 1rem -1rem;
                padding: 1.5rem 1rem;
                
                .etc{
                    color: lighten($warning-color, 10%);
                }
                
                .button, button{
                    margin-bottom: 0;
                }
                
                .progress{
                    background-color: $white;
                    margin-bottom: 1rem;
                    
                    .quest-icon{
                        background-color: $white;
                    }
                }
            }
            
        }
        
    }
}

@media #{$small-only}{
    
    .dashboard-calc{
        
        .calc-wrapper{
            
            form{
                padding-left: $column-gutter / 2;
                padding-right: $column-gutter / 2;
            }
            
            .results-head{
                padding-left: $column-gutter / 2;
                padding-right: $column-gutter / 2;
            }
        }
        
    }
}

.miles{
    color: $primary-color;
    
    &.status{
        color: $success-color;
    }
}

.dashboard-account{
    padding: rem_calc(30) 0 rem_calc(60) 0;
    
    h3{
        margin-bottom: 1.5rem;
    }
    
    aside{
        
        .logged{
            font-size: $font-size-small;
            margin-bottom: 0;
        }
        
        .side-nav{
            padding: 0;
            
            li{
                margin-bottom: 0.75rem;
                
                a{
                    color: $secondary-color;
                    
                    &:hover{
                        color: $secondary-color;
                    }
                }
                
                &.secondary{
                    a{
                        color: $base;
                        
                        &:hover{
                            color: $base;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media #{$small-only}{
    
    .dashboard-account{
        aside{
            
            hr{
                display: none;
            }
            
            .side-nav{
                border-top: 1px solid $gainsboro;
                border-bottom: 1px solid $gainsboro;
                background-color: $vapor;
                padding: 0.5rem ($column-gutter / 2);
                margin: 0 (-$column-gutter / 2) 1.5rem;
                
                li{
                    display: inline;
                    margin-right: 0.5rem;
                    
                    &:last-child{
                        margin-right: 0;
                    }
                    
                    a{
                        display: inline;
                        padding: 0;
                        background-color: none;
                    }
                }
            }
        }
    }
    
}

section.account-settings{
    
    padding: 2rem 0;
    
   .option{
       border-bottom: 1px solid $smoke;
       margin-bottom: 1.25rem;
       
       &:last-child{
           border-bottom: none;
       }
       
       &.loading{
           position: relative;
           
           &::after{
               position: absolute;
               display: block;
               content: " ";
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: rgba(255, 255, 255, 0.75) url(../img/loader48.gif) center center no-repeat;
           }
       }
   }
   
   .loader{
        min-height: 200px;
        background: url(../img/loader48.gif) center center no-repeat;
    }
   
   .pass{
       font-size: $font-size-small;
       margin-top: 0.35rem;
   }
   
   .value{
       color: $primary-color;
       margin-left: 1rem;
   }
   
   .pass-indicatior{
       span{
           display: inline-block;
           width: 3rem;
           height: 0.5rem;
           background-color: $smoke;
           margin-right: 0.25rem;
           
           &.active{
               background-color: $primary-color;
           }
           
       }
   }
   
   button{
       &.loading{
           background-image: url(../img/loader12.gif);
           background-repeat: no-repeat;
           background-position: left center;
       }
   }
   
   .pass-indicatior{
       margin-top: -1rem;
       margin-bottom: 1rem;
   }
}

#account-deleted-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: $primary-color;
    padding-top: 33vh; 
    text-align: center;
    top: 0;
    left: 0;
    
    h1,h2,h3,h4,h5,h6,p{
        color: $white;
    }
}

.booking-code-hint{
    
    background-color: $vapor;
    
    .inner{
        padding: 1.5rem;
        
        &.white{
            background-color: $white;
        }
    }
    
    .side-nav{
        padding: 0;
        
        li{
            a{
                color: $secondary-color;
                
                &:hover{
                    background-color: $white;
                    color: $secondary-color;
                }
            }
            
            &.active{
                a{
                    background-color: $white;
                    color: $secondary-color !important;
                }
            }
        }
    }
    
}

$top-bar-height-small-only: rem_calc(45);

@media #{$small-only} {
    
    .top-bar{
        height: $top-bar-height-small-only;
        line-height: $top-bar-height-small-only;
        
        .name{
            height: $top-bar-height-small-only;
            
            h1,h2,h3,h4,p,span{
                line-height: $top-bar-height-small-only;
            }
        }
        
        .title-area{
            h1{
                img{
                    max-height: 20px;
                }
            }
        }
    }
    
}

.multi-city-modal,
.save-ffp-modal,
.comparison-block{
    button,
    .button{
        margin-right: 1rem;
        margin-bottom: 0;
    }
    
    a{
        &.alt{
            color: $jumbo;
        }
    }
}

.chev{
    color: $iron;
    font-size: 60%;
    vertical-align: middle;
}

.airline-logo-mock{
    background-color: $header-font-color;
    border-bottom: none !important;
    border-radius: 2px;
    color: $white;
    display: inline-block;
    font-size: 0.5rem;
    height: 1.2rem;
    line-height: 1.2rem;
    margin-right: 0.25rem;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    width: 1.5rem;
}

.results-wrapper{
    .results-head{
        margin: 0 0 0.5rem 0;
    }
    
    .full-itinerary-label{
        text-transform: none;
        color: $jumbo;
        font-size: $font-size-small;
        
        &:hover{
            color: $primary-color;
        }
    }
    
    .result-leg{
        font-size: $font-size-small;
        
        .miles{
            margin-right: 1.1rem;
        }
        
        .result-leg-head{
            border-top: 1px solid $gainsboro;
            padding: 0.5rem 0;
        }
        
        &:first-of-type{
            .result-leg-head{
                border-top: none;
            }
        }
        
        .route{
            margin-left: 1.25rem;
            
            &.connection{
                margin-left: 1.75rem;
            }
        }
        
        .result-flight{
            padding: 0.5rem 0;
        }
        
        .result-leg-body{
            color: $jumbo;
            border-top: 1px solid $gainsboro;
        }
    }
    
    .sample-results-wrapper{
        position: relative;
        margin-bottom: 1.5rem;
        
        .sample-results-overlay{
            background-color: rgba(255, 255, 255, 0.5);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            
            & > *{
                top: unquote("calc(50% - 1.3rem)");
                position: relative;
            }
            
            .button, button{
                transform: rotateZ(-5deg);
                box-shadow: 1px 1px 7px -3px $jet;
                
                i{
                    color: $white;
                    font-size: 1rem;
                }
            }
        }
    }
    
    .progress{
        position: relative;
        
        .quest-icon{
            background-color: $gainsboro;
            border-radius: 1000px;
            color: $base;
            display: block;
            font-size: 1.2rem;
            height: 1.75rem;
            left: unquote("calc(50% - 1rem)");
            line-height: 1.75rem;
            position: absolute;
            text-align: center;
            top: -0.7rem;
            width: 1.75rem;
        }
    }
}

accordion{
    
    &:not(.compact){
        dl{
            box-shadow: 0 0 4px -3px $jet;
            border-radius: $global-radius; 
            overflow: hidden;
            
            a{
                &.active{
                    box-shadow: 0 1px 4px -3px $jet;
                }
            }
            
            .content{
                border-bottom: 1px solid $gainsboro;
            }
        }
    }
    
    &.compact{
        
        .accordion-indicator{
            display: inline-block;
            margin-right: 0.25rem;
            min-width: 0.75rem;
        }
        
        dd{
            
            &:first-child{
                & > a{
                    border-top-left-radius: $global-radius;
                    border-top-right-radius: $global-radius;
                }
            }
            
            &:last-child{
                & > a:not(.active){
                    border-bottom-left-radius: $global-radius;
                    border-bottom-right-radius: $global-radius;
                }
                
                .content{
                    border-bottom-left-radius: $global-radius;
                    border-bottom-right-radius: $global-radius;
                }
            }
            
            & > a{
                border: 1px solid $gainsboro;
                font-size: $font-size-small;
                padding: rem_calc(8) rem-calc(12);
                
                &.active{
                    background-color: $success-color;
                    color: $white;
                    border-color: darken($success-color, 4%);
                    box-shadow: $shadow-below;
                    position: relative;
                    
                    .miles{
                        color: lighten($warning-color, 35%);
                    }
                    
                    i{
                        color: lighten($primary-color, 10%);
                    }
                    
                    &:hover{
                        .accordion-indicator{
                            i{
                                color: $white;
                            }
                        }
                        
                        .accrual-details{
                            i{
                                color: lighten($primary-color, 10%);
                            }
                            
                            &:hover{
                                i{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
            
            & + dd:not(.active){
                & > a{
                    border-top: none;
                }
            }
        }
        
        .content{
            border-bottom: 1px solid $gainsboro;   
            border-left: 1px solid $gainsboro;   
            border-right: 1px solid $gainsboro;
            background-color: $white;
            box-shadow: $shadow-bottom;
        }
    }
}

.mock-accordion{
    margin: 1rem 0;
    
    .mock-accordion-head{
        border-left: 1px solid $gainsboro;   
        border-right: 1px solid $gainsboro;
        border-bottom: 1px solid $gainsboro;
        background-color: $white;
        font-size: $font-size-small;
        padding: 0.5rem 0.75rem;
        
        &:first-child{
            border-top: 1px solid $gainsboro;
            border-top-left-radius: $global-radius;
            border-top-right-radius: $global-radius;
        }
        
        &:last-child{
            border-bottom-left-radius: $global-radius;
            border-bottom-right-radius: $global-radius;
        }
        
        .accrual-details{
            margin-left: 0.25rem;
            
            &.warning{
                            
                &:hover{
                    i{
                        color: $warning-color;
                    }
                }
                
            }
        }
    }
    
}

.full-itinerary-modal{
    
    h4{
        margin-bottom: 1rem;
    }
    
    .leg-header{
        color: $jumbo;
        
        hr{
            margin-top: 0.5rem;
        }
    }
    
    .leg{
        margin-bottom: 1.5rem; 
        
        img{
            max-width: 18px;
            margin-right: 0.75rem;
        }
    }
    
    .bold{
        font-weight: $font-weight-bold;
    }
}

@media #{$small-only}{
    
    .full-itinerary-modal{
        
        .leg{
            border-bottom: 1px dashed $iron;
            
            .flight{
                margin-bottom: 1rem;
            }
            
            &:last-child{
                border-bottom: none;
            }
        }
    } 

}

.ffp-status-edit-modal{
    .loader{
        min-height: 80px;
        background: url(../img/loader48.gif) center center no-repeat;
    }
    
    .button-group{
        .button,
        button{
            white-space: nowrap;
        }
    }
}

.ffp-edit-modal{
    .tabs-content{
        margin-bottom: 0;
    }
    
    .accrual-items{
        & > li{
            padding-bottom: 0;
        }
    }
    
    form{
        margin-bottom: 0;
    }
    
    button,.button{
        margin-bottom: 0;
    }
    
    .ffp-user-form{
        &.loading{
            min-height: 200px;
            background: url(../img/loader48.gif) center center no-repeat;
        }
    }
    
    .loader{
        min-height: 200px;
        background: url(../img/loader48.gif) center center no-repeat;
    }
    
    .results{
        padding: 1rem 0;
        border-top: 1px solid $gainsboro;
    }
}

@media #{$small-only} {
    .ffp-edit-modal{
        .panel{
            padding: 1rem 0.5rem;
        }
    }
}

.award-miles-tooltip,
.status-miles-tooltip,
.accrual-details-modal{
    
    .award-p{
        margin-bottom: 0;
    }
    
    .section{
        border: 1px solid $gainsboro;
        margin-bottom: 1.5rem;
        padding-left: 0;
        padding-right: 0;
        
        p{
            &.award-p{
                margin: 1rem 0 0 0;
            }
            
            &.etc{
                margin: 0;
            }
        }
    }
    
    .miles-block{
        margin: -0.75rem 0 0 0;
        
        p{
            margin-bottom: 0;
        }
    }
    
}

.delete-items-modal{ 
    .button,button{
        margin-bottom: 0;
    }
}

.forgot-pass-modal{
    form{
        &.loading{
            position: relative;
            min-height: 80px;
            
            &:after{
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%; 
                height: 100%;
                background: rgba(255,255,255, 0.5) url(../img/loader48.gif) center center no-repeat;
            }
        }
    }
}

#contact-form{
    padding: rem_calc(80) 0 rem_calc(160) 0;
    
    form{
        margin-top: rem_calc(32);
        
        &.loading{
            position: relative;
            
            &:after{
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%; 
                height: 100%;
                background: rgba(255,255,255, 0.5) url(../img/loader48.gif) center center no-repeat;
            }
        }
        
        textarea{
            min-height: 8rem;
        }
    }
}

body{
    &.silver{
        background: rgba(0, 0, 0, 0) url("../img/default-bg.png") repeat-x scroll 0 0 / auto 100%;
    } 
}

.left-col{
    padding: rem_calc(48) 0 rem_calc(120) 0;
    
    .side-nav{
        padding-top: 0;
        
        li{
            border-bottom: 1px solid $gainsboro;
            margin-bottom: 0.75rem;
            padding-bottom: 0.75rem;
            
            a{
                &:not(.button){
                    color: $body-font-color;
                    background-color: transparent; 
                    
                    &:hover{
                        color: $body-font-color; 
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
        
        li{
            &.active{
                a{
                    &:not(.button){
                        color: $body-font-color; 
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
    }
}

.text{
    p{
        font-weight: $font-weight-light;
        
        &.lead{
            margin-bottom: 3rem;
        }
    }
    
    h1,h2,h3,h4,h5,h6{
        margin-bottom: 1rem;
        margin-top: 3rem;
    }
}

#faq{
    accordion{
        dl{
            margin: 2rem 0;
        }
         
        p{
            font-size: $font-size-smaller;
        }
        
        figure{
            padding: 0;
            margin: 0 0 1.25rem 0;
            
            figcaption{
                margin-top: 0.5rem;
                font-size: 0.875rem;
                font-weight: bold;
            }
        }
    }
}

.conditions{
    
    h6{
        color: $jumbo;
        font-size: $font-size-smaller;
        margin-bottom: 0.25rem;
    }
    
    ul{
        font-size: $font-size-small;
        color: $base;
    }
}

section.password-recovery{
    padding: 2rem 0 5rem 0;
    
    form{
        &.loading{
            position: relative;
            
            &:after{
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%; 
                height: 100%;
                background: rgba(255,255,255, 0.5) url(../img/loader48.gif) center center no-repeat;
            }
        }
    }
}

body.account-confirmation{
    background: url(../img/default-bg.png) top left repeat-x;
}

section.account-confirmation{
    
    padding: 2rem 0 5rem 0;
    overflow: hidden;
    
    .timer{
        font-size: $h1-font-size * 2.5;
        margin-bottom: 0;
        line-height: 1;
    } 
    
    .plane{
        @include transition(left 1s ease-out);
        
        transform: rotateZ(45deg);
        position: fixed;
        top: 7.5%;
        left: -700px;
        font-size: 600px;
        color: rgba(0,0,0,0.25);
        line-height: 1;
        text-shadow: 50px 50px 10px rgba(0, 0, 0, 0.05);
        
        &.flown{
            left: 100%;
        }
    }
}

.confirm-reminder{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 6px -4px $warning-color;
    border-top: 1px solid lighten($alert-warning-color, 15%);
    
    .alert-box{
        margin: 0;
    } 
} 

.chrome-alert{
    h5{
        position: relative;
        padding-left: 2.75rem;
        
        i{
            position: absolute;
            font-size: 150%;
            line-height: 0.5;
            display: block;
            left: 0;
            top: 0.2rem;
        }
    }
    
    p{
        a{
            white-space: nowrap;
        }
    }
    
    .close-reveal-modal{
        color: $white;
        font-size: 1.5rem;
    }
}

.carousel{
    
    position: relative;
    font-size: 2rem;
    
    & + div{
        font-size: 2rem;
    }
    
    @media #{$small-only} {
        height: 3.6rem;
        font-size: 1.375rem;
        
        & + div{
            font-size: 1.375rem;
        }
    }
    
    .carousel-slide{
        @include fade(out, 1, 0, 500ms, easeOut, 0ms);
        @include fade(in, 0, 1, 500ms, easeIn, 750ms);
        position: absolute;
        width: 100%;
    }
}

.home-be-media{
    
    background-color: #425259;
    padding: 1.2rem 0 1.1rem 0;
    
    h5{
        color: #c4cdd0;
        display: inline;
        margin-right: 0.75rem;
    }
    
    .media-logos{
        display: inline;
        
        li{
            display: inline;
            margin-right: 1.5rem;
            
            img{
                display: inline-block;
                vertical-align: bottom;
            }
            
            &:last-child{
                margin-right: 0;
            }
        }
    }
    
}

.home-be-ff-info{
    position: relative;
    
    @media #{$small-only} {
        padding-top: 8rem;
    }
    
    .bottom-quote{
        border: none;
        color: $white;
        
        img{
            max-width: 100px;
        }
    }
    
    .rated{
        width: 150px;
        height: 150px;
        position: absolute;
        top: -75px;
        left: calc(50% + 395px);
        background-color: #ffff80;
        border-radius: 1000px;
        text-align: center;
        padding: 1rem;
        
        @media #{$small-only} {
            left: calc(50% - 75px);
            top: -35px;
        }
        
        h5{
            color: #4b6770;
            margin: 0 0 0.25rem 0;
        }
        
        p{
            font-size: 0.65rem;
            margin: 0;
            color: #b6b66e;
            line-height: 1;
        }
        
        .chrome-icon{
            margin: 0.25rem 0 0 0;
            font-size: 2rem;
            color: #4b6770;
            line-height: 1.2;
        }
        
        .rate{
            color: #b6b66e;
        }
    }
}

.home-be-banner.artur{
    hgroup{
        
        margin-bottom: 2.5rem;
        
        h2, h3{
            margin: 0;
            line-height: 1.2;
        }
    }
    
    .cta{
        margin-bottom: 2rem;
        margin-top: 0;
    }
    
    .website-logos{
        margin: 0 0 0.25rem 0;
        opacity: 0.7;
        
        img{
            max-height: 40px;
            width: auto;
        }
    }
}

.home-be-media.big{
    background-color: #f0f2d7;
    color: #9ca894;
    
    .media-logos{
        display: block;
        
        li{
            margin-right: 1.25rem;
            
            img{
                max-height: 90px;
                width: auto;
            }
        }
    }
    
    h4{
        color: #9ca894;
        margin: 0;
    }
    
    h5,h6{
        display: block;
        color: #9ca894;
    }
    
    blockquote{
        border: none;
        margin: 0;
        padding: 0;
    }
}

.grayreviews{
    ul{
        img{
            border-radius: 3px;
            box-shadow: 0px 1px 5px -3px #333;
        }
    }
}