<!-- Cached particles -->

<script type="text/ng-template" id="ffp-cms/range-modal.html">

    <form name="rangeForm" novalidate ng-submit="submit(rangeForm)" class="range-modal">
        
        <div class="row">
            <div class="columns large-12">
                <h3>Edit rule</h3>
                <div class="alert-box radius alert" ng-if="!isValid()"><i class="fi-alert"></i> You can fill either range <strong>or</strong> GRIL.</div>
            </div>
        </div>
        <div class="row">
            <div class="columns large-1"><label class="range-label">Range:</label></div>
            <div class="columns large-2">
                <label for="range-from">From</label>
                <input type="number" ng-model="rule.rangeFrom" name="ruleRangeFrom" id="range-form" />
                <kk-error field="rangeForm.ruleRangeFrom">Invalid number</kk-error>
            </div>
            <div class="columns large-2 end">
                <label for="range-to">To</label>
                <input type="number" ng-model="rule.rangeTo" name="ruleRangeTo" id="range-to" />
                <kk-error field="rangeForm.ruleRangeTo">Invalid number</kk-error>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <label>or</label>
            </div>
        </div>
        <div class="row">
            <div class="columns large-1"><label class="gril-label">GRIL:</label></div>
            <div class="columns large-11">
                <kk-tag-input collection="rule.gril" uppercase="true" wrap="true" validation-url="ffp/validate-gril.json"></kk-tag-input>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <hr />
                <button type="submit" class="small" ng-class="{ secondary: !isValid(), success: isValid() }"><i class="fi-check"></i> Save</button>
                <button type="button" class="small secondary" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        
    </form>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
    
</script>

<script type="text/ng-template" id="components/service/delete-items-modal.html">
    <h3 ng-if="items.length <= 1">Delete {{ type }}?</h3>
    <h3 ng-if="items.length > 1">Delete {{ items.length }} items?</h3>
    <p ng-if="items.length <= 1">Are you sure you want to delete <strong ng-if="items[0].name">{{ items[0].name }}</strong> {{type}}? This action can not be reversed.</p>
    <p ng-if="items.length > 1">Are you sure you want to delete <strong>{{ items.length }} items</strong>? This action can not be reversed.</p>
    <button ng-click="confirm()" class="small alert">Delete</button> <button class="small secondary" ng-click="cancel()">Cancel</button>
    
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<script type="text/ng-template" id="components/tag-input/tag-input.html">

    <div ng-form="tagInput" ng-submit="submit(tagInput)" novalidate class="tag-input-form">
        
        <span class="tag-input-items" ng-class="{ uppercase: uppercase }"><span class="label secondary radius" ng-repeat=" item in collection ">{{ item }} <a ng-click="remove(item)" title="Delete"><i class="fi-x"></i></a></span></span>
        
        <input class="tag-input" ng-class="{ uppercase: uppercase, loading: loading }" ng-disabled="loading" ng-attr-type="{{inputType}}" ng-model="value" name="tag" ng-attr-placeholder="{{placeholder}}" ng-pattern="pattern" ng-attr-maxlength="{{maxlength}}" ng-keypress="onKeyPress($event)" />
        <div class="tag-input-errors">
            <kk-error field="tagInput.tag" type="required">You need to add at least one item</kk-error>
            <kk-error field="tagInput.tag" type="pattern">Input is not valid</kk-error>
            <kk-error field="tagInput.tag" type="unique">Value has been already added</kk-error>
            <kk-error field="tagInput.tag" type="server">{{serverError}}</kk-error>
        </div>
        
    </div>
    
</script>

<!-- END of cached particles -->

<section id="ffp-redemption-edit">
    
    <div class="row">
        <div class="columns large-12">
            <hgroup ng-if="!isNew">
                <h1>Redemption rule</h1>
                <h4 class="subheader">#{{ item.code }}</h4>
            </hgroup>
            <h1 ng-if="isNew">New redemption rule</h1>
        
            <ul class="breadcrumbs">
                <li kk-nav route="main">
                    <a>Home</a>
                </li>
                <li kk-nav route="main">
                    <a>FFP CMS</a>
                </li>
                <li kk-nav route="ffps">
                    <a>FFPs</a>
                </li>
                <li kk-nav route="editFfp" ng-attr-param-id="{{ffp.id}}">
                    <a>{{ffp.name}}</a>
                </li>
                <li kk-nav route="redemptions" ng-attr-param-ffpid="{{ffp.id}}">
                    <a>Redemption rules</a>
                </li>
                <li ng-if="!isNew" class="current" kk-nav route="editRedemption" ng-attr-param-ffpid="{{ ffp.id }}" ng-attr-param-id="{{ item.id }}">
                    <a>{{ item.code }}</a>
                </li>
                <li ng-if="isNew" class="current" kk-nav route="newRedemption" ng-attr-param-ffpid="{{ ffp.id }}">
                    <a>New</a>
                </li>
            </ul>
            
            <pager ng-if="paged" total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
            
            <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
                
                <div class="row">
                    <div class="columns large-3">
                        
                        <label>Type</label>
                        <ul class="button-group radius" ng-class="getButtonGroupClass(config.redemptionTypes)">
                            <li ng-repeat="type in config.redemptionTypes">
                                <button type="button" class="tiny" ng-class="{ secondary: type.code != item.type }" ng-model="item.type" btn-radio="type.code">{{ type.name }}</button>
                            </li>
                        </ul>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="columns large-12">
                        
                        <fieldset class="basic">
                            <legend>Basic</legend>
                            
                            <div class="row">
                                <div class="columns large-5">
                                    
                                    <label>Carriers</label>
                                    <ul class="button-group radius" ng-class="getButtonGroupClass(config.redemptionCarriers)">
                                        <li ng-repeat="carrier in config.redemptionCarriers">
                                            <button type="button" class="tiny" ng-class="{ secondary: item.carriers.indexOf(carrier.code) < 0 }" ng-click="toggleCarrier(carrier)">{{ carrier.name }}</button>
                                        </li>
                                    </ul>
                                    
                                </div>
                                <div class="columns large-7">
                                    <div ng-if="item.carriers.indexOf('spec') >= 0">
                                        
                                        <label>Specific carriers</label>
                                        <kk-tag-input pattern="airlineCodePattern" required="true" maxlength="2" collection="item.specificCarrierCodes" uppercase="true"></kk-tag-input>
                                        
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset ng-if="item.type == 'award' " class="award">
                            <legend>Award</legend>
                            
                            <div class="row">
                                <div class="columns large-3">
                                    
                                    <label for="item-bca">Class alias</label>
                                    <input type="text" required name="itemBca" id="item-bca" ng-model="item.bookingClassAlias" />
                                    <kk-error field="itemForm.itemBca">Alias is required</kk-error>
                                    
                                </div> 
                                <div class="columns large-9">
                                    
                                    <label>Class</label>
                                    <ul class="button-group radius" ng-if="config.bookingClasses">
                                        <li ng-repeat="cls in config.bookingClasses">
                                            <button type="button" class="tiny" ng-class="{ secondary: cls.id != item.bookingClass }" ng-model="item.bookingClass" btn-radio="cls.id">{{ cls.name }}</button>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ng-if="item.type == 'upgrade' " class="upgrade">
                            <legend>Upgrade</legend>
                            
                            <div class="row">
                                <div class="columns large-2">
                                    <label for="item-ut">Upgrade type</label>
                                    <input type="text" required name="itemUt" id="item-ut" ng-model="item.upgradeType" />
                                    <kk-error field="itemForm.itemUt">Type is required</kk-error>
                                </div>
                                <div class="columns large-2 large-offset-1">
                                    <label for="item-from-cabin">From cabin</label>
                                    <select id="item-from-cabin" ng-required="!item.fromCabin &amp;&amp; !item.editableFromRbds" name="itemFromCabin" ng-model="item.fromCabin" ng-options="cab.id as cab.name for cab in config.redemptionCabins">
                                        <option value="">Select</option>
                                    </select>
                                    <kk-error field="itemForm.itemFromCabin">Fill cabin or RDBs</kk-error>
                                </div>
                                <div class="columns large-2">
                                    <label for="item-from-rdbs">From RDBs</label>
                                    <input type="text" ng-required="!item.fromCabin &amp;&amp; !item.editableFromRbds" name="itemFromRdbs" id="item-from-rdbs" ng-model="item.editableFromRdbs" ng-pattern="/^[a-zA-Z]+$/" class="uppercase" />
                                    <kk-error field="itemForm.itemFromRdbs" type="required">Fill cabin or RDBs</kk-error>
                                    <kk-error field="itemForm.itemFromRdbs" type="pattern">Only letters</kk-error>
                                </div>
                                <div class="columns large-1 text-center">
                                    <i class="fi-arrow-right"></i>
                                </div>
                                <div class="columns large-2">
                                    <label for="item-to-cabin">To cabin</label>
                                    <select id="item-to-cabin" ng-required="!item.toCabin &amp;&amp; !item.editableToRbds" name="itemToCabin" ng-model="item.toCabin" ng-options="cab.id as cab.name for cab in config.redemptionCabins">
                                        <option value="">Select</option>
                                    </select>
                                    <kk-error field="itemForm.itemToCabin">Fill cabin or RDBs</kk-error>
                                </div>
                                <div class="columns large-2">
                                    <label for="item-to-rdbs">To RDBs</label>
                                    <input type="text" ng-required="!item.toCabin &amp;&amp; !item.editableToRbds" name="itemToRdbs" id="item-to-rdbs" ng-model="item.editableToRdbs" ng-pattern="/^[a-zA-Z]+$/" class="uppercase" />
                                    <kk-error field="itemForm.itemToRdbs" type="required">Fill cabin or RDBs</kk-error>
                                    <kk-error field="itemForm.itemToRdbs" type="pattern">Only letters</kk-error>
                                </div>
                            </div>
                            
                        </fieldset>
                        
                        <fieldset class="rules">
                            <legend>Rules</legend>
                            
                            <div ng-if="item.rules.length > 0">
                                <div class="row">
                                    <div class="columns large-4">
                                        <div class="row">
                                            <div class="columns small-5 small-offset-2">
                                                <label for="rule-ow-0">One way</label>
                                            </div>
                                            <div class="columns small-5">
                                                <label for="rule-ret-0">Return</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns large-8">
                                        <label>Range or GRIL</label>
                                    </div>
                                </div>
                                
                                <div class="row" ng-repeat="rule in item.rules" ng-form="ruleForm">
                                    <div class="columns large-4">
                                        <div class="row">
                                            <div class="columns small-2">
                                                <button type="button" ng-click="removeRule($index)" class="tiny expand secondary" title="Delete" ng-if="item.rules.length > 1"><i class="fi-x"></i></button>
                                                <span ng-if="item.rules.length <= 1">&nbsp;</span>
                                            </div>
                                            <div class="columns small-5">
                                                <input type="number" ng-model="rule.oneWay" required name="ruleOneWay" ng-attr-id="rule-ow-{{$index}}" />
                                                <kk-error field="ruleForm.ruleOneWay" type="number">Number invalid</kk-error>
                                                <kk-error field="ruleForm.ruleOneWay" type="required">Required</kk-error>
                                            </div>
                                            <div class="columns small-5">
                                                <input type="number" ng-model="rule.ret" required name="ruleRet" ng-attr-id="rule-ret-{{$index}}" />
                                                <kk-error field="ruleForm.ruleRet" type="number">Number invalid</kk-error>
                                                <kk-error field="ruleForm.ruleRet" type="required">Required</kk-error>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="columns large-8">
                                        <a ng-click="editRuleRange(rule)" title="Edit ranges or GRIL">
                                            <label class="inline" ng-if="(!rule.gril || rule.gril.length <= 0) &amp;&amp; rule.rangeFrom &amp;&amp; rule.rangeTo">{{rule.rangeFrom | number : 0}} &ndash; {{rule.rangeTo | number : 0}}</label>
                                            <label class="inline" ng-if="rule.gril &amp;&amp; rule.gril.length > 0">
                                                <span ng-repeat="gril in rule.gril">{{ gril | trim : 10 : '&hellip;' }} </span>
                                            </label>
                                            <label class="inline" ng-if="(!rule.gril || rule.gril.length <= 0) &amp;&amp; (!rule.rangeFrom || !rule.rangeTo)">Edit</label>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="item.rules.length <= 0">
                                <p>There are no rules yet. Add first one.</p>
                            </div>
                            
                            <div class="row">
                                <div class="columns large-4">
                                    <div class="row">
                                        <div class="columns small-offset-2 small-5">
                                            <button type="button" class="tiny expand secondary" ng-click="addRule()"><i class="fi-plus"></i> Add rule</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </fieldset>
                        
                        <fieldset>
                            <legend>Legend</legend>
                            <textarea ng-model="item.legend" id="item-legend"></textarea>
                        </fieldset>
                        
                        <fieldset>
                            <legend>Comment</legend>
                            <textarea placeholder="Your comment for internal use" ng-model="item.comment" id="item-comment"></textarea>
                        </fieldset>
                        
                    </div>
                </div>
            
                <div class="row">
                    <div class="columns large-12">
                        <button type="submit" ng-class=" { success: itemForm.$valid, secondary: !itemForm.$valid } "><i class="fi-check"></i> Save</button>
                        <a kk-nav route="redemptions" ng-attr-param-ffpid="{{ffp.id}}" class="secondary button">Cancel</a>
                        <button ng-show="!isNew" type="button" class="alert right" ng-click="deleteRedemption(item)">Delete</button>
                    </div>
                </div>
                
            </form>
            
            <div class="row" ng-if="paged">
                <div class="columns large-12">
                    <div class="pagination-center">
                        <pager total-items="paged.totalItems" boundary-links="true" page="paged.page" items-per-page="paged.itemsPerPage" on-select-page="onSelectPage(page)"></pager>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
</section>